

@ダンジョン初期処理_沿岸部の森
;マップ情報
;X軸
ダンジョン現在位置:0 = 7
;Y軸
ダンジョン現在位置:1 = 27
現在階層変数 = 0
CALL ダンジョンマップセット_沿岸部の森_0



@ダンジョンマップセット_沿岸部の森_0
DUNGEON_MAP_外部 = 壁_森
;X軸
ダンジョン最大広さ:0 = 43
;Y軸
ダンジョン最大広さ:1 = 29

LOCAL = 0
DUNGEON_MAP:(LOCAL++) = 0000100000000000000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 0011111000000000000000111100000000000000000
DUNGEON_MAP:(LOCAL++) = 0111111100001110000001111120000000000000000
DUNGEON_MAP:(LOCAL++) = 0111111100001110000011111211000000000011100
DUNGEON_MAP:(LOCAL++) = 0011111000000110000111112111000000000011110
DUNGEON_MAP:(LOCAL++) = 0001110000000011112111121111000001110111110
DUNGEON_MAP:(LOCAL++) = 0002200000000001111001211111000001111111110
DUNGEON_MAP:(LOCAL++) = 0001110000000011110000001110000001200111000
DUNGEON_MAP:(LOCAL++) = 0000110000000111100000000111000000110000000
DUNGEON_MAP:(LOCAL++) = 0000111100001110000000000022111100110000000
DUNGEON_MAP:(LOCAL++) = 0000011110011100000110000011112111110000000
DUNGEON_MAP:(LOCAL++) = 0000000111111001111110000111000111100000000
DUNGEON_MAP:(LOCAL++) = 0000000011220001110110001110000001100000000
DUNGEON_MAP:(LOCAL++) = 0011000000110001100010011110000011100000000
DUNGEON_MAP:(LOCAL++) = 0111100000110000000011111100000011000000000
DUNGEON_MAP:(LOCAL++) = 0111100001110000000011110000001121000000000
DUNGEON_MAP:(LOCAL++) = 0111111111100011101110111000001110000000000
DUNGEON_MAP:(LOCAL++) = 0111111111000111112100011100000111000000000
DUNGEON_MAP:(LOCAL++) = 0011001100000110111000011111001111000000000
DUNGEON_MAP:(LOCAL++) = 0000000000001100000000000111011110000000000
DUNGEON_MAP:(LOCAL++) = 0000000001111100000000000022011110000000000
DUNGEON_MAP:(LOCAL++) = 0000000011111000000000001111011110000000000
DUNGEON_MAP:(LOCAL++) = 0000000011100000110000111110011100000000000
DUNGEON_MAP:(LOCAL++) = 0000000011000001111000111000000000000000000
DUNGEON_MAP:(LOCAL++) = 0000000111000001111111100000000000000000000
DUNGEON_MAP:(LOCAL++) = 0000000110000001111111000000000000000000000
DUNGEON_MAP:(LOCAL++) = 0000000110000001111100000000000000000000000
DUNGEON_MAP:(LOCAL++) = 0000000110000000111000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 0000000110000000000000000000000000000000000

LOCAL = 0
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木原木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木原原原原原木木木木木木木木木木木木木木木原原原原木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原原原原木木木木原原原木木木木木木原原原原原原木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原原原原木木木木原原原木木木木木原原原原原原原原木木木木木木木木木木原原原木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木原原原原原木木木木木木原原木木木木原原原原原原原原原木木木木木木木木木木原原原原木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木原原原木木木木木木木木原原原原原原原原原原原原原原木木木木木原原原木原原原原原木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木原原木木木木木木木木木木原原原原木木原原原原原原原木木木木木原原原原原原原原原木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木原原原木木木木木木木木原原原原木木木木木木原原原木木木木木木原原木木原原原木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木原原木木木木木木木原原原原木木木木木木木木原原原木木木木木木原原木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木原原原原木木木木原原原木木木木木木木木木木木原原原原原原木木原原木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木原原原原木木原原原木木木木木原原木木木木木原原原原原原原原原原木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原原原原原木木原原原原原原木木木木原原原木木木原原原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原原木木木原原原木原原木木木原原原木木木木木木原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木原原木木木木木木原原木木木原原木木木原木木原原原原木木木木木原原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原木木木木木原原木木木木木木木木原原原原原原木木木木木木原原木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原木木木木原原原木木木木木木木木原原原原木木木木木木原原原原木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原原原原原原原木木木原原原木原原原木原原原木木木木木原原原木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木原原原原原原原原原木木木原原原原原原原木木木原原原木木木木木原原原木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木原原木木原原木木木木木原原木原原原木木木木原原原原原木木原原原原木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木木木木木原原木木木木木木木木木木木原原原木原原原原木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木木原原原原原木木木木木木木木木木木木原原木原原原原木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原原原木木木木木木木木木木木原原原原木原原原原木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原木木木木木原原木木木木原原原原原木木原原原木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原木木木木木原原原原木木木原原原木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原原木木木木木原原原原原原原原木木木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原木木木木木木原原原原原原原木木木木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原木木木木木木原原原原原木木木木木木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原木木木木木木木原原原木木木木木木木木木木木木木木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木原原木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木

;イベントセット
FOR LOCAL, 0, 50
	TRYCALLFORM ダンジョンイベント位置_沿岸部の森_0_{LOCAL}
NEXT


@ダンジョンイベント位置_沿岸部の森_0_0
ダンジョンイベント:0:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:0:X軸位置 = 7
ダンジョンイベント:0:Y軸位置 = 28

@ダンジョンイベント_沿岸部の森_0_0
CALL 口上変数初期化
KSTR:(K++) = ダンジョンから脱出します。よろしいですか？
KSTR:(K++) = <button value='0'>[0]はい</button>
KSTR:(K++) = <button value='1'>[1]いいえ</button>
CALL メッセージ欄表示用関数(,,,0)
$INPUT_LOOP
INPUT
SELECTCASE RESULT
	CASE 0
		ダンジョン終了フラグ = 1
	CASE 1
	CASEELSE
		REUSELASTLINE 
		GOTO INPUT_LOOP
ENDSELECT

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)


@ダンジョンイベント位置_沿岸部の森_0_1
ダンジョンイベント:1:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:1:X軸位置 = 8
ダンジョンイベント:1:Y軸位置 = 28

@ダンジョンイベント_沿岸部の森_0_1
CALL ダンジョンイベント_沿岸部の森_0_0
RETURN RESULT

@ダンジョンイベント位置_沿岸部の森_0_2
SIF ダンジョン変数_沿岸部の森:0:2
	RETURN 0
ダンジョンイベント:2:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン")
ダンジョンイベント:2:X軸位置 = 7
ダンジョンイベント:2:Y軸位置 = 27

@ダンジョンイベント_沿岸部の森_0_2
CALL 口上変数初期化
WSTR:(K++) = %CALLNAME:PLAYER%は初めてダンジョンへと足を踏み入れた。
KSTR:(K++) = 星晶獣eraが言っていた、注意点を思い出す……
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
WSTR:(K++) = 「いいかね。真ん中に黄色の丸と三角が組み合わされたアイコンが見えるだろう？」
WSTR:(K++) = 「それがお前の現在位置だ」
KSTR:(K++) = 「試しにWASDキーを押してみたまえ。上下左右に移動することが出来るだろう」
CALL メッセージ欄表示用関数("era_顔","星晶獣era")

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)

ダンジョン変数_沿岸部の森:0:2 = 1
ダンジョンイベント:2:アイコン種類 = 0


@ダンジョンイベント位置_沿岸部の森_0_3
IF ダンジョン変数_沿岸部の森:0:3
	ダンジョンイベント:3:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱_開")
	ダンジョンイベント:3:終了フラグ = 1
ELSE
	ダンジョンイベント:3:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱")
ENDIF
ダンジョンイベント:3:X軸位置 = 13
ダンジョンイベント:3:Y軸位置 = 19

@ダンジョンイベント_沿岸部の森_0_3
CALL 口上変数初期化
WSTR:(K++) = 「これは宝箱アイコンだね。中には何かアイテムが入っているはずだ」
WSTR:(K++) = 「もっと難しいダンジョンなら、罠が仕掛けられていることもあるかもしれない」
KSTR:(K++) = 「このダンジョンでは無縁の事柄だがね。遠慮なく開けてみたまえ」
CALL メッセージ欄表示用関数("era_顔","星晶獣era")

CALL 口上変数初期化
WSTR:(K++) = %CALLNAME:PLAYER%は宝箱を開けた。
KSTR:(K++) = 中には薬草が１０個入っていた！！
CALL メッセージ欄表示用関数()

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)

CALL アイテム増減汎用処理("薬草", 10)

ダンジョン変数_沿岸部の森:0:3 = 1
ダンジョンイベント:3:終了フラグ = 1
ダンジョンイベント:3:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱_開")


@ダンジョンイベント位置_沿岸部の森_0_4
SIF ダンジョン変数_沿岸部の森:0:4
	RETURN 0
ダンジョンイベント:4:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン")
ダンジョンイベント:4:X軸位置 = 16
ダンジョンイベント:4:Y軸位置 = 17

@ダンジョンイベント_沿岸部の森_0_4
CALL 口上変数初期化
WSTR:(K++) = 「これはイベントアイコン。触れれば何かしらの出来事が起こる」
WSTR:(K++) = 「中身は千差万別だが、白いイベントアイコンでは戦闘は起こらない」
KSTR:(K++) = 「対して、赤いイベントアイコンでは戦闘が起こる。この点については気をつけておけ」_PAGE_
WSTR:(K++) = 「──と、これらエネミー、宝箱、イベントの３つが基本的なダンジョンイベントだ」
KSTR:(K++) = 「十分に気をつけて進みたまえ、我が契約者」
CALL メッセージ欄表示用関数("era_顔","星晶獣era")

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)

ダンジョン変数_沿岸部の森:0:4 = 1
ダンジョンイベント:4:アイコン種類 = 0


@ダンジョンイベント位置_沿岸部の森_0_5
ダンジョンイベント:5:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン")
ダンジョンイベント:5:X軸位置 = 4
ダンジョンイベント:5:Y軸位置 = 0

@ダンジョンイベント_沿岸部の森_0_5
VARSET DUNGEON_MAP:0
VARSET DUNGEON_MAP_MASK:0
VARSET ダンジョンイベント:0:0
CALL ダンジョンマップセット_沿岸部の森_1
;X軸
ダンジョン現在位置:0 = 13
;Y軸
ダンジョン現在位置:1 = 11
現在階層変数 = 1


@ダンジョンイベント位置_沿岸部の森_0_6
IF ダンジョン変数_沿岸部の森:0:6
	ダンジョンイベント:6:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱_開")
	ダンジョンイベント:6:終了フラグ = 1
ELSE
	ダンジョンイベント:6:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱")
ENDIF
ダンジョンイベント:6:X軸位置 = 29
ダンジョンイベント:6:Y軸位置 = 20

@ダンジョンイベント_沿岸部の森_0_6

CALL 口上変数初期化
WSTR:(K++) = %CALLNAME:PLAYER%は宝箱を開けた。
KSTR:(K++) = 中には魔石が５個入っていた！！
CALL メッセージ欄表示用関数()

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)

CALL アイテム増減汎用処理("魔石", 5)

ダンジョン変数_沿岸部の森:0:6 = 1
ダンジョンイベント:6:終了フラグ = 1
ダンジョンイベント:6:アイコン種類 = イベントアイコンリソース名数字変換("宝箱アイコン_木箱_開")



@ダンジョンイベント位置_沿岸部の森_0_10
ダンジョンイベント:10:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:10:X軸位置 = 8
ダンジョンイベント:10:Y軸位置 = 24

@ダンジョンイベント_沿岸部の森_0_10
IF ダンジョン変数_沿岸部の森:0:10 == 0
	CALL 口上変数初期化
	WSTR:(K++) = 「これはエネミーアイコンだ。触れれば戦闘となる」
	WSTR:(K++) = 「お前が率いる仲間が勝利すれば経験値とルピが得られるだろう」
	KSTR:(K++) = 「もちろん、負ければ何も得ることは出来ない──気をつけたまえよ」
	CALL メッセージ欄表示用関数("era_顔","星晶獣era")

	CALL 口上変数初期化
	CALL メッセージ欄表示用関数(,,,0)
ENDIF

敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:1:エネミー名 = ゴブリン
CALL 雑魚敵遭遇汎用処理(10)


@ダンジョンイベント位置_沿岸部の森_0_11
ダンジョンイベント:11:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:11:X軸位置 = 15
ダンジョンイベント:11:Y軸位置 = 22
ダンジョンイベント:11:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_11
敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:1:エネミー名 = 風のエレメンタル
CALL 雑魚敵遭遇汎用処理(11)


@ダンジョンイベント位置_沿岸部の森_0_12
ダンジョンイベント:12:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:12:X軸位置 = 19
ダンジョンイベント:12:Y軸位置 = 25
ダンジョンイベント:12:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_12
敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:1:エネミー名 = 風のエレメンタル
敵BATTLE_STATE_STR:2:エネミー名 = ゴブリン
CALL 雑魚敵遭遇汎用処理(12)


@ダンジョンイベント位置_沿岸部の森_0_13
ダンジョンイベント:13:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:13:X軸位置 = 31
ダンジョンイベント:13:Y軸位置 = 19
ダンジョンイベント:13:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_13
敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:1:エネミー名 = スニッパー
CALL 雑魚敵遭遇汎用処理(13)

@ダンジョンイベント位置_沿岸部の森_0_14
ダンジョンイベント:14:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:14:X軸位置 = 39
ダンジョンイベント:14:Y軸位置 = 6
ダンジョンイベント:14:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_14
敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:1:エネミー名 = スニッパー
CALL 雑魚敵遭遇汎用処理(14)


@ダンジョンイベント位置_沿岸部の森_0_15
ダンジョンイベント:15:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:15:X軸位置 = 25
ダンジョンイベント:15:Y軸位置 = 5
ダンジョンイベント:15:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_15
敵BATTLE_STATE_STR:0:エネミー名 = 風のエレメンタル
敵BATTLE_STATE_STR:1:エネミー名 = 風のエレメンタル
CALL 雑魚敵遭遇汎用処理(15)


@ダンジョンイベント位置_沿岸部の森_0_16
ダンジョンイベント:16:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:16:X軸位置 = 22
ダンジョンイベント:16:Y軸位置 = 3
ダンジョンイベント:16:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_16
敵BATTLE_STATE_STR:0:エネミー名 = 風のエレメンタル
敵BATTLE_STATE_STR:1:エネミー名 = 風のエレメンタル
敵BATTLE_STATE_STR:2:エネミー名 = ゴブリン
CALL 雑魚敵遭遇汎用処理(16)


@ダンジョンイベント位置_沿岸部の森_0_17
ダンジョンイベント:17:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:17:X軸位置 = 5
ダンジョンイベント:17:Y軸位置 = 8
ダンジョンイベント:17:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_17
敵BATTLE_STATE_STR:1:エネミー名 = スニッパー
敵BATTLE_STATE_STR:3:エネミー名 = スニッパー
CALL 雑魚敵遭遇汎用処理(17)


@ダンジョンイベント位置_沿岸部の森_0_18
ダンジョンイベント:18:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:18:X軸位置 = 9
ダンジョンイベント:18:Y軸位置 = 16
ダンジョンイベント:18:移動タイプ = 1

@ダンジョンイベント_沿岸部の森_0_18
敵BATTLE_STATE_STR:0:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:3:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:4:エネミー名 = ゴブリン
敵BATTLE_STATE_STR:7:エネミー名 = ゴブリン
CALL 雑魚敵遭遇汎用処理(18)
