
@ダンジョンマップセット_沿岸部の森_1
DUNGEON_MAP_外部 = 壁_森
;X軸
ダンジョン最大広さ:0 = 27
;Y軸
ダンジョン最大広さ:1 = 13

LOCAL = 0
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000001111111111100000000
DUNGEON_MAP:(LOCAL++) = 000000001111111111100000000
DUNGEON_MAP:(LOCAL++) = 000000001111111111100000000
DUNGEON_MAP:(LOCAL++) = 000000000111111111000000000
DUNGEON_MAP:(LOCAL++) = 000000000001111100000000000
DUNGEON_MAP:(LOCAL++) = 000000000000010000000000000

LOCAL = 0
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空空空空空空空空空空空空空空空空空空空空空空空空
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空空空空雲空空空空空空空空空空空空空空空空空雲空
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空空空空空空空空空空空雲空空空空空空空空空空空空
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空雲空空空空空空空空空空空空空空空空空雲空空空空
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空空空空空空空雲空空空空空空空空空空空空空空空空
DUNGEON_MAP_MASK:(LOCAL++) = 空雲空空空空空空空空空空空空空空雲雲空空空空空空空空雲
DUNGEON_MAP_MASK:(LOCAL++) = 空空空空空空空空雲空空空空空空空空空空空空雲空空空空空
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原原原原原原原原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原原原原原原原原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木原原原原原原原原原原原木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木木原原原原原原原原原木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木木木木原原原原原木木木木木木木木木木木
DUNGEON_MAP_MASK:(LOCAL++) = 木木木木木木木木木木木木木原木木木木木木木木木木木木木

;イベントセット
FOR LOCAL, 0, 50
	TRYCALLFORM ダンジョンイベント位置_沿岸部の森_1_{LOCAL}
NEXT

@ダンジョンイベント位置_沿岸部の森_1_0
ダンジョンイベント:0:アイコン種類 = イベントアイコンリソース名数字変換("下アイコン")
ダンジョンイベント:0:X軸位置 = 13
ダンジョンイベント:0:Y軸位置 = 12

@ダンジョンイベント_沿岸部の森_1_0
VARSET DUNGEON_MAP:0
VARSET DUNGEON_MAP_MASK:0
VARSET ダンジョンイベント:0:0
CALL ダンジョンマップセット_沿岸部の森_0
;X軸
ダンジョン現在位置:0 = 4
;Y軸
ダンジョン現在位置:1 = 1
現在階層変数 = 0

@ダンジョンイベント位置_沿岸部の森_1_1
ダンジョンイベント:1:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン_赤")
SIF ダンジョン変数_沿岸部の森:1:1
	ダンジョンイベント:1:アイコン種類 = イベントアイコンリソース名数字変換("エネミーアイコン")
ダンジョンイベント:1:X軸位置 = 13
ダンジョンイベント:1:Y軸位置 = 8

@ダンジョンイベント_沿岸部の森_1_1
IF ダンジョン変数_沿岸部の森:1:1 == 0
	CALL 口上変数初期化
	WSTR:(K++) = %CALLNAME:PLAYER%たちが森の奥地へと足を踏み入れると、そこには地面を掘り返して石を齧るトカゲの魔物がいた。
	WSTR:(K++) = こいつが目的の「ストーンイーター」で間違いないだろう。
	WSTR:(K++) = 戦いの準備はいいだろうか？
	KSTR:(K++) = <button value='0'>[0]はい</button>
	KSTR:(K++) = <button value='1'>[1]いいえ</button>
	CALL メッセージ欄表示用関数(,,,0)

	$INPUT_LOOP
	INPUT
	SELECTCASE RESULT
		CASE 0
			CALL 口上変数初期化
			KSTR:(K++) = 君たちは武器を構え、ストーンイーターに戦いを挑んだ！
			CALL メッセージ欄表示用関数()
			敵BATTLE_STATE_STR:0:エネミー名 = ストーンイーター
			CALL BATTLE_MAIN_LOOP

			IF RESULT == 0
				;勝利時
				ダンジョン表示モード = マップ画面
				CALL 口上変数初期化
				WSTR:(K++) = %CALLNAME:PLAYER%はストーンイーターの討伐に成功した！！
				KSTR:(K++) = これで工事業者を呼べるようになった。早速帰って、よろず屋に手紙を出そう…
				KSTR:(K++) = PAGE
				WSTR:(K++) = ・［施設改造］機能が解放された！
				WSTR:(K++) = ・［従業員設定］機能が解放された！
				WSTR:(K++) = ・［空挺港］マップが解放された！
				WSTR:(K++) = ・[400] 移動　コマンド内に「別のエリアに移動する」機能が解放された！
				WSTR:(K++) = ・ストーンイーターから「栄冠の指輪・力」を手に入れた！
				WSTR:(K++) = ・ストーンイーターから「火の耳飾り」を手に入れた！
				CALL 汎用指輪取得処理("栄冠の指輪・力", 0)
				CALL 汎用耳飾り取得処理("火の耳飾り")
				KSTR:(K++) = ダンジョンから脱出します。
				CALL メッセージ欄表示用関数()
				CALL 口上変数初期化
				ダンジョン終了フラグ = 1
				ダンジョン変数_沿岸部の森:1:1 = 1
			ELSEIF RESULT == 1
				;全滅時
				ダンジョン表示モード = マップ画面
				CALL 口上変数初期化
				KSTR:(K++) = %CALLNAME:PLAYER%は力尽きた仲間たちを連れ、なんとか逃げ出した…
				CALL メッセージ欄表示用関数()
				ダンジョン終了フラグ = 1
			ELSEIF RESULT == -1
				;逃走時
				ダンジョン表示モード = マップ画面
			ENDIF
			VARSET 敵BATTLE_STATE:0:0
			VARSET 敵BATTLE_STATE_STR:0:0
		CASE 1
			CALL 口上変数初期化
			KSTR:(K++) = 君たちは準備を整えるため、一旦その場を離れた……
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
			CALL メッセージ欄表示用関数(,,,0)
		CASEELSE
			REUSELASTLINE 
			GOTO INPUT_LOOP
	ENDSELECT
ELSE
	敵BATTLE_STATE_STR:0:エネミー名 = ストーンイーター
	CALL 雑魚敵遭遇汎用処理(1)
ENDIF
