
;--------------------------------------------------
;お祭り開催時に選べるお祭りのテンプレート
;--------------------------------------------------
;・使い方
;「YYYY」をお祭りの名前に置換し、それぞれの関数に処理を入れる
;--------------------------------------------------

@MOVE_ROUTINE_FESTIVAL_YYYY(対象キャラ, ARGS)
#DIM 対象キャラ
#DIM 時間計算
#DIM CONST 開催費用 = ;＊＊＊＊＊＊＊＊ここを編集＊＊＊＊＊＊＊＊

SELECTCASE ARGS
	CASE "お祭り説明"
		LOCALS = <div rect='2125,500,3762,2812'>
		LOCALS += "■YYYY<br>"
		LOCALS += "<br>"
		LOCALS += ;＊＊＊＊＊＊＊＊ここを編集＊＊＊＊＊＊＊＊
		LOCALS += "<br>"
		IF 10000 > MONEY
			LOCALS += @"ルピが不足しています。（必要ルピ：%NUM_FORMAT(開催費用)%）<br>"
		ELSE
			LOCALS += @"<button value='0'>[0] このお祭りを企画する（必要ルピ：%NUM_FORMAT(開催費用)%）</button><br>"
		ENDIF
		LOCALS += "</div>"
		HTML_PRINT LOCALS, 1
	CASE "出現条件"
		;既に予定に入ってたらアウト
		SIF 開催予定祭り名 == "FESTIVAL_YYYY"
			RETURN 0
		; 季節限定の構文
		; SIF DAY % 120 / 30 != 1
		; 	RETURN 0
		RETURN 1
	CASE "参加判定"
		;参加キャラの条件を記載する
		;全員参加ならこのまま
		RETURN 1
	CASE "特設マップ"
		;存在しない場合はこのまま
		;作りたい場合は処理が激増するのでこのテンプレートにはまとめない
		RETURN 0
	CASE "起床時刻"
		;特別に行動ルーチンを設定しないのなら削除
		;設定する場合は時間を記載
		時間計算 = 480 - (TALENT:対象キャラ:早起き * 30)
		RETURN 時間計算
	CASE "就寝時刻"
		;特別に行動ルーチンを設定しないのなら削除
		;設定する場合は時間を記載
		時間計算 = 1320 - (TALENT:対象キャラ:早寝 * 60)
		RETURN 時間計算
	CASE "就寝場所"
		;特殊な就寝場所がある場合に設定
		RETURN 0
	CASE "初期位置"
		;特別に行動ルーチンを設定しないのなら削除
		;設定する場合は場所を記載
		CFLAG:対象キャラ:現在位置 = 6
		CFLAG:対象キャラ:現在マップ種別 = 0
	CASE "お祭り補正条件"
		;下の「お祭り補正内容」を適用するキャラの条件
		;基本的に参加判定と一致
		RETURN 1
	CASE "お祭り補正内容"
		;ソースの発生時に呼ばれる
		;好感度要素や快楽リソースなどに影響
		NOWEX:対象キャラ:友情度上昇格納 = MAX(NOWEX:対象キャラ:友情度上昇格納 * 13 / 10, 0)
	CASE "服装変更"
		;参加したキャラの服装を変える場合に記載
		RSTR:服装名受け渡し = ;＊＊＊＊＊＊＊＊ここを編集＊＊＊＊＊＊＊＊
ENDSELECT


@ROUTINE_SCHEDULE_FESTIVAL_YYYY(対象キャラ)
#DIM 対象キャラ
#DIM スケジュール番号

;以下は祭りの一例である
;スケジュールは自由に変更して構わない

;まず変な値が入らないようにリセット
CALL RESET_SCHEDULE(対象キャラ)
スケジュール番号 = 0

;起床後はお祭りへ
CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 0, "YYYY用行動ルーチン", "所要時間", "150")
スケジュール番号++

;12時から昼休憩
CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 720 + TCVAR:対象キャラ:行動時間ゆらぎ, "食事", "小分類", "屋台", "所要時間", "40", "優先度", "4")
スケジュール番号++

;13時からお祭りへ
CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 780 + TCVAR:対象キャラ:行動時間ゆらぎ, "YYYY用行動ルーチン", "所要時間", "180")
スケジュール番号++

;18時半から夕休憩
CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 1110 + TCVAR:対象キャラ:行動時間ゆらぎ, "食事", "小分類", "屋台", "所要時間", "40", "優先度", "4")
スケジュール番号++

;19時半からお風呂
CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 1170 + TCVAR:対象キャラ:行動時間ゆらぎ, "お風呂", "所要時間", "60", "優先度", "2")
スケジュール番号++

IF TALENT:対象キャラ:早寝 > 0
	;早寝のキャラは21時の15分前(着替え時間)から寝るまでは自室
	CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 1245 + TCVAR:対象キャラ:行動時間ゆらぎ, "休憩")
	スケジュール番号++
ELSE
	;21時からロビーへ
	CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 1260 + TCVAR:対象キャラ:行動時間ゆらぎ, "交流")
	スケジュール番号++

	;21時30分から寝るまでは自室
	CALL SET_SCHEDULE(対象キャラ, スケジュール番号, 1290 + TCVAR:対象キャラ:行動時間ゆらぎ, "休憩")
	スケジュール番号++
ENDIF


; ;以下は場所を固定する場合のルーチン関数
; @SCHEDULE_YYYY用行動ルーチン(対象キャラ, 小分類, 処理内容)
; #DIM 対象キャラ
; #DIMS 小分類
; #DIMS 処理内容

; SELECTCASE 処理内容
; 	CASE "開始処理"
; 		スケジュール状態:対象キャラ:目的マップ = ;任意のマップ種別
; 		スケジュール状態:対象キャラ:目的地 = ;任意の場所
; 		RETURN 1
; 	CASE "経過処理"
; 	CASE "終了処理"
; 		RETURN 1
; ENDSELECT



; ;以下は複数の場所をランダムで移動する場合のルーチン関数
; @SCHEDULE_YYYY用行動ルーチン(対象キャラ, 小分類, 処理内容)
; #DIM 対象キャラ
; #DIMS 小分類
; #DIMS 処理内容

; SELECTCASE 処理内容
; 	CASE "開始処理"
; 		TCVAR:対象キャラ:移動ルーチンインターバル時間 = 0
; 		RETURN 1
; 	CASE "経過処理"
; 		SIF TCVAR:対象キャラ:移動ルーチンインターバル時間 > 0
; 			RETURN

; 		スケジュール状態:対象キャラ:目的マップ = ;任意のマップ種別
; 		スケジュール状態:対象キャラ:目的地 = ;任意の場所をランダムに渡す
; 		TCVAR:対象キャラ:移動ルーチンインターバル時間 = RAND(60, 120)
; 	CASE "終了処理"
; 		TCVAR:対象キャラ:移動ルーチンインターバル時間 = 0
; 		RETURN 1
; ENDSELECT
