;NEWGAMEに突っ込む用


@汎用耳飾り取得処理(耳飾り名)
#DIMS 耳飾り名

;個別の耳飾りERBに飛んでステータス補正を入れ込む
TRYCCALLFORM 耳飾りステータス決定_%耳飾り名%
CATCH
	PRINTW 指定の耳飾りが見つかりません。
	RETURN -1
ENDCATCH

@耳飾り付け替え処理画面(キャラ番号)
#DIM キャラ番号
#DIM ページ番号
;表示部分
;装備中耳飾り表示
DRAWLINE
詳細文文字列受け渡し変数 = 
TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "耳飾り名")%(装備ステータス補正保存:キャラ番号:装備耳飾り番号)
LOCALS = <div rect='32px,0px,906px,200px' border='5px' bcolor='#C0C0C0'></div>
LOCALS += @"<div rect='42px, 10px, 180px, 180px'>%顔グラ表示用文字列関数(キャラ番号)%</div>"
LOCALS += @"<div rect='222px,10px,886px,180px'>■%CALLNAME:キャラ番号%が装備中の耳飾り<br>"
IF 詳細文文字列受け渡し変数 == ""
	LOCALS += "なし</div>"
ELSE
	LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "耳飾り名")%<br>%詳細文文字列受け渡し変数%</div>"
ENDIF
;所持耳飾りリスト表示
LOCALS += "<div rect='32px,210px,906px,600px' border='5px' bcolor='#C0C0C0'></div>"
CALL 所持耳飾りリスト表示(キャラ番号, ページ番号)

;戻るボタンと前次ページボタン
LOCALS += "<div rect='42px,780px,886px,580px'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 表示用ステータス格納配列:30:0 > 0
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 装備ステータス補正保存:キャラ番号:装備耳飾り番号 > 0
	LOCALS += "　　　　　　　　　　　　　<button value='1002'>[1002]装備を外す</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　　　　　　　　　　　　　　"
ENDIF
LOCALS += "　　<button value='9999'>[9999]戻る</button></div>"

HTML_PRINT LOCALS, 1

FOR LOCAL, 0, 45
	PRINTL
NEXT

DO
BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE 1002
		DT_CELL_SET "所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "装備者キャラ番号", 0
		装備ステータス補正保存:キャラ番号:装備耳飾り番号 = 0
		CALL 装備再計算処理(キャラ番号)
		PRINTFORMW %CALLNAME:キャラ番号%は耳飾りを外した。
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE IS < 500
		IF 装備ステータス補正保存:キャラ番号:装備耳飾り番号 > 0
			DT_CELL_SET "所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "装備者キャラ番号", 0
		ENDIF
		装備ステータス補正保存:キャラ番号:装備耳飾り番号 = LOCAL
		DT_CELL_SET "所持耳飾りデータベース", LOCAL, "装備者キャラ番号", キャラ番号
		CALL 装備再計算処理(キャラ番号)
		PRINTFORMW %CALLNAME:キャラ番号%は%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%を装備した。
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE IS < 1000
		TRYCALLFORM 耳飾り個別文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%
		LOCALS = %詳細文文字列受け渡し変数%
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%(LOCAL - 500)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		HTML_PRINT LOCALS
		WAIT
		RESTART
ENDSELECT
LOOP 1

@所持耳飾りリスト表示(キャラ番号, ページ番号)
#DIM キャラ番号
#DIM ページ番号

LOCALS = <div rect='42px,220px,886px,580px'><nobr>
LOCALS += "　　　 耳飾り名　　　　　　　　　属性　奥義補正　　　　　　　　　　　　　　　　　　　　　　　　装備者<br>"
LOCALS += "--------------------------------------------------------------------------------------------------------------<br>"
IF キャラ番号 > 0
	LOCAL:1 = 装備ステータス補正保存:キャラ番号:装備耳飾り番号
	FOR LOCAL, 1, 500
		IF DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名") == ""
			BREAK
		ENDIF
		LOCALS += @"<button value='{LOCAL + 500}'>[詳細]</button> "
		IF LOCAL:1 == LOCAL
			LOCALS += "<font color='#CCCC00'>"
		ENDIF
		LOCALS += @"<button value='{LOCAL}'>"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名"), 26, LEFT%"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "変更属性"), 6, LEFT%"
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%(LOCAL)
		詳細文文字列受け渡し変数 = %SUBSTRING(HTML_TOPLAINTEXT(詳細文文字列受け渡し変数), 12, -1)%
		LOCALS += @"%詳細文文字列受け渡し変数, 56, LEFT%"
		IF DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備者キャラ番号")
			LOCALS += @"%CALLNAME:(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備者キャラ番号"))%"
		ENDIF
		LOCALS += "</button>"
		IF LOCAL:1 == LOCAL
			LOCALS += "</font>"
		ENDIF
		LOCALS += "<br>"
	NEXT
ELSE
	LOCAL:1 = 0
	FOR LOCAL, 1, 500
		IF 表示用ステータス格納配列:LOCAL:0 == 0
			BREAK
		ENDIF
		LOCALS += @"<button value='{LOCAL + 500}'>[詳細]</button> "
		LOCALS += @"<button value='{LOCAL}'>"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名"), 26, LEFT%"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "変更属性"), 6, LEFT%"
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%(LOCAL)
		LOCALS += @"%詳細文文字列受け渡し変数, 56, LEFT%"
		IF DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備者キャラ番号")
			LOCALS += @"%CALLNAME:(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備者キャラ番号"))%"
		ENDIF
		LOCALS += "</button><br>"
	NEXT
ENDIF
LOCALS += "</div>"

HTML_PRINT LOCALS, 1

