;NEWGAMEに突っ込む用


@汎用耳飾り取得処理(耳飾り名, ランダム性能固定フラグ = 0)
#DIMS 耳飾り名
#DIM ランダム性能固定フラグ

;個別の耳飾りERBに飛んでステータス補正を入れ込む
TRYCCALLFORM 耳飾りステータス決定_%耳飾り名%(ランダム性能固定フラグ)
CATCH
	PRINTW 指定の耳飾りが見つかりません。
	RETURN -1
ENDCATCH

@汎用耳飾り削除処理(耳飾りid番号)
#DIM 耳飾りid番号

IF DT_CELL_GETS("所持耳飾りデータベース", 耳飾りid番号, "耳飾り名", 1) != ""
	;装備してるキャラがいたらキャラんとこから番号削除
	IF DT_CELL_GET("所持耳飾りデータベース", 耳飾りid番号, "装備キャラ番号", 1)
		装備ステータス補正保存:(DT_CELL_GET("所持耳飾りデータベース", 耳飾りid番号, "装備キャラ番号", 1)):装備耳飾り番号 = 0
	ENDIF
	DT_ROW_REMOVE "所持耳飾りデータベース", 耳飾りid番号
ELSE
	PRINTW 指定の耳飾りが見つかりません。
	RETURN -1
ENDIF

@耳飾り付け替え処理画面(キャラ番号)
#DIM キャラ番号
#DIM ページ番号
;表示部分
;装備中耳飾り表示
DRAWLINE
詳細文文字列受け渡し変数 = 
TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "耳飾り名", 1)%(装備ステータス補正保存:キャラ番号:装備耳飾り番号)
LOCALS = <div rect='200,0,5662,1250' border='31' bcolor='#C0C0C0'></div>
LOCALS += @"<div rect='262, 62, 1125, 1125'>%顔グラ表示用文字列関数(キャラ番号)%</div>"
LOCALS += @"<div rect='1387,62,5537,1125'>■%CALLNAME:キャラ番号%が装備中の耳飾り<br>"
IF 詳細文文字列受け渡し変数 == ""
	LOCALS += "なし</div>"
ELSE
	LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "耳飾り名", 1)%<br>%詳細文文字列受け渡し変数%</div>"
ENDIF
;所持耳飾りリスト表示
LOCALS += "<div rect='200,1312,5662,3750' border='31' bcolor='#C0C0C0'></div>"
CALL 所持耳飾りリスト表示(キャラ番号, ページ番号)

;戻るボタンと前次ページボタン
LOCALS += "<div rect='262,4875,5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += @"- PAGE {ページ番号 + 1, 2, LEFT} -　　"
IF DT_ROW_LENGTH("所持耳飾りデータベース") > 30 + (ページ番号 * 29)
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 装備ステータス補正保存:キャラ番号:装備耳飾り番号 > 0
	LOCALS += "　　　　　　<button value='1002'>[1002]装備を外す</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　　　　　　　"
ENDIF
LOCALS += "　　<button value='9999'>[9999]戻る</button></div>"

HTML_PRINT LOCALS, 1

FOR LOCAL, 0, 45
	PRINTL
NEXT

DO
BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE 1000
		ページ番号 -= 1
		RESTART
	CASE 1001
		ページ番号 += 1
		RESTART
	CASE 1002
		DT_CELL_SET "所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "装備キャラ番号", 0, 1
		装備ステータス補正保存:キャラ番号:装備耳飾り番号 = 0
		CALL 装備再計算処理(キャラ番号)
		PRINTFORMW %CALLNAME:キャラ番号%は耳飾りを外した。
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE IS < 500
		IF 装備ステータス補正保存:キャラ番号:装備耳飾り番号 > 0
			DT_CELL_SET "所持耳飾りデータベース", 装備ステータス補正保存:キャラ番号:装備耳飾り番号, "装備キャラ番号", 0, 1
		ENDIF
		LOCAL:1 = DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備キャラ番号")
		IF LOCAL:1 > 0
			装備ステータス補正保存:(LOCAL:1):装備耳飾り番号 = 0
			CALL 装備再計算処理(LOCAL:1)
		ENDIF
		装備ステータス補正保存:キャラ番号:装備耳飾り番号 = DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id")
		DT_CELL_SET "所持耳飾りデータベース", LOCAL, "装備キャラ番号", キャラ番号
		CALL 装備再計算処理(キャラ番号)
		PRINTFORMW %CALLNAME:キャラ番号%は%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%を装備した。
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 0
	CASE IS < 1000
		TRYCALLFORM 耳飾り個別文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%
		LOCALS = %詳細文文字列受け渡し変数%
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%(DT_CELL_GET("所持耳飾りデータベース", LOCAL - 500, "id"))
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		HTML_PRINT LOCALS
		WAIT
		RESTART
ENDSELECT
LOOP 1

@所持耳飾りリスト表示(キャラ番号, ページ番号, y軸位置 = 1375)
#DIM キャラ番号
#DIM ページ番号
#DIM y軸位置

;ページめくり用にステータス格納
FOR LOCAL, 0, DT_ROW_LENGTH("所持耳飾りデータベース")
	表示用ステータス格納配列:LOCAL:0 = DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id")
NEXT

LOCALS = <div rect='262,{y軸位置},5537,3625'><nobr>
LOCALS += "　　　 耳飾り名　　　　　　　　　属性　奥義補正　　　　　　　　　　　　　　　　　　　　　　　　装備者<br>"
LOCALS += "--------------------------------------------------------------------------------------------------------------<br>"
IF キャラ番号 > 0
	LOCAL:1 = 装備ステータス補正保存:キャラ番号:装備耳飾り番号
	FOR LOCAL, 1 + (ページ番号 * 29), 30 + (ページ番号 * 29)
		IF DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名") == ""
			BREAK
		ENDIF
		LOCALS += @"<button value='{LOCAL + 500}'>[詳細]</button> "
		IF LOCAL:1 == DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id")
			LOCALS += "<font color='#CCCC00'>"
		ENDIF
		LOCALS += @"<button value='{LOCAL}'>"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名"), 26, LEFT%"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "変更属性"), 6, LEFT%"
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id"))
		LOCALS += @"%詳細文文字列受け渡し変数２, 56, LEFT%"
		IF DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備キャラ番号")
			LOCALS += @"%CALLNAME:(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備キャラ番号"))%"
		ENDIF
		LOCALS += "</button>"
		IF LOCAL:1 == DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id")
			LOCALS += "</font>"
		ENDIF
		LOCALS += "<br>"
	NEXT
ELSE
	LOCAL:1 = 0
	FOR LOCAL, 1 + (ページ番号 * 29), 30 + (ページ番号 * 29)
		IF DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名") == ""
			BREAK
		ENDIF
		LOCALS += @"<button value='{LOCAL + 500}'>[詳細]</button> "
		LOCALS += @"<button value='{LOCAL}'>"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名"), 26, LEFT%"
		LOCALS += @"%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "変更属性"), 6, LEFT%"
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id"))
		LOCALS += @"%詳細文文字列受け渡し変数２, 56, LEFT%"
		IF DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備キャラ番号")
			LOCALS += @"%CALLNAME:(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "装備キャラ番号"))%"
		ENDIF
		LOCALS += "</button><br>"
	NEXT
ENDIF
LOCALS += "</div>"

HTML_PRINT LOCALS, 1

@所持耳飾りリスト表示_USERCOM
#DIM ページ番号

LOCALS = 
LOCALS += "<div rect='200,1312,5662,3750' border='31' bcolor='#C0C0C0'></div>"
HTML_PRINT LOCALS, 1
CALL 所持耳飾りリスト表示(0, ページ番号)
LOCALS = 
;戻るボタンと前次ページボタン
LOCALS += "<div rect='262,4875,5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += @"- PAGE {ページ番号 + 1, 2, LEFT} -　　"
IF DT_ROW_LENGTH("所持耳飾りデータベース") > 30 + (ページ番号 * 29)
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += "</div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 45
	PRINTL
NEXT
BINPUTS
IF ISNUMERIC(RESULTS) == 0
	VARSET 表示用ステータス格納配列:0:0
	表示切り替え文字列 = %RESULTS%
	ページ番号 = 0
	RETURN 0
ENDIF
LOCAL = TOINT(RESULTS)
SELECTCASE LOCAL
	CASE 1000
		ページ番号 -= 1
	CASE 1001
		ページ番号 += 1
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN -1
	CASE IS < 500
		TRYCALLFORM 耳飾り個別文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%
		LOCALS = %詳細文文字列受け渡し変数%
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL, "耳飾り名")%(DT_CELL_GET("所持耳飾りデータベース", LOCAL, "id"))
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		HTML_PRINT LOCALS
		WAIT
	CASE IS < 1000
		TRYCALLFORM 耳飾り個別文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%
		LOCALS = %詳細文文字列受け渡し変数%
		TRYCALLFORM 耳飾り基礎効果文章表示_%DT_CELL_GETS("所持耳飾りデータベース", LOCAL - 500, "耳飾り名")%(DT_CELL_GET("所持耳飾りデータベース", LOCAL - 500, "id"))
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		HTML_PRINT LOCALS
		WAIT
ENDSELECT
