;・使い方
;「169」をキャラクター番号に置換し、それぞれの関数に処理を入れる
;--------------------------------------------------
;通常画面一言口上
;--------------------------------------------------
@口上_INFO画面_一言コメント_169(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化

;口上と同じ感覚で使う為に書式を統一しているが、通常時の画面で表示されるので
;基本的にWAIT系列は使わないことを推奨
;また、一行のみの表示を想定。二行以上は基本的に禁止
;※うふふ中には表示されません

;以下は分岐の例
;仕事中の一言口上
IF TALENT:対象キャラ:従業員 && TCVAR:対象キャラ:休暇中 == 0 && CFLAG:対象キャラ:現在位置 == 現在仕事:対象キャラ:1 % 10000 && CFLAG:対象キャラ:現在マップ種別 == 現在仕事:対象キャラ:1 / 10000
	SELECTCASE 現在仕事:対象キャラ:1
		CASE 2
			;ロビーで受付中
			KSTR:(K++) = 
		CASE 503
			;バーエリアでバーテンダー中
			KSTR:(K++) = 
		CASE 506
			;図書室で司書中
			KSTR:(K++) = 
		CASE 1503, 15
			;プールで監視員中
			KSTR:(K++) = 
		CASE IS > 10000
			;各種店舗で店番中
			CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:(現在仕事:対象キャラ:1 - 10000):0}(現在仕事:対象キャラ:1 - 10000)
			SELECTCASE REPLACE(TSTR:場所名受渡, "『.*』", "")
				CASE "道具屋"
					KSTR:(K++) = 
				CASE "土産物屋"
					KSTR:(K++) = 
				CASE "食事処"
					KSTR:(K++) = 
				CASE "装飾品店"
					KSTR:(K++) = 
			ENDSELECT
	ENDSELECT
ENDIF
;この時点で口上が入ってるなら表示へ飛ばす
SIF KSTR:0 != ""
	GOTO 表示位置
;状況で分岐

IF CFLAG:対象キャラ:飲み会
	;飲み会中
	KSTR:(K++) = 
ELSEIF CFLAG:対象キャラ:睡眠
	;睡眠中
	KSTR:(K++) = 
ELSEIF CFLAG:対象キャラ:デート
	;デート中
	;デートの相手のキャラ番号 + 100が入っている
	;あなた相手なら「CFLAG:対象キャラ:デート == MASTER + 100」
	KSTR:(K++) = 
ELSEIF CFLAG:対象キャラ:一緒に遊ぶ
	;一緒に遊ぶ中
	KSTR:(K++) = 
ELSEIF CFLAG:対象キャラ:同行
	;同行中
	KSTR:(K++) = 
ELSEIF CFLAG:PLAYER:隠密 && CFLAG:対象キャラ:隠密
	;一緒に隠密中
	KSTR:(K++) = 
ELSEIF CFLAG:PLAYER:隠密 && !CFLAG:対象キャラ:隠密
	;あなたが隠れていて、キャラはあなたに気づいていない
	KSTR:(K++) = 
ELSEIF !CFLAG:PLAYER:隠密 && CFLAG:対象キャラ:隠密
	;キャラの野外オナニー中
	KSTR:(K++) = 
ENDIF
;この時点で口上が入ってるなら表示へ飛ばす
SIF KSTR:0 != ""
	GOTO 表示位置

;最も多い好感度要素で分岐
;簡易版なのでステータス画面のコメントを利用。細かく決めたい場合は後で編集してください
SELECTCASE MAXRAND(CFLAG:対象キャラ:友情度, CFLAG:対象キャラ:信頼度, CFLAG:対象キャラ:恋心度, CFLAG:対象キャラ:性愛度)
	CASE 0
		;友情度
		CALL 口上_ステータス画面_友情コメント_169(対象キャラ, 1)
	CASE 1
		;信頼度
		CALL 口上_ステータス画面_信頼コメント_169(対象キャラ, 1)
	CASE 2
		;恋心度
		CALL 口上_ステータス画面_恋心コメント_169(対象キャラ, 1)
	CASE 3
		;性愛度
		CALL 口上_ステータス画面_性愛コメント_169(対象キャラ, 1)
ENDSELECT

IF K > 1
	KSTR:0 '= KSTR:0 + KSTR:1
	KSTR:1 '= ""
ENDIF

$表示位置
CALL PRINT_STATEコメント表示(対象キャラ, 2)


;--------------------------------------------------
;ステータス画面一言口上_友情
;--------------------------------------------------
@口上_ステータス画面_友情コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化

;口上と同じ感覚で使う為に書式を統一しているが、ステータス画面で表示されるので
;基本的にWAIT系列は使わないことを推奨
;こちらも簡易版なので一行のみに限定

SELECTCASE CFLAG:対象キャラ:友情度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「%CALLNAME:MASTER%……確かここのオーナーですよね？」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「%CALLNAME:MASTER%……とても大変そうにあちこち走り回っていらっしゃいますのは知っております」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「%CALLNAME:MASTER%……なにかありましたら私も手伝いますから……あまり無茶はしないでくださいね？」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;友人
		KSTR:(K++) = 「%CALLNAME:MASTER%……。貴方のお仕事、私にも手伝わせてくれませんか？　貴方の助けとなりたいのです」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;親友
		KSTR:(K++) = 「私は錬金術師の名家の当主です。そんな私ですが……貴方のことを『友』と、呼んでもいいですか？」
	CASEELSE
		;無二の友
		KSTR:(K++) = 「ふふ、不思議ですね。こんな歳になって、心の底から『友』と思えるような方と出会えるなんて……。人生、分からないものです」
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ)

;--------------------------------------------------
;ステータス画面一言口上_信頼
;--------------------------------------------------
@口上_ステータス画面_信頼コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:信頼度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「%CALLNAME:MASTER%……？　確か……このリゾートの管理人……でしたよね？」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「%CALLNAME:MASTER%の頑張っている姿を見ていると、何だか応援したくなりますね……」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「%CALLNAME:MASTER%の業務を手伝って分かったのですが……あの子は仕事に手を抜かない、とても良い子なのですね」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;知己
		KSTR:(K++) = 「ふふ、%CALLNAME:MASTER%の信頼に応えられるよう、私も頑張らなくてはなりませんね」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;相棒
		KSTR:(K++) = 「%CALLNAME:MASTER%がクラリスを貰ってくれれば、私も安心できるのですが……。どうでしょう？」
	CASEELSE
		;水魚の交わり
		KSTR:(K++) = 「夫以上に%CALLNAME:MASTER%のことが理解出来るなんて……。心が通じ合うこの不思議な感覚……何だか悪い気はしません……_H_」
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ)

;--------------------------------------------------
;ステータス画面一言口上_恋心
;--------------------------------------------------
@口上_ステータス画面_恋心コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:恋心度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「私もいい歳ですし、夫も娘もいる身です。恋をするなんて、今更そんな……」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「%CALLNAME:MASTER%は随分と頑張っていらっしゃるようで……。何だか応援したくなってしまいますね」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「まぁ、%CALLNAME:MASTER%。頑張る貴方の為にケーキを焼きました。一休みしませんか？」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;気になる人
		KSTR:(K++) = 「う、嘘でしょう……？　私、こんな歳になって……『恋』をしてしまうだなんて……っ_H_　駄目よ！　駄目駄目！　こんな……こんな想い！」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;想い人
		KSTR:(K++) = 「もう、我慢できません……っ。ねぇ%CSTR:対象キャラ:二人称%……_H_　こんなおばさんですけど……貴方のことを想っても……いいですか？_H_」
	CASEELSE
		;最愛の人
		KSTR:(K++) = 「あぁ……_H_　自分の心に素直になった今は、とっても清々しい気分_H_　%CSTR:対象キャラ:二人称%と居るだけで、胸の高鳴りもこんなに心地よいのですから……_H_」
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ)

;--------------------------------------------------
;ステータス画面一言口上_性愛
;--------------------------------------------------
@口上_ステータス画面_性愛コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:性愛度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「クラリス……あの子という跡継ぎを産んだ以上、もう私の『女』としての役割も終わりましたから……」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「このリゾートに来てから……おかしいんです。おへその下が……何だか疼くような……」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「お腹が……熱い……っ。そんな……私の子宮はもう……っ。と、とにかく、久しぶりに『処理』しませんと……_H_」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;性癖に合う
		KSTR:(K++) = 「嗚呼、%CALLNAME:MASTER%……っ_H_　だ、駄目よっ！　私ったら、いったい何を考えて……！」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;自慰の対象
		KSTR:(K++) = 「%CSTR:対象キャラ:二人称%……あなたのことを_H_　考えながらじゃないと……_H_　私の疼き……もう……抑えられない……_H_」
	CASEELSE
		;肉欲の虜
		KSTR:(K++) = 「すきっ_H_　だいすきっ_H_　%CSTR:対象キャラ:二人称%……%CSTR:対象キャラ:二人称%っ_H_　ほしいの_H_　貴方の子種_H_　私の中にたくさん……っ_H_」
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_固有要素
;--------------------------------------------------
@口上_ステータス画面_キャラ固有好感度要素コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:キャラ固有好感度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;
		KSTR:(K++) = 
	CASEELSE
		;
		KSTR:(K++) = 
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_恋慕
;--------------------------------------------------
@口上_ステータス画面_恋慕コメント_169(対象キャラ, ARG=0)
#DIM 対象キャラ
CALL 口上変数初期化
PRINTL 
SELECTCASE CFLAG:対象キャラ:恋慕レベル
	CASE IS == 0
		;脈ナシ
		KSTR:(K++) = 「私の愛する人は後にも先にも夫だけです。他人に恋するなどありえません」
	CASE IS <= 関係閾値:1
		;ちょっと気になる
		KSTR:(K++) = 「なぜでしょうか……。私、最近……%CALLNAME:MASTER%のことばかり考えて……」
	CASE IS <= 関係閾値:2
		;なんかいいかも
		KSTR:(K++) = 「なに……？　なんなの……この胸の高鳴りは……。%CALLNAME:MASTER%……あの人を見ていると、私は……っ」
	CASE IS <= 関係閾値:3
		;好意を自覚
		KSTR:(K++) = 「だ、駄目よ、プロメティア……っ。私には夫が……あの人が……ハロルドが……っ」
	CASE IS <= 関係閾値:4
		;ラブラブ
		KSTR:(K++) = 「ごめんなさい、あなた……。私は、%CALLNAME:MASTER%のことが……っ_H_」
	CASEELSE
		;最愛の人
		KSTR:(K++) = 「ふふ_H_　私も愛しておりますよ、%CSTR:対象キャラ:二人称%……_H_　この世の誰よりも……_H_」
ENDSELECT

SIF ARG
	RETURN

CALL PRINT_STATEコメント表示(対象キャラ, 1)

;--------------------------------------------------
;キャラについての解説
;--------------------------------------------------
@口上_ステータス画面_キャラ解説_169(対象キャラ)
#DIM 対象キャラ
;EXキャラの出典を解説したり、キャラの設定・背景を解説するもの

KSTR:(K++) = ■  ■--<button value='2001'>[ デフォルト ]</button>--<button value='2002'>[ セフレ陥落 ]</button>--<button value='2003'>[ 恋慕陥落 ]</button>--<button value='2004'>[ 伴侶陥落 ]</button>--

;固有INPUTで入れたINPUT数値に応じて表示を変更する
;
IF 特定状況口上用フラグ:対象キャラ:13 == 2002
	IF TALENT:対象キャラ:セフレ
		;セフレ陥落
		KSTR:(K++) = 体だけを求められる羞恥心。愛する夫を裏切れと言われたに等しい提案に対する恥辱感。
		KSTR:(K++) = だがプロメティアは選び取ってしまった。夫以外の存在と肉体関係を結ぶことを。子を成すための神聖な行為を、ただ淫蕩を貪るためだけに行うという穢らわしい選択を。
		KSTR:(K++) = 理性ではなく本能で「キモチイイ」ことを望み、夫でもない他人に体を預けまぐわう。「母」としても「妻」としても最低の行い。まるで娼婦。淫売そのものではないか。
		KSTR:(K++) = 　
		KSTR:(K++) = どうして。なぜ。あの時断固として拒絶できなかったのだろうか。
		KSTR:(K++) = あまりにしつこいお願いの勢いに押されて「一回だけ」と約束し抱かれて以降、二度、三度と遠慮なく性交渉を乞われるようになり、それに対してあと一回だけ、あと一回だけ……とズルズルと流されてしまったのか。
		KSTR:(K++) = そうこうしている内に、性交渉そのものに嫌悪感を抱かなくなっていった己自身にも嫌悪感を募らせ、後悔が次々と胸中に湧き上がってくるばかり。
		KSTR:(K++) = 　
		KSTR:(K++) = 汚らわしい。穢らわしい。けがらわしい。開祖に顔向けできない。夫とまともに目を合わせる自信が無い。
		KSTR:(K++) = けれど──抱かれた時に感じた人肌の温かさ。夫以外のモノで膣肉をゴリゴリと掘り返される悦楽。城攻めする破城槌のように子宮口を激しく突かれ、そのままハート型になるまで子宮を押しつぶされた時の多幸感……_H_
		KSTR:(K++) = それら全てが悲壮な想いを掻き消し、代わりにプロメティアの胸は高鳴るばかり。
		KSTR:(K++) = 役割を終えたはずの子宮も卵巣も乳腺も、再びの出番の予感に本人も気付かぬ内にキュンキュンと悦び震え、じわりと媚熱を帯び始めていた……_H_
	ELSE
		KSTR:(K++) = 追加内容解放条件：セフレ陥落
	ENDIF
ELSEIF 特定状況口上用フラグ:対象キャラ:13 == 2003
	IF TALENT:対象キャラ:恋慕 == 1
		;恋慕陥落
		KSTR:(K++) = それは本来のプロメティアにとってありえないことだった。あってはならないことだった。
		KSTR:(K++) = 愛する夫が、長年連れ添ったハロルドがいるのに。それ以外の存在に心奪われるなど──愛してしまうなど。
		KSTR:(K++) = 　
		KSTR:(K++) = 嗚呼、でも生まれて初めてのことだったのだ。あそこまで情熱的に口説かれたのは。ドロドロに煮え滾った獣欲を包み隠さずあけすけに向けられたのは。
		KSTR:(K++) = 他の若い子らよりも、このくたびれてたいして大きくもない乳房を、小ジワの目立ち始めた肌を、クラリスを産んで広がった骨盤を、若い頃よりも明らかに大きくなったお尻を……衣服の上からでも分かるほどに、熱の籠った視線でジロジロと検分されては、際限なく湧き上がる優越感と弾けるような自尊心でもうたまらなかった。
		KSTR:(K++) = 　
		KSTR:(K++) = 「母」でも「妻」でもなく、「女」として求められることのなんて悦ばしいことか。このリゾートに訪れてから高まり続ける性欲と共に、そう思うことが多くなった気がする。
		KSTR:(K++) = だからこそ%CALLNAME:MASTER%から繰り返し告げられてきた、征服欲に滾った告白を受け入れたのだ。こんな夫を持つ身の女でも良いのなら、貴方の想いに応えましょうと。
		KSTR:(K++) = 　
		KSTR:(K++) = でも、それはあくまでもリゾート内だけ。この楽園の中だけの仮初の関係。外に出ればいつものプロメティアに戻ろう──そう誓った彼女は、己の理性が媚熱によって蕩かされ原型を失いつつあることに気付くことは無かった……_H_
	ELSE
		KSTR:(K++) = 追加内容解放条件：恋慕陥落
	ENDIF
ELSEIF 特定状況口上用フラグ:対象キャラ:13 == 2004
	IF TALENT:対象キャラ:恋慕 == 2
		;伴侶陥落
		KSTR:(K++) = ──気付いた時には、全てが手遅れだった。
		KSTR:(K++) = 　
		KSTR:(K++) = リゾート内に満ちる淫気。夫以外の存在から止め処なく注がれる獣欲と肉欲。それらに幾度も晒され、犯され、蝕まれ……ついにプロメティアは%CALLNAME:MASTER%の「およめさん」として完璧なまでに仕立て上げられていた。
		KSTR:(K++) = 僅かに残された理性は変わらず夫のことを愛している。だが「母」としての、「妻」としての、「女」としての仮面までもを余さず剥がされ、剥き出しとなった生殖本能の最奥に潜んでいたもの──胎動する「牝」としての本性……それが、%CALLNAME:MASTER%こそが本当の「旦那様」と認めてしまっていたから。
		KSTR:(K++) = だから……だから。%CALLNAME:MASTER%からのプロポーズに、プロメティアは躊躇うことなく頷いていた。夫の居る身──重婚の罪──娘を産んだ体──理性が幾度となく制止をかけてきたがしかし、「旦那様」からの求婚に答えないほうが失礼だと「牝」としての本能が勝ったがゆえに。
		KSTR:(K++) = 　
		KSTR:(K++) = そうして開かれたるは禁忌の儀式。決して夫には明かせない、秘匿された重婚式。それも開祖カリオストロ本人が神父役を務めるというもの。
		KSTR:(K++) = 開祖本人へと誓う婚姻とはすなわち、かつて夫と交わした誓いとは比べ物にならないほどの強力な効力を持つだろうとプロメティアは本能的に理解した。そしてそれを誓った瞬間、今までの『プロメティア』の最期となることも。
		KSTR:(K++) = 嗚呼だって。それはつまり愛する夫との婚姻が上書きされるということであり。自らのアイデンティティー全てが否定され、%CALLNAME:MASTER%一色に塗り潰されるということでもあり。
		KSTR:(K++) = 　
		KSTR:(K++) = ……それでもプロメティアは誓ってしまった。目覚めさせられた「牝」としての本性。全身が焼けつくような肉欲。空っぽな子宮が精子を欲する生殖本能。それに完全屈服していたために。
		KSTR:(K++) = 更には、夫と交わした誓いのキスすらも塗り潰されて……その瞬間、「プロメティア」は死んだ。そこに残されたのは%CALLNAME:MASTER%を「%CSTR:対象キャラ:二人称%」と呼ぶ、この楽園の地の底へと堕ちたひとりの牝肉。
		KSTR:(K++) = だがきっとそれは幸せなことなのだろう。%CALLNAME:MASTER%に望まれるまま抱き潰され、それの子孫だけを産み落とす蜜壺へと成り果てて、将来への心配など一切なく──愛する新たな「夫」と、その血を継いだ子らに囲まれながら穏やかに過ごせるのだから……_H_
	ELSE
		KSTR:(K++) = 追加内容解放条件：伴侶陥落
	ENDIF
ELSE
	;デフォルト内容
	KSTR:(K++) = クラリスの母親にして、クラリスの家の現当主。カリオストロの妹の直系の血筋でもある。
	KSTR:(K++) = 普段は錬金術師の当主らしく真面目で、誰に対しても毅然とした振舞いで接することが多い。
	KSTR:(K++) = 実の娘であるクラリスに対しても厳しく接するが、内心はとても大切に想っているようだ。
	KSTR:(K++) = 　
	KSTR:(K++) = そんなプロメティアは娘の確かな成長も見届け、ふと手隙になったからか偶然目にしたリゾートのチラシに惹かれ、この地へと訪れたらしい。
	KSTR:(K++) = 真面目一辺倒であった彼女は綿密な将来設計を組み立て、計画的に夫と契りクラリスを産んだためか、まだハリのある肢体は未開発で清純なままであり、淫猥さの欠片も宿っていない。
	KSTR:(K++) = しかしリゾート中に漂う淫気によって僅かに生まれた隙を突き、その強固な心の殻を一枚一枚剥いでゆき丸裸にした後、そこにある「一番柔らかい部分」を蝕み蕩かし辱め穢しバラバラに壊してしまえば、きっと彼女は堕ちるだろう。
	KSTR:(K++) = その先にて手に入るのは、天才とも言うべきクラリスを宿した極上の母胎。錬金術の偉大なる開祖の妹、その血筋をまだたっぷりと孕んで産み落とせるであろう子宮だ。
	KSTR:(K++) = そして一度も異物の侵入を許したことのないそれを含めて全身余さず淫らに愛してあげれば、彼女も自ずと「愛」を返してくれるだろう。
	KSTR:(K++) = 　
	KSTR:(K++) = 真面目で堅物で初心な人間ほど容易く痴情に呑まれて理性を削ぎ落とされ、「牝」であることを自覚し肉欲に深く溺れてゆくのだから……_H_
ENDIF
