
;-------------------------------------------------
;古ぼけた装備再生
;-------------------------------------------------
@COMNAME_PLACE_383_1_11
#FUNCTION
TSTR:コマンド名受渡 = 古ぼけた装備再生
RETURNF 1

;===================================================
;コマンドタイプ
;===================================================
@COMTYPE_383_1_11
#FUNCTION
TFLAG:コマンドタイプ受渡 = COMTYPE("単独可能")

@COM_TOOLTIP_383_1_11
LOCALS = <br>■古ぼけた装備再生<br>
LOCALS += "古ぼけた指輪、または古ぼけた耳飾りを再生するコマンド。"
LOCALS += "<br>ランダムで新たな装備を手に入れることが出来る。"
LOCALS += "<br>古ぼけた装備のランクが高いほど良い装備が再生出来る。"
LOCALS += "<br>COMタイプ：単独可能<br>取得ソース：なし"
LOCALS += "<br>固有の取得経験：なし<br>"
TSTR:ツールチップ受渡 = %LOCALS%

@COM383_1_11

CALL 古ぼけた装備_再生処理

TIME += 60
RETURN 1

;-------------------------------------------------
;実行判定
;-------------------------------------------------
@COM_ABLE383_1_11
;条件に合う場合0（不許可）を返す
;どの条件にも引っかからないなら1（許可）を返す
;一括管理
SIF GLOBAL_COMABLE(383)
	RETURN RESULT
;隠密中はダメ
SIF CFLAG:PLAYER:隠密
	RETURN 0
RETURN 1

;-------------------------------------------------
;実行時メッセージ
;-------------------------------------------------
@MESSAGE_COM383_1_11



@古ぼけた装備_再生処理()
#DIMS HTML文字列
#DIM 改行数
#DIM 古指輪銅数
#DIM 古指輪銀数
#DIM 古指輪金数
#DIM 古耳飾り銅数
#DIM 古耳飾り銀数
#DIM 古耳飾り金数
#DIM CONST 銅ランク = 1
#DIM CONST 銀ランク = 3
#DIM CONST 金ランク = 5


古指輪銅数 = 素材アイテム数量算出("古ぼけた指輪・銅")
古指輪銀数 = 素材アイテム数量算出("古ぼけた指輪・銀")
古指輪金数 = 素材アイテム数量算出("古ぼけた指輪・金")
古耳飾り銅数 = 素材アイテム数量算出("古ぼけた耳飾り・銅")
古耳飾り銀数 = 素材アイテム数量算出("古ぼけた耳飾り・銀")
古耳飾り金数 = 素材アイテム数量算出("古ぼけた耳飾り・金")


DRAWLINE
PRINTL 古ぼけた装備を再生します。再生する古ぼけた装備を選択してください。
PRINTL ※再生後の装備ランク上限はストーリー進行度に応じて上昇します。
DRAWLINE

HTML文字列 = 
HTML文字列 += "<div rect='100,0,5662,1750' border='31' bcolor='#C0C0C0' padding='50,25,50'>"
HTML文字列 += "■指輪再生<br>"
IF 古指輪銅数 > 0
	HTML文字列 += @"　　<button value='0'>[0] 古ぼけた指輪・銅　　　✕{古指輪銅数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[0] 古ぼけた指輪・銅　　　✕{古指輪銅数, 3}　を再生する</font><br>"
ENDIF
IF 古指輪銀数 > 0
	HTML文字列 += @"　　<button value='1'>[1] 古ぼけた指輪・銀　　　✕{古指輪銀数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[1] 古ぼけた指輪・銀　　　✕{古指輪銀数, 3}　を再生する</font><br>"
ENDIF
IF 古指輪金数 > 0
	HTML文字列 += @"　　<button value='2'>[2] 古ぼけた指輪・金　　　✕{古指輪金数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[2] 古ぼけた指輪・金　　　✕{古指輪金数, 3}　を再生する</font><br>"
ENDIF
HTML文字列 += "<br>"
HTML文字列 += "■耳飾り再生<br>"
IF 古耳飾り銅数 > 0
	HTML文字列 += @"　　<button value='10'>[10] 古ぼけた耳飾り・銅　　　✕{古耳飾り銅数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[10] 古ぼけた耳飾り・銅　　　✕{古耳飾り銅数, 3}　を再生する</font><br>"
ENDIF
IF 古耳飾り銀数 > 0
	HTML文字列 += @"　　<button value='11'>[11] 古ぼけた耳飾り・銀　　　✕{古耳飾り銀数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[11] 古ぼけた耳飾り・銀　　　✕{古耳飾り銀数, 3}　を再生する</font><br>"
ENDIF
IF 古耳飾り金数 > 0
	HTML文字列 += @"　　<button value='12'>[12] 古ぼけた耳飾り・金　　　✕{古耳飾り金数, 3}　を再生する</button><br>"
ELSE
	HTML文字列 += @"　　<font color='#%カラーパレット_HTML("グレーアウト")%'>[12] 古ぼけた耳飾り・金　　　✕{古耳飾り金数, 3}　を再生する</font><br>"
ENDIF
HTML文字列 += "<br>"
HTML文字列 += "<br>"
HTML文字列 += "<button value='999'>[999] 戻る</button><br>"
HTML文字列 += "</div>"
HTML_PRINT HTML文字列
FOR 改行数, 0, 17
	PRINTL
NEXT

BINPUT
SELECTCASE RESULT
	CASE 0
		CALL 古ぼけた指輪抽選取得処理(銅ランク)
		CALL 素材消費処理("古ぼけた指輪・銅")
		PRINTW 古ぼけた指輪・銅の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 1
		CALL 古ぼけた指輪抽選取得処理(銀ランク)
		CALL 素材消費処理("古ぼけた指輪・銀")
		PRINTW 古ぼけた指輪・銀の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 2
		CALL 古ぼけた指輪抽選取得処理(金ランク)
		CALL 素材消費処理("古ぼけた指輪・金")
		PRINTW 古ぼけた指輪・金の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 10
		CALL 古ぼけた耳飾り抽選取得処理(銅ランク)
		CALL 素材消費処理("古ぼけた耳飾り・銅")
		PRINTW 古ぼけた耳飾り・銅の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 11
		CALL 古ぼけた耳飾り抽選取得処理(銀ランク)
		CALL 素材消費処理("古ぼけた耳飾り・銀")
		PRINTW 古ぼけた耳飾り・銀の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 12
		CALL 古ぼけた耳飾り抽選取得処理(金ランク)
		CALL 素材消費処理("古ぼけた耳飾り・金")
		PRINTW 古ぼけた耳飾り・金の再生中…………
		PRINTW ………
		PRINTW ……
		PRINTW …
		PRINTFORML %RESULTS% を手に入れた！
		FORCEWAIT
		RESTART
	CASE 999
		RETURN 0
ENDSELECT

