

@ZP_取得処理(キャラ番号, 取得基礎値, 表示するか = 0)
#DIM キャラ番号
#DIM 取得基礎値
#DIM ZP取得値
#DIM 表示するか

;あなたはZP算出しない
SIF キャラ番号 < 1
	RETURN 0

;キャラの素質などにより補正予定
ZP取得値 = 取得基礎値

SIF ZP取得値 < 0
	RETURN 0

SIF 表示するか
	PRINTFORML ZP: {FLAG:ZP所持量} + {ZP取得値}（%CALLNAME:キャラ番号%）= {FLAG:ZP所持量 + ZP取得値}

;ZP加算
RCVAR:キャラ番号:ZP取得量 += ZP取得値
RFLAG:ZP取得量 += ZP取得値
FLAG:ZP所持量 += ZP取得値

RETURN ZP取得値


@ZP_SHOP
DRAWLINE
PRINTL ■ZPショップへようこそ
PRINTFORML 所持ZP:{FLAG:ZP所持量}.{(ZP小数点以下所持量 % 1000) / 100}{(ZP小数点以下所持量 % 100) / 10}{(ZP小数点以下所持量 % 10)}
DRAWLINE
PRINTBUTTON "[0]特別な能力を得る", 0
PRINTL 
PRINTBUTTON "[1]特別なアイテムを得る", 1
PRINTL 
PRINTBUTTON "[2]特別なキャラを招待候補に加える", 2
PRINTL 
PRINTBUTTON "[3]キャラの素質を変化させる", 3
PRINTL 
PRINTBUTTON "[4]リゾート全体の環境を変化させる", 4
PRINTL 
PRINTL 
IF MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) > 0 && 居住区初来訪イベントフラグ
	PRINTBUTTON "[9]保育所の子供を成長させる", 9
	PRINTL 
	PRINTL
ENDIF
IF !FLAG:エンディング後フラグ
	PRINTBUTTON "[100]目標分のZPを献上する（エンディングへ）", 100
	PRINTL 
	PRINTL
ENDIF
PRINTBUTTONLC "[999]戻る", 999
PRINTBUTTONLC "[998]説明", 998
$INPUT_LOOP
INPUT

SELECTCASE RESULT
	CASE 0
		CALL ZP_SHOP_能力
		RESTART
	CASE 1
		CALL ZP_SHOP_アイテム
		RESTART
	CASE 2
		CALL ZP_SHOP_EXキャラ
		RESTART
	CASE 3
		CALL ZP_SHOP_素質変化
		RESTART
	CASE 4
		CALL ZP_SHOP_環境変化
		RESTART
	CASE 9
		IF MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) == 0 || !居住区初来訪イベントフラグ
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		CALL ZP_SHOP_子供成長
		RESTART
	CASE 100
		IF FLAG:エンディング後フラグ
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		CALL ZP_SHOP_汎用エンディング
		RESTART
	CASE 999
		RETURN 0
	CASE 998
		DRAWLINE
		PRINTL ZP（絶頂ポイント）を消費して特別な効果を得るためのショップです。
		PRINTL 任意のキャラが絶頂した際にZPを取得することが出来ます。（あなたの絶頂では取得出来ません）
		PRINTW お気に入りの相手をガンガン絶頂させてドンドンZPを手に入れましょう！
		RESTART
ENDSELECT

REUSELASTLINE 
GOTO INPUT_LOOP



@ZP_SHOP_アイテム
#DIM 危険日変動薬購入数
#DIM 鬼灯の香購入数

SIF 危険日変動薬購入数 < 1
	危険日変動薬購入数 = 1

SIF 鬼灯の香購入数 < 1
	鬼灯の香購入数 = 1

DRAWLINE
PRINTL ZPを消費し、特別なアイテムを入手できます。
PRINTL どのアイテムを購入しますか？
PRINTFORML 所持ZP:{FLAG:ZP所持量}
DRAWLINE
; PRINTBUTTON "[0]サプチケを購入する", 0
; PRINTL 　　　　　値段：20ZP
; PRINTL 　　　　　…任意のキャラを必ず招待するチケット。開発中Ver専用の特売品です。
; PRINTL 　　　　　　開発が進み、正規の入手手段が実装された段階でこの項目は削除されます。
; PRINTL
; PRINTBUTTON "[1]発情誘発剤を購入する", 1
; PRINTL 　　　　　値段：5ZP
; PRINTL 　　　　　…陥落済みのキャラに対して、即座に発情期を開始させる薬。消耗品。
; PRINTL 　　　　　　発情期が存在しないキャラに対しては使用出来ません。
; PRINTL
PRINTBUTTON "[-10]", 1
PRINTBUTTON "[-1]", 2
PRINT 　　
IF 危険日変動薬購入数 * 5 > FLAG:ZP所持量
	SETCOLOR カラーパレット("グレーアウト")
	PRINTPLAINFORM [0]危険日変動薬を{危険日変動薬購入数}個購入する
	RESETCOLOR
ELSE
	PRINTBUTTON @"[0]危険日変動薬を{危険日変動薬購入数}個購入する", 0
ENDIF
PRINT 　　
PRINTBUTTON "[+1]", 3
PRINTBUTTON "[+10]", 4
PRINTL
PRINTFORML 　　　　　値段：{危険日変動薬購入数 * 5}ZP
PRINTL 　　　　　…陥落済みのキャラに対して使用可能な、危険日を薬を服用した日に変化させる薬。消耗品。
PRINTL 　　　　　　発情期が存在するキャラの場合、発情期も変動する。
PRINTL
PRINTBUTTON "[-10]", 11
PRINTBUTTON "[-1]", 12
PRINT 　　
IF 鬼灯の香購入数 * 100 > FLAG:ZP所持量
	SETCOLOR カラーパレット("グレーアウト")
	PRINTPLAINFORM [10]鬼灯の香を{鬼灯の香購入数}個購入する
	RESETCOLOR
ELSE
	PRINTBUTTON @"[10]鬼灯の香を{鬼灯の香購入数}個購入する", 10
ENDIF
PRINT 　　
PRINTBUTTON "[+1]", 13
PRINTBUTTON "[+10]", 14
PRINTL
PRINTFORML 　　　　　値段：{鬼灯の香購入数 * 100}ZP
PRINTL 　　　　　…相手の認識をごまかす香りを放つ御香。消耗品。
PRINTL 　　　　　　マッサージ中に使用しておくと、理性の自動回復が無効になる。
PRINTL 　　　　　　また効果が十分に浸透した時、強く拒否されるような行為を実行出来るようになる。
PRINTL

PRINTBUTTON "[999]戻る", 999
$INPUT_LOOP
BINPUT

SELECTCASE RESULT
	; CASE 0
	; 	IF FLAG:ZP所持量 < 20
	; 		PRINTW ZPが足りません
	; 		RESTART
	; 	ENDIF
	; 	PRINTL 20ZPを支払い、サプチケを一枚取得しますか？
	; 	PRINTBUTTONLC "[0]はい", 0
	; 	PRINTBUTTONLC "[1]いいえ", 1
	; 	$INPUT_LOOP2
	; 	INPUT
	; 	SELECTCASE RESULT
	; 		CASE 0
	; 			FLAG:ZP所持量 -= 20
	; 			ITEM:サプチケ += 1
	; 			PRINTW サプチケを一枚購入しました。
	; 		CASE 1
	; 			RESTART
	; 		CASEELSE
	; 			REUSELASTLINE 
	; 			GOTO INPUT_LOOP2
	; 	ENDSELECT
	; CASE 1
	; 	IF FLAG:ZP所持量 < 5
	; 		PRINTW ZPが足りません
	; 		RESTART
	; 	ENDIF
	; 	PRINTL 5ZPを支払い、発情誘発剤を取得しますか？
	; 	PRINTBUTTONLC "[0]はい", 0
	; 	PRINTBUTTONLC "[1]いいえ", 1
	; 	INPUT
	; 	IF RESULT == 0
	; 		FLAG:ZP所持量 -= 5
	; 		ITEM:発情誘発剤 += 1
	; 		PRINTW 発情誘発剤を一回分購入しました。
	; 	ENDIF
	; 	RESTART
	CASE 1
		危険日変動薬購入数 -= 10
		RESTART
	CASE 2
		危険日変動薬購入数 -= 1
		RESTART
	CASE 0
		PRINTFORML {危険日変動薬購入数 * 5}ZPを支払い、危険日変動薬を{危険日変動薬購入数}個取得しますか？
		PRINTBUTTONLC "[0]はい", 0
		PRINTBUTTONLC "[1]いいえ", 1
		INPUT
		IF RESULT == 0
			FLAG:ZP所持量 -= 危険日変動薬購入数 * 5
			ITEM:危険日変動薬 += 危険日変動薬購入数
			PRINTFORMW 危険日変動薬を{危険日変動薬購入数}個購入しました。
		ENDIF
		危険日変動薬購入数 = 1
		RESTART
	CASE 3
		危険日変動薬購入数 += 1
		RESTART
	CASE 4
		危険日変動薬購入数 += 10
		RESTART
	CASE 11
		鬼灯の香購入数 -= 10
		RESTART
	CASE 12
		鬼灯の香購入数 -= 1
		RESTART
	CASE 10
		PRINTFORML {鬼灯の香購入数 * 100}ZPを支払い、鬼灯の香を{鬼灯の香購入数}個取得しますか？
		PRINTBUTTONLC "[0]はい", 0
		PRINTBUTTONLC "[1]いいえ", 1
		INPUT
		IF RESULT == 0
			FLAG:ZP所持量 -= 鬼灯の香購入数 * 100
			ITEM:鬼灯の香 += 鬼灯の香購入数
			PRINTFORMW 鬼灯の香を{鬼灯の香購入数}個購入しました。
		ENDIF
		鬼灯の香購入数 = 1
		RESTART
	CASE 13
		鬼灯の香購入数 += 1
		RESTART
	CASE 14
		鬼灯の香購入数 += 10
		RESTART
	CASE 999
		RETURN 0
ENDSELECT

@ZP_SHOP_環境変化
#DIM 妊娠期間変化値
#DIM フィールド期間変化値
#DIM 消費ZP

フィールド期間変化値 = 0
妊娠期間変化値 = 妊娠期間

DRAWLINE
PRINTL ZPを消費し、リゾート内の滞在者全員に特殊な影響を与えることができます。
PRINTL どの機能を導入しますか？
PRINTFORML 所持ZP:{FLAG:ZP所持量}
DRAWLINE
IF !OPTION変数:妊娠切り替え
	PRINTBUTTON "[0]妊娠期間を変動させる", 0
ELSE
	SETCOLOR 0x666666
	PRINTPLAINFORM [0]妊娠期間を変動させる
ENDIF
PRINTL 　　　　　値段：（変動させる日数×1）ZP
PRINTL 　　　　　…リゾート内において、子供を出産するまでにかかる時間を変動させます。
PRINTL
RESETCOLOR

;フィールド効果のONOFFを並べて表示
DRAWLINE
PRINTL フィールド効果一覧：
LOCALS =
消費ZP = 0
FOR LOCAL, 0, 50
	SIF ERDNAME(フィールド展開, LOCAL) == ""
		BREAK
	CALLFORM フィールド効果解説_%ERDNAME(フィールド展開, LOCAL)%
	LOCAL:1 = RESULT
	IF フィールド展開:LOCAL <= 0
		LOCALS += @"<button value='{LOCAL + 10}'>[{LOCAL + 10}] %ERDNAME(フィールド展開, LOCAL), 30, LEFT%："
		LOCALS += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>ON</font> / OFF"
	ELSE
		LOCALS += @"<font color='#%カラーパレット_HTML("えっちな色")%'>"
		LOCALS += @"<button value='{LOCAL + 10}'>[{LOCAL + 10}] %ERDNAME(フィールド展開, LOCAL), 30, LEFT%</font>："
		LOCALS += @"ON / <font color='#%カラーパレット_HTML("グレーアウト")%'>OFF</font>"
		消費ZP += LOCAL:1
	ENDIF
	LOCALS += @"　　　一日あたりの消費ZP：{LOCAL:1, 2} ZP<br>"
	LOCALS += @"　　　%REPLACE(TSTR:ツールチップ受渡, "<br>", "<br>　　　")%<br><br>"
	LOCALS += "</button>"
NEXT
HTML_PRINT LOCALS
PRINTFORML 現在の消費ZP / 1日 = {消費ZP, 3}ZP
PRINTL
PRINTL 
PRINTBUTTON "[999]戻る", 999
$INPUT_LOOP
BINPUT

SELECTCASE RESULT
	CASE 0
		$INPUT_BEFORE2
		PRINTFORML 妊娠期間として適用したい数値を入力してください。（現在の妊娠期間：{妊娠期間}日）
		PRINTBUTTON "[<< -10] ",-999
		PRINTBUTTON "[< -1] ",-998
		PRINTFORM  [{妊娠期間変化値}]決定  
		PRINTBUTTON "[+1 >] ",-997
		PRINTBUTTON "[+10 >>] " ,-996
		PRINTBUTTON "      [0]戻る", 0
		PRINTL
		$INPUT_LOOP2
		INPUT
		消費ZP = ABS(RESULT - 妊娠期間)
		IF RESULT == 0
			RESTART
		ELSEIF INRANGE(RESULT,-999,-996)
			SELECTCASE RESULT
				CASE -996
					妊娠期間変化値 += 10
				CASE -997
					妊娠期間変化値 += 1
				CASE -998
					妊娠期間変化値 -= 1
				CASE -999
					妊娠期間変化値 -= 10
			ENDSELECT
			CLEARLINE 3
			REUSELASTLINE 
			GOTO INPUT_BEFORE2
		ELSEIF RESULT < 0
			CLEARLINE 1
			REUSELASTLINE 0以下の値は指定できません
			GOTO INPUT_LOOP2
		ELSEIF 消費ZP > FLAG:ZP所持量
			CLEARLINE 1
			REUSELASTLINE ZPが足りません
			GOTO INPUT_LOOP2
		ELSEIF RESULT == 妊娠期間
			CLEARLINE 1
			REUSELASTLINE 今の妊娠期間と同じ値です
			GOTO INPUT_LOOP2
		ELSE
			妊娠期間変化値 = RESULT
			PRINTFORML {消費ZP}ZPを支払い、出産までにかかる期間を{妊娠期間}日から{妊娠期間変化値}日へと変動させますか？
			PRINTL （現状のキャラごとの妊娠の進行度は再計算され引き継がれますが、多少ずれる可能性があります）
			PRINTBUTTONLC "[0]はい", 0
			PRINTBUTTONLC "[1]いいえ", 1
			$INPUT_LOOP2_2
			INPUT
			SELECTCASE RESULT
				CASE 0
					FLAG:ZP所持量 -= 消費ZP
					FOR LOCAL,0,CHARANUM
						SIF CFLAG:LOCAL:妊娠経過日
							CFLAG:LOCAL:妊娠経過日 = CFLAG:LOCAL:妊娠経過日 * 妊娠期間変化値 / 妊娠期間
					NEXT
					妊娠期間 = 妊娠期間変化値
					PRINTFORMW 出産までにかかる期間を{妊娠期間}日へと変動させました。
					RESTART
				CASE 1
					GOTO INPUT_BEFORE2
				CASEELSE
					REUSELASTLINE 
					GOTO INPUT_LOOP2_2
			ENDSELECT
		ENDIF
	CASE 999
		SIF フィールド展開:エロ制服許可 == 0
			CALL 露出フィールド停止処理
		RETURN 0
	CASEELSE
		INVERTBIT フィールド展開:(RESULT - 10), 0
		RESTART
ENDSELECT

@露出フィールド停止処理
#DIMS 分割文字列配列, 2
#DIMS 制服一時配列, 100
;エロ制服を配列に登録
SPLIT 所持エロ衣装文字列, "_", 制服一時配列
FOR LOCAL, 0, 100
	SPLIT 制服一時配列:LOCAL, "/", 分割文字列配列
	RESULTS:LOCAL = %分割文字列配列:1%
NEXT

;従業員かつエロ制服だとなしにする
FOR LOCAL, 1, CHARANUM
	SIF TALENT:LOCAL:従業員 == 0
		CONTINUE
	IF MATCH(RESULTS, 現在制服:LOCAL:0)
		現在制服:LOCAL:0 = 
	ENDIF
NEXT
