*.lnk
emuera.config
*.log
debug/
dat/
/sav
*.sav
シナリオ展開案.txt
非共有ファイル/
*.zip
*.json
*.pdn
*.jpg
*.7z
*.code-workspace
profile
*.png
resources/リゾート背景
*.webp
resources/1360ロージャ/ロージャ立ち絵.txt
resources/1384良秀/プロンプトメモ.txt
resources/1389ドンキホーテ/ドンキ立ち絵.txt
