@EX定住者誘致
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM CONST 誘致補助金 = 120000
#DIM CONST 誘致必要ZP = 50
#DIMS 表示文字列
#DIMS 追加表示格納
#DIM 管理番号
#DIM 定住先部屋
#DIM 追加キャラナンバー
#DIMS 追加キャラ作品
#DIM 追加キャラ番号

;次の候補を確認する際にリセットしない処理群
;現状なし

$定住者候補_LOOP
DRAWLINE
PRINTFORML %NUM_FORMAT(誘致補助金)%ルピと{誘致必要ZP}ZPを消費して、本来ならばリゾートを訪れることのないランダムキャラを居住区エリアに誘致します。
PRINTFORML （所持ルピ：%NUM_FORMAT(MONEY)%，所持ZP：%ZP所持量全文字列()%）
IF MONEY < 誘致補助金
	PRINTL 所持金が足りません。
	DRAWLINE
	WAIT
	RETURN 0
ELSEIF FLAG:ZP所持量 < 誘致必要ZP
	PRINTL ZPが足りません。
	DRAWLINE
	WAIT
	RETURN 0
ELSE
	PRINTPLAIN [110] 別の候補を見る　を選んだ場合、前のキャラには戻れないので注意してください。
	PRINTL
	DRAWLINE
ENDIF

;左パネル (メニュー)
追加表示格納 '= "<button value='100'>[100] このキャラを誘致する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='110'>[110] 別の候補を見る</button>"
追加表示格納 += "<br>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='118'>[118] 名前を変更する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='999'>[999] 戻る</button>"
表示文字列 '= ランダムキャラ表示_左パネル(追加表示格納)

;キャラ生成処理
CALL ランダムキャラ生成準備開始(Ｒキャラ追加候補記録, 1)
管理番号 = RESULT

;EX定住者誘致固有の仕様
;元となる種を決定する
CALL EXキャラ誘致候補選定
追加キャラナンバー = RESULT:0
追加キャラ作品 '= RESULTS:0
IF 追加キャラナンバー < 0
	PRINTL 誰も誘致に応じなかった……
	DRAWLINE
	WAIT
	RETURN 0
ENDIF

;画像を作る際にイメージがばらけないよう、見た目関連の素質はCSVの値で固定する
;性別
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "性別", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "性別")))

;種族
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "種族", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "種族")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "特殊種族", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "特殊種族")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質0", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質0")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質1", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質1")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質2", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質2")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質3", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質3")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質4", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質4")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質5", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質5")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質6", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質6")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質7", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質7")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質8", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質8")))
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "固有素質9", CSVCSTR(追加キャラナンバー, GETNUM(CSTR, "固有素質9")))

;年齢層/外見年齢
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "年齢層", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "年齢層")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "外見年齢", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "外見年齢")))

;体型・体格・バストサイズ・男性器サイズ
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "体型", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "体型")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "体格", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "体格")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "バストサイズ", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "バストサイズ")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "男性器サイズ", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "男性器サイズ")))

;その他身体的特徴
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "尻尾あり", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "尻尾あり")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "角あり", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "角あり")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "エルーン耳", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "エルーン耳")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "ハーヴィン耳", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "ハーヴィン耳")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "毛皮", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "毛皮")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "脱衣不可", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "脱衣不可")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "妊娠不可", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "妊娠不可")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "髪の毛なし", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "髪の毛なし")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "射精不可", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "射精不可")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "飲食不可", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "飲食不可")))
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "体型固定", CSVTALENT(追加キャラナンバー, GETNUM(TALENT, "体型固定")))

;単独での移住になるため、交際状態はなしにする
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "恋人持ち", 0)
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "子持ち", 0)

;立ち絵フォルダ
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "汎用立ち絵登録文字列", @"そっくりさん設定_{追加キャラナンバー}%CSVCALLNAME(追加キャラナンバー)%")
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "フォルダ判定キー", @"%CSVCALLNAME(追加キャラナンバー)%")

;ランダムキャラ設定特有の仕様を関数で呼び出す
CALLFORM EXキャラ誘致特殊設定_%追加キャラ作品%(Ｒキャラ追加候補記録, 管理番号, 追加キャラナンバー)

;残りは標準設定でランダム生成実行
CALL ランダムキャラ生成(Ｒキャラ追加候補記録, 管理番号, CSVCALLNAME(追加キャラナンバー))

;メインパネル (キャラデータ表示処理)
表示文字列 += ランダムキャラ表示_メインパネル(Ｒキャラ追加候補記録, 管理番号)

$表示_LOOP
;上パネル (汎用立ち絵表示)
CALL ランダムキャラ表示_上パネル(Ｒキャラ追加候補記録, 管理番号, 0, 0)
追加表示格納 '= RESULTS

HTML_PRINT 追加表示格納
FOR LOCAL, 0, 10
	PRINTL
NEXT

HTML_PRINT 表示文字列
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
INPUT

SELECTCASE RESULT
	CASE 100
		定住先部屋 = -1
		FOR LOCAL, 0, 住宅街広さ()
			IF 定住者部屋割り配列:LOCAL == ""
				定住先部屋 = LOCAL
				BREAK
			ENDIF
		NEXT
		IF 定住先部屋 < 0
			PRINTW 居住区は現在満杯のようだ……
			RETURN 0
		ENDIF
		MONEY -= 誘致補助金
		FLAG:ZP所持量 -= 誘致必要ZP

		追加キャラ番号 = CHARANUM
		ADDCHARA 追加キャラナンバー
		CALL ランダムキャラデータ復元(Ｒキャラ追加候補記録, 追加キャラ番号, 管理番号)
		CALL ADD_PERSON_FROM_CHARA(追加キャラ番号)
		CALL コマンド存在チェック
		CALL キャラクター初期化(追加キャラ番号)

		TALENT:追加キャラ番号:定住者 = 1
		CFLAG:追加キャラ番号:滞在期間 = 999
		CFLAG:追加キャラ番号:招待不可フラグ = 0
		CALL ステータス記録_ランダムキャラデータベース(Ｒキャラ追加候補記録, 管理番号, CFLAG:追加キャラ番号:人物番号)
		定住者部屋割り配列:定住先部屋 += @"{追加キャラ番号}_"

		PRINTFORML %NAME:追加キャラ番号%を誘致しました！
		PRINTFORMW %CALLNAME:追加キャラ番号%は居住区エリアの住宅街で暮らし始めました
		RETURN 追加キャラ番号
	CASE 110
		GOTO 定住者候補_LOOP
	CASE 118
		CALL ランダムキャラ名前変更(Ｒキャラ追加候補記録, 管理番号)
		GOTO 表示_LOOP
	CASE 999
		RETURN 0
	CASEELSE
		GOTO INPUT_LOOP
ENDSELECT


@EXキャラ誘致条件確認
#DIM 誘致候補総数
#DIMS DYNAMIC 誘致候補, 10
#DIM ループ用
#DIMS 選定中作品

;誘致可能な作品が存在すれば1を、無ければ0を返す
VARSET RESULTS
誘致候補総数 = ENUMFUNCBEGINSWITH("EXキャラ誘致条件_")
SIF 誘致候補総数 > 10
	THROW EXキャラの誘致候補作品数が多すぎます。開発者に連絡し、要素数の拡張を依頼してください。
ARRAYCOPY "RESULTS", "誘致候補"

FOR ループ用, 0, 誘致候補総数
	CALLFORM %誘致候補:ループ用%
	SIF !RESULT
		CONTINUE
	選定中作品 '= SUBSTRINGU(誘致候補:ループ用, STRLENSU("EXキャラ誘致条件_"), -1)

	TRYCCALLFORM EXキャラ誘致候補_%選定中作品%
		;候補が存在すれば誘致OK
		SIF RESULT:1 > 0
			RETURN 1
	CATCH
	ENDCATCH
NEXT
RETURN 0


@EXキャラ誘致候補選定
#DIM 誘致候補総数
#DIMS DYNAMIC 誘致候補, 10
#DIM ループ用
#DIM 暫定候補数
#DIMS 選定中作品
#DIM 追加キャラナンバー
#DIMS 追加キャラ作品

;誘致キャラの元となるキャラのナンバーをRESULT:0に、作品をRESULTS:0にそれぞれ返す
追加キャラナンバー = -1
追加キャラ作品 '= ""
VARSET RESULTS
誘致候補総数 = ENUMFUNCBEGINSWITH("EXキャラ誘致条件_")
SIF 誘致候補総数 > 10
	THROW EXキャラの誘致候補作品数が多すぎます。開発者に連絡し、要素数の拡張を依頼してください。
ARRAYCOPY "RESULTS", "誘致候補"

暫定候補数 = 0
FOR ループ用, 0, 誘致候補総数
	CALLFORM %誘致候補:ループ用%
	SIF !RESULT
		CONTINUE
	選定中作品 '= SUBSTRINGU(誘致候補:ループ用, STRLENSU("EXキャラ誘致条件_"), -1)

	TRYCCALLFORM EXキャラ誘致候補_%選定中作品%
		IF RESULT:1 > 0 && RAND:(暫定候補数 + RESULT:1) >= 暫定候補数
			追加キャラナンバー = RESULT:0
			追加キャラ作品 '= 選定中作品
		ENDIF
		暫定候補数 += RESULT:1
	CATCH
	ENDCATCH
NEXT

RESULTS:0 '= 追加キャラ作品
RETURN 追加キャラナンバー
