@定住者誘致
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM CONST 誘致補助金 = 250000
#DIMS 表示文字列
#DIMS 追加表示格納
#DIM 特殊種族フラグ ; bit0=ワーウルフ
#DIM 管理番号
#DIM 定住先部屋
#DIM 同居人数
#DIM 追加キャラ番号, 6
#DIM 登録先管理番号, 6
#DIMS 同居人関係性, 6
#DIM MOTHER
#DIM FATHER
#DIM CHILDREN
#DIM CHILD_ID

IF MONEY < 誘致補助金
	DRAWLINE
	PRINTFORML %NUM_FORMAT(誘致補助金)%ルピを消費して、ランダムキャラを居住区エリアに誘致します（所持ルピ：%NUM_FORMAT(MONEY)%）。
	PRINTPLAIN 所持金が足りません。
	PRINTL
	DRAWLINE
	WAIT
	RETURN 0
ENDIF

;次の候補を確認する際にリセットしない処理群
;そっくりさん関連
SIF そっくりさん画像枚数_閾値 < 1
	そっくりさん画像枚数_閾値 = 10
SIF そっくりさんフラグ
	CALL ランダムキャラそっくりさん候補リスト作成

$定住者候補_LOOP

;キャラ生成処理
CALL ランダムキャラ生成準備開始(Ｒキャラ追加候補記録, 1)
管理番号 = RESULT

;定住者誘致固有の仕様：キャラ単体では特になし
;標準設定でランダム生成実行
CALL ランダムキャラ生成(Ｒキャラ追加候補記録, 管理番号)

;そっくりさん処理
IF そっくりさんフラグ && RAND:3 == 0
	CALL ランダムキャラそっくりさん適用(Ｒキャラ追加候補記録, 管理番号)
ENDIF

特殊種族フラグ = ランダムキャラ表示_特殊種族フラグ(Ｒキャラ追加候補記録, 管理番号)

CALL 定住者誘致_同居人生成(同居人関係性, 特殊種族フラグ)
同居人数 = RESULT
管理番号 = 1

$同居人表示_LOOP
DRAWLINE
PRINTFORML %NUM_FORMAT(誘致補助金)%ルピを消費して、ランダムキャラを居住区エリアに誘致します（所持ルピ：%NUM_FORMAT(MONEY)%）。
PRINTPLAIN [110] 別の候補を見る　を選んだ場合、前のキャラ群には戻れないので注意してください。
PRINTL
DRAWLINE

;左パネル (メニュー)
追加表示格納 '= "<button value='100'>[100] このキャラ群を誘致する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='110'>[110] 別の候補を見る</button>"
追加表示格納 += "<br>"
追加表示格納 += "<br>"
SIF 管理番号 >= 2
	追加表示格納 += "<button value='115'>[115] 前のキャラを見る</button>"
追加表示格納 += "<br>"
SIF 管理番号 < 同居人数
	追加表示格納 += "<button value='116'>[116] 次のキャラを見る</button>"
追加表示格納 += "<br>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='118'>[118] 名前を変更する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='120'>[120] 汎用立ち絵機能を切り替える</button>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='130'>[130] ワーウルフの立ち絵を変更する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='131'>[131] そっくりさん立ち絵を変更する</button>"
追加表示格納 += "<br>"
追加表示格納 += "<br>"
追加表示格納 += "<button value='999'>[999] 戻る</button>"
表示文字列 '= ランダムキャラ表示_左パネル(追加表示格納)

;メインパネル (キャラデータ表示処理)
表示文字列 += ランダムキャラ表示_メインパネル(Ｒキャラ追加候補記録, 管理番号)

$単体表示_LOOP
;上パネル (汎用立ち絵表示)
CALL ランダムキャラ表示_上パネル(Ｒキャラ追加候補記録, 管理番号, 特殊種族フラグ)
追加表示格納 '= RESULTS

HTML_PRINT 追加表示格納
FOR LOCAL, 0, 10
	PRINTL
NEXT

HTML_PRINT 表示文字列
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
INPUT

SELECTCASE RESULT
	CASE 100
		定住先部屋 = -1
		FOR LOCAL, 0, 住宅街広さ()
			IF 定住者部屋割り配列:LOCAL == ""
				定住先部屋 = LOCAL
				BREAK
			ENDIF
		NEXT
		IF 定住先部屋 < 0
			PRINTW 居住区は現在満杯のようだ……
			RETURN 0
		ENDIF
		MONEY -= 誘致補助金

		;まず全同居人を追加
		VARSET 追加キャラ番号, -1
		VARSET 登録先管理番号
		FOR 管理番号, 1, (同居人数 + 1)
			追加キャラ番号:管理番号 = CHARANUM
			ADDCHARA 999
			CALL ランダムキャラデータ復元(Ｒキャラ追加候補記録, 追加キャラ番号:管理番号, 管理番号)
			CALL ADD_PERSON_FROM_CHARA(追加キャラ番号:管理番号)

			TALENT:(追加キャラ番号:管理番号):定住者 = 1
			CFLAG:(追加キャラ番号:管理番号):滞在期間 = 999
			CFLAG:(追加キャラ番号:管理番号):招待不可フラグ = 0
			CALL ステータス記録_ランダムキャラデータベース(Ｒキャラ追加候補記録, 管理番号, CFLAG:(追加キャラ番号:管理番号):人物番号)
			登録先管理番号:管理番号 = RESULT

			定住者部屋割り配列:定住先部屋 += @"{追加キャラ番号:管理番号}_"
		NEXT
		;同居人関係のセット
		IF 同居人関係性:1 == "父"
			MOTHER = 0
			FATHER = 登録先管理番号:1
		ELSE
			MOTHER = 登録先管理番号:1
			FATHER = 0
		ENDIF
		CHILDREN = 1
		FOR 管理番号, 2, (同居人数 + 1)
			SELECTCASE 同居人関係性:管理番号
				CASE "父"
					CALL ランダムキャラデータ_SETS(, 登録先管理番号:1, "初期関係性", 登録先管理番号:管理番号, "恋慕")
					FATHER = 登録先管理番号:管理番号
				CASE "母"
					CALL ランダムキャラデータ_SETS(, 登録先管理番号:1, "初期関係性", 登録先管理番号:管理番号, "恋慕")
					MOTHER = 登録先管理番号:管理番号
				; CASE "セフレ"
				; 	CALL ランダムキャラデータ_SETS(, 登録先管理番号:1, "初期関係性", 登録先管理番号:管理番号, "セフレ")
				CASE "子"
					SIF MOTHER > 0
						CALL ランダムキャラデータ_SET(, 登録先管理番号:管理番号, "出生", ランダムキャラ出生_母, MOTHER)
					SIF FATHER > 0
						CALL ランダムキャラデータ_SET(, 登録先管理番号:管理番号, "出生", ランダムキャラ出生_父, FATHER)
					CALL ランダムキャラデータ_SET(, 登録先管理番号:管理番号, "出生", ランダムキャラ出生_出生順, CHILDREN * -1)
					CHILDREN ++
					FOR LOCAL, 1, 管理番号
						SELECTCASE 同居人関係性:LOCAL
							CASE "父", "母"
								CALL ランダムキャラデータ_SET(, 登録先管理番号:LOCAL, "同行候補キャラ", 登録先管理番号:管理番号, 50)
							CASE "子"
								CALL ランダムキャラデータ_SET(, 登録先管理番号:LOCAL, "同行候補キャラ", 登録先管理番号:管理番号, 30)
								CALL ランダムキャラデータ_SET(, 登録先管理番号:管理番号, "同行候補キャラ", 登録先管理番号:LOCAL, 30)
						ENDSELECT
					NEXT
			ENDSELECT
		NEXT
		;その後もろもろを初期化
		CALL コマンド存在チェック
		FOR 管理番号, 1, (同居人数 + 1)
			CALL キャラクター初期化(追加キャラ番号:管理番号)
		NEXT

		PRINTFORML %NAME:(追加キャラ番号:1)%\@ (同居人数 >= 2) ? たち # \@を誘致しました！
		PRINTFORMW %CALLNAME:(追加キャラ番号:1)%\@ (同居人数 >= 2) ? たち # \@は居住区エリアの住宅街で暮らし始めました
		RETURN 同居人数
	CASE 110
		GOTO 定住者候補_LOOP
	CASE 115
		管理番号 --
		GOTO 同居人表示_LOOP
	CASE 116
		管理番号 ++
		GOTO 同居人表示_LOOP
	CASE 118
		CALL ランダムキャラ名前変更(Ｒキャラ追加候補記録, 管理番号)
		GOTO 同居人表示_LOOP
	CASE 120
		INVERTBIT OPTION変数:汎用立ち絵制御, 0
		GOTO 単体表示_LOOP
	CASE 130
		INVERTBIT OPTION変数:ワーウルフ画像ケモ度, 0
		;今の候補にワーウルフが含まれるなら即時適用
		IF GETBIT(特殊種族フラグ, 0)
			FOR LOCAL, 1, (同居人数 + 1)
				CALL ランダムキャラ画像キー再選択(Ｒキャラ追加候補記録, LOCAL)
			NEXT
		ENDIF
		GOTO 単体表示_LOOP
	CASE 131
		CALL ランダムキャラそっくりさん設定
		GOTO 単体表示_LOOP
	CASE 999
		RETURN 0
	CASEELSE
		GOTO INPUT_LOOP
ENDSELECT


@定住者誘致_同居人生成(同居人関係性, 特殊種族フラグ)
#DIMS REF 同居人関係性, 0
#DIM REF 特殊種族フラグ ; bit0=ワーウルフ
#DIM 同居人数
#DIM Ｒキャラ種族
#DIMS Ｒキャラ特殊種族
#DIM Ｒキャラ性別
#DIM Ｒキャラ経験済フラグ ;bit0=非童貞, bit1=V経験済, bit2=A経験済
#DIM Ｒキャラ年齢層
#DIM Ｒキャラ外見年齢
#DIM 配偶者あり ;0=なし, 1=恋人, 2=夫婦
#DIM 子供あり ;-1=未確定, 0=なし, 1～=人数
#DIM 配偶者性別
#DIM 配偶者年齢層
#DIM 配偶者外見年齢
#DIM 母親年齢層
#DIM 子供年齢層, 3
#DIM ループ用

VARSET 同居人関係性, ""
同居人数 = 1

;まず生成されたキャラのプロフィールを確認１
;種族
Ｒキャラ種族 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "種族")
Ｒキャラ特殊種族 '= ランダムキャラデータ_GETS_B(Ｒキャラ追加候補記録, 同居人数, "CSTR", "特殊種族")

;性別
Ｒキャラ性別 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "性別")

Ｒキャラ経験済フラグ = 0
;処女
SIF ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "処女") != 1
	SETBIT Ｒキャラ経験済フラグ, 1
;童貞
SIF ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "非童貞") != 0
	SETBIT Ｒキャラ経験済フラグ, 0
;Ａ処女
SIF ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "Ａ処女") != 1
	SETBIT Ｒキャラ経験済フラグ, 2

;出産経験をチェック
子供あり = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "経験", "出産経験")
IF 子供あり > 0
	;出産経験あり＝自分が子供を産んだ＝母側確定
	同居人関係性:同居人数 '= "母"
	配偶者性別 = 2
ELSE
	;性別からキャラが母側か父側か決める
	SELECTCASE Ｒキャラ性別
		CASE 1
			;女なら母側
			同居人関係性:同居人数 '= "母"
			配偶者性別 = 2
		CASE 2
			;男なら父側
			同居人関係性:同居人数 '= "父"
			配偶者性別 = 1
		CASEELSE
			;ふたなりは処女・非童貞による
			IF !GETBIT(Ｒキャラ経験済フラグ, 1) && GETBIT(Ｒキャラ経験済フラグ, 0)
				;処女かつ非童貞なら父側
				同居人関係性:同居人数 '= "父"
				配偶者性別 = 1
			ELSE
				;それ以外は母側(ふたなりは基本女性扱いなので)
				同居人関係性:同居人数 '= "母"
				配偶者性別 = 2
			ENDIF
	ENDSELECT

	IF 同居人関係性:同居人数 == "父"
		;父側なら子供人数は未確定
		子供あり = -1
	ELSE
		;母側で出産経験なし＝子供人数は0人確定
		子供あり = 0
	ENDIF
ENDIF

;恋人持ちをチェック
SELECTCASE ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "恋人持ち")
	CASE 1
		;恋人持ちはこれを機に同棲を始める
		;(つまり従業員雇用に現れて住み込みで働く恋人持ちは遠距離恋愛……）
		配偶者あり = 1

		;子供人数の決定は配偶者の生成に任せる
	CASE 2
		;既婚者 配偶者がいる
		配偶者あり = 2

		;子供人数の決定は配偶者の生成に任せる
	CASE 3
		;未亡人(男やもめ) 配偶者はいない
		配偶者あり = 0

		;子供の人数が未確定(=父子家庭)ならここで決める
		SIF 子供あり < 0
			子供あり = ランダム子供人数(3, Ｒキャラ種族, Ｒキャラ特殊種族)
	CASEELSE
		;それ以外に配偶者はいない
		配偶者あり = 0

		;子供の人数が未確定なら0人
		SIF 子供あり < 0
			子供あり = 0
ENDSELECT

;配偶者なし、子供なしなら単身なので何も生成せず終わる
SIF 配偶者あり == 0 && 子供あり == 0
	RETURN 同居人数

;生成されたキャラのプロフィールを確認２
;年齢
Ｒキャラ年齢層 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "年齢層")
Ｒキャラ外見年齢 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "外見年齢")

;配偶者の年齢を決める(子供生成の関係上、生成しなくても年齢は必ず決める)
;最初に生成されたキャラに近い年齢になる
SELECTCASE Ｒキャラ年齢層
	CASE 年齢層_幼い, 年齢層_若い
		;幼い～若い 基本一致、たまに……
		IF RAND:3
			配偶者年齢層 = Ｒキャラ年齢層
		ELSE
			配偶者年齢層 = RAND(年齢層_幼い, 年齢層_壮年 + 1)
		ENDIF
	CASE 年齢層_成人, 年齢層_壮年
		;成人・壮年 基本一致、たまに大人
		IF RAND:4
			配偶者年齢層 = Ｒキャラ年齢層
		ELSE
			配偶者年齢層 = 年齢層_大人
		ENDIF
	CASE 年齢層_中年 TO 年齢層_人外
		;中年～人外 一致させる
		配偶者年齢層 = Ｒキャラ年齢層
	CASEELSE
		;大人 基本一致、たまに±1
		;年齢不詳・未設定は大人として扱う
		IF RAND:2
			配偶者年齢層 = 年齢層_大人
		ELSE
			配偶者年齢層 = 年齢層_大人 + RAND:3 - 1
		ENDIF
ENDSELECT
IF Ｒキャラ外見年齢 && 配偶者年齢層 > 年齢層_幼い
	;外見年齢があるなら配偶者にもある
	配偶者外見年齢 = RAND(年齢層_幼い, MIN(配偶者年齢層, 年齢層_大人 + 1))
ELSE
	配偶者外見年齢 = 0
ENDIF

;Ｒキャラ年齢層と配偶者年齢層のどちらかが母親の年齢層なので、関係性から求める
IF 同居人関係性:同居人数 == "父"
	母親年齢層 = 配偶者年齢層

	;配偶者ありなら配偶者を生成する
	IF 配偶者あり
		CALL 定住者誘致_同居人生成_配偶者(配偶者あり, 1, Ｒキャラ種族, Ｒキャラ特殊種族, 配偶者年齢層, 配偶者外見年齢, Ｒキャラ経験済フラグ)
		IF RESULT > 0
			同居人数 = RESULT
			同居人関係性:同居人数 '= "母"
			特殊種族フラグ |= ランダムキャラ表示_特殊種族フラグ(Ｒキャラ追加候補記録, 同居人数)
			配偶者性別 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "性別")
			;子供人数が確定
			SIF 子供あり < 0
				子供あり = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "経験", "出産経験")
		ELSE
			;配偶者生成不能
			;子供人数を確定させる
			SIF 子供あり < 0
				子供あり = ランダム子供人数(3, Ｒキャラ種族, Ｒキャラ特殊種族)
		ENDIF
	ENDIF
ELSE
	母親年齢層 = Ｒキャラ年齢層

	;配偶者ありなら配偶者を生成する
	IF 配偶者あり
		CALL 定住者誘致_同居人生成_配偶者(配偶者あり, 2, Ｒキャラ種族, Ｒキャラ特殊種族, 配偶者年齢層, 配偶者外見年齢, Ｒキャラ経験済フラグ)
		IF RESULT > 0
			同居人数 = RESULT
			同居人関係性:同居人数 '= "父"
			特殊種族フラグ |= ランダムキャラ表示_特殊種族フラグ(Ｒキャラ追加候補記録, 同居人数)
			配偶者性別 = ランダムキャラデータ_GET_B(Ｒキャラ追加候補記録, 同居人数, "素質", "性別")
		ELSE
			;配偶者生成不能
			;単にスキップ
		ENDIF
	ENDIF
ENDIF

;子供なしならここで終わる
SIF 子供あり <= 0
	RETURN 同居人数

;母親の年齢層が幼い～成人の場合、子供は乳幼児になり、キャラにできないためここで終わり
SIF INRANGE(母親年齢層, 年齢層_幼い, 年齢層_成人)
	RETURN 同居人数

;子供を生成する
;まず年齢を決める
VARSET 子供年齢層, 0
FOR ループ用, 0, 子供あり
	SELECTCASE 母親年齢層
		CASE 年齢層_壮年
			;壮年 幼い～成人(若いが多い)
			IF RAND:3
				子供年齢層:ループ用 = 年齢層_若い
			ELSEIF RAND:2
				子供年齢層:ループ用 = 年齢層_成人
			ELSE
				子供年齢層:ループ用 = 年齢層_幼い
			ENDIF
		CASE 年齢層_中年
			;中年 成人or大人(大人が多い)
			IF RAND:3
				子供年齢層:ループ用 = 年齢層_大人
			ELSE
				子供年齢層:ループ用 = 年齢層_成人
			ENDIF
		CASE 年齢層_老年, 年齢層_人外
			;老年～人外 大人のみ
			子供年齢層:ループ用 = 年齢層_大人
		CASEELSE
			;大人 幼いのみ
			;年齢不詳・未設定は大人として扱う
			子供年齢層:ループ用 = 年齢層_幼い
	ENDSELECT
NEXT
;年齢高い順に並び替える
ARRAYSORT 子供年齢層, BACK, 0, 子供あり

;子供を生成する
FOR ループ用, 0, 子供あり
	CALL 定住者誘致_同居人生成_子(Ｒキャラ性別, 配偶者性別, Ｒキャラ種族, Ｒキャラ特殊種族, 子供年齢層:ループ用)
	同居人数 = RESULT
	同居人関係性:同居人数 '= "子"
	特殊種族フラグ |= ランダムキャラ表示_特殊種族フラグ(Ｒキャラ追加候補記録, 同居人数)
NEXT

RETURN 同居人数


@定住者誘致_同居人生成_配偶者(恋人持ち, 性別, 種族, 特殊種族, 年齢層, 外見年齢, 元キャラ経験済フラグ)
#DIM 恋人持ち
#DIM 性別
#DIM 種族
#DIMS 特殊種族
#DIM 年齢層
#DIM 外見年齢
#DIM 元キャラ経験済フラグ ;bit0=非童貞, bit1=V経験済, bit2=A経験済
#DIM 管理番号

;指定された性別をキャラとして生成できるか確認 できなければ生成スキップ
IF 性別 == 2
	IF GETBIT(OPTION変数:性別招待制御, 1)
		IF GETBIT(OPTION変数:性別招待制御, 2) || 素質切り替えOPTION記憶:ふたなり_女性
			RETURN 0
		ELSE
			性別 = 3
		ENDIF
	ENDIF
ELSE
	IF GETBIT(OPTION変数:性別招待制御, 0)
		IF GETBIT(OPTION変数:性別招待制御, 2) || 素質切り替えOPTION記憶:ふたなり_女性
			RETURN 0
		ELSE
			性別 = 3
		ENDIF
	ENDIF
ENDIF

;キャラ生成処理(データベースはリセットしない)
CALL ランダムキャラ生成準備開始(Ｒキャラ追加候補記録, 0)
管理番号 = RESULT

;配偶者固有の仕様
;性別：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "性別", 性別)

;種族：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "種族", 種族)
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "特殊種族", 特殊種族)

;年齢層/外見年齢：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "年齢層", 年齢層)
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "外見年齢", 外見年齢)

;交際状態：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "恋人持ち", 恋人持ち)

;未経験：元キャラ経験済フラグに対応
IF GETBIT(性別, 0)
	;元キャラが非童貞なら非処女固定
	SIF GETBIT(元キャラ経験済フラグ, 0)
		CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "処女", 0)
ENDIF
IF GETBIT(性別, 1)
	;元キャラがV経験済なら非童貞固定
	IF GETBIT(元キャラ経験済フラグ, 1)
		IF GETBIT(元キャラ経験済フラグ, 2)
			;A性交も経験済
			CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "非童貞", 3)
		ELSE
			CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "非童貞", 1)
		ENDIF
	ENDIF
ENDIF

;残りは標準設定でランダム生成実行
CALL ランダムキャラ生成(Ｒキャラ追加候補記録, 管理番号)

;そっくりさんは最初に生成されるキャラにしか発生しない

RETURN 管理番号


@定住者誘致_同居人生成_子(性別:0, 性別:1, 種族, 特殊種族, 年齢層)
#DIM 性別, 2
#DIM 種族
#DIMS 特殊種族
#DIM 年齢層
#DIM 管理番号

;指定された性別:1をキャラとして生成できるか確認 できなければ性別:0と同じにする
;性別:0は最初に生成されたキャラと同じ性別のため必ず生成できるはず
SELECTCASE 性別:1
	CASE 1
		SIF GETBIT(OPTION変数:性別招待制御, 0)
			性別:1 = 性別:0
	CASE 2
		SIF GETBIT(OPTION変数:性別招待制御, 1)
			性別:1 = 性別:0
	CASE 3
		SIF GETBIT(OPTION変数:性別招待制御, 2) || 素質切り替えOPTION記憶:ふたなり_女性
			性別:1 = 性別:0
	CASEELSE
		SIF GETBIT(OPTION変数:性別招待制御, 3)
			性別:1 = 性別:0
ENDSELECT

;キャラ生成処理(データベースはリセットしない)
CALL ランダムキャラ生成準備開始(Ｒキャラ追加候補記録, 0)
管理番号 = RESULT

;子特有の仕様１
;性別：親の性別のいずれか
SIF RAND:2
	SWAP 性別:0, 性別:1
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "性別", 性別:0)

;種族：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "種族", 種族)
CALL ランダムキャラデータ_SETS_B(Ｒキャラ追加候補記録, 管理番号, "CSTR", "特殊種族", 特殊種族)

;年齢層/外見年齢：固定
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "年齢層", 年齢層)
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "外見年齢", 0)

;交際状態：なし
;三世帯キャラ生成はさすがに無理です……
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "恋人持ち", 0)
CALL ランダムキャラデータ_SET_B(Ｒキャラ追加候補記録, 管理番号, "素質", "子持ち", 0)

;残りは標準設定でランダム生成実行
CALL ランダムキャラ生成(Ｒキャラ追加候補記録, 管理番号)

;そっくりさんは最初に生成されるキャラにしか発生しない

RETURN 管理番号
