@定住者管理メニュー処理
#LOCALSIZE 1
#LOCALSSIZE 1

SIF !開拓エリア解放フラグ:0 || MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) <= 0
	RETURN 0

DRAWLINE
PRINTL 居住区エリアの定住者の管理を行えます。
DRAWLINE
LOCALS '= "<div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='156,156,1937,2812'>"
IF 定住エリア満杯()
	LOCALS += "<font color='#666666'>[---] 居住区は満杯です</font>"
ELSE
	LOCALS += "<button value='100'>[100] 新しい住人を誘致する</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<button value='130'>[130] 住宅街エリアの管理</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='998'>[998] システムの説明</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

IF チュートリアルフラグ:定住者管理 == 0
	RESULT = 998
ELSE
	BINPUT
ENDIF
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 定住者誘致
	CASE 130
		CALL 居住区管理メニュー
	CASE 998
		CALL 定住者管理チュートリアル()
	CASE 999
		RETURN 0
ENDSELECT

RESTART
