大文字小文字の違いを無視する:YES
_Rename.csvを利用する:YES
_Replace.csvを利用する:YES
サブディレクトリを検索する:YES
読み込み順をファイル名順にソートする:YES
システム関数の上書きを許可する:NO
システム関数が上書きされたとき警告を表示する:YES
全角スペースをホワイトスペースに含める:NO
FORM中の三連記号を展開しない:YES
セーブデータをバイナリ形式で保存する:YES
セーブデータをUTF-8で保存する:YES
ONEINPUT系命令でマウスによる2文字以上の入力を許可する:NO
キャラクタ変数の引数を補完しない:NO
UPDATECHECKを許可しない:YES
ERD機能を利用する:YES
VARSIZEの次元指定をERD機能に合わせる:NO
LOADTEXTとSAVETEXTで使える拡張子:txt
解釈不可能な行があっても実行する:NO
CALLNAMEが空文字列の時にNAMEを代入する:NO
擬似変数RANDの仕様をeramakerに合わせる:NO
TIMESの計算をeramakerにあわせる:NO
関数・属性については大文字小文字を無視しない:NO
イベント関数のCALLを許可する:NO
SPキャラを使用する:NO
VER1739以前の非ボタン折り返しを再現する:NO
ユーザー関数の全ての引数の省略を許可する:NO
ユーザー関数の引数に自動的にTOSTRを補完する:NO
マウスを使用する:YES
eramaker互換性に関する警告を表示する:NO
履歴ログの行数:500
