

@マップ紹介_20
;とりあえず5行
PRINTFORML ※紹介文募集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_20(AA)
#DIMS REF AA, 0
#DIM MAP
VARSET LOCALS

MAP = 0
IF 施設改造度:20:0 == 2
	AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
	AA:(MAP++) = ┌─────────┬──┬───┬───────┐　　　┌─────────┬──┬───┬───────┐
	AA:(MAP++) = │　　　　　　　　　│　　├──↑┤　　　　　　　│　　　│　　　　　　　　　│　　├──↓┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│03　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│13　├─┼─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│　　├─┼─┤シャワールーム│
	AA:(MAP++) = │　　　　04　　　　├　　┴─┘　│　　　　　　　　　　　│　　　　　　　　　├　　┘　└─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　01　　　10→　　│　　　　11　　　　│　　　　　　├─────　─┤
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　　　　　　　　　│　　　　　　　　　│　　　　　　│　　　　　　　│
	AA:(MAP++) = ├─────　　　─┴───　　─┼───────┤　　　│　　　　　　　　　　　　　┌──┘　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　│　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　07　　　│　　　├─────────┤　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　┌─┐　　　├　　─────┤　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　05　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　20　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　12　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　06　│　　　08　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　┌──────┴─┴──┬┴───────┤　　　├─────────┴　┬　┴──────────┤
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　16　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　17　　　│　　　│　　　　14　　　　　　│　　　　　15　　　　　　│
	AA:(MAP++) = │　　　│　　　　　　　　　　　│　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　└　──────────┤　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　　　│　　　　　　　　　　　　│
	AA:(MAP++) = └──　　　　　─────────────────┘　　　└───────────┴────────────┘
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　09　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
ELSEIF 施設改造度:20:0 == 3 ;43 Spaces　　◯ ┌ ┐ └ ┘ ─ │ ┴ ┬ ├ ┼ ┤ ← →

; 
;１Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
;┌──────┬────┬──────┬─┬───┬────────┬──────┐┬┌───────┬─────┬────────┬───────┬─┬───┬───┐
;│──────│────│──────│─│───│────────│──────│┬│───────│─────│────────│───────│││───└──┐│
;│──────│────│──────│─────│───04───│──────│┬│───────│─13──│────────│───────││┘──────││
;│──23──│────│──24──│─│───│────────│──────│┬│──11───├─││──┤───31───│──32───│────────└┤
;│──────│────│──────├┬┘───└────────┤──27──│┬│───────│─────│────────│───────│─────────│
;│──────│────│──────││─06──────────│──────│┬│───────│─────│────────│──────┌┴─││───┬││┤
;├──────┤────├──────┤└──────┐──────│──────│┬├───────┤─────├─┬─────┬┼──────┤───────│┘┘│
;│──────│────│──────├───────┤──────└──────┤┬│───────│─────│─│─────││──────│───────│┘┘│
;│──────│────│──────│───────├┬┬───────────│┬│───────│─────│─└──┐──││─┌┬┬┬─│───────│┘┘│
;│──22──│────│──25──│───────│←│──────────┌┤┬│──12───│─────└────┘──└┘─│→││─│───────│┘┘│
;│──────│────│──────│──26───│├┼┬─────────10→│───────│────────────────│├┼┴─│──20───│┘┘│
;│──────│────│──────│───────││││──01───────┬│───────│───┌────────┐───│││──│───────└┐┘│
;├───┬──┘────└──────┴───────┴┴┴┘─────────└┤┬├───────┤───└────────┘───└┴┴──│────┌──┬┼┘│
;│─03─────────────────────────────────────│┬│───────│─────────────────────│────│──││┘│
;├───┴───┐───┌────┐─────────────────────┌↑┤┬│───────│─────────────────────│────└──┴┼↓┤
;│───────│───└───┐│───┌─┬─┬─┬─┬─┬───────┼─┤┬│──14───│────┌───┐──┌───┐─────┴┬───────┼─┤
;│──21───│───────└┘─┌─┘─│─│─│─│─│───────├─┤┬│───────│────│┌┬─┘──└─┬┐│──────│───────├─┤
;│───────│─┌┐─────────07────────│──08───└─┤┬│───────│────└┴┘─┌──┐─└┴┘──────│──08───└─┤
;│───────│─│└───┐───├─┐─┌─────┐─├┐──┌─────┤┬├───────┤────────│┌┐│──────────├┐──┌─────┤
;├───────┤─└────┘───│─│─└─────┘─────│┌────┤┬│───────│────────│└┘│──────────│───│┌────┤
;│───────│─────05───│─│─────────────││────│┬│───────│────┌┬┐─└──┘─┌┬┐──────│───││────│
;│──19───│─┌──┐─────└┬┴───────┬─┴┘──││─..─│┬│──15───│────│└┴─┐──┌─┴┘│────┬─┴┘──││─..─│
;│───────│─│┌┬┘─┌─┐──│────────│┌────┘│────│┬│───────│────└───┘──└───┘────│┌────┘│────│
;│───────│─│││──│─│──│───17───││┌────┘─..─│┬│───────│────────────────────││┌────┘─..─│
;├───────┤─│├┘──└─┘──│────────│││─────────│┬├───────┴──┬────────┬────────┤││─────────│
;│───────│─└┘────────├────────┤││─..──..──│┬│──────────│────────│────────│││─..──..──│
;│──18───│───────────│────────│││─────────│┬│────28────│───29───│───30───│││─────────│
;│───────│───────────│───16───│││──..──..─│┬│──────────│────────│────────│││──..──..─│
;│───────│───┌│││┐───│────────│││─────────│┬│──────────│────────│────────│││─────────│
;└───────┴───┴│││┴───┴────────┴┴┴─────────┘┬└──────────┴────────┴────────┴┴┴─────────┘
;＊　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　＊
;＊　　　　　　　　　　　　　09　　　　　　　　　　　　　　　　　　　　　　　　　　＊
;＊　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　＊
;＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

	AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
	AA:(MAP++) = ┌──────┬────┬──────┬─┬───┬────────┬──────┐　┌───────┬─────┬────────┬───────┬─┬───┬───┐
	AA:(MAP++) = │　　　　　　　　　　　│　　　　　　│　│　　　│　　　　　　　　│　　　　　　│　│　　　　　　　│　　　　　│　　　　　　　　│　　　　　　　│◯│　　　└──┐│
	AA:(MAP++) = │　　　　　　　　　　　│　　　　　　│　　　　　│　　　04　　　　│　　　　　　│　│　　　　　　　│　13　　　│　　　　　　　　│　　　　　　　│　┘　　　　　　││
	AA:(MAP++) = │　　23　　　│　　　　│　　24　　　│　│　　　│　　　　　　　　│　　　　　　│　│　　11　　　　├─　　──┤　　　31　　　　│　　32　　　　│　　　　　　　　└┤
	AA:(MAP++) = │　　　　　　│　　　　　　　　　　　├┬┘　　　└────　　──┤　　27　　　│　│　　　　　　　　　　　　　　　　　　　　　　│　　　　　　　│　　　　　　　　　│
	AA:(MAP++) = │　　　　　　│　　　　　　　　　　　││　06　　　　　　　　　　　│　　　　　　│　│　　　　　　　　　　　　　　　　　　　　　　│　　　　　　┌┴─　　───┬　　┤
	AA:(MAP++) = ├──────┤　　　　├──────┤└──────┐　　　　　　│　　　　　　│　├───────┤　　　　　├─┬─────┬┼──　　──┤　　　　　　　│＊　│
	AA:(MAP++) = │　　　　　　　　　　　│　　　　　　├───────┤　　　　　　└───　　─┤　│　　　　　　　│　　　　　│─│◯◯　　　││　　　　　　│　　　　　　　│＊　│
	AA:(MAP++) = │　　　　　　　　　　　│　　　　　　│　　　　　　　├┬┬─　　　　　　　　　　│　│　　　　　　　　　　　　　│─└──┐　　││　┌┬┬┬　│　　　　　　　│＊　│
	AA:(MAP++) = │　　22　　　│　　　　│　　25　　　│　　　　　　　│←│　　　　　　　　　　┌┤　│　　12　　　　　　　　　　└────┘　　└┘　│→││　│　　　　　　　│＊　│
	AA:(MAP++) = │　　　　　　│　　　　　　　　　　　│　　26　　　　│├┼┬　　　　　　　　　10→　│　　　　　　　│　　　　　　　　　　　　　　　　│├┼┴　│　　　20　　　│＊　│
	AA:(MAP++) = │　　　　　　│　　　　　　　　　　　│　　　　　　　││││　　01　　　　　　　　　│　　　　　　　│　　　┌─────────┐　　│││　　│　　　　　　　└┐　│
	AA:(MAP++) = ├───┬──┘　　　　└──────┴──　　───┴┴┴┘　　　　　　　　　└┤　├───────┤　　　└─────────┘　　└┴┴─　│　　　　┌──┬┤　│
	AA:(MAP++) = │　03　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│　│　　　　　　　│　　　　　◯　◯　◯　◯　　　　　　　　　　　　　　│──││　│
	AA:(MAP++) = ├───┴───┐　　　┌────┐　　　　　　　　　　　　　　　　　　　　　┌↑┤　│　　　　　　　│　　　　　　　　　　　　　　　　　　　　　　　　　　└──┴┼↓┤
	AA:(MAP++) = │　　　　　　　│　　　└───┐│　　　┌─┬─┬─┬─┬─┬───────┼─┤　│　　14　　　　　　　　　┌───┐　　┌───┐　　　　　└┬───────┼─┤
	AA:(MAP++) = │　　21　　　　　　　　　　　　└┘　┌─┘　│　│　│　│　│　　　　　　　├─┤　│　　　　　　　　　　　　│┌┬─┘　　└─┬┐│　　　　　　│　　　　　　　├─┤
	AA:(MAP++) = │　　　　　　　　　┌┐　　　　　　　　　　　　　　　　　　　│　　08　　　　└─┤　│　　　　　　　│　　　　└┴┘　┌──┐　└┴┘　　　　　　│　　08　　　　└─┤
	AA:(MAP++) = │　　　　　　　│　│└───┐　　　├─┐　┌─────┐　├┐　　┌─────┤　├───────┤　　　　　　33　│┌┐│　　　　　　　　　　├┐　　┌─────┤
	AA:(MAP++) = ├───────┤　└────┘　　　│─│　└─────┘　　　　　│┌────┤　│　　　　　　　│　　　　　　　　│└┘│　　　　　　　　　　│　　　│┌────┤
	AA:(MAP++) = │　　　　　　　│　　　　　05　　　　│─│　　　　07　　　　　　　　││　　　　│　│　　　　　　　　　　　　┌┬┐　└──┘　┌┬┐　　　　　　│　　　││　　　　│
	AA:(MAP++) = │　　19　　　　　　┌──┐　　　　　└┬┴───────┬─┴┘　　││　..　　│　│　　15　　　　　　　　　│└┴─┐　　┌─┴┘│　　　　┌─┴┘　　││　..　　│
	AA:(MAP++) = │　　　　　　　　　│┌┬┘　┌─┐　　│　　　　　　　　│＊────┘│　　　　│　│　　　　　　　│　　　　└───┘　　└───┘　　　　│＊────┘│　　　　│
	AA:(MAP++) = │　　　　　　　│　│││　　│─│　　　　　　17　　　　│＊┌────┘　..　　│　│　　　　　　　│　　　　　　　　　　　　　　　　　　　　│＊┌────┘　..　　│
	AA:(MAP++) = ├───────┤　│├┘　　└─┘　　　　　　　　　　　│＊│　　　　　　　　　│　├───────┴　　┬───　　───┬─────　　─┤＊│　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　│　└┘　　　　　　　　├────────┤＊│　..　　　..　　　│　│　　　　　　　　　　│　　　　　　　　│　　　　　　　　│＊│　..　　　..　　　│
	AA:(MAP++) = │　　18　　　　　　　　　　　　　　　　　　　　　　　　　│＊│　　　　　　　　　│　│　　　　28　　　　　│　　　29　　　　│　　　30　　　　│＊│　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　16　　　　│＊│　　..　　　..　　│　│　　　　　　　　　　│　　　　　　　　│　　　　　　　　│＊│　　..　　　..　　│
	AA:(MAP++) = │　　　　　　　│　　　┌　　　┐　　　│　　　　　　　　│＊│　　　　　　　　　│　│　　　　　　　　　　│　　　　　　　　│　　　　　　　　│＊│　　　　　　　　　│
	AA:(MAP++) = └───────┴───┴　　　┴───┴────────┴┴┴─────────┘　└──────────┴────────┴────────┴┴┴─────────┘
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　09　　　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
ELSE
	AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
	AA:(MAP++) = ┌─────────┬──┬───┬───────┐　　　┌─────────┬──┬───┬───────┐
	AA:(MAP++) = │　　　　　　　　　│　　├──↑┤　　　　　　　│　　　│　　　　　　　　　│　　├──↓┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│03　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│13　├─┼─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│　　├─┼─┤シャワールーム│
	AA:(MAP++) = │　　　　04　　　　├　　┴─┘　│　　　　　　　　　　　│　　　　　　　　　├　　┘　└─┤　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　01　　　10→　　│　　　　11　　　　│　　　　　　├─────　─┤
	AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　　　　　　　　　│　　　　　　　　　│　　　　　　│　　　　　　　│
	AA:(MAP++) = ├─────　　　─┴───　　─┼───────┤　　　│　　　　　　　　　　　　　┌──┘　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　│　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　07　　　│　　　├─────────┤　　　　　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　┌─┐　　　├　　─────┤　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　05　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　20　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　12　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　06　│　　　08　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
	AA:(MAP++) = └───　　　　───┴─┴───┴───────┘　　　└─────────┴───┴──────────┘
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　09　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
	AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
ENDIF
AA:(MAP++) = ∀：自宅玄関　　　　∪：トイレ　　　　　⊆：和室　　　　　　⊇：リビング
AA:(MAP++) = ∋：キッチン　　　　∈：脱衣所　　　　　∽：お風呂場　　　　⊂：自宅庭
AA:(MAP++) = 十：リゾートエリアへ
AA:(MAP++) = 　
IF 同棲部屋割り配列:0 > 0
	LOCALS:0 = %CALLNAME:(同棲部屋割り配列:0)%の部屋
ELSE
	LOCALS:0 = 空き部屋
ENDIF
IF 同棲部屋割り配列:1 > 0
	LOCALS:1 = %CALLNAME:(同棲部屋割り配列:1)%の部屋
ELSE
	LOCALS:1 = 空き部屋
ENDIF
IF 同棲部屋割り配列:2 > 0
	LOCALS:2 = %CALLNAME:(同棲部屋割り配列:2)%の部屋
ELSE
	LOCALS:2 = 空き部屋
ENDIF
IF 同棲部屋割り配列:3 > 0
	LOCALS:3 = %CALLNAME:(同棲部屋割り配列:3)%の部屋
ELSE
	LOCALS:3 = 空き部屋
ENDIF
IF 同棲部屋割り配列:4 > 0
	LOCALS:4 = %CALLNAME:(同棲部屋割り配列:4)%の部屋
ELSE
	LOCALS:4 = 空き部屋
ENDIF
IF 同棲部屋割り配列:5 > 0
	LOCALS:5 = %CALLNAME:(同棲部屋割り配列:5)%の部屋
ELSE
	LOCALS:5 = 空き部屋
ENDIF
IF 同棲部屋割り配列:6 > 0
	LOCALS:6 = %CALLNAME:(同棲部屋割り配列:6)%の部屋
ELSE
	LOCALS:6 = 空き部屋
ENDIF
IF 同棲部屋割り配列:7 > 0
	LOCALS:7 = %CALLNAME:(同棲部屋割り配列:7)%の部屋
ELSE
	LOCALS:7 = 空き部屋
ENDIF
IF 同棲部屋割り配列:8 > 0
	LOCALS:8 = %CALLNAME:(同棲部屋割り配列:8)%の部屋
ELSE
	LOCALS:8 = 空き部屋
ENDIF
IF 同棲部屋割り配列:9 > 0
	LOCALS:9 = %CALLNAME:(同棲部屋割り配列:9)%の部屋
ELSE
	LOCALS:9 = 空き部屋
ENDIF
IF 同棲部屋割り配列:10 > 0
	LOCALS:10 = %CALLNAME:(同棲部屋割り配列:10)%の部屋
ELSE
	LOCALS:10 = 空き部屋
ENDIF
IF 同棲部屋割り配列:11 > 0
	LOCALS:11 = %CALLNAME:(同棲部屋割り配列:11)%の部屋
ELSE
	LOCALS:11 = 空き部屋
ENDIF
IF 同棲部屋割り配列:12 > 0
	LOCALS:12 = %CALLNAME:(同棲部屋割り配列:12)%の部屋
ELSE
	LOCALS:12 = 空き部屋
ENDIF
IF 同棲部屋割り配列:13 > 0
	LOCALS:13 = %CALLNAME:(同棲部屋割り配列:13)%の部屋
ELSE
	LOCALS:13 = 空き部屋
ENDIF
IF 同棲部屋割り配列:14 > 0
	LOCALS:14 = %CALLNAME:(同棲部屋割り配列:14)%の部屋
ELSE
	LOCALS:14 = 空き部屋
ENDIF
IF 同棲部屋割り配列:15 > 0
	LOCALS:15 = %CALLNAME:(同棲部屋割り配列:15)%の部屋
ELSE
	LOCALS:15 = 空き部屋
ENDIF
IF 同棲部屋割り配列:16 > 0
	LOCALS:16 = %CALLNAME:(同棲部屋割り配列:16)%の部屋
ELSE
	LOCALS:16 = 空き部屋
ENDIF
IF 同棲部屋割り配列:17 > 0
	LOCALS:17 = %CALLNAME:(同棲部屋割り配列:17)%の部屋
ELSE
	LOCALS:17 = 空き部屋
ENDIF
IF 同棲部屋割り配列:18 > 0
	LOCALS:18 = %CALLNAME:(同棲部屋割り配列:18)%の部屋
ELSE
	LOCALS:18 = 空き部屋
ENDIF
IF 同棲部屋割り配列:19 > 0
	LOCALS:19 = %CALLNAME:(同棲部屋割り配列:19)%の部屋
ELSE
	LOCALS:19 = 空き部屋
ENDIF

AA:(MAP++) = ≦：２階トイレ　ñ：ラウンジ
AA:(MAP++) = ≪：%LOCALS:0%　　　　≫：%LOCALS:1%　　　　≦：２階トイレ
AA:(MAP++) = †：%LOCALS:2%　　　　‡：%LOCALS:3%　　　　‰：%LOCALS:4%　　　　′：%LOCALS:5%
AA:(MAP++) = ♣：%LOCALS:6%　　　　♦：%LOCALS:7%　　　　♥：%LOCALS:8%　　　　♠：%LOCALS:9%
AA:(MAP++) = ░：%LOCALS:10%　　　　▒：%LOCALS:11%　　　　▓：%LOCALS:12%　　　　╡：%LOCALS:13%
AA:(MAP++) = ╢：%LOCALS:14%　　　　╖：%LOCALS:15%　　　　╕：%LOCALS:16%　　　　╣：%LOCALS:17%
AA:(MAP++) = ║：%LOCALS:18%　　　　╗：%LOCALS:19%
AA:(MAP++) = ≧：%CALLNAME:MASTER%の部屋



@GETPLACENAME_0_20(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 2000
		TSTR:場所名受渡 = %STR:イベントうふふ場所名%
	CASE 2001
		TSTR:場所名受渡 = 自宅玄関
	CASE 2003
		TSTR:場所名受渡 = トイレ
	CASE 2004
		TSTR:場所名受渡 = 和室
	CASE 2005
		TSTR:場所名受渡 = リビング
	CASE 2006
		TSTR:場所名受渡 = キッチン
	CASE 2007
		TSTR:場所名受渡 = 脱衣所
	CASE 2008
		TSTR:場所名受渡 = お風呂場
	CASE 2009
		TSTR:場所名受渡 = 自宅庭
	CASE 2010
		TSTR:場所名受渡 = リゾートエリアへ
	CASE 2011
		IF 同棲部屋割り配列:0 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:0)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2012
		IF 同棲部屋割り配列:1 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:1)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2013
		TSTR:場所名受渡 = ２階トイレ
	CASE 2014
		IF 同棲部屋割り配列:2 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:2)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2015
		IF 同棲部屋割り配列:3 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:3)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2016
		IF 同棲部屋割り配列:4 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:4)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2017
		IF 同棲部屋割り配列:5 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:5)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2018
		IF 同棲部屋割り配列:6 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:6)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2019
		IF 同棲部屋割り配列:7 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:7)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2021
		IF 同棲部屋割り配列:8 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:8)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2022
		IF 同棲部屋割り配列:9 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:9)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2023
		IF 同棲部屋割り配列:10 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:10)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2024
		IF 同棲部屋割り配列:11 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:11)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2025
		IF 同棲部屋割り配列:12 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:12)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2026
		IF 同棲部屋割り配列:13 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:13)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2027
		IF 同棲部屋割り配列:14 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:14)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2028
		IF 同棲部屋割り配列:15 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:15)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2029
		IF 同棲部屋割り配列:16 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:16)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2030
		IF 同棲部屋割り配列:17 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:17)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2031
		IF 同棲部屋割り配列:18 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:18)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2032
		IF 同棲部屋割り配列:19 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:19)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2033
		TSTR:場所名受渡 = ラウンジ
	CASE 2020
		TSTR:場所名受渡 = %CALLNAME:MASTER%の部屋
ENDSELECT


@DRAW_MAP_BG_0_20(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;下部一覧の数字を表示しつつボタン化させる
CASE "∀"
	表示文字列 += @"<button value='2001'>2001</button>"
CASE "∪"
	表示文字列 += @"<button value='2003'>2003</button>"
CASE "⊆"
	表示文字列 += @"<button value='2004'>2004</button>"
CASE "⊇"
	表示文字列 += @"<button value='2005'>2005</button>"
CASE "∋"
	表示文字列 += @"<button value='2006'>2006</button>"
CASE "∈"
	表示文字列 += @"<button value='2007'>2007</button>"
CASE "∽"
	表示文字列 += @"<button value='2008'>2008</button>"
CASE "⊂"
	表示文字列 += @"<button value='2009'>2009</button>"
CASE "十"
	表示文字列 += @"<button value='2010'>2010</button>"
CASE "≪"
	表示文字列 += @"<button value='2011'>2011</button>"
CASE "≫"
	表示文字列 += @"<button value='2012'>2012</button>"
CASE "≦"
	表示文字列 += @"<button value='2013'>2013</button>"
CASE "†"
	表示文字列 += @"<button value='2014'>2014</button>"
CASE "‡"
	表示文字列 += @"<button value='2015'>2015</button>"
CASE "‰"
	表示文字列 += @"<button value='2016'>2016</button>"
CASE "′"
	表示文字列 += @"<button value='2017'>2017</button>"
CASE "≧"
	表示文字列 += @"<button value='2020'>2020</button>"
CASE "♣"
	表示文字列 += @"<button value='2018'>2018</button>"
CASE "♦"
	表示文字列 += @"<button value='2019'>2019</button>"
CASE "♥"
	表示文字列 += @"<button value='2021'>2021</button>"
CASE "♠"
	表示文字列 += @"<button value='2022'>2022</button>"
CASE "░"
	表示文字列 += @"<button value='2023'>2023</button>"
CASE "▒"
	表示文字列 += @"<button value='2024'>2024</button>"
CASE "▓"
	表示文字列 += @"<button value='2025'>2025</button>"
CASE "╡"
	表示文字列 += @"<button value='2026'>2026</button>"
CASE "╢"
	表示文字列 += @"<button value='2027'>2027</button>"
CASE "╖"
	表示文字列 += @"<button value='2028'>2028</button>"
CASE "╕"
	表示文字列 += @"<button value='2029'>2029</button>"
CASE "╣"
	表示文字列 += @"<button value='2030'>2030</button>"
CASE "║"
	表示文字列 += @"<button value='2031'>2031</button>"
CASE "╗"
	表示文字列 += @"<button value='2032'>2032</button>"
CASE "ñ"
	表示文字列 += @"<button value='2033'>2033</button>"
CASE "＊"
	表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
CASE "."
	IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
		表示文字列 += @"<font color='#0073E6'>%SLICED%"
	ELSE
		表示文字列 += "."
	ENDIF
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@自宅改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = %CALLNAME:MASTER%が住む自宅を建設・改装します<br><br>
IF 施設改造度:20:0 < 1
	LOCALS += @"■<button value='200'>[自宅の建設]</button>（必要:100,000ルピ）<br>"
ELSEIF 施設改造度:20:0 < 2
	LOCALS += @"■<button value='201'>[自宅の拡張]</button>（必要:150,000ルピ）<br>"
ELSE
	LOCALS += @"■[自宅] Lv{施設改造度:20:0}：上限<br>"
ENDIF

RETURNF LOCALS

@自宅改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 以下の施設を持つ自宅を建設します。
		PRINTBUTTON "■自宅個別マップの解放", 2000
		PRINTL 
		PRINTBUTTON "■就寝場所の変更", 2001
		PRINTL 
		PRINTBUTTON "■陥落素質［伴侶］の解放条件", 2002
		PRINTL 
		PRINTBUTTON "■自宅用家具の解放", 2003
		PRINTL 
		PRINTL 
		PRINTL 自宅を建設しますか？（必要:100,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:20:0 = 1
				MONEY -= 100000
				PRINTW 自宅を建設しました！
				CFLAG:MASTER:自室位置 = 2020
				IF CFLAG:MASTER:現在位置 == 20 && CFLAG:MASTER:現在マップ種別 == 0
					CFLAG:MASTER:現在位置 = 2020
				ENDIF
				SIF FLAG:登録先移動１_移動マップ種別 == 0 && FLAG:登録先移動１_移動位置 == 20
					FLAG:登録先移動１_移動位置 = 2020
				SIF FLAG:登録先移動２_移動マップ種別 == 0 && FLAG:登録先移動２_移動位置 == 20
					FLAG:登録先移動２_移動位置 = 2020
				SIF FLAG:登録先移動３_移動マップ種別 == 0 && FLAG:登録先移動３_移動位置 == 20
					FLAG:登録先移動３_移動位置 = 2020
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"自宅を建設した","実績")
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL マップの解放により、自室が自宅に変更され、自宅に移動すると個別のマップへと移動するようになります。
				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装です）
				PRINTW
			CASE 2001
				DRAWLINE
				PRINTFORML 自宅建設以降、%CALLNAME:MASTER%の就寝場所が２階寝室に変更されます。
				PRINTL また、［伴侶］状態になったキャラの就寝場所もここに変更されます。
				PRINTW
			CASE 2002
				DRAWLINE
				PRINTL 陥落素質［伴侶］の解放条件は以下の３つです
				PRINTL ・自宅を建設する
				PRINTL ・居住区をアップグレードし［教会］施設を解放する（未実装）
				PRINTL ・「久遠の指輪」シリーズが作成可能になる（未実装）
				PRINTW 以上の条件を満たすことで、恋慕状態のキャラクターを伴侶にすることが出来ます。
			CASE 2003
				DRAWLINE
				PRINTL 通信販売のラインナップに自宅用家具が追加されます。
				PRINTL 自宅での専用コマンドを解放するアイテムがメインとなります。
				PRINTL マッサージが出来るようになるマッサージマットや、ポーカーができるようになるトランプなど。
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 自宅を拡張し、以下の変更を与えます。
		PRINTBUTTON "■自宅空き部屋の追加", 2000
		PRINTL 
		PRINTL 
		PRINTL 自宅を拡張しますか？（必要:150,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 150000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:20:0 = 2
				MONEY -= 150000
				PRINTW 自宅を拡張しました！
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"自宅を拡張した","実績")
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL 空き部屋が４部屋追加されます。
				PRINTL これにより、同棲可能キャラ数が４キャラ増加します。
				PRINTW
		ENDSELECT
		RESTART
	CASE 202 ; このテキストは機械翻訳を使用しています。書き直してください。
		DRAWLINE
		PRINTL 以下の変更を加えて、お住まいをリフォームしましょう。
		PRINTBUTTON "■リフォーム", 2000
		PRINTL 
		PRINTL 
		PRINTL 自宅を改装しますか？（必要:3,000,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 3000000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:20:0 = 3
				MONEY -= 3000000
				PRINTW 自宅を拡張しました！
				CALL RESET_GRAPH_0
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL 増え続けるパートナーたちを受け入れるために、現在の住まいを改装しましょう。
				PRINTL これにより、同居可能なキャラクターの数が14人増えます。
				PRINTL 愛する配偶者たちのために、豪華な要塞を誇りを持って手に入れましょう。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT
