

@マップ紹介_20
;とりあえず5行
PRINTFORML ※紹介文募集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_20(AA)
#DIMS REF AA, 0
#DIM MAP
VARSET LOCALS

MAP = 0
AA:(MAP++) = １Ｆ　　　　　　　　　　　　　　　　　　　　　　　　　　　２Ｆ
AA:(MAP++) = ┌─────────┬──┬───┬───────┐　　　┌─────────┬──┬───┬───────┐
AA:(MAP++) = │　　　　　　　　　│　　├──↑┤　　　　　　　│　　　│　　　　　　　　　│　　├──↓┤　　　　　　　│
AA:(MAP++) = │　　　　　　　　　│03　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│13　├─┼─┤　　　　　　　│
AA:(MAP++) = │　　　　　　　　　│　　├─┼─┤　　　　　　　│　　　│　　　　　　　　　│　　├─┼─┤シャワールーム│
AA:(MAP++) = │　　　　04　　　　├　　┴─┘　│　　　　　　　　　　　│　　　　　　　　　├　　┘　└─┤　　　　　　　│
AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　01　　　10→　　│　　　　11　　　　│　　　　　　├─────　─┤
AA:(MAP++) = │　　　　　　　　　│　　　　　　　　　　　　　　　　　　│　　　　　　　　　│　　　　　　│　　　　　　　│
AA:(MAP++) = ├─────　　　─┴───　　─┼───────┤　　　│　　　　　　　　　　　　　┌──┘　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　　│　　　│　　　　　　　　　│　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　07　　　│　　　├─────────┤　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　┌─┐　　　├　　─────┤　　　│　　　　　　　　　　　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　05　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　　　　　│　　　　　20　　　　│
AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　12　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　│　│　06　│　　　08　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　│　│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　│◯│　　　│　　　　　　　│　　　│　　　　　　　　　│　　　│　　　　　　　　　　│
AA:(MAP++) = └───　　　　───┴─┴───┴───────┘　　　└─────────┴───┴──────────┘
AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
AA:(MAP++) = ＊　　　　　09　　　　　　　　　　　　　　　　　　＊
AA:(MAP++) = ＊　　　　　　　　　　　　　　　　　　　　　　　　＊
AA:(MAP++) = ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
AA:(MAP++) = ∀：自宅玄関　　　　∪：トイレ　　　　　⊆：和室　　　　　　⊇：リビング
AA:(MAP++) = ∋：キッチン　　　　∈：脱衣所　　　　　∽：お風呂場　　　　⊂：自宅庭
AA:(MAP++) = 十：リゾートエリアへ
AA:(MAP++) = 　
IF 同棲部屋割り配列:0 > 0
	LOCALS:0 = %CALLNAME:(同棲部屋割り配列:0)%の部屋
ELSE
	LOCALS:0 = 空き部屋
ENDIF
IF 同棲部屋割り配列:1 > 0
	LOCALS:1 = %CALLNAME:(同棲部屋割り配列:1)%の部屋
ELSE
	LOCALS:1 = 空き部屋
ENDIF
AA:(MAP++) = ≪：%LOCALS:0%　　　　≫：%LOCALS:1%　　　　≦：２階トイレ
AA:(MAP++) = ≧：%CALLNAME:MASTER%の部屋



@GETPLACENAME_0_20(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 2000
		TSTR:場所名受渡 = %STR:イベントうふふ場所名%
	CASE 2001
		TSTR:場所名受渡 = 自宅玄関
	CASE 2003
		TSTR:場所名受渡 = トイレ
	CASE 2004
		TSTR:場所名受渡 = 和室
	CASE 2005
		TSTR:場所名受渡 = リビング
	CASE 2006
		TSTR:場所名受渡 = キッチン
	CASE 2007
		TSTR:場所名受渡 = 脱衣所
	CASE 2008
		TSTR:場所名受渡 = お風呂場
	CASE 2009
		TSTR:場所名受渡 = 自宅庭
	CASE 2010
		TSTR:場所名受渡 = リゾートエリアへ
	CASE 2011
		IF 同棲部屋割り配列:0 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:0)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2012
		IF 同棲部屋割り配列:1 > 0
			TSTR:場所名受渡 = %CALLNAME:(同棲部屋割り配列:1)%の部屋
		ELSE
			TSTR:場所名受渡 = 空き部屋
		ENDIF
	CASE 2013
		TSTR:場所名受渡 = ２階トイレ
	CASE 2020
		TSTR:場所名受渡 = %CALLNAME:MASTER%の部屋
ENDSELECT


@DRAW_MAP_BG_0_20(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;下部一覧の数字を表示しつつボタン化させる
CASE "∀"
	表示文字列 += @"<button value='2001'>2001</button>"
CASE "∪"
	表示文字列 += @"<button value='2003'>2003</button>"
CASE "⊆"
	表示文字列 += @"<button value='2004'>2004</button>"
CASE "⊇"
	表示文字列 += @"<button value='2005'>2005</button>"
CASE "∋"
	表示文字列 += @"<button value='2006'>2006</button>"
CASE "∈"
	表示文字列 += @"<button value='2007'>2007</button>"
CASE "∽"
	表示文字列 += @"<button value='2008'>2008</button>"
CASE "⊂"
	表示文字列 += @"<button value='2009'>2009</button>"
CASE "十"
	表示文字列 += @"<button value='2010'>2010</button>"
CASE "≪"
	表示文字列 += @"<button value='2011'>2011</button>"
CASE "≫"
	表示文字列 += @"<button value='2012'>2012</button>"
CASE "≦"
	表示文字列 += @"<button value='2013'>2013</button>"
CASE "≧"
	表示文字列 += @"<button value='2020'>2020</button>"
CASE "＊"
	表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@自宅改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = %CALLNAME:MASTER%が住む自宅を建設・改装します<br><br>
IF 施設改造度:20:0 < 1
	LOCALS += @"■<button value='200'>[自宅の建設]</button>（必要:100,000ルピ）<br>"
ELSE
	LOCALS += @"■[自宅の建設] Lv{施設改造度:20:0}：上限<br>"
ENDIF

RETURNF LOCALS

@自宅改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 以下の施設を持つ自宅を建設します。
		PRINTBUTTON "■自宅個別マップの解放", 2000
		PRINTL 
		PRINTBUTTON "■就寝場所の変更", 2001
		PRINTL 
		PRINTBUTTON "■陥落素質［伴侶］の解放条件", 2002
		PRINTL 
		PRINTBUTTON "■自宅用家具の解放", 2003
		PRINTL 
		PRINTL 
		PRINTL 自宅を建設しますか？（必要:100,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:20:0 = 1
				MONEY -= 100000
				PRINTW 自宅を建設しました！
				CFLAG:MASTER:自室位置 = 2020
				IF CFLAG:MASTER:現在位置 == 20 && CFLAG:MASTER:現在マップ種別 == 0
					CFLAG:MASTER:現在位置 = 2020
				ENDIF
				CALL RESET_GRAPH_0
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"自宅を建設した","実績")
				RETURN
			CASE 1
				RETURN
			CASE 2000
				DRAWLINE
				PRINTL マップの解放により、自室が自宅に変更され、自宅に移動すると個別のマップへと移動するようになります。
				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装です）
				PRINTW
			CASE 2001
				DRAWLINE
				PRINTFORML 自宅建設以降、%CALLNAME:MASTER%の就寝場所が２階寝室に変更されます。
				PRINTL また、［伴侶］状態になったキャラの就寝場所もここに変更されます。
				PRINTW
			CASE 2002
				DRAWLINE
				PRINTL 陥落素質［伴侶］の解放条件は以下の３つです
				PRINTL ・自宅を建設する
				PRINTL ・居住区をアップグレードし［教会］施設を解放する（未実装）
				PRINTL ・「久遠の指輪」シリーズが作成可能になる（未実装）
				PRINTW 以上の条件を満たすことで、恋慕状態のキャラクターを伴侶にすることが出来ます。
			CASE 2003
				DRAWLINE
				PRINTL 通信販売のラインナップに自宅用家具が追加されます。
				PRINTL 自宅での専用コマンドを解放するアイテムがメインとなります。
				PRINTL マッサージが出来るようになるマッサージマットや、ポーカーができるようになるトランプなど。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT
