

@マップ紹介_15
;とりあえず5行
PRINTFORML ※紹介文募集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_15(AA)
#DIMS REF AA, 0

AA:00 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
AA:01 = 　┌───────┐　　　　＿＿＿＿　　　　　　＿＿＿＿＿＿＿＿　　　　　┃
AA:02 = 　│三三三三三三三│　　　／三三三 │ 　　　　／三三三三三三三三＼　　　　┃
AA:03 = 　│三三三三三三三│　　 /三三三三 │ 　　　 /三三三三三三三三三 │ 　　　┃
AA:04 = 　│三三三三三三三│　　/ 三三三三 │ 　　　│三三 /￣￣￣ヽ三三 │ 　　　┃
AA:05 = 　│三三三三三三三│　 /三三三三三 │ 　　　│三三│　　　│三三 │ 　　　┃
AA:06 = 　│三三三三三三三│　│三三05三三 /　　　　━━━━　　　━━━━━　　　┃
AA:07 = 　│三三三三三三三│　│三三三三三/ 　　　　　　　　　　　　　　　　　　　┃
AA:08 = 　│三三三三三三三│　│三三三三_/　　　　　━━━━　　　━━━━━　　　┃
AA:09 = 　│三三三三三三三│　　￣￣￣￣　　　　　　│三三│　　　│三三 │ 　　　┃
AA:10 = 　│三三三04三三三│　　　　　　　　　　　　│三三│　　　│三三 │ 　　　┃
AA:11 = 　│三三三三三三三│　　　　　　　　　　　　│三三│　　　│三三 │ 　　　┃
AA:12 = 　│三三三三三三三│　　　　　　　　　　　　/ 三三ヽ＿＿＿/ 三三 │ 　　　■
AA:13 = 　│三三三三三三三│　　　　　　　　　　　 /三三三三三三三三三三 /　　　　■
AA:14 = 　│三三三三三三三│　　　　　　　　　　　/ 三三三三三三三三三三/ 　　　　■
AA:15 = 　│三三三三三三三│　　　　＿＿＿＿＿＿／三三三06三三三三三三／　　　　　■
AA:16 = 　│三三三三三三三│　　　／三三三三三三三三三三三三三三三三／　　　　　　■
AA:17 = 　│三三三三三三三│　　 /三三三三三三三三三三三三三 /￣￣￣　　　　　　　■
AA:18 = 　│三三三三三三三│　　│三三 /￣￣￣￣￣＼三三三三/ 　　　　　　　　　　■
AA:19 = 　└───────┘　　│三三/ 　　　　＿／三三三／　　　　　　　　　　　■
AA:20 = 　　　　　　　　　　　　│三三ヽ＿＿＿／三三三三／　　　　　　　03　　　　■
AA:21 = 　　　　　　　　　　　　ヽ三三三三三三三三三／￣　　　　　　　　　　　　　■
AA:22 = 　　　　　　　　　　　　　ヽ三三三三三三三／　　　　　　　　　　　　　　　■
AA:23 = 　　　　　　　　　　　　　　￣￣￣￣￣￣￣　　　　　　　　　　　　　　　　■
AA:24 = ━━━━━━━━━━━━━━━━━━━━━■■■■■■■■■■■■■13■14■
AA:25 = 　　　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　↓　↓
AA:26 = 
AA:27 = ミ：プールサイド　　　　四：メインプール　　　　五：ボールプール
AA:28 = 六：流れるプール　　　　オ：男子更衣室へ　　　　エ：女子更衣室へ

@GETPLACENAME_0_15(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1503
		TSTR:場所名受渡 = プールサイド
	CASE 1504
		TSTR:場所名受渡 = メインプール
	CASE 1505
		TSTR:場所名受渡 = ボールプール
	CASE 1506
		TSTR:場所名受渡 = 流れるプール
	CASE 1513
		TSTR:場所名受渡 = 男子更衣室へ
	CASE 1514
		TSTR:場所名受渡 = 女子更衣室へ
ENDSELECT


@DRAW_MAP_BG_0_15(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;色つけたいときはこんな感じ
CASE "三", "─", "┘", "└", "┌", "┐", "│", "/", "／", "＿", "ヽ", "￣", "＼"
	表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
;違う文字を表示させる例
;下部一覧の数字を表示しつつボタン化させる
CASE "ミ"
	表示文字列 += @"<button value='1503'>1503</button>"
CASE "四"
	表示文字列 += @"<button value='1504'>1504</button>"
CASE "五"
	表示文字列 += @"<button value='1505'>1505</button>"
CASE "六"
	表示文字列 += @"<button value='1506'>1506</button>"
CASE "オ"
	表示文字列 += @"<button value='1513'>1513</button>"
CASE "エ"
	表示文字列 += @"<button value='1514'>1514</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@プール系列改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = リゾートハウスから繋がるプールを改装します。<br><br>
IF 施設改造度:15:0 < 1
	LOCALS += @"■<button value='200'>[プール改造]</button> Lv{施設改造度:15:0}>{施設改造度:15:0 + 1} （必要:200,000ルピ）<br>"
ELSE
	LOCALS += @"■[プール改造] Lv上限<br>"
ENDIF

RETURNF LOCALS

@プール系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL プールに以下の施設が導入されます。
		PRINTBUTTON "■プール個別マップの解放", 1500
		PRINTL 
		PRINTBUTTON "■プールサイドの導入", 1501
		PRINTL 
		PRINTBUTTON "■メインプールの導入", 1502
		PRINTL 
		PRINTBUTTON "■ボールプールの導入", 1503
		PRINTL 
		PRINTBUTTON "■流れるプールの導入", 1504
		PRINTL 
		PRINTL 
		PRINTL プールを改造しますか？（必要:200,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 200000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:15:0 = 1
				MONEY -= 200000
				PRINTL プールを改造しました！
				PRINTW (滞在キャラ上限＋５)
				CALL 滞在可能キャラ数再計算
				FOR LOCAL, 1, CHARANUM
					SIF 現在仕事:LOCAL:1 == 15
						現在仕事:LOCAL:1 = 1503
				NEXT
				RETURN
			CASE 1
				RETURN
			CASE 1500
				DRAWLINE
				PRINTL マップの解放により、プールに移動すると個別のマップへと移動するようになります。
				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装です）
				PRINTW
			CASE 1501
				DRAWLINE
				PRINTL 日光浴を楽しんだり、泳ぎ疲れた時に休憩が出来るエリアです。
				PRINTL 条件が揃えば出店を出すことも出来るようになります。（未実装です）
				PRINTW
			CASE 1502
				DRAWLINE
				PRINTL １００ｍの大きなプールです。
				PRINTL 自由に泳いだり、浮き輪を持ち込んだりして遊ぶことが出来ます。
				PRINTW
			CASE 1503
				DRAWLINE
				PRINTL たくさんのボールが浮かぶ浅めのプールです。
				PRINTL ハーヴィンでも足が付く深さのため安心して遊ぶことが出来ます。
				PRINTL 水鉄砲などの遊び道具なども備え付けられています。
				PRINTW
			CASE 1504
				DRAWLINE
				PRINTL 魔法で常に水が流れているプールです。
				PRINTL 普通のプールとはまた違った楽しさを味わえるでしょう。
				PRINTL 女性キャラと一緒に遊ぶと、ポロリイベントが起こることがあります。（未実装）
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT
