

; @マップ紹介_4
; ;とりあえず5行
; PRINTFORML ※紹介文募集中※
; PRINTFORML 
; PRINTFORML 
; PRINTFORML 
; PRINTFORML 


; @MAP_RESORT_0_4(AA)
; #DIMS REF AA, 0
; #DIM MAP


; MAP = 0; AA:(MAP++) = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　│　　　　　　　　　　　　　　　　│
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　│　　　　　　　　　　　　　　　　│
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　 00 　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　■■■■■■■■■■■■■■■■■■
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　　○＼／　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　○＼／　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　　○＼／　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　○＼／　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　　○＼／　　┃
; AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　○＼／　　　　　　　　┃
; AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　┃
; AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　／＼○　　○＼／　　┃
; AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　○＼／　　　　　　　　┃
; AA:(MAP++) = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
; AA:(MAP++) = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
; AA:(MAP++) = 
; AA:(MAP++) = 二：ロビーへ　　　　　三：バーエリア　　　　四：ボードゲームエリア
; AA:(MAP++) = 二：ロビーへ　　　　　三：バーエリア　　　　四：ボードゲームエリア
; AA:(MAP++) = 

; @GETPLACENAME_0_4(ARG)
; #FUNCTION
; SELECTCASE ARG
; 	CASE 402
; 		TSTR:場所名受渡 = ロビー
; ENDSELECT


; @DRAW_MAP_BG_0_4(SLICED, 表示文字列)
; #DIMS REF 表示文字列
; #DIMS SLICED
; SELECTCASE SLICED
; ;色つけたいときはこんな感じ
; CASE "木", "竹"
; 	表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
; CASE "山"
; 	表示文字列 += @"<font color='#5C985C'>%SLICED%</font>"
; CASE "川", "湖"
; 	表示文字列 += @"<font color='#5C5CFF'>%SLICED%</font>"
; ;違う文字を表示させる例
; ;下部一覧の数字を三桁表示しつつボタン化させる
; CASE "二"
; 	表示文字列 += @"<button value='302'>302</button>"
; CASE "三"
; 	表示文字列 += @"<button value='303'>303</button>"
; CASE "四"
; 	表示文字列 += @"<button value='304'>304</button>"
; CASE "五"
; 	表示文字列 += @"<button value='305'>305</button>"
; CASE "六"
; 	表示文字列 += @"<button value='306'>306</button>"
; CASE "七"
; 	表示文字列 += @"<button value='307'>307</button>"
; CASE "八"
; 	表示文字列 += @"<button value='308'>308</button>"
; ;ふつうの
; CASEELSE
; 	表示文字列 += @"%SLICED%"
; ENDSELECT


; @食堂系列改造メニュー()
; #FUNCTIONS
; ;100~199と999は大本のメニュー操作で使うため、使用しないこと

; LOCALS = リゾートハウス内の食堂を改装します。<br><br>
; IF 施設改造度:4:0 < 1
; 	LOCALS += @"■<button value='200'>[食堂改装]</button> Lv{施設改造度:4:0}>{施設改造度:4:0 + 1} （必要:150,000ルピ）<br>"
; ELSE
; 	LOCALS += @"■[食堂改装] Lv上限<br>"
; ENDIF

; RETURNF LOCALS

; @食堂系列改造実行関数(ARG)

; SELECTCASE ARG
; 	CASE 200
; 		DRAWLINE
; 		PRINTL 庭がキャンプ場になり、以下の施設が導入されます。
; 		PRINTBUTTON "■キャンプ場個別マップの解放", 300
; 		PRINTL 
; 		PRINTBUTTON "■メインテントの導入", 301
; 		PRINTL 
; 		PRINTBUTTON "■バーベキューエリアの導入", 302
; 		PRINTL 
; 		PRINTBUTTON "■渓流エリアの導入", 303
; 		PRINTL 
; 		PRINTBUTTON "■サウナテントの導入", 304
; 		PRINTL 
; 		PRINTBUTTON "■キャンプファイアーの導入", 305
; 		PRINTL 
; 		PRINTL 
; 		PRINTL 庭をキャンプ場に改造しますか？（必要:150,000ルピ）
; 		PRINTBUTTONLC "[0] はい", 0
; 		PRINTBUTTONLC "[1] いいえ", 1
; 		BINPUT
; 		SELECTCASE RESULT
; 			CASE 0
; 				IF MONEY < 150000
; 					PRINTW ルピが足りません。
; 					RETURN
; 				ENDIF
; 				施設改造度:3:0 = 1
; 				MONEY -= 150000
; 				PRINTL 庭をキャンプ場に改造しました！
; 				PRINTW (滞在キャラ上限＋５)
; 				CALL 滞在可能キャラ数再計算
; 				CALL RESET_GRAPH_0
; 				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"庭をキャンプ場Lv1に改造した","実績")
; 				RETURN
; 			CASE 1
; 				RETURN
; 			CASE 300
; 				DRAWLINE
; 				PRINTL マップの解放により、キャンプ場に移動すると個別のマップへと移動するようになります。
; 				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装です）
; 				PRINTW
; 			CASE 301
; 				DRAWLINE
; 				PRINTL キャンプの拠点となる大きなテントです。
; 				PRINTL 焚火を囲みながらのんびりと過ごすことが出来ます。
; 				PRINTL また、キャンプ中のキャラクターは夜間ここで睡眠するようになります。
; 				PRINTW
; 			CASE 302
; 				DRAWLINE
; 				PRINTL 肉や魚などが用意されたバーベキューエリアです。
; 				PRINTL 料理や飲酒が可能なため、キャンプ中のキャラクターは昼食・夕食をここで取るようになります。
; 				PRINTL また、夜間はここで宴会をするキャラクターもいるでしょう。（未実装です）
; 				PRINTW 
; 			CASE 303
; 				DRAWLINE
; 				PRINTL 綺麗な川で遊ぶことが出来る渓流エリアです。
; 				PRINTL ゆっくりと釣りを嗜んだり、水遊びで楽しく過ごすことが出来ます。
; 				PRINTW 
; 			CASE 304
; 				DRAWLINE
; 				PRINTL サウナを楽しめるテント施設です。
; 				PRINTL 飛び込むことの出来る冷たい湖に併設されています。
; 				PRINTW 
; 			CASE 305
; 				DRAWLINE
; 				PRINTL 非常に大きく燃え上がる炎と、それの骨組みです。
; 				PRINTL 18時より前は炎は付いていません。
; 				PRINTL 夜になれば多くのキャラクターがここに集まるでしょう。
; 				PRINTW 
; 		ENDSELECT
; 		RESTART
; 	CASE 201
; 		DRAWLINE
; 		PRINTL キャンプ場の外れに訓練場が導入されます。
; 		PRINTL 訓練場を導入することで、長期雇用をしているキャラクターが一日の終わりに経験値を得るようになります。
; 		PRINTL また従業員の仕事割り振りに「訓練」が追加され、一日の終わりに経験値を得ることができるようになります。
; 		PRINTL ただし、どちらも「全てのキャラクターのうち最も高いレベル」までしか上昇しません。
; 		PRINTL 
; 		PRINTL 訓練場を導入しますか？（必要:80,000ルピ）
; 		PRINTBUTTONLC "[0] はい", 0
; 		PRINTBUTTONLC "[1] いいえ", 1
; 		INPUT
; 		SELECTCASE RESULT
; 			CASE 0
; 				IF MONEY < 80000
; 					PRINTW ルピが足りません。
; 					RETURN
; 				ENDIF
; 				施設改造度:3:8 = 1
; 				MONEY -= 80000
; 				PRINTL 訓練場を導入しました！
; 				PRINTW (滞在キャラ上限＋５)
; 				CALL 滞在可能キャラ数再計算
; 				CALL RESET_GRAPH_0
; 				RETURN
; 			CASE 1
; 				RETURN
; 		ENDSELECT
; 		RESTART
; ENDSELECT







