

@マップ紹介_5
;とりあえず5行
PRINTFORML ※紹介文募集中※
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORML 


@MAP_RESORT_0_5(AA)
#DIMS REF AA, 0

AA:00 = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
AA:01 = ■　　　　　　　　　　　　　　　■　　　　　└┘　└┘　└┘　■　　　　　■
AA:02 = ■　　○　○　　│　　○　○　　■　　　　　　　　　　　　　　■　　キ　　■
AA:03 = ■　┌───┐　│　┌───┐　■　　　　　　　　　　　　　　■　　ッ　　■
AA:04 = ■　│　　　│　│　│　　　│　■　　　　　　　　　　　　　　■　　チ　　■
AA:05 = ■　└───┘　│　└───┘　■　　　　　　　　　　　　　　■　　ン　　■
AA:06 = ■　　○　○　　　　　○　○　　■　　┌──┐　　　○／＼　　■　　　　　■
AA:07 = ■　　　　　　　04　　　　　　　■　　│　　│　　　　＼／○　■■■■　　■
AA:08 = ■　　○　○　　　　　○　○　　■　　└──┘　　　　　　　　　○││　　■
AA:09 = ■　┌───┐　│　┌───┐　■　　　　　　　　　○／＼　　　　││　　■
AA:10 = ■　│　　　│　│　│　　　│　■　　　　　　　　03　＼／○　　○││　　■
AA:11 = ■　└───┘　│　└───┘　■　　┌──┐　　　　　　　　　　││　　■
AA:12 = ■　　○　○　　│　　○　○　　■　　│　　│　　　○／＼　　　○││　　■
AA:13 = ■　　　　　　　　　　　　　　　■　　└──┘　　　　＼／○　　　││　　■
AA:14 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　○│└┐　■
AA:15 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　└─┘　■
AA:16 = ■■■■■■■■■■■■■■■■■　　　　　　　　　　　　　　　　　○　　■
AA:17 = ■　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　　　　　■
AA:18 = ■　┏━┓　　┏━┓　　┏━┓　■　　　　　　　　　　　　　　　　　　　　■
AA:19 = ■　┃　┃　　┃　┃　　┃　┃　■　　　　　　　　　　　　　　　　　　　　
AA:20 = ■　┃　┃　　┃　┃　　┃　┃　■　　　　　　　　　　　　　　　　　　　　
AA:21 = ■　┗━┛　　┗━┛　　┗━┛　■　　　　　　　　　　　　　　　　　　　　
AA:22 = ■　　　　　　　05　　　　　　　　　　　　　　　　　　　　　　　　　　　　■
AA:23 = ■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　■
AA:24 = ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■　　↓　　■■■■
AA:25 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　02
AA:26 = 
AA:27 = 二：ロビーへ　　　　　三：バーエリア　　　　四：ボードゲームエリア
AA:28 = 五：卓球場　　　　　　

IF 施設改造度:5:6
	AA:19 += "　"
	AA:20 += "　→06"
	AA:21 += "　"
	AA:28 += "六：図書室"
ELSE
	AA:19 += "■"
	AA:20 += "■"
	AA:21 += "■"
ENDIF

@GETPLACENAME_0_5(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 502
		TSTR:場所名受渡 = ロビー
	CASE 503
		TSTR:場所名受渡 = バーエリア
	CASE 504
		TSTR:場所名受渡 = ボードゲームエリア
	CASE 505
		TSTR:場所名受渡 = 卓球場
	CASE 506
		SIF 施設改造度:5:6
			TSTR:場所名受渡 = 図書室
ENDSELECT


@DRAW_MAP_BG_0_5(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;色つけたいときはこんな感じ
CASE "○", "│", "└", "┐", "─", "┘", "┌", "＼", "／"
	表示文字列 += @"<font color='#B47142'>%SLICED%</font>"
CASE "┗", "━", "┛", "┏", "┓", "┃"
	表示文字列 += @"<font color='#02489D'>%SLICED%</font>"
;下部一覧の数字を三桁表示しつつボタン化させる
CASE "二"
	表示文字列 += @"<button value='502'>502</button>"
CASE "三"
	表示文字列 += @"<button value='503'>503</button>"
CASE "四"
	表示文字列 += @"<button value='504'>504</button>"
CASE "五"
	表示文字列 += @"<button value='505'>505</button>"
CASE "六"
	表示文字列 += @"<button value='506'>506</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT

@遊戯室系列改造メニュー()
#FUNCTIONS

LOCALS = リゾートハウス内部の遊戯室を改装します。<br><br>
IF 施設改造度:5:0 < 1
	LOCALS += @"■<button value='200'>[遊戯室改造]</button> Lv{施設改造度:5:0}>{施設改造度:5:0 + 1} （必要:100,000ルピ）<br>"
ELSE
	LOCALS += @"■[遊戯室改造] Lv上限<br>"
ENDIF
IF 施設改造度:5:0 > 0 && 施設改造度:5:6 < 1
	LOCALS += @"└■<button value='201'>[図書室を増築する]</button> （必要:70,000ルピ）<br>"
ELSEIF 施設改造度:5:6 > 0
	LOCALS += @"└■[図書室を増築する] 増築済<br>"
ENDIF

RETURNF LOCALS

@遊戯室系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 遊戯室に以下の施設が導入されます。
		PRINTBUTTON "■遊戯室個別マップの解放", 500
		PRINTL 
		PRINTBUTTON "■バーエリアの導入", 501
		PRINTL 
		PRINTBUTTON "■ボドゲエリアの導入", 502
		PRINTL 
		PRINTBUTTON "■卓球室の導入", 503
		PRINTL 
		PRINTL 
		PRINTL 遊戯室を改造しますか？（必要:100,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:5:0 = 1
				MONEY -= 100000
				PRINTL 遊戯室を改造しました！
				PRINTW (滞在キャラ上限＋５)
				滞在キャラ上限 += 5
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL マップの解放により、遊戯室に移動すると個別のマップへと移動するようになります。
				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装）
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL 軽食やお酒を楽しむバーと、ダーツやビリヤードなどの大人なゲームを提供するエリアです。
				PRINTL ゆっくりと時間を過ごしながら、友人たちと仲を深めることが出来ます。
				PRINTW
			CASE 502
				DRAWLINE
				PRINTL 様々なボードゲームが用意されたエリアです。
				PRINTL るっ！に登場したようなTRPGや、ワムデュスが好んでいるすごろくなどで遊ぶことが出来ます。（一部未実装）
				PRINTW
			CASE 503
				DRAWLINE
				PRINTL 卓球台や道具が用意されたエリアです。
				PRINTL 軽い運動や友人との勝負を楽しむことが出来ます。
				PRINTL ユカタヴィラ状態の女性キャラと一緒に遊ぶと、ポロリイベントが起こることがあります。（未実装）
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 遊戯室に図書室が導入されます。
		PRINTL エロ本関連のシステムが解禁され、任意のキャラに特定の性癖を付与することが出来るようになります。
		PRINTL また保健体育の教科書を用いることで、性知識能力が１未満のキャラの性知識能力を成長させることができます。(未実装)
		PRINTL 
		PRINTL 図書室を増築しますか？（必要:70,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 70000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				施設改造度:5:6 = 1
				MONEY -= 70000
				PRINTL 図書室を増築しました！
				PRINTW (滞在キャラ上限＋５)
				滞在キャラ上限 += 5
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
ENDSELECT
