

@MAP_RESORT_0_7(AA)
#DIMS REF AA, 0


AA:00 = 　　　　　　　　　　　　　┏━━━━━━━━━━━━━━━━━━━━━━━┓
AA:01 = ┌───────────┐┃　　　10　　　　　　　　　　　　　　　　　　09→
AA:02 = │　　　　　　　　　　　│┗━━━┳━━━━━━━━━┯━━━━━━━━━┫
AA:03 = │　　　　　　　　　　　│　　　◯┃　　　　　　　　　│　　　　　　　　□┃
AA:04 = │　　　　　　　　　　　│　　　　┃　　　　　　　　　│　　　　　　　　　┃
AA:05 = │　　　　　07　　　　　│　　　◯┃　　　　　　　　　│　　　　　　　　□┃
AA:06 = │　　　　　　　　　　　│　　　08┃　　　　　　　　　│　　　　　　　　　┃
AA:07 = │　　　　　　　　　　　│　　　◯┃　　　　04　　　　│　　　　　　03　□┃
AA:08 = │　　　　　　　　　　　│　　　　┃　　　　　　　　　│　　　　　　　　　┃
AA:09 = └───────────┘　　　◯┃　　　　　　　　　│　　　　　　　　□┃
AA:10 = 　　　　　　　　　　　　　　　　　┃　　　　　　　　　│　　　　　　　　　┃
AA:11 = 　　　　　　　　　　　　　　　　　┃　　　　　　　　　│　　　　　　　　□┃
AA:12 = 　　　　　　　　　　　　　　　　　┠─────────┘　　　　　　　　　┃
AA:13 = 　　　　　　　　　　　　　　　　　┃　　　　　　　　　　　　　┏━━　━━┫
AA:14 = ┏━━━━━━━━━━　　　━━━┛　　　　　　　　　　　　　┃┤　　　├┃
AA:15 = ┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┤　　　├┃
AA:16 = ┃　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┤　　　├┃
AA:17 = ┠───────┐　　　　　　　　　　　　┏━━━━━━━━━┫┤　02　├┃
AA:18 = ┃　　　　　　　│　　　　　　　　　　　　┃　　　　　　　　　┃┤　　　├┃
AA:19 = ┃　　　　　　　│　　　　┏━━━━━　━┫　　　　　　　　　┃┤　　　├┃
AA:20 = ┃　　　　　　　│　　　　┃　　　　　　　┃　　　　　　　　　┃┤　　　├┃
AA:21 = ┃　　　05　　　│　　　　┃　　　　　　　┃　　　　11　　　　┣━━　━━┛
AA:22 = ┃　　　　　　　│　　　　┃　　　06　　　┃　　　　　　　　　┃
AA:23 = ┃　　　　　　　│　　　　┃　　　　　　　┃　　
AA:24 = ┃　　　　　　　│　　　　┃　　　　　　　┃　　　　　　　　　┃　　01
AA:25 = ┗━━━━━━━┷━━━━┻━━━━━━━┻━━━━━━━━━┛　　↓
AA:26 = 
AA:27 = 一：ロビーへ　　　　　二：脱衣所　　　　　　三：洗い場
AA:28 = 四：内風呂　　　　　　五：変わり湯　　　　　六：サウナルーム
AA:29 = 七：露天風呂　　　　　八：壺湯　　　　　　　九：女湯へ
AA:30 = 十：覗き用隠し通路　　什：マッサージルーム


@GETPLACENAME_0_7(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 701
		TSTR:場所名受渡 = ロビー
	CASE 702
		TSTR:場所名受渡 = 脱衣所
	CASE 703
		TSTR:場所名受渡 = 洗い場
	CASE 704
		TSTR:場所名受渡 = 内風呂
	CASE 705
		TSTR:場所名受渡 = 変わり湯
	CASE 706
		TSTR:場所名受渡 = サウナルーム
	CASE 707
		TSTR:場所名受渡 = 露天風呂
	CASE 708
		TSTR:場所名受渡 = 壺湯
	CASE 709
		TSTR:場所名受渡 = 女湯
	CASE 710
		TSTR:場所名受渡 = 覗き用隠し通路
	CASE 711
		TSTR:場所名受渡 = マッサージルーム
ENDSELECT


@DRAW_MAP_BG_0_7(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
;違う文字を表示させる例
;下部一覧の数字を三桁表示しつつボタン化させる
CASE "一"
	表示文字列 += @"<button value='701'>701</button>"
CASE "二"
	表示文字列 += @"<button value='702'>702</button>"
CASE "三"
	表示文字列 += @"<button value='703'>703</button>"
CASE "四"
	表示文字列 += @"<button value='704'>704</button>"
CASE "五"
	表示文字列 += @"<button value='705'>705</button>"
CASE "六"
	表示文字列 += @"<button value='706'>706</button>"
CASE "七"
	表示文字列 += @"<button value='707'>707</button>"
CASE "八"
	表示文字列 += @"<button value='708'>708</button>"
CASE "九"
	表示文字列 += @"<button value='709'>709</button>"
CASE "十"
	表示文字列 += @"<button value='710'>710</button>"
CASE "什"
	表示文字列 += @"<button value='711'>711</button>"
;ふつうの
CASEELSE
	表示文字列 += @"%SLICED%"
ENDSELECT


@風呂場系列改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = リゾートハウスから通じる野外周辺を改装します。<br><br>
IF 施設改造度:7:0 < 1
	LOCALS += @"■<button value='200'>[温泉施設建設]</button> Lv{施設改造度:7:0}>{施設改造度:7:0 + 1} （必要:300,000ルピ ＆ 50ZP）<br>"
ELSE
	LOCALS += @"■[温泉施設改造] Lv上限<br>"
ENDIF

RETURNF LOCALS


;サウナにいる場合の特殊イベント
@COM_END_PLACEEVENT_0_706
CALL COM_END_PLACEEVENT_0_306
SIF RESULT == 1
	CFLAG:MASTER:現在位置 = 703

@風呂場系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 大浴場が温泉施設になり、以下の施設が導入されます。
		PRINTBUTTON "■男湯・女湯で別の温泉施設個別マップの解放", 300
		PRINTL 
		PRINTBUTTON "■脱衣所・洗い場・内風呂・露天風呂の導入", 301
		PRINTL 
		PRINTBUTTON "■変わり湯の導入", 302
		PRINTL 
		PRINTBUTTON "■サウナルームの導入", 303
		PRINTL 
		PRINTBUTTON "■壺湯の導入", 304
		PRINTL 
		PRINTBUTTON "■覗き用隠し通路の導入", 305
		PRINTL 
		PRINTBUTTON "■マッサージルームの導入", 306
		PRINTL 
		PRINTL 
		PRINTL 大浴場を温泉施設に改造しますか？（必要:300,000ルピ ＆ 50ZP / 維持費:1日5,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 300000
					PRINTW ルピが足りません。
					RETURN
				ELSEIF FLAG:ZP所持量 < 50
					PRINTW ZPが足りません。
					RETURN
				ENDIF
				施設改造度:7:0 = 1
				施設改造度:8:0 = 1
				MONEY -= 300000
				FLAG:ZP所持量 -= 50
				PRINTL 大浴場を温泉施設に改造しました！
				IF ダンジョンクリアフラグ_名前を亡くした遺跡
					PRINTW (滞在キャラ上限＋１０)
				ELSE
					PRINTW (滞在キャラ上限＋５)
				ENDIF
				CALL 滞在可能キャラ数再計算
				RETURN
			CASE 1
				RETURN
			CASE 300
				DRAWLINE
				PRINTL マップの解放により、温泉施設に移動すると個別のマップへと移動するようになります。
				PRINTL 男湯・女湯で別マップです。
				PRINTL 改造が進むと更にマップが拡張され、内部の施設を強化出来るようになります。（未実装です）
				PRINTW
			CASE 301
				DRAWLINE
				PRINTL 基本的な温泉施設です。
				PRINTL 脱衣所は異性側の脱衣所から、洗い場と内風呂・露天風呂は覗き用隠し通路から覗くことが可能です。
				PRINTW
			CASE 302
				DRAWLINE
				PRINTL 日毎に内容が変わる変わり湯です。
				PRINTL 薬草風呂や電気風呂、ゆず湯などが切り替わります。
				PRINTL 湯の内容により、追加効果が発生します。（未実装です、現在フレーバーのみ）
				PRINTW 
			CASE 303
				DRAWLINE
				PRINTL 本格的なサウナが楽しめるサウナルームです。水風呂も併設されています。
				PRINTL サウナ好きの素質を持つキャラクターは日中でもサウナを楽しんでいることがあります。（未実装です）
				PRINTW 
			CASE 304
				DRAWLINE
				PRINTL 一人用の壺湯です。
				PRINTL 同室キャラが陥落済み、かつ他に人がいない場合、一つの壺に二人で入っていちゃいちゃすることが出来ます。
				PRINTW 
			CASE 305
				DRAWLINE
				PRINTL 隠し通路から安全に洗い場と内風呂・露天風呂を覗くことが出来ます。
				PRINTL この通路から外に出ることも出来ますが、異性側の温泉に出ると追い出されるので注意しましょう。
				PRINTW 
			CASE 305
				DRAWLINE
				PRINTL 体をもみほぐすマッサージルームです。
				PRINTL 専門のマッサージ師が常駐するので維持費が掛かります。（1日5,000ルピ）
				PRINTL 特殊能力［特殊マッサージ術］を持っている場合、プレイヤー自身がマッサージを行うことが出来ます。（未実装です）
				PRINTW 
		ENDSELECT
		RESTART
ENDSELECT







