
@大規模エリア建設条件_居住区エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) > 0
	RETURN 0
;イベント見ること
SIF イベント完了フラグ確認("居住区エリア建設解禁") < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_居住区エリア
LOCALS = 
LOCALS += "リゾート島に人々が定住可能になるエリア。<br>"
LOCALS += "定住者はリゾートの滞在枠を専有しないが、一日終了時のルピ収入も発生させない。<br>"
LOCALS += "初来訪時に通常衣装「スモック」「ナース服」を入手。ZPショップに「保育所の子供を成長させる」を追加。<br>"
LOCALS += "<br>"
LOCALS += "・特殊施設一覧<br>"
LOCALS += "　■住宅街<br>"
LOCALS += "　　定住者が寝泊まりする場所。キャラごとに個別の部屋を持つ。<br>"
LOCALS += "　　一定以上仲が良いキャラ同士は同じ部屋に住むことがある。<br>"
LOCALS += "<br>"
LOCALS += "　■保育所<br>"
LOCALS += "　　子供を保護し育てる場所。リゾートで生まれた子供の様子を見ることが出来る。<br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 2000000

@MAP_VIEWING_2(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_2_{TFLAG:マップ種別}(AA)

@エリア情報登録_2(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 居住区エリア
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_2_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
IF 居住区改造度:0:0
	AA:(MAP++) = ┏━┓　　　┏━━┓┏━━┓┏━━┓┏┓│　│　　　┏━┓│　│　　　‖川　‖
	AA:(MAP++) = ┗━┛┏━┓┗━┓┃┗━━┛┗━━┛┗┛│　│　　　┃　┃│　│　　　‖川川‖
	AA:(MAP++) = ┏━┓┃　┃┏━┛┃┏━┓┏━━┓┏━┓│　│┏━┓┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┃　┃┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┃10┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┏━━┓┏━┓┏━━┓┏━┓┏━┓│　│┗━┛┃　┃│　│　　　‖川　‖
	AA:(MAP++) = ┏┓　┗━━┛┗━┛┗━━┛┗━┛┃　┃│　│┏━┓┃02┃│　│　　　‖川川‖
	AA:(MAP++) = ┃┗┓┏━┓┏━━┓┏━┓┏━━┓┗━┛│　│┃　┃┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┗━┛┗━┛┃┏━┛┗━┛┗━━┛┏━┓│　│┃　┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┏━┓┏━┓┗┛　　　　　　┏━┓┃　┃│　│┃03┃┃　┃│　│　12　‖川　‖
	AA:(MAP++) = ┗┓┃┃　┃┏━┓　住宅街　┗━┛┃　┃│　│┃　┃┗━┛│　│　　　‖川川‖
	AA:(MAP++) = 　┗┛┃　┃┗━┛　　　　　　┏┓┗━┛│　│┃　┃┏━┓│　│　　　‖　川‖
	AA:(MAP++) = ┏━┓┗━┛┏━━┓┏━┓┏━┛┃┏━┓│　│┗━┛┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┏━┓┗━━┛┗━┛┗━━┛┗━┛│　│┏━┓┃　┃│　│　　　‖川　‖
	AA:(MAP++) = ┏━┓┃　┃┏━┓┏━━┓┏━┓┏━━┓│　│┃　┃┃11┃│　│　　　‖川川‖
	AA:(MAP++) = ┃　┃┗━┛┗━┛┗━━┛┗━┛┗━━┛│　│┃04┃┃　┃│　│　　　‖　川‖
	AA:(MAP++) = ┃　┃┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┃　┃┃　┃│　│　　　‖　　‖
	AA:(MAP++) = ┗━┛┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┗━┛┗━┛│　│　　　‖川　‖
	AA:(MAP++) = ────────────────────┘　└──────┘　└───────
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　01　　　　　　　　　　　　　　　14→
	AA:(MAP++) = ────────────────────┐　┌────────────────
	AA:(MAP++) = 　┏━┓┏━━━━━━━┓┏━━━━━┓│　│　　　　　　　┏━━━┓‖川　‖
	AA:(MAP++) = 　┃　┃┃　　　05　　　┃┃　　06　　┃│　│　　　　　　　┃　　　┃‖川川‖
	AA:(MAP++) = 　┃　┃┗━━━━━━━┛┗━━━━━┛│　│　　　　　　　┃　13　┃‖　川‖
	AA:(MAP++) = 　┃07┃　08┏━━━┓┏━━┓┏━━━┓│　│　　　　　　　┃　　　┃‖　　‖
	AA:(MAP++) = 　┃　┗━┓┃　　　┃┃　　┃┃　09　┃│　│　　　　　　　┗━━━┛‖川　‖
	AA:(MAP++) = 　┃　　　┃┗━━━┛┗━━┛┃　　　┃│　│　　　　　　　　　　　　‖川川‖
	AA:(MAP++) = 　┗━━━┛┏━━━━━━━┓┗━━━┛│　│　　　　　　　　　　　　‖　川‖
	AA:(MAP++) = 
	AA:(MAP++) = 01：ア　　14：二丁目へ
	AA:(MAP++) = 02：公園　　　　　03：地元向け商店　04：保育所　　　　05：診療所
	AA:(MAP++) = 06：郵便局　　　　07：酒呑処　　　　08：路地裏　　　　09：村役場
	AA:(MAP++) = 10：純喫茶店　　　11：自警団詰め所　12：イ　　　　13：学校
ELSE
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┏━┓
	AA:(MAP++) = ┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┃02┃
	AA:(MAP++) = ┏━━┓┏━┓┏━━┓┏━┓┏━┓│　│┗━┛
	AA:(MAP++) = ┗━━┛┗━┛┗━━┛┗━┛┃　┃│　│┏━┓
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┗━┛│　│┃　┃
	AA:(MAP++) = ┗━┛┃┏━┛┗━┛┗━━┛┏━┓│　│┃　┃
	AA:(MAP++) = ┏━┓┗┛　　　　　　┏━┓┃　┃│　│┃03┃
	AA:(MAP++) = ┃　┃┏━┓　住宅街　┗━┛┃　┃│　│┃　┃
	AA:(MAP++) = ┃　┃┗━┛　　　　　　┏┓┗━┛│　│┃　┃
	AA:(MAP++) = ┗━┛┏━━┓┏━┓┏━┛┃┏━┓│　│┗━┛
	AA:(MAP++) = ┏━┓┗━━┛┗━┛┗━━┛┗━┛│　│┏━┓
	AA:(MAP++) = ┃　┃┏━┓┏━━┓┏━┓┏━━┓│　│┃　┃
	AA:(MAP++) = ┗━┛┗━┛┗━━┛┗━┛┗━━┛│　│┃04┃
	AA:(MAP++) = ┏━┓┏━━┓┏━┓┏━━┓┏━┓│　│┃　┃
	AA:(MAP++) = ┗━┛┗━━┛┗━┛┗━━┛┗━┛│　│┗━┛
	AA:(MAP++) = ─────────────────┘　└───
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　01
	AA:(MAP++) = ─────────────────┐　┌───
	AA:(MAP++) = 　┏━━━━━━━┓┏━━━━━┓│　│
	AA:(MAP++) = 　┃　　　05　　　┃┃　　06　　┃│　│
	AA:(MAP++) = 　┗━━━━━━━┛┗━━━━━┛│　│
	AA:(MAP++) = 
	AA:(MAP++) = 01：ア
	AA:(MAP++) = 02：公園　　　　　03：地元向け商店　04：保育所
	AA:(MAP++) = 05：診療所　　　　06：郵便局
ENDIF



@GETPLACENAME_2_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 住宅街前交差点
	CASE 2
		TSTR:場所名受渡 = 公園
	CASE 3
		TSTR:場所名受渡 = 地元向け商店
	CASE 4
		TSTR:場所名受渡 = 保育所
	CASE 5
		TSTR:場所名受渡 = 診療所
	CASE 6
		TSTR:場所名受渡 = 郵便局
	CASE 7
		TSTR:場所名受渡 = 酒呑処
	CASE 8
		TSTR:場所名受渡 = 路地裏
	CASE 9
		TSTR:場所名受渡 = 村役場
	CASE 10
		TSTR:場所名受渡 = 純喫茶店
	CASE 11
		TSTR:場所名受渡 = 自警団詰め所
	CASE 12
		TSTR:場所名受渡 = 河川敷
	CASE 13
		TSTR:場所名受渡 = 学校
	CASE 14
		TSTR:場所名受渡 = 二丁目へ
ENDSELECT

@GETPLACENAME_2_10(ARG)
#FUNCTION
#DIMS 配列分解文字列, 2

IF 定住者部屋割り配列:(ARG - 1000) == ""
	LOCALS = 居住者なし
ELSE
	VARSET 配列分解文字列
	SPLIT 定住者部屋割り配列:(ARG - 1000), "_", 配列分解文字列
	IF STRCOUNT(定住者部屋割り配列:(ARG - 1000), "_") > 1
		LOCALS = %CALLNAME:(TOINT(配列分解文字列:0))%他
	ELSE
		LOCALS = %CALLNAME:(TOINT(配列分解文字列:0))%
	ENDIF
ENDIF
TSTR:場所名受渡 = 住宅街{ARG}番地：%LOCALS%

@GETPLACENAME_2_11(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_12(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_13(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_14(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_15(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_16(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_17(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_18(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)

@GETPLACENAME_2_19(ARG)
#FUNCTION

CALLF GETPLACENAME_2_10(ARG)


@DRAW_MAP_BG_2_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
	CASE "ア"
		表示文字列 += "住宅街前交差点"
	CASE "イ"
		表示文字列 += "河川敷"
	CASE "住","宅","街"
		IF CFLAG:PLAYER:現在位置 >= 1000
			表示文字列 += @"<font color='#%カラーパレット_HTML("真っ赤")%'>%SLICED%</font>"
		ELSE
			表示文字列 += @"%SLICED%"
		ENDIF
	CASE "川","‖"
		表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT



@エリア来訪時イベント_2

IF 居住区初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初来訪：居住区エリア］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%は島を開拓し、空いたエリアに建設した居住区を訪れた。
	PRINTFORMW 既に何人かの定住希望者が引っ越してきており、公園からは子供が遊ぶ声も聞こえてくる。
	PRINTFORMW リゾートを大きくするには、地元産業が育つことも大事だ。
	PRINTFORMW いつまでも外からの輸入に頼っていてはいくらルピがあっても足りやしない。
	PRINTL 
	PRINTFORMW 現状では小さな村でしかないが、今後発展していけば街と呼べるような規模にも育つだろう。
	PRINTL 
	PRINTFORMW また、人が増えれば商業も活性化する。商業が活性化すれば人も増える。
	PRINTFORMW 空艇港の商店通りを強化すれば、定住者が店を開いてくれることがあるかもしれない。
	PRINTFORMW 余裕があればそちらも開発を進めておこう。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 保育所の完成により通常衣装「スモック」を入手した。
	PRINTFORMW 診療所の完成により通常衣装「ナース服」を入手した。
	RESETCOLOR
	CALL 制服登録処理("スモック")
	CALL 制服登録処理("ナース服")
	居住区初来訪イベントフラグ = 1
ENDIF

IF 居住区二丁目初来訪イベントフラグ == 0 && 居住区改造度:14:0
	DRAWLINE
	PRINTL ［初来訪：居住区エリア・二丁目］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%は拡張した居住区を訪れた。
	PRINTFORMW 最近では移住希望者は更に増え、そろそろ村以上の規模に育ってきている。
	PRINTFORMW 人口が増えればリゾートの発展もより進んでいくだろう。
	PRINTL 
	PRINTFORMW また、今回拡張した土地には結婚式場と美術館を建設した。
	PRINTFORMW これで住民たちはこの島で式を挙げられるし、「リゾートウェディング」という名目で観光客も見込めるだろう。
	PRINTFORMW もちろん、自分自身の式に使ってもいい。望む相手がいればの話だが。
	PRINTL 
	PRINTFORMW 美術館の方はまだあまり展示品は充実していない。
	PRINTFORMW いずれ余裕が出来れば歴史ある美術品を買い集めてみたり、
	PRINTFORMW あるいは観光客や住民から展示物を募ってみたりしても面白いだろう。（未実装です）
	PRINTL 
	PRINTFORMW 懸念点は人口増加によるトラブルの増加だが……。
	PRINTFORM 今までは住人の自治に任せていたが、村役場で
	SETCOLOR カラーパレット("黄")
	PRINTFORM 条例を設定し、発布する
	RESETCOLOR
	PRINTFORMW ことも考えた方がいいかもしれない。（未実装です）
	PRINTL 
	PRINTFORMW ともあれ、軌道に乗ってきたことは確かだ。
	PRINTFORMW この調子で開発を進めていこう。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 結婚式場の完成により通常衣装「ウェディングドレス」を入手した。
	PRINTFORMW 結婚式場の完成により通常衣装「ホワイトタキシード」を入手した。
	RESETCOLOR
	CALL 制服登録処理("ウェディングドレス")
	CALL 制服登録処理("ホワイトタキシード")
	居住区二丁目初来訪イベントフラグ = 1
ENDIF

@居住区改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 居住区エリアを発展させ、居住可能数や施設を増やします。<br><br>
IF 居住区改造度:0:0 < 1
	LOCALS += @"■<button value='200'>[居住区の発展]</button> Lv{居住区改造度:0:0}>{居住区改造度:0:0 + 1} （必要:2,000,000ルピ）<br>"
ELSE
	LOCALS += @"■[居住区の発展] Lv{居住区改造度:0:0}：上限<br>"
	IF 居住区改造度:14:0 < 1
		LOCALS += @"■<button value='201'>[居住区拡張：二丁目]</button> Lv{居住区改造度:14:0}>{居住区改造度:14:0 + 1} （必要:2,000,000ルピ）<br>"
	ELSE
		LOCALS += @"■[居住区拡張：二丁目] Lv{居住区改造度:14:0}：上限<br>"
	ENDIF
ENDIF

RETURNF LOCALS

@居住区改造実行関数(コマンド数値)
#DIM コマンド数値

SELECTCASE コマンド数値
	CASE 200
		DRAWLINE
		PRINTL 居住区エリアに以下の変更が導入されます。
		PRINTBUTTON "■居住区エリアの枠拡大", 500
		PRINTL 
		PRINTBUTTON "■施設の追加", 501
		PRINTL 
		PRINTL 
		PRINTL 居住区エリアを発展させますか？（必要:2,000,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 2000000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				ARRAYSHIFT 定住者部屋割り配列, 住宅街広さ(), "", 住宅街広さ() + 30
				居住区改造度:0:0 = 1
				MONEY -= 2000000
				PRINTL 居住区エリアを発展させました！
				CALL RESET_GRAPH_2
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @" 居住区エリアをLv1に発展させた","実績")
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL 居住区の枠が50枠から80枠に拡大されます。
				PRINTL これにより、より多くのキャラクターを定住させることが出来るようになります。
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL 新たに7つの施設が追加されます。
				PRINTL （酒呑処、路地裏、村役場、純喫茶店、自警団詰め所、河川敷、学校）
				PRINTL 現在はこれらの施設に特別な機能はありませんが、今後実装される可能性があります。
				PRINTW
		ENDSELECT
		RESTART
	CASE 201
		DRAWLINE
		PRINTL 居住区エリアに以下の変更が導入されます。
		PRINTBUTTON "■二丁目個別マップの解放", 500
		PRINTL 
		PRINTBUTTON "■施設の追加", 501
		PRINTL 
		PRINTL 
		PRINTL 居住区に二丁目を作成しますか？（必要:2,000,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 2000000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				ARRAYSHIFT 定住者部屋割り配列, 住宅街広さ(), "", 住宅街広さ() + 20
				居住区改造度:14:0 = 1
				MONEY -= 2000000
				PRINTL 居住区に二丁目を作成させました！
				CALL RESET_GRAPH_2
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @" 居住区エリアに二丁目を作成した","実績")
				RETURN
			CASE 1
				RETURN
			CASE 500
				DRAWLINE
				PRINTL 居住区の枠が20枠分追加で拡大されます。
				PRINTL これにより、より多くのキャラクターを定住させることが出来るようになります。
				PRINTW
			CASE 501
				DRAWLINE
				PRINTL 新たに2つの施設が追加されます。
				PRINTL （結婚式場、美術館）
				PRINTL 現在はこれらの施設に特別な機能はありませんが、今後実装される可能性があります。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT



