
@ダンジョンマップセット_人食い鳥の島_1
DUNGEON_MAP_外部 = 壁_岩
;X軸
ダンジョン最大広さ:0 = 21
;Y軸
ダンジョン最大広さ:1 = 40

LOCAL = 0
DUNGEON_MAP:(LOCAL++) = 000000000111000000000
DUNGEON_MAP:(LOCAL++) = 000000000111000000000
DUNGEON_MAP:(LOCAL++) = 000000000111000000000
DUNGEON_MAP:(LOCAL++) = 000000000111000000000
DUNGEON_MAP:(LOCAL++) = 000011111111000000000
DUNGEON_MAP:(LOCAL++) = 000011000000000000000
DUNGEON_MAP:(LOCAL++) = 000010000000000000000
DUNGEON_MAP:(LOCAL++) = 000010000000000000000
DUNGEON_MAP:(LOCAL++) = 000010011000000000000
DUNGEON_MAP:(LOCAL++) = 000011111111111110000
DUNGEON_MAP:(LOCAL++) = 000011000000000110000
DUNGEON_MAP:(LOCAL++) = 000000000000000010000
DUNGEON_MAP:(LOCAL++) = 000000000000000011000
DUNGEON_MAP:(LOCAL++) = 000000000000000011000
DUNGEON_MAP:(LOCAL++) = 001110000000000011000
DUNGEON_MAP:(LOCAL++) = 001110000001110010000
DUNGEON_MAP:(LOCAL++) = 001000000001111110000
DUNGEON_MAP:(LOCAL++) = 001000000000011000000
DUNGEON_MAP:(LOCAL++) = 001111000000010000000
DUNGEON_MAP:(LOCAL++) = 000001000000010000000
DUNGEON_MAP:(LOCAL++) = 000001000000010000000
DUNGEON_MAP:(LOCAL++) = 000001100000110000000
DUNGEON_MAP:(LOCAL++) = 000001111111110000000
DUNGEON_MAP:(LOCAL++) = 000001000000110000000
DUNGEON_MAP:(LOCAL++) = 000001000000010000000
DUNGEON_MAP:(LOCAL++) = 000001000000010000000
DUNGEON_MAP:(LOCAL++) = 000001100000011111100
DUNGEON_MAP:(LOCAL++) = 000001111000000011100
DUNGEON_MAP:(LOCAL++) = 000000011000000000000
DUNGEON_MAP:(LOCAL++) = 000000001000000000000
DUNGEON_MAP:(LOCAL++) = 000000001000000001111
DUNGEON_MAP:(LOCAL++) = 000000011000000011111
DUNGEON_MAP:(LOCAL++) = 001111111111111111111
DUNGEON_MAP:(LOCAL++) = 001100000000000000000
DUNGEON_MAP:(LOCAL++) = 001000000000000000000
DUNGEON_MAP:(LOCAL++) = 001000001111110000000
DUNGEON_MAP:(LOCAL++) = 001000011111110000000
DUNGEON_MAP:(LOCAL++) = 001111111000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000



LOCAL = 0
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地地地地地地地地岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地岩岩地地岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地地地地地地地地地地地地地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地地岩岩岩岩岩岩岩岩岩地地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地地岩岩岩岩岩岩岩岩岩岩岩地地岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地地岩岩岩岩岩岩地地地岩岩地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地岩岩岩岩岩岩岩岩地地地地地地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地岩岩岩岩岩岩岩岩岩岩地地岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地地地岩岩岩岩岩岩岩地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地岩岩岩岩岩岩岩地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地岩岩岩岩岩岩岩地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地岩岩岩岩岩地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地地地地地地地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地岩岩岩岩岩岩地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地岩岩岩岩岩岩岩地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地岩岩岩岩岩岩岩地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地岩岩岩岩岩岩地地地地地地岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地地地岩岩岩岩岩岩岩地地地岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩地地岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩地岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩地岩岩岩岩岩岩岩岩地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩地地岩岩岩岩岩岩岩地地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地地地地地地地地地地地地地地地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地岩岩岩岩岩地地地地地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地岩岩岩岩地地地地地地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩

;イベントセット
FOR LOCAL, 0, 50
	TRYCALLFORM ダンジョンイベント位置_人食い鳥の島_1_{LOCAL}
NEXT


@ダンジョンイベント位置_人食い鳥の島_1_0
ダンジョンイベント:0:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:0:X軸位置 = 15
ダンジョンイベント:0:Y軸位置 = 20

@ダンジョンイベント_人食い鳥の島_1_0
CALL 口上変数初期化
KSTR:(K++) = ダンジョンから脱出します。よろしいですか？
KSTR:(K++) = <button value='0'>[0]はい</button>
KSTR:(K++) = <button value='1'>[1]いいえ</button>
CALL メッセージ欄表示用関数(,,,0)
$INPUT_LOOP
INPUT
SELECTCASE RESULT
	CASE 0
		ダンジョン終了フラグ = 1
	CASE 1
	CASEELSE
		REUSELASTLINE 
		GOTO INPUT_LOOP
ENDSELECT

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)

