

@ダンジョン初期処理_人食い鳥の島
;マップ情報
;X軸
ダンジョン現在位置:0 = 16
;Y軸
ダンジョン現在位置:1 = 19
現在階層変数 = 0
CALL ダンジョンマップセット_人食い鳥の島_0



@ダンジョンマップセット_人食い鳥の島_0
DUNGEON_MAP_外部 = 壁_岩
;X軸
ダンジョン最大広さ:0 = 33
;Y軸
ダンジョン最大広さ:1 = 21

LOCAL = 0
DUNGEON_MAP:(LOCAL++) = 000000000000000010000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000111000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000011111110000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000011111110000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000011111110000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000011111110000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000000000000000000000
DUNGEON_MAP:(LOCAL++) = 111111100000000000000000001111111
DUNGEON_MAP:(LOCAL++) = 111111110000000000000000011111111
DUNGEON_MAP:(LOCAL++) = 111111111000000000000000111111111
DUNGEON_MAP:(LOCAL++) = 000011111000000000000000111110000
DUNGEON_MAP:(LOCAL++) = 000001111000000000000000111100000
DUNGEON_MAP:(LOCAL++) = 000001111100000010000001111100000
DUNGEON_MAP:(LOCAL++) = 000000111110000111000011111000000
DUNGEON_MAP:(LOCAL++) = 000000011111111111111111110000000
DUNGEON_MAP:(LOCAL++) = 000000011111111111111111110000000
DUNGEON_MAP:(LOCAL++) = 000000001111111111111111100000000
DUNGEON_MAP:(LOCAL++) = 000000000000001111100000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000111000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000111000000000000000
DUNGEON_MAP:(LOCAL++) = 000000000000000111000000000000000



LOCAL = 0
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 地地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 地地地地地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地地地地地
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩地地地地地岩岩岩岩岩岩地岩岩岩岩岩岩地地地地地岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩地地地地地岩岩岩岩地地地岩岩岩岩地地地地地岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩地地地地地地地地地地地地地地地地地地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩地地地地地地地地地地地地地地地地地地地岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩地地地地地地地地地地地地地地地地地岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩
DUNGEON_MAP_MASK:(LOCAL++) = 岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩地地地岩岩岩岩岩岩岩岩岩岩岩岩岩岩岩

;イベントセット
FOR LOCAL, 0, 50
	TRYCALLFORM ダンジョンイベント位置_人食い鳥の島_0_{LOCAL}
NEXT


@ダンジョンイベント位置_人食い鳥の島_0_0
ダンジョンイベント:0:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:0:X軸位置 = 15
ダンジョンイベント:0:Y軸位置 = 20

@ダンジョンイベント_人食い鳥の島_0_0
CALL 口上変数初期化
KSTR:(K++) = ダンジョンから脱出します。よろしいですか？
KSTR:(K++) = <button value='0'>[0]はい</button>
KSTR:(K++) = <button value='1'>[1]いいえ</button>
CALL メッセージ欄表示用関数(,,,0)
$INPUT_LOOP
INPUT
SELECTCASE RESULT
	CASE 0
		ダンジョン終了フラグ = 1
	CASE 1
	CASEELSE
		REUSELASTLINE 
		GOTO INPUT_LOOP
ENDSELECT

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)


@ダンジョンイベント位置_人食い鳥の島_0_1
ダンジョンイベント:1:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:1:X軸位置 = 16
ダンジョンイベント:1:Y軸位置 = 20

@ダンジョンイベント_人食い鳥の島_0_1
CALL ダンジョンイベント_人食い鳥の島_0_0
RETURN RESULT

@ダンジョンイベント位置_人食い鳥の島_0_2
ダンジョンイベント:2:アイコン種類 = イベントアイコンリソース名数字変換("出口アイコン")
ダンジョンイベント:2:X軸位置 = 17
ダンジョンイベント:2:Y軸位置 = 20

@ダンジョンイベント_人食い鳥の島_0_2
CALL ダンジョンイベント_人食い鳥の島_0_0
RETURN RESULT

@ダンジョンイベント位置_人食い鳥の島_0_3
SIF ダンジョン変数_人食い鳥の島:0:3
	RETURN 0
ダンジョンイベント:3:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン")
ダンジョンイベント:3:X軸位置 = 16
ダンジョンイベント:3:Y軸位置 = 12

@ダンジョンイベント_人食い鳥の島_0_3
CALL 口上変数初期化
KSTR:(K++) = 上の方に、巨大な鳥の巣が見える……。
KSTR:(K++) = あそこに人食い鳥の親玉がいるのだろう。
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
KSTR:(K++) = だが岩と崖に阻まれ、直接向かうのは容易ではない。
KSTR:(K++) = 無理やりに登ってしまえば、無防備なところを鳥に襲われてしまう。
KSTR:(K++) = 地道だが回り込んで向かうしか無さそうだ。
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
WSTR:(K++) = 事前に調べた情報によると……あの位置に向かうには左右２つのルートがある。
WSTR:(K++) = 左のルートは短くて分岐も少ないが、道が狭く魔物を避け辛い道。
KSTR:(K++) = 右のルートは道が広めで魔物を避けやすいが、道のりが長く迷いやすい道。
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
KSTR:(K++) = さて、どちらのルートで行くべきだろうか……。
CALL メッセージ欄表示用関数()

CALL 口上変数初期化
CALL メッセージ欄表示用関数(,,,0)


@ダンジョンイベント位置_人食い鳥の島_0_4
SIF ダンジョン変数_人食い鳥の島:0:4
	RETURN 0
ダンジョンイベント:4:アイコン種類 = イベントアイコンリソース名数字変換("会話アイコン_赤")
ダンジョンイベント:4:X軸位置 = 16
ダンジョンイベント:4:Y軸位置 = 5

@ダンジョンイベント_人食い鳥の島_0_4



@ダンジョンイベント位置_人食い鳥の島_0_5
ダンジョンイベント:5:アイコン種類 = イベントアイコンリソース名数字変換("左アイコン")
ダンジョンイベント:5:X軸位置 = 0
ダンジョンイベント:5:Y軸位置 = 7

@ダンジョンイベント_人食い鳥の島_0_5
VARSET DUNGEON_MAP:0
VARSET DUNGEON_MAP_MASK:0
VARSET ダンジョンイベント:0:0
CALL ダンジョンマップセット_人食い鳥の島_1
;X軸
ダンジョン現在位置:0 = 19
;Y軸
ダンジョン現在位置:1 = 30
現在階層変数 = 1

@ダンジョンイベント位置_人食い鳥の島_0_6
ダンジョンイベント:6:アイコン種類 = イベントアイコンリソース名数字変換("左アイコン")
ダンジョンイベント:6:X軸位置 = 0
ダンジョンイベント:6:Y軸位置 = 8

@ダンジョンイベント_人食い鳥の島_0_6
VARSET DUNGEON_MAP:0
VARSET DUNGEON_MAP_MASK:0
VARSET ダンジョンイベント:0:0
CALL ダンジョンマップセット_人食い鳥の島_1
;X軸
ダンジョン現在位置:0 = 19
;Y軸
ダンジョン現在位置:1 = 31
現在階層変数 = 1

@ダンジョンイベント位置_人食い鳥の島_0_7
ダンジョンイベント:7:アイコン種類 = イベントアイコンリソース名数字変換("左アイコン")
ダンジョンイベント:7:X軸位置 = 0
ダンジョンイベント:7:Y軸位置 = 9

@ダンジョンイベント_人食い鳥の島_0_7
VARSET DUNGEON_MAP:0
VARSET DUNGEON_MAP_MASK:0
VARSET ダンジョンイベント:0:0
CALL ダンジョンマップセット_人食い鳥の島_1
;X軸
ダンジョン現在位置:0 = 19
;Y軸
ダンジョン現在位置:1 = 32
現在階層変数 = 1
