@起床前メニュー上部分表示文章()
#FUNCTIONS

IF 起床前メニュー上部分表示フラグ
	RETURNF TIPS表示文章()
ELSE
	RETURNF かんたんチュートリアル表示文章()
ENDIF


@起床前メニュー上部分文章切り替え(入力番号)
#DIM 入力番号

IF 起床前メニュー上部分表示フラグ
	SELECTCASE 入力番号
		CASE 810 
			起床前メニュー上部分表示フラグ = 0
		CASE 811
			RETURN -1
	ENDSELECT
ELSE
	SELECTCASE 入力番号
		CASE 800 TO 802
			チュートリアル番号 = 入力番号
		CASE 809
			チュートリアル番号 = 0
			起床前メニュー上部分表示フラグ = 1
		CASE 810 
			チュートリアル番号 = 0
	ENDSELECT
ENDIF

@かんたんチュートリアル表示文章()
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 '= ""
SELECTCASE チュートリアル番号
	CASE 0
		表示文章 += "■かんたんチュートリアル<br>"
		表示文章 += "　簡易的なチュートリアルが表示されます。項目を選んでください。<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='800'>[800] まず何すりゃいいの？</button><br>"
		表示文章 += "　<button value='801'>[801] さっさとスケベしたいんだけど</button><br>"
		表示文章 += "　<button value='802'>[802] このキャラに口上付いてる？</button><br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='809'>[809] かんたんチュートリアルを表示しない</button><br>"
	CASE 800
		表示文章 += "■まず何すりゃいいの？<br>"
		表示文章 += "　最初に[110] - リゾートの広告を出す を選び、[1]通常の広告を打つ を選んでください。<br>"
		表示文章 += "　広告を打つことで初めてキャラがリゾートに訪れるようになります。<br>"
		表示文章 += "　その後は[100] - 起床 を選択することでリゾート内に移行し、キャラたちと触れ合うことが出来ます。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
	CASE 801
		表示文章 += "■さっさとスケベしたいんだけど<br>"
		表示文章 += "　このバリアントは、セックスまでが少々遠いバリアントになっています。<br>"
		表示文章 += "　最も簡単な方法は[121] - 能力表示 から、あるいはキャラと同室した状態で能力表示を選び、<br>"
		表示文章 += "　[110]恋慕対象に選ぶ を選択。それから行動を共にすることで恋慕レベルを上げ、告白する[352] を成功させることです。<br>"
		表示文章 += "　告白成功後に二人きりになれば、押し倒す[350] でセックスに持ち込むことが出来ます。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
	CASE 802
		表示文章 += "■このキャラに口上付いてる？<br>"
		表示文章 += "　[121] - 能力表示 から[2000]フィルタ機能 を選び、[口上なし] を非表示にすると<br>"
		表示文章 += "　口上ファイルがあるキャラのみ一覧で表示されます。<br>"
		表示文章 += "　ただしこれはファイルがあるかどうかしか見ていないので、中身を保証するものではありません。<br>"
		表示文章 += "　口上の充実度に関してはERBファイルを直接閲覧してください。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
ENDSELECT
RETURNF 表示文章


@TIPS表示文章
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 = ■TIPS!<br>
SELECTCASE RAND:5
	CASE 0
		表示文章 += "　探索は現在表示されている起床前メニューからと、起床後に玄関まで移動してから行う方法があります。<br>"
		表示文章 += "　内容に違いはありませんが、玄関から出発すると時間を消費します。<br>"
		表示文章 += "　起床前メニューから行う方がお得です。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 1
		表示文章 += "　バリアントの開発は主にDiscordで行われています。<br>"
		表示文章 += "　雑談だけ参加やROM専などでも歓迎です。お気軽に参加ください。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 2
		表示文章 += "　沿岸部の森の奥にいるストーンイーターは、一度討伐した後も繰り返し戦うことが出来ます。<br>"
		表示文章 += "　ランダムな下級の指輪や火の耳飾りを入手出来るので、装備が整うまで毎日殴っておくといいでしょう。<br>"
		表示文章 += "　他のダンジョンボスも、再討伐によってアイテムが手に入ることが多いです。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 3
		表示文章 += "　リゾートの人気は日々の収入に直結する重要ステータスです。<br>"
		表示文章 += "　広告を積極的に出したり、雑務ゲージを貯めないよう多めに従業員を割り振るといいでしょう。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 4
		表示文章 += "　人気度はリゾートの充実度によって上限が定められています。<br>"
		表示文章 += "　広告出しても人気度上がらないな？　と思ったら施設の開発を進めてみてください。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 5
		表示文章 += "　射精先の選択が煩わしい時はオート射精先設定をどうぞ。<br>"
		表示文章 += "　・OPTION > 機能切り替え > その他機能切り替え > オート射精設定<br>"
		表示文章 += "　・日中行動画面で[射精先設定]<br>"
		表示文章 += "　のどちらかから設定に入ることが可能です。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
ENDSELECT
表示文章 += "　<button value='810'>[810] かんたんチュートリアルを表示する</button>　　<button value='811'>[811] TIPSリロール</button><br>"

RETURNF 表示文章
