@オススメセット処理_主人公たちセット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■主人公たちセット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "グランブルーファンタジー原作でメインの位置にいる４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "グラン・ジータ・ルリアは[命のリンク]素質でZPが稼ぎやすく、初心者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "反面、加入キャラの性別がバラけているのでハーレム等には適していないセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[夢抱く者]グラン") + 1000}'>[夢抱く者]グラン</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[碧く麗しき十天の輝星]ジータ") + 1000}'>[碧く麗しき十天の輝星]ジータ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[蒼の少女]ルリア") + 1000}'>[蒼の少女]ルリア</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[小さき赤き竜]ビィ") + 1000}'>[小さき赤き竜]ビィ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[夢抱く者]グラン")
		追加候補:1 = キャラ検索("[碧く麗しき十天の輝星]ジータ")
		追加候補:2 = キャラ検索("[蒼の少女]ルリア")
		追加候補:3 = キャラ検索("[小さき赤き竜]ビィ")
ENDSELECT


@オススメセット処理_十二神将・桜セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・桜セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "未、申、酉、戌の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "口上、探索どちらも充実しており陥落もさせやすく初心者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "resort始まりの４人をぜひ手籠めにしようセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[南南西の守護神]アニラ") + 1000}'>[南南西の守護神]アニラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西南西の守護神]アンチラ") + 1000}'>[西南西の守護神]アンチラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西の守護神]マキラ") + 1000}'>[西の守護神]マキラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[西北西の守護神]ヴァジラ") + 1000}'>[西北西の守護神]ヴァジラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[南南西の守護神]アニラ")
		追加候補:1 = キャラ検索("[西南西の守護神]アンチラ")
		追加候補:2 = キャラ検索("[西の守護神]マキラ")
		追加候補:3 = キャラ検索("[西北西の守護神]ヴァジラ")
ENDSELECT


@オススメセット処理_十二神将・黄桃セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・黄桃セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "亥、子、丑、寅の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "意外な一面がある子が多いが、陥落にはそこまでの苦労は要しない。<br>"
		RSTR:コマンド結果受渡し文字列 += "彼女達をドキドキさせるのは俺だセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※注意※このセットではシンダラ・パイは加入しないので注意！<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北西の守護神]クビラ") + 1000}'>[北北西の守護神]クビラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北の守護神]ビカラ") + 1000}'>[北の守護神]ビカラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北東の守護神]シャトラ") + 1000}'>[北北東の守護神]シャトラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[東北東の守護神]シンダラ・フアン") + 1000}'>[東北東の守護神]シンダラ・フアン</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[北北西の守護神]クビラ")
		追加候補:1 = キャラ検索("[北の守護神]ビカラ")
		追加候補:2 = キャラ検索("[北北東の守護神]シャトラ")
		追加候補:3 = キャラ検索("[東北東の守護神]シンダラ・フアン")
ENDSELECT


@オススメセット処理_十二神将・白桃セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・白桃セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "亥、子、丑、寅の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "意外な一面がある子が多いが、陥落にはそこまでの苦労は要しない。<br>"
		RSTR:コマンド結果受渡し文字列 += "彼女達をドキドキさせるのは俺だセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※注意※このセットではシンダラ・フアンは加入しないので注意！<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北西の守護神]クビラ") + 1000}'>[北北西の守護神]クビラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北の守護神]ビカラ") + 1000}'>[北の守護神]ビカラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[北北東の守護神]シャトラ") + 1000}'>[北北東の守護神]シャトラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[東北東の守護神]シンダラ・パイ") + 1000}'>[東北東の守護神]シンダラ・パイ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[北北西の守護神]クビラ")
		追加候補:1 = キャラ検索("[北の守護神]ビカラ")
		追加候補:2 = キャラ検索("[北北東の守護神]シャトラ")
		追加候補:3 = キャラ検索("[東北東の守護神]シンダラ・パイ")
ENDSELECT


@オススメセット処理_十二神将・梅セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■十二神将・梅セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "卯、辰、巳の十二神将３人のキャラ。<br>"
		;RSTR:コマンド結果受渡し文字列 += "卯、辰、巳、午の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "一癖二癖ある陥落難易度の子が多いで中級者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "そんなあの子を夢中にさせたいセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[東の守護神]マコラ") + 1000}'>[東の守護神]マコラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[東南東の守護神]ハイラ") + 1000}'>[東南東の守護神]ハイラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[南南東の守護神]インダラ") + 1000}'>[南南東の守護神]インダラ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[東の守護神]マコラ")
		追加候補:1 = キャラ検索("[東南東の守護神]ハイラ")
		追加候補:2 = キャラ検索("[南南東の守護神]インダラ")
ENDSELECT


@オススメセット処理_『組織』の女達セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■『組織』の女達セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "『組織』に所属する４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "４人それぞれで段階的に難易度が上がる初心者～中級者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "戦士である彼女達を女に戻すのは君だセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[真紅の穿光]ゼタ") + 1000}'>[真紅の穿光]ゼタ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[不滅の群青]ベアトリクス") + 1000}'>[不滅の群青]ベアトリクス</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[峻厳な鬼教官]イルザ") + 1000}'>[峻厳な鬼教官]イルザ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[月と空のあいだで]グウィン") + 1000}'>[月と空のあいだで]グウィン</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[真紅の穿光]ゼタ")
		追加候補:1 = キャラ検索("[不滅の群青]ベアトリクス")
		追加候補:2 = キャラ検索("[峻厳な鬼教官]イルザ")
		追加候補:3 = キャラ検索("[月と空のあいだで]グウィン")
ENDSELECT


@オススメセット処理_四聖セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■四聖セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "四聖の少女４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "性的な事に向いている子が多いが普通の交流には難がある中級者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "過酷な使命を持つ少女たちを癒してみないかセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四聖朱帝]チチリ") + 1000}'>[四聖朱帝]チチリ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四聖玄帝]ウルキ") + 1000}'>[四聖玄帝]ウルキ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四聖白帝]シュシュク") + 1000}'>[四聖白帝]シュシュク</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[四聖青帝]アミ") + 1000}'>[四聖青帝]アミ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[四聖朱帝]チチリ")
		追加候補:1 = キャラ検索("[四聖玄帝]ウルキ")
		追加候補:2 = キャラ検索("[四聖白帝]シュシュク")
		追加候補:3 = キャラ検索("[四聖青帝]アミ")
ENDSELECT


@オススメセット処理_レヴィオンシスターズセット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■レヴィオンシスターズセット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "レヴィオン王国の騎士団三姉妹。<br>"
		RSTR:コマンド結果受渡し文字列 += "身持ちが硬いのが長女だけであり初心者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "忠誠を捧げる人を変えてしまう背徳を味わおうなセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[レヴィオン姉妹長女]マイム") + 1000}'>[レヴィオン姉妹長女]マイム</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[レヴィオン姉妹次女]ミイム") + 1000}'>[レヴィオン姉妹次女]ミイム</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[レヴィオン姉妹三女]メイム") + 1000}'>[レヴィオン姉妹三女]メイム</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[レヴィオン姉妹長女]マイム")
		追加候補:1 = キャラ検索("[レヴィオン姉妹次女]ミイム")
		追加候補:2 = キャラ検索("[レヴィオン姉妹三女]メイム")
ENDSELECT


@オススメセット処理_銃工房の三姉妹セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■銃工房の三姉妹セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "銃工房の三姉妹。<br>"
		RSTR:コマンド結果受渡し文字列 += "身持ちが固いが隙も存在している初心者～中級者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "仲良し姉妹をベッドで更に仲良くさせようセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[奮励の儁秀]シルヴァ") + 1000}'>[奮励の儁秀]シルヴァ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[清新なる銃設計師]ククル") + 1000}'>[清新なる銃設計師]ククル</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[[ガンパウダーミキサー]クムユ") + 1000}'>[[ガンパウダーミキサー]クムユ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[奮励の儁秀]シルヴァ")
		追加候補:1 = キャラ検索("[清新なる銃設計師]ククル")
		追加候補:2 = キャラ検索("[ガンパウダーミキサー]クムユ")
ENDSELECT


@オススメセット処理_四騎士セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■四騎士セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "フェードラッヘの騎士４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "全員性的な事には身持ちが固く中級者～上級者向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "騎士四人に姫扱いされたい気持ちは誰にだってあるよな？セット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[俊英の双剣士]ランスロット") + 1000}'>[俊英の双剣士]ランスロット</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[不撓不屈の騎士]ヴェイン") + 1000}'>[不撓不屈の騎士]ヴェイン</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[炎帝]パーシヴァル") + 1000}'>[炎帝]パーシヴァル</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[竜殺しの騎士]ジークフリート") + 1000}'>[竜殺しの騎士]ジークフリート</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[俊英の双剣士]ランスロット")
		追加候補:1 = キャラ検索("[不撓不屈の騎士]ヴェイン")
		追加候補:2 = キャラ検索("[炎帝]パーシヴァル")
		追加候補:3 = キャラ検索("[竜殺しの騎士]ジークフリート")
ENDSELECT

@オススメセット処理_ヒューマンセット・超爆盛(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■ヒューマンセット・超爆盛<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "シルヴァ、マギサ、シグ、クピタンのヒューマン４人。<br>"
		RSTR:コマンド結果受渡し文字列 += "何が超爆盛かはすぐにわかるだろう。<br>"
		RSTR:コマンド結果受渡し文字列 += "大きければ大きいほどいいという君向けセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[奮励の儁秀]シルヴァ") + 1000}'>[奮励の儁秀]シルヴァ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[ウィッチクラフト]マギサ") + 1000}'>[ウィッチクラフト]マギサ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[虹色の純情]クピタン") + 1000}'>[虹色の純情]クピタン</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[雲海の漁民]シグ") + 1000}'>[雲海の漁民]シグ</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[奮励の儁秀]シルヴァ")
		追加候補:1 = キャラ検索("[ウィッチクラフト]マギサ")
		追加候補:2 = キャラ検索("[虹色の純情]クピタン")
		追加候補:3 = キャラ検索("[雲海の漁民]シグ")		
ENDSELECT

@オススメセット処理_熟れた牝妻セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■熟れた牝妻セット<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "空の世界にて存命している４人の人妻キャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "愛する夫に操を立てた身持ちの硬い女性ばかりなため、攻略難易度高めの中級者以上向け。<br>"
		RSTR:コマンド結果受渡し文字列 += "子を産み育てた肉壺を再びほじくり返し、『妻』から『女』へと引きずり堕としたい……そんな君へと勧めるセット。<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[相承の錬金術師]プロメティア") + 1000}'>[相承の錬金術師]プロメティア</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[斬姫の慈母]ラルナ") + 1000}'>[斬姫の慈母]ラルナ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[先代丑神]シャトラのママ") + 1000}'>[先代丑神]シャトラのママ</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[炎姫の母君]アリシア") + 1000}'>[炎姫の母君]アリシア</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] このセットを適用する</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[相承の錬金術師]プロメティア")
		追加候補:1 = キャラ検索("[斬姫の慈母]ラルナ")
		追加候補:2 = キャラ検索("[先代丑神]シャトラのママ")
		追加候補:3 = キャラ検索("[炎姫の母君]アリシア")
ENDSELECT

