
@汎用使用先表示(ARGS)
SELECTCASE ARGS
	CASE "味方単体"
		キャラ画像ボタン化フラグ = 1
		LOCAL:1 = 1
		LOCALS = <br>
		FOR LOCAL, 0, 4
			SIF !BATTLE_STATE:LOCAL:0
				CONTINUE
			LOCALS += @"<button value = '{LOCAL}'>[{LOCAL}]%CALLNAME:(BATTLE_STATE:LOCAL:0)%に使用する</button><br>"
			LOCAL:1 += 1
		NEXT
ENDSELECT

詳細文文字列受け渡し変数 += @"%LOCALS%"

