
@汎用使用先表示(ARGS)
VARSET LOCALS
CALL 口上変数初期化
SELECTCASE ARGS
	CASE "自分"
		キャラ画像ボタン化フラグ = 0
		エネミー画像ボタン化フラグ = 0
		LOCALS = <br>
		LOCALS += @"<button value = '0'>[0]自分に使用する</button><br>"
	CASE "味方単体"
		キャラ画像ボタン化フラグ = 1
		エネミー画像ボタン化フラグ = 0
		LOCAL:1 = 1
		LOCALS = <br>
		FOR LOCAL, 0, 4
			SIF !BATTLE_STATE:LOCAL:0
				CONTINUE
			LOCALS += @"<button value = '{LOCAL}'>[{LOCAL}]%CALLNAME:(BATTLE_STATE:LOCAL:0)%に使用する</button><br>"
			LOCAL:1 += 1
		NEXT
	CASE "味方全体"
		キャラ画像ボタン化フラグ = 1
		エネミー画像ボタン化フラグ = 0
		LOCALS = <br>
		LOCALS += @"<button value = '0'>[0]味方全体に使用する</button><br>"
	CASE "敵単体"
		IF 戦闘行動内容 != 1000
			LOCALS = <br><br>戦闘中以外は使用できません。
		ELSE
			エネミー画像ボタン化フラグ = 1
			キャラ画像ボタン化フラグ = 0
			ダンジョン表示モード = 戦闘画面
			CALL アビ対象選択テンプレート_敵単体
		ENDIF
	CASE "敵横列"
		IF 戦闘行動内容 != 1000
			LOCALS = <br><br>戦闘中以外は使用できません。
		ELSE
			エネミー画像ボタン化フラグ = 1
			キャラ画像ボタン化フラグ = 0
			ダンジョン表示モード = 戦闘画面
			CALL アビ対象選択テンプレート_敵横列
		ENDIF
	CASE "敵縦列"
		IF 戦闘行動内容 != 1000
			LOCALS = <br><br>戦闘中以外は使用できません。
		ELSE
			エネミー画像ボタン化フラグ = 1
			キャラ画像ボタン化フラグ = 0
			ダンジョン表示モード = 戦闘画面
			CALL アビ対象選択テンプレート_敵縦列
		ENDIF
	CASE "敵全体"
		IF 戦闘行動内容 != 1000
			LOCALS = <br><br>戦闘中以外は使用できません。
		ELSE
			エネミー画像ボタン化フラグ = 1
			キャラ画像ボタン化フラグ = 0
			ダンジョン表示モード = 戦闘画面
			CALL アビ対象選択テンプレート_敵全体_生者のみ
		ENDIF
ENDSELECT

詳細文文字列受け渡し変数 += @"%LOCALS%"

