;・使い方
;「133」をキャラクター番号に置換し、それぞれの関数に処理を入れる
;--------------------------------------------------
;通常画面一言口上
;--------------------------------------------------
@口上_INFO画面_一言コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化

;口上と同じ感覚で使う為に書式を統一しているが、通常時の画面で表示されるので
;基本的にWAIT系列は使わないことを推奨
;また、一行のみの表示を想定。二行以上は基本的に禁止
;※うふふ中には表示されません

;以下は分岐の例
;仕事中の一言口上
IF TALENT:対象キャラ:従業員 && TCVAR:対象キャラ:休暇中 == 0 && CFLAG:対象キャラ:現在位置 == 現在仕事:対象キャラ:1 % 10000 && CFLAG:対象キャラ:現在マップ種別 == 現在仕事:対象キャラ:1 / 10000
	SELECTCASE 現在仕事:対象キャラ:1
		CASE 2
			;ロビーで受付中
			KSTR:(K++) = 「ようこそリゾート地へ」
		CASE 503
			;バーエリアでバーテンダー中
			KSTR:(K++) = 「も～、飲み過ぎちゃ駄目よ？」
		CASE 506
			;図書室で司書中
			KSTR:(K++) = 「図書室ではお静かに～」
		CASE 1503, 15
			;プールで監視員中
			KSTR:(K++) = 「そこ！飛び込まない！」
		CASE IS > 10000
			;各種店舗で店番中
			CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:(現在仕事:対象キャラ:1 - 10000):0}
			SELECTCASE TSTR:場所名受渡
				CASE "道具屋"
					KSTR:(K++) = 「これはここに置いて……これはこっち……」
				CASE "土産物屋"
					KSTR:(K++) = 「どうして木刀は売れないのかな……」
				CASE "食事処"
					KSTR:(K++) = 「少々お待ちを！」
					KSTR:(K++) = ラルナの料理は大変人気があり、大量の行列ができている。
				CASE "装飾品店"
					KSTR:(K++) = 「わぁ……キラキラしてて綺麗ね♪」
			ENDSELECT
	ENDSELECT
ENDIF
;この時点で口上が入ってるなら表示へ飛ばす
SIF KSTR:0 != ""
	GOTO 表示位置
;状況で分岐

IF CFLAG:対象キャラ:飲み会
	;飲み会中
	KSTR:(K++) = 「えへへ……乾杯しましょ♪」
ELSEIF CFLAG:対象キャラ:睡眠
	;睡眠中
	KSTR:(K++) = 「%CALLNAME:MASTER%さん……すぅ……すぅ……」
ELSEIF CFLAG:対象キャラ:デート == MASTER + 100
	;デート中
	KSTR:(K++) = 「%CALLNAME:MASTER%さん……_H_」
ELSEIF CFLAG:対象キャラ:一緒に遊ぶ
	;一緒に遊ぶ中
	KSTR:(K++) = 「楽しいわね」
ELSEIF CFLAG:対象キャラ:同行
	;同行中
	KSTR:(K++) = 「あら、どこに連れて行ってくれるのかな？」
ELSEIF CFLAG:PLAYER:隠密 && CFLAG:対象キャラ:隠密
	;一緒に隠密中
	KSTR:(K++) = 「何だかドキドキするわね」
ELSEIF CFLAG:PLAYER:隠密 && !CFLAG:対象キャラ:隠密
	;あなたが隠れていて、キャラはあなたに気づいていない
	KSTR:(K++) = （_I_視線……？　殺意はない……_）
ELSEIF !CFLAG:PLAYER:隠密 && CFLAG:対象キャラ:隠密
	;キャラの野外オナニー中
	KSTR:(K++) = （こんな所で駄目なのに……_H_　手が止まらないっ_H_）
ENDIF
;この時点で口上が入ってるなら表示へ飛ばす
SIF KSTR:0 != ""
	GOTO 表示位置

;最も多い好感度要素で分岐
SELECTCASE MAXRAND(CFLAG:対象キャラ:友情度, CFLAG:対象キャラ:信頼度, CFLAG:対象キャラ:恋心度, CFLAG:対象キャラ:性愛度)
	CASE 0
		;友情度
		SELECTCASE CFLAG:対象キャラ:友情度
			CASE IS >= 経験値テーブル:(関係閾値:4)
				;好感度レベル80以上
				KSTR:(K++) = 「%CALLNAME:MASTER%さんと一緒だと時間があっという間にすぎちゃうわね♪」
			CASE IS >= 経験値テーブル:(関係閾値:2)
				;好感度レベル20以上
				KSTR:(K++) = 「%CALLNAME:MASTER%とおしゃべりするの楽しいわ♪」
			CASEELSE
				KSTR:(K++) = 「面白い方ね♪」
		ENDSELECT
	CASE 1
		;信頼度
		SELECTCASE CFLAG:対象キャラ:信頼度
			CASE IS >= 経験値テーブル:(関係閾値:4)
				;好感度レベル80以上
				KSTR:(K++) = （ナルメアを%CALLNAME:MASTER%さんに紹介するのもありかな……？）
			CASE IS >= 経験値テーブル:(関係閾値:2)
				;好感度レベル20以上
				KSTR:(K++) = 「とても頼りになるわ！」
			CASEELSE
				KSTR:(K++) = 「%CALLNAME:MASTER%さんかぁ……しっかりした方よね！」
		ENDSELECT
	CASE 2
		;恋心度
		SELECTCASE CFLAG:対象キャラ:恋心度
			CASE IS >= 経験値テーブル:(関係閾値:4)
				;好感度レベル80以上
				KSTR:(K++) = （私%CALLNAME:MASTER%さんの事が好きなんだわ……ガムシラさんよりもずっと……）
			CASE IS >= 経験値テーブル:(関係閾値:2)
				;好感度レベル20以上
				KSTR:(K++) = （私には夫がいるのに……%CALLNAME:MASTER%さんの事ばかり考えちゃう……）
			CASEELSE
				KSTR:(K++) = （どうして%CALLNAME:MASTER%さんに会ってから%CALLNAME:MASTER%さんの事が頭から離れないの……）
		ENDSELECT
	CASE 3
		;性愛度
		SELECTCASE CFLAG:対象キャラ:性愛度
			CASE IS >= 経験値テーブル:(関係閾値:4)
				;好感度レベル80以上
				KSTR:(K++) = （%CALLNAME:MASTER%さんを見るとが子宮がｷｭﾝｯって……_H_　本能で屈服してる_H_）
			CASE IS >= 経験値テーブル:(関係閾値:2)
				;好感度レベル20以上
				KSTR:(K++) = （ダメ……%CALLNAME:MASTER%さんを見ると期待してしまう……_H_）
			CASEELSE
				KSTR:(K++) = （違う……%CALLNAME:MASTER%さんに身を委ねてみたくなったなんて……気の迷いよ……そうよ……）
		ENDSELECT
ENDSELECT

$表示位置
CALL PRINT_STATEコメント表示(対象キャラ, 2)


;--------------------------------------------------
;ステータス画面一言口上_友情
;--------------------------------------------------
@口上_ステータス画面_友情コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化

;口上と同じ感覚で使う為に書式を統一しているが、ステータス画面で表示されるので
;基本的にWAIT系列は使わないことを推奨

SELECTCASE CFLAG:対象キャラ:友情度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「%CALLNAME:MASTER%さん？　どなたなの？　ああ、ここのオーナーさんなのね」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「%CALLNAME:MASTER%さん？　ああ、オーナーさんよね！」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「あら、こんにちわ%CALLNAME:MASTER%さん」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;友人
		KSTR:(K++) = 「%CALLNAME:MASTER%さんとおしゃべりすると時間が経つのが早いわ♪」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;親友
		KSTR:(K++) = 「%CALLNAME:MASTER%さんナルメアの事気になったりはしない？」
	CASEELSE
		;無二の友
		KSTR:(K++) = 「%CALLNAME:MASTER%さんとはとても気が合うわね♪　もっとお話したいな♪」
ENDSELECT
CALL コメント文頭処理(対象キャラ)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_信頼
;--------------------------------------------------
@口上_ステータス画面_信頼コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:信頼度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「合ったばかりで信頼も何もないわ」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「リゾートの為に頑張ってるのは知ってるわよ」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「悪い人ではないかな～」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;知己
		KSTR:(K++) = 「%CALLNAME:MASTER%さんみたいな人があの娘の側にいたら何か変わったのかしら……」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;相棒
		KSTR:(K++) = 「困ったことがあったら私に言ってね？力になるからね」
	CASEELSE
		;水魚の交わり
		KSTR:(K++) = 「もう%CALLNAME:MASTER%さんは家族みたいなものだから何でも言ってね？」
ENDSELECT
CALL コメント文頭処理(対象キャラ)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_恋心
;--------------------------------------------------
@口上_ステータス画面_恋心コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:恋心度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「モテてそうな人だとは思うわ」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 「結婚してるからそういうのは考えたことないわ」
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「%CALLNAME:MASTER%さん？　いい人よね♪」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;気になる人
		KSTR:(K++) = 「私結婚してるのに……どうして%CALLNAME:MASTER%さんの事が気になるの……」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;想い人
		KSTR:(K++) = 「駄目なのに夫よりも%CALLNAME:MASTER%さんの事ばかり考えてしまう……」
	CASEELSE
		;最愛の人
		KSTR:(K++) = 「あの人がいるのに……私%CALLNAME:MASTER%さんの事愛してる……もうこの気持ちに嘘は付けない……」
ENDSELECT
CALL コメント文頭処理(対象キャラ)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_性愛
;--------------------------------------------------
@口上_ステータス画面_性愛コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:性愛度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 「えぇ！？　そ、そういうのはちょっと……」
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = （%CALLNAME:MASTER%さんの夜が凄いって噂本当なのかな……）
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 「駄目……私は結婚してるのよ……」
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;性癖に合う
		KSTR:(K++) = 「%CALLNAME:MASTER%さんに物の様に扱われてどうしてこんなにゾクゾクするの……_H_」
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;自慰の対象
		KSTR:(K++) = 「もう%CALLNAME:MASTER%さんを思い浮かべながら%CALLNAME:MASTER%さんがしてくれるようにイジらないと気持ちよくなれない……_H_」
	CASEELSE
		;肉欲の虜
		KSTR:(K++) = 「あ……_H_　%CALLNAME:MASTER%さん……また人妻の身体に誰が_B_"本当の旦那様"_か教えてくれる……？_H_」
ENDSELECT
CALL コメント文頭処理(対象キャラ, CSTR:対象キャラ:キャラ固有好感度要素 == ""? 1# 0)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_固有要素
;--------------------------------------------------
@口上_ステータス画面_キャラ固有好感度要素コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化
SELECTCASE CFLAG:対象キャラ:キャラ固有好感度
	CASE IS == 0
		;初対面
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:1)
		;他人
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:2)
		;顔見知り
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:3)
		;
		KSTR:(K++) = 
	CASE IS <= 経験値テーブル:(関係閾値:4)
		;
		KSTR:(K++) = 
	CASEELSE
		;
		KSTR:(K++) = 
ENDSELECT
CALL コメント文頭処理(対象キャラ, 1)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;ステータス画面一言口上_恋慕
;--------------------------------------------------
@口上_ステータス画面_恋慕コメント_133(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化
PRINTL 
SELECTCASE CFLAG:対象キャラ:恋慕レベル
	CASE IS == 0
		;脈ナシ
		KSTR:(K++) = 「そもそも私結婚してるのよ？　ないわ」
	CASE IS <= 関係閾値:1
		;ちょっと気になる
		KSTR:(K++) = 「素敵な人だとは思うわよ？」
	CASE IS <= 関係閾値:2
		;なんかいいかも
		KSTR:(K++) = 「なんで%CALLNAME:MASTER%さんの事が思い浮かぶの……」
	CASE IS <= 関係閾値:3
		;好意を自覚
		KSTR:(K++) = 「認めるしかない……私%CALLNAME:MASTER%さんに恋してる……」
	CASE IS <= 関係閾値:4
		;ラブラブ
		KSTR:(K++) = 「%CALLNAME:MASTER%さん！　今日は何をする？それとも何かしてほしいことはないかな？」
	CASEELSE
		;最愛の人
		KSTR:(K++) = 「私の本当の運命の人……%CALLNAME:MASTER%さんを世界で1番愛してる……%CALLNAME:MASTER%さんに会えて本当によかったわ_H_」
ENDSELECT
CALL コメント文頭処理(対象キャラ, 1)
CALL 口上変数表示(対象キャラ, 1)

;--------------------------------------------------
;キャラについての解説
;--------------------------------------------------
@口上_ステータス画面_キャラ解説_133(対象キャラ)
#DIM 対象キャラ

;EXキャラの出典を解説したり、キャラの設定・背景を解説するもの

IF TALENT:対象キャラ:恋慕 == 2
	KSTR:(K++) = 　_B_【%CALLNAME:MASTER%の愛妻】ラルナ_
	KSTR:(K++) = 　
	KSTR:(K++) = 旦那：%CALLNAME:MASTER%　娘:ナルメア
	KSTR:(K++) = 趣味：ガーデニング　のんびりすること　掃除　%CALLNAME:MASTER%のお世話
	KSTR:(K++) = 好き：家族　刀　料理　おしゃべり　%CALLNAME:MASTER%　%CALLNAME:MASTER%とのSEX
	KSTR:(K++) = 特技：フェラチオ　パイズリ　膣締め
	KSTR:(K++) = 苦手：怒ること　一人の時間　一人オナニー
	KSTR:(K++) = 秘密：名器の持ち主　天然パイパン　牝屈服　_H_%CALLNAME:MASTER%と婚約_H_
	KSTR:(K++) = 　
	KSTR:(K++) = 　_I_「揺らぎの斬姫」ナルメアの母親。_
	KSTR:(K++) = 　_I_そしてリゾートのオーナーである%CALLNAME:MASTER%の妻_
	KSTR:(K++) = 　_I_リゾート地で真の運命の人である%CALLNAME:MASTER%と婚約の誓いを果たした_
	KSTR:(K++) = 　_I_%CALLNAME:MASTER%を隣で支え、夜はその恵体で癒す良妻賢母_
	KSTR:(K++) = 　_I_%CALLNAME:MASTER%の手によって無事牝開花した牝の才能は滞る事なく今なお伸び続けている_
	KSTR:(K++) = 　_I_その卓越した才を以てしても%CALLNAME:MASTER%には１度も勝てず絶賛常敗無勝記録を更新中_H__
ELSEIF TALENT:対象キャラ:恋慕 == 1
	KSTR:(K++) = 　_B_【斬姫の慈母】ラルナ_
	KSTR:(K++) = 　
	KSTR:(K++) = 旦那：_-_ ガムシラ_%CALLNAME:MASTER%　娘:ナルメア
	KSTR:(K++) = 趣味：ガーデニング　のんびりすること　掃除　%CALLNAME:MASTER%のお世話
	KSTR:(K++) = 好き：家族　刀　料理　おしゃべり　%CALLNAME:MASTER%　%CALLNAME:MASTER%とのSEX
	KSTR:(K++) = 特技：フェラチオ　パイズリ　膣締め
	KSTR:(K++) = 苦手：怒ること
	KSTR:(K++) = 秘密：名器の持ち主　天然パイパン　負け癖　%CALLNAME:MASTER%と_-_浮気中_交際中
	KSTR:(K++) = 　
	KSTR:(K++) = 　_I_「揺らぎの斬姫」ナルメアの母親。_
	KSTR:(K++) = 　_I_修羅に堕ちたナルメアと無事に再開を果たすことが出来た_
	KSTR:(K++) = 　_I_その事で家の事も落ち着き、ナルメアと共に新しく出来たリゾート地へ旅行に訪れる_
	KSTR:(K++) = 　_I_そしてリゾート地で真の運命の人である%CALLNAME:MASTER%と出会い恋に落ち付き合う事となる_
	KSTR:(K++) = 　_I_%CALLNAME:MASTER%の手によって無事牝としての才能を開花させ、身も心もすべて%CALLNAME:MASTER%に捧げた_
	KSTR:(K++) = 　_I_%CALLNAME:MASTER%と共に過ごす日々はラルナにとって幸せの絶頂期である_
ELSEIF TALENT:対象キャラ:セフレ
	KSTR:(K++) = 
ELSE
	KSTR:(K++) = 　_B_【斬姫の慈母】ラルナ_
	KSTR:(K++) = 　
	KSTR:(K++) = 旦那：ガムシラ　娘:ナルメア
	KSTR:(K++) = 趣味：ガーデニング　のんびりすること　掃除
	KSTR:(K++) = 好き：家族　刀　料理　おしゃべり　お世話
	KSTR:(K++) = 苦手：怒ること
	KSTR:(K++) = 秘密：名器の持ち主　天然パイパン
	KSTR:(K++) = 　
	KSTR:(K++) = 　_I_「揺らぎの斬姫」ナルメアの母親。_
	KSTR:(K++) = 　_I_修羅に堕ちたナルメアと無事に再開を果たすことが出来た_
	KSTR:(K++) = 　_I_その事で家の事も落ち着き、ナルメアと共に新しく出来たリゾート地へ旅行に訪れる_
	KSTR:(K++) = 　_I_このリゾート地で真の運命の出会いが待っているとはつゆ知らずに……_
	KSTR:(K++) = 　_I_そしてリゾートの淫気に当てられ、眠っていた才能は少しずつ開花していく……_
ENDIF

IF TALENT:対象キャラ:恋慕
	KSTR:(K++) = ■ _B_ラルナの秘密の記録_ ■--<button value='2001'>[ ハジメテ ]</button>--<button value='2002'>[ 経験 ]</button>--<button value='2003'>[ 搾精量 ]</button>--

	;固有INPUTで入れたINPUT数値に応じて表示を変更する
	IF 特定状況口上用フラグ:対象キャラ:13 == 2001
			IF 口上用変数_133ラルナ_初めて記念 > 0
			LOCAL = DAY - 口上用変数_133ラルナ_初めて記念
			IF LOCAL < 7
			;まだ一週間以内
				KSTR:(K++) = ・お付き合い{LOCAL}日目。	
				KSTR:(K++) = ・誰にも言えない秘密のお付き合いが始まった。
			ELSEIF LOCAL < 30
			;一週間を越えた
				KSTR:(K++) = ・お付き合い{LOCAL}日目。
				KSTR:(K++) = ・幸せな日々に浮気への罪悪感が薄れてきた。
			ELSEIF LOCAL < 120
			;一か月を越えた
				KSTR:(K++) = ・お付き合い{LOCAL}日目。
				KSTR:(K++) = ・新婚かのようにアツアツだ。
			ELSE
			;一か月を越えた
				KSTR:(K++) = ・お付き合い{LOCAL}日目。
				KSTR:(K++) = ・おしどり夫婦とよく言われるようになった。
			ENDIF
		ENDIF
			;体位の種類  0:正常位  1:後背位  2:寝バック  3:対面座位  4:背面座位  5:騎乗位  6:側位  7:屈曲位  8:駅弁  9:背面駅弁  10:対面立位  11:立ちバック
		;以上に＋１した数値となる
		SELECTCASE 口上用変数_133ラルナ_初めて記念:1
		CASE 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は正常位だった
			KSTR:(K++) = ・お互いの顔を見ながら愛を確かめ合うイチャラブ浮気エッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「こんな幸せなエッチ初めてだったわ……_H_　あの人の時と全然違う……_H_」
		CASE 2
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は後背位だった
			KSTR:(K++) = ・角をハンドルにされ性欲をぶつけられる荒々しい獣エッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんの前では牝ドラフはただのオナホなんだわ……_H_　私は牝妻オナホ……_H_」
		CASE 3
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は寝バックだった
			KSTR:(K++) = ・後ろから覆いかぶさられ%CALLNAME:MASTER%との主従を決めるエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんに押さえつけられて……本当の旦那様は誰かを刻み込まれちゃった……_H_」
		CASE 4
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は対面座位だった
			KSTR:(K++) = ・行為が終わるまで密着し舌を絡めあう甘々浮気エッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんに抱きかかえられていっぱいキスして……_H_　こんな素敵なエッチがあるんだ……_H_」
		CASE 5
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は背面座位だった
			KSTR:(K++) = ・後ろから敏感な胸を弄られながら突き上げるエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「おっぱいもおまんこも沢山イジメられて……何も考えられないくらい凄かったわ……_H_」
		CASE 6
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は騎乗位だった
			KSTR:(K++) = ・自ら浮気ちんぽを受け入れ動き指を絡ませながら奉仕するエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「腰を動かす事に%CALLNAME:MASTER%さんにもっと惹かれて……私はこの人じゃなきゃダメなんだって理解させられたわ_H_」
		CASE 7
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は側位だった
			KSTR:(K++) = ・子宮口ごと子宮をちんぽでグリグリされる夫のちんぽでは真似できないエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「あの人のおちんぽじゃ出来ない責めを、雄としての格の違いを子宮の奥底に沢山教え込まれてしまったわ……_H_」
		CASE 8
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は屈曲位だった
			KSTR:(K++) = ・ガッチリと抑え込まれ拒否権を一切与えられない孕まされる牝としての悦びを沢山味わうエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんの前では私はただの牝だったわ……子宮いっぱい突かれて種付けされるただの牝……_H_」
		CASE 9
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は駅弁だった
			KSTR:(K++) = ・抱きかかえられ何度も突かれている内に無意識にだいしゅきホールドをしてしまうエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「こんな歳なのに%CALLNAME:MASTER%さんに抱っこされながらガンガン突かれるの好き……_H_」
		CASE 10
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は背面駅弁だった
			KSTR:(K++) = ・オナホの様に扱われる悦びを知るエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんにとって牝ドラフはただのオナホなんだわ……_H_　いっぱい使われて幸せ……_H_」
		CASE 11
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は対面立位だった
			KSTR:(K++) = ・地に足が付かない体格差エッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「宙に浮かされて私に一切の自由がないエッチなんか好きになっちゃ人としてダメなのに……私は牝妻オナホだから……_H_」
		CASE 12
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてV性交した際の体位は立ちバックだった
			KSTR:(K++) = ・角を持ち上げられ身体が宙に浮いたまま牝ドラフわからせエッチをした
			KSTR:(K++) = 
			KSTR:(K++) = 「あんなエッチ……牝ドラフは絶対に勝てない……_H_　私は一生%CALLNAME:MASTER%さんに負け続けてしまうんだわ……_H_」
		CASE 13
			KSTR:(K++) = ・%CALLNAME:MASTER%との初めてはマッサージ中だった
			KSTR:(K++) = ・マッサージで理性をグズグズに溶かされそのまま美味しく頂かれてしまった
			KSTR:(K++) = 
			KSTR:(K++) = 「%CALLNAME:MASTER%さんのマッサージもエッチも凄かった……_H_　毎日マッサージしてもらいたいわ……_H_」
		CASE 14
			KSTR:(K++) = ・%CALLNAME:MASTER%との初めては酔った勢いだった
			KSTR:(K++) = ・酔いが冷めても忘れる事が出来ない程に激しい一夜の過ちだった
			KSTR:(K++) = 
			KSTR:(K++) = 「あんな凄く気持ちいいエッチ……お酒なんかじゃ忘れられない……_H_　もう心と身体に教え込まれてしまったから……_H_」
		ENDSELECT
		IF	口上用変数_133ラルナ_初めて記念:9 > 0
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナが%CALLNAME:MASTER%と運命の出会いを果たしてから{LOCAL}日が経った
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:2 > 0
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と付き合い始めてから、イチャラブセックスをした合計日数は{口上用変数_133ラルナ_初めて記念:2}日だ
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:4 > 0
			KSTR:(K++) = 　
			KSTR:(K++) = ・%CALLNAME:MASTER%と初めてキスをしてから{口上用変数_133ラルナ_初めて記念:4}日が経った
		ENDIF
		IF	口上用変数_133ラルナ_初めて記念:8 > 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナのファーストキスの相手はガムシラ。真のファーストキスは%CALLNAME:MASTER%に捧げた
			KSTR:(K++) = 　ラルナのキスの味は%CALLNAME:MASTER%しか知らない
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:3 > 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナが初めて口にした精液は夫ガムシラの薄味精液ではなく%CALLNAME:MASTER%の特濃ネバネバ精液だった
			KSTR:(K++) = 　夫のは先走り汁しか知らない
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:2 > 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナの処女は夫に捧げた。しかし夫との初めてより%CALLNAME:MASTER%との初めてのエッチの方が心と身体に強く刻まれたようだ
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:5 > 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナの子宮口が初めてキスしたチンポは%CALLNAME:MASTER%の牝殺しチンポだった
			KSTR:(K++) = 　夫の牝萎えチンポは残念ながら寸止めで届かなかったようだ
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:6 > 1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナが初めて子宮へ迎え入れたチンポは%CALLNAME:MASTER%の牝殺しチンポだった
			KSTR:(K++) = 　子宮口にすら届かない夫はそもそも資格すらなかった
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:7 >	1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナのアナルヴァージンは%CALLNAME:MASTER%に捧げられられた
			KSTR:(K++) = 　夫ではなく%CALLNAME:MASTER%に捧げれた事をラルナは喜んでいる
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:11 >	1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナは%CALLNAME:MASTER%のファーストキスの相手だ
			KSTR:(K++) = 　初めての相手にラルナは本当のキスを教え込まれた
		ENDIF
		IF 口上用変数_133ラルナ_初めて記念:10 >	1
			KSTR:(K++) = 　
			KSTR:(K++) = ・ラルナは%CALLNAME:MASTER%の童貞を押し倒し奪った
			KSTR:(K++) = 　奪っただだけで一切主導権を握る事も出来ず鳴かされ続けた
		ENDIF
	ELSEIF 特定状況口上用フラグ:対象キャラ:13 == 2002
			KSTR:(K++) = ・%CALLNAME:MASTER%との経験記録
			IF 口上用変数_133ラルナ_回数記録:14 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%と{口上用変数_133ラルナ_回数記録:14}回デートをした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:0 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%と{口上用変数_133ラルナ_回数記録:0}回エッチした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:1 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%のマッサージを{口上用変数_133ラルナ_回数記録:1}回受けた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:17 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%の罰ゲームを{口上用変数_133ラルナ_回数記録:17}回受けた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:18 > 0
				KSTR:(K++) = ・ラルナは{口上用変数_133ラルナ_回数記録:18}回全裸徘徊をした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:3 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:3}回セクハラされた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:4 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%と{口上用変数_133ラルナ_回数記録:4}回キスした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:5 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:5}回胸を弄られた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:6 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:6}回おしりを触られた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:7 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:7}回クリトリスを弄られた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:8 > 0
				KSTR:(K++) = ・ラルナはリゾートに訪れてから{口上用変数_133ラルナ_回数記録:8}回オナニーをした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:9 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:9}回手コキをした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:10 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:10}回フェラをした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:11 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:11}回パイズリをした
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:12 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:12}回おまんこを弄られた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:13 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%に{口上用変数_133ラルナ_回数記録:13}回アナルを弄られた
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:15 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%との子を{口上用変数_133ラルナ_回数記録:15}回妊娠した
			ENDIF
			IF 口上用変数_133ラルナ_回数記録:16 > 0
				KSTR:(K++) = ・%CALLNAME:MASTER%との子を{口上用変数_133ラルナ_回数記録:16}人出産した
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:0 > 0
				KSTR:(K++) = ・正常位:{口上用変数_133ラルナ_体位回数記録:0}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:1 > 0
				KSTR:(K++) = ・後背位:{口上用変数_133ラルナ_体位回数記録:1}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:2 > 0
				KSTR:(K++) = ・寝バック:{口上用変数_133ラルナ_体位回数記録:2}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:3 > 0
				KSTR:(K++) = ・対面座位:{口上用変数_133ラルナ_体位回数記録:3}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:4 > 0
				KSTR:(K++) = ・背面座位:{口上用変数_133ラルナ_体位回数記録:4}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:5 > 0
				KSTR:(K++) = ・騎乗位:{口上用変数_133ラルナ_体位回数記録:5}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:6 > 0
				KSTR:(K++) = ・側位:{口上用変数_133ラルナ_体位回数記録:6}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:7 > 0
				KSTR:(K++) = ・屈曲位:{口上用変数_133ラルナ_体位回数記録:7}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:8 > 0
				KSTR:(K++) = ・駅弁:{口上用変数_133ラルナ_体位回数記録:8}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:9 > 0
				KSTR:(K++) = ・背面駅弁:{口上用変数_133ラルナ_体位回数記録:9}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:10 > 0
				KSTR:(K++) = ・対面立位:{口上用変数_133ラルナ_体位回数記録:10}回
			ENDIF
			IF 口上用変数_133ラルナ_体位回数記録:11 > 0
				KSTR:(K++) = ・立ちバック:{口上用変数_133ラルナ_体位回数記録:11}回
			ENDIF
	ELSE
		;搾精
		IF 口上用変数_133ラルナ_射精記録:7 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%がラルナに合計{口上用変数_133ラルナ_射精記録:7}回射精した
		ENDIF
		IF 口上用変数_133ラルナ_射精記録:0 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%%TEXTR("から搾り取った/に恵んでいただいた")%精液の累計は{(口上用変数_133ラルナ_射精記録:0 / 1000)}mlだ
		ENDIF
		IF 口上用変数_133ラルナ_射精記録:1 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液を膣内に累計{(口上用変数_133ラルナ_射精記録:1 / 1000)}ml注がれている
		ENDIF
		IF 口上用変数_133ラルナ_射精記録:3 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液を腸内に累計{(口上用変数_133ラルナ_射精記録:3 / 1000)}ml注がれている
		ENDIF
		IF 口上用変数_133ラルナ_射精記録:4 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液を累計{(口上用変数_133ラルナ_射精記録:4 / 1000)}ml飲みこんだ
		ENDIF
		IF 口上用変数_133ラルナ_射精記録:2 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液を自慢の双丘で累計{(口上用変数_133ラルナ_射精記録:2 / 1000)}ml搾り取った
		ENDIF
		IF	口上用変数_133ラルナ_射精記録:5 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液を魅惑の身体に累計{(口上用変数_133ラルナ_射精記録:5 / 1000)}mlぶっかけられた
		ENDIF
		IF	口上用変数_133ラルナ_射精記録:6 > 0
			KSTR:(K++) = ・%CALLNAME:MASTER%の精液が累計{(口上用変数_133ラルナ_射精記録:5 / 1000)}ml散った
		ENDIF
	ENDIF
ENDIF


@能力表示固有INPUT_キャラ解説_133(対象キャラ, INPUT数値)
#DIM 対象キャラ
#DIM INPUT数値
;キャラ解説画面のボタン動作を入れる関数

;何らかのフラグ（キャラ固有フラグでいいと思います）にINPUT数値を保存
特定状況口上用フラグ:対象キャラ:13 = INPUT数値

RETURN 0