

@DUNGEON_キャラ描画
#DIM バフ数
#DIM デバフ数
#DIM バフ・デバフ番号
#DIM レイヤー番号
#DIM 縦幅
#DIM 横幅
#DIM 表示位置調整用
#DIM 矢印表示位置
レイヤー番号 = 2

;ステータス
FOR LOCAL, 0, 14
	IF LOCAL > 3 && LOCAL < 10
		CONTINUE
	ENDIF
	GDISPOSE レイヤー番号
	GDISPOSE レイヤー番号 + 20
	SPRITEDISPOSE (@"キャラ_{LOCAL}")
	SPRITEDISPOSE (@"キャラ_{LOCAL}_ボタン")
	GCREATE レイヤー番号, 394, 120
	GCREATE レイヤー番号 + 20, 394, 120
	GSETFONT レイヤー番号, GETFONT(), 18
	GSETPEN レイヤー番号, 0x00FFFFFF, -1

	
	IF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
		GSETBRUSH レイヤー番号, 0xFFC0C0C0
		GFILLRECTANGLE レイヤー番号, 0 , 0, 394, 120
		GSETBRUSH レイヤー番号, 0xFF101010
		GFILLRECTANGLE レイヤー番号, 5, 5, 384, 110
		CALL リソース登録(@"キャラ_{LOCAL}", レイヤー番号)
		GDRAWG レイヤー番号 + 20, レイヤー番号, 0 , 0, 470, 184, 0 , 0, 470, 184, ボタン化用カラーマトリクス:0:0
		CALL リソース登録(@"キャラ_{LOCAL}_ボタン", レイヤー番号 + 20)
		レイヤー番号 += 1
		CONTINUE
	ENDIF

	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:LOCAL:属性)
	IF BATTLE_STATE:LOCAL:ＨＰ <= 0
		GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	ENDIF
	GFILLRECTANGLE レイヤー番号, 0 , 0, 394, 120
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 5, 5, 384, 110
	LOCAL:1 = NO:(BATTLE_STATE:LOCAL:キャラ登録番号)

	IF SPRITECREATED(@"探索用_{LOCAL}_顔")
		;縦横幅を取得して表示位置を調整
		横幅 = SPRITEWIDTH(@"探索用_{LOCAL}_顔")
		縦幅 = SPRITEHEIGHT(@"探索用_{LOCAL}_顔")
		IF 横幅 > 縦幅
			表示位置調整用 = (100 - (縦幅 * 100 / 横幅)) / 2
			CALL 画像合成(レイヤー番号, @"探索用_{LOCAL}_顔", 10, 10 + 表示位置調整用, 100, 縦幅 * 100 / 横幅)
		ELSEIF 横幅 < 縦幅
			表示位置調整用 = (100 - (横幅 * 100 / 縦幅)) / 2
			CALL 画像合成(レイヤー番号, @"探索用_{LOCAL}_顔", 10 + 表示位置調整用, 10, 横幅 * 100 / 縦幅, 100)
		ELSE
			表示位置調整用 = 0
			CALL 画像合成(レイヤー番号, @"探索用_{LOCAL}_顔", 10, 10, 100, 100)
		ENDIF
	ELSE
		CALL 画像合成(レイヤー番号, "顔ノーイメ", 10, 10, 100, 100)
	ENDIF

	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	IF BATTLE_STATE:LOCAL:ＨＰ <= 0
		GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	ENDIF
	GDRAWTEXT レイヤー番号, @"%CALLNAME:(BATTLE_STATE:LOCAL:キャラ登録番号)%", 120, 10
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	LOCAL:2 = BATTLE_STATE:LOCAL:Lv
	GDRAWTEXT レイヤー番号, @"Lv:{LOCAL:2, 3}", 280, 10
	
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:LOCAL:属性)
	GDRAWTEXT レイヤー番号, @"%属性数値文字列変換(BATTLE_STATE:LOCAL:属性)%", 350, 10
	GSETBRUSH レイヤー番号, 0xFFC0C0C0

;テスト変数ブロック
LOCAL:24 = 151 ;HPゲージX
LOCAL:25 = 374 - LOCAL:24 ;HPゲージ長さ
LOCAL:26 = 28 ;HPフォントサイズ
LOCAL:21 = 38 ;HPゲージY
LOCAL:22 = 4 ;HPゲージ幅
LOCAL:23 = 1 ;HPゲージ枠厚み

LOCAL:31 = 58 ;MPゲージY
LOCAL:32 = 4 ;MPゲージ幅
LOCAL:33 = 1 ;MPゲージ枠厚み

LOCAL:41 = 78 ;奥義ゲージY
LOCAL:42 = 4 ;奥義ゲージ幅
LOCAL:43 = 1 ;奥義ゲージ枠厚み

LOCAL:51 = 400 ;ゲージ一本のライフ量
;
;HPブロック
	LOCAL:2 = BATTLE_STATE:LOCAL:ＨＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＨＰ
	GDRAWTEXT レイヤー番号, @"HP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 30
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:21, MAX(143 + 4, 1), LOCAL:23 * 2 + LOCAL:22 + 2
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 233, LOCAL:23 + LOCAL:21, MAX(139 + 4, 1), LOCAL:22 + 2
	IF LOCAL:2 < LOCAL:3 / 3
		IF LOCAL:2 > 0
			GSETBRUSH レイヤー番号, 0xFFE60033
			GFILLRECTANGLE レイヤー番号, 233, LOCAL:23 + LOCAL:21 + 1, MAX(143 * LOCAL:2 / LOCAL:3, 1), LOCAL:22
		ENDIF
	ELSE
		IF LOCAL:2 > 0
			GSETBRUSH レイヤー番号, 0xFF00E000
			GFILLRECTANGLE レイヤー番号, 233, LOCAL:23 + LOCAL:21 + 1, MAX(143 * LOCAL:2 / LOCAL:3, 1), LOCAL:22
		ENDIF
	ENDIF
;MPブロック
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	LOCAL:2 = BATTLE_STATE:LOCAL:ＭＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＭＰ
	GDRAWTEXT レイヤー番号, @"MP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 50
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:31, MAX(143 + 4, 1), LOCAL:33 * 2 + LOCAL:32 + 2
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 233, LOCAL:33 + LOCAL:31, MAX(139 + 4, 1), LOCAL:32 + 2
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, 0xFF00B8E0
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:33 + LOCAL:31 + 1, MAX(143 * LOCAL:2 / LOCAL:3, 1), LOCAL:32
	ENDIF

;奥義ブロック,満タンで光るというイメージ
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	IF BATTLE_STATE:LOCAL:奥義ゲージ > 100
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ - 100, 100)
		LOCAL:10 = 0xFFFF6C10
		LOCAL:11 = 0xFFFAC61E
	ELSE
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ, 100)
		LOCAL:10 = 0xFFFAC61E
		LOCAL:11 = 0xFF54430A
	ENDIF
	GDRAWTEXT レイヤー番号, @"奥義:{BATTLE_STATE:LOCAL:奥義ゲージ, 3}％", 120, 70
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:41, MAX(143 + 4, 1), 8
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41, MAX(139 + 4, 1), 6
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, LOCAL:10
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41 + 1, MAX(143 * LOCAL:2 / 100, 1), LOCAL:42
	ENDIF

	;100のときのみ上書きする
	IF LOCAL:2 == 100
		GSETBRUSH レイヤー番号, 0xfffff000
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41, MAX(143 * LOCAL:2 / 100, 1), LOCAL:42 + 2
		; GSETBRUSH レイヤー番号, 0xffff0000
		; GDRAWTEXT レイヤー番号, "READY!!", 280, 70
	ENDIF
	;200ならさらに強い表現で上書きする？
;	IF LOCAL:2 == 100
;		GSETBRUSH レイヤー番号, 0xFFFFFFFF
;		GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41 - 1, MAX(143 * LOCAL:2 / 100, 1), LOCAL:42 + 2
;	ENDIF
{
;HPブロック,太さを変えるテスト
	LOCAL:2 = BATTLE_STATE:LOCAL:ＨＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＨＰ
	GDRAWTEXT レイヤー番号, @"HP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 30
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:21, MAX(143 + 4, 1), 12
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 233, LOCAL:21 + 1, MAX(139 + 4, 1), 10
	IF LOCAL:2 < LOCAL:51 / 3
		IF LOCAL:2 > 0
			GSETBRUSH レイヤー番号, 0xFFE60033
			GFILLRECTANGLE レイヤー番号, 233, LOCAL:21 + 5, MAX(143 * LOCAL:2 / LOCAL:51, 1), 2
		ENDIF
		IF LOCAL:2 != LOCAL:3
			GSETBRUSH レイヤー番号, 0xFF80001C
			GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / LOCAL:51), LOCAL:21 + 5, MAX(143 - (143 * LOCAL:2 / LOCAL:51), 1), 2
		ENDIF
	ELSE
		SELECTCASE LOCAL:2 / LOCAL:51
			CASE 0
				GSETBRUSH レイヤー番号, 0xFF00E000
				GFILLRECTANGLE レイヤー番号, 233, LOCAL:21 + 5, MAX(143 * (LOCAL:2 % LOCAL:51) / LOCAL:51, 1), 2
			CASE 1
				IF (LOCAL:2 % LOCAL:51) > 0
				GSETBRUSH レイヤー番号, 0xFF00E000
				GFILLRECTANGLE レイヤー番号, 233, LOCAL:21 + 3, MAX(143 * (LOCAL:2 % LOCAL:51) / LOCAL:51, 1), 6
				ENDIF
				IF (LOCAL:2 % LOCAL:51) != LOCAL:51
					GSETBRUSH レイヤー番号, 0xFF006000
					GFILLRECTANGLE レイヤー番号, 233 + (143 * (LOCAL:2 % LOCAL:51) / LOCAL:51), LOCAL:21 + 5, MAX(143 - (143 * (LOCAL:2 % LOCAL:51) / LOCAL:51), 1), 2
				ENDIF
			CASE 2
				IF (LOCAL:2 % LOCAL:51) > 0
				GSETBRUSH レイヤー番号, 0xFF00E000
				GFILLRECTANGLE レイヤー番号, 233, LOCAL:21 + 1, MAX(143 * (LOCAL:2 % LOCAL:51) / LOCAL:51, 1), 10
				ENDIF
				IF (LOCAL:2 % LOCAL:51) != LOCAL:51
					GSETBRUSH レイヤー番号, 0xFF006000
					GFILLRECTANGLE レイヤー番号, 233 + (143 * (LOCAL:2 % LOCAL:51) / LOCAL:51), LOCAL:21 + 3, MAX(143 - (143 * (LOCAL:2 % LOCAL:51) / LOCAL:51), 1), 6
				ENDIF
		ENDSELECT
	ENDIF
}
{
	;HPブロック,位置を変えるテスト
	LOCAL:2 = BATTLE_STATE:LOCAL:ＨＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＨＰ
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, LOCAL:24, LOCAL:21, MAX(LOCAL:25 + 4, 1), LOCAL:23 * 2 + LOCAL:22
	IF LOCAL:2 < LOCAL:3 / 3
		IF LOCAL:2 > 0
			GSETBRUSH レイヤー番号, 0xFFE60033
			GFILLRECTANGLE レイヤー番号, LOCAL:24 + LOCAL:23 * 2, LOCAL:23 + LOCAL:21, MAX(LOCAL:25 * LOCAL:2 / LOCAL:3, 1), LOCAL:22
		ENDIF
		IF LOCAL:2 != LOCAL:3
			GSETBRUSH レイヤー番号, 0xFF80001C
			GFILLRECTANGLE レイヤー番号, LOCAL:24 + LOCAL:23 * 2 + (LOCAL:25 * LOCAL:2 / LOCAL:3), LOCAL:23 + LOCAL:21, MAX(LOCAL:25 - (LOCAL:25 * LOCAL:2 / LOCAL:3), 1), LOCAL:22
		ENDIF
	ELSE
		IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, 0xFF00E000
		GFILLRECTANGLE レイヤー番号, LOCAL:24 + LOCAL:23 * 2, LOCAL:23 + LOCAL:21, MAX(LOCAL:25 * LOCAL:2 / LOCAL:3, 1), LOCAL:22
		ENDIF
		IF LOCAL:2 != LOCAL:3
			GSETBRUSH レイヤー番号, 0xFF006000
			GFILLRECTANGLE レイヤー番号, LOCAL:24 + LOCAL:23 * 2 + (LOCAL:25 * LOCAL:2 / LOCAL:3), LOCAL:23 + LOCAL:21, MAX(LOCAL:25 - (LOCAL:25 * LOCAL:2 / LOCAL:3), 1), LOCAL:22
		ENDIF
	ENDIF
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	GDRAWTEXT レイヤー番号, @"HP:", 120, 50
	GSETFONT レイヤー番号, GETFONT(), LOCAL:26
	GDRAWTEXT レイヤー番号, @"{LOCAL:2, 4}/{LOCAL:3, 4}", LOCAL:24 + LOCAL:25 - (9 * LOCAL:26 / 2), LOCAL:26 + 2
	GSETFONT レイヤー番号, GETFONT(), 18
	;MPブロック
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	LOCAL:2 = BATTLE_STATE:LOCAL:ＭＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＭＰ
	GDRAWTEXT レイヤー番号, @"MP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 50
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:31, MAX(143 + 4, 1), LOCAL:33 * 2 + LOCAL:32
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, 0xFF00B8E0
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:33 + LOCAL:31, MAX(143 * LOCAL:2 / LOCAL:3, 1), LOCAL:32
	ENDIF
	IF LOCAL:2 != LOCAL:3
		GSETBRUSH レイヤー番号, 0xFF004C60
		GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / LOCAL:3), LOCAL:33 + LOCAL:31, MAX(143 - (143 * LOCAL:2 / LOCAL:3), 1), LOCAL:32
	ENDIF
	;奥義ブロック
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	IF BATTLE_STATE:LOCAL:奥義ゲージ > 100
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ - 100, 100)
		LOCAL:10 = 0xFFFF6C10
		LOCAL:11 = 0xFFFAC61E
	ELSE
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ, 100)
		LOCAL:10 = 0xFFFAC61E
		LOCAL:11 = 0xFF54430A
	ENDIF
	GDRAWTEXT レイヤー番号, @"奥義:{BATTLE_STATE:LOCAL:奥義ゲージ, 3}％", 120, 70
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, LOCAL:41, MAX(143 + 4, 1), LOCAL:43 * 2 + LOCAL:42
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, LOCAL:10
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41, MAX(143 * LOCAL:2 / 100, 1), LOCAL:42
	ENDIF
	IF LOCAL:2 != 100
		GSETBRUSH レイヤー番号, LOCAL:11
		GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / 100), LOCAL:43 + LOCAL:41, MAX(143 - (143 * LOCAL:2 / 100), 1), LOCAL:42
	ENDIF
	;100のときのみ上書きする
	IF LOCAL:2 == 100
		GSETBRUSH レイヤー番号, 0xfffff000
		GFILLRECTANGLE レイヤー番号, 233, LOCAL:43 + LOCAL:41 - 1, MAX(143 * LOCAL:2 / 100, 1), LOCAL:42 + 2
	ENDIF
}
{
	;もとの値を退避
	LOCAL:2 = BATTLE_STATE:LOCAL:ＨＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＨＰ
	GDRAWTEXT レイヤー番号, @"HP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 30
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, 42, MAX(143 + 4, 1), 6
	IF LOCAL:2 < LOCAL:3 / 3
		IF LOCAL:2 > 0
			GSETBRUSH レイヤー番号, 0xFFE60033
			GFILLRECTANGLE レイヤー番号, 233, 43, MAX(143 * LOCAL:2 / LOCAL:3, 1), 4
		ENDIF
		IF LOCAL:2 != LOCAL:3
			GSETBRUSH レイヤー番号, 0xFF80001C
			GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / LOCAL:3), 43, MAX(143 - (143 * LOCAL:2 / LOCAL:3), 1), 4
		ENDIF
	ELSE
		IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, 0xFF00E000
		GFILLRECTANGLE レイヤー番号, 233, 43, MAX(143 * LOCAL:2 / LOCAL:3, 1), 4
		ENDIF
		IF LOCAL:2 != LOCAL:3
			GSETBRUSH レイヤー番号, 0xFF006000
			GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / LOCAL:3), 43, MAX(143 - (143 * LOCAL:2 / LOCAL:3), 1), 4
		ENDIF
	ENDIF

	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	LOCAL:2 = BATTLE_STATE:LOCAL:ＭＰ
	LOCAL:3 = BATTLE_STATE:LOCAL:最大ＭＰ
	GDRAWTEXT レイヤー番号, @"MP:{LOCAL:2, 4}/{LOCAL:3, 4}", 120, 50
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, 62, MAX(143 + 4, 1), 6
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, 0xFF00B8E0
		GFILLRECTANGLE レイヤー番号, 233, 63, MAX(143 * LOCAL:2 / LOCAL:3, 1), 4
	ENDIF
	IF LOCAL:2 != LOCAL:3
		GSETBRUSH レイヤー番号, 0xFF004C60
		GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / LOCAL:3), 63, MAX(143 - (143 * LOCAL:2 / LOCAL:3), 1), 4
	ENDIF

	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	IF BATTLE_STATE:LOCAL:奥義ゲージ > 100
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ - 100, 100)
		LOCAL:10 = 0xFFFF6C10
		LOCAL:11 = 0xFFFAC61E
	ELSE
		LOCAL:2 = MIN(BATTLE_STATE:LOCAL:奥義ゲージ, 100)
		LOCAL:10 = 0xFFFAC61E
		LOCAL:11 = 0xFF54430A
	ENDIF
	GDRAWTEXT レイヤー番号, @"奥義:{BATTLE_STATE:LOCAL:奥義ゲージ, 3}％", 120, 70
	GSETBRUSH レイヤー番号, 0xFF808080
	GFILLRECTANGLE レイヤー番号, 231, 82, MAX(143 + 4, 1), 6
	IF LOCAL:2 > 0
		GSETBRUSH レイヤー番号, LOCAL:10
		GFILLRECTANGLE レイヤー番号, 233, 83, MAX(143 * LOCAL:2 / 100, 1), 4
	ENDIF
	IF LOCAL:2 != 100
		GSETBRUSH レイヤー番号, LOCAL:11
		GFILLRECTANGLE レイヤー番号, 233 + (143 * LOCAL:2 / 100), 83, MAX(143 - (143 * LOCAL:2 / 100), 1), 4
	ENDIF
}
	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	TRYCALLFORM 探索欄表示_キャラ_{NO:(BATTLE_STATE:LOCAL:キャラ登録番号)}(レイヤー番号, LOCAL)
	GSETBRUSH レイヤー番号, 0xFFC0C0C0

	;バフ・デバフマーク表示
	矢印表示位置 = 0
	FOR バフ・デバフ番号, 0, DT_ROW_LENGTH("戦闘効果データベース")
		SIF DT_CELL_GET("戦闘効果データベース", バフ・デバフ番号, "特殊表示オプション") == -1
			CONTINUE
		SIF バフ・デバフ効果適用判定_行指定(バフ・デバフ番号, "バフ", "ALL", LOCAL) == 0
			CONTINUE
		GDRAWSPRITE レイヤー番号, "バフアイコン", 矢印表示位置 * 15, 0,  15, 15
		矢印表示位置 ++
	NEXT
	FOR バフ・デバフ番号, 0, DT_ROW_LENGTH("戦闘効果データベース")
		SIF DT_CELL_GET("戦闘効果データベース", バフ・デバフ番号, "特殊表示オプション") == -1
			CONTINUE
		SIF バフ・デバフ効果適用判定_行指定(バフ・デバフ番号, "デバフ", "ALL", LOCAL) == 0
			CONTINUE
		GDRAWSPRITE レイヤー番号, "デバフアイコン", 矢印表示位置 * 15, 0,  15, 15
		矢印表示位置 ++
	NEXT

	CALL リソース登録(@"キャラ_{LOCAL}", レイヤー番号)
	GDRAWG レイヤー番号 + 20, レイヤー番号, 0 , 0, 470, 184, 0 , 0, 470, 184, ボタン化用カラーマトリクス:0:0
	CALL リソース登録(@"キャラ_{LOCAL}_ボタン", レイヤー番号 + 20)
	レイヤー番号 += 1
NEXT

@ダンジョン画像表示部分
;表示部分
IF ダンジョン表示モード == "マップ画面"
	LOCALS = 
	IF ダンジョン背景画像 != ""
		LOCALS += @"<div rect='125, 200, 3125, 2637'><img src='%ダンジョン背景画像%' height='3125'></div>"
	ENDIF
	LOCALS += @"%HTML文字列受け渡し%"
	LOCALS += "<div rect='0, 12, 3125, 3125'><img src='ダンジョン_1' height='3125'></div>"
	LOCALS += "<div rect='3375,0,2500,5000'>"
	FOR LOCAL, 0, 4
		SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
			BREAK
		IF キャラ画像ボタン化フラグ == 1
			LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}' srcb='キャラ_{LOCAL}_ボタン' height='750' width='2462' ypos='{LOCAL * 681}'></button>"
		ELSE
			LOCALS += @"<nonbutton><img src='キャラ_{LOCAL}' height='750' width='2462' ypos='{LOCAL * 681}'></nonbutton>"
		ENDIF
	NEXT
	LOCALS += "</div><br>"
	HTML_PRINT LOCALS
	PRINTL
	LOCALS = 
	LOCALS += "<div rect='200,2937,6375,125'><button value='i'>[i]アイテム</button>"
	LOCALS += "　<button value='m'>[m]素材アイテム一覧</button>"
	LOCALS += "　<button value='t'>[t]仲間と会話</button>"
	IF BATTLE_STATE:10:キャラ登録番号 > 0
		LOCALS += "　<button value='e'>[e]サブと交代</button>"
	ENDIF
	LOCALS += "　<button value='p'>[p]ダンジョンから抜ける</button>"
	LOCALS += "　　　　　<button value='o'>[o]OPTION</button></div>"
	LOCALS += @"%TSTR:メッセージ欄文字列受け渡し_下側%"

	HTML_PRINT LOCALS, 1
	
	RETURN 36
ELSEIF ダンジョン表示モード == "アイテム画面"
	CALL ダンジョンアイテム画面表示
	IF RESULT == -1
		RETURN -1
	ENDIF
	LOCALS = <p align='left'><img src='ダンジョン_1' height='3125' width='6000' ypos='-100'>
	LOCALS += "<div rect='-2625,-112,2500,5000'>"
	FOR LOCAL, 0, 4
		SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
			BREAK
		IF キャラ画像ボタン化フラグ == 1
			LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}' srcb='キャラ_{LOCAL}_ボタン' height='750' width='2462' ypos='{LOCAL * 681}'></button>"
		ELSE
			LOCALS += @"<nonbutton><img src='キャラ_{LOCAL}' height='750' width='2462' ypos='{LOCAL * 681}'></nonbutton>"
		ENDIF
	NEXT
	LOCALS += "</div><br>"
	;LOCALS += "<div rect='200,2937,4375,125'><nonbutton><font color='yellow'>[i]アイテム</font></nonbutton>　<nonbutton><font color='#666666'>[m]素材アイテム一覧</font></nonbutton>　<nonbutton><font color='#666666'>[t]仲間と会話</font></nonbutton>　<nonbutton><font color='#666666'>[p]ダンジョンから抜ける</font></nonbutton></div>"
	LOCALS += @"%TSTR:メッセージ欄文字列受け渡し_下側%"
	HTML_PRINT LOCALS, 1
	
	RETURN 36
ENDIF


@ダンジョン能力表示キャラ切り替え(ARG)
DRAWLINE
IF ARG > 0
	PRINTBUTTONLC "[100]前のキャラへ", 100
ELSE
	PRINTLC  
ENDIF
IF BATTLE_STATE:(ARG + 1):キャラ登録番号 > 0
	PRINTBUTTONLC "[101]次のキャラへ", 101
ELSE
	PRINTLC  
ENDIF
PRINTL
PRINTBUTTONLC "[110]指輪装備変更", 110
PRINTBUTTONLC "[111]耳飾り装備変更", 111
PRINTBUTTONLC "[112]ジョブの証装備変更", 112
PRINTL
PRINTBUTTONLC "[113]カットイン個別設定変更", 113
PRINTL
PRINTBUTTONLC "[999]戻る", 999
$INPUT_LOOP
INPUT

SELECTCASE RESULT
	CASE 100
		IF ARG == 0
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		RETURN ARG - 1
	CASE 101
		IF BATTLE_STATE:(ARG + 1):キャラ登録番号 < 1
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		RETURN ARG + 1
	CASE 110
		CALL 指輪付け替え処理画面(BATTLE_STATE:ARG:キャラ登録番号)
		CALL 戦闘初期処理_味方(0)
		RETURN ARG
	CASE 111
		CALL 耳飾り付け替え処理画面(BATTLE_STATE:ARG:キャラ登録番号)
		CALL 戦闘初期処理_味方(0)
		RETURN ARG
	CASE 112
		CALL 証付け替え処理画面(BATTLE_STATE:ARG:キャラ登録番号)
		CALL 戦闘初期処理_味方(0)
		RETURN ARG
	CASE 113
		CALL 奥義カットイン個別設定画面(BATTLE_STATE:ARG:キャラ登録番号)
		RETURN ARG
	CASE 999
		RETURN -1
	CASEELSE
		REUSELASTLINE 
		GOTO INPUT_LOOP
ENDSELECT



@ダンジョンメッセージ欄表示(表示位置, 表示顔グラ対象番号)
#DIM レイヤー番号
#DIMS 表示位置
#DIM 表示顔グラ対象番号
VARSET LOCALS

IF 表示位置 == "下"
	レイヤー番号 = 9
	;メッセージウィンドウ
	GDISPOSE レイヤー番号
	SPRITEDISPOSE ("メッセージ欄")
	GCREATE レイヤー番号, 901, 150
	GSETFONT レイヤー番号, GETFONT(), 18
	GSETPEN レイヤー番号, 0x00FFFFFF, -1

	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	GFILLRECTANGLE レイヤー番号, 0, 0, 901, 150
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 5, 5, 891, 140
	;顔グラなしの場合、１行に４８文字まで
	;顔グラありの場合、１行に４１文字まで
	;一度に表示できるのは６行まで
	GSETBRUSH レイヤー番号, 0xFFC0C0C0

	CALL リソース登録("メッセージ欄", レイヤー番号)
ELSEIF 表示位置 == "上"
	レイヤー番号 = 8
	;戦闘時敵メッセージウィンドウ
	GDISPOSE レイヤー番号
	SPRITEDISPOSE ("上メッセージ欄")
	GCREATE レイヤー番号, 901, 150
	GSETFONT レイヤー番号, GETFONT(), 18
	GSETPEN レイヤー番号, 0x00FFFFFF, -1

	GSETBRUSH レイヤー番号, 0xFFC0C0C0
	GFILLRECTANGLE レイヤー番号, 0, 0, 901, 150
	GSETBRUSH レイヤー番号, 0xFF101010
	GFILLRECTANGLE レイヤー番号, 5, 5, 891, 140
	;顔グラなしの場合、１行に４８文字まで
	;顔グラありの場合、１行に４１文字まで
	;一度に表示できるのは６行まで
	GSETBRUSH レイヤー番号, 0xFFC0C0C0

	IF 表示顔グラ対象番号
		IF SPRITECREATED(@"{NO:表示顔グラ対象番号}_顔")
			CALL 画像合成(レイヤー番号, @"{NO:表示顔グラ対象番号}_顔", 760, 10, 130, 130)
		ELSE
			CALL 画像合成(レイヤー番号, "顔ノーイメ", 760, 10, 130, 130)
		ENDIF
	ENDIF
	CALL リソース登録("上メッセージ欄", レイヤー番号)
ENDIF

@サブメンバー交代処理()
#DIM 交代候補_メイン
#DIM 交代候補_サブ
#DIM 交代ステータス保存
#DIM INPUT保存

交代候補_メイン = -1
交代候補_サブ = -1

;全員分の画像を再生成
CALL 探索用顔グラフィック生成
CALL DUNGEON_キャラ描画

DO
DRAWLINE
PRINTL メインメンバーとサブメンバーを入れ替えることが出来ます。
PRINTL 入れ替えたいキャラを左右それぞれで選んでください。
DRAWLINE
;順番に並べる
LOCALS = 
LOCALS += "<div rect='2887,1530, 500, 200'>←→</div>"
FOR LOCAL, 10, 14
	SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
		BREAK
	LOCALS += @"<div rect='100, {(LOCAL - 10) * 790}, 2500, 5000'>"
	IF 交代候補_サブ == LOCAL
		LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}_ボタン' height='750' width='2462'></button>"
	ELSE
		LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}' srcb='キャラ_{LOCAL}_ボタン' height='750' width='2462'></button>"
	ENDIF
	LOCALS += "</div>"
NEXT
FOR LOCAL, 0, 4
	SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
		BREAK
	LOCALS += @"<div rect='3375,{LOCAL * 790}, 2500, 1000'>"
	IF 交代候補_メイン == LOCAL
		LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}_ボタン' height='750' width='2462'></button>"
	ELSE
		LOCALS += @"<button value='{LOCAL}' ><img src='キャラ_{LOCAL}' srcb='キャラ_{LOCAL}_ボタン' height='750' width='2462'></button>"
	ENDIF
	LOCALS += "</div>"
NEXT
HTML_PRINT LOCALS
FOR LOCAL, 0, 29
	PRINTL
NEXT
PRINTBUTTON "[999] 戻る", 999
PRINTL
PRINTL

BINPUT
INPUT保存 = RESULT
SELECTCASE INPUT保存
	CASE 0 TO 3
		IF 交代候補_サブ > 9
			;交代処理
			FOR LOCAL, 0, 200
				交代ステータス保存 = BATTLE_STATE:交代候補_サブ:LOCAL
				BATTLE_STATE:交代候補_サブ:LOCAL = BATTLE_STATE:INPUT保存:LOCAL
				BATTLE_STATE:INPUT保存:LOCAL = 交代ステータス保存
			NEXT
			FOR LOCAL, 0, 20
				交代ステータス保存 = 探索中カウント:交代候補_サブ:LOCAL
				探索中カウント:交代候補_サブ:LOCAL = 探索中カウント:INPUT保存:LOCAL
				探索中カウント:INPUT保存:LOCAL = 交代ステータス保存
			NEXT
			PRINTFORMW %CALLNAME:(BATTLE_STATE:交代候補_サブ:キャラ登録番号)%と%CALLNAME:(BATTLE_STATE:INPUT保存:キャラ登録番号)%を交代しました。
			交代候補_メイン = -1
			交代候補_サブ = -1
			RESTART
		ELSE
			IF INPUT保存 != 交代候補_メイン
				交代候補_メイン = INPUT保存
			ELSE
				交代候補_メイン = -1
			ENDIF
		ENDIF
	CASE 10 TO 13
		IF 交代候補_メイン > -1
			;交代処理
			FOR LOCAL, 0, 200
				交代ステータス保存 = BATTLE_STATE:INPUT保存:LOCAL
				BATTLE_STATE:INPUT保存:LOCAL = BATTLE_STATE:交代候補_メイン:LOCAL
				BATTLE_STATE:交代候補_メイン:LOCAL = 交代ステータス保存
			NEXT
			FOR LOCAL, 0, 20
				交代ステータス保存 = 探索中カウント:INPUT保存:LOCAL
				探索中カウント:INPUT保存:LOCAL = 探索中カウント:交代候補_メイン:LOCAL
				探索中カウント:交代候補_メイン:LOCAL = 交代ステータス保存
			NEXT
			PRINTFORMW %CALLNAME:(BATTLE_STATE:INPUT保存:キャラ登録番号)%と%CALLNAME:(BATTLE_STATE:交代候補_メイン:キャラ登録番号)%を交代しました。
			交代候補_メイン = -1
			交代候補_サブ = -1
			RESTART
		ELSE
			IF INPUT保存 != 交代候補_サブ
				交代候補_サブ = INPUT保存
			ELSE
				交代候補_サブ = -1
			ENDIF
		ENDIF
	CASE 999
		交代候補_メイン = -1
		交代候補_サブ = -1
		RETURN 0
ENDSELECT
LOOP 1


@強敵マス確認

KSTR:(K++) = 強敵の気配がする……先に進みますか？
KSTR:(K++) = BUTTON_[はい]
KSTR:(K++) = BUTTON_[いいえ]
CALL メッセージ欄表示用関数(,,,0)
$LOOP_MESSAGE
INPUTS
SELECTCASE RESULTS
	CASE "[はい]"
		CALL 口上変数初期化
		RETURN 0
	CASE "[いいえ]"
		CALL 口上変数初期化
		RETURN 1
	CASEELSE
		CLEARLINE 1
		GOTO LOOP_MESSAGE
ENDSELECT
