
@汎用搭載兵器取得処理(兵器名一時保存)
#DIMS 兵器名一時保存

;アンロック式なのでフラグ立てるだけ
;ERDいじったりしなくていいようにデータベース管理
ENUMFUNCBEGINSWITH @"搭載兵器関数_%兵器名一時保存%"
;同じものを複数持てるので重複チェックはしない
IF RESULT
	;抜けてきたら登録
	CALLFORM 搭載兵器関数_%兵器名一時保存%("兵器登録")
	RETURN 1
ELSE
	;関数が無い時は-1を返す
	PRINTW 指定の兵器が見つかりません。
	RETURN -1
ENDIF

@汎用搭載兵器取得処理_設計図(兵器名一時保存)
#DIMS 兵器名一時保存

;設計図の方は重複チェックを行う
FOR LOCAL, 0, DT_ROW_LENGTH("所持兵器データベース")
	SELECTCASE DT_CELL_GETS("所持兵器データベース", LOCAL, "兵器名")
		CASE 兵器名一時保存
			IF DT_CELL_GET("所持兵器データベース", LOCAL, "設計状態フラグ")
				PRINTW 設計図は既に所持済みです。
				;すでに追加済みの場合は-2を返す
				RETURN -2
			ENDIF
	ENDSELECT
NEXT
CALL 汎用搭載兵器取得処理(兵器名一時保存)

IF RESULT == 1
	;設計図状態なので設計図フラグを立てる
	DT_CELL_SET "所持兵器データベース", DT_ROW_LENGTH("所持兵器データベース") - 1, "設計状態フラグ", 1
	RETURN 1
ELSE
	RETURN -1
ENDIF


@搭載兵器所持チェック(兵器名, 設計状態 = 2)
#FUNCTION
#DIMS 兵器名
;0 = 実物のみチェック, 1 = 設計図のみチェック, それ以外 = どちらかあればOK
#DIM 設計状態
#DIM ループ用

;指定した名前の搭載兵器を持っているか確認する
;関数が存在しないケースは想定していないため注意
FOR ループ用, 0, DT_ROW_LENGTH("所持兵器データベース")
	IF DT_CELL_GETS("所持兵器データベース", ループ用, "兵器名") == 兵器名
		IF DT_CELL_GET("所持兵器データベース", ループ用, "設計状態フラグ")
			SIF 設計状態 != 0
				RETURNF 1
		ELSE
			SIF 設計状態 != 1
				RETURNF 1
		ENDIF
	ENDIF
NEXT
RETURNF 0


@搭載兵器装備処理(対象乗機id, 武装番号)
#DIM 対象乗機id
#DIM 武装番号
#DIM ページ番号
#DIMS ソート基準
#DIM 選択兵器番号
#DIM id一時保存

DO
DRAWLINE
LOCALS = 
LOCALS += "<div rect='200,12,5662,3750' border='31' bcolor='#C0C0C0'></div>"
HTML_PRINT LOCALS, 1
CALL 所持兵器リスト表示(ページ番号, ソート基準, 対象乗機id, 武装番号)
LOCALS = 
;戻るボタンと前次ページボタン
LOCALS += "<div rect='262,3575,5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 表示用ステータス格納配列:(29 * ページ番号 + 30):0 > 0
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += "　　　　　　　　　　　　　　　　　　　　　　　"
LOCALS += "　　<button value='9999'>[9999]戻る</button></div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 34
	PRINTL
NEXT
BINPUTS
IF ISNUMERIC(RESULTS) == 0
	;文字列が入る場合、ソート条件が入るはず
	ソート基準 = %RESULTS%
	CONTINUE
ENDIF
選択兵器番号 = TOINT(RESULTS)
SELECTCASE 選択兵器番号
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 1
	CASE IS < 500
		;搭載兵器装備
		;誰かが装備してるんならそれをはずす
		IF DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1) > 0
			id一時保存 = DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1)
			FOR LOCAL, 0, 6
				IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1)) && 表示用ステータス格納配列:選択兵器番号:0 == TOINT(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1))
					DT_CELL_SET "所持乗機データベース", id一時保存, @"武装{LOCAL}", "", 1
					BREAK
				ENDIF
			NEXT
			DT_CELL_SET "所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 0, 1
		ENDIF
		;この枠に何かが装備されてるならそれをはずす
		IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", 対象乗機id, @"武装{武装番号}", 1))
			DT_CELL_SET "所持兵器データベース", TOINT(DT_CELL_GETS("所持乗機データベース", 対象乗機id, @"武装{武装番号}", 1)), "装備乗機id", 0, 1
		ENDIF
		;乗機と兵器両方に互いのidを突っ込む
		DT_CELL_SET "所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 対象乗機id, 1
		DT_CELL_SET "所持乗機データベース", 対象乗機id, @"武装{武装番号}", @"{表示用ステータス格納配列:選択兵器番号:0}", 1
		PRINTFORMW %DT_CELL_GETS("所持乗機データベース", 対象乗機id, "乗機名", 1)%の武装%TOFULL(TOSTR(武装番号))%に%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%を装備しました。
	CASE IS < 1000
		;詳細表示
		選択兵器番号 -= 500
		LOCALS = <br>■%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%<br><br>
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%("フレーバー", 表示用ステータス格納配列:選択兵器番号:0)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		
		LOCALS += @"カテゴリ：%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器カテゴリ", 1), 6%　　距離適性：%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器距離適性", 1)%<br>"
		LOCALS += @"攻撃補正：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "攻撃力補正_強化後", 1), 6}　　命中補正：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "命中率補正_強化後", 1), 4}<br>"
		LOCALS += @"攻撃変動：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "攻撃力変動値_強化後", 1), 6}　　命中変動：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "命中率変動値_強化後", 1), 4}<br>"
		IF DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1) < 2
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1))%　　　残弾数：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾数_強化後", 1), 4}<br>"
		ELSE
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1))%　　ターン数：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾数_強化後", 1), 4}<br>"
		ENDIF
		LOCALS += @"<br>"

		詳細文文字列受け渡し変数 = 
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%("アビ説明文", 表示用ステータス格納配列:選択兵器番号:0)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"
		IF DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1) > 0
			id一時保存 = DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1)
			LOCALS += @"<br>乗機：%DT_CELL_GETS("所持乗機データベース", id一時保存, "乗機名", 1)%の"
			FOR LOCAL, 0, 6
				IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1)) && 表示用ステータス格納配列:選択兵器番号:0 == TOINT(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1))
					LOCALS += @"武装%TOFULL(TOSTR(LOCAL))%に装備中<br>"
					BREAK
				ENDIF
			NEXT
		ENDIF
		HTML_PRINT LOCALS
		WAIT
ENDSELECT

LOOP 1

@所持兵器リスト表示(ページ番号, ソート基準, 対象乗機id = 0, 武装番号 = -1, 設計フラグ = 0, y軸位置 = 325)
#DIM ページ番号
#DIM 武装番号
#DIM 対象乗機id
#DIM y軸位置
#DIMS ソート基準
#DIM ソート後配列, 500
#DIM ソート後配列_装備可能, 500
#DIM ソート後配列_装備不可, 500
#DIM 設計フラグ
#DIM 表示数

VARSET ソート後配列
VARSET ソート後配列_装備可能
VARSET ソート後配列_装備不可

IF ソート基準 != ""
	ソート基準 = %ソート基準% DESC
ENDIF
DT_SELECT "所持兵器データベース", , ソート基準, ソート後配列

;対象乗機idがある場合、ソート後配列を更に分ける
IF 対象乗機id > 0
	VARSET LOCAL
	FOR LOCAL, 0, DT_ROW_LENGTH("所持兵器データベース")
		CALLFORM 乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", 対象乗機id, "乗機名", 1)%_{武装番号}("装備条件判定", ソート後配列:LOCAL)
		IF RESULT
			ソート後配列_装備可能:(LOCAL:1) = ソート後配列:LOCAL
			LOCAL:1 += 1
		ELSE
			ソート後配列_装備不可:(LOCAL:2) = ソート後配列:LOCAL
			LOCAL:2 += 1
		ENDIF
	NEXT
	;処理の簡略化のために装備可能配列をソート後配列にコピー
	VARSET ソート後配列
	ARRAYCOPY "ソート後配列_装備可能", "ソート後配列"
ENDIF


VARSET LOCAL
VARSET LOCALS
表示数 = 0
LOCALS = <div rect='262,{y軸位置},5537,3625'><nobr>
LOCALS += "　　　 兵器名　　　　　　　　　　<button value='攻撃力変動値_強化後'>攻撃</button>　 <button value='命中率変動値_強化後'>命中</button>　<button value='残弾種別'>種別</button>　<button value='残弾数'>弾数</button>　<button value='兵器カテゴリ'>カテゴリ</button>　<button value='兵器距離適性'>距離適性</button>　<button value='装備乗機id'>装備機体</button><br>"
LOCALS += "--------------------------------------------------------------------------------------------------------------<br>"
FOR LOCAL, 0, DT_ROW_LENGTH("所持兵器データベース")
	SIF ソート後配列:LOCAL < 1
		BREAK
	IF 設計フラグ
		SIF DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "設計状態フラグ", 1) == 0
			CONTINUE
	ELSE
		SIF DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "設計状態フラグ", 1)
			CONTINUE
	ENDIF
	表示用ステータス格納配列:表示数:0 = ソート後配列:LOCAL
	SIF 対象乗機id > 0 && 対象乗機id == DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "装備乗機id", 1)
		LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'>"
	DT_CELL_GETS "所持兵器データベース", ソート後配列:LOCAL, "兵器名", 1
	LOCALS += @"　<button value='{表示数}'>"
	LOCALS += @"%RESULTS, 24, LEFT%</button>"
	LOCALS += @"<button value='{表示数 + 500}'>[詳細]</button>"
	IF DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "攻撃力変動値_強化後", 1) > 0
		LOCALS:1 = +{DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "攻撃力変動値_強化後", 1)}
		LOCALS += @"%LOCALS:1, 5%"
	ELSE
		LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "攻撃力変動値_強化後", 1), 5}"
	ENDIF
	IF DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "命中率変動値_強化後", 1) > 0
		LOCALS:1 = +{DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "命中率変動値_強化後", 1)}
		LOCALS += @"%LOCALS:1, 7%"
	ELSE
		LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "命中率変動値_強化後", 1), 7}"
	ENDIF
	SELECTCASE DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "残弾種別", 1)
		CASE 0
			LOCALS += "　戦闘"
		CASE 1
			LOCALS += "　探索"
		CASE 2
			LOCALS += "　ＣＴ"
	ENDSELECT
	LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "残弾数", 1), 6}"
	IF STRLENS(DT_CELL_GETS("所持兵器データベース", ソート後配列:LOCAL, "兵器カテゴリ", 1)) > 8
		LOCALS += "　　特殊"
	ELSE
		LOCALS += @"%DT_CELL_GETS("所持兵器データベース", ソート後配列:LOCAL, "兵器カテゴリ", 1), 10%"
	ENDIF
	IF STRLENS(DT_CELL_GETS("所持兵器データベース", ソート後配列:LOCAL, "兵器距離適性", 1)) > 8
		LOCALS += "　　特殊"
	ELSE
		LOCALS += @"%DT_CELL_GETS("所持兵器データベース", ソート後配列:LOCAL, "兵器距離適性", 1), 10%"
	ENDIF
	IF DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "装備乗機id", 1) > 0
		LOCALS += @"　%DT_CELL_GETS("所持乗機データベース", DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "装備乗機id", 1), "乗機名", 1)%"
	ENDIF
	SIF 対象乗機id > 0 && 対象乗機id == DT_CELL_GET("所持兵器データベース", ソート後配列:LOCAL, "装備乗機id", 1)
		LOCALS += "</font>"

	LOCALS += "<br>"
	表示数 += 1
NEXT

;対象乗機idがある場合、ソート後配列_装備不可を表示
IF 対象乗機id > 0
	LOCALS += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>"
	FOR LOCAL, 0, DT_ROW_LENGTH("所持兵器データベース")
		SIF ソート後配列_装備不可:LOCAL < 1
			BREAK
		SIF DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "設計状態フラグ", 1)
			CONTINUE
		表示用ステータス格納配列:表示数:0 = ソート後配列_装備不可:LOCAL
		DT_CELL_GETS "所持兵器データベース", ソート後配列_装備不可:LOCAL, "兵器名", 1
		LOCALS += @"　%RESULTS, 24, LEFT%"
		LOCALS += @"<button value='{表示数 + 1000}'>[詳細]</button>"
		IF DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "攻撃力変動値_強化後", 1) > 0
			LOCALS:1 = +{DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "攻撃力変動値_強化後", 1)}
			LOCALS += @"%LOCALS:1, 5%"
		ELSE
			LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "攻撃力変動値_強化後", 1), 5}"
		ENDIF
		IF DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "命中率変動値_強化後", 1) > 0
			LOCALS:1 = +{DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "命中率変動値_強化後", 1)}
			LOCALS += @"%LOCALS:1, 7%"
		ELSE
			LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "命中率変動値_強化後", 1), 7}"
		ENDIF
		SELECTCASE DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "残弾種別", 1)
			CASE 0
				LOCALS += "　戦闘"
			CASE 1
				LOCALS += "　探索"
			CASE 2
				LOCALS += "　ＣＴ"
		ENDSELECT
		LOCALS += @"{DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "残弾数", 1), 6}"
		IF STRLENS(DT_CELL_GETS("所持兵器データベース", ソート後配列_装備不可:LOCAL, "兵器カテゴリ", 1)) > 8
			LOCALS += "　　特殊"
		ELSE
			LOCALS += @"%DT_CELL_GETS("所持兵器データベース", ソート後配列_装備不可:LOCAL, "兵器カテゴリ", 1), 10%"
		ENDIF
		IF STRLENS(DT_CELL_GETS("所持兵器データベース", ソート後配列_装備不可:LOCAL, "兵器距離適性", 1)) > 8
			LOCALS += "　　特殊"
		ELSE
			LOCALS += @"%DT_CELL_GETS("所持兵器データベース", ソート後配列_装備不可:LOCAL, "兵器距離適性", 1), 10%"
		ENDIF
		IF DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "装備乗機id", 1) > 0
			LOCALS += @"　%DT_CELL_GETS("所持乗機データベース", DT_CELL_GET("所持兵器データベース", ソート後配列_装備不可:LOCAL, "装備乗機id", 1), "乗機名", 1)%"
		ENDIF

		LOCALS += "<br>"
		表示数 += 1
	NEXT
	LOCALS += @"</font>"
ENDIF
LOCALS += "</div>"

HTML_PRINT LOCALS, 1


@所持兵器リスト表示_USERCOM(y軸位置)
#DIM ページ番号
#DIMS ソート基準
#DIM 選択兵器番号
#DIM id一時保存
#DIM y軸位置

LOCALS = 
LOCALS += @"<div rect='200,{y軸位置},5662,3750' border='31' bcolor='#C0C0C0'></div>"
HTML_PRINT LOCALS, 1
CALL 所持兵器リスト表示(ページ番号, ソート基準, , , , y軸位置 + 70)
LOCALS = 
;戻るボタンと前次ページボタン
LOCALS += @"<div rect='262,{y軸位置 + 3575},5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 表示用ステータス格納配列:(29 * ページ番号 + 30):0 > 0
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += "</div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 32 + (y軸位置 / 100)
	PRINTL
NEXT
BINPUTS
IF STRFIND(RESULTS, "探索集約_") > -1
	VARSET 表示用ステータス格納配列:0:0
	表示切り替え文字列 = %RESULTS%
	ページ番号 = 0
	RETURN 0
ENDIF
IF ISNUMERIC(RESULTS) == 0
	IF DT_COLUMN_EXIST("所持兵器データベース", RESULTS)
		;ソート条件
		ソート基準 = %RESULTS%
	ELSE
		;ソート条件でない場合は切り替えのはず
		表示切り替え文字列 = %RESULTS%
	ENDIF
	RETURN 0
ENDIF
選択兵器番号 = TOINT(RESULTS)
SELECTCASE 選択兵器番号
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN -1
	CASE IS < 500
	CASE IS < 1000
		選択兵器番号 -= 500
ENDSELECT

LOCALS = <br>■%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%<br><br>
TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%("フレーバー", 表示用ステータス格納配列:選択兵器番号:0)
LOCALS += @"%詳細文文字列受け渡し変数%<br>"

LOCALS += @"カテゴリ：%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器カテゴリ", 1), 6%　　距離適性：%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器距離適性", 1)%<br>"
LOCALS += @"攻撃補正：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "攻撃力補正_強化後", 1), 6}　　命中補正：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "命中率補正_強化後", 1), 4}<br>"
LOCALS += @"攻撃変動：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "攻撃力変動値_強化後", 1), 6}　　命中変動：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "命中率変動値_強化後", 1), 4}<br>"
IF DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1) < 2
	LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1))%　　　残弾数：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾数_強化後", 1), 4}<br>"
ELSE
	LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾種別", 1))%　　ターン数：{DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "残弾数_強化後", 1), 4}<br>"
ENDIF
LOCALS += @"<br>"
詳細文文字列受け渡し変数 = 
TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "兵器名", 1)%("アビ説明文", 表示用ステータス格納配列:選択兵器番号:0)
LOCALS += @"%詳細文文字列受け渡し変数%<br>"

IF DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1) > 0
	id一時保存 = DT_CELL_GET("所持兵器データベース", 表示用ステータス格納配列:選択兵器番号:0, "装備乗機id", 1)
	LOCALS += @"<br>乗機：%DT_CELL_GETS("所持乗機データベース", id一時保存, "乗機名", 1)%の"
	FOR LOCAL, 0, 6
		IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1)) && 表示用ステータス格納配列:選択兵器番号:0 == TOINT(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1))
			LOCALS += @"武装%TOFULL(TOSTR(LOCAL))%に装備中<br>"
			BREAK
		ENDIF
	NEXT
ENDIF
HTML_PRINT LOCALS
WAIT


@所持兵器リスト表示_作成時
#DIM ページ番号
#DIMS ソート基準
#DIM 選択兵器番号
#DIM 表示id
#DIM id一時保存
#DIM 素材id, 50
#DIM 素材不足フラグ
#DIMS 分割文字列, 2
#DIM 必要数

DO
LOCALS = 
LOCALS += "<div rect='200,12,5662,200' border='31' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='250,60,5662,200'>作成したい兵器を選択してください。</div>"
LOCALS += "<div rect='200,262,5662,3750' border='31' bcolor='#C0C0C0'></div>"
HTML_PRINT LOCALS, 1
CALL 所持兵器リスト表示(ページ番号, ソート基準, , , 1)
LOCALS = 
;戻るボタンと前次ページボタン
LOCALS += "<div rect='262,3575,5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 表示用ステータス格納配列:(29 * ページ番号 + 30):0 > 0
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += "　　　　　　　　　　　　　　　　　　　　　　　"
LOCALS += "　　<button value='9999'>[9999]戻る</button></div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 36
	PRINTL
NEXT
BINPUTS
IF ISNUMERIC(RESULTS) == 0
	;文字列が入る場合、ソート条件が入るはず
	ソート基準 = %RESULTS%
	CONTINUE
ENDIF
選択兵器番号 = TOINT(RESULTS)
SELECTCASE 選択兵器番号
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 1
	CASE IS < 500
		表示id = 表示用ステータス格納配列:(選択兵器番号):0
		LOCALS = <br>■%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%<br><br>
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("フレーバー", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		LOCALS += @"カテゴリ：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器カテゴリ", 1), 6%　　距離適性：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器距離適性", 1)%<br>"
		LOCALS += @"攻撃補正：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力補正_強化後", 1), 6}　　命中補正：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率補正_強化後", 1), 4}<br>"
		LOCALS += @"攻撃変動：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力変動値_強化後", 1), 6}　　命中変動：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率変動値_強化後", 1), 4}<br>"
		IF DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1) < 2
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　　残弾数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ELSE
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　ターン数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ENDIF
		LOCALS += @"<br>"
		詳細文文字列受け渡し変数 = 
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("アビ説明文", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		HTML_PRINT LOCALS
		VARSET 作成素材登録
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("作成素材")
		DRAWLINE
		PRINTL ■必要素材
		素材不足フラグ = 0
		VARSET 素材id
		FOR LOCAL, 0, 50
			SIF 作成素材登録:LOCAL == ""
				BREAK
			SPLIT 作成素材登録:LOCAL, "_", 分割文字列

			FOR LOCAL:1, 0, DT_ROW_LENGTH("所持素材データベース")
				;該当素材のidを引っ張ってくる
				IF DT_CELL_GETS("所持素材データベース", LOCAL:1, "素材アイテム名") == 分割文字列:0
					素材id:LOCAL = DT_CELL_GET("所持素材データベース", LOCAL:1, "id")
					BREAK
				ENDIF
			NEXT
			IF 素材id:LOCAL == 0
				PRINTW 素材名が不正です。
				RETURN -1
			ENDIF
			必要数 = TOINT(分割文字列:1)
			IF 必要数 >= 10 && 高速船記録:派遣先登録 == "バルツ公国" && 高速船記録:派遣状態 == "派遣中"
				必要数 -= 3
			ENDIF
			SETCOLOR 属性数値文字色変換(DT_CELL_GET("所持素材データベース", 素材id:LOCAL, "素材属性", 1))
			PRINTFORML 　%分割文字列:0%：{必要数, 3}個 / 所持数{DT_CELL_GET("所持素材データベース", 素材id:LOCAL, "所持素材数", 1)}個
			RESETCOLOR
			IF DT_CELL_GET("所持素材データベース", 素材id:LOCAL, "所持素材数", 1) < 必要数
				素材不足フラグ = 1
			ENDIF
		NEXT
		PRINTL
		IF 素材不足フラグ
			PRINTL 素材が足りません。
		ELSE
			PRINTBUTTON "[0] 作成する", 0
		ENDIF
		PRINTL
		PRINTBUTTON "[999] 戻る", 999
		PRINTL
		BINPUT
		LOCAL = RESULT
		SELECTCASE LOCAL
			CASE 999
				;リスト表示に戻るだけなのでRETURNしない
			CASE 0
				FOR LOCAL, 0, 50
					SIF 作成素材登録:LOCAL == ""
						BREAK
					SPLIT 作成素材登録:LOCAL, "_", 分割文字列
					;素材消費
					必要数 = TOINT(分割文字列:1)
					IF 必要数 >= 10 && 高速船記録:派遣先登録 == "バルツ公国" && 高速船記録:派遣状態 == "派遣中"
						必要数 -= 3
					ENDIF
					DT_CELL_SET "所持素材データベース", 素材id:LOCAL, "所持素材数", DT_CELL_GET("所持素材データベース", 素材id:LOCAL, "所持素材数", 1) - 必要数, 1
				NEXT
				;設計フラグを0にしたものを追加する
				CALL 汎用搭載兵器取得処理(DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1))
				PRINTFORMW %DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%を作成しました。
		ENDSELECT
	CASE IS < 1000
		表示id = 表示用ステータス格納配列:(選択兵器番号 - 500):0
		LOCALS = <br>■%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%<br><br>
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("フレーバー", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		LOCALS += @"カテゴリ：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器カテゴリ", 1), 6%　　距離適性：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器距離適性", 1)%<br>"
		LOCALS += @"攻撃補正：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力補正_強化後", 1), 6}　　命中補正：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率補正_強化後", 1), 4}<br>"
		LOCALS += @"攻撃変動：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力変動値_強化後", 1), 6}　　命中変動：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率変動値_強化後", 1), 4}<br>"
		IF DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1) < 2
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　　残弾数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ELSE
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　ターン数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ENDIF
		LOCALS += @"<br>"
		詳細文文字列受け渡し変数 = 
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("アビ説明文", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		IF DT_CELL_GET("所持兵器データベース", 表示id, "装備乗機id", 1) > 0
			id一時保存 = DT_CELL_GET("所持兵器データベース", 表示id, "装備乗機id", 1)
			LOCALS += @"<br>乗機：%DT_CELL_GETS("所持乗機データベース", id一時保存, "乗機名", 1)%の"
			FOR LOCAL, 0, 6
				IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1)) && 表示id == TOINT(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1))
					LOCALS += @"武装%TOFULL(TOSTR(LOCAL))%に装備中<br>"
					BREAK
				ENDIF
			NEXT
		ENDIF
		HTML_PRINT LOCALS
		WAIT
	CASE IS < 1500
		表示id = 表示用ステータス格納配列:(選択兵器番号 - 1000):0
		LOCALS = <br>■%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%<br><br>
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("フレーバー", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		LOCALS += @"カテゴリ：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器カテゴリ", 1), 6%　　距離適性：%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器距離適性", 1)%<br>"
		LOCALS += @"攻撃補正：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力補正_強化後", 1), 6}　　命中補正：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率補正_強化後", 1), 4}<br>"
		LOCALS += @"攻撃変動：{DT_CELL_GET("所持兵器データベース", 表示id, "攻撃力変動値_強化後", 1), 6}　　命中変動：{DT_CELL_GET("所持兵器データベース", 表示id, "命中率変動値_強化後", 1), 4}<br>"
		IF DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1) < 2
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　　残弾数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ELSE
			LOCALS += @"残弾種別：%残弾種別名:(DT_CELL_GET("所持兵器データベース", 表示id, "残弾種別", 1))%　　ターン数：{DT_CELL_GET("所持兵器データベース", 表示id, "残弾数_強化後", 1), 4}<br>"
		ENDIF
		LOCALS += @"<br>"
		詳細文文字列受け渡し変数 = 
		TRYCALLFORM 搭載兵器関数_%DT_CELL_GETS("所持兵器データベース", 表示id, "兵器名", 1)%("アビ説明文", 表示id)
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		IF DT_CELL_GET("所持兵器データベース", 表示id, "装備乗機id", 1) > 0
			id一時保存 = DT_CELL_GET("所持兵器データベース", 表示id, "装備乗機id", 1)
			LOCALS += @"<br>乗機：%DT_CELL_GETS("所持乗機データベース", id一時保存, "乗機名", 1)%の"
			FOR LOCAL, 0, 6
				IF ISNUMERIC(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1)) && 表示id == TOINT(DT_CELL_GETS("所持乗機データベース", id一時保存, @"武装{LOCAL}", 1))
					LOCALS += @"武装%TOFULL(TOSTR(LOCAL))%に装備中<br>"
					BREAK
				ENDIF
			NEXT
		ENDIF
		HTML_PRINT LOCALS
		WAIT
ENDSELECT

LOOP 1
