;-------------------------------------------------
;正常位
;セックス系コマンド、レベル1
;-------------------------------------------------
@COMNAME60
#FUNCTIONS
TSTR:コマンド名受渡 = Ｖ挿入する
SIF MODE_存在判定_順不同("Ｖ挿入系", PLAYER, TARGET)
	TSTR:コマンド名受渡 = 体位を変える

;弱点コマンド欄に専用の文字列を表示したい場合、これを設定すること
弱点コマンド欄表示名 = Ｖ挿入する

SIF 派生名フラグ
	TSTR:コマンド名受渡 = Ｖ挿入

;許可時の特別文章はここに記入
IF TFLAG:オートコマンドフラグ >= 4000
	;反転時、つまりあなたが入れる方
	許可取り文章 = %CALLNAME:TARGET%は%CALLNAME:PLAYER%に[Ｖ挿入]して欲しいようだ…
ELSE
	許可取り文章 = %CALLNAME:PLAYER%は%CALLNAME:TARGET%に[Ｖ挿入]したいようだ…
ENDIF

;===================================================
;コマンドタイプ
;===================================================
@COMTYPE_60
#FUNCTION
TFLAG:コマンドタイプ受渡 = COMTYPE("Ｖ系")
SIF CFLAG:TARGET:睡眠
	TFLAG:コマンドタイプ受渡 = COMTYPE("セクハラ強")
睡眠中許可 = 1
;弱点コマンドカテゴリ = V
同時モード許可 = 3
同時モード拡張許可 = 1
オートコマンド許可 = 3
反転オート許可 = 3

@COM_TOOLTIP_60
LOCALS = <br>■Ｖ挿入する<br>
LOCALS += "相手の膣に挿入し、セックスを行うコマンド。<br>Ｖ挿入系モード時、[体位を変える]に変化する。<br>Ｖ挿入系モードとなり、モードを変更するか性行為を終了するまで持続的に快楽が発生する。<br>[処女]を失う。"
LOCALS += "<br>COMタイプ：Ｖ系<br>取得ソース：快Ｖ・露出・接触・苦痛・不潔(一定条件時)"
LOCALS += "<br>固有の取得経験：Ｖ性交経験(TARGET)・Ｃ性交経験_Ｖ挿入(PLAYER)<br>"
TSTR:ツールチップ受渡 = %LOCALS%

@COM60
#DIM ランダム候補, 20
#DIM 強さ初期値記録
#DIM 速さ初期値記録
#DIMS 体位名

IF TFLAG:オートコマンドフラグ
	;オートで実行する場合
	;ランダムで体位を決定して実行する
	VARSET ランダム候補, -1
	LOCAL:1 = 0
	FOR LOCAL, 0, 12
		TRYCALLFORM COM_ABLE60_{LOCAL}
		IF RESULT
			ランダム候補:(LOCAL:1) = LOCAL
			LOCAL:1 ++
		ENDIF
	NEXT
	LOCAL = ランダム候補:(RAND:(LOCAL:1))
	TRYCALLFORM COM60_{LOCAL}
	;メッセージ用に体位の種類を保存
	RFLAG:コマンド結果受渡し変数 = LOCAL
	CALL オート体位変更Ｖ
	RETURN 1
ELSEIF GETBIT(FLAG:モード管理, モードビット_同時)
	;同時挿入
	IF RFLAG:コマンド結果受渡し変数 == 12
		TRYCALLFORM COM60_12(強さ初期値記録, 速さ初期値記録)
	ELSE
		強さ初期値記録 = 0
		速さ初期値記録 = 0
		$体位_LOOP2
		DRAWLINE
		PRINTL ■速さ・強さの初期値を選んでください
		PRINT 　　Ｖ挿入強さ：
		PRINTBUTTON "[-]", 899
		FOR LOCAL, 0, 6
			IF 強さ初期値記録 >= LOCAL
				PRINTBUTTON "■", 900 + LOCAL
			ELSE
				PRINTBUTTON "□", 900 + LOCAL
			ENDIF
		NEXT
		PRINTBUTTON "[+]", 906
		PRINT 　　
		PRINT Ｖ挿入速さ：
		PRINTBUTTON "[-]", 909
		FOR LOCAL, 0, 6
			IF 速さ初期値記録 >= LOCAL
				PRINTBUTTON "■", 910 + LOCAL
			ELSE
				PRINTBUTTON "□", 910 + LOCAL
			ENDIF
		NEXT
		PRINTBUTTON "[+]", 916
		PRINTL
		PRINTL
		IF PLAYER == MASTER
			PRINT ■速さ・強さを自動最適化:
			IF ABL:PLAYER:腰使い < 5
				HTML_PRINT @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[OFF] (腰使いLv5が必要)</font>",1
			ELSEIF あなた挿入最適化フラグ
				HTML_PRINT @"<font color='#%カラーパレット_HTML("黄")%'><button value='920'>[最適化ON]</button></font>",1
			ELSE
				HTML_PRINT @"<button value='920'>[最適化OFF]</button>",1
			ENDIF
			PRINTL
		ENDIF
		PRINTBUTTONLC "[998]決定", 998
		PRINTBUTTONLC "[999]戻る", 999

		BINPUT

		LOCAL = RESULT
		SELECTCASE LOCAL
			CASE 900 TO 905
				強さ初期値記録 = LOCAL - 900
				GOTO 体位_LOOP2
			CASE 910 TO 915
				速さ初期値記録 = LOCAL - 910
				GOTO 体位_LOOP2
			CASE 899
				強さ初期値記録 = MAX(強さ初期値記録 - 1, 0)
				GOTO 体位_LOOP2
			CASE 906
				強さ初期値記録 = MIN(強さ初期値記録 + 1, 5)
				GOTO 体位_LOOP2
			CASE 909
				速さ初期値記録 = MAX(速さ初期値記録 - 1, 0)
				GOTO 体位_LOOP2
			CASE 916
				速さ初期値記録 = MIN(速さ初期値記録 + 1, 5)
				GOTO 体位_LOOP2
			CASE 920
				INVERTBIT あなた挿入最適化フラグ, 0
				GOTO 体位_LOOP2
			CASE 999
				RETURN -1
		ENDSELECT
		LOCAL:10 = TARGET
		FOR LOCAL, 0, 同時モード_選択数
			SIF 同時モード_選択キャラ:LOCAL < 1
				BREAK
			RESULT = 0
			TARGET = 同時モード_選択キャラ:LOCAL
			TRYCALLFORM COM_ABLE60_12
			IF RESULT == 0
				TARGET = LOCAL:10
				RETURN -1
			ENDIF
			RESULT = 1
			TRYCALLFORM CAN_体位12(1)
			IF !RESULT
				TRYCALLFORM CAN_体位12(0)
				RETURN -1
			ENDIF
		NEXT
		TARGET = LOCAL:10

		TRYCALLFORM COM60_12(強さ初期値記録, 速さ初期値記録)
		;メッセージ用に体位の種類を保存
		RFLAG:コマンド結果受渡し変数 = 12
	ENDIF
	RETURN 1
ELSE
	IF MODE_存在判定_完全一致("Ｖ挿入系", PLAYER, TARGET)
		強さ初期値記録 = V挿入強さ
		速さ初期値記録 = V挿入速さ
	ELSE
		強さ初期値記録 = 0
		速さ初期値記録 = 0
	ENDIF
	$体位_LOOP
	DRAWLINE
	PRINTL ■体位を選んでください
	PRINTL
	LOCAL:1 = 0
	FOR LOCAL, 0, 20
		TRYCCALLFORM COM_ABLE60_{LOCAL}
			SELECTCASE LOCAL
				CASE 0
					体位名 = 正常位
				CASE 1
					体位名 = 後背位
				CASE 2
					体位名 = 寝バック
				CASE 3
					体位名 = 対面座位
				CASE 4
					体位名 = 背面座位
				CASE 5
					体位名 = 騎乗位
				CASE 6
					体位名 = 側位
				CASE 7
					体位名 = 屈曲位
				CASE 8
					体位名 = 駅弁
				CASE 9
					体位名 = 背面駅弁
				CASE 10
					体位名 = 対面立位
				CASE 11
					体位名 = 立ちバック
				CASEELSE
					CONTINUE
			ENDSELECT
			TRYCALLFORM 固有Ｖ体位ABLE_プレイヤー側%体位名%_{NO:PLAYER}(PLAYER)
			TRYCALLFORM 固有Ｖ体位ABLE_ターゲット側%体位名%_{NO:TARGET}(TARGET)
			IF RESULT
				LOCAL:1 ++
				PRINTBUTTONLC @"[{LOCAL}]%体位名%", LOCAL
			ENDIF
		CATCH
			CONTINUE
		ENDCATCH
	NEXT
	IF !LOCAL:1
		PRINTW 現在選べる体位がないのでキャンセルします
		RETURN -1
	ENDIF

	PRINTL
	PRINTL
	PRINTL ■速さ・強さの初期値を選んでください
	PRINT 　　Ｖ挿入強さ：
	PRINTBUTTON "[-]", 899
	FOR LOCAL, 0, 6
		IF 強さ初期値記録 >= LOCAL
			PRINTBUTTON "■", 900 + LOCAL
		ELSE
			PRINTBUTTON "□", 900 + LOCAL
		ENDIF
	NEXT
	PRINTBUTTON "[+]", 906
	PRINT 　　
	PRINT Ｖ挿入速さ：
	PRINTBUTTON "[-]", 909
	FOR LOCAL, 0, 6
		IF 速さ初期値記録 >= LOCAL
			PRINTBUTTON "■", 910 + LOCAL
		ELSE
			PRINTBUTTON "□", 910 + LOCAL
		ENDIF
	NEXT
	PRINTBUTTON "[+]", 916
	PRINTL
	PRINTL
	IF PLAYER == MASTER
		PRINT ■速さ・強さの自動最適化:
		IF ABL:PLAYER:腰使い < 5
			HTML_PRINT @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[OFF] (腰使いLv5が必要)</font>",1
		ELSEIF あなた挿入最適化フラグ
			HTML_PRINT @"<font color='#%カラーパレット_HTML("黄")%'><button value='920'>[最適化ON]</button></font>",1
		ELSE
			HTML_PRINT @"<button value='920'>[最適化OFF]</button>",1
		ENDIF
		PRINTL
	ENDIF
	PRINTBUTTONLC "[999]戻る", 999

	$INPUT_LOOP
	BINPUT

	LOCAL = RESULT
	SELECTCASE LOCAL
		CASE 0 TO 11
			TRYCALLFORM COM_ABLE60_{LOCAL}
			IF RESULT
				IF TARGET == MASTER
					TARGET = PLAYER
					PLAYER = MASTER
					RFLAG:指示モード対象あなたフラグ = 1
					TRYCALLFORM CAN_体位{LOCAL}(1)
					IF !RESULT
						TRYCALLFORM CAN_体位{LOCAL}(0)
						PLAYER = TARGET
						TARGET = MASTER
						GOTO 体位_LOOP
					ENDIF
					RFLAG:指示モード対象あなたフラグ = 0
					PLAYER = TARGET
					TARGET = MASTER
				ELSE
					TRYCALLFORM CAN_体位{LOCAL}(1)
					IF !RESULT
						TRYCALLFORM CAN_体位{LOCAL}(0)
						GOTO 体位_LOOP
					ENDIF
				ENDIF
				TRYCALLFORM COM60_{LOCAL}(強さ初期値記録, 速さ初期値記録)
				;メッセージ用に体位の種類を保存
				RFLAG:コマンド結果受渡し変数 = LOCAL
				
				CALL オート体位変更Ｖ
				RETURN 1
			ENDIF
			GOTO INPUT_LOOP
		CASE 900 TO 905
			強さ初期値記録 = LOCAL - 900
			GOTO 体位_LOOP
		CASE 910 TO 915
			速さ初期値記録 = LOCAL - 910
			GOTO 体位_LOOP
		CASE 899
			強さ初期値記録 = MAX(強さ初期値記録 - 1, 0)
			GOTO 体位_LOOP
		CASE 906
			強さ初期値記録 = MIN(強さ初期値記録 + 1, 5)
			GOTO 体位_LOOP
		CASE 909
			速さ初期値記録 = MAX(速さ初期値記録 - 1, 0)
			GOTO 体位_LOOP
		CASE 916
			速さ初期値記録 = MIN(速さ初期値記録 + 1, 5)
			GOTO 体位_LOOP
		CASE 920
			INVERTBIT あなた挿入最適化フラグ, 0
			GOTO 体位_LOOP
		CASE 999
			V挿入強さ = 強さ初期値記録
			V挿入速さ = 速さ初期値記録
			RETURN -1
		CASEELSE
			GOTO INPUT_LOOP
	ENDSELECT
ENDIF

@オート体位変更Ｖ
;Ａ挿入中
IF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	LOCAL = DT_CELL_GET("体位モードデータベース", モードID受渡し, "実行キャラ", 1)
	SELECTCASE RFLAG:コマンド結果受渡し変数
		;正常位
		CASE 0
			CALL MODE_CHANGE("Ａ騎乗位", LOCAL, TARGET)
		;対面座位
		CASE 3
			CALL MODE_CHANGE("Ａ背面座位", LOCAL, TARGET)
		;騎乗位
		CASE 5
			CALL MODE_CHANGE("Ａ後背位", LOCAL, TARGET)
		;駅弁
		CASE 8
			CALL MODE_CHANGE("Ａ立ちバック", LOCAL, TARGET)
		;対面立位
		CASE 10
			CALL MODE_CHANGE("Ａ背面駅弁", LOCAL, TARGET)
	ENDSELECT
ENDIF


@COM60_0(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;引数は前から快楽量、露出量、接触量
CALL 体位COM(400, 50, 150)
CALL MODE_CHANGE("正常位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_1(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;後背位
CALL 体位COM(400, 70, 100)
CALL MODE_CHANGE("後背位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_2(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;寝バック
CALL 体位COM(600, 50, 150)
CALL MODE_CHANGE("寝バック", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_3(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;対面座位
CALL 体位COM(550, 70, 200)
CALL MODE_CHANGE("対面座位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_4(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;背面座位
CALL 体位COM(450, 90, 120)
CALL MODE_CHANGE("背面座位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_5(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;騎乗位
CALL 体位COM(500, 120, 150)
CALL SOURCE_CALC_奉仕(TARGET, PLAYER, 250)
CALL MODE_CHANGE("騎乗位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_6(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;側位
CALL 体位COM(500, 70, 100)
CALL MODE_CHANGE("側位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_7(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;屈曲位
CALL 体位COM(550, 70, 100)
CALL MODE_CHANGE("屈曲位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_8(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;駅弁
CALL 体位COM(450, 70, 200)
CALL MODE_CHANGE("駅弁", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_9(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;背面駅弁
CALL 体位COM(400, 110, 120)
CALL MODE_CHANGE("背面駅弁", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_10(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;対面立位
CALL 体位COM(400, 70, 150)
CALL MODE_CHANGE("対面立位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_11(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;立ちバック
CALL 体位COM(450, 90, 100)
CALL MODE_CHANGE("立ちバック", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
RETURN RESULT

@COM60_12(強さ初期値記録, 速さ初期値記録)
#DIM 強さ初期値記録
#DIM 速さ初期値記録
;同時挿入
CALL 体位COM(350, 70, 90)
IF BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	CALL MODE_CHANGE("後背位", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
ELSE
	CALL MODE_CHANGE("立ちバック", PLAYER, TARGET, , , 強さ初期値記録, 速さ初期値記録)
ENDIF
RETURN RESULT


@体位COM(ARG, ARG:1, ARG:2)
;-------------------------------------------------
;COM別FLAGの設定
;-------------------------------------------------

;-------------------------------------------------
;ソース追加処理
;-------------------------------------------------

CALL SOURCE_CALC_快Ｖ(TARGET, PLAYER, ARG)
CALL SOURCE_CALC_露出(TARGET, PLAYER, ARG:1)
CALL SOURCE_CALC_接触(TARGET, PLAYER, ARG:2)

IF !MODE_存在判定_ターゲット側("ペニスバンド", PLAYER)
	CALL SOURCE_CALC_快Ｃ(PLAYER, TARGET, ARG)
ELSE
	CALL SOURCE_CALC_快Ｖ(PLAYER, TARGET, ARG / 3)
ENDIF

;苦痛
LOCAL = 200 * PAIN_CHECK_V(TARGET) / 1000
CALL SOURCE_CALC_苦痛(TARGET, PLAYER, LOCAL)

;貞操観念
IF !TALENT:恋慕
	IF TALENT:貞操 == 1
		CALL SOURCE_CALC_不潔(TARGET, PLAYER, 500)
	ELSEIF TALENT:貞操 == 0
		CALL SOURCE_CALC_不潔(TARGET, PLAYER, 250)
	ENDIF
ENDIF
;処女喪失
CALL LOST_VIRGIN(TARGET, PLAYER, 1)
CALL LOST_MAN_VIRGIN(PLAYER, TARGET)

;-------------------------------------------------
;経験の処理
;-------------------------------------------------
EXP:Ｖ性交経験 ++
EXP:PLAYER:Ｃ性交経験_Ｖ挿入 ++

;同性愛
SIF 同性愛性癖判定(TARGET,PLAYER)
	EXP:TARGET:同性愛経験 += 4
SIF 同性愛性癖判定(PLAYER,TARGET)
	EXP:PLAYER:同性愛経験 += 4

EXP:愛情経験 += TALENT:恋慕 * 2
;処女
SIF TALENT:処女 && TALENT:恋慕
	EXP:愛情経験 += ARG:2 / 15

RETURN 1


@CAN_体位0(ARG)
;正常位
;実行に必要な基準値を投げる
SKIPDISP ARG
CALL CAN_体位(20)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位1(ARG)
;後背位
SKIPDISP ARG
CALL CAN_体位(22)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位2(ARG)
;寝バック
SKIPDISP ARG
CALL CAN_体位(22)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位3(ARG)
;対面座位
SKIPDISP ARG
CALL CAN_体位(35)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位4(ARG)
;背面座位
SKIPDISP ARG
CALL CAN_体位(37)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位5(ARG)
;騎乗位
SKIPDISP ARG
CALL CAN_体位(35)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位6(ARG)
;側位
SKIPDISP ARG
CALL CAN_体位(30)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位7(ARG)
;屈曲位
SKIPDISP ARG
CALL CAN_体位(40)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位8(ARG)
;駅弁
SKIPDISP ARG
CALL CAN_体位(42)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位9(ARG)
;背面駅弁
SKIPDISP ARG
CALL CAN_体位(44)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位10(ARG)
;対面立位
SKIPDISP ARG
CALL CAN_体位(20)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL

@CAN_体位11(ARG)
;立ちバック
SKIPDISP ARG
CALL CAN_体位(22)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL


@CAN_体位12(ARG)
;同時挿入
;数値は側位に準拠
SKIPDISP ARG
CALL CAN_体位(30)
LOCAL = RESULT
SKIPDISP 0
RETURN LOCAL




@CAN_体位(必要実行値)
#DIM 必要実行値
#DIM 実行値
#DIM ＋表示フラグ

SIF CFLAG:TARGET:睡眠
	RETURN 1

;-------------------------------------------------
;実行判定処理
;-------------------------------------------------
;縄で縛られている場合は無視（縄が無い時のみ実行判定を行う）
;IF TEQUIP:縄 == 0
	実行値 = 0
	＋表示フラグ = 0

	;すべての命令に共通の要素を考慮
	CALL COM_ORDER
	実行値 = RESULT
	＋表示フラグ = RESULT:1

	;ABL:欲望
	IF ABL:欲望
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += ABL:欲望 * 3
		PRINTFORM 欲望LV{ABL:欲望}({ABL:欲望 * 3})
		＋表示フラグ = 1
	ENDIF
	IF RFLAG:指示モード対象あなたフラグ
		;ABL:Ｃ感覚
		IF ABL:Ｃ感覚
			SIF ＋表示フラグ
				PRINT  + 
			実行値 += ABL:Ｃ感覚 * 3
			PRINTFORM Ｃ感覚LV{ABL:Ｃ感覚}({ABL:Ｃ感覚 * 3})
			＋表示フラグ = 1
		ENDIF
	ELSE
		;ABL:Ｖ感覚
		IF ABL:Ｖ感覚
			SIF ＋表示フラグ
				PRINT  + 
			実行値 += ABL:Ｖ感覚 * 2
			PRINTFORM Ｖ感覚LV{ABL:Ｖ感覚}({ABL:Ｖ感覚 * 2})
			＋表示フラグ = 1
		ENDIF
	ENDIF
	;快楽刻印
	IF MARK:快楽刻印
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += MARK:快楽刻印 * 3
		PRINTFORM 快楽刻印LV{MARK:快楽刻印}({MARK:快楽刻印 * 3})
		＋表示フラグ = 1
	ENDIF
	;PALAM:潤滑（の不足）
	IF RFLAG:指示モード対象あなたフラグ
		LOCAL = PALAM:MASTER:潤滑
	ELSE
		LOCAL = PALAM:潤滑
	ENDIF
	IF LOCAL < PALAMLV:3
		PRINT  - 
		実行値 -= 5
		PRINT 潤滑不足(5)
		＋表示フラグ = 1
	ENDIF
	;PALAM:欲情
	IF GETPALAMLV(PALAM:欲情, 5)
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += GETPALAMLV(PALAM:欲情, 5) * 3
		PRINTFORM 欲情LV{GETPALAMLV(PALAM:欲情, 5)}({GETPALAMLV(PALAM:欲情, 5) * 3})
		＋表示フラグ = 1
	ENDIF
	;恥じらい
	IF TALENT:羞恥心 > 0
		PRINT  - 
		実行値 -= 2
		PRINT 羞恥心(2)
		＋表示フラグ = 1
	ENDIF
	;快感の否定
	IF TALENT:快感応答 < 0 && !TALENT:恋慕
		PRINT  - 
		実行値 -= 5
		PRINT 快感の否定(5)
		＋表示フラグ = 1
	ENDIF
	;恋慕
	IF TALENT:恋慕
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 15
		PRINT 恋慕(15)
		＋表示フラグ = 1
	ELSE
		;男嫌い（恋慕で無効）
		IF TALENT:性別嗜好 & 1 && TALENT:PLAYER:性別 == 2
			PRINT  - 
			実行値 -= 12
			PRINT 男嫌い(12)
			＋表示フラグ = 1
		ENDIF
		;女嫌い（恋慕で無効）
		IF TALENT:性別嗜好 & 2 && TALENT:PLAYER:性別 == 1
			PRINT  - 
			実行値 -= 12
			PRINT 女嫌い(12)
			＋表示フラグ = 1
		ENDIF
	ENDIF
	;セフレ
	IF TALENT:セフレ
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 10
		PRINT セフレ(10)
		＋表示フラグ = 1
	ENDIF
	;未陥落
	IF 陥落チェック_性的(TARGET) == 0
		PRINT  - 
		実行値 -= 10
		PRINT 未陥落(10)
		＋表示フラグ = 1
	ENDIF
	IF RFLAG:指示モード対象あなたフラグ == 0
		;処女
		LOCAL = MAX(10, 40 - EXP:Ｖ経験)
		IF TALENT:処女
			PRINT  - 
			実行値 -= LOCAL
			PRINTFORM 処女({LOCAL})
			＋表示フラグ = 1
		;V経験
		ELSEIF EXP:Ｖ経験 < EXPLV:2
			PRINT  - 
			実行値 -= 15
			PRINT Ｖ経験不足(15)
			＋表示フラグ = 1
		ENDIF
	ELSE
		;C経験
		IF EXP:Ｃ経験 < EXPLV:2
			PRINT  - 
			実行値 -= 5
			PRINT Ｃ経験不足(5)
			＋表示フラグ = 1
		ENDIF
	ENDIF

	;調教者がふたなり
	IF (TALENT:PLAYER:性別 & 3) == 3
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 4
		PRINT ふたなり(4)
		＋表示フラグ = 1
	ENDIF

	;媚薬
	IF TEQUIP:媚薬
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 6
		PRINT 媚薬(6)
		＋表示フラグ = 1
	ENDIF

	;発情期
	IF CFLAG:発情期フラグ < 0
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 6
		PRINT 発情中(6)
		＋表示フラグ = 1
	ENDIF
	
	;言いなり
	IF TCVAR:言いなり
		SIF ＋表示フラグ
			PRINT  + 
		実行値 += 999
		IF TCVAR:TARGET:泥酔眠姦
		PRINT 前後不覚(999)
	ELSE
		PRINT あなたの言いなり(999)
	ENDIF

		＋表示フラグ = 1
	ENDIF


	;合計を表示(必要実行値以上で実行)
	PRINTFORM  = {実行値}

	SIF 実行値 < 必要実行値
		PRINT  < 
	SIF 実行値 == 必要実行値
		PRINT  = 
	SIF 実行値 > 必要実行値
		PRINT  > 
	PRINTFORM 実行値{必要実行値}

	WAIT

	;実行できない
	SIF 実行値 < 必要実行値
		RETURN 0
;ENDIF
RETURN 1
;-------------------------------------------------
;実行判定
;-------------------------------------------------

@COM_ABLE60
;V挿入共通実行判定
SIF SAVESTR:ゲームフェイズ管理 != "通常モード"
	RETURN 0
;一括管理
SIF GLOBAL_COMABLE(60)
	RETURN RESULT
;Vがない場合駄目
SIF TALENT:TARGET:Ｖ感度 == -2
	RETURN 0
;調教者がオトコ、半人半妖、ふたなりの場合はある程度勃起してないとダメ
SIF (TALENT:PLAYER:性別 & 2) && BASE:PLAYER:勃起 < 1000
	RETURN 0
;オトコだとダメ
SIF !(TALENT:性別 & 1)
	RETURN 0

;調教者がオトコ、半人半妖、ふたなり、もしくはペニスバンドがないとダメ
SIF !(TALENT:PLAYER:性別 & 2) && !MODE_存在判定_ターゲット側("ペニスバンド", PLAYER)
	RETURN 0
;処女かつ潤滑不足はだめ
SIF PALAM:潤滑 < PALAMLV:3 && TALENT:処女
	RETURN 0
;処女でなくとも潤滑不足はだめ
SIF PALAM:潤滑 < PALAMLV:2
	RETURN 0

;下半身着衣
;前鎧、めくれない服、タイツ、前張りがあると無理
SIF TEQUIP:下腹部前鎧あり
	RETURN 0
SIF TEQUIP:下半身服あり && (!TEQUIP:スカートめくり可 && !TEQUIP:ずらし可)
	RETURN 0
SIF TEQUIP:下タイツあり && !TEQUIP:下タイツ破れ
	RETURN 0
SIF TEQUIP:下半身下着あり == 2
	RETURN 0

IF !MODE_存在判定_順不同("Ｖ挿入系", PLAYER, TARGET)
	;ペニスを何かに使ってるなら無理（Ｖ挿入中は許可）
	SIF TEQUIP:PLAYER:ペニス
		RETURN 0
	;膣を何かに使ってるなら無理（Ｖ挿入中は許可）
	SIF TEQUIP:TARGET:膣
		RETURN 0
ENDIF

;オートコマンド中の制限
IF FLAG:オートコマンド判定中フラグ
	SIF MODE_存在判定_順不同("Ｖ挿入系", PLAYER, TARGET)
		RETURN 0
	SIF MODE_存在判定_プレイヤー側("Ｖ挿入系", PLAYER)
		RETURN 0
	SIF MODE_存在判定_ターゲット側("Ｖ挿入系", TARGET)
		RETURN 0
ENDIF
;睡姦の制限
IF CFLAG:TARGET:睡眠
	;陥落のみ
	SIF 陥落チェック(TARGET) == 0
		RETURN 0
	;初ウフフずみ
	SIF 初体験日取得("初うふふ", TARGET, MASTER) < 1
		RETURN 0
	;熟知や経験必要
	SIF EXP:TARGET:肉体熟知 < 500
		RETURN 0
	SIF EXP:PLAYER:Ｃ性交経験_Ｖ挿入 + EXP:TARGET:肉体熟知 < 1500
		RETURN 0
ENDIF

RETURN 1

@COM_ABLE60_0
;正常位
;お風呂場プレイ中はプレイマットが無いとダメ
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	SIF ITEM:20 == 0 && NOITEM == 0
		RETURN 0
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;相手が挿入しているとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_1
;後背位
;だいたいいつでもOK

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_2
;寝バック
;お風呂場プレイ中はプレイマットが無いとダメ
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	SIF ITEM:20 == 0 && NOITEM == 0
		RETURN 0
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_3
;対面座位

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;お風呂場プレイ中はOK
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 1
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;相手が挿入しているとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_4
;背面座位

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;お風呂場プレイ中はOK
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 1
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_5
;騎乗位

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;お風呂場プレイ中はプレイマットが無いとダメ
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	SIF ITEM:20 == 0 && NOITEM == 0
		RETURN 0
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_6
;側位
;お風呂場プレイ中はプレイマットが無いとダメ
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	SIF ITEM:20 == 0 && NOITEM == 0
		RETURN 0
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_7
;屈曲位

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;お風呂場プレイ中はプレイマットが無いとダメ
IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	SIF ITEM:20 == 0 && NOITEM == 0
		RETURN 0
ELSE
	;ベッドがないとダメ
	SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		RETURN 0
ENDIF
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が挿入しているとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ挿入系", TARGET)
	RETURN 0
RETURN 1

@COM_ABLE60_8
;駅弁

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;TARGETのほうが3サイズ大きいと抱えきれない
SIF 体格差計算(PLAYER, TARGET) >= 3
	RETURN 0
;相手が挿入しているとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ挿入系", TARGET)
	RETURN 0
;相手が別人と非立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ非立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_9
;背面駅弁

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;TARGETのほうが3サイズ大きいと抱えきれない
SIF 体格差計算(PLAYER, TARGET) >= 3
	RETURN 0
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と非立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ非立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_10
;対面立位

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;TARGETのほうが4サイズ大きいと届かない
SIF 体格差計算(PLAYER, TARGET) >= 4
	RETURN 0
;相手が挿入しているとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ挿入系", TARGET)
	RETURN 0
;相手が別人と非立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ非立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_11
;立ちバック

;睡眠中ダメ
SIF CFLAG:TARGET:睡眠
	RETURN 0
;TARGETのほうが4サイズ大きいと届かない
SIF 体格差計算(PLAYER, TARGET) >= 4
	RETURN 0
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0
;相手が別人と非立位中だとベッドがないとダメ
SIF MODE_存在判定_プレイヤー側("ＶＡ非立位挿入系", TARGET) && !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
	RETURN 0

RETURN 1

@COM_ABLE60_12
;同時挿入
;TARGETのほうが4サイズ大きいならプレイマットかベッドが必要
IF 体格差計算(PLAYER, TARGET) >= 4
	IF BATHROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
		SIF ITEM:20 == 0 && NOITEM == 0
			RETURN 0
	ELSE
		SIF !BEDROOM(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)
			RETURN 0
	ENDIF
ENDIF
;Ａ挿入中ダメ
SIF MODE_存在判定_ターゲット側("Ａ挿入系", TARGET)
	RETURN 0

RETURN 1

;-------------------------------------------------
;実行時メッセージ
;-------------------------------------------------
@MESSAGE_COM60
#DIM 同時キャラ番号

;;対面立位
;IF RFLAG:コマンド結果受渡し変数
;	;抜かず
;	IF TCVAR:100 == PLAYER && TARGET == TFLAG:103
;		IF NOWEX:MASTER:11
;			PRINTFORML %CALLNAME:TARGET%を壁に押し付けて激しく腰を振り、
;			PRINTFORML 射精の瞬間にペニスを膣の奥深くまで突き入れた…
;		ELSEIF TCVAR:102
;			PRINTFORML %CALLNAME:TARGET%の膣内に精液を注ぎ込み終えると、
;			PRINTFORML ペニスが硬度を失わないうちに再び腰を動かし始めた…
;		ELSEIF TEQUIP:体位２ == 1
;			;調教者についてる
;			IF TALENT:PLAYER:性別 & 2
;				PRINTFORML %CALLNAME:TARGET%の膣内の感触を味わいながら、再び腰を動かし始めた…
;			;ペニスバンドを使用している場合
;			ELSE
;				PRINTFORML %CALLNAME:TARGET%の膣内から抜かずに、再び腰を動かし始めた…
;			ENDIF
;		ELSE
;			IF TEQUIP:体位２ == 1
;				PRINTFORML %CALLNAME:TARGET%の膣内からペニス抜き去ることなく再び腰を動かし始めた…
;			;背面立位から
;			ELSE
;				PRINTFORML 一旦%CALLNAME:TARGET%からペニスを抜いてこちらを振り向かせてから
;				PRINTFORML 片足を持ち上げて挿入し再び腰を動かし始めた…
;			ENDIF
;		ENDIF
;	ELSE
;		IF TALENT:処女 == 1
;			PRINTFORML %CALLNAME:TARGET%の片足を持ち上げて男を知らない\@ TALENT:種族 < 0 ? 幼いワレメ # 秘裂 \@に
;			PRINTFORML 亀頭をあてがい一気に貫いた…
;		ELSEIF MASTER_POSE(6,1,1) && MASTER_POSE(6,1,1) != TARGET
;			PRINTFORML %CALLNAME:(MASTER_POSE(6,1,1))%からペニスを抜くと同時に
;			PRINTFORML %CALLNAME:TARGET%に挿入した…
;		ELSE
;			PRINTFORM %CALLNAME:TARGET%の片足を持ち上げて
;			SIF TEQUIP:下半身下着あり > 0
;				PRINTFORM 下着をずらし、
;			SIF  PALAM:潤滑 >= PALAMLV:3
;				PRINT 濡れそぼった
;			IF TALENT:種族 < 0
;				PRINT 幼いワレメに
;			ELSE
;				PRINT 秘裂に
;			ENDIF
;			PRINTL ペニスをあてがい貫いた…
;		ENDIF
;		IF TALENT:恋慕
;			IF TALENT:処女
;				PRINTFORML %CALLNAME:TARGET%は痛みに耐えながら%CALLNAME:PLAYER%にきゅっと抱きついた…
;			ENDIF
;		ENDIF
;	ENDIF
;;正常位
;ELSE
;	;抜かず
;	IF TCVAR:100 == PLAYER && TARGET == TFLAG:103
;		IF NOWEX:MASTER:11
;			PRINTFORML 仰向けに寝かせた%CALLNAME:TARGET%に覆いかぶさりながら腰を振り、
;			PRINTFORML 射精の瞬間にペニスを膣の奥深くまで突き入れた…
;		ELSEIF TCVAR:102
;			PRINTFORML %CALLNAME:TARGET%の膣内に精液を注ぎ込み終えると、
;			PRINTFORML ペニスが硬度を失わないうちに再び腰を動かし始めた…
;		ELSEIF TEQUIP:体位２ == 1
;			;調教者についてる
;			IF TALENT:PLAYER:性別 & 2
;				PRINTFORML %CALLNAME:TARGET%の膣内の感触を味わいながら、再び腰を動かし始めた…
;			;ペニスバンドを使用している場合
;			ELSE
;				PRINTFORML %CALLNAME:TARGET%の膣内から抜かずに、再び腰を動かし始めた…
;			ENDIF
;		ELSE
;			PRINTFORML 膣内から抜き去ることなく%CALLNAME:TARGET%を仰向けに寝かせ、再び腰を動かし始めた…
;		ENDIF
;	ELSE
;		IF TALENT:処女 == 1
;			PRINTFORML 仰向けに寝かせた%CALLNAME:TARGET%の足を開き亀頭を浅く挿入してから、
;			PRINTFORML 男を知らない\@ TALENT:種族 < 0 ? 幼いワレメ # 秘裂 \@を貫いていった…
;		ELSEIF MASTER_POSE(6,1,1) && MASTER_POSE(6,1,1) != TARGET
;			PRINTFORML %CALLNAME:(MASTER_POSE(6,1,1))%からペニスを抜くと同時に
;			PRINTFORML %CALLNAME:TARGET%に挿入した…
;		ELSE
;			PRINTFORM 仰向けに寝かせた%CALLNAME:TARGET%の
;			SIF TEQUIP:下半身下着あり > 0
;				PRINTFORM 下着をずらし、
;			SIF  PALAM:潤滑 >= PALAMLV:3
;				PRINT 濡れそぼった
;			IF TALENT:種族 < 0
;				PRINT 幼いワレメに
;			ELSE
;				PRINT 秘裂に
;			ENDIF
;			PRINTL ペニスをあてがい貫いた…
;		ENDIF
;		IF TALENT:恋慕
;			IF TALENT:処女
;				PRINTFORML %CALLNAME:TARGET%は痛みに耐えながら%CALLNAME:PLAYER%にきゅっと抱きついた…
;			ENDIF
;		ENDIF
;	ENDIF
;ENDIF

IF !MODE_存在判定_ターゲット側("ペニスバンド", PLAYER)
	LOCALS = 硬くそそり立つ陰茎
ELSE
	LOCALS = ペニスバンド
ENDIF

SELECTCASE RFLAG:コマンド結果受渡し変数
	CASE 0
		;正常位
		PRINTFORML %CALLNAME:PLAYER%は仰向けに寝転んだ%CALLNAME:TARGET%の膣内に%LOCALS%を挿入した
	CASE 1
		;後背位
		PRINTFORML %CALLNAME:PLAYER%は四つん這いになった%CALLNAME:TARGET%の膣内に%LOCALS%を挿入した
	CASE 2
		;寝バック
		PRINTFORML %CALLNAME:PLAYER%はうつ伏せに寝転んだ%CALLNAME:TARGET%の膣内に%LOCALS%を挿入した
	CASE 3
		;対面座位
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%と向かい合うように座り、そのまま膣内へ%LOCALS%を挿入した
	CASE 4
		;背面座位
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%を自身の上に座らせ、そのまま膣内へ%LOCALS%を挿入した
	CASE 5
		;騎乗位
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%に自ら膣内へ%LOCALS%を挿入させた
	CASE 6
		;側位
		PRINTFORML %CALLNAME:PLAYER%は横向きに寝転んだ%CALLNAME:TARGET%の膣内に%LOCALS%を挿入した
	CASE 7
		;屈曲位
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%の脚を揃えて上げさせ、そのまま膣内へ%LOCALS%を挿入した
	CASE 8
		;駅弁
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%を向かい合ったまま抱え上げ、そのまま膣内へ%LOCALS%を挿入した
	CASE 9
		;背面駅弁
		PRINTFORML %CALLNAME:PLAYER%は%CALLNAME:TARGET%を後ろ向きに抱え上げ、そのまま膣内へ%LOCALS%を挿入した
	CASE 10
		;対面立位
		PRINTFORML %CALLNAME:PLAYER%は立ったまま%CALLNAME:TARGET%と向かい合い、膣内へと%LOCALS%を挿入した
	CASE 11
		;立ちバック
		PRINTFORML %CALLNAME:PLAYER%は後ろ向きに尻を突き出した%CALLNAME:TARGET%の膣内へと%LOCALS%を挿入した
	CASE 12
		;同時挿入
		PRINTFORM %CALLNAME:PLAYER%は
		FOR 同時キャラ番号, 0, 同時モード_選択数
			SIF 同時キャラ番号 > 0
				PRINT 、
			PRINTFORM %CALLNAME:(同時モード_選択キャラ:同時キャラ番号)%
		NEXT
		PRINTFORML を並べると、膣内へと順番に%LOCALS%を挿入した
ENDSELECT

IF CFLAG:TARGET:睡眠
	PRINTFORML %CALLNAME:TARGET%は小さく声を漏らしながらも、まだ夢の中にいる…
ELSEIF TCVAR:TARGET:泥酔眠姦
	PRINTL 
	PRINTFORML 酔いつぶれた%CALLNAME:TARGET%は無抵抗で%CALLNAME:PLAYER%のペニスを咥えこみ、きゅんきゅんと締め付けている…
ELSEIF TALENT:処女
	PRINTFORML %CALLNAME:TARGET%は痛みに耐えながら%CALLNAME:PLAYER%の名前を呼んでいる…
ENDIF

