@サイトウ_ステータス表示1(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名

IF ダンジョン表示モード != "戦闘画面"
	アビ名 = モンスターボール
	消費ＭＰ = 0
ENDIF

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = ■ルチャブルが入っているモンスターボール。
		詳細文文字列受け渡し変数 += "<br>身軽さを活かした戦法で相手の体力を奪ってから華麗な大技を決める。"
		詳細文文字列受け渡し変数 += "<br>とくせい：じゅうなん"
		詳細文文字列受け渡し変数 += "<br>麻痺状態にならない。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
ENDSELECT

@サイトウ_ステータス表示2(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名

IF ダンジョン表示モード != "戦闘画面"
	アビ名 = モンスターボール
	消費ＭＰ = 0
ENDIF

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = ■オトスパスが入っているモンスターボール。
		詳細文文字列受け渡し変数 += "<br>全身が筋肉の塊。触手を使って繰りだす締め技の威力は凄まじい。"
		詳細文文字列受け渡し変数 += "<br>とくせい：じゅうなん"
		詳細文文字列受け渡し変数 += "<br>麻痺状態にならない。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
ENDSELECT

@サイトウ_ステータス表示3(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名

IF ダンジョン表示モード != "戦闘画面"
	アビ名 = モンスターボール
	消費ＭＰ = 0
ENDIF

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = ■ネギガナイトが入っているモンスターボール。ネギが枯れるとき戦場を去る。
		詳細文文字列受け渡し変数 += "<br>歴戦を生き抜いたものがこの姿に進化する。"
		詳細文文字列受け渡し変数 += "<br>とくせい：ふくつのこころ"
		詳細文文字列受け渡し変数 += "<br>行動不能状態だと行動速度がアップする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
ENDSELECT

@サイトウ_ステータス表示4(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名

IF ダンジョン表示モード != "戦闘画面"
	アビ名 = モンスターボール
	消費ＭＰ = 0
ENDIF

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = ■タイレーツが入っているモンスターボール。
		詳細文文字列受け渡し変数 += "<br>ヘイチョーと呼ばれる1匹とヘイと呼ばれる5匹でひとつ。ヘイチョーの命令は絶対。"
		詳細文文字列受け渡し変数 += "<br>とくせい：カブトアーマー"
		詳細文文字列受け渡し変数 += "<br>クリティカルを受けない。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
ENDSELECT

@サイトウ_ステータス表示5(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名

IF ダンジョン表示モード != "戦闘画面"
	アビ名 = モンスターボール
	消費ＭＰ = 0
ENDIF

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = ■カイリキーが入っているモンスターボール。
		詳細文文字列受け渡し変数 += "<br>4本の腕をすばやく動かしあらゆる角度から休むことなくパンチやチョップを叩きこむ。"
		詳細文文字列受け渡し変数 += "<br>とくせい：こんじょう"
		詳細文文字列受け渡し変数 += "<br>状態異常のとき、こうげきが1.5倍になる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
ENDSELECT

;@固有アビ_1886_0(ARGS, キャラ番号)
;#DIM キャラ番号
;#DIM 隊列番号
;#DIMS バフ枠名

;IF ダンジョン表示モード == "戦闘画面" && ARGS == "アビ名"
;	メッセージ欄追加数カウント = 0
;	KSTR:0 = 
;ENDIF
;隊列番号 = キャラ隊列検索(キャラ番号)
;IF ダンジョン表示モード == "戦闘画面" && ARGS == "アビ名" && 召喚中ポケモン_サイトウ != -1
;	バフ枠名 = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%_サイトウ
;	KSTR:(K++) = ■%ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%への指示［ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠(バフ枠名, 隊列番号), "効果量_固定値")}/{戦闘中カウント:隊列番号:(10 + 召喚中ポケモン_サイトウ)}］
;ENDIF

@固有アビ_1886_1(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 隊列番号

IF ダンジョン表示モード != "戦闘画面"
	CALLFORM サイトウ_ステータス表示1(ARGS, キャラ番号)
	RETURN 0
ENDIF

隊列番号 = キャラ隊列検索(キャラ番号)

IF ダンジョン表示モード == "戦闘画面" && 召喚中ポケモン_サイトウ != -1
	IF ダイマックス_サイトウ == 0
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技1(ARGS, キャラ番号, 隊列番号)
	ELSE
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技1d(ARGS, キャラ番号, 隊列番号)
	ENDIF
ELSEIF ダンジョン表示モード == "戦闘画面" && 連携中 == 1
	CALLFORM 証アビ関数_グラップラーの証_1(ARGS, キャラ番号)
ELSE
	TSTR:コマンド名受渡 = 
ENDIF

@固有アビ_1886_2(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 隊列番号

IF ダンジョン表示モード != "戦闘画面"
	CALLFORM サイトウ_ステータス表示2(ARGS, キャラ番号)
	RETURN 0
ENDIF

隊列番号 = キャラ隊列検索(キャラ番号)

IF ダンジョン表示モード == "戦闘画面" && 召喚中ポケモン_サイトウ != -1
	IF ダイマックス_サイトウ == 0
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技2(ARGS, キャラ番号, 隊列番号)
	ELSE
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技2d(ARGS, キャラ番号, 隊列番号)
	ENDIF
ELSEIF ダンジョン表示モード == "戦闘画面" && 連携中 == 1
	CALLFORM 証アビ関数_グラップラーの証_2(ARGS, キャラ番号)
ELSE
	TSTR:コマンド名受渡 = 
ENDIF

@固有アビ_1886_3(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 隊列番号

IF ダンジョン表示モード != "戦闘画面"
	CALLFORM サイトウ_ステータス表示3(ARGS, キャラ番号)
	RETURN 0
ENDIF

隊列番号 = キャラ隊列検索(キャラ番号)

IF ダンジョン表示モード == "戦闘画面" && 召喚中ポケモン_サイトウ != -1
	IF ダイマックス_サイトウ == 0
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技3(ARGS, キャラ番号, 隊列番号)
	ELSE
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技3d(ARGS, キャラ番号, 隊列番号)
	ENDIF
ELSEIF ダンジョン表示モード == "戦闘画面" && 連携中 == 1
	CALLFORM 証アビ関数_グラップラーの証_3(ARGS, キャラ番号)
ELSE
	TSTR:コマンド名受渡 = 
ENDIF

@固有アビ_1886_4(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 隊列番号

IF ダンジョン表示モード != "戦闘画面"
	CALLFORM サイトウ_ステータス表示4(ARGS, キャラ番号)
	RETURN 0
ENDIF

隊列番号 = キャラ隊列検索(キャラ番号)

IF ダンジョン表示モード == "戦闘画面" && 召喚中ポケモン_サイトウ != -1
	IF ダイマックス_サイトウ == 0
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技4(ARGS, キャラ番号, 隊列番号)
	ELSE
		CALLFORM サイトウポケモン_{召喚中ポケモン_サイトウ}_技4d(ARGS, キャラ番号, 隊列番号)
	ENDIF
ELSEIF ダンジョン表示モード == "戦闘画面" && 連携中 == 1
	CALLFORM 証アビ関数_グラップラーの証_4(ARGS, キャラ番号)
ELSE
	TSTR:コマンド名受渡 = 
ENDIF

@固有アビ_1886_5(ARGS, キャラ番号)
#DIM キャラ番号

IF ダンジョン表示モード != "戦闘画面"
	CALLFORM サイトウ_ステータス表示5(ARGS, キャラ番号)
ELSE
	TSTR:コマンド名受渡 = 
ENDIF

@固有アビ_1886_コマンド表示(ARGS, キャラ番号)
#DIM キャラ番号
#DIM 隊列番号
#DIMS バフ枠名
#DIM 属性番号
#DIMS 属性文字色
#DIMS ダイマックス
#DIM 表示不可フラグ

SIF ダンジョン表示モード != "戦闘画面"
	RETURN 0

隊列番号 = キャラ隊列検索(キャラ番号)

IF 隊列番号 < 0 || 隊列番号 > 3
	TSTR:コマンド名受渡 = 
	RETURN 0
ENDIF

IF ダンジョン表示モード == "戦闘画面" && ARGS == "アビ名" && 連携中 == 0 || (連携中 == 1 && 召喚中ポケモン_サイトウ != -1)
	メッセージ欄追加数カウント = 0
	KSTR:0 = 
	NSTR:1 = 
	NSTR:2 = 
	NSTR:3 = 
	NSTR:4 = 
	NSTR:5 = 
ENDIF
属性番号 = BATTLE_STATE:隊列番号:属性
属性文字色 = %属性数値文字色変換_HTML(属性番号)%
IF 召喚中ポケモン_サイトウ == 4
	ダイマックス = キョダイマックス
ELSE
	ダイマックス = ダイマックス
ENDIF
IF ダンジョン表示モード == "戦闘画面" && ARGS == "アビ説明文" && 召喚中ポケモン_サイトウ != -1
	バフ枠名 = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%_サイトウ
	IF ダイマックス_サイトウ == 0
		KSTR:(K++) = ■%ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%への指示［ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠(バフ枠名, 隊列番号), "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:召喚中ポケモン_サイトウ}］
	ELSE
		KSTR:(K++) = ■%ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%への指示［ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠(バフ枠名, 隊列番号), "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:召喚中ポケモン_サイトウ}］　<font color='#%カラーパレット_HTML("真っ赤")%'>%ダイマックス%:残り{ダイマックス_サイトウ}ターン</font>
	ENDIF
	IF 召喚中ポケモン_サイトウ == 0 && ダイマックス_サイトウ == 0
		IF ＰＰ_サイトウ:0:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"フライングプレス", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{110}'>[{110}] %"フライングプレス", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:0:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] つるぎのまい</button></font>
		ELSE
			KSTR:(K++) = <button value = '{111}'>[{111}] つるぎのまい</button>
		ENDIF
		IF ＰＰ_サイトウ:0:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"とびひざげり", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"とびひざげり", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:0:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] どくづき</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{113}'>[{113}] どくづき</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 0 && ダイマックス_サイトウ != 0
		IF ＰＰ_サイトウ:0:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ダイナックル", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{110}'>[{110}] %"ダイナックル", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:0:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] ダイウォール</button></font>
		ELSE
			KSTR:(K++) = <button value = '{111}'>[{111}] ダイウォール</button>
		ENDIF
		IF ＰＰ_サイトウ:0:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"ダイナックル", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"ダイナックル", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:0:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] ダイアシッド</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{113}'>[{113}] ダイアシッド</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 1 && ダイマックス_サイトウ == 0
		IF ＰＰ_サイトウ:1:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"たこがため", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{110}'>[{110}] %"たこがため", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:1:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] みきり</button></font>
		ELSE
			KSTR:(K++) = <font color='#%属性文字色%'><button value = '{111}'>[{111}] みきり</button></font>
		ENDIF
		IF ＰＰ_サイトウ:1:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"アクアブレイク", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("水属性")%'><button value = '{112}'>[{112}] %"アクアブレイク", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:1:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] インファイト</button></font>
		ELSE
			KSTR:(K++) = <font color='#%属性文字色%'><button value = '{113}'>[{113}] インファイト</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 1 && ダイマックス_サイトウ != 0
		IF ＰＰ_サイトウ:1:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ダイウォール", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <button value = '{110}'>[{110}] %"ダイウォール", 34, LEFT%</button>
		ENDIF
		IF ＰＰ_サイトウ:1:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] ダイウォール</button></font>
		ELSE
			KSTR:(K++) = <button value = '{111}'>[{111}] ダイウォール</button>
		ENDIF
		IF ＰＰ_サイトウ:1:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"ダイストリーム", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("水属性")%'><button value = '{112}'>[{112}] %"ダイストリーム", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:1:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] ダイナックル</button></font>
		ELSE
			KSTR:(K++) = <font color='#%属性文字色%'><button value = '{113}'>[{113}] ダイナックル</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 2 && ダイマックス_サイトウ == 0
		IF ＰＰ_サイトウ:2:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"リーフブレード", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{110}'>[{110}] %"リーフブレード", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] スターアサルト</button></font>
		ELSE
			KSTR:(K++) = <font color='#%属性文字色%'><button value = '{111}'>[{111}] スターアサルト</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"はたきおとす", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{112}'>[{112}] %"はたきおとす", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] であいがしら</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{113}'>[{113}] であいがしら</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 2 && ダイマックス_サイトウ != 0
		IF ＰＰ_サイトウ:2:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ダイソウゲン", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{110}'>[{110}] %"ダイソウゲン", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] ダイナックル</button></font>
		ELSE
			KSTR:(K++) = <font color='#%属性文字色%'><button value = '{111}'>[{111}] ダイナックル</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"ダイアーク", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{112}'>[{112}] %"ダイアーク", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:2:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] ダイワーム</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{113}'>[{113}] ダイワーム</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 3 && ダイマックス_サイトウ == 0
		IF ＰＰ_サイトウ:3:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"はいすいのじん", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{110}'>[{110}] %"はいすいのじん", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:3:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] メガホーン</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{111}'>[{111}] メガホーン</button></font>
		ENDIF
		IF ＰＰ_サイトウ:3:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"インファイト", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"インファイト", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:3:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] じごくづき</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{113}'>[{113}] じごくづき</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 3 && ダイマックス_サイトウ != 0
		IF ＰＰ_サイトウ:3:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ダイウォール", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <button value = '{110}'>[{110}] %"ダイウォール", 34, LEFT%</button>
		ENDIF
		IF ＰＰ_サイトウ:3:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] ダイワーム</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("土属性")%'><button value = '{111}'>[{111}] ダイワーム</button></font>
		ENDIF
		IF ＰＰ_サイトウ:3:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"ダイナックル", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"ダイナックル", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:3:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] ダイアーク</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{113}'>[{113}] ダイアーク</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 4 && ダイマックス_サイトウ == 0
		IF ＰＰ_サイトウ:4:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ほのおのパンチ", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("火属性")%'><button value = '{110}'>[{110}] %"ほのおのパンチ", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] はたきおとす</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{111}'>[{111}] はたきおとす</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"クロスチョップ", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"クロスチョップ", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] れいとうパンチ</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("水属性")%'><button value = '{113}'>[{113}] れいとうパンチ</button></font>
		ENDIF
	ELSEIF 召喚中ポケモン_サイトウ == 4 && ダイマックス_サイトウ != 0
		IF ＰＰ_サイトウ:4:0 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{110}'>[{110}] %"ダイバーン", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%カラーパレット_HTML("火属性")%'><button value = '{110}'>[{110}] %"ダイバーン", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:1 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{111}'>[{111}] ダイアーク</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("闇属性")%'><button value = '{111}'>[{111}] ダイアーク</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:2 == 0
			NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{112}'>[{112}] %"キョダイシンゲキ", 34, LEFT%</button></font>
		ELSE
			NSTR:(K++) = <font color='#%属性文字色%'><button value = '{112}'>[{112}] %"キョダイシンゲキ", 34, LEFT%</button></font>
		ENDIF
		IF ＰＰ_サイトウ:4:3 == 0
			KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{113}'>[{113}] ダイアイス</button></font>
		ELSE
			KSTR:(K++) = <font color='#%カラーパレット_HTML("水属性")%'><button value = '{113}'>[{113}] ダイアイス</button></font>
		ENDIF
	ENDIF
ENDIF

@ルチャブル召喚_サイトウ(隊列番号)
#DIM 隊列番号

IF 残ポケモン数取得_サイトウ() == 1
	KSTR:(K++) = 「ふんばりどころです！ わたしもいっしょにがんばります！」
	CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
	CALL 口上変数初期化
ENDIF
KSTR:(K++) = サイトウはルチャブルをくりだした！
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = ルチャブル_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = バリア
アビ汎用変数:効果量 = ポケモンＨＰ_サイトウ:0
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = 1
CALL アビテンプレート_有利効果_バフ効果セット
VARSET アビテンプレート用_表示メッセージ格納:0:0
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = -5
アビ汎用文字列:バフ・デバフ枠 = 防御力_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 防御力
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = -1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = 38
アビ汎用文字列:バフ・デバフ枠 = 行動速度_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = 1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
アビ汎用文字列:バフ・デバフ枠 = じゅうなん
アビ汎用文字列:バフ・デバフ対象能力 = 状態異常耐性_麻痺
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:効果量 = 999
CALL アビテンプレート_有利効果_バフ効果セット
召喚中ポケモン_サイトウ = 0
CALL 攻撃ランク_サイトウバフ(隊列番号)
CALL 防御ランク_サイトウバフ(隊列番号)
CALL 行動速度ランク_サイトウバフ(隊列番号)
戦闘中カウント:隊列番号:2 = 0

@ルチャブル送還_サイトウ(隊列番号)
#DIM 隊列番号

IF バフ番号取得_枠("ルチャブル_サイトウ", 隊列番号) > -1
	ポケモンＨＰ_サイトウ:0 = DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠("ルチャブル_サイトウ", 隊列番号), "効果量_固定値")
	CALL 戦闘効果削除(バフ番号取得_枠("ルチャブル_サイトウ", 隊列番号))
ELSE
	ポケモンＨＰ_サイトウ:0 = 0
ENDIF
SIF バフ番号取得_枠("防御力_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("防御力_サイトウ", 隊列番号))
SIF バフ番号取得_枠("行動速度_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_サイトウ", 隊列番号))
SIF バフ番号取得_枠("じゅうなん", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("じゅうなん", 隊列番号))
CALL バフランク初期化_サイトウ(隊列番号,1 ,0)
召喚中ポケモン_サイトウ = -1

@バフ・デバフ特殊表示_ルチャブル_サイトウ(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML バリアバフ：ルチャブル
PRINTFORML 対象者へのダメージをルチャブルが肩代わりします。
PRINTFORML ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ・デバフ行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:0}
PRINTFORML 持続ターン：永続

@サイトウポケモン_0_技1(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = フライングプレス
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:0}/{最大ＰＰ_サイトウ:0:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：100　命中：95"
		詳細文文字列受け渡し変数 += "<br>空中から相手にダイブする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ルチャブルのフライングプレス！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 100 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? -5 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技2(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = つるぎのまい
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:1}/{最大ＰＰ_サイトウ:0:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：ノーマル/変化"
		詳細文文字列受け渡し変数 += "<br>戦いの舞を激しくおどって気合を高める。自分の攻撃をぐーんとあげる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = ルチャブルのつるぎのまい！
		KSTR:(K++) = ルチャブルのこうげきがぐーんとあがった！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		CALL アビ汎用変数文字列リセット
		攻撃ランク_サイトウ:召喚中ポケモン_サイトウ += 2
		CALL 攻撃ランク_サイトウバフ(隊列番号)
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技3(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 与ダメージ量
#DIM 隊列番号
#DIM 急所判定

アビ名 = とびひざげり
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:2}/{最大ＰＰ_サイトウ:0:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：130　命中：90"
		詳細文文字列受け渡し変数 += "<br>ジャンプからのひざげりで相手を攻撃する。はずすと自分がダメージを受ける。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ルチャブルのとびひざげり！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 130 + (急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? -10 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		与ダメージ量 = RESULT
		IF 与ダメージ量 < 1
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用変数:効果割合 = (112 + 130) / 8
			CALL アビテンプレート_ダメージ処理_自属性
		ELSEIF 与ダメージ量 > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		ENDIF
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技4(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = どくづき
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:3}/{最大ＰＰ_サイトウ:0:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：どく/物理　威力：80　命中：100"
		詳細文文字列受け渡し変数 += "<br>毒にそまった触手や腕で相手を突き刺す。毒状態にすることがある。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ルチャブルのどくづき！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 80 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		アビ汎用文字列:バフ・デバフ枠 = 毒
		アビ汎用文字列:バフ・デバフ対象能力 = 毒
		アビ汎用変数:効果割合 = 12
		アビ汎用変数:持続ターン = 3
		アビ汎用変数:基礎成功確率 = 30
		CALL アビテンプレート_不利効果_デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技1d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイナックル
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:0}/{最大ＰＰ_サイトウ:0:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：90　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすかくとうタイプの攻撃。味方の攻撃を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイナックル！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 90 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技2d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM みきり成否

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = ダイウォール
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:1}/{最大ＰＰ_サイトウ:0:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：ノーマル/変化"
		詳細文文字列受け渡し変数 += "<br>相手の攻撃をまったく受けない。連続で出すと失敗しやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイウォール！
		みきり成否 = 1
		SELECTCASE 戦闘中カウント:隊列番号:2
			CASE 0
				みきり成否 = 0
			CASE 1
				SIF RAND:2 == 0
					みきり成否 = 0
			CASE 2
				SIF RAND:4 == 0
					みきり成否 = 0
			CASE 3
				SIF RAND:8 == 0
					みきり成否 = 0
			CASE 4
				SIF RAND:16 == 0
					みきり成否 = 0
		ENDSELECT
		IF みきり成否 == 0
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用文字列:バフ・デバフ枠 = ダイウォール
			アビ汎用文字列:バフ・デバフ対象能力 = 被ダメージ
			アビ汎用変数:効果割合 = 100
			アビ汎用変数:持続ターン = 1
			CALL アビテンプレート_有利効果_バフ効果セット
			戦闘中カウント:隊列番号:2++
		ELSE
			KSTR:(K++) = しかしダイウォールに失敗した！
			戦闘中カウント:隊列番号:2 = 0
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技3d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 与ダメージ量
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイナックル
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:2}/{最大ＰＰ_サイトウ:0:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：95　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすかくとうタイプの攻撃。味方の攻撃を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイナックル！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 95 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_0_技4d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイアシッド
消費ＭＰ = 0

SIF ＰＰ_サイトウ:0:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:0:3}/{最大ＰＰ_サイトウ:0:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：どく/物理　威力：90　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすどくタイプの攻撃。味方の特攻を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイアシッド！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 92 + 90 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:0:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@オトスパス召喚_サイトウ(隊列番号)
#DIM 隊列番号

IF 残ポケモン数取得_サイトウ() == 1
	KSTR:(K++) = 「ふんばりどころです！ わたしもいっしょにがんばります！」
	CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
	CALL 口上変数初期化
ENDIF
KSTR:(K++) = サイトウはオトスパスをくりだした！
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = オトスパス_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = バリア
アビ汎用変数:効果量 = ポケモンＨＰ_サイトウ:1
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = 1
CALL アビテンプレート_有利効果_バフ効果セット
VARSET アビテンプレート用_表示メッセージ格納:0:0
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = 10
アビ汎用文字列:バフ・デバフ枠 = 防御力_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 防御力
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = -1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = -38
アビ汎用文字列:バフ・デバフ枠 = 行動速度_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = 1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
アビ汎用文字列:バフ・デバフ枠 = じゅうなん
アビ汎用文字列:バフ・デバフ対象能力 = 状態異常耐性_麻痺
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:効果量 = 999
CALL アビテンプレート_有利効果_バフ効果セット
召喚中ポケモン_サイトウ = 1
CALL 攻撃ランク_サイトウバフ(隊列番号)
CALL 防御ランク_サイトウバフ(隊列番号)
CALL 行動速度ランク_サイトウバフ(隊列番号)
戦闘中カウント:隊列番号:2 = 0

@オトスパス送還_サイトウ(隊列番号)
#DIM 隊列番号

戦闘中カウント:隊列番号:0 = 0
戦闘中カウント:隊列番号:2 = 0
IF バフ番号取得_枠("オトスパス_サイトウ", 隊列番号) > -1
	ポケモンＨＰ_サイトウ:1 = DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠("オトスパス_サイトウ", 隊列番号), "効果量_固定値")
	CALL 戦闘効果削除(バフ番号取得_枠("オトスパス_サイトウ", 隊列番号))
ELSE
	ポケモンＨＰ_サイトウ:1 = 0
ENDIF
SIF バフ番号取得_枠("防御力_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("防御力_サイトウ", 隊列番号))
SIF バフ番号取得_枠("行動速度_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_サイトウ", 隊列番号))
SIF バフ番号取得_枠("じゅうなん", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("じゅうなん", 隊列番号))
CALL バフランク初期化_サイトウ(隊列番号,1 ,0)
FOR LOCAL, 10, 20
	SIF 敵BATTLE_STATE_STR:(LOCAL - 10):エネミー名 == ""
		CONTINUE
	SIF 敵BATTLE_STATE:(LOCAL - 10):ＨＰ < 1
		CONTINUE
	SIF デバフ番号取得_枠("たこがため", LOCAL) > -1
		CALL 戦闘効果削除(デバフ番号取得_枠("たこがため", LOCAL))
NEXT
召喚中ポケモン_サイトウ = -1

@バフ・デバフ特殊表示_オトスパス_サイトウ(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML バリアバフ：オトスパス
PRINTFORML 対象者へのダメージをオトスパスが肩代わりします。
PRINTFORML ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ・デバフ行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:1}
PRINTFORML 持続ターン：永続

@サイトウポケモン_1_技1(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号

アビ名 = たこがため
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:0}/{最大ＰＰ_サイトウ:1:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/変化"
		詳細文文字列受け渡し変数 += "<br>相手を逃げられなくする。かためられた相手は毎ターン防御と特防が下がる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = オトスパスのたこがため！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用文字列:バフ・デバフ枠 = たこがため
		アビ汎用文字列:バフ・デバフ対象能力 = たこがため
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:特殊表示オプション = 1
		CALL アビテンプレート_不利効果_デバフ効果セット
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@バフ・デバフ特殊表示_たこがため(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML たこがため
PRINTFORML 毎ターン終了時に防御力が下がります。
PRINTFORML 持続ターン：永続

@固有行動直後処理_バフ・デバフ_たこがため(効果番号)
#DIM 効果番号

アビテンプレート用_アビ名表示済フラグ = 1
アビテンプレート用_アビ名 = たこがため

CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
アビ汎用文字列:バフ・デバフ対象能力 = 防御力
アビ汎用変数:持続ターン = -1
アビ汎用変数:効果割合 = 20
アビ汎用変数:累積上限_割合 = 120
CALL アビテンプレート_不利効果_累積デバフ効果セット

@サイトウポケモン_1_技2(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM みきり成否

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = みきり
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:1}/{最大ＰＰ_サイトウ:1:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/変化"
		詳細文文字列受け渡し変数 += "<br>相手の攻撃をまったく受けない。連続でだすと失敗しやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = オトスパスのみきり！
		みきり成否 = 1
		SELECTCASE 戦闘中カウント:隊列番号:2
			CASE 0
				みきり成否 = 0
			CASE 1
				SIF RAND:2 == 0
					みきり成否 = 0
			CASE 2
				SIF RAND:4 == 0
					みきり成否 = 0
			CASE 3
				SIF RAND:8 == 0
					みきり成否 = 0
			CASE 4
				SIF RAND:16 == 0
					みきり成否 = 0
		ENDSELECT
		IF みきり成否 == 0
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用文字列:バフ・デバフ枠 = みきり
			アビ汎用文字列:バフ・デバフ対象能力 = 被ダメージ
			アビ汎用変数:効果割合 = 100
			アビ汎用変数:持続ターン = 1
			CALL アビテンプレート_有利効果_バフ効果セット
			戦闘中カウント:隊列番号:2++
		ELSE
			KSTR:(K++) = しかしみきりに失敗した！
			戦闘中カウント:隊列番号:2 = 0
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技3(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = アクアブレイク
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:2}/{最大ＰＰ_サイトウ:1:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：みず/物理　威力：85　命中：100"
		詳細文文字列受け渡し変数 += "<br>水の力で相手にぶつかって攻撃する。相手の防御をさげることがある。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = オトスパスのアクアブレイク！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 118 + 85 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_水属性
		IF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		ENDIF
		CALL アビ汎用変数文字列リセット
		アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 防御力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:基礎成功確率 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技4(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = インファイト
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:3}/{最大ＰＰ_サイトウ:1:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：120　命中：100"
		詳細文文字列受け渡し変数 += "<br>守りを捨てて相手のふところに突撃する。自分の防御と特防がさがる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = オトスパスのインファイト！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 118 + 120 + (急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		与ダメージ量 = RESULT
		SIF 与ダメージ量 > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 与ダメージ量 > 0
			防御ランク_サイトウ:召喚中ポケモン_サイトウ--
			CALL 防御ランク_サイトウバフ(隊列番号)
			KSTR:(K++) = オトスパスのぼうぎょがさがった！
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技1d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM みきり成否

アビ名 = ダイウォール
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:0}/{最大ＰＰ_サイトウ:1:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：ノーマル/変化"
		詳細文文字列受け渡し変数 += "<br>相手の攻撃をまったく受けない。連続で出すと失敗しやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイウォール！
		みきり成否 = 1
		SELECTCASE 戦闘中カウント:隊列番号:2
			CASE 0
				みきり成否 = 0
			CASE 1
				SIF RAND:2 == 0
					みきり成否 = 0
			CASE 2
				SIF RAND:4 == 0
					みきり成否 = 0
			CASE 3
				SIF RAND:8 == 0
					みきり成否 = 0
			CASE 4
				SIF RAND:16 == 0
					みきり成否 = 0
		ENDSELECT
		IF みきり成否 == 0
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用文字列:バフ・デバフ枠 = ダイウォール
			アビ汎用文字列:バフ・デバフ対象能力 = 被ダメージ
			アビ汎用変数:効果割合 = 100
			アビ汎用変数:持続ターン = 1
			CALL アビテンプレート_有利効果_バフ効果セット
			戦闘中カウント:隊列番号:2++
		ELSE
			KSTR:(K++) = しかしダイウォールに失敗した！
			戦闘中カウント:隊列番号:2 = 0
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技2d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM みきり成否

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = ダイウォール
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:1}/{最大ＰＰ_サイトウ:1:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：ノーマル/変化"
		詳細文文字列受け渡し変数 += "<br>相手の攻撃をまったく受けない。連続で出すと失敗しやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイウォール！
		みきり成否 = 1
		SELECTCASE 戦闘中カウント:隊列番号:2
			CASE 0
				みきり成否 = 0
			CASE 1
				SIF RAND:2 == 0
					みきり成否 = 0
			CASE 2
				SIF RAND:4 == 0
					みきり成否 = 0
			CASE 3
				SIF RAND:8 == 0
					みきり成否 = 0
			CASE 4
				SIF RAND:16 == 0
					みきり成否 = 0
		ENDSELECT
		IF みきり成否 == 0
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用文字列:バフ・デバフ枠 = ダイウォール
			アビ汎用文字列:バフ・デバフ対象能力 = 被ダメージ
			アビ汎用変数:効果割合 = 100
			アビ汎用変数:持続ターン = 1
			CALL アビテンプレート_有利効果_バフ効果セット
			戦闘中カウント:隊列番号:2++
		ELSE
			KSTR:(K++) = しかしダイウォールに失敗した！
			戦闘中カウント:隊列番号:2 = 0
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技3d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイストリーム
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:2}/{最大ＰＰ_サイトウ:1:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：みず/物理　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすみずタイプの攻撃。5ターンの間雨を降らせる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイストリーム！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 118 + 130 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_水属性
		IF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		ENDIF
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 展開中フィールド名格納 == ""
			KSTR:(K++) = 雨が降りだした！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
			CALL アビ汎用変数文字列リセット
			アビ汎用変数:持続ターン = 5
			アビ汎用文字列:フィールド枠 = あめ
			CALL アビテンプレート_フィールド効果セット
			VARSET アビテンプレート用_表示メッセージ格納:0:0
		ENDIF
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_1_技4d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = ダイナックル
消費ＭＰ = 0

SIF ＰＰ_サイトウ:1:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:1:3}/{最大ＰＰ_サイトウ:1:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：95　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすかくとうタイプの攻撃。味方の攻撃を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイナックル！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 118 + 95 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:1:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@ネギガナイト召喚_サイトウ(隊列番号)
#DIM 隊列番号

IF 残ポケモン数取得_サイトウ() == 1
	KSTR:(K++) = 「ふんばりどころです！ わたしもいっしょにがんばります！」
	CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
	CALL 口上変数初期化
ENDIF
KSTR:(K++) = サイトウはネギガナイトをくりだした！
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = ネギガナイト_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = バリア
アビ汎用変数:効果量 = ポケモンＨＰ_サイトウ:2
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = 1
CALL アビテンプレート_有利効果_バフ効果セット
VARSET アビテンプレート用_表示メッセージ格納:0:0
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = 15
アビ汎用文字列:バフ・デバフ枠 = 防御力_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 防御力
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = -1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = -15
アビ汎用文字列:バフ・デバフ枠 = 行動速度_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = 1
CALL アビテンプレート_有利効果_バフ効果セット
召喚中ポケモン_サイトウ = 2
CALL 攻撃ランク_サイトウバフ(隊列番号)
CALL 防御ランク_サイトウバフ(隊列番号)
CALL 行動速度ランク_サイトウバフ(隊列番号)
戦闘中カウント:隊列番号:2 = 0
戦闘中カウント:隊列番号:6 = 0

@ネギガナイト送還_サイトウ(隊列番号)
#DIM 隊列番号

戦闘中カウント:隊列番号:5 = 0
戦闘中カウント:隊列番号:6 = 0
IF バフ番号取得_枠("ネギガナイト_サイトウ", 隊列番号) > -1
	ポケモンＨＰ_サイトウ:2 = DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠("ネギガナイト_サイトウ", 隊列番号), "効果量_固定値")
	CALL 戦闘効果削除(バフ番号取得_枠("ネギガナイト_サイトウ", 隊列番号))
ELSE
	ポケモンＨＰ_サイトウ:2 = 0
ENDIF
SIF バフ番号取得_枠("防御力_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("防御力_サイトウ", 隊列番号))
SIF バフ番号取得_枠("行動速度_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_サイトウ", 隊列番号))
SIF バフ番号取得_枠("行動速度_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_ポケモン", 隊列番号))
CALL バフランク初期化_サイトウ(隊列番号,1 ,0)
召喚中ポケモン_サイトウ = -1

@バフ・デバフ特殊表示_ネギガナイト_サイトウ(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML バリアバフ：ネギガナイト
PRINTFORML 対象者へのダメージをネギガナイトが肩代わりします。
PRINTFORML ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ・デバフ行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:2}
PRINTFORML 持続ターン：永続

@サイトウポケモン_2_技1(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = リーフブレード
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:0}/{最大ＰＰ_サイトウ:2:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：くさ/物理　威力：90　命中：100"
		詳細文文字列受け渡し変数 += "<br>はっぱを剣のようにあやつり相手を切りつけて攻撃する。急所に当たりやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ネギガナイトのリーフブレード！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号, 1)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 90 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技2(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = スターアサルト
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:1}/{最大ＰＰ_サイトウ:2:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：150　命中：100"
		詳細文文字列受け渡し変数 += "<br>太いクキをふりまわして攻撃。ただし自分もよろめいてしまうため次のターンは動けなくなる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = ネギガナイトのスターアサルト！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 150 + (急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:5 = 1
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技3(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = はたきおとす
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:2}/{最大ＰＰ_サイトウ:2:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：65　命中：100"
		詳細文文字列受け渡し変数 += "<br>相手の持ち物をはたき落として戦闘が終わるまで使えなくする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ネギガナイトのはたきおとす！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 65 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_闇属性
		IF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		ENDIF
		CALL アビテンプレート_不利効果_トレハン
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技4(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = であいがしら
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:3}/{最大ＰＰ_サイトウ:2:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：むし/物理　威力：90　命中：100"
		詳細文文字列受け渡し変数 += "<br>威力が高い技だが戦闘に出たらすぐに出さないと成功しない。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = ネギガナイトのであいがしら！
		IF 戦闘中カウント:隊列番号:6 == 1
			KSTR:(K++) = しかし失敗した！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
			GOTO END
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 90 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		$END
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技1d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイソウゲン
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:0}/{最大ＰＰ_サイトウ:2:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：くさ/物理　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすくさタイプの攻撃。5ターンの間グラスフィールドにする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイソウゲン！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 130 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 展開中フィールド名格納 == ""
			CALL アビ汎用変数文字列リセット
			アビ汎用変数:持続ターン = 5
			アビ汎用文字列:フィールド枠 = グラスフィールド
			CALL アビテンプレート_フィールド効果セット
			VARSET アビテンプレート用_表示メッセージ格納:0:0
			KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%はグラスフィールドを展開した！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
		ENDIF
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技2d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = ダイナックル
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:1}/{最大ＰＰ_サイトウ:2:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：100　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすかくとうタイプの攻撃。味方の攻撃を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイナックル！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 100 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技3d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイアーク
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:2}/{最大ＰＰ_サイトウ:2:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：120　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすあくタイプの攻撃。相手の特防を下げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイアーク！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 120 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		CALL アビ対象選択テンプレート_敵全体_生者のみ
		アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 防御力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_2_技4d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイワーム
消費ＭＰ = 0

SIF ＰＰ_サイトウ:2:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:2:3}/{最大ＰＰ_サイトウ:2:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：むし/物理　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすむしタイプの攻撃。相手の特攻を下げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイワーム！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 130 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		CALL アビ対象選択テンプレート_敵全体_生者のみ
		アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:6 = 1
		SIF 連携中 == 0
			ＰＰ_サイトウ:2:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@タイレーツ召喚_サイトウ(隊列番号)
#DIM 隊列番号

IF 残ポケモン数取得_サイトウ() == 1
	KSTR:(K++) = 「ふんばりどころです！ わたしもいっしょにがんばります！」
	CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
	CALL 口上変数初期化
ENDIF
KSTR:(K++) = サイトウはタイレーツをくりだした！
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = タイレーツ_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = バリア
アビ汎用変数:効果量 = ポケモンＨＰ_サイトウ:3
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = 1
CALL アビテンプレート_有利効果_バフ効果セット
VARSET アビテンプレート用_表示メッセージ格納:0:0
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = 20
アビ汎用文字列:バフ・デバフ枠 = 防御力_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 防御力
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = -1
CALL アビテンプレート_有利効果_バフ効果セット
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = -5
アビ汎用文字列:バフ・デバフ枠 = 行動速度_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = 1
CALL アビテンプレート_有利効果_バフ効果セット
;カブトアーマー
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_敵全体_生者のみ
アビ汎用文字列:バフ・デバフ枠 = カブトアーマー
アビ汎用文字列:バフ・デバフ対象能力 = クリティカル率
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:効果量 = 999
CALL アビテンプレート_不利効果_デバフ効果セット
召喚中ポケモン_サイトウ = 3
CALL 攻撃ランク_サイトウバフ(隊列番号)
CALL 防御ランク_サイトウバフ(隊列番号)
CALL 行動速度ランク_サイトウバフ(隊列番号)
戦闘中カウント:隊列番号:2 = 0

@タイレーツ送還_サイトウ(隊列番号)
#DIM 隊列番号

戦闘中カウント:隊列番号:0 = 0
IF バフ番号取得_枠("タイレーツ_サイトウ", 隊列番号) > -1
	ポケモンＨＰ_サイトウ:3 = DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠("タイレーツ_サイトウ", 隊列番号), "効果量_固定値")
	CALL 戦闘効果削除(バフ番号取得_枠("タイレーツ_サイトウ", 隊列番号))
ELSE
	ポケモンＨＰ_サイトウ:3 = 0
ENDIF
SIF バフ番号取得_枠("防御力_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("防御力_サイトウ", 隊列番号))
SIF バフ番号取得_枠("行動速度_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_サイトウ", 隊列番号))
CALL バフランク初期化_サイトウ(隊列番号,1 ,0)

FOR LOCAL, 10, 20
	SIF 敵BATTLE_STATE_STR:(LOCAL - 10):エネミー名 == ""
		CONTINUE
	SIF 敵BATTLE_STATE:(LOCAL - 10):ＨＰ < 1
		CONTINUE
	SIF デバフ番号取得_枠("カブトアーマー", LOCAL) > -1
		CALL 戦闘効果削除(デバフ番号取得_枠("カブトアーマー", LOCAL))
NEXT
召喚中ポケモン_サイトウ = -1

@バフ・デバフ特殊表示_タイレーツ_サイトウ(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML バリアバフ：タイレーツ
PRINTFORML 対象者へのダメージをタイレーツが肩代わりします。
PRINTFORML ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ・デバフ行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:3}
PRINTFORML 持続ターン：永続

@サイトウポケモン_3_技1(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = はいすいのじん
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:0}/{最大ＰＰ_サイトウ:3:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/変化"
		詳細文文字列受け渡し変数 += "<br>自分のすべての能力上がるが交代ができなくなる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = タイレーツのはいすいのじん！
		IF 戦闘中カウント:隊列番号:8 != 0
			KSTR:(K++) = しかし失敗した！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
			GOTO END
		ENDIF
		攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
		防御ランク_サイトウ:召喚中ポケモン_サイトウ++
		行動速度ランク_サイトウ:召喚中ポケモン_サイトウ++
		CALL 攻撃ランク_サイトウバフ(隊列番号)
		CALL 防御ランク_サイトウバフ(隊列番号)
		CALL 行動速度ランク_サイトウバフ(隊列番号)
		WSTR:(K++) = タイレーツのこうげきがあがった！
		WSTR:(K++) = タイレーツのぼうぎょがあがった！
		WSTR:(K++) = タイレーツのすばやさがあがった！
		KSTR:(K++) = タイレーツは交代できなくなった！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:8++
		$END
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技2(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = メガホーン
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:1}/{最大ＰＰ_サイトウ:3:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：むし/物理　威力：120　命中：85"
		詳細文文字列受け渡し変数 += "<br>硬くてりっぱなつのでおもいっきり相手を突き刺して攻撃する。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = タイレーツのメガホーン！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 100 + 120 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? -15 # 100)
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技3(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = インファイト
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:2}/{最大ＰＰ_サイトウ:3:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：120　命中：100"
		詳細文文字列受け渡し変数 += "<br>守りを捨てて相手のふところに突撃する。自分の防御と特防がさがる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = タイレーツのインファイト！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 100 + 120 + (急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		与ダメージ量 = RESULT
		SIF 与ダメージ量 > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 与ダメージ量 > 0
			防御ランク_サイトウ:召喚中ポケモン_サイトウ--
			CALL 防御ランク_サイトウバフ(隊列番号)
			KSTR:(K++) = タイレーツのぼうぎょがさがった！
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技4(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = じごくづき
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:3}/{最大ＰＰ_サイトウ:3:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：80　命中：100"
		詳細文文字列受け渡し変数 += "<br>この技を受けた相手は地獄の苦しみから2ターンの間恐怖する。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = タイレーツのじごくづき！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 100 + 80 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		アビ汎用文字列:バフ・デバフ枠 = 恐怖
		アビ汎用文字列:バフ・デバフ対象能力 = 恐怖
		アビ汎用変数:効果割合 = 100
		アビ汎用変数:持続ターン = 2
		;アビ汎用変数:基礎成功確率 = 100
		CALL アビテンプレート_不利効果_デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技1d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM みきり成否

アビ名 = ダイウォール
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:0}/{最大ＰＰ_サイトウ:3:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：ノーマル/変化"
		詳細文文字列受け渡し変数 += "<br>相手の攻撃をまったく受けない。連続で出すと失敗しやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイウォール！
		みきり成否 = 1
		SELECTCASE 戦闘中カウント:隊列番号:2
			CASE 0
				みきり成否 = 0
			CASE 1
				SIF RAND:2 == 0
					みきり成否 = 0
			CASE 2
				SIF RAND:4 == 0
					みきり成否 = 0
			CASE 3
				SIF RAND:8 == 0
					みきり成否 = 0
			CASE 4
				SIF RAND:16 == 0
					みきり成否 = 0
		ENDSELECT
		IF みきり成否 == 0
			CALL アビ対象選択テンプレート_自己のみ
			アビ汎用文字列:バフ・デバフ枠 = ダイウォール
			アビ汎用文字列:バフ・デバフ対象能力 = 被ダメージ
			アビ汎用変数:効果割合 = 100
			アビ汎用変数:持続ターン = 1
			CALL アビテンプレート_有利効果_バフ効果セット
			戦闘中カウント:隊列番号:2++
		ELSE
			KSTR:(K++) = しかしダイウォールに失敗した！
			戦闘中カウント:隊列番号:2 = 0
		ENDIF
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技2d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = ダイワーム
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:1}/{最大ＰＰ_サイトウ:3:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：むし/物理　威力：140　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすむしタイプの攻撃。相手の特攻を下げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイワーム！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 100 + 140 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_土属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		CALL アビ対象選択テンプレート_敵全体_生者のみ
		アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技3d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = ダイナックル
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:2}/{最大ＰＰ_サイトウ:3:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：95　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすかくとうタイプの攻撃。味方の攻撃を上げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイナックル！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 100 + 95 +(急所判定 * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				攻撃ランク_サイトウ:召喚中ポケモン_サイトウ++
				CALL 攻撃ランク_サイトウバフ(隊列番号)
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のこうげきがあがった！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_3_技4d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイアーク
消費ＭＰ = 0

SIF ＰＰ_サイトウ:3:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:3:3}/{最大ＰＰ_サイトウ:3:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすあくタイプの攻撃。相手の特防を下げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイアーク！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 135 + 120 + (急所判定 * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		CALL アビ対象選択テンプレート_敵全体_生者のみ
		アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 防御力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		戦闘中カウント:隊列番号:2 = 0
		SIF 連携中 == 0
			ＰＰ_サイトウ:3:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@カイリキー召喚_サイトウ(隊列番号)
#DIM 隊列番号

IF 残ポケモン数取得_サイトウ() == 1
	KSTR:(K++) = 「ふんばりどころです！ わたしもいっしょにがんばります！」
	CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
	CALL 口上変数初期化
ENDIF
KSTR:(K++) = サイトウはカイリキーをくりだした！
CALL メッセージ欄表示用関数()
CALL 口上変数初期化
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = カイリキー_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = バリア
アビ汎用変数:効果量 = ポケモンＨＰ_サイトウ:4
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = 1
CALL アビテンプレート_有利効果_バフ効果セット
VARSET アビテンプレート用_表示メッセージ格納:0:0
CALL アビ対象選択テンプレート_自己のみ
アビ汎用変数:効果割合 = -25
アビ汎用文字列:バフ・デバフ枠 = 行動速度_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:持続ターン = 1
CALL アビテンプレート_有利効果_バフ効果セット
召喚中ポケモン_サイトウ = 4
CALL 攻撃ランク_サイトウバフ(隊列番号)
CALL 防御ランク_サイトウバフ(隊列番号)
CALL 行動速度ランク_サイトウバフ(隊列番号)
戦闘中カウント:隊列番号:2 = 0

@カイリキー送還_サイトウ(隊列番号)
#DIM 隊列番号

戦闘中カウント:隊列番号:0 = 0
IF バフ番号取得_枠("カイリキー_サイトウ", 隊列番号) > -1
	ポケモンＨＰ_サイトウ:4 = DT_CELL_GET("戦闘効果データベース", バフ番号取得_枠("カイリキー_サイトウ", 隊列番号), "効果量_固定値")
	CALL 戦闘効果削除(バフ番号取得_枠("カイリキー_サイトウ", 隊列番号))
ELSE
	ポケモンＨＰ_サイトウ:4 = 0
ENDIF
SIF バフ番号取得_枠("行動速度_サイトウ", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_サイトウ", 隊列番号))
CALL バフランク初期化_サイトウ(隊列番号,1 ,0)
召喚中ポケモン_サイトウ = -1

@バフ・デバフ特殊表示_カイリキー_サイトウ(隊列番号, バフ・デバフ行数)
#DIM 隊列番号
#DIM バフ・デバフ行数
VARSET LOCALS

PRINTFORML バリアバフ：カイリキー
PRINTFORML 対象者へのダメージをカイリキーが肩代わりします。
PRINTFORML ＨＰ：{DT_CELL_GET("戦闘効果データベース", バフ・デバフ行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:4}
PRINTFORML 持続ターン：永続

@サイトウポケモン_4_技1(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ほのおのパンチ
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:0}/{最大ＰＰ_サイトウ:4:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：ほのお/物理　威力：75　命中：100"
		詳細文文字列受け渡し変数 += "<br>炎をこめたパンチで相手を攻撃する。やけど状態にすることがある。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = カイリキーのほのおのパンチ！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 75 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_火属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		アビ汎用文字列:バフ・デバフ枠 = やけど
		アビ汎用文字列:バフ・デバフ対象能力 = やけど
		アビ汎用変数:特殊表示オプション = 1
		アビ汎用変数:効果割合 = 6
		アビ汎用変数:持続ターン = 3
		アビ汎用変数:基礎成功確率 = 10
		CALL アビテンプレート_不利効果_デバフ効果セット
		アビ汎用文字列:バフ・デバフ枠 = 火傷_やけど
		アビ汎用文字列:バフ・デバフ対象能力 = 火傷
		アビ汎用変数:効果割合 = 6
		アビ汎用変数:持続ターン = 3
		CALL アビテンプレート_不利効果_付随デバフ効果セット("やけど")
		アビ汎用文字列:バフ・デバフ枠 = 攻撃力_やけど
		アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
		アビ汎用変数:効果割合 = 50
		アビ汎用変数:持続ターン = 3
		CALL アビテンプレート_不利効果_付随デバフ効果セット("やけど")
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技2(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = はたきおとす
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:1}/{最大ＰＰ_サイトウ:4:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：65　命中：100"
		詳細文文字列受け渡し変数 += "<br>相手の持ち物をはたき落として戦闘が終わるまで使えなくする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		WSTR:(K++) = カイリキーのはたきおとす！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 65 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_闇属性
		IF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		ENDIF
		CALL アビテンプレート_不利効果_トレハン
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技3(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = クロスチョップ
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:2}/{最大ＰＰ_サイトウ:4:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：100　命中：80"
		詳細文文字列受け渡し変数 += "<br>両手チョップを相手にたたきつけて攻撃する。急所に当たりやすい。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = カイリキーのクロスチョップ！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号, 1)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 100 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50) + 50
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? -20 # 100)
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		KSTR:(K++) = %アビテンプレート用_表示メッセージ格納:0:0%
		VARSET アビテンプレート用_表示メッセージ格納:0:0
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技4(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = れいとうパンチ
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:3}/{最大ＰＰ_サイトウ:4:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：こおり/物理　威力：75　命中：100"
		詳細文文字列受け渡し変数 += "<br>冷気をこめたパンチで相手を攻撃する。こおり状態にすることがある。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = カイリキーのれいとうパンチ！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 75 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = (急所判定 == 0 ? 0 # 100)
		CALL アビテンプレート_ダメージ処理_水属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		アビ汎用文字列:バフ・デバフ枠 = こおり
		アビ汎用文字列:バフ・デバフ対象能力 = こおり
		アビ汎用変数:効果割合 = 100
		アビ汎用変数:持続ターン = 3
		アビ汎用変数:基礎成功確率 = 10
		アビ汎用変数:特殊表示オプション = 1
		CALL アビテンプレート_不利効果_デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技1d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイバーン
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:0 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:0}/{最大ＰＰ_サイトウ:4:0}
		詳細文文字列受け渡し変数 += "<br>タイプ：ほのお/変化　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすほのおタイプの攻撃。5ターンの間日差しを強くする。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイバーン！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 130 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_火属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 展開中フィールド名格納 == ""
			KSTR:(K++) = 日差しが強い！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
			CALL アビ汎用変数文字列リセット
			アビ汎用変数:持続ターン = 5
			アビ汎用文字列:フィールド枠 = にほんばれ
			CALL アビテンプレート_フィールド効果セット
			VARSET アビテンプレート用_表示メッセージ格納:0:0
		ENDIF
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:0--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技2d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

隊列番号 = キャラ隊列検索(キャラ番号)

アビ名 = ダイアーク
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:1 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:1}/{最大ＰＰ_サイトウ:4:1}
		詳細文文字列受け渡し変数 += "<br>タイプ：あく/物理　威力：120　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすあくタイプの攻撃。相手の特防を下げる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイアーク！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 120 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_闇属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビ汎用変数文字列リセット
		CALL アビ対象選択テンプレート_敵全体_生者のみ
		アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
		アビ汎用文字列:バフ・デバフ対象能力 = 防御力
		アビ汎用変数:持続ターン = -1
		アビ汎用変数:効果割合 = 20
		アビ汎用変数:累積上限_割合 = 120
		CALL アビテンプレート_不利効果_累積デバフ効果セット
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:1--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技3d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定
#DIM 与ダメージ量

アビ名 = キョダイシンゲキ
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:2 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:2}/{最大ＰＰ_サイトウ:4:2}
		詳細文文字列受け渡し変数 += "<br>タイプ：かくとう/物理　威力：160　命中：-"
		詳細文文字列受け渡し変数 += "<br>キョダイマックスしたカイリキーが繰りだすかくとうタイプの攻撃。急所に当たりやすくなる。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = 「キョダイシンゲキ！わたしのカラテとパートナーの技を重ねるッ！」
		CALL メッセージ欄表示用関数(@"探索用_{隊列番号}_顔", CALLNAME:GETCHARA(1886))
		CALL 口上変数初期化
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のキョダイシンゲキ！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 160 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50) + 50
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_自属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		FOR LOCAL, 0, 4
			SIF BATTLE_STATE:LOCAL:キャラ登録番号 < 1
				CONTINUE
			SIF BATTLE_STATE:LOCAL:ＨＰ < 1
				CONTINUE
			IF 隊列番号 == LOCAL
				戦闘中カウント:隊列番号:0++
				WSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%は張り切っている！
			ELSE
				CALL アビ汎用変数文字列リセット
				CALL アビ対象選択テンプレート_指定(LOCAL)
				アビ汎用文字列:バフ・デバフ枠 = クリティカル率_ポケモン
				アビ汎用文字列:バフ・デバフ対象能力 = クリティカル率
				アビ汎用変数:持続ターン = -1
				アビ汎用変数:効果割合 = 20
				アビ汎用変数:累積上限_割合 = 120
				CALL アビテンプレート_有利効果_累積バフ効果セット
			ENDIF
		NEXT
		CALL アビテンプレート用_表示メッセージ変換処理
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:2--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@サイトウポケモン_4_技4d(ARGS, キャラ番号, 隊列番号)
#DIM キャラ番号
#DIM 消費ＭＰ
#DIMS アビ名
#DIM 隊列番号
#DIM 急所判定

アビ名 = ダイアイス
消費ＭＰ = 0

SIF ＰＰ_サイトウ:4:3 == 0
	アビテンプレート用_アビ封印用フラグ = 1

SELECTCASE ARGS
	CASE "アビ名"
		TSTR:コマンド名受渡 = %アビ名%
	CASE "アビ説明文"
		詳細文文字列受け渡し変数 = PP {ＰＰ_サイトウ:4:3}/{最大ＰＰ_サイトウ:4:3}
		詳細文文字列受け渡し変数 += "<br>タイプ：こおり/物理　威力：130　命中：-"
		詳細文文字列受け渡し変数 += "<br>ダイマックスしたポケモンが繰りだすこおりタイプの攻撃。5ターンの間あられを降らす。"
		RETURN 消費ＭＰ
	CASE "アビ効果"
		アビテンプレート用_アビ名表示済フラグ = 1
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%のダイアイス！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		急所判定 = 急所判定関数_ポケモン(隊列番号)
		CALL アビ対象選択テンプレート_敵単体
		アビ汎用変数:効果割合 = 130 + 130 + (急所判定 * 50) + (弱体存在判定(隊列番号) * 50)
		アビ汎用変数:命中率補正値 = 999
		CALL アビテンプレート_ダメージ処理_水属性
		SIF RESULT > 0 && 急所判定
			KSTR:(K++) = 急所に当たった！
		CALL アビテンプレート用_表示メッセージ変換処理
		IF 展開中フィールド名格納 == ""
			CALL アビ汎用変数文字列リセット
			アビ汎用変数:持続ターン = 5
			アビ汎用文字列:フィールド枠 = あられ
			CALL アビテンプレート_フィールド効果セット
			VARSET アビテンプレート用_表示メッセージ格納:0:0
			KSTR:(K++) = あられが降り出した！
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
		ENDIF
		SIF 連携中 == 0
			ＰＰ_サイトウ:4:3--
		CALL ゲージ上昇_ポケモン(隊列番号)
ENDSELECT

@固有戦闘開始時処理_キャラ_1886

CALL 初期処理_サイトウ

@固有行動開始時処理_キャラ_1886
#DIM 隊列番号
#DIM デバフ番号

隊列番号 = キャラ隊列検索(GETCHARA(1886))
アビテンプレート用_アビ名表示済フラグ = 1

;初期化可否_サイトウバフがない場合は初期処理を行う
SIF バフ番号取得_枠("初期化可否_サイトウ", 隊列番号) < 0
	CALL 初期処理_サイトウ
	
;ポケモン全滅時
IF バフ番号取得_枠("敗北フラグ_サイトウ", 隊列番号) > -1
	行動不能フラグ = 1
	RETURN 0
ENDIF

IF 召喚中ポケモン_サイトウ == -1
	CALL ポケモン召喚一覧表示_サイトウ(隊列番号)
ENDIF

;スターアサルト行動不能処理
IF 召喚中ポケモン_サイトウ == 2 && 戦闘中カウント:隊列番号:5 == 1
	WSTR:(K++) = ネギガナイトはよろめいている！
	KSTR:(K++) = ネギガナイトはスターアサルトの反動で行動できない！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
	行動不能フラグ = 1
	戦闘中カウント:隊列番号:5 = 0
ENDIF

IF 召喚中ポケモン_サイトウ == 2 && 行動不能フラグ == 1
	行動速度ランク_サイトウ:召喚中ポケモン_サイトウ++
	CALL 行動速度ランク_サイトウバフ(隊列番号)
	WSTR:(K++) = ネギガナイトのふくつのこころ
	KSTR:(K++) = ネギガナイトのすばやさがあがった！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
ENDIF

;じゅうなん
$麻痺消し
IF (召喚中ポケモン_サイトウ == 0 || 召喚中ポケモン_サイトウ == 1) && デバフ番号取得("麻痺", 隊列番号) > -1
	CALL 戦闘効果削除(デバフ番号取得("麻痺", 隊列番号))
	GOTO 麻痺消し
ENDIF

;アビリティ封印は最悪詰むので削除
$アビリティ封印消し
IF デバフ番号取得("アビリティ封印", 隊列番号) > -1
	CALL 戦闘効果削除(デバフ番号取得("アビリティ封印", 隊列番号))
	GOTO アビリティ封印消し
ENDIF

@初期処理_サイトウ
#DIM キャラ番号
#DIM 隊列番号
#DIM ポケモントレーナーの証ID

キャラ番号 = GETCHARA(1886)
隊列番号 = キャラ隊列検索(キャラ番号)

召喚中ポケモン_サイトウ = -1
ダイマックス_サイトウ = 0
VARSET 攻撃ランク_サイトウ
VARSET 防御ランク_サイトウ
VARSET 行動速度ランク_サイトウ
;PP初期化
最大ＰＰ_サイトウ:0:0 = 10
最大ＰＰ_サイトウ:0:1 = 20
最大ＰＰ_サイトウ:0:2 = 10
最大ＰＰ_サイトウ:0:3 = 20
最大ＰＰ_サイトウ:1:0 = 15
最大ＰＰ_サイトウ:1:1 = 5
最大ＰＰ_サイトウ:1:2 = 10
最大ＰＰ_サイトウ:1:3 = 5
最大ＰＰ_サイトウ:2:0 = 15
最大ＰＰ_サイトウ:2:1 = 5
最大ＰＰ_サイトウ:2:2 = 20
最大ＰＰ_サイトウ:2:3 = 10
最大ＰＰ_サイトウ:3:0 = 5
最大ＰＰ_サイトウ:3:1 = 10
最大ＰＰ_サイトウ:3:2 = 5
最大ＰＰ_サイトウ:3:3 = 15
最大ＰＰ_サイトウ:4:0 = 15
最大ＰＰ_サイトウ:4:1 = 20
最大ＰＰ_サイトウ:4:2 = 5
最大ＰＰ_サイトウ:4:3 = 15
FOR LOCAL:1, 0, 5
	FOR LOCAL:2, 0, 4
		ＰＰ_サイトウ:(LOCAL:1):(LOCAL:2) = 最大ＰＰ_サイトウ:(LOCAL:1):(LOCAL:2)
	NEXT
NEXT
;HP初期化
ポケモン最大ＨＰ_サイトウ:0 = BATTLE_STATE:隊列番号:最大ＨＰ * 98 / 100
ポケモン最大ＨＰ_サイトウ:1 = BATTLE_STATE:隊列番号:最大ＨＰ
ポケモン最大ＨＰ_サイトウ:2 = BATTLE_STATE:隊列番号:最大ＨＰ * 82 / 100
ポケモン最大ＨＰ_サイトウ:3 = BATTLE_STATE:隊列番号:最大ＨＰ * 85 / 100
ポケモン最大ＨＰ_サイトウ:4 = BATTLE_STATE:隊列番号:最大ＨＰ * 110 / 100
ポケモンＨＰ_サイトウ:0 = ポケモン最大ＨＰ_サイトウ:0
ポケモンＨＰ_サイトウ:1 = ポケモン最大ＨＰ_サイトウ:1
ポケモンＨＰ_サイトウ:2 = ポケモン最大ＨＰ_サイトウ:2
ポケモンＨＰ_サイトウ:3 = ポケモン最大ＨＰ_サイトウ:3
ポケモンＨＰ_サイトウ:4 = ポケモン最大ＨＰ_サイトウ:4

;初期化可否
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = 初期化可否_サイトウ
アビ汎用文字列:バフ・デバフ対象能力 = 初期化可否_サイトウ
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
CALL アビテンプレート_有利効果_バフ効果セット

;目印用
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_敵全体_生者のみ
アビ汎用文字列:バフ・デバフ枠 = サイトウ_敵
アビ汎用文字列:バフ・デバフ対象能力 = サイトウ_敵
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
CALL アビテンプレート_不利効果_デバフ効果セット

;アビリティ封印耐性
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_自己のみ
アビ汎用文字列:バフ・デバフ枠 = アビリティ封印耐性
アビ汎用文字列:バフ・デバフ対象能力 = 状態異常耐性_アビリティ封印
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
アビ汎用変数:効果量 = 999
CALL アビテンプレート_有利効果_パッシブバフ効果セット

;ポケモントレーナーの証を装備していない場合装備
IF DT_CELL_GETS("所持ジョブ証データベース", 装備ステータス補正保存:キャラ番号:装備証番号, "ジョブ証名", 1) != "ポケモントレーナーの証"
	CALL 汎用証取得処理("ポケモントレーナーの証")
	FOR LOCAL, 1, DT_ROW_LENGTH("所持ジョブ証データベース")
		SIF DT_CELL_GETS("所持ジョブ証データベース", LOCAL, "ジョブ証名") == "ポケモントレーナーの証"
			ポケモントレーナーの証ID = LOCAL
	NEXT
	装備ステータス補正保存:キャラ番号:装備証番号 = DT_CELL_GET("所持ジョブ証データベース", ポケモントレーナーの証ID, "id")
	KSTR:(K++) = サイトウはポケモントレーナーの証を装備した！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
ENDIF

;テスト用
;まんたんのくすり_サイトウ = 3
;げんきのかたまり_サイトウ = 3
;CALL アビ対象選択テンプレート_自己のみ
;アビ汎用変数:効果量 = 100
;CALL アビテンプレート_有利効果_奥義ゲージUP

@固有行動直後処理_バフ・デバフ_サイトウ_敵(効果番号)
#DIM 効果番号
#DIM 隊列番号

アビテンプレート用_アビ名表示済フラグ = 1
隊列番号 = キャラ隊列検索(GETCHARA(1886))

;仲間呼び対応
CALL アビ汎用変数文字列リセット
CALL アビ対象選択テンプレート_敵全体_生者のみ
アビ汎用文字列:バフ・デバフ枠 = サイトウ_敵
アビ汎用文字列:バフ・デバフ対象能力 = サイトウ_敵
アビ汎用変数:持続ターン = -1
アビ汎用変数:消去不可オプション = 1
アビ汎用変数:特殊表示オプション = -1
CALL アビテンプレート_不利効果_デバフ効果セット

CALL ポケモン瀕死確認_サイトウ(隊列番号)

@固有ターン終了時処理_キャラ_1886
#DIM 隊列番号

隊列番号 = キャラ隊列検索(GETCHARA(1886))

CALL ポケモン瀕死確認_サイトウ(隊列番号)

IF ダイマックス_サイトウ != 0
	ダイマックス_サイトウ--
	IF ダイマックス_サイトウ == 0
		KSTR:(K++) = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%は元の大きさに戻った！
		CALL メッセージ欄表示用関数()
		CALL 口上変数初期化
		CALL ダイマックス終了処理_サイトウ(隊列番号)
	ENDIF
ENDIF

@ポケモン瀕死確認_サイトウ(隊列番号)
#DIM 隊列番号

IF 召喚中ポケモン_サイトウ == 0 && バフ番号取得_枠("ルチャブル_サイトウ", 隊列番号) < 0
	SIF ダイマックス_サイトウ != 0
		CALL ダイマックス終了処理_サイトウ(隊列番号, 1)
	CALL バフランク初期化_サイトウ(隊列番号, 1, 1)
	CALL ルチャブル送還_サイトウ(隊列番号)
	KSTR:(K++) = ルチャブルはサイトウの元へ戻っていく！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
ELSEIF 召喚中ポケモン_サイトウ == 1 && バフ番号取得_枠("オトスパス_サイトウ", 隊列番号) < 0
	SIF ダイマックス_サイトウ != 0
		CALL ダイマックス終了処理_サイトウ(隊列番号, 1)
	CALL バフランク初期化_サイトウ(隊列番号, 1, 1)
	CALL オトスパス送還_サイトウ(隊列番号)
	KSTR:(K++) = オトスパスはサイトウの元へ戻っていく！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
	戦闘中カウント:隊列番号:2 = 0
ELSEIF 召喚中ポケモン_サイトウ == 2 && バフ番号取得_枠("ネギガナイト_サイトウ", 隊列番号) < 0
	SIF ダイマックス_サイトウ != 0
		CALL ダイマックス終了処理_サイトウ(隊列番号, 1)
	CALL バフランク初期化_サイトウ(隊列番号, 1, 1)
	CALL ネギガナイト送還_サイトウ(隊列番号)
	KSTR:(K++) = ネギガナイトはサイトウの元へ戻っていく！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
	戦闘中カウント:隊列番号:5 = 0
ELSEIF 召喚中ポケモン_サイトウ == 3 && バフ番号取得_枠("タイレーツ_サイトウ", 隊列番号) < 0
	SIF ダイマックス_サイトウ != 0
		CALL ダイマックス終了処理_サイトウ(隊列番号, 1)
	CALL バフランク初期化_サイトウ(隊列番号, 1, 1)
	CALL タイレーツ送還_サイトウ(隊列番号)
	KSTR:(K++) = タイレーツはサイトウの元へ戻っていく！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
	戦闘中カウント:隊列番号:8 = 0
ELSEIF 召喚中ポケモン_サイトウ == 4 && バフ番号取得_枠("カイリキー_サイトウ", 隊列番号) < 0
	SIF ダイマックス_サイトウ != 0
		CALL ダイマックス終了処理_サイトウ(隊列番号, 1)
	CALL バフランク初期化_サイトウ(隊列番号, 1, 1)
	CALL カイリキー送還_サイトウ(隊列番号)
	KSTR:(K++) = カイリキーはサイトウの元へ戻っていく！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
ENDIF

IF 残ポケモン数取得_サイトウ() == 0 && バフ番号取得_枠("敗北フラグ_サイトウ", 隊列番号) < 0
	KSTR:(K++) = サイトウの目の前が真っ暗になった！
	CALL メッセージ欄表示用関数()
	CALL 口上変数初期化
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 敗北フラグ_サイトウ
	アビ汎用文字列:バフ・デバフ対象能力 = 敗北フラグ_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	アビ汎用変数:特殊表示オプション = -1
	CALL アビテンプレート_有利効果_バフ効果セット
ENDIF

@ポケモン召喚一覧表示_サイトウ(隊列番号, 召喚中ポケモン = -1)
#DIM 隊列番号
#DIMS 表示文字列1
#DIMS 表示文字列2
#DIMS 表示文字列3
#DIM 召喚中ポケモン
#DIM RESULT保存
#DIM バリア行数
#DIMS バフ枠保存

$選択_LOOP
KSTR:(K++) = ■戦うポケモンを選択
;IF 召喚中ポケモン != -1
;	KSTR:(K++) = <button value = '{999}'>　　　　　　　　　　　　　　　　[{999}] 戻る</button>
;ELSE
;	NSTR:(K++) = <br>
;ENDIF
FOR LOCAL, 0, 5
	表示文字列1 = %ポケモン名取得_サイトウ(LOCAL)%
	IF 召喚中ポケモン_サイトウ != LOCAL
		表示文字列2 = HP:{ポケモンＨＰ_サイトウ:LOCAL}/{ポケモン最大ＨＰ_サイトウ:LOCAL}
	ELSE
		バフ枠保存 = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%_サイトウ
		バリア行数 = バフ番号取得_枠(バフ枠保存, 隊列番号)
		表示文字列2 = HP:{ DT_CELL_GET("戦闘効果データベース", バリア行数, "効果量_固定値")}/{ポケモン最大ＨＰ_サイトウ:LOCAL}
	ENDIF
	表示文字列3 = PP:[{ＰＰ_サイトウ:LOCAL:0}/{最大ＰＰ_サイトウ:LOCAL:0}][{ＰＰ_サイトウ:LOCAL:1}/{最大ＰＰ_サイトウ:LOCAL:1}][{ＰＰ_サイトウ:LOCAL:2}/{最大ＰＰ_サイトウ:LOCAL:2}][{ＰＰ_サイトウ:LOCAL:3}/{最大ＰＰ_サイトウ:LOCAL:3}]
	IF ポケモンＨＰ_サイトウ:LOCAL != 0 && 召喚中ポケモン != LOCAL
		KSTR:(K++) = <button value = '{100 + LOCAL}'>[{100 + LOCAL}] %表示文字列1, 12, LEFT% %表示文字列2, 12, LEFT% %表示文字列3%</button>
	ELSE
		KSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'>[{100 + LOCAL}] %表示文字列1, 12, LEFT% %表示文字列2, 12, LEFT% %表示文字列3%</font>
	ENDIF
NEXT
SIF  召喚中ポケモン != -1
	KSTR:(K++) = <button value = '{999}'>[{999}] 戻る</button>
CALL メッセージ欄表示用関数(,,,,1)
CALL 口上変数初期化
BINPUT
RESULT保存 = RESULT - 100
SELECTCASE RESULT
	CASE 100 TO 104
		IF 召喚中ポケモン != -1
			IF ダイマックス_サイトウ != 0
				ダイマックス_サイトウ = 0
				CALL ダイマックス終了処理_サイトウ(隊列番号)
			ENDIF
			KSTR:(K++) = サイトウは%ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%を引っ込めた！
			CALLFORM %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%送還_サイトウ(隊列番号)
			CALL メッセージ欄表示用関数()
			CALL 口上変数初期化
		ENDIF
		CALLFORM %ポケモン名取得_サイトウ(RESULT保存)%召喚_サイトウ(隊列番号)
	CASE 999
		RETURN 1
	CASEELSE
		GOTO 選択_LOOP
ENDSELECT
RETURN 0

@ダイマックス終了処理_サイトウ(隊列番号, 瀕死 = 0)
#DIM 隊列番号
#DIM 瀕死
#DIM バリア行数
#DIMS バフ枠保存
#DIM バリア耐久

SELECTCASE 召喚中ポケモン_サイトウ
	CASE 0
		ポケモン最大ＨＰ_サイトウ:0 = BATTLE_STATE:隊列番号:最大ＨＰ * 98 / 100
	CASE 1
		ポケモン最大ＨＰ_サイトウ:1 = BATTLE_STATE:隊列番号:最大ＨＰ
	CASE 2
		 ポケモン最大ＨＰ_サイトウ:2 = BATTLE_STATE:隊列番号:最大ＨＰ * 82 / 100
	CASE 3
		ポケモン最大ＨＰ_サイトウ:3 = BATTLE_STATE:隊列番号:最大ＨＰ * 85 / 100
	CASE 4
		ポケモン最大ＨＰ_サイトウ:4 = BATTLE_STATE:隊列番号:最大ＨＰ * 110 / 100
ENDSELECT

IF 瀕死 == 1
	ダイマックス_サイトウ = 0
ELSE
	バフ枠保存 = %ポケモン名取得_サイトウ(召喚中ポケモン_サイトウ)%_サイトウ
	バリア行数 = バフ番号取得_枠(バフ枠保存, 隊列番号)
	バリア耐久 = DT_CELL_GET("戦闘効果データベース", バリア行数, "効果量_固定値")
	IF 召喚中ポケモン_サイトウ == 4
		バリア耐久 = MAX(バリア耐久 / 2, 1)
	ELSE
		バリア耐久 = MAX(バリア耐久 * 10 / 15, 1)
	ENDIF
	DT_CELL_SET "戦闘効果データベース", バリア行数, "効果量_固定値", バリア耐久
ENDIF

@攻撃ランク_サイトウバフ(隊列番号)
#DIM 隊列番号

SIF バフ番号取得_枠("攻撃力_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("攻撃力_ポケモン", 隊列番号))
SIF デバフ番号取得_枠("攻撃力_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(デバフ番号取得_枠("攻撃力_ポケモン", 隊列番号))

IF 攻撃ランク_サイトウ:召喚中ポケモン_サイトウ > 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
	アビ汎用変数:効果割合 = 20 * 攻撃ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_有利効果_バフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ELSEIF 攻撃ランク_サイトウ:召喚中ポケモン_サイトウ < 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 攻撃力_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 攻撃力
	アビ汎用変数:効果割合 = -20 * 攻撃ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_不利効果_デバフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ENDIF

@防御ランク_サイトウバフ(隊列番号)
#DIM 隊列番号

SIF バフ番号取得_枠("防御力_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("防御力_ポケモン", 隊列番号))
SIF デバフ番号取得_枠("防御力_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(デバフ番号取得_枠("防御力_ポケモン", 隊列番号))

IF 防御ランク_サイトウ:召喚中ポケモン_サイトウ > 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 防御力
	アビ汎用変数:効果割合 = 20 * 防御ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_有利効果_バフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ELSEIF 防御ランク_サイトウ:召喚中ポケモン_サイトウ < 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 防御力_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 防御力
	アビ汎用変数:効果割合 = -20 * 防御ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_不利効果_デバフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ENDIF

@行動速度ランク_サイトウバフ(隊列番号)
#DIM 隊列番号

SIF バフ番号取得_枠("行動速度_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(バフ番号取得_枠("行動速度_ポケモン", 隊列番号))
SIF デバフ番号取得_枠("行動速度_ポケモン", 隊列番号) > -1
	CALL 戦闘効果削除(デバフ番号取得_枠("行動速度_ポケモン", 隊列番号))

IF 行動速度ランク_サイトウ:召喚中ポケモン_サイトウ > 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 行動速度_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
	アビ汎用変数:効果割合 = 20 * 行動速度ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_有利効果_バフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ELSEIF 行動速度ランク_サイトウ:召喚中ポケモン_サイトウ < 0
	CALL アビ汎用変数文字列リセット
	CALL アビ対象選択テンプレート_自己のみ
	アビ汎用文字列:バフ・デバフ枠 = 行動速度_ポケモン
	アビ汎用文字列:バフ・デバフ対象能力 = 行動速度
	アビ汎用変数:効果割合 = -20 * 行動速度ランク_サイトウ:召喚中ポケモン_サイトウ
	アビ汎用変数:持続ターン = -1
	アビ汎用変数:消去不可オプション = 1
	CALL アビテンプレート_不利効果_デバフ効果セット
	VARSET アビテンプレート用_表示メッセージ格納:0:0
ENDIF

@バフランク初期化_サイトウ(隊列番号, バフ初期化 = 0, ランク初期化 = 0)
#DIM 隊列番号
#DIM バフ初期化
#DIM ランク初期化

IF バフ初期化 != 0
	SIF バフ番号取得_枠("攻撃力_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(バフ番号取得_枠("攻撃力_ポケモン", 隊列番号))
	SIF デバフ番号取得_枠("攻撃力_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(デバフ番号取得_枠("攻撃力_ポケモン", 隊列番号))
	SIF バフ番号取得_枠("防御力_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(バフ番号取得_枠("防御力_ポケモン", 隊列番号))
	SIF デバフ番号取得_枠("防御力_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(デバフ番号取得_枠("防御力_ポケモン", 隊列番号))
	SIF バフ番号取得_枠("行動速度_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(バフ番号取得_枠("行動速度_ポケモン", 隊列番号))
	SIF デバフ番号取得_枠("行動速度_ポケモン", 隊列番号) > -1
		CALL 戦闘効果削除(デバフ番号取得_枠("行動速度_ポケモン", 隊列番号))
ENDIF

戦闘中カウント:隊列番号:0 = 0
IF ランク初期化 != 0
	攻撃ランク_サイトウ:召喚中ポケモン_サイトウ = 0
	防御ランク_サイトウ:召喚中ポケモン_サイトウ = 0
	行動速度ランク_サイトウ:召喚中ポケモン_サイトウ = 0
ENDIF

@残ポケモン数取得_サイトウ
#FUNCTION
#DIM 隊列番号
#DIM ポケモン数

ポケモン数 = 0
SIF ポケモンＨＰ_サイトウ:0 > 0
	ポケモン数++
SIF ポケモンＨＰ_サイトウ:1 > 0
	ポケモン数++
SIF ポケモンＨＰ_サイトウ:2 > 0
	ポケモン数++
SIF ポケモンＨＰ_サイトウ:3 > 0
	ポケモン数++
SIF ポケモンＨＰ_サイトウ:4 > 0
	ポケモン数++
RETURNF ポケモン数

@ポケモン名取得_サイトウ(ARG)
#FUNCTIONS
#DIM ポケモンID

SELECTCASE ARG
	CASE 0
		RETURNF "ルチャブル"
	CASE 1
		RETURNF "オトスパス"
	CASE 2
		RETURNF "ネギガナイト"
	CASE 3
		RETURNF "タイレーツ"
	CASE 4
		RETURNF "カイリキー"
ENDSELECT

@探索欄表示_キャラ_1886(レイヤー番号, 隊列番号)
#DIM 隊列番号
#DIM レイヤー番号

SIF ダンジョン表示モード != "戦闘画面" || バフ番号取得_枠("初期化可否_サイトウ", 隊列番号) < 0
	RETURN 0
GSETFONT レイヤー番号, "BIZUDGothic-Bold", 32, 0
IF ポケモンＨＰ_サイトウ:0 > 0 && 召喚中ポケモン_サイトウ == 0
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:隊列番号:属性)
	GDRAWTEXT レイヤー番号, "◒", 120, 84
ELSEIF ポケモンＨＰ_サイトウ:0 > 0 && 召喚中ポケモン_サイトウ != 0
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "◒", 120, 84
ELSE
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	GDRAWTEXT レイヤー番号, "◒", 120, 84
ENDIF
IF ポケモンＨＰ_サイトウ:1 > 0 && 召喚中ポケモン_サイトウ == 1
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:隊列番号:属性)
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 1), 84
ELSEIF ポケモンＨＰ_サイトウ:1 > 0 && 召喚中ポケモン_サイトウ != 1
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 1), 84
ELSE
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 1), 84
ENDIF
IF ポケモンＨＰ_サイトウ:2 > 0 && 召喚中ポケモン_サイトウ == 2
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:隊列番号:属性)
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 2), 84
ELSEIF ポケモンＨＰ_サイトウ:2 > 0 && 召喚中ポケモン_サイトウ != 2
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 2), 84
ELSE
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 2), 84
ENDIF
IF ポケモンＨＰ_サイトウ:3 > 0 && 召喚中ポケモン_サイトウ == 3
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:隊列番号:属性)
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 3), 84
ELSEIF ポケモンＨＰ_サイトウ:3 > 0 && 召喚中ポケモン_サイトウ != 3
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 3), 84
ELSE
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 3), 84
ENDIF
IF ポケモンＨＰ_サイトウ:4 > 0 && 召喚中ポケモン_サイトウ == 4
	GSETBRUSH レイヤー番号, 属性数値文字色変換_透明度込(BATTLE_STATE:隊列番号:属性)
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 4), 84
ELSEIF ポケモンＨＰ_サイトウ:4 > 0 && 召喚中ポケモン_サイトウ != 4
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 4), 84
ELSE
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("戦闘不能")
	GDRAWTEXT レイヤー番号, "◒", 120 + (18 * 4), 84
ENDIF
GSETFONT レイヤー番号, "BIZUDGothic-Bold", 18, 0
	GSETBRUSH レイヤー番号, カラーパレット_透明度込("無属性")
	GDRAWTEXT レイヤー番号, "・", 120 + (18 * 5) + 4, 92
	
;--------------------------------------------------
;戦闘能力の固有処理説明
;--------------------------------------------------
@口上_ステータス画面_固有特性解説_1886(対象キャラ)
#DIM 対象キャラ
CALL 口上変数初期化

;口上と同じ感覚で使う為に書式を統一しているが、ステータス画面で表示されるので
;基本的にWAIT系列は使わないことを推奨

KSTR:(K++) = □ 特性：『ポケモントレーナー』 □-------------------------------------------------------------------
KSTR:(K++) = 　自ら戦うのではなく、ポケモンを繰り出して戦う。
KSTR:(K++) = 　
KSTR:(K++) = 　
KSTR:(K++) = 　

CALL 口上変数表示(対象キャラ, 1)
