;オプション設定処理
@OPTION
PRINTL 設定項目を選択してください
PRINTL [1] - コマンドフィルタ
PRINTL [2] - 特定素質の切り替え
PRINTL [3] - 機能切り替え
PRINTL [4] - 起床時刻の設定
PRINTL 
PRINTL [100] - 周回引き継ぎバグ対応ボタン
PRINTL [101] - 履歴多重登録バグ対応ボタン
PRINTL [999]-戻る


$INPUT_LOOP
BINPUT
IF RESULT == 1
	CALL OPTION_COMMAND_FILTER
ELSEIF RESULT == 2
	CALL OPTION_素質切り替え
ELSEIF RESULT == 3
	CALL OPTION_機能切り替え
ELSEIF RESULT == 4
	PRINTL 何時に起床しますか？
	PRINTFORML 現在の起床予定時刻は%CONVERT_HOURS(CFLAG:MASTER:起床予定時刻)%時です

	FOR LOCAL, 0, 24
		PRINTFORM [{LOCAL, 2}] 
		SIF LOCAL % 10 == 9
			PRINTL
	NEXT
	PRINTL
	PRINTBUTTON "[変更しない]", 99

	$INPUT_LOOP2
	INPUT
	SIF RESULT == 99
		RESTART
	SIF RESULT < 0 || RESULT > 23
		GOTO INPUT_LOOP2
	CFLAG:MASTER:起床予定時刻 = RESULT * 60
ELSEIF RESULT == 100
	PRINTL 周回でキャラを引き継いだ時にエラーが発生してしまう現象へ対処するボタンです
	PRINTL 現在存在するキャラの関係性を全てリセットし、初期状態に戻します
	PRINTL ※詰みを回避するための非常用処理です。通常は実行しないでください。
	PRINTL 
	PRINTL 実行してよろしいですか？
	PRINTL [0] はい
	PRINTL [1] いいえ
	BINPUT
	IF RESULT == 0
		FOR LOCAL, 0, CHARANUM
			CALL INIT_RELATION(LOCAL)
		NEXT
		PRINTW 実行しました。
	ENDIF
ELSEIF RESULT == 101
	PRINTL キャラクターの履歴が大量に重複して登録されてしまうバグに対応するボタンです。
	PRINTL 現在存在するキャラの履歴を全てリセットし、初期状態に戻します。
	PRINTL ※削除時に達成している履歴について再登録はされないので注意してください
	PRINTL 
	PRINTL 実行してよろしいですか？
	PRINTL [0] はい
	PRINTL [1] いいえ
	BINPUT
	IF RESULT == 0
		DT_CLEAR "履歴データベース"
		PRINTW 実行しました。
	ENDIF
ELSEIF RESULT == 999
	RETURN 0
ELSE
	GOTO INPUT_LOOP
ENDIF
RESTART


;文字列変数に保存してみた
@OPTION_COMMAND_FILTER
#DIMS フェイズ保存
#DIM ループ用
#DIM 改行用

TOOLTIP_CUSTOM 1
TOOLTIP_SETFONTSIZE 12
TOOLTIP_SETDURATION 100000

VARSET LOCAL
FOR COUNT,0,500
	LOCALS = /{COUNT}/
	SIF STRCOUNT(SAVESTR:0,LOCALS)
		LOCAL:COUNT = 1
NEXT
SIF SAVESTR:0 == ""
	SAVESTR:0 = /
DRAWLINE
フェイズ保存 = %SAVESTR:ゲームフェイズ管理%
SAVESTR:ゲームフェイズ管理 = 通常モード
LOCALS:1 = 
改行用 = 0

FOR COUNT,0,500
	SIF COUNT >= 370 && COUNT <= 390
		CONTINUE
	LOCALS = /{COUNT}/
	; SIF STRCOUNT(SAVESTR:0,LOCALS)
	; 		SETCOLOR 0x666666
	IF STRLENS(TRAIN_COMNAME(COUNT))
		TSTR:ツールチップ受渡 = TRAIN_COMNAME(COUNT)
		IF STRCOUNT(SAVESTR:0,LOCALS)
			LOCALS:1 += @"<font color='#666666'><button value = '{COUNT}'"
		ELSE
			LOCALS:1 += @"<button value = '{COUNT}'"
		ENDIF
		TRYCCALLFORM COM_TOOLTIP_{COUNT}
			IF ツールチップ切り替えOPTION記憶 == 0
				LOCALS:1 += @" title = '%TSTR:ツールチップ受渡%'>"
			ELSE
				LOCALS:1 += @">"
			ENDIF
		CATCH
			LOCALS:1 += @">"
		ENDCATCH
		LOCALS:1 += @"%TRAIN_COMNAME(COUNT), 22%[{COUNT, 3}]</button>"
		SIF STRCOUNT(SAVESTR:0,LOCALS)
			LOCALS:1 += "</font>"
		;PRINTFORMC %TRAIN_COMNAME(COUNT)%[{COUNT,3}]
		改行用 += 1
	ENDIF
	IF 改行用 >= 4
		改行用 = 0
		HTML_PRINT LOCALS:1
		LOCALS:1 = 
	ENDIF
NEXT
IF LOCALS:1 != ""
	改行用 = 0
	HTML_PRINT LOCALS:1
	LOCALS:1 = 
ENDIF

PRINTL 
DRAWLINE
PRINTL [1000] - 決定　　　　　　　　　 [1001] - 通常コマンドフィルタリセット
PRINTL [1002] - コマンドフィルタの保存 [1003] - コマンドフィルタのロード
SETCOLOR 0x666666
PRINTPLAIN [1010] - SMフィルタ [1011] - Ｖフィルタ（未実装です）
RESETCOLOR
PRINTL
PRINTL [1020] - 固有コマンドフィルタへ
PRINTL [1021] - 派生コマンドフィルタへ
BINPUT
IF RESULT == 1000
	SAVESTR:ゲームフェイズ管理 = %フェイズ保存%
	RETURN 0
ELSEIF RESULT == 1001
	SAVESTR:0 = 
	RESTART
ELSEIF RESULT == 1002
	$INPUT_LOOP_SAVE
	LOADGLOBAL
	FOR ループ用,0,3
		PRINTFORM [{ループ用}] - 
		IF STRLENS(GLOBALS:(ループ用 * 2 + 1))
			PRINTFORML [%GLOBALS:(ループ用 * 2 + 1)%]
		ELSE
			PRINTL ----------
		ENDIF
	NEXT
	PRINTL [100] - 戻る
	INPUT
	LOCAL = RESULT
	IF RESULT == 100
		RESTART
	ELSEIF RESULT < 0 || RESULT > 2
		GOTO INPUT_LOOP_SAVE
	ENDIF
	SIF STRLENS(GLOBALS:(RESULT * 2 + 1))
		PRINTFORML 【%GLOBALS:(RESULT * 2 + 1)%】 このデータに上書きします
	PRINTL 通常コマンドフィルタの名前を登録してください
	INPUTS
	GLOBALS:(LOCAL * 2 + 1) = %RESULTS%
	GLOBALS:(LOCAL * 2) = %SAVESTR:0%
	PRINTFORMW 通常コマンドフィルタ【%GLOBALS:(LOCAL * 2 + 1)%】を登録しました
	SAVEGLOBAL
	RESTART
ELSEIF RESULT == 1003
	$INPUT_LOOP_LOAD
	LOADGLOBAL
	FOR LOCAL,0,3
		PRINTFORM [{LOCAL}] - 
		IF STRLENS(GLOBALS:(LOCAL * 2 + 1))
			PRINTFORML [%GLOBALS:(LOCAL * 2 + 1)%]
		ELSE
			PRINTL ----------
		ENDIF
	NEXT
	PRINTL [100] - 戻る
	INPUT
	IF RESULT == 100
		RESTART
	ELSEIF RESULT < 0 || RESULT > 2
		GOTO INPUT_LOOP_LOAD
	ENDIF
	PRINTFORMW 通常コマンドフィルタ【%GLOBALS:(RESULT * 2 + 1)%】を読み込みました
	SAVESTR:0 = %GLOBALS:(RESULT * 2)%
	RESTART
;各種フィルタ
;ELSEIF RESULT == 1010 || RESULT == 1011
;	FOR COUNT,0,500
;		;SM
;;		IF RESULT == 1010
;			SIF (COUNT >= 100 && COUNT < 120) || (COUNT >= 140 && COUNT < 160)
;				LOCAL:COUNT = 1
;		;V
;		ELSEIF RESULT == 1011
;			SIF COUNT == 3 || COUNT == 44 || COUNT == 60 || COUNT == 61 || COUNT == 65 || COUNT == 67 || COUNT == 68 || COUNT == 71 || COUNT == 122|| COUNT == 141 || COUNT == 143 || COUNT == 185
;				LOCAL:COUNT = 1
;		ENDIF
;	NEXT
ELSEIF RESULT == 1020
	$固有
	CALL OPTION_固有COMMAND_FILTER(フェイズ保存)
	SIF RESULT == 999
		GOTO 派生
ELSEIF RESULT == 1021
	$派生
	CALL OPTION_派生COMMAND_FILTER(フェイズ保存)
	SIF RESULT == 999
		GOTO 固有
ELSEIF STRLENS(TRAIN_COMNAME(RESULT))
	LOCAL:RESULT = !LOCAL:RESULT
ELSE
	RESTART
ENDIF
SAVESTR:0 = /
FOR COUNT,0,500
	SIF !LOCAL:COUNT
		CONTINUE
	LOCALS = /{COUNT}/
	SIF STRFIND(SAVESTR:0, LOCALS) < 0
		SAVESTR:0 = %SAVESTR:0%{COUNT}/
NEXT
RESTART


@OPTION_固有COMMAND_FILTER(フェイズ保存)
#DIM COM番号
#DIMS フェイズ保存
#DIM ターゲット保存
#DIM ターゲット保存２
#DIM フィルタ配列, 20, 500
#DIM 場所フィルタ配列, 10, 20, マップ部屋番号上限
#DIMS RESULTS分割, 10
#DIM 改行用

VARSET LOCAL
VARSET フィルタ配列
FOR COM番号, 370, 375
	FOR COUNT, 0, CHARANUM
		LOCALS = /{COM番号}_{COUNT}/
		SIF STRCOUNT(SAVESTR:1, LOCALS)
			フィルタ配列:(COM番号 - 370):COUNT = 1
	NEXT
NEXT
FOR COM番号, 380, 385
	FOR COUNT, 0, 20
		FOR COUNT:1, 0, マップ部屋番号上限
			LOCALS = /{COM番号}_{COUNT}_{COUNT:1}/
			SIF STRCOUNT(SAVESTR:1, LOCALS)
				場所フィルタ配列:(COM番号 - 380):COUNT:(COUNT:1) = 1
		NEXT
	NEXT
NEXT
;お祭りコマンドはフィルタ不可
SIF SAVESTR:1 == ""
	SAVESTR:1 = /
DRAWLINE
SAVESTR:ゲームフェイズ管理 = 通常モード


改行用 = 0
ターゲット保存 = TARGET
FOR COM番号, 370, 375
	FOR COUNT, 1, CHARANUM
		LOCALS = /{COM番号}_{COUNT}/
		TARGET = COUNT
		;固有コマンドのABLEがあれば当然COMNAMEもあるはずなのでTRYCCALLで判定
		TRYCCALLFORM COM_ABLE{COM番号}_{NO:TARGET}
			TSTR:ツールチップ受渡 = TRAIN_COMNAME(COM番号)
			IF STRCOUNT(SAVESTR:1,LOCALS)
				LOCALS:1 += @"<font color='#666666'><button value = '{COM番号}_{COUNT}'"
			ELSE
				LOCALS:1 += @"<button value = '{COM番号}_{COUNT}'"
			ENDIF
			TRYCCALLFORM COM_TOOLTIP_{COM番号}_{COUNT}
				IF ツールチップ切り替えOPTION記憶 == 0
					LOCALS:1 += @" title = '%TSTR:ツールチップ受渡%'>"
				ELSE
					LOCALS:1 += @">"
				ENDIF
			CATCH
				LOCALS:1 += @">"
			ENDCATCH
			LOCALS:1 += @"%CALLNAME:COUNT,20,RIGHT% - %TRAIN_COMNAME(COM番号), 22%[{COM番号}_{COUNT,3}]</button>"
			SIF STRCOUNT(SAVESTR:1,LOCALS)
				LOCALS:1 += "</font>"
			改行用 += 1
		CATCH
		ENDCATCH
		IF 改行用 >= 2
			改行用 = 0
			HTML_PRINT LOCALS:1
			LOCALS:1 = 
		ENDIF
	NEXT
NEXT
IF LOCALS:1 != ""
	改行用 = 0
	HTML_PRINT LOCALS:1
	LOCALS:1 = 
ENDIF
TARGET = ターゲット保存
PRINTL
DRAWLINE
ターゲット保存 = CFLAG:MASTER:現在位置
ターゲット保存２ = CFLAG:MASTER:現在マップ種別
FOR COM番号, 380, 385
	FOR COUNT, 0, 20
		FOR COUNT:1, 1, マップ部屋番号上限
			SIF COUNT:1 % 100 > 20
				CONTINUE
			LOCALS = /{COM番号}_{COUNT}_{COUNT:1}/
			CFLAG:MASTER:現在マップ種別 = COUNT
			CFLAG:MASTER:現在位置 = COUNT:1
			;マップ種別とりあえず入れておくだけ
			;固有コマンドのABLEがあれば当然COMNAMEもあるはずなのでTRYCCALLで判定
			TRYCCALLFORM COM_ABLE{COM番号}
				IF TRAIN_COMNAME(COM番号) != ""
					TSTR:ツールチップ受渡 = TRAIN_COMNAME(COM番号)
					IF STRCOUNT(SAVESTR:1,LOCALS)
						LOCALS:1 += @"<font color='#666666'><button value = '{COM番号}_{COUNT}_{COUNT:1}'"
					ELSE
						LOCALS:1 += @"<button value = '{COM番号}_{COUNT}_{COUNT:1}'"
					ENDIF
					TRYCCALLFORM COM_TOOLTIP_{COM番号}_{COUNT}_{COUNT:1}
						IF ツールチップ切り替えOPTION記憶 == 0
							LOCALS:1 += @" title = '%TSTR:ツールチップ受渡%'>"
						ELSE
							LOCALS:1 += @">"
						ENDIF
					CATCH
						LOCALS:1 += @">"
					ENDCATCH
					LOCALS:1 += @"%GETPLACENAME(CFLAG:PLAYER:現在マップ種別, CFLAG:MASTER:現在位置),20,RIGHT% - %TRAIN_COMNAME(COM番号),18,RIGHT%[{COM番号}_{COUNT}_{COUNT:1}]</button>"
					SIF STRCOUNT(SAVESTR:1,LOCALS)
						LOCALS:1 += "</font>"
					改行用 += 1
				ENDIF
			CATCH
			ENDCATCH
			IF 改行用 >= 2
				改行用 = 0
				HTML_PRINT LOCALS:1
				LOCALS:1 = 
			ENDIF
		NEXT
	NEXT
NEXT
IF LOCALS:1 != ""
	改行用 = 0
	HTML_PRINT LOCALS:1
	LOCALS:1 = 
ENDIF
CFLAG:MASTER:現在位置 = ターゲット保存
CFLAG:MASTER:現在マップ種別 = ターゲット保存２

PRINTL 
DRAWLINE

PRINTBUTTON "[1000] - 通常コマンドフィルタへ　　　", TOSTR(1000)
PRINTBUTTON "[1001] - 派生コマンドフィルタへ　　　", TOSTR(1001)
PRINTL
PRINTBUTTON "[1002] - 固有コマンドフィルタリセット", TOSTR(1002)
PRINTL
PRINTBUTTON "[1003] - 固有コマンドフィルタの保存　", TOSTR(1003)
PRINTBUTTON "[1004] - 固有コマンドフィルタのロード", TOSTR(1004)
PRINTL

BINPUTS

SELECTCASE RESULTS
	CASE "1000"
		SAVESTR:ゲームフェイズ管理 = %フェイズ保存%
		RETURN 0
	CASE "1001"
		RETURN 999
	CASE "1002"
		SAVESTR:1 = 
		RESTART
	CASE "1003"
		$INPUT_LOOP_SAVE
		LOADGLOBAL
		FOR LOCAL, 3, 6
			PRINTFORM [{LOCAL}] - 
			IF STRLENS(GLOBALS:(LOCAL * 2 + 1))
				PRINTFORML [%GLOBALS:(LOCAL * 2 + 1)%]
			ELSE
				PRINTL ----------
			ENDIF
		NEXT
		PRINTL [100] - 戻る
		INPUT
		LOCAL = RESULT
		IF LOCAL == 100
			RESTART
		ELSEIF LOCAL < 3 || LOCAL > 5
			GOTO INPUT_LOOP_SAVE
		ENDIF
		SIF STRLENS(GLOBALS:(RESULT * 2 + 1))
			PRINTFORML 【%GLOBALS:(LOCAL * 2 + 1)%】 このデータに上書きします
		PRINTL 固有コマンドフィルタの名前を登録してください
		INPUTS
		GLOBALS:(LOCAL * 2 + 1) = %RESULTS%
		GLOBALS:(LOCAL * 2) = %SAVESTR:1%
		PRINTFORMW 固有コマンドフィルタ【%GLOBALS:(LOCAL * 2 + 1)%】を登録しました
		SAVEGLOBAL
		RESTART
	CASE "1004"
		$INPUT_LOOP_LOAD
		LOADGLOBAL
		FOR LOCAL, 3, 6
			PRINTFORM [{LOCAL}] - 
			IF STRLENS(GLOBALS:(LOCAL * 2 + 1))
				PRINTFORML [%GLOBALS:(LOCAL * 2 + 1)%]
			ELSE
				PRINTL ----------
			ENDIF
		NEXT
		PRINTL [100] - 戻る
		INPUT
		IF RESULT == 100
			RESTART
		ELSEIF RESULT < 3 || RESULT > 5
			GOTO INPUT_LOOP_LOAD
		ENDIF
		PRINTFORMW 固有コマンドフィルタ【%GLOBALS:(RESULT * 2 + 1)%】を読み込みました
		SAVESTR:1 = %GLOBALS:(RESULT * 2)%
		RESTART
	CASEELSE
		LOCALS = /%RESULTS%/
		IF !STRCOUNT(SAVESTR:1,LOCALS)
			SAVESTR:1 = %SAVESTR:1%%RESULTS%/
		ELSE
			SAVESTR:1 = %REPLACE(SAVESTR:1, LOCALS, "/")%
		ENDIF
ENDSELECT

; SAVESTR:1 = /
; FOR COM番号, 370, 375
; 	FOR COUNT, 1, CHARANUM
; 		SIF !フィルタ配列:(COM番号 - 370):COUNT
; 			CONTINUE
; 		LOCALS = /{COM番号}_{COUNT}/
; 		SIF !STRCOUNT(SAVESTR:1,LOCALS)
; 			SAVESTR:1 = %SAVESTR:1%{COM番号}_{COUNT}/
; 	NEXT
; NEXT
; FOR COM番号, 380, 385
; 	FOR COUNT, 1, 20
; 		FOR COUNT:1, 1, 2000
; 			SIF COUNT:1 % 100 > 20
; 				CONTINUE
; 			SIF !場所フィルタ配列:(COM番号 - 380):COUNT:(COUNT:1)
; 				CONTINUE
; 			LOCALS = /{COM番号}_{COUNT}_{COUNT:1}/
; 			SIF !STRCOUNT(SAVESTR:1,LOCALS)
; 				SAVESTR:1 = %SAVESTR:1%{COM番号}_{COUNT}_{COUNT:1}/
; 		NEXT
; 	NEXT
; NEXT

RESTART

$処理部分ラベル


@OPTION_派生COMMAND_FILTER(フェイズ保存)
#DIM COM番号
#DIM ターゲット保存
#DIMS フェイズ保存
#DIM フィルタ配列, 500, 50
#DIMS RESULTS分割, 10
#DIM 改行用

VARSET LOCAL
VARSET フィルタ配列
FOR COM番号, 0, 500
	FOR COUNT, 1, 50
		LOCALS = /{COM番号}_{COUNT}/
		SIF STRCOUNT(SAVESTR:2, LOCALS)
			フィルタ配列:COM番号:COUNT = 1
	NEXT
NEXT
SIF SAVESTR:2 == ""
	SAVESTR:2 = /
DRAWLINE
SAVESTR:ゲームフェイズ管理 = 通常モード

改行用 = 0
FOR COM番号, 0, 500
	SIF COM番号 >= 370 && COM番号 <=390
		CONTINUE
	FOR COUNT, 1, 50
		LOCALS = /{COM番号}_{COUNT}/
		LOCALS:1 = {COM番号}_{COUNT}
		SIF STRCOUNT(SAVESTR:2,LOCALS)
			SETCOLOR 0x666666
		;派生コマンドのABLEがあれば当然COMNAMEもあるはずなのでTRYCCALLで判定
		TRYCCALLFORM COM_ABLE_S%LOCALS:1%
			IF TRAIN_COMNAME_S(LOCALS:1) != ""
				TSTR:ツールチップ受渡 = TRAIN_COMNAME_S(LOCALS:1)
				IF STRCOUNT(SAVESTR:2,LOCALS)
					LOCALS:2 += @"<font color='#666666'><button value = '%LOCALS:1%'"
				ELSE
					LOCALS:2 += @"<button value = '%LOCALS:1%'"
				ENDIF
				TRYCCALLFORM COM_TOOLTIP_S{COM番号}_{COUNT}
					IF ツールチップ切り替えOPTION記憶 == 0
						LOCALS:2 += @" title = '%TSTR:ツールチップ受渡%'>"
					ELSE
						LOCALS:2 += @">"
					ENDIF
				CATCH
					LOCALS:2 += @">"
				ENDCATCH
				LOCALS:2 += @"%TRAIN_COMNAME(COM番号), 20, RIGHT%派生 - %TRAIN_COMNAME_S(LOCALS:1), 20, LEFT%[{COM番号}_{COUNT,2}]</button>"
				SIF STRCOUNT(SAVESTR:2,LOCALS)
					LOCALS:2 += "</font>"
				改行用 += 1
				;PRINTBUTTON @"%TRAIN_COMNAME(COM番号), 20, RIGHT%派生 - %TRAIN_COMNAME_S(LOCALS:1), 20, LEFT%[{COM番号}_{COUNT,2}]", @"%LOCALS:1%"
			ENDIF
		CATCH
		ENDCATCH
		IF 改行用 >= 2
			改行用 = 0
			HTML_PRINT LOCALS:2
			LOCALS:2 = 
		ENDIF
	NEXT
NEXT
IF LOCALS:2 != ""
	改行用 = 0
	HTML_PRINT LOCALS:2
	LOCALS:2 = 
ENDIF

PRINTL 
DRAWLINE

PRINTBUTTON "[1000] - 通常コマンドフィルタへ　　　", TOSTR(1000)
PRINTBUTTON "[1001] - 固有コマンドフィルタへ　　　", TOSTR(1001)
PRINTL
PRINTBUTTON "[1002] - 派生コマンドフィルタリセット", TOSTR(1002)
PRINTL
PRINTBUTTON "[1003] - 派生コマンドフィルタの保存　", TOSTR(1003)
PRINTBUTTON "[1004] - 派生コマンドフィルタのロード", TOSTR(1004)
PRINTL

INPUTS

SELECTCASE RESULTS
	CASE "1000"
		SAVESTR:ゲームフェイズ管理 = %フェイズ保存%
		RETURN 0
	CASE "1001"
		RETURN 999
	CASE "1002"
		SAVESTR:2 = 
		RESTART
	CASE "1003"
		$INPUT_LOOP_SAVE
		LOADGLOBAL
		FOR LOCAL, 6, 9
			PRINTFORM [{LOCAL}] - 
			IF STRLENS(GLOBALS:(LOCAL * 2 + 1))
				PRINTFORML [%GLOBALS:(LOCAL * 2 + 1)%]
			ELSE
				PRINTL ----------
			ENDIF
		NEXT
		PRINTL [100] - 戻る
		INPUT
		LOCAL = RESULT
		IF LOCAL == 100
			RESTART
		ELSEIF LOCAL < 6 || LOCAL > 8
			GOTO INPUT_LOOP_SAVE
		ENDIF
		SIF STRLENS(GLOBALS:(LOCAL * 2 + 1))
			PRINTFORML 【%GLOBALS:(LOCAL * 2 + 1)%】 このデータに上書きします
		PRINTL 派生コマンドフィルタの名前を登録してください
		INPUTS
		GLOBALS:(LOCAL * 2 + 1) = %RESULTS%
		GLOBALS:(LOCAL * 2) = %SAVESTR:2%
		PRINTFORMW 派生コマンドフィルタ【%GLOBALS:(LOCAL * 2 + 1)%】を登録しました
		SAVEGLOBAL
		RESTART
	CASE "1004"
		$INPUT_LOOP_LOAD
		LOADGLOBAL
		FOR LOCAL, 6, 9
			PRINTFORM [{LOCAL}] - 
			IF STRLENS(GLOBALS:(LOCAL * 2 + 1))
				PRINTFORML [%GLOBALS:(LOCAL * 2 + 1)%]
			ELSE
				PRINTL ----------
			ENDIF
		NEXT
		PRINTL [100] - 戻る
		INPUT
		IF RESULT == 100
			RESTART
		ELSEIF RESULT < 6 || RESULT > 8
			GOTO INPUT_LOOP_LOAD
		ENDIF
		PRINTFORMW 派生コマンドフィルタ【%GLOBALS:(RESULT * 2 + 1)%】を読み込みました
		SAVESTR:2 = %GLOBALS:(RESULT * 2)%
		RESTART
	CASEELSE
		SPLIT RESULTS, "_", RESULTS分割
		IF RESULT == 2
			フィルタ配列:(TOINT(RESULTS分割:0)):(TOINT(RESULTS分割:1)) = !フィルタ配列:(TOINT(RESULTS分割:0)):(TOINT(RESULTS分割:1))
		ELSE
			RESTART
		ENDIF
ENDSELECT

SAVESTR:2 = /
FOR COM番号, 0, 500
	FOR COUNT, 1, 50
		SIF !フィルタ配列:COM番号:COUNT
			CONTINUE
		PRINTFORML {フィルタ配列:COM番号:COUNT}
		LOCALS = /{COM番号}_{COUNT}/
		SIF !STRCOUNT(SAVESTR:2,LOCALS)
			SAVESTR:2 = %SAVESTR:2%{COM番号}_{COUNT}/
	NEXT
NEXT

RESTART

$処理部分ラベル


@OPTION_素質切り替え
DRAWLINE
PRINTL すべてのキャラクターのうち、特定の素質を別の素質で置き換えます。
PRINTL （※一度置き換えた後は戻すことが出来ません）
DRAWLINE
IF 素質切り替えOPTION記憶:ふたなり_女性
	PRINTBUTTON "[0][ふたなり]を[女性]に変更する（適用済み）", 0
ELSE
	PRINTBUTTON "[0][ふたなり]を[女性]に変更する", 0
ENDIF
PRINTL
IF 素質切り替えOPTION記憶:陥没乳首_なし
	PRINTBUTTON "[1][陥没乳首]を[なし]に変更する（適用済み）", 1
ELSE
	PRINTBUTTON "[1][陥没乳首]を[なし]に変更する", 1
ENDIF
PRINTL
IF 素質切り替えOPTION記憶:母乳体質_なし && 素質切り替えOPTION記憶:母乳体質_発情期_なし
	PRINTBUTTON "[2][母乳体質]を[なし]に変更する（適用済み）", 2
ELSE
	PRINTBUTTON "[2][母乳体質]を[なし]に変更する", 2
ENDIF
PRINTL
PRINTBUTTON "[999]戻る", 999
PRINTL
DRAWLINE

$INPUT_LOOP
BINPUT

SELECTCASE RESULT
	CASE 0
		IF 素質切り替えOPTION記憶:ふたなり_女性
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		PRINTL [ふたなり]を[女性]に変更します。変更後は元に戻すことは出来ません。
		PRINTL よろしいですか？
		PRINTBUTTON "[0]今後追加されるキャラも含めて変更する", 0
		PRINTL
		PRINTBUTTON "[1]今存在するキャラのみ変更する", 1
		PRINTL
		PRINTBUTTON "[2]関連する経験（射精経験）を今いるキャラから消す", 2
		PRINTL
		PRINTBUTTON "[10]変更しない", 10
		PRINTL
		$INPUT_LOOP2
		INPUT
		SELECTCASE RESULT
			CASE 0
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:性別 == 3
						TALENT:LOCAL:性別 = 1
					ENDIF
				NEXT
				素質切り替えOPTION記憶:ふたなり_女性 = 1
				PRINTW 変更が終了しました。
				RESTART
			CASE 1
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:性別 == 3
						TALENT:LOCAL:性別 = 1
					ENDIF
				NEXT
				PRINTW 変更が終了しました。
				RESTART
			CASE 2
				FOR LOCAL, 1, CHARANUM
					IF EXP:LOCAL:射精経験
						EXP:LOCAL:射精経験 = 0
					ENDIF
				NEXT
				PRINTW 消去が終了しました。
				RESTART
			CASE 10
				RESTART
			CASEELSE
				REUSELASTLINE 
				GOTO INPUT_LOOP2
		ENDSELECT
	CASE 1
		IF 素質切り替えOPTION記憶:陥没乳首_なし
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		PRINTL [陥没乳首]を[なし]に変更します。変更後は元に戻すことは出来ません。
		PRINTL よろしいですか？
		PRINTBUTTON "[0]今後追加されるキャラも含めて変更する", 0
		PRINTL
		PRINTBUTTON "[1]今存在するキャラのみ変更する", 1
		PRINTL
		PRINTBUTTON "[10]変更しない", 10
		PRINTL
		$INPUT_LOOP3
		INPUT
		SELECTCASE RESULT
			CASE 0
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:陥没乳首
						TALENT:LOCAL:陥没乳首 = 0
					ENDIF
				NEXT
				素質切り替えOPTION記憶:陥没乳首_なし = 1
				PRINTW 変更が終了しました。
				RESTART
			CASE 1
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:陥没乳首
						TALENT:LOCAL:陥没乳首 = 0
					ENDIF
				NEXT
				PRINTW 変更が終了しました。
				RESTART
			CASE 10
				RESTART
			CASEELSE
				REUSELASTLINE 
				GOTO INPUT_LOOP3
		ENDSELECT
	CASE 2
		IF 素質切り替えOPTION記憶:母乳体質_なし && 素質切り替えOPTION記憶:母乳体質_発情期_なし
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
		PRINTL [母乳体質]を[なし]に変更します。変更後は元に戻すことは出来ません。
		PRINTL よろしいですか？
		IF 素質切り替えOPTION記憶:母乳体質_なし
			SETCOLOR 0x666666
			PRINTPLAIN [0]今後追加されるキャラも含めて変更する（適用済み）
			PRINTL
			PRINTPLAIN [1]今存在するキャラのみ変更する（適用済み）
			PRINTL
			RESETCOLOR
		ELSE
			PRINTBUTTON "[0]今後追加されるキャラも含めて変更する", 0
			PRINTL
			PRINTBUTTON "[1]今存在するキャラのみ変更する", 1
			PRINTL
		ENDIF
		IF 素質切り替えOPTION記憶:母乳体質_発情期_なし
			SETCOLOR 0x666666
			PRINTPLAIN [2]ドラフの[母乳体質(発情期)]を消す（適用済み）
			RESETCOLOR
		ELSE
			PRINTBUTTON "[2]ドラフの[母乳体質(発情期)]を消す", 2
		ENDIF
		PRINTBUTTON "[3]関連する経験（噴乳経験）を今いるキャラから消す", 3
		PRINTL
		PRINTBUTTON "[10]変更しない", 10
		PRINTL
		$INPUT_LOOP4
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF 素質切り替えOPTION記憶:母乳体質_なし
					REUSELASTLINE 
					GOTO INPUT_LOOP4
				ENDIF
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:母乳体質 == 1
						TALENT:LOCAL:母乳体質 = 0
					ENDIF
				NEXT
				素質切り替えOPTION記憶:母乳体質_なし = 1
				PRINTW 変更が終了しました。
				RESTART
			CASE 1
				IF 素質切り替えOPTION記憶:母乳体質_なし
					REUSELASTLINE 
					GOTO INPUT_LOOP4
				ENDIF
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:母乳体質
						TALENT:LOCAL:母乳体質 = 0
					ENDIF
				NEXT
				PRINTW 変更が終了しました。
				RESTART
			CASE 2
				IF 素質切り替えOPTION記憶:母乳体質_発情期_なし
					REUSELASTLINE 
					GOTO INPUT_LOOP4
				ENDIF
				FOR LOCAL, 1, CHARANUM
					IF TALENT:LOCAL:母乳体質 == 2
						TALENT:LOCAL:母乳体質 = 0
					ENDIF
				NEXT
				素質切り替えOPTION記憶:母乳体質_発情期_なし = 1
				PRINTW 変更が終了しました。
				RESTART
			CASE 3
				FOR LOCAL, 1, CHARANUM
					IF EXP:LOCAL:噴乳経験
						EXP:LOCAL:噴乳経験 = 0
					ENDIF
				NEXT
				PRINTW 消去が終了しました。
				RESTART
			CASE 10
				RESTART
			CASEELSE
				REUSELASTLINE 
				GOTO INPUT_LOOP4
		ENDSELECT
	CASE 999
		RETURN
ENDSELECT



@OPTION_機能切り替え(初期表示 = 0)
#DIM カテゴリ切り替え変数
#DIM 画面表示用変数
#DIM 対象キャラ
#DIM 初期表示

IF 初期表示
	画面表示用変数 = 初期表示 % 10000
	カテゴリ切り替え変数 = 初期表示 / 10000
ENDIF

DRAWLINE
PRINTL 機能関連のオプション画面です
PRINTL ※開発中のため、正しく挙動しないことがあります。
DRAWLINE
LOCALS = <div rect='81,50,5969,250' padding='50,25,50' border='31' bcolor='#C0C0C0'>
IF カテゴリ切り替え変数 == 0
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[0] システム</font></nonbutton>"
ELSE
	LOCALS += "<button value='0'>[0] システム</button>"
ENDIF
LOCALS += "　/　"
IF カテゴリ切り替え変数 == 1
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[1] うふふ</font></nonbutton>"
ELSE
	LOCALS += "<button value='1'>[1] うふふ</button>"
ENDIF
LOCALS += "　/　"
IF カテゴリ切り替え変数 == 2
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[2] 画像関連</font></nonbutton>"
ELSE
	LOCALS += "<button value='2'>[2] 画像関連</button>"
ENDIF
LOCALS += "　/　"
IF カテゴリ切り替え変数 == 3
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[3] 探索・戦闘</font></nonbutton>"
ELSE
	LOCALS += "<button value='3'>[3] 探索・戦闘</button>"
ENDIF
LOCALS += "</div>"
LOCALS += "<div rect='81,331,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,331,4000,2812' border='31' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='156,456,1937,2812'>"

VARSET RESULTS
CALLFORM 機能オプション左枠_{カテゴリ切り替え変数}(画面表示用変数)
LOCALS += RESULTS
LOCALS += "</div>"

LOCALS += "<div rect='2125,456,3875,2812'>"
CALLFORM 機能オプション右枠_{カテゴリ切り替え変数}(画面表示用変数)
LOCALS += RESULTS
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 28
	PRINTL
NEXT
DRAWLINE

BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 0 TO 3
		カテゴリ切り替え変数 = LOCAL
		画面表示用変数 = 100
	CASE 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200
		画面表示用変数 = LOCAL
	CASE 999
		画面表示用変数 = 0
		カテゴリ切り替え変数 = 0
		RETURN 0
	CASEELSE
		CALLFORM 機能オプション実行処理_{カテゴリ切り替え変数}(LOCAL)
ENDSELECT

RESTART

@機能オプション左枠_0(画面表示用変数)
#DIM 画面表示用変数
;システム全般機能
LOCALS = 
IF 画面表示用変数 == 100
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[100] 口上テキスト設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='100'>[100] 口上テキスト設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 200
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[200] 身体項目表示切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='200'>[200] 身体項目表示切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 300
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[300] キャラクター招待設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='300'>[300] キャラクター招待設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 400
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[400] オートコマンド可否切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='400'>[400] オートコマンド可否切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 500
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[500] ツールチップ切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='500'>[500] ツールチップ切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 600
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[600] サイド領域表示切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='600'>[600] サイド領域表示切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 700
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[700] 縁結び同性愛オプション</font></nonbutton>"
ELSE
	LOCALS += "<button value='700'>[700] 縁結び同性愛オプション</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"

RESULTS '= LOCALS

@機能オプション右枠_0(画面表示用変数)
#DIM 画面表示用変数
;システム全般機能

LOCALS = 
SELECTCASE 画面表示用変数
	CASE 100
		LOCALS += "・口上テキスト設定<br>"
		LOCALS += "コマンド実行時のテキスト表示設定を切り替えます。<br>"
		LOCALS += "<br>"
		LOCALS += "現在の設定："
		IF FLAG:汎用文章表示切り替えオプション == 1 && FLAG:口上表示切り替えオプション == 2
			LOCALS += "【口上テキスト（常に表示）＋情景テキスト】<br>"
			LOCALS += "<br>"
			LOCALS += "<button value='102'>[102] 【情景テキストのみ】にする</button><br>"
			LOCALS += "<button value='103'>[103] 【テキストを表示しない】にする</button><br>"
		ELSEIF FLAG:汎用文章表示切り替えオプション == 1 && FLAG:口上表示切り替えオプション == -1
			LOCALS += "【情景テキストのみ】<br>"
			LOCALS += "<br>"
			LOCALS += "<button value='101'>[101] 【口上テキスト（常に表示）＋情景テキスト】にする</button><br>"
			LOCALS += "<button value='103'>[103] 【テキストを表示しない】にする</button><br>"
		ELSEIF FLAG:汎用文章表示切り替えオプション == 0 && FLAG:口上表示切り替えオプション == -1
			LOCALS += "【テキストを表示しない】<br>"
			LOCALS += "<br>"
			LOCALS += "<button value='101'>[101] 【口上テキスト（常に表示）＋情景テキスト】にする</button><br>"
			LOCALS += "<button value='102'>[102] 【情景テキストのみ】にする</button><br>"
		ENDIF
	CASE 200
		LOCALS += "・身体項目表示切り替え<br>"
		LOCALS += "身長・バストサイズ・体型などの表示を切り替えます。<br>"
		LOCALS += "<br>"
		LOCALS += @"　身長の数値　　（現在：\@ GETBIT(身体項目表示切り替えOPTION, 0)? 表示する　# 表示しない\@ / <font color='#666666'><button value='201'>[201] \@ GETBIT(身体項目表示切り替えOPTION, 0)? 表示しない# 表示する　\@</button></font>）<br>"
		LOCALS += @"　バストの数値　（現在：\@ GETBIT(身体項目表示切り替えOPTION, 1)? 表示する　# 抽象的表現\@ / <font color='#666666'><button value='202'>[202] \@ GETBIT(身体項目表示切り替えOPTION, 1)? 抽象的表現# 表示する　\@</button></font>）<br>"
		LOCALS += @"　体型　　　　　（現在：\@ GETBIT(身体項目表示切り替えOPTION, 2)? 表示する　# 表示しない\@ / <font color='#666666'><button value='203'>[203] \@ GETBIT(身体項目表示切り替えOPTION, 2)? 表示しない# 表示する　\@</button></font>）<br>"
	CASE 300
		LOCALS += "・キャラクター招待設定<br>"
		LOCALS += "リゾートに訪れるキャラの設定を行います。<br>"
		LOCALS += "※広告による招待・常連素質による訪問に影響します<br>"
		LOCALS += "　ZPショップによる解放・イベントなどでの訪問は設定に関わらず実行されます。<br>"
		LOCALS += "<br>"
		LOCALS += "・性別による設定<br>"
		LOCALS += "　　女性："
		IF GETBIT(性別招待制御OPTION, 0)
			LOCALS += @"<button value='301'>[301] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='301'>[301] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "　　男性："
		IF GETBIT(性別招待制御OPTION, 1)
			LOCALS += @"<button value='302'>[302] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='302'>[302] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "ふたなり："
		IF GETBIT(性別招待制御OPTION, 2)
			LOCALS += @"<button value='303'>[303] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='303'>[303] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "　その他："
		IF GETBIT(性別招待制御OPTION, 3)
			LOCALS += @"<button value='304'>[304] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='304'>[304] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "・固有処理フォルダによる設定<br>"
		LOCALS += "　※この設定は口上ファイルの存在のみを見ており、充実度を保証するものではありません。<br>"
		LOCALS += "　　性質上、ランダムキャラや子供には機能しません。<br>"
		LOCALS += "　　口上あり："
		IF GETBIT(口上招待制御OPTION, 0)
			LOCALS += @"<button value='310'>[310] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='310'>[310] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "　　口上なし："
		IF GETBIT(口上招待制御OPTION, 1)
			LOCALS += @"<button value='311'>[311] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
		ELSE
			LOCALS += @"<button value='311'>[311] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
		ENDIF
	CASE 400
		LOCALS += "・オートコマンド可否切り替え<br>"
		LOCALS += "キャラクターが自動で行動する機能を切り替えます。<br>"
		LOCALS += "※許可系とは、発動時にあなたへ許可を取るコマンドを言います。手コキ、挿入系など<br>"
		LOCALS += "<br>"
		IF GETBIT(FLAG:オートコマンド切り替えオプション, 0)
			LOCALS += "<button value='401'>[401] オート専用コマンドを許可する（現在：禁止）</button>"
		ELSE
			LOCALS += "<button value='401'>[401] オート専用コマンドを禁止する（現在：許可）</button>"
		ENDIF
		LOCALS += "<br>"
		IF GETBIT(FLAG:オートコマンド切り替えオプション, 1)
			LOCALS += "<button value='402'>[402] 通常コマンドのオート使用を許可する（現在：禁止）</button>"
		ELSE
			LOCALS += "<button value='402'>[402] 通常コマンドのオート使用を禁止する（現在：許可）</button>"
		ENDIF
		LOCALS += "<br>"
		IF GETBIT(FLAG:オートコマンド切り替えオプション, 2)
			LOCALS += "<button value='403'>[403] 自慰系コマンドのオート使用を許可する（現在：禁止）</button>"
		ELSE
			LOCALS += "<button value='403'>[403] 自慰系コマンドのオート使用を禁止する（現在：許可）</button>"
		ENDIF
		LOCALS += "<br>"
		IF GETBIT(FLAG:オートコマンド切り替えオプション, 3)
			LOCALS += "<button value='404'>[404] 許可系コマンドのオート使用を許可する（現在：禁止）</button>"
		ELSE
			LOCALS += "<button value='404'>[404] 許可系コマンドのオート使用を禁止する（現在：許可）</button>"
		ENDIF
		LOCALS += "<br>"
	CASE 500
		LOCALS += "・ツールチップ切り替え<br>"
		LOCALS += "特定の場所にマウスカーソルを合わせた際にポップアップ表示されるツールチップの表示を切り替えます。<br>"
		LOCALS += "（※本来得られるべき情報が得られなくなるため、通常時はONを強く推奨）<br>"
		LOCALS += "<br>"
		IF ツールチップ切り替えOPTION記憶 == 0
			LOCALS += "　<button value='501'>[501] ツールチップをOFFにする（現在ON）</button>"
		ELSEIF ツールチップ切り替えOPTION記憶
			LOCALS += "　<button value='501'>[501] ツールチップをONにする（現在OFF）</button>"
		ENDIF
	CASE 600
		LOCALS += "・サイド領域表示切り替え<br>"
		LOCALS += "ゲーム画面右側にあるサイド領域の表示/非表示を切り替えます。<br>"
		LOCALS += "<br>"
		IF サイド領域非表示オプション == 0
			LOCALS += "　<button value='601'>[601] サイド領域を非表示にする（現在：表示）</button>"
		ELSEIF サイド領域非表示オプション
			LOCALS += "　<button value='601'>[601] サイド領域を表示する（現在：非表示）</button>"
		ENDIF
	CASE 700
		LOCALS += "・縁結び同性愛オプション<br>"
		LOCALS += "縁結びを設定する際、同性を対象にする場合に［同性愛］素質が必要かどうかを切り替えます。<br>"
		LOCALS += "デフォルト設定：設定キャラに［同性愛］がない場合、同性を対象に出来ない。<br>"
		LOCALS += "　　　　　　　　対象キャラに［同性愛］がない場合、進行度が上昇しない。<br>"
		LOCALS += "　自動取得設定：設定キャラに［同性愛］がなくても同性を対象に出来る。<br>"
		LOCALS += "　　　　　　　　進行度が一定値に達した時、設定キャラと対象キャラが自動的に［同性愛：興味］を取得する。<br>"
		LOCALS += "<br>"
		IF 縁結び同性愛オプション == 0
			LOCALS += "　<button value='701'>[701] 自動取得設定にする（現在：デフォルト設定）</button>"
		ELSEIF 縁結び同性愛オプション
			LOCALS += "　<button value='701'>[701] デフォルト設定にする（現在：自動取得設定）</button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "・同性愛処女・童貞オプション<br>"
		LOCALS += "夜這いが発生した際、同性カップルの時に処女・童貞を散らすかどうかを設定します。<br>"
		LOCALS += "デフォルト設定：条件を満たしている場合、処女・童貞を散らす。<br>"
		LOCALS += "　純潔維持設定：処女・童貞がある場合セックス処理を行わず、愛撫処理のみ実行する。<br>"
		LOCALS += "<br>"
		IF 同性愛処女・童貞オプション == 0
			LOCALS += "　<button value='702'>[702] 純潔維持設定にする（現在：デフォルト設定）</button>"
		ELSEIF 同性愛処女・童貞オプション
			LOCALS += "　<button value='702'>[702] デフォルト設定にする（現在：純潔維持設定）</button>"
		ENDIF
		LOCALS += "<br>"
ENDSELECT

RESULTS '= LOCALS

@機能オプション実行処理_0(入力値)
#DIM 入力値
;システム全般機能

SELECTCASE 入力値
	CASE 101
		FLAG:汎用文章表示切り替えオプション = 1
		FLAG:口上表示切り替えオプション = 2
	CASE 102
		FLAG:汎用文章表示切り替えオプション = 1
		FLAG:口上表示切り替えオプション = -1
	CASE 103
		FLAG:汎用文章表示切り替えオプション = 0
		FLAG:口上表示切り替えオプション = -1
	CASE 201 TO 203
		INVERTBIT 身体項目表示切り替えOPTION, (入力値 - 201)
	CASE 301 TO 304
		INVERTBIT 性別招待制御OPTION, (入力値 - 301)
	CASE 310 TO 311
		INVERTBIT 口上招待制御OPTION, (入力値 - 310)
	CASE 401 TO 404
		INVERTBIT FLAG:オートコマンド切り替えオプション, 入力値 - 401
	CASE 501
		INVERTBIT ツールチップ切り替えOPTION記憶, 0
	CASE 601
		INVERTBIT サイド領域非表示オプション, 0
	CASE 701
		INVERTBIT 縁結び同性愛オプション, 0
	CASE 702
		INVERTBIT 同性愛処女・童貞オプション, 0
ENDSELECT


@機能オプション左枠_1(画面表示用変数)
#DIM 画面表示用変数
;うふふ機能
LOCALS = 
IF 画面表示用変数 == 100
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[100] 発情期切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='100'>[100] 発情期切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 200
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[200] 妊娠切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='200'>[200] 妊娠切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 300
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[900] 汎用喘ぎ設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='300'>[300] 汎用喘ぎ設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 400
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[400] 一日終了時オナニー関連</font></nonbutton>"
ELSE
	LOCALS += "<button value='400'>[400] 一日終了時オナニー関連</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 500
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[500] オート射精設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='500'>[500] オート射精設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 600
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[600] 子宮口関連設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='600'>[600] 子宮口関連設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 700
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[700] 連れ込み禁止設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='700'>[700] 連れ込み禁止設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 800
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[800] あなた射精我慢設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='800'>[800] あなた射精我慢設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 900
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[900] 欲情フィールド設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='900'>[900] 欲情フィールド設定</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"

RESULTS '= LOCALS

@機能オプション右枠_1(画面表示用変数)
#DIM 画面表示用変数
;うふふ機能

LOCALS = 
SELECTCASE 画面表示用変数
	CASE 100
		LOCALS += "・発情期切り替え<br>"
		LOCALS += "エルーンやドラフ、あるいは特定キャラに訪れる発情期のON/OFFを切り替えます。<br>"
		LOCALS += "<br>"
		;発情期切り替えOPTION記憶 BIT管理 0:エルーン女性 1:エルーン男性 2:ドラフ女性 3:ドラフ男性 4:発情あり女性 5:発情あり男性
		LOCALS += "　<button value='101'>[101] 全体の発情期をONにする</button><br>"
		LOCALS += "　<button value='102'>[102] 全体の発情期をOFFにする</button><br><br>"
		LOCALS += "　<button value='103'>[103] エルーン女性（ふたなり）の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 0) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "　<button value='104'>[104] エルーン男性の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 1) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "　<button value='105'>[105] ドラフ女性（ふたなり）の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 2) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "　<button value='106'>[106] ドラフ男性の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 3) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "　<button value='107'>[107] 発情あり素質を持つ女性（ふたなり）の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 4) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "　<button value='108'>[108] 発情あり素質を持つ男性の発情期を切り替え：現在"
		IF GETBIT(発情期切り替えOPTION記憶, 5) == 0
			LOCALS += "ON</button><br>"
		ELSE
			LOCALS += "OFF</button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "・男ドラフ発情期時・体質切り替え<br>"
		LOCALS += "男ドラフが発情期になった時、母乳体質を適用するかどうかを切り替えます。<br>"
		LOCALS += "<br>"
		IF 男ドラフ母乳OPTION記憶
			LOCALS += "　<button value='110'>[110] 母乳体質を適用する / <font color='#666666'>適用しない</font></button><br>"
		ELSE
			LOCALS += "　<button value='110'>[110] <font color='#666666'>母乳体質を適用する</font> / 適用しない</button><br>"
		ENDIF
	CASE 200
		LOCALS += "・妊娠切り替え<br>"
		LOCALS += "セックスによって妊娠する機能のON/OFFを切り替えます。<br>"
		LOCALS += "<br>"
		IF 妊娠切り替えOPTION記憶 == 0
			LOCALS += "　<button value='201'>[201] 妊娠機能をOFFにする（現在ON）</button>"
		ELSEIF 妊娠切り替えOPTION記憶
			LOCALS += "　<button value='201'>[201] 妊娠機能をONにする（現在OFF）</button>"
		ENDIF
	CASE 300
		LOCALS += "・汎用喘ぎ切り替え<br>"
		LOCALS += "快楽を得た時に表示される汎用喘ぎの設定を変更します。<br>"
		LOCALS += "表示されるタイミングはコマンド地の文の後、口上の前です。<br>"
		LOCALS += "<br>"
		LOCALS += "※能力表示画面から設定出来る、キャラ個別の汎用喘ぎ使用可不可設定の方が優先されます。<br>"
		LOCALS += "<br>"
		LOCALS += "・女性（ふたなり・その他）キャラ汎用喘ぎ（現在："
		SELECTCASE 汎用喘ぎ使用OPTION
			CASE 0
				LOCALS += "使用しない）<br>"
				LOCALS += "　　　[使用しない] / <font color='#666666'><button value='302'>[口上無しキャラのみ使用]</button></font> / <font color='#666666'><button value='303'>[全てのキャラに使用]</button></font><br>"
			CASE 1
				LOCALS += "口上が無いキャラのみ使用）<br>"
				LOCALS += "　　　<font color='#666666'><button value='301'>[使用しない]</button></font> / [口上無しキャラのみ使用] / <font color='#666666'><button value='303'>[全てのキャラに使用]</button></font><br>"
			CASE 3
				LOCALS += "全てのキャラに使用）<br>"
				LOCALS += "　　　<font color='#666666'><button value='301'>[使用しない]</button></font> / <font color='#666666'><button value='302'>[口上無しキャラのみ使用]</button></font> / [全てのキャラに使用]<br>"
		ENDSELECT
		LOCALS += "<br>"
		LOCALS += "・男性キャラ汎用喘ぎ（現在："
		SELECTCASE 汎用喘ぎ使用OPTION_男
			CASE 0
				LOCALS += "使用しない）<br>"
				LOCALS += "　　　[使用しない] / <font color='#666666'><button value='305'>[口上無しキャラのみ使用]</button></font> / <font color='#666666'><button value='306'>[全てのキャラに使用]</button></font><br>"
			CASE 1
				LOCALS += "口上が無いキャラのみ使用）<br>"
				LOCALS += "　　　<font color='#666666'><button value='304'>[使用しない]</button></font> / [口上無しキャラのみ使用] / <font color='#666666'><button value='306'>[全てのキャラに使用]</button></font><br>"
			CASE 3
				LOCALS += "全てのキャラに使用）<br>"
				LOCALS += "　　　<font color='#666666'><button value='304'>[使用しない]</button></font> / <font color='#666666'><button value='305'>[口上無しキャラのみ使用]</button></font> / [全てのキャラに使用]<br>"
		ENDSELECT
	CASE 400
		LOCALS += "・一日終了時オナニー関連<br>"
		LOCALS += "性別ごとに一日終了時オナニーについて設定します。<br>"
		LOCALS += "オナニーそのものを禁止した場合、絶頂や経験の増加は行われませんが性欲は減少します。<br>"
		LOCALS += "<br>"
		SELECTCASE 一日終了時オナニーOPTION:1
			CASE 0
				LOCALS += "女性　　：[通常実行] / <font color='#666666'><button value='412'>[実行するが報告非表示]</button></font> / <font color='#666666'><button value='413'>[実行しない]</button></font><br>"
			CASE 1
				LOCALS += "女性　　：<font color='#666666'><button value='411'>[通常実行]</button></font> / [実行するが報告非表示] / <font color='#666666'><button value='413'>[実行しない]</button></font><br>"
			CASE 2
				LOCALS += "女性　　：<font color='#666666'><button value='411'>[通常実行]</button></font> / <font color='#666666'><button value='412'>[実行するが報告非表示]</button></font> / [実行しない]<br>"
		ENDSELECT
		SELECTCASE 一日終了時オナニーOPTION:2
			CASE 0
				LOCALS += "男性　　：[通常実行] / <font color='#666666'><button value='422'>[実行するが報告非表示]</button></font> / <font color='#666666'><button value='423'>[実行しない]</button></font><br>"
			CASE 1
				LOCALS += "男性　　：<font color='#666666'><button value='421'>[通常実行]</button></font> / [実行するが報告非表示] / <font color='#666666'><button value='423'>[実行しない]</button></font><br>"
			CASE 2
				LOCALS += "男性　　：<font color='#666666'><button value='421'>[通常実行]</button></font> / <font color='#666666'><button value='422'>[実行するが報告非表示]</button></font> / [実行しない]<br>"
		ENDSELECT
		SELECTCASE 一日終了時オナニーOPTION:3
			CASE 0
				LOCALS += "ふたなり：[通常実行] / <font color='#666666'><button value='432'>[実行するが報告非表示]</button></font> / <font color='#666666'><button value='433'>[実行しない]</button></font><br>"
			CASE 1
				LOCALS += "ふたなり：<font color='#666666'><button value='431'>[通常実行]</button></font> / [実行するが報告非表示] / <font color='#666666'><button value='433'>[実行しない]</button></font><br>"
			CASE 2
				LOCALS += "ふたなり：<font color='#666666'><button value='431'>[通常実行]</button></font> / <font color='#666666'><button value='432'>[実行するが報告非表示]</button></font> / [実行しない]<br>"
		ENDSELECT
		SELECTCASE 一日終了時オナニーOPTION:0
			CASE 0
				LOCALS += "無性　　：[通常実行] / <font color='#666666'><button value='402'>[実行するが報告非表示]</button></font> / <font color='#666666'><button value='403'>[実行しない]</button></font><br>"
			CASE 1
				LOCALS += "無性　　：<font color='#666666'><button value='401'>[通常実行]</button></font> / [実行するが報告非表示] / <font color='#666666'><button value='403'>[実行しない]</button></font><br>"
			CASE 2
				LOCALS += "無性　　：<font color='#666666'><button value='401'>[通常実行]</button></font> / <font color='#666666'><button value='402'>[実行するが報告非表示]</button></font> / [実行しない]<br>"
		ENDSELECT
	CASE 500
		LOCALS += "・オート射精設定<br>"
		LOCALS += "射精時、自動で射精先を決定するための設定を行います。<br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='501'>[501] オート射精先設定画面を開く</button>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 600
		LOCALS += "・子宮口挿入設定<br>"
		LOCALS += "子宮口挿入コマンド、及びコマンド解放イベントが出るかどうかを設定します。<br>"
		LOCALS += "<br>"
		IF 子宮口挿入_封印 == 0
			LOCALS += "　<button value='601'>[601] 子宮口挿入関連の機能を禁止する（現在：許可）</button>"
		ELSEIF 子宮口挿入_封印
			LOCALS += "　<button value='601'>[601] 子宮口挿入関連の機能を許可する（現在：禁止）</button>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 700
		LOCALS += "・連れ込み禁止設定<br>"
		LOCALS += "キャラが自動で物陰に連れ込んでくるかどうかを設定します。<br>"
		LOCALS += "<br>"
		IF 連れ込み制御OPTION == 0
			LOCALS += "　<button value='701'>[701] キャラの連れ込みを禁止する（現在：許可）</button>"
		ELSEIF 連れ込み制御OPTION
			LOCALS += "　<button value='701'>[701] キャラの連れ込みを許可する（現在：禁止）</button>"
		ENDIF
	CASE 800
		LOCALS += "・あなた絶頂我慢設定<br>"
		LOCALS += "あなたが絶頂する時、それを無効化し快楽値を9999に変更します。<br>"
		LOCALS += "この設定はあなたがPLAYERの時のみ有効で、指示モードでは機能しません。<br>"
		LOCALS += "これは起床後のゲーム画面でも変更可能です。<br>"
		LOCALS += "このオプションはセーブされず、ゲームの終了で許可設定に戻ります。<br>"
		LOCALS += "<br>"
		IF あなた射精我慢フラグ == 0
			LOCALS += "　<button value='801'>[801] あなたの絶頂を禁止する（現在：許可）</button>"
		ELSEIF あなた射精我慢フラグ
			LOCALS += "　<button value='801'>[801] あなたの絶頂を許可する（現在：禁止）</button>"
		ENDIF
	CASE 900
		LOCALS += "・欲情フィールド設定<br>"
		LOCALS += "欲情フィールドの機能を変更します。<br>"
		LOCALS += "<br>"
		LOCALS += "・『RAPE ME!!』設定<br>"
		LOCALS += "欲情フィールド展開中にあなたが受けるセクハラにレイプを追加します。<br>"
		LOCALS += "A経験が50以下の時はAで強姦されません。<br>"
		LOCALS += "可能なパターンが無い時、レイプは発生しません。<br>"
		LOCALS += "<br>"
		IF RAPE制御OPTION
			LOCALS += "　<button value='901'>[901] 『RAPE ME!!』を禁止する（現在：許可）</button>"
		ELSEIF RAPE制御OPTION == 0
			LOCALS += "　<button value='901'>[901] 『RAPE ME!!』を許可する（現在：禁止）</button>"
		ENDIF
		LOCALS += "<br>"
		IF RAPE制御OPTION
			LOCALS += "・『RAPE ME!!』処女童貞設定<br>"
			LOCALS += "処女・童貞時にそれらを失うレイプを許可するかどうかを設定します。<br>"
			LOCALS += "<br>"
			IF 処女童貞RAPE制御OPTION
				LOCALS += "　<button value='902'>[902] 処女・童貞を失うレイプを禁止する（現在：許可）</button>"
			ELSEIF 処女童貞RAPE制御OPTION == 0
				LOCALS += "　<button value='902'>[902] 処女・童貞を失うレイプを許可する（現在：禁止）</button>"
			ENDIF
		ENDIF
ENDSELECT

RESULTS '= LOCALS

@機能オプション実行処理_1(入力値)
#DIM 入力値
;システム全般機能

SELECTCASE 入力値
	CASE 101
		発情期切り替えOPTION記憶 = 0
	CASE 102
		SETBIT 発情期切り替えOPTION記憶, 0
		SETBIT 発情期切り替えOPTION記憶, 1
		SETBIT 発情期切り替えOPTION記憶, 2
		SETBIT 発情期切り替えOPTION記憶, 3
		SETBIT 発情期切り替えOPTION記憶, 4
		SETBIT 発情期切り替えOPTION記憶, 5
	CASE 103 TO 108
		INVERTBIT 発情期切り替えOPTION記憶, 入力値 - 103
	CASE 110
		INVERTBIT 男ドラフ母乳OPTION記憶, 0
	CASE 201
		INVERTBIT 妊娠切り替えOPTION記憶, 0
	CASE 301
		汎用喘ぎ使用OPTION = 0
	CASE 302
		汎用喘ぎ使用OPTION = 1
	CASE 303
		汎用喘ぎ使用OPTION = 3
	CASE 304
		汎用喘ぎ使用OPTION_男 = 0
	CASE 305
		汎用喘ぎ使用OPTION_男 = 1
	CASE 306
		汎用喘ぎ使用OPTION_男 = 3
	CASE 401 TO 440
		一日終了時オナニーOPTION:((入力値 - 400) / 10) = (入力値 % 10) - 1
	CASE 501
		CALL オート射精先設定
	CASE 601
		INVERTBIT 子宮口挿入_封印, 0
	CASE 701
		INVERTBIT 連れ込み制御OPTION, 0
	CASE 801
		INVERTBIT あなた射精我慢フラグ, 0
	CASE 901
		INVERTBIT RAPE制御OPTION, 0
	CASE 902
		INVERTBIT 処女童貞RAPE制御OPTION, 0
ENDSELECT

@機能オプション左枠_2(画面表示用変数)
#DIM 画面表示用変数
;画像関連機能
LOCALS = 
IF 画面表示用変数 == 100
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[100] 画像サイズ切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='100'>[100] 画像サイズ切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 200
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[200] アスペクト比不適の画像の処理</font></nonbutton>"
ELSE
	LOCALS += "<button value='200'>[200] アスペクト比不適の画像の処理</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 300
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[300] 性行為の挿絵/アニメーション</font></nonbutton>"
ELSE
	LOCALS += "<button value='300'>[300] 性行為の挿絵/アニメーション</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 400
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[400] ランダムキャラ立ち絵設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='400'>[400] ランダムキャラ立ち絵設定</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 500
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[500] 妊娠時オーバーレイ設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='500'>[500] 妊娠時オーバーレイ設定</button>"
ENDIF
IF 画面表示用変数 == 600
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[600] 射精後の挿入系立ち絵設定</font></nonbutton>"
ELSE
	LOCALS += "<button value='600'>[600] 射精後の挿入系立ち絵設定</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"

RESULTS '= LOCALS

@機能オプション右枠_2(画面表示用変数)
#DIM 画面表示用変数
;画像機能

LOCALS = 
SELECTCASE 画面表示用変数
	CASE 100
		LOCALS += "・画像サイズ切り替え<br>"
		LOCALS += "能力表示画面、及び通常時に表示されるキャラクターの画像サイズを切り替えます。<br>"
		LOCALS += "表示箇所ごとに正方形サイズか短冊サイズ（縦２横１）のどちらかに設定できます。<br>"
		LOCALS += "<br>"
		LOCALS += "　コマンドリスト画面（現在："
		IF GETBIT(画像サイズ切り替えOPTION記憶, 0)
			LOCALS += "短冊）<br>"
			LOCALS += "　　　[短冊にする] / <font color='#666666'><button value='102'>[正方形（3P時縦）にする]</button></font> / <font color='#666666'><button value='103'>[正方形にする]</button></font><br>"
		ELSEIF GETBIT(画像サイズ切り替えOPTION記憶, 4)
			LOCALS += "正方形（3P時に縦に並べる））<br>"
			LOCALS += "　　　<font color='#666666'><button value='101'>[短冊にする]</button></font> / [正方形（3P時縦）にする] / <font color='#666666'><button value='103'>[正方形にする]</button></font><br>"
		ELSE
			LOCALS += "正方形）<br>"
			LOCALS += "　　　<font color='#666666'><button value='101'>[短冊にする]</button></font> / <font color='#666666'><button value='102'>[正方形（3P時縦）にする]</button></font> / [正方形にする]<br>"
		ENDIF
		LOCALS += @"　<button value='104'>[104] 通常能力表示　（現在：\@ GETBIT(画像サイズ切り替えOPTION記憶, 1)? 短冊　# 正方形\@）</button><br>"
		LOCALS += @"　<button value='105'>[105] 性的能力表示　（現在：\@ GETBIT(画像サイズ切り替えOPTION記憶, 2)? 短冊　# 正方形\@）</button><br>"
		LOCALS += @"　<button value='106'>[106] 戦闘能力表示　（現在：\@ GETBIT(画像サイズ切り替えOPTION記憶, 3)? 短冊　# 正方形\@）</button><br>"
		LOCALS += @"　<button value='107'>[107] 一括で変更する</button><br>"
	CASE 200
		LOCALS += "・アスペクト比不適の画像の処理の切り替え<br>"
		LOCALS += "規定と異なるアスペクト比の画像の処理を切り替えます。<br>"
		LOCALS += "規定のアスペクト比は正方形は縦１：横１、短冊は縦２：横１です。<br>"
		LOCALS += "<br>"
		IF 画像サイズ切り替えOPTION記憶:1 == 0
			LOCALS += "　<button value='201'>[201]  画像全体を表示するよう拡大縮小を行う（現在：切り取り式処理）</button><br>"
		ELSE
			LOCALS += "　<button value='201'>[201]  表示領域に合わせて画像を切り取る（現在：拡大縮小処理）</button><br>"
		ENDIF
	CASE 300
		LOCALS += "・性行為の挿絵/アニメーション設定<br>"
		LOCALS += "性行為時に表示される挿絵やアニメーションの設定を変更します。<br>"
		LOCALS += "<br>"
		LOCALS += @"　<button value='301'>[301] 性行為の挿絵を表示する （現在：\@ FLAG_挿絵表示 ? ON # OFF \@）</button><br>"
		IF FLAG_挿絵表示
			LOCALS += "---------------------------------------------------------------------<br>"
			LOCALS += "　射精画像の種類 （現在："
			SELECTCASE FLAG_射精画像種類
				CASE 0
					LOCALS += "[断面＋効果音]）<br>"
					LOCALS += "　　　[断面＋効果音にする] / <font color='#666666'><button value='303'>[断面のみにする]</button></font> / <font color='#666666'><button value='304'>[効果音のみにする]</button></font><br>"
				CASE 1
					LOCALS += "[断面のみ]）<br>"
					LOCALS += "　　　<font color='#666666'><button value='302'>[断面＋効果音にする]</button></font> / [断面のみにする] / <font color='#666666'><button value='304'>[効果音のみにする]</button></font><br>"
				CASE 2
					LOCALS += "[効果音のみ]）<br>"
					LOCALS += "　　　<font color='#666666'><button value='302'>[断面＋効果音にする]</button></font> / <font color='#666666'><button value='303'>[断面のみにする]</button></font> / [効果音のみにする]<br>"
			ENDSELECT
			LOCALS += "<br>"
			LOCALS += @"　アニメーション繰り返し設定<br> （現在：\@ FLAG_アニメーション > 0 ? 繰り返し回数 {FLAG_アニメーション}回 # アニメーションOFF \@）<br>"
			SELECTCASE FLAG_アニメーション
				CASE 0
					LOCALS += "　　　[アニメOFFにする]"
					FOR LOCAL, 1, 6
						LOCALS += @" / <font color='#666666'><button value='{305 + LOCAL}'>[{LOCAL}回]</button></font>"
					NEXT
					LOCALS += "<br>"
				CASE 1 TO 5
					LOCALS += "　　　<font color='#666666'><button value='305'>[アニメOFFにする]</button></font>"
					FOR LOCAL, 1, 6
						IF FLAG_アニメーション == LOCAL
							LOCALS += @" / [{LOCAL}回]"
						ELSE
							LOCALS += @" / <font color='#666666'><button value='{305 + LOCAL}'>[{LOCAL}回]</button></font>"
						ENDIF
					NEXT
					LOCALS += "<br>"
			ENDSELECT
			IF FLAG_アニメーション
				LOCALS += "<br>"
				LOCALS += @"　　　<button value='311'>[311] 挿入中は毎ターンアニメ表示 （現在：\@FLAG_挿入アニメフィルタ ? OFF# ON\@）</button>"
			ENDIF
		ENDIF
	CASE 400
		LOCALS += "・ランダムキャラ立ち絵設定<br>"
		LOCALS += "ランダムキャラの画像を表示するかどうかを設定します。<br>"
		LOCALS += "OFFにした場合、ランダムキャラの画像はNoimageになります。<br>"
		LOCALS += "<br>"
		IF 汎用立ち絵制御OPTION == 0
			LOCALS += "　<button value='401'>[401]  ランダムキャラの画像を表示する（現在OFF）</button><br>"
		ELSE
			LOCALS += "　<button value='401'>[401]  ランダムキャラの画像を表示しない（現在ON）</button><br>"
		ENDIF
	CASE 500
		LOCALS += "・妊娠時オーバーレイ設定<br>"
		LOCALS += "妊娠したキャラに妊娠時用の画像ファイルがない場合、既存の画像ファイルに<br>被せて表示する画像を選択します。<br>"
		LOCALS += "<br>"
		LOCALS += "　妊娠時オーバーレイの種類 （現在："
		SELECTCASE FLAG_妊娠エフェクトフィルタ
			CASE 0
				LOCALS += "[表示しない]）<br>"
				LOCALS += "　　　[表示しない] / <font color='#666666'><button value='502'>[マタニティマーク]</button></font><font color='#666666'><button value='503'>[「赤ちゃんが」]</button></font> / <font color='#666666'><button value='504'>[断面図]</button></font><br>"
			CASE 1
				LOCALS += "[マタニティマーク]）<br>"
				LOCALS += "　　　<font color='#666666'><button value='501'>[表示しない]</button></font> / [マタニティマーク]<font color='#666666'><button value='503'>[「赤ちゃんが」]</button></font> / <font color='#666666'><button value='504'>[断面図]</button></font><br>"
				LOCALS += "<br>　サンプル<br><img src='effect_顔_妊娠1' height='1000' ypos='-600'><br>"
			CASE 2
				LOCALS += "[「赤ちゃんが入っています」]）<br>"
				LOCALS += "　　　<font color='#666666'><button value='501'>[表示しない]</button></font> / <font color='#666666'><button value='502'>[マタニティマーク]</button></font>[「赤ちゃんが」] / <font color='#666666'><button value='504'>[断面図]</button></font><br>"
				LOCALS += "<br>　サンプル<br><img src='effect_顔_妊娠2' height='1000' ypos='-600'><br>"
			CASE 3
				LOCALS += "[断面図]）<br>"
				LOCALS += "　　　<font color='#666666'><button value='501'>[表示しない]</button></font> / <font color='#666666'><button value='502'>[マタニティマーク]</button></font><font color='#666666'><button value='503'>[「赤ちゃんが」]</button></font> / [断面図]<br>"
				LOCALS += "<br>　サンプル<br><img src='effect_顔_妊娠3_5' height='1000' ypos='-600'><br>"
		ENDSELECT
		LOCALS += "<br>"
	CASE 600
		LOCALS += "・射精後の挿入系立ち絵設定<br>"
		LOCALS += "射精後の挿入系立ち絵を、「◯内射精」の立ち絵にするか、<br>"
		LOCALS += "「◯内射精」と「挿入」系立ち絵をランダムに表示するかを選びます。<br>"
		LOCALS += "（ゲームが進むとあなたが射精しやすくなり、挿入系立ち絵の表示頻度が下がることへの対応）<br>"
		LOCALS += "<br>"
		IF 射精後の挿入系立ち絵制御OPTION == 0
			LOCALS += "　<button value='601'>[601]  ランダムに表示をONにする（現在OFF）</button><br>"
		ELSE
			LOCALS += "　<button value='601'>[601]  ランダムに表示をOFFにする（現在ON）</button><br>"
		ENDIF
ENDSELECT

RESULTS '= LOCALS

@機能オプション実行処理_2(入力値)
#DIM 入力値
;画像機能

SELECTCASE 入力値
	CASE 101
		SETBIT 画像サイズ切り替えOPTION記憶, 0
		CLEARBIT 画像サイズ切り替えOPTION記憶, 4
	CASE 102
		SETBIT 画像サイズ切り替えOPTION記憶, 4
		CLEARBIT 画像サイズ切り替えOPTION記憶, 0
	CASE 103
		CLEARBIT 画像サイズ切り替えOPTION記憶, 0
		CLEARBIT 画像サイズ切り替えOPTION記憶, 4
	CASE 104 TO 106
		INVERTBIT 画像サイズ切り替えOPTION記憶, (入力値 - 103)
	CASE 107
		INVERTBIT 画像サイズ切り替えOPTION記憶, 5
		IF GETBIT(画像サイズ切り替えOPTION記憶, 5)
			SETBIT 画像サイズ切り替えOPTION記憶, 0
			SETBIT 画像サイズ切り替えOPTION記憶, 1
			SETBIT 画像サイズ切り替えOPTION記憶, 2
			SETBIT 画像サイズ切り替えOPTION記憶, 3
			CLEARBIT 画像サイズ切り替えOPTION記憶, 4
		ELSE
			画像サイズ切り替えOPTION記憶 = 0
		ENDIF
	CASE 201
		INVERTBIT 画像サイズ切り替えOPTION記憶:1, 0
	CASE 301
		INVERTBIT FLAG_挿絵表示, 0
	CASE 302 TO 304
		FLAG_射精画像種類 = 入力値 - 302
	CASE 305 TO 310
		FLAG_アニメーション = 入力値 - 305
	CASE 311
		INVERTBIT FLAG_挿入アニメフィルタ, 0
	CASE 401
		INVERTBIT 汎用立ち絵制御OPTION, 0
	CASE 501 TO 504
		FLAG_妊娠エフェクトフィルタ = 入力値 - 501
	CASE 601
		INVERTBIT 射精後の挿入系立ち絵制御OPTION, 0
ENDSELECT

@機能オプション左枠_3(画面表示用変数)
#DIM 画面表示用変数
;探索・戦闘関連機能
LOCALS = 
IF 画面表示用変数 == 100
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[100] カットイン表示切り替え</font></nonbutton>"
ELSE
	LOCALS += "<button value='100'>[100] カットイン表示切り替え</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 200
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[200] 戦闘中便利機能</font></nonbutton>"
ELSE
	LOCALS += "<button value='200'>[200] 戦闘中便利機能</button>"
ENDIF
LOCALS += "<br>"
IF 画面表示用変数 == 300
	LOCALS += @"<nonbutton><font color='#%カラーパレット_HTML("黄")%'>[300] ダンジョン探索中演出</font></nonbutton>"
ELSE
	LOCALS += "<button value='300'>[300] ダンジョン探索中演出</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"

RESULTS '= LOCALS

@機能オプション右枠_3(画面表示用変数)
#DIM 画面表示用変数
;探索・戦闘機能

LOCALS = 
SELECTCASE 画面表示用変数
	CASE 100
		LOCALS += "・カットイン表示切り替え<br>"
		LOCALS += "カットインアニメーション表示機能を切り替えます。<br>"
		LOCALS += "カットイン画像設定については、奥義時カットインの画像優先度を切り替えることが可能です。<br>"
		LOCALS += "<br>"
		LOCALS += "カットイン表示設定："
		SELECTCASE カットイン演出一括表示フラグ
			CASE 0
				LOCALS += "　[表示] / <font color='#666666'><button value='102'>[非表示]</button></font> / <font color='#666666'><button value='103'>[一日一回]</button></font><br>"
			CASE 1
				LOCALS += "　<font color='#666666'><button value='101'>[表示]</button></font> / [非表示] / <font color='#666666'><button value='103'>[一日一回]</button></font><br>"
			CASE 2
				LOCALS += "　<font color='#666666'><button value='101'>[表示]</button></font> / <font color='#666666'><button value='102'>[非表示]</button></font> / [一日一回]<br>"
		ENDSELECT
		LOCALS += "カットイン画像設定："
		SELECTCASE カットイン画像一括表示フラグ
			CASE 0
				LOCALS += "　[縦カットイン優先] / <font color='#666666'><button value='105'>[横カットイン優先]</button></font><br>　　　　　　　　　　　<font color='#666666'><button value='106'>[デフォルト顔グラ優先]</button></font><br>"
			CASE 1
				LOCALS += "　<font color='#666666'><button value='104'>[縦カットイン優先]</button></font> / [横カットイン優先]<br>　　　　　　　　　　　<font color='#666666'><button value='106'>[デフォルト顔グラ優先]</button></font><br>"
			CASE 2
				LOCALS += "　<font color='#666666'><button value='104'>[縦カットイン優先]</button></font> / <font color='#666666'><button value='105'>[横カットイン優先]</button></font><br>　　　　　　　　　　　[デフォルト顔グラ優先]<br>"
		ENDSELECT
		LOCALS += "<br>"
		LOCALS += "・個別奥義カットイン設定<br>"
		LOCALS += "［能力表示］画面からキャラ個別の奥義カットイン設定を行うことが出来ます。<br>"
		LOCALS += "ここでは全てのキャラのカットイン設定を一括して設定することが出来ます。<br>"
		LOCALS += "<br>"
		LOCALS += "・カットインの個別表示設定（全体設定より優先）<br>"
		LOCALS += "　　<button value='110'>全員［全体設定に従う］にする</button> / <button value='111'>全員［非表示］にする</button> / <button value='112'>全員［表示］にする</button><br>　　<button value='113'>全員［一日一回のみ］にする</button>"
		LOCALS += "<br>"
		LOCALS += "・カットインの画像表示設定（全体設定より優先）<br>"
		LOCALS += "　　<button value='114'>全員［全体設定に従う］にする</button> / <button value='115'>全員［縦カットイン優先］にする</button><br>　　<button value='116'>全員［横カットイン優先］にする</button> / <button value='117'>全員［デフォルト顔グラ優先］にする</button>"
	CASE 200
		LOCALS += "・戦闘中便利機能<br>"
		LOCALS += "戦闘中の操作短縮や確認省略機能の設定をします。<br>"
		LOCALS += "これらの設定は戦闘中に切り替えることが可能です。<br>"
		LOCALS += "<br>"
		LOCALS += "・クイック通常攻撃設定<br>"
		LOCALS += "行動決定時にエネミーをクリックするだけで通常攻撃を行えるようにします。<br>"
		LOCALS += "ONの時、エネミーのバフ・デバフ詳細を確認出来なくなります。<br>"
		IF クイック行動フラグ == 0
			LOCALS += "　<button value='201'>[201] <font color='#666666'>ON</font> / OFF</button><br>"
		ELSE
			LOCALS += "　<button value='201'>[201] ON / <font color='#666666'>OFF</font></button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "・アビ使用確認スキップ設定<br>"
		LOCALS += "アビリティを使用するかどうかの確認をスキップします。<br>"
		LOCALS += "ONの時、アビリティの詳細説明を確認出来なくなります。<br>"
		IF アビ使用確認スキップフラグ == 0
			LOCALS += "　<button value='202'>[202] <font color='#666666'>ON</font> / OFF</button><br>"
		ELSE
			LOCALS += "　<button value='202'>[202] ON / <font color='#666666'>OFF</font></button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "・奥義使用確認スキップ設定<br>"
		LOCALS += "奥義を使用するかどうかの確認をスキップします。<br>"
		LOCALS += "ONの時、奥義の詳細説明を確認出来なくなります。<br>"
		IF 奥義使用確認スキップフラグ == 0
			LOCALS += "　<button value='203'>[203] <font color='#666666'>ON</font> / OFF</button><br>"
		ELSE
			LOCALS += "　<button value='203'>[203] ON / <font color='#666666'>OFF</font></button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 300
		LOCALS += "・ダンジョン探索中演出<br>"
		LOCALS += "ダンジョン探索中に発生するアニメーション演出を切り替えます。<br>"
		LOCALS += "<br>"
		LOCALS += "・突入時アニメーション<br>"
		LOCALS += "ダンジョンを開始した際に発生するアニメーション演出の切り替え<br>"
		IF 突入時アニメーション封印フラグ
			LOCALS += "　<button value='301'>[301] <font color='#666666'>表示する</font> / 表示しない</button><br>"
		ELSE
			LOCALS += "　<button value='301'>[301] 表示する / <font color='#666666'>表示しない</font></button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "・終了時アニメーション<br>"
		LOCALS += "ダンジョンから帰還した際に発生するアニメーション演出の切り替え<br>"
		IF 帰還時アニメーション封印フラグ
			LOCALS += "　<button value='302'>[302] <font color='#666666'>表示する</font> / 表示しない</button><br>"
		ELSE
			LOCALS += "　<button value='302'>[302] 表示する / <font color='#666666'>表示しない</font></button><br>"
		ENDIF
		LOCALS += "<br>"
		LOCALS += "・ダメージアニメーション<br>"
		LOCALS += "ダメージ、あるいは回復時に発生する数字アニメーション演出の切り替え<br>"
		IF ダメージアニメーション封印フラグ
			LOCALS += "　<button value='303'>[303] <font color='#666666'>表示する</font> / 表示しない</button><br>"
		ELSE
			LOCALS += "　<button value='303'>[303] 表示する / <font color='#666666'>表示しない</font></button><br>"
		ENDIF
ENDSELECT

RESULTS '= LOCALS

@機能オプション実行処理_3(入力値)
#DIM 入力値
#DIM 対象キャラ
;探索・戦闘機能

SELECTCASE 入力値
	CASE 101 TO 103
		カットイン演出一括表示フラグ = 入力値 - 101
	CASE 104 TO 106
		カットイン画像一括表示フラグ = 入力値 - 104
	CASE 110
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン個別選択オプション = 
		NEXT
		PRINTW キャラ全員の設定を［全体設定に従う］にしました。
	CASE 111
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン個別選択オプション = 非表示
		NEXT
		PRINTW キャラ全員の設定を［非表示］にしました。
	CASE 112
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン個別選択オプション = 表示
		NEXT
		PRINTW キャラ全員の設定を［表示］にしました。
	CASE 113
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン個別選択オプション = 一日一回のみ
		NEXT
		PRINTW キャラ全員の設定を［一日一回のみ］にしました。
	CASE 114
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン画像選択オプション = 
		NEXT
		PRINTW キャラ全員の設定を［全体設定に従う］にしました。
	CASE 115
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン画像選択オプション = 縦カットイン
		NEXT
		PRINTW キャラ全員の設定を［縦カットイン優先表示］にしました。
	CASE 116
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン画像選択オプション = 横カットイン
		NEXT
		PRINTW キャラ全員の設定を［横カットイン優先表示］にしました。
	CASE 117
		FOR 対象キャラ, 0, CHARANUM
			CSTR:対象キャラ:カットイン画像選択オプション = デフォルト
		NEXT
		PRINTW キャラ全員の設定を［デフォルト顔グラ優先表示］にしました。
	CASE 201
		INVERTBIT クイック行動フラグ, 0
	CASE 202
		INVERTBIT アビ使用確認スキップフラグ, 0
	CASE 203
		INVERTBIT 奥義使用確認スキップフラグ, 0
	CASE 301
		INVERTBIT 突入時アニメーション封印フラグ, 0
	CASE 302
		INVERTBIT 帰還時アニメーション封印フラグ, 0
	CASE 303
		INVERTBIT ダメージアニメーション封印フラグ, 0
ENDSELECT

@汎用喘ぎ個別設定(対象キャラ)
#DIM 対象キャラ

DRAWLINE
PRINTL 汎用喘ぎを使用するか否かを個別に設定出来ます。
PRINTL
PRINTL ・現在の全体設定
PRINT ・女性（ふたなり・その他）キャラ：
SELECTCASE 汎用喘ぎ使用OPTION
	CASE 0
		PRINTL 使用しない
	CASE 1
		PRINTL 口上が無いキャラのみ使用
	CASE 3
		PRINTL 全てのキャラに使用
ENDSELECT
PRINT ・男性キャラ：
SELECTCASE 汎用喘ぎ使用OPTION_男
	CASE 0
		PRINTL 使用しない
	CASE 1
		PRINTL 口上が無いキャラのみ使用
	CASE 3
		PRINTL 全てのキャラに使用
ENDSELECT

PRINTFORM 現在の%NAME:対象キャラ%個別設定：
IF CFLAG:対象キャラ:汎用喘ぎ禁止フラグ == 1
	PRINTL 全体設定に関わらず使用しない
ELSEIF CFLAG:対象キャラ:汎用喘ぎ禁止フラグ == 0
	PRINTL 全体設定に従う
ELSEIF CFLAG:対象キャラ:汎用喘ぎ禁止フラグ == -1
	PRINTL 全体設定に関わらず使用する
ENDIF
DRAWLINE

PRINTBUTTON "[0] 全体設定に従う", 0
PRINTL
PRINTBUTTON "[1] 全体設定に関わらず使用しない", 1
PRINTL
PRINTBUTTON "[-1] 全体設定に関わらず使用する", -1
PRINTL
PRINTL
PRINTBUTTON "[999] 戻る", 999
PRINTL

BINPUT
SELECTCASE RESULT
	CASE 999
		RETURN 0
	CASEELSE
		CFLAG:対象キャラ:汎用喘ぎ禁止フラグ = RESULT
		RESTART
ENDSELECT


@OPTION_招待切り替え

DRAWLINE
PRINTL リゾートに訪れるキャラの性別設定を行います。
PRINTL ※広告による招待・常連素質による訪問に影響します
PRINTL 　ZPショップによる解放・イベントなどでの訪問は設定に関わらず実行されます。
DRAWLINE
PRINTL
PRINTL ・現在の設定
PRINT 　　女性：
IF GETBIT(性別招待制御OPTION, 0)
	HTML_PRINT @"<button value='0'>[0] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
	PRINTL
ELSE
	HTML_PRINT @"<button value='0'>[0] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
	PRINTL
ENDIF
PRINT 　　男性：
IF GETBIT(性別招待制御OPTION, 1)
	HTML_PRINT @"<button value='1'>[1] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
	PRINTL
ELSE
	HTML_PRINT @"<button value='1'>[1] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
	PRINTL
ENDIF
PRINT 　　ふたなり：
IF GETBIT(性別招待制御OPTION, 2)
	HTML_PRINT @"<button value='2'>[2] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
	PRINTL
ELSE
	HTML_PRINT @"<button value='2'>[2] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
	PRINTL
ENDIF
PRINT 　　その他：
IF GETBIT(性別招待制御OPTION, 3)
	HTML_PRINT @"<button value='3'>[3] <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問する</font> / リゾートを訪問しない</button>"
	PRINTL
ELSE
	HTML_PRINT @"<button value='3'>[3] リゾートを訪問する / <font color='#%カラーパレット_HTML("グレーアウト")%'>リゾートを訪問しない</font></button>"
	PRINTL
ENDIF

PRINTL
PRINTL
PRINTBUTTON "[999] 戻る", 999
PRINTL

BINPUT
SELECTCASE RESULT
	CASE 999
		RETURN 0
	CASEELSE
		INVERTBIT 性別招待制御OPTION, RESULT
		RESTART
ENDSELECT

@OPTION_キャラ制限初期切り替え

DRAWLINE
PRINTL 登場が制限されているキャラクターの初期登場設定を変更します。
PRINTL ※この設定はゲームが始まってからは変更出来ません。
PRINTL ※初期開放時、イベントシナリオと矛盾が発生する場合があります。
DRAWLINE
PRINTL
PRINTL ・現在の設定

PRINT ZPショップ加入キャラ：
IF GETBIT(キャラ制限初期OPTION, 0)
	PRINT 全開放　　　　　
	PRINTBUTTON "[0] 切り替える", 0
	PRINTL
	PRINTL 　（初期からリゾートを訪れる）
	PRINTL
ELSE
	PRINT デフォルト　　　
	PRINTBUTTON "[0] 切り替える", 0
	PRINTL
	PRINTL 　（加入にダンジョン攻略・イベント視聴が必須）
	PRINTL 　（加入にZP消費が必須）
ENDIF
PRINTL
PRINT イベント加入キャラ：
IF GETBIT(キャラ制限初期OPTION, 1)
	PRINT 全開放　　　　　　
	PRINTBUTTON "[1] 切り替える", 1
	PRINTL
	PRINTL 　（初期からリゾートを訪れる）
ELSE
	PRINT デフォルト　　　　
	PRINTBUTTON "[1] 切り替える", 1
	PRINTL
	PRINTL 　（キャラによって異なる特定の条件が必須）
ENDIF
PRINTL
PRINTL
PRINTBUTTON "[999] これで決定する", 999
PRINTL

BINPUT
SELECTCASE RESULT
	CASE 999
		;解放処理
		FOR LOCAL, 1, CHARANUM
			IF (CFLAG:LOCAL:招待不可フラグ == 1 || CFLAG:LOCAL:招待不可フラグ == 3) && GETBIT(キャラ制限初期OPTION, 0)
				CFLAG:LOCAL:招待不可フラグ = 0
			ENDIF
			IF CFLAG:LOCAL:招待不可フラグ == 2 && GETBIT(キャラ制限初期OPTION, 1)
				CFLAG:LOCAL:招待不可フラグ = 0
			ENDIF
		NEXT
		RETURN 0
	CASEELSE
		INVERTBIT キャラ制限初期OPTION, RESULT
		RESTART
ENDSELECT

@OPTION_命のリンク初期切り替え
#DIM 命のリンクOPTION
DRAWLINE
PRINTL ルリアが誰と命のリンクをしているかを設定します。
PRINTL ※この設定はゲームが始まってからは変更出来ません。
DRAWLINE
PRINTL

PRINTL ルリアと命のリンクをしているのは
IF 命のリンクOPTION == 0
	SETCOLOR カラーパレット("黄")
	PRINT [ジータ]
	RESETCOLOR
ELSE
	PRINTBUTTON "[ジータ]", 0
ENDIF
PRINT  / 
IF 命のリンクOPTION == 1
	SETCOLOR カラーパレット("黄")
	PRINT [グラン]
	RESETCOLOR
ELSE
	PRINTBUTTON "[グラン]", 1
ENDIF
PRINT  / 
IF 命のリンクOPTION == 2
	SETCOLOR カラーパレット("黄")
	PRINT [ジータとグラン]
	RESETCOLOR
ELSE
	PRINTBUTTON "[ジータとグラン]", 2
ENDIF
PRINTL
PRINTL
PRINTBUTTON "[999] これで決定する", 999
PRINTL

BINPUT
SELECTCASE RESULT
	CASE 999
		;ジータ
		LOCAL = FINDCHARA(NO, 27)
		;グラン
		LOCAL:1 = FINDCHARA(NO, 146)
		SELECTCASE 命のリンクOPTION
			CASE 0
				TALENT:LOCAL:命のリンク = 1
				TALENT:(LOCAL:1):命のリンク = 0
			CASE 1
				TALENT:LOCAL:命のリンク = 0
				TALENT:(LOCAL:1):命のリンク = 1
			CASE 2
				TALENT:LOCAL:命のリンク = 1
				TALENT:(LOCAL:1):命のリンク = 1
		ENDSELECT
	CASEELSE
		命のリンクOPTION = RESULT
		RESTART
ENDSELECT
