@特殊広告一覧表示(左側表示文字列)
#DIMS REF 左側表示文字列

左側表示文字列 += "<button value='10'>├[10] ＤＭを送る</button><br>"
左側表示文字列 += "<button value='10'>├[11] ＤＭを送る</button><br>"
左側表示文字列 += "<button value='10'>├[12] ＤＭを送る</button><br>"
左側表示文字列 += "<button value='10'>├[13] ＤＭを送る</button><br>"
左側表示文字列 += "<button value='10'>├[14] ＤＭを送る</button><br>"
左側表示文字列 += "<button value='10'>├[15] ＤＭを送る</button><br>"