@特殊広告一覧表示(左側表示文字列)
#DIMS REF 左側表示文字列
#DIM 関数総数

LOCAL = 0
VARSET RESULTS
VARSET 特殊広告関数保存
関数総数 = ENUMFUNCBEGINSWITH("特殊広告_")
ARRAYCOPY "RESULTS", "特殊広告関数保存"

IF 関数総数 > 0
	FOR LOCAL, 0, 関数総数
		IF LOCAL == 関数総数 - 1
			LOCALS = └
		ELSE
			LOCALS = ├
		ENDIF
		IF 表示キー_左 == 特殊広告関数保存:LOCAL
			左側表示文字列 += @"<font color='#%カラーパレット_HTML("黄")%'>%LOCALS%[{LOCAL + 10}] %REPLACE(特殊広告関数保存:LOCAL, "特殊広告_", "")%</font><br>"
		ELSE
			左側表示文字列 += @"<button value='{LOCAL + 10}'>%LOCALS%[{LOCAL + 10}] %REPLACE(特殊広告関数保存:LOCAL, "特殊広告_", "")%</button><br>"
		ENDIF
	NEXT
ENDIF


@特殊広告_ＤＭを送る(処理モード, 入力数値 = 0)
#DIMS 処理モード
#DIM 入力数値
#DIM 表示候補, キャラクタ数上限
#DIM 現在ページ
#DIM 広告対象

SELECTCASE 処理モード
	CASE "右側表示"
		詳細文文字列受け渡し変数 += "■ＤＭ（ダイレクトメッセージ）を送る<br><br>"
		詳細文文字列受け渡し変数 += "一定以上の好感度があるキャラに対して、手紙形式の広告を送ります。5000ルピの費用が掛かります。<br>"
		詳細文文字列受け渡し変数 += "指定したキャラを狙うことが出来ますが、消費するルピは割高な上に必ず訪れてくれるとは限りません。<br>"
		詳細文文字列受け渡し変数 += "また、訪問確率は好感度を上げることで上昇します。<br><br>"
		IF MONEY < 5000
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[100] ＤＭを送るキャラを選ぶ（所持金不足）</font>"
		ELSE
			詳細文文字列受け渡し変数 += "<button value='100'>[100] ＤＭを送るキャラを選ぶ</button>"
		ENDIF
	CASE "実処理"
		VARSET 表示候補, -1
		現在ページ = 0

		;表示キャラを登録
		LOCAL:1 = 0
		FOR LOCAL, 1, CHARANUM
			;招待不可キャラは排除
			SIF CFLAG:LOCAL:招待不可フラグ
				CONTINUE
			;好感度レベル11以上（顔見知り以上）条件
			SIF CFLAG:LOCAL:好感度レベル < 1+関係閾値:1
				CONTINUE
			;滞在済みは出さない
			SIF CFLAG:LOCAL:滞在期間 >= 0
				CONTINUE
			;オプションによる制御
			SIF 性別招待制御_実処理(LOCAL)
				CONTINUE
			LOCAL:3 = 0
			FOR LOCAL:2, 0, 100
				SIF 解放キャラ招待:(LOCAL:2) == 0
					BREAK
				IF 解放キャラ招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ELSEIF LOCAL:2 < 20 && スイートルーム招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ENDIF
			NEXT
			SIF LOCAL:3
				CONTINUE
			表示候補:(LOCAL:1) = LOCAL
			LOCAL:1 += 1
		NEXT

		$表示_LOOP

		;広告対象の表示
		DRAWLINE
		PRINTL 誰にダイレクトメールを出しますか？
		DRAWLINE
		LOCAL:1 = 0
		;キャラの表示（15人まで）
		FOR LOCAL, (現在ページ * 30), ((現在ページ * 30) + 30)
			;登録が終わったら表示終了
			IF 表示候補:LOCAL == -1
				BREAK
			ENDIF
			PRINTBUTTON @"[{LOCAL,3,RIGHT}] %ADD_STR_SPACE(NAME:(表示候補:LOCAL), "]"), 50, LEFT%", LOCAL
			SIF LOCAL % 2 != 0
				PRINTL 
		NEXT
		PRINTL
		DRAWLINE

		;ページめくり表示
		IF 現在ページ > 0
			PRINTBUTTONLC "[900]前ページへ", 900
		ELSE
			PRINTLC 　　　
		ENDIF
		PRINTFORM - {現在ページ + 1} -
		IF 表示候補:((現在ページ * 30) + 30) > 0
			PRINTBUTTONC "[901]次ページへ", 901
		ENDIF
		PRINTL 
		PRINTBUTTON "[999]戻る", 999

		$INPUT_LOOP
		BINPUT

		;広告対象のINPUT
		SELECTCASE RESULT
			CASE 900
				現在ページ = MAX(現在ページ - 1, 0)
				GOTO 表示_LOOP
			CASE 901
				SIF LOCAL:1 == 0
					現在ページ += 1
				GOTO 表示_LOOP
			CASE 999
				RETURN -1
			CASE IS >= CHARANUM, IS < 0
				REUSELASTLINE 
				GOTO INPUT_LOOP
			CASEELSE
				IF 表示候補:RESULT < 0
					REUSELASTLINE 
					GOTO INPUT_LOOP
				ENDIF
				広告対象 = 表示候補:RESULT
		ENDSELECT

		DRAWLINE
		PRINTFORMW %CALLNAME:MASTER%は費用として5000ルピを支払い、%CALLNAME:広告対象%にダイレクトメールを送った。
		MONEY -= 5000

		LOCAL = RAND:100
		LOCAL:1 = 50
		集客人数 = 1
		;基礎確率50%、以下の素質で上下させる
		;好感度による確率上昇。＋０％～１８％
		LOCAL:1 += (CFLAG:広告対象:好感度レベル - 10) / 5
		;恋慕だと確定で来る
		IF TALENT:広告対象:恋慕
			LOCAL:1 += 100
		ENDIF

		;実際に来るかどうかわかるのは起床後の朝だが判定はここで確定させる
		ＤＭキャラ招待 = 広告対象
		;失敗時、負の数にする。常連は失敗しない
		SIF LOCAL >= LOCAL:1 && TALENT:広告対象:常連 == 0
			ＤＭキャラ招待 = ＤＭキャラ招待 * -1
ENDSELECT



@特殊広告_種族別広告を打つ(処理モード, 入力数値 = 0)
#DIMS 処理モード
#DIM 入力数値
#DIM 集客候補, キャラクタ数上限
#DIM 候補人数
#DIM 集客人数保存
VARSET 集客候補

SELECTCASE 処理モード
	CASE "右側表示"
		詳細文文字列受け渡し変数 += "■種族別広告を打つ<br><br>"
		詳細文文字列受け渡し変数 += "特定の種族をターゲットにした広告を打ちます。一律で5000ルピの費用が掛かります。<br>"
		詳細文文字列受け渡し変数 += "選択した種族が訪れやすくなりますが、ルピに対する訪問人数・人気上昇は通常広告よりも劣ります。<br>"
		詳細文文字列受け渡し変数 += "（確定ではなく、対象でないキャラが混じることもあります）<br><br>"
		IF 表示キー_右 == "ヒューマン"
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("黄")%'>[101] ヒューマン向けの広告を打つ（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）</font><br>"
		ELSE
			詳細文文字列受け渡し変数 += @"<button value='101'>[101] ヒューマン向けの広告を打つ</button>（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）<br>"
		ENDIF
		IF 表示キー_右 == "エルーン"
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("黄")%'>[102] エルーン向けの広告を打つ（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）</font><br>"
		ELSE
			詳細文文字列受け渡し変数 += @"<button value='102'>[102] エルーン向けの広告を打つ</button>（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）<br>"
		ENDIF
		IF 表示キー_右 == "ドラフ"
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("黄")%'>[103] ドラフ向けの広告を打つ（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）</font><br>"
		ELSE
			詳細文文字列受け渡し変数 += @"<button value='103'>[103] ドラフ向けの広告を打つ</button>（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）<br>"
		ENDIF
		IF 表示キー_右 == "ハーヴィン"
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("黄")%'>[104] ハーヴィン向けの広告を打つ（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）</font><br>"
		ELSE
			詳細文文字列受け渡し変数 += @"<button value='104'>[104] ハーヴィン向けの広告を打つ</button>（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{4 + 招待キャラ数補正算出(), 2}人）<br>"
		ENDIF
		IF 表示キー_右 == "星晶獣"
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("黄")%'>[105] 星晶獣向けの広告を打つ（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{3 + 招待キャラ数補正算出(), 2}人）</font><br>"
		ELSE
			詳細文文字列受け渡し変数 += @"<button value='105'>[105] 星晶獣向けの広告を打つ</button>（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{3 + 招待キャラ数補正算出(), 2}人）<br>"
		ENDIF
		詳細文文字列受け渡し変数 += "<br>"
		IF 表示キー_右 != ""
			IF MONEY < 5000
				詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[110] この設定で広告を出す（所持金不足）</font>"
			ELSE
				詳細文文字列受け渡し変数 += "<button value='110'>[110] この設定で広告を出す</button><br>"
			ENDIF
		ENDIF
	CASE "実処理"
		SELECTCASE 入力数値
			CASE 101
				表示キー_右 = ヒューマン
				RETURN -1
			CASE 102
				表示キー_右 = エルーン
				RETURN -1
			CASE 103
				表示キー_右 = ドラフ
				RETURN -1
			CASE 104
				表示キー_右 = ハーヴィン
				RETURN -1
			CASE 105
				表示キー_右 = 星晶獣
				RETURN -1
			CASE 110
				PRINTFORMW %表示キー_右%向けの広告を出しました。
				MONEY -= 5000
				CALL 人気上昇処理(3000)
				;実処理
				;集客人数を入れて、まずは通常広告処理
				IF 表示キー_右 == "星晶獣"
					集客人数 = RAND:2 + 2 + 招待キャラ数補正算出()
				ELSE
					集客人数 = RAND:3 + 2 + 招待キャラ数補正算出()
				ENDIF
				CALL 通常招待_実処理
				;通常招待の方が多い時に備えて集客人数を退避
				集客人数保存 = 集客人数
				;その後、上書きする形で種族別の招待を処理
				IF 表示キー_右 == "星晶獣"
					集客人数 = RAND:2 + 2 + 招待キャラ数補正算出()
				ELSE
					集客人数 = RAND:3 + 2 + 招待キャラ数補正算出()
				ENDIF
				;上限以下にする
				CALL ユニーク客人数チェック()
				集客人数 = MIN(集客人数, (滞在キャラ上限 - 滞在キャラ数))

				LOCAL:1 = 0
				FOR LOCAL, 1, CHARANUM
					;招待不可キャラは排除
					SIF CFLAG:LOCAL:招待不可フラグ
						CONTINUE
					;サプチケで呼ぶ予定のキャラは排除
					SIF LOCAL == サプチケキャラ招待
						CONTINUE
					;オプションによる制御
					SIF 性別招待制御_実処理(LOCAL)
						CONTINUE
					;種族制御
					SIF TALENT:LOCAL:種族 != GETVAR(@"種族_%表示キー_右%")
						CONTINUE
					LOCAL:3 = 0
					FOR LOCAL:2, 0, 100
						SIF 解放キャラ招待:(LOCAL:2) == 0
							BREAK
						IF 解放キャラ招待:(LOCAL:2) == LOCAL
							LOCAL:3 = 1
							BREAK
						ELSEIF LOCAL:2 < 20 && スイートルーム招待:(LOCAL:2) == LOCAL
							LOCAL:3 = 1
							BREAK
						ENDIF
					NEXT
					SIF LOCAL:3
						CONTINUE
					;滞在状態ではないキャラをカウント
					IF CFLAG:LOCAL:滞在期間 == -1
						集客候補:(LOCAL:1) = LOCAL
						LOCAL:1 += 1
					ENDIF
				NEXT
				候補人数 = LOCAL:1

				;候補人数が０の場合はそのまま終わる
				IF 候補人数 == 0
					集客人数 = 集客人数保存
					RETURN 0
				ENDIF

				;候補人数が集客人数より少ない場合は全員登録
				IF 候補人数 <= 集客人数 || 候補人数 < 2
					FOR LOCAL, 0, 候補人数
						通常キャラ招待:LOCAL = 集客候補:LOCAL
					NEXT
				ELSE
					LOCAL:2 = 0
					LOCAL = 候補人数 - 1
					;集客候補配列をシャッフル
					WHILE LOCAL > 1
						LOCAL:1 = RAND:(LOCAL - 1)
						SWAP 集客候補:LOCAL, 集客候補:(LOCAL:1)
						LOCAL -= 1
						LOCAL:2 += 1
						;候補なしでおしまい
						IF LOCAL < 1
							集客人数 = LOCAL:2
							BREAK
						ENDIF
						;必要分集まったらおしまい
						SIF LOCAL:2 >= 集客人数
							BREAK
					WEND
					;配列の後ろの方にランダムシャッフルされた候補が集まってるはずなので集客人数分取得
					FOR LOCAL, 0, 集客人数
						通常キャラ招待:LOCAL = 集客候補:(候補人数 - 1 - LOCAL)
					NEXT
				ENDIF
				集客人数 = 集客人数保存
		ENDSELECT
ENDSELECT



@特殊広告_団体客向け広告を打つ(処理モード, 入力数値 = 0)
#DIMS 処理モード
#DIM 入力数値
#DIM 集客候補, キャラクタ数上限
#DIM 候補人数
#DIM 集客人数保存
VARSET 集客候補

SELECTCASE 処理モード
	CASE "右側表示"
		詳細文文字列受け渡し変数 += "■団体客向け広告を打つ<br><br>"
		詳細文文字列受け渡し変数 += "団体客をターゲットにした広告を打ちます。一律で10000ルピの費用が掛かります。<br>"
		詳細文文字列受け渡し変数 += "同行者候補を5人以上持つキャラが訪れやすくなり、同行確率が１．５倍になります。<br>その代わりルピに対する訪問人数・人気上昇は通常広告よりも劣ります。<br>"
		詳細文文字列受け渡し変数 += "（確定ではなく、対象でないキャラが混じることもあります）<br><br>"
		IF MONEY < 10000
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[100] 団体客向けの広告を打つ（所持金不足）</font>"
		ELSE
			詳細文文字列受け渡し変数 += "<button value='100'>[100] 団体客向けの広告を打つ</button><br>"
		ENDIF
		詳細文文字列受け渡し変数 += @"（集客予想値：{2 + 招待キャラ数補正算出(), 2}～{3 + 招待キャラ数補正算出(), 2}人）"
	CASE "実処理"
		PRINTFORMW 団体客向けの広告を出しました。
		MONEY -= 10000
		CALL 人気上昇処理(5000)
		団体客広告フラグ = 1
		;実処理
		;集客人数を入れて、まずは通常広告処理
		集客人数 = RAND:2 + 2 + 招待キャラ数補正算出()
		CALL 通常招待_実処理
		;通常招待の方が多い時に備えて集客人数を退避
		集客人数保存 = 集客人数
		;その後、上書きする形で条件該当キャラの招待を処理
		集客人数 = RAND:2 + 2 + 招待キャラ数補正算出()
		;上限以下にする
		CALL ユニーク客人数チェック()
		集客人数 = MIN(集客人数, (滞在キャラ上限 - 滞在キャラ数))

		LOCAL:1 = 0
		FOR LOCAL, 1, CHARANUM
			;招待不可キャラは排除
			SIF CFLAG:LOCAL:招待不可フラグ
				CONTINUE
			;サプチケで呼ぶ予定のキャラは排除
			SIF LOCAL == サプチケキャラ招待
				CONTINUE
			;オプションによる制御
			SIF 性別招待制御_実処理(LOCAL)
				CONTINUE
			;同行キャラ数を見る
			SIF MATCH(同行候補キャラ番号:LOCAL:0, 0) > 95
				CONTINUE
			LOCAL:3 = 0
			FOR LOCAL:2, 0, 100
				SIF 解放キャラ招待:(LOCAL:2) == 0
					BREAK
				IF 解放キャラ招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ELSEIF LOCAL:2 < 20 && スイートルーム招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ENDIF
			NEXT
			SIF LOCAL:3
				CONTINUE
			;滞在状態ではないキャラをカウント
			IF CFLAG:LOCAL:滞在期間 == -1
				集客候補:(LOCAL:1) = LOCAL
				LOCAL:1 += 1
			ENDIF
		NEXT
		候補人数 = LOCAL:1

		;候補人数が０の場合はそのまま終わる
		IF 候補人数 == 0
			集客人数 = 集客人数保存
			RETURN 0
		ENDIF

		;候補人数が集客人数より少ない場合は全員登録
		IF 候補人数 <= 集客人数
			FOR LOCAL, 0, 候補人数
				通常キャラ招待:LOCAL = 集客候補:LOCAL
			NEXT
		ELSE
			LOCAL:2 = 0
			LOCAL = 候補人数 - 1
			;集客候補配列をシャッフル
			WHILE LOCAL > 1
				LOCAL:1 = RAND:(LOCAL - 1)
				SWAP 集客候補:LOCAL, 集客候補:(LOCAL:1)
				LOCAL -= 1
				LOCAL:2 += 1
				;必要分集まったらおしまい
				SIF LOCAL:2 >= 集客人数
					BREAK
			WEND
			;配列の後ろの方にランダムシャッフルされた候補が集まってるはずなので集客人数分取得
			FOR LOCAL, 0, 集客人数
				通常キャラ招待:LOCAL = 集客候補:(候補人数 - 1 - LOCAL)
			NEXT
		ENDIF
		集客人数 = 集客人数保存
ENDSELECT



@特殊広告_新規顧客向け広告を打つ(処理モード, 入力数値 = 0)
#DIMS 処理モード
#DIM 入力数値
#DIM 集客候補, キャラクタ数上限
#DIM 候補人数
#DIM 集客人数保存
VARSET 集客候補

SELECTCASE 処理モード
	CASE "右側表示"
		詳細文文字列受け渡し変数 += "■新規顧客向け広告を打つ<br><br>"
		詳細文文字列受け渡し変数 += "新規の顧客向けのキャンペーン広告を打ちます。<br>一律で10000ルピの費用が掛かります。<br>"
		詳細文文字列受け渡し変数 += "一度もリゾートを訪れたことのないキャラが訪れやすくなります。<br>"
		詳細文文字列受け渡し変数 += "（確定ではなく、対象でないキャラが混じることもあります）<br><br>"
		IF MONEY < 10000
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[100] 新規顧客向け広告を打つ（所持金不足）</font>"
		ELSE
			詳細文文字列受け渡し変数 += "<button value='100'>[100] 新規顧客向け広告を打つ</button><br>"
		ENDIF
		詳細文文字列受け渡し変数 += @"（集客予想値：{5 + 招待キャラ数補正算出(), 2}～{7 + 招待キャラ数補正算出(), 2}人）"
	CASE "実処理"
		PRINTFORMW 新規顧客向けの広告を出しました。
		MONEY -= 10000
		CALL 人気上昇処理(10000)
		;実処理
		;集客人数を入れて、まずは通常広告処理
		集客人数 = RAND:3 + 5 + 招待キャラ数補正算出()
		CALL 通常招待_実処理
		;通常招待の方が多い時に備えて集客人数を退避
		集客人数保存 = 集客人数
		;その後、上書きする形で条件該当キャラの招待を処理
		集客人数 = RAND:3 + 5 + 招待キャラ数補正算出()
		;上限以下にする
		CALL ユニーク客人数チェック()
		集客人数 = MIN(集客人数, (滞在キャラ上限 - 滞在キャラ数))

		LOCAL:1 = 0
		FOR LOCAL, 1, CHARANUM
			;招待不可キャラは排除
			SIF CFLAG:LOCAL:招待不可フラグ
				CONTINUE
			;サプチケで呼ぶ予定のキャラは排除
			SIF LOCAL == サプチケキャラ招待
				CONTINUE
			;オプションによる制御
			SIF 性別招待制御_実処理(LOCAL)
				CONTINUE
			;リゾート来訪回数を見る
			SIF CFLAG:LOCAL:リゾート来訪回数 > 0
				CONTINUE
			LOCAL:3 = 0
			FOR LOCAL:2, 0, 100
				SIF 解放キャラ招待:(LOCAL:2) == 0
					BREAK
				IF 解放キャラ招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ELSEIF LOCAL:2 < 20 && スイートルーム招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ENDIF
			NEXT
			SIF LOCAL:3
				CONTINUE
			;滞在状態ではないキャラをカウント
			IF CFLAG:LOCAL:滞在期間 == -1
				集客候補:(LOCAL:1) = LOCAL
				LOCAL:1 += 1
			ENDIF
		NEXT
		候補人数 = LOCAL:1

		;候補人数が０の場合はそのまま終わる
		IF 候補人数 == 0
			集客人数 = 集客人数保存
			RETURN 0
		ENDIF

		;候補人数が集客人数より少ない場合は全員登録
		IF 候補人数 <= 集客人数
			FOR LOCAL, 0, 候補人数
				通常キャラ招待:LOCAL = 集客候補:LOCAL
			NEXT
		ELSE
			LOCAL:2 = 0
			LOCAL = 候補人数 - 1
			;集客候補配列をシャッフル
			WHILE LOCAL > 1
				LOCAL:1 = RAND:(LOCAL - 1)
				SWAP 集客候補:LOCAL, 集客候補:(LOCAL:1)
				LOCAL -= 1
				LOCAL:2 += 1
				;必要分集まったらおしまい
				SIF LOCAL:2 >= 集客人数
					BREAK
			WEND
			;配列の後ろの方にランダムシャッフルされた候補が集まってるはずなので集客人数分取得
			FOR LOCAL, 0, 集客人数
				通常キャラ招待:LOCAL = 集客候補:(候補人数 - 1 - LOCAL)
			NEXT
		ENDIF
		集客人数 = 集客人数保存
ENDSELECT


@特殊広告_リピーター向け広告を打つ(処理モード, 入力数値 = 0)
#DIMS 処理モード
#DIM 入力数値
#DIM 集客候補, キャラクタ数上限
#DIM 候補人数
#DIM 集客人数保存
VARSET 集客候補

SELECTCASE 処理モード
	CASE "右側表示"
		詳細文文字列受け渡し変数 += "■リピーター向け広告を打つ<br><br>"
		詳細文文字列受け渡し変数 += "リピーター向けのキャンペーン広告を打ちます。<br>一律で10000ルピの費用が掛かります。<br>"
		詳細文文字列受け渡し変数 += "過去にリゾートを訪れたことのあるキャラが訪れやすくなります。<br>"
		詳細文文字列受け渡し変数 += "（確定ではなく、対象でないキャラが混じることもあります）<br><br>"
		IF MONEY < 10000
			詳細文文字列受け渡し変数 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[100] リピーター向け広告を打つ（所持金不足）</font>"
		ELSE
			詳細文文字列受け渡し変数 += "<button value='100'>[100] リピーター向け広告を打つ</button><br>"
		ENDIF
		詳細文文字列受け渡し変数 += @"（集客予想値：{5 + 招待キャラ数補正算出(), 2}～{7 + 招待キャラ数補正算出(), 2}人）"
	CASE "実処理"
		PRINTFORMW リピーター向けの広告を出しました。
		MONEY -= 10000
		CALL 人気上昇処理(10000)
		;実処理
		;集客人数を入れて、まずは通常広告処理
		集客人数 = RAND:3 + 5 + 招待キャラ数補正算出()
		CALL 通常招待_実処理
		;通常招待の方が多い時に備えて集客人数を退避
		集客人数保存 = 集客人数
		;その後、上書きする形で条件該当キャラの招待を処理
		集客人数 = RAND:3 + 5 + 招待キャラ数補正算出()
		;上限以下にする
		CALL ユニーク客人数チェック()
		集客人数 = MIN(集客人数, (滞在キャラ上限 - 滞在キャラ数))

		LOCAL:1 = 0
		FOR LOCAL, 1, CHARANUM
			;招待不可キャラは排除
			SIF CFLAG:LOCAL:招待不可フラグ
				CONTINUE
			;サプチケで呼ぶ予定のキャラは排除
			SIF LOCAL == サプチケキャラ招待
				CONTINUE
			;オプションによる制御
			SIF 性別招待制御_実処理(LOCAL)
				CONTINUE
			;リゾート来訪回数を見る
			SIF CFLAG:LOCAL:リゾート来訪回数 <= 0
				CONTINUE
			LOCAL:3 = 0
			FOR LOCAL:2, 0, 100
				SIF 解放キャラ招待:(LOCAL:2) == 0
					BREAK
				IF 解放キャラ招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ELSEIF LOCAL:2 < 20 && スイートルーム招待:(LOCAL:2) == LOCAL
					LOCAL:3 = 1
					BREAK
				ENDIF
			NEXT
			SIF LOCAL:3
				CONTINUE
			;滞在状態ではないキャラをカウント
			IF CFLAG:LOCAL:滞在期間 == -1
				集客候補:(LOCAL:1) = LOCAL
				LOCAL:1 += 1
			ENDIF
		NEXT
		候補人数 = LOCAL:1

		;候補人数が０の場合はそのまま終わる
		IF 候補人数 == 0
			集客人数 = 集客人数保存
			RETURN 0
		ENDIF

		;候補人数が集客人数より少ない場合は全員登録
		IF 候補人数 <= 集客人数
			FOR LOCAL, 0, 候補人数
				通常キャラ招待:LOCAL = 集客候補:LOCAL
			NEXT
		ELSE
			LOCAL:2 = 0
			LOCAL = 候補人数 - 1
			;集客候補配列をシャッフル
			WHILE LOCAL > 1
				LOCAL:1 = RAND:(LOCAL - 1)
				SWAP 集客候補:LOCAL, 集客候補:(LOCAL:1)
				LOCAL -= 1
				LOCAL:2 += 1
				;必要分集まったらおしまい
				SIF LOCAL:2 >= 集客人数
					BREAK
			WEND
			;配列の後ろの方にランダムシャッフルされた候補が集まってるはずなので集客人数分取得
			FOR LOCAL, 0, 集客人数
				通常キャラ招待:LOCAL = 集客候補:(候補人数 - 1 - LOCAL)
			NEXT
		ENDIF
		集客人数 = 集客人数保存
ENDSELECT
