@大規模エリア建築メニュー処理

DRAWLINE
PRINTL リゾート島にある大規模な土地を開発します。
PRINTL ※開発中のため、正しく挙動しないことがあります。
DRAWLINE

CALL リゾート遠景表示処理("")

PRINT [999] 戻る

BINPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 999
		RETURN 0
ENDSELECT

RESTART



@リゾート遠景表示処理(処理モード)
#DIMS エリア名
#DIMS 処理モード
#DIM ボタン数値

LOCALS = <div rect='81,31,5900,3812' border='31' bcolor='#C0C0C0'><img src='リゾート遠景' height='3800' width='5900'></div>

IF 処理モード == "移動処理"
	IF CFLAG:MASTER:現在マップ種別 != 0
		ボタン数値 = 0
	ELSE
		ボタン数値 = 999
	ENDIF
	エリア名 = リゾートエリア
	LOCALS += @"<div rect='3200,2400,700,500'><button value='{ボタン数値}'><img src='リゾートハウス' height='500'></button></div>"
	LOCALS += @"<div rect='3100,2830,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'><button value='{ボタン数値}'>%エリア名%</button></div>"
ELSE
	エリア名 = リゾートエリア
	LOCALS += @"<div rect='3200,2400,700,500'><img src='リゾートハウス' height='500'></div>"
	LOCALS += @"<div rect='3100,2830,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'>%エリア名%</div>"
ENDIF

IF ダンジョンクリアフラグ_沿岸部の森
	IF 処理モード == "移動処理"
		IF CFLAG:MASTER:現在マップ種別 != 1
			ボタン数値 = 1
		ELSE
			ボタン数値 = 999
		ENDIF
		エリア名 = 空艇港エリア
		LOCALS += @"<div rect='2650,2900,700,500'><button value='{ボタン数値}'><img src='空艇港' height='500'></button></div>"
		LOCALS += @"<div rect='2600,3330,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'><button value='{ボタン数値}'>%エリア名%</button></div>"
	ELSE
		エリア名 = 空艇港エリア
		LOCALS += @"<div rect='2650,2900,700,500'><img src='空艇港' height='500'></div>"
		LOCALS += @"<div rect='2600,3330,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'>%エリア名%</div>"
	ENDIF
ENDIF

IF 開拓エリア解放フラグ:0
	IF 処理モード == "移動処理" 
		エリア名 = ＊空きエリア＊
		;LOCALS += @"<div rect='4250,2300,700,500'><img src='居住区' height='500'></div>"
		LOCALS += @"<div rect='4200,2730,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'>%エリア名%</div>"
	ELSE
		エリア名 = ＊空きエリア＊
		;LOCALS += @"<div rect='4250,2300,700,500'><img src='居住区' height='500'></div>"
		LOCALS += @"<div rect='4200,2730,{STRLENS(エリア名) * 50 + 120},212' padding='35,25,35' border='31' bcolor='#C0C0C0' color='#333333'><button value='0'>%エリア名%</button></div>"
	ENDIF
ENDIF

HTML_PRINT LOCALS
FOR LOCAL, 0, 34
	PRINTL
NEXT
DRAWLINE
