@大規模エリア建築メニュー処理
#DIMS エリア名

DRAWLINE
PRINTL リゾート島にある大規模な土地を開発します。
PRINTL ※開発中のため、正しく挙動しないことがあります。
DRAWLINE
LOCALS = <div rect='81,31,5900,3812' border='31' bcolor='#C0C0C0'></div>
;基本的にこの画面が見える＝リゾートと空艇港はあるのでデフォで表示

エリア名 = リゾートエリア
LOCALS += @"<div rect='800,2300,{STRLENS(エリア名) * 50 + 120},262' padding='50,25,50' border='31' bcolor='#C0C0C0'>%エリア名%</div>"

エリア名 = 空艇港エリア
LOCALS += @"<div rect='500,2800,{STRLENS(エリア名) * 50 + 120},262' padding='50,25,50' border='31' bcolor='#C0C0C0'>%エリア名%</div>"

エリア名 = ※空きエリア※
LOCALS += @"<div rect='1800,2500,{STRLENS(エリア名) * 50 + 120},262' padding='50,25,50' border='31' bcolor='#C0C0C0'>%エリア名%</div>"


HTML_PRINT LOCALS
FOR LOCAL, 0, 35
	PRINTL
NEXT
DRAWLINE
PRINT [999] 戻る

BINPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 施設改装メニュー処理
	CASE 101
		CALL 食堂メニュー開発処理
	CASE 102
		CALL 食堂メニュー設定処理
	CASE 110
		CALL お祭り企画メニュー処理
	CASE 120
		CALL 大規模エリア建築メニュー処理
	CASE 999
		RETURN 0
ENDSELECT

RESTART

