;---------------------------------------------------------------
;リゾート施設の改造、増築、開拓関連
;---------------------------------------------------------------

@施設改装メニュー処理
#DIM 画面表示用変数

LOCALS = <div rect='13px,0px,306px,55px' border='5px' bcolor='#C0C0C0'></div>
LOCALS += @"<div rect='25px,10px,306px,45px'>所持ルピ：{MONEY}<br>所持ZP　：{FLAG:ZP所持量}.{(ZP小数点以下所持量 % 1000) / 100}{(ZP小数点以下所持量 % 100) / 10}{(ZP小数点以下所持量 % 10)}</div>"
LOCALS += "<div rect='13px,60px,310px,450px' border='5px' bcolor='#C0C0C0'></div><div rect='328px,60px,620px,450px' border='5px' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='25px,80px,310px,450px'>"
LOCALS += "<button value='100'>[100] 庭系列を改装</button>"
LOCALS += "<br>"
LOCALS += "<button value='101'>[101] 遊戯室系列を改装</button>"
LOCALS += "<br>"
LOCALS += "<button value='102'>[102] プール系列を改装</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"
LOCALS += "</div>"
LOCALS += "<div rect='340px,80px,620px,450px'>"
SELECTCASE 画面表示用変数
	CASE 0
		LOCALS += "リゾート施設の改装・改造を行います。<br>"
		LOCALS += "改造にはルピなどのリソースが必要ですが、<br>"
		LOCALS += "滞在可能人数やリゾートの人気上限などが上昇します。<br>"
	CASE 100
		LOCALS += 庭系列改造メニュー()
	CASE 101
		LOCALS += 遊戯室系列改造メニュー()
	CASE 102
		LOCALS += プール系列改造メニュー()
ENDSELECT
LOCALS += "</div>"




HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 29
	PRINTL
NEXT
DRAWLINE

BINPUT

LOCAL = RESULT

SELECTCASE LOCAL
	CASE 100
		画面表示用変数 = 100
		RESTART
	CASE 101
		画面表示用変数 = 101
		RESTART
	CASE 102
		画面表示用変数 = 102
		RESTART
	CASE 999
		画面表示用変数 = 0
		RETURN
	CASEELSE
		SELECTCASE 画面表示用変数
			CASE 100
				CALL 庭系列改造実行関数(LOCAL)
			CASE 101
				CALL 遊戯室系列改造実行関数(LOCAL)
			CASE 102
				CALL プール系列改造実行関数(LOCAL)
		ENDSELECT
		RESTART
ENDSELECT

