@経営計画メニュー

DRAWLINE
PRINTL リゾートの経営に関する開発・研究を行います。
PRINTL ※開発中のため、正しく挙動しないことがあります。
DRAWLINE
LOCALS = <div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,1937,2812'>"
IF ダンジョンクリアフラグ_沿岸部の森
	LOCALS += "<button value='100'>[100] 施設改造</button>"
ELSE
	IF OPTION変数:ツールチップ切り替え == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>ダンジョン「沿岸部の森」クリアで解放<br>'>[100] 施設改造</nonbutton></font>"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[100] 施設改造</nonbutton></font>"
	ENDIF
ENDIF
LOCALS += "<br>"
IF チュートリアルフラグ:食事開発 == 0
	LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='101'>[101] 食事メニュー開発</font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font></button>"
	LOCALS += "<br>"
ELSE
	LOCALS += "<button value='101'>[101] 食事メニュー開発</button>"
	LOCALS += "<br>"
ENDIF
IF チュートリアルフラグ:食事設定 == 0
	LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='102'>[102] 食堂メニュー設定</font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font></button>"
	LOCALS += "<br>"
ELSE
	LOCALS += "<button value='102'>[102] 食堂メニュー設定</button>"
	LOCALS += "<br>"
ENDIF
LOCALS += "<button value='110'>[110] お祭り企画</button>"
LOCALS += "<br>"
IF 開拓エリア解放フラグ:0
	LOCALS += "<button value='120'>[120] 大規模エリア建築</button>"
	LOCALS += "<br>"
ENDIF
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
BINPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 施設改装メニュー処理
	CASE 101
		CALL 食堂メニュー開発処理
	CASE 102
		CALL 食堂メニュー設定処理
	CASE 110
		CALL お祭り企画メニュー処理
	CASE 120
		CALL 大規模エリア建築メニュー処理
	CASE 999
		RETURN 0
ENDSELECT

RESTART

