@経営計画メニュー

DRAWLINE
PRINTL リゾートの経営に関する開発・研究を行います。
PRINTL ※開発中のため、正しく挙動しないことがあります。
DRAWLINE
LOCALS = <div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,1937,2812'>"
IF ダンジョンクリアフラグ_沿岸部の森
	LOCALS += "<button value='100'>[100] 施設改造</button>"
ELSE
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>ダンジョン「沿岸部の森」クリアで解放<br>'>[100] 施設改造</nonbutton></font>"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[100] 施設改造</nonbutton></font>"
	ENDIF
ENDIF
LOCALS += "<br>"
; LOCALS += "<button value='101'>[101] 食事メニュー開発</button>"
; LOCALS += "<br>"
LOCALS += "<button value='110'>[110] お祭り企画</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
INPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 施設改装メニュー処理
	CASE 101
		CALL 素材入手処理("小魚", 1)
		CALL 素材入手処理("ランページシェル", 1)
		CALL 素材入手処理("マイトフィッシュ", 1)
		CALL 素材入手処理("レインボーマス", 1)
		CALL 素材入手処理("サケモン", 1)
		CALL 素材入手処理("謎の肉", 1)
		CALL 素材入手処理("普通の鳥肉", 1)
		CALL 素材入手処理("質の良い豚肉", 1)
		CALL 素材入手処理("高級牛肉", 1)
		CALL 素材入手処理("グラッジチャンク", 1)
		CALL 素材入手処理("普通の野菜", 1)
		CALL 素材入手処理("フォーレン草", 1)
		CALL 素材入手処理("瑞々しいキュウリ", 1)
		CALL 素材入手処理("寒中キャベツ", 1)
		CALL 素材入手処理("ルビーパプリカ", 1)
		CALL 素材入手処理("雑穀", 1)
		CALL 素材入手処理("ひよこ豆", 1)
		CALL 素材入手処理("古代米", 1)
		CALL 素材入手処理("黄金小麦", 1)
		CALL 素材入手処理("ソードコーン", 1)
		CALL 食堂メニュー開発処理
	CASE 110
		CALL お祭り企画メニュー処理
	CASE 999
		RETURN 0
	CASEELSE
ENDSELECT

RESTART

