@SHOW_SHOP
;奴隷購入ページフラグ
TFLAG:100 = 0
TOOLTIP_CUSTOM 1
TOOLTIP_SETFONTSIZE 12
TOOLTIP_SETDURATION 100000

CALL リゾートランク上昇チェック()
CALL イベント発生条件チェック()

DRAWLINE
LOCALS = %月算出()%
PRINTFORM {RESULT}年目 %LOCALS% {DAY % 30 + 1}日(%GET_DAY()%)
PRINTFORML (所持金:{MONEY}%MONEYLABEL%)
PRINTFORML リゾート人気度：{リゾート人気度}.{(リゾート人気度小数点以下 % 1000) / 100}{(リゾート人気度小数点以下 % 100) / 10}{(リゾート人気度小数点以下 % 10)}
PRINTFORML リゾートランク：%リゾートランク文字列:リゾートランク%
DRAWLINE
PRINTFORML ネームドキャラ滞在人数：{滞在キャラ数}人 / 最大{滞在キャラ上限}人
PRINTFORML 今日のモブ観光客人数：{モブ観光客数, 4}人
DRAWLINE
LOCALS = <font color='#f39800'>-----[起床]-------------------------------------------------------------------------------------------------</font><br>
LOCALS += "<button value='100'>[100] - 起床</button>"
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[リゾート]---------------------------------------------------------------------------------------------</font><br>"
IF 滞在キャラ数 >= 滞在キャラ上限
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>滞在人数上限<br>'>[110] - リゾートの広告を出す</nonbutton></font>　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[110] - リゾートの広告を出す</nonbutton></font>　　　　　　"
	ENDIF
ELSE
	LOCALS += "<button value='110'>[110] - リゾートの広告を出す</button>　　　　　　"
ENDIF

LOCALS += "<button value='111'>[111] - 経営計画</button>　　　　　　　　　　　　"

IF ダンジョンクリアフラグ_沿岸部の森
	LOCALS += "<button value='113'>[113] - 従業員設定</button>　　　　　　　　　　　"
ELSE
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>ダンジョン「沿岸部の森」クリアで解放<br>'>[113] - 従業員設定</nonbutton></font>　　　　　　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[113] - 従業員設定</nonbutton></font>　　　　　　　　　　　"
	ENDIF
ENDIF

LOCALS += "<button value='114'>[114] - 通信販売</button>　　　　　　　　　　　　"
LOCALS += "<button value='115'>[115] - ZPショップ</button>　　　　　　　　　　　"
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[キャラクター]-----------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='120'>[120] - イベントリスト</button>　　　　　　　　　"
LOCALS += "<button value='121'>[121] - 能力表示</button>　　　　　　　　　　　　"
IF 施設改造度:5:6
	LOCALS += "<button value='122'>[122] - 性癖開拓作戦</button>　　　　　　　　　　"
ELSE
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>施設改造「遊戯室系列：図書室」達成で解放<br>'>[122] - 性癖開拓作戦</nonbutton></font>　　　　　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[122] - 性癖開拓作戦</nonbutton></font>　　　　　　　　　　"
	ENDIF
ENDIF
LOCALS += "<br>"
LOCALS += "<button value='123'>[123] - 干渉力強化</button>　　　　　　　　　　　"
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[オプション]-------------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='200'>[200] - OPTION</button>　　　　　　　　　　　　　　"
LOCALS += "<button value='201'>[201] - SAVE</button>　　　　　　　　　　　　　　"
LOCALS += "<button value='202'>[202] - LOAD</button>　　　　　　　　　　　　　　"
LOCALS += "<br>"
LOCALS += "<button value='203'>[203] - ゲームヘルプ</button>　　　　　　　　　　"
LOCALS += "<br><br>"
HTML_PRINT LOCALS


@USERSHOP
IF RESULT == 100
	CALL TRAIN_MAIN
	RETURN 1
ELSEIF RESULT == 110
	SIF 滞在キャラ数 < 滞在キャラ上限
		CALL キャラクター招待
ELSEIF RESULT == 111
	CALL 経営計画メニュー
ELSEIF RESULT == 113 && ダンジョンクリアフラグ_沿岸部の森
	CALL 従業員メインメニュー
ELSEIF RESULT == 114
	CALL ITEM_BUY
ELSEIF RESULT == 115
	CALL ZP_SHOP
ELSEIF RESULT == 120
	CALL 起床前イベントリスト
ELSEIF RESULT == 121
	TFLAG:調教モード = -1
	CALL SHOW_CHARADATA
	TFLAG:調教モード = 0
ELSEIF RESULT == 122 && 施設改造度:5:6
	CALL 性癖開拓処理
ELSEIF RESULT == 123
	CALL 干渉強化メニュー
ELSEIF RESULT == 200
	CALL OPTION
ELSEIF RESULT == 201
	SAVEGAME
ELSEIF RESULT == 202
	LOADGAME
ELSEIF RESULT == 203
	CALL チュートリアル_MAIN
ENDIF




@起床時処理
FOR LOCAL, 0, CHARANUM
	SIF CFLAG:LOCAL:滞在期間 < 0
		CONTINUE
	CALL 移動ルーチンセット決定(LOCAL)
NEXT

IF モブ観光客数 == 0
	CALL モブ観光客算出
ENDIF
