@SHOW_SHOP
#DIM コマンド表示数
;奴隷購入ページフラグ
SAVESTR:ゲームフェイズ管理 = 
TOOLTIP_CUSTOM 1
TOOLTIP_SETFONTSIZE 12
TOOLTIP_SETDURATION 100000
CALL モブ観光客算出


DO

CALL リゾートランク上昇チェック()
CALL イベント発生条件チェック()
CALL 従業員人数チェック()
CALL ユニーク客人数チェック()

DRAWLINE
LOCALS = %月算出()%
PRINTFORM {RESULT}年目 %LOCALS% {DAY % 30 + 1}日(%GET_DAY()%)
PRINTFORML （所持金：%NUM_FORMAT(MONEY)%%MONEYLABEL% 所持ZP：%ZP所持量全文字列()%）
PRINTFORM リゾート人気度：%リゾート人気度全文字列()%
CALL 人気度上限算出()
IF リゾート人気度 >= RESULT / 1000
	SETCOLOR 0xC0C070
	PRINT　　　上限到達
	RESETCOLOR
ENDIF
PRINTL
PRINTFORML リゾートランク：%リゾートランク文字列:リゾートランク%
IF フィールド展開:欲情フィールド
	SETCOLOR カラーパレット("えっちな色")
	PRINTFORML 展開中フィールド：欲情フィールド　　残り{フィールド展開:欲情フィールド, 2}日
	RESETCOLOR
ENDIF
IF フィールド展開:露出フィールド
	SETCOLOR カラーパレット("えっちな色")
	PRINTFORML 展開中フィールド：露出フィールド　　消費ZP 1日 / 5ZP
	RESETCOLOR
ENDIF
DRAWLINE
LOCAL:1 = 0
FOR LOCAL, 1, CHARANUM
	SIF CFLAG:LOCAL:滞在期間 == 1
		LOCAL:1 += 1
NEXT
PRINTFORML ネームドキャラ滞在人数：%NUM_FORMAT(滞在キャラ数), 3%人 / 最大%NUM_FORMAT(滞在キャラ上限), 3%人　　　本日帰宅予定者：%NUM_FORMAT(LOCAL:1), 3%人
PRINTFORML 今日のモブ観光客人数：%NUM_FORMAT(モブ観光客数), 5%人
PRINTFORML 雇用中従業員キャラ人数：%NUM_FORMAT(従業員人数), 3%人
DRAWLINE
LOCALS = <div rect='94, 0, 5937, 1062' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156, 94, 5812, 937'>"
起床前メニュー上部分表示文字列 = 
CALL 起床前メニュー上部分表示文章
LOCALS += @"%起床前メニュー上部分表示文字列%"
LOCALS += "</div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 10
	PRINTL 
NEXT
LOCALS = <font color='#f39800'>-----[ゲーム進行]-------------------------------------------------------------------------------------------</font><br>
LOCALS += "<button value='100'>[100] - 起床</button>　　　　　　　　　　　　　　"
IF TSTR:NEWイベントフラグ != ""
	LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='120'>[120] - イベントリスト</button></font><font color='#FF5555'> New!</font> 　　　　　　"
ELSE
	LOCALS += "<button value='120'>[120] - イベントリスト</button>　　　　　　　　　"
ENDIF
LOCALS += "<button value='101'>[101] - 探索へ出かける</button>　　　　　　　　　"
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[リゾート]---------------------------------------------------------------------------------------------</font><br>"
IF 滞在キャラ数 >= 滞在キャラ上限
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>滞在人数上限<br>'>[110] - リゾートの広告を出す</nonbutton></font>　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[110] - リゾートの広告を出す</nonbutton></font>　　　　　　"
	ENDIF
ELSE
	LOCALS += "<button value='110'>[110] - リゾートの広告を出す</button>　　　　　　"
ENDIF

LOCALS += "<button value='111'>[111] - 経営計画</button>　　　　　　　　　　　　"

IF ダンジョンクリアフラグ_沿岸部の森
	LOCALS += "<button value='113'>[113] - 従業員設定</button>　　　　　　　　　　　"
ELSE
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>ダンジョン「沿岸部の森」クリアで解放<br>'>[113] - 従業員設定</nonbutton></font>　　　　　　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[113] - 従業員設定</nonbutton></font>　　　　　　　　　　　"
	ENDIF
ENDIF

LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[キャラクター]-----------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='121'>[121] - 能力表示</button>　　　　　　　　　　　　"
LOCALS += "<button value='122'>[122] - 探索系情報一覧</button>　　　　　　　　　"
IF 施設改造度:5:6
	IF チュートリアルフラグ:性癖開拓 == 0
		LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='123'>[123] - 性癖開拓</button></font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font>　　　　　　　　　"
	ELSE
		LOCALS += "<button value='123'>[123] - 性癖開拓</button>　　　　　　　　　　　　"
	ENDIF
ELSE
	IF ツールチップ切り替えOPTION記憶 == 0
		LOCALS += "<font color='#666666'><nonbutton title='<br>未開放機能<br>施設改造「遊戯室系列：図書室」達成で解放<br>'>[123] - 性癖開拓</nonbutton></font>　　　　　　　　　　　　"
	ELSE
		LOCALS += "<font color='#666666'><nonbutton>[123] - 性癖開拓</nonbutton></font>　　　　　　　　　　　　"
	ENDIF
ENDIF
LOCALS += "<br>"
LOCALS += "<button value='124'>[124] - 干渉力強化</button>　　　　　　　　　　　"
IF チュートリアルフラグ:縁結び == 0
	LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='125'>[125] - 縁結び</button></font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font>　　　　　　"
ELSE
	LOCALS += "<button value='125'>[125] - 縁結び</button>　　　　　　　　　　　　　"
ENDIF
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[ショップ類]-------------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='114'>[114] - 通信販売</button>　　　　　　　　　　　　"
LOCALS += "<button value='115'>[115] - ZPショップ</button>　　　　　　　　　　　"
コマンド表示数 = 0
IF イベント完了フラグ確認("大拡張！空艇港") > 0
	IF チュートリアルフラグ:よろず屋依頼 == 0
		LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='116'>[116] - よろず屋で依頼を出す</button></font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font>　　　"
	ELSE
		LOCALS += @"<button value='116'>[116] - よろず屋で依頼を出す</button>　　　　　　"
	ENDIF
	LOCALS += "<br>"
	IF チュートリアルフラグ:輸入品店 == 0
		LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='117'>[117] - 輸入品店</button></font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font>　　　　　　　　　"
	ELSE
		LOCALS += @"<button value='117'>[117] - 輸入品店</button>　　　　　　　　　　　　"
	ENDIF
	IF イベント完了フラグ確認("異世界の衣服？") > 0
		IF チュートリアルフラグ:異世界裁店 == 0
			LOCALS += @"<font color='#%カラーパレット_HTML("黄")%'><button value='118'>[118] - 異世界裁店</button></font>　<font color='#%カラーパレット_HTML("真っ赤")%'>NEW!</font>　　　　　　　　"
		ELSE
			LOCALS += @"<button value='118'>[118] - 異世界裁店</button>　　　　　　　　　　　"
		ENDIF
	ENDIF
	LOCALS += "<br>"
ELSE
	LOCALS += "<br>"
ENDIF
FOR LOCAL, 3, 9
	IF 空艇港店舗状況:LOCAL:0 == 1
		LOCALS += @"<button value='{140 + LOCAL}'>[{140 + LOCAL}] - 道具屋</button>　　　　　　　　　　　　　"
		コマンド表示数 += 1
	ELSEIF 空艇港店舗状況:LOCAL:0 == 2
		LOCALS += @"<button value='{140 + LOCAL}'>[{140 + LOCAL}] - 土産物店</button>　　　　　　　　　　　　"
		コマンド表示数 += 1
	ELSEIF 空艇港店舗状況:LOCAL:0 == 4
		LOCALS += @"<button value='{140 + LOCAL}'>[{140 + LOCAL}] - 装飾品店</button>　　　　　　　　　　　　"
		コマンド表示数 += 1
	ENDIF
	IF コマンド表示数 > 2
		LOCALS += "<br>"
		コマンド表示数 = 0
	ENDIF
NEXT
IF 港改造度:11:0
	SIF コマンド表示数
		LOCALS += "<br>"
	LOCALS += @"<button value='150'>[150] - 乗機作成</button>　　　　　　　　　　　　"
	LOCALS += @"<button value='151'>[151] - 搭載兵器作成</button>　　　　　　　　　　"
ENDIF
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[アイテム類]-------------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='135'>[135] - 写真一覧</button>　　　　　　　　　　　　"
LOCALS += "<br><br>"
LOCALS += "<font color='#f39800'>-----[オプション]-------------------------------------------------------------------------------------------</font><br>"
LOCALS += "<button value='200'>[200] - OPTION</button>　　　　　　　　　　　　　"
LOCALS += "<button value='201'>[201] - SAVE</button>　　　　　　　　　　　　　　"
LOCALS += "<button value='202'>[202] - LOAD</button>　　　　　　　　　　　　　　"
LOCALS += "<br>"
LOCALS += "<button value='203'>[203] - ゲームヘルプ</button>　　　　　　　　　　"
LOCALS += "<br>"
SIF FLAG:エンディング後フラグ
	LOCALS += "<button value='900'>[900] - 強くてNEWGAME</button>　　　　　　　　　　"
LOCALS += "<br><br>"
[IF_DEBUG]
LOCALS += "<button value='9999'>[9999] - デバッグ用</button>　　　　　　　　　　"
LOCALS += "<br><br>"
[ENDIF]
HTML_PRINT LOCALS
BINPUT

SELECTCASE RESULT
	CASE 800 TO 899
		CALL 起床前メニュー上部分文章切り替え(RESULT)
	CASE 100
		DEBUGCLEAR
		SAVESTR:ゲームフェイズ管理 = 通常モード
		CALL TRAIN_MAIN
		RETURN 1
	CASE 101
		CALL COM601
		IF RESULT == 1
			CALL ダンジョン内_SOURCE_CHECK(0)
			CALL TURN_RESET
			LOCALS = %月算出()%
			SAVEDATA 99, @"%GETTIMES()% {RESULT}年目 %LOCALS% {DAY % 30 + 1}日(%GET_DAY()%)"
		ENDIF
	CASE 110
		SIF 滞在キャラ数 < 滞在キャラ上限
			CALL キャラクター招待
	CASE 111
		CALL 経営計画メニュー
	CASE 113
		SIF ダンジョンクリアフラグ_沿岸部の森
			CALL 従業員メインメニュー
	CASE 114
		CALL 通信販売_BUY
	CASE 115
		CALL ZP_SHOP
	CASE 116
		CALL よろず屋依頼発行処理
	CASE 117
		CALL よろず屋輸入品店処理
	CASE 118
		CALL よろず屋異世界裁店処理
	CASE 120
		CALL 起床前イベントリスト
	CASE 121
		TFLAG:調教モード = -1
		CALL SHOW_CHARADATA
		TFLAG:調教モード = 0
	CASE 122
		表示切り替え文字列 = 探索集約_探索メンバー
		CALL 探索系集約表示
	CASE 123
		SIF 施設改造度:5:6
			CALL 性癖開拓処理
	CASE 124
		CALL 干渉強化メニュー
	CASE 125
		CALL 縁結びメニュー
	CASE 135
		CALL 所持写真一覧表示
	CASE 143 TO 148
		IF 空艇港店舗状況:(RESULT - 140):0 == 1
			CALL 空艇港店舗用コマンド_COM_1
		ELSEIF 空艇港店舗状況:(RESULT - 140):0 == 2
			CALL 空艇港店舗用コマンド_COM_2
		ELSEIF 空艇港店舗状況:(RESULT - 140):0 == 4
			CALL 空艇港店舗用コマンド_COM_4
		ENDIF
	CASE 150
		CALL 所持乗機リスト表示_作成時
	CASE 151
		CALL 所持兵器リスト表示_作成時
	CASE 200
		CALL OPTION
	CASE 201
		SAVEGAME
	CASE 202
		LOADGAME
	CASE 203
		CALL チュートリアル_MAIN
	CASE 900
		IF FLAG:エンディング後フラグ
			CALL 周回引き継ぎ処理
			SIF RESULT == -1
				BEGIN FIRST
		ENDIF
	CASE 9999
		RESETBGCOLOR
ENDSELECT

LOOP 1

@USERSHOP

@起床時処理
IF モブ観光客数 > 0
	DRAWLINE
	PRINTFORMW 今日のモブ観光客数は{モブ観光客数, 4}人です。
	DRAWLINE
ENDIF

LOCALS = 
LOCAL:1 = 0
VARSET 教師レベル保存
FOR LOCAL, 0, CHARANUM
	SIF CFLAG:LOCAL:滞在期間 < 0
		CONTINUE
	IF TALENT:LOCAL:従業員
		IF 従業員休暇判定(LOCAL)
			TCVAR:LOCAL:休暇中 = 1
			LOCALS += @"・%CALLNAME:LOCAL, 20, LEFT%"
			LOCAL:1 ++
			SIF LOCAL:1 % 3 == 0
				LOCALS += "<br>"
		ELSEIF 現在仕事:LOCAL:0 == 8
			;教師数をチェックしておく
			教師レベル保存:(現在仕事:LOCAL:1) += 知識素質:LOCAL:(現在仕事:LOCAL:1) * (仕事レベル:LOCAL:8 + 1) / 2
			;表示用に保存
			学校利用者:(現在仕事:LOCAL:1 + 100) += @"{LOCAL}_"
			学校利用者:0 = 表示
		ENDIF
	ENDIF
	CALL キャラ就寝場所セット(LOCAL)
	CALL 移動ルーチンセット決定(LOCAL)
NEXT
CALL 関係性同行決定()

IF LOCALS != ""
	HTML_PRINT @"本日は以下の従業員が休暇中です。<br>%LOCALS%"
	DRAWLINE
	WAIT
ENDIF

;クイック表示用に種別セット
TFLAG:マップ種別 = 派生マップ番号取得(CFLAG:PLAYER:現在マップ種別, CFLAG:PLAYER:現在位置)

@起床前メニュー上部分表示文章

IF 起床前メニュー上部分表示フラグ
	CALL TIPSランダム表示
ELSE
	CALL かんたんチュートリアル
ENDIF


@起床前メニュー上部分文章切り替え(入力番号)
#DIM 入力番号

IF 起床前メニュー上部分表示フラグ
	SELECTCASE 入力番号
		CASE 810 
			起床前メニュー上部分表示フラグ = 0
		CASE 811
			RETURN -1
	ENDSELECT
ELSE
	SELECTCASE 入力番号
		CASE 800 TO 802
			チュートリアル番号 = 入力番号
		CASE 809
			チュートリアル番号 = 0
			起床前メニュー上部分表示フラグ = 1
		CASE 810 
			チュートリアル番号 = 0
	ENDSELECT
ENDIF

@かんたんチュートリアル

SELECTCASE チュートリアル番号
	CASE 0
		LOCALS = ■かんたんチュートリアル<br>
		LOCALS += "　簡易的なチュートリアルが表示されます。項目を選んでください。<br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='800'>[800] まず何すりゃいいの？</button><br>"
		LOCALS += "　<button value='801'>[801] さっさとスケベしたいんだけど</button><br>"
		LOCALS += "　<button value='802'>[802] このキャラに口上付いてる？</button><br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='809'>[809] かんたんチュートリアルを表示しない</button><br>"
	CASE 800
		LOCALS = ■まず何すりゃいいの？<br>
		LOCALS += "　最初に[110] - リゾートの広告を出す を選び、[1]通常の広告を打つ を選んでください。<br>"
		LOCALS += "　広告を打つことで初めてキャラがリゾートに訪れるようになります。<br>"
		LOCALS += "　その後は[100] - 起床 を選択することでリゾート内に移行し、キャラたちと触れ合うことが出来ます。<br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
	CASE 801
		LOCALS = ■さっさとスケベしたいんだけど<br>
		LOCALS += "　このバリアントは、セックスまでが少々遠いバリアントになっています。<br>"
		LOCALS += "　最も簡単な方法は[121] - 能力表示 から、あるいはキャラと同室した状態で能力表示を選び、<br>"
		LOCALS += "　[110]恋慕対象に選ぶ を選択。それから行動を共にすることで恋慕レベルを上げ、告白する[352] を成功させることです。<br>"
		LOCALS += "　告白成功後に二人きりになれば、押し倒す[350] でセックスに持ち込むことが出来ます。<br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
	CASE 802
		LOCALS = ■このキャラに口上付いてる？<br>
		LOCALS += "　[121] - 能力表示 から[2000]フィルタ機能 を選び、[口上なし] を非表示にすると口上ファイルがあるキャラのみ一覧で表示されます。<br>"
		LOCALS += "　ただしこれはファイルがあるかどうかしか見ていないので、中身を保証するものではありません。<br>"
		LOCALS += "　口上の充実度に関してはERBファイルを直接閲覧してください。<br>"
		LOCALS += "<br>"
		LOCALS += "　<button value='810'>[810] かんたんチュートリアルに戻る</button><br>"
ENDSELECT

起床前メニュー上部分表示文字列 = %LOCALS%


@TIPSランダム表示

LOCALS = ■TIPS!<br>
SELECTCASE RAND:5
	CASE 0
		LOCALS += "　探索は現在表示されている起床前メニューからと、起床後に玄関まで移動してから行う方法があります。<br>"
		LOCALS += "　内容に違いはありませんが、玄関から出発すると時間を消費します。<br>"
		LOCALS += "　起床前メニューから行う方がお得です。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 1
		LOCALS += "　バリアントの開発は主にDiscordで行われています。<br>"
		LOCALS += "　雑談だけ参加やROM専などでも歓迎です。お気軽に参加ください。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 2
		LOCALS += "　沿岸部の森の奥にいるストーンイーターは、一度討伐した後も繰り返し戦うことが出来ます。<br>"
		LOCALS += "　ランダムな下級の指輪や火の耳飾りを入手出来るので、装備が整うまで毎日殴っておくといいでしょう。<br>"
		LOCALS += "　他のダンジョンボスも、再討伐によってアイテムが手に入ることが多いです。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 3
		LOCALS += "　リゾートの人気は日々の収入に直結する重要ステータスです。<br>"
		LOCALS += "　広告を積極的に出したり、雑務ゲージを貯めないよう多めに従業員を割り振るといいでしょう。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 4
		LOCALS += "　人気度はリゾートの充実度によって上限が定められています。<br>"
		LOCALS += "　広告出しても人気度上がらないな？　と思ったら施設の開発を進めてみてください。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
	CASE 5
		LOCALS += "　射精先の選択が煩わしい時はオート射精先設定をどうぞ。<br>"
		LOCALS += "　・OPTION > 機能切り替え > その他機能切り替え > オート射精設定<br>"
		LOCALS += "　・日中行動画面で[射精先設定]<br>"
		LOCALS += "　のどちらかから設定に入ることが可能です。<br>"
		LOCALS += "<br>"
		LOCALS += "<br>"
ENDSELECT
LOCALS += "　<button value='810'>[810] かんたんチュートリアルを表示する</button>　　<button value='811'>[811] TIPSリロール</button><br>"

起床前メニュー上部分表示文字列 = %LOCALS%
