
@食堂メニュー設定処理

DRAWLINE
PRINTL 所持しているメニューから、どれを提供するかを選びます。
DRAWLINE


LOCALS = <div rect='81,31,5925,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,5850,2812'>"
LOCALS += "<br>■現在のメニュー一覧<br><br>"
FOR LOCAL, 1, 6
	IF 現在設定メニュー:LOCAL
		LOCALS:2 = %カラーパレット_HTML(@"%属性数値文字列変換(DT_CELL_GET("料理メニューデータベース", 現在設定メニュー:LOCAL, "料理属性", 1))%属性")%
		IF EXISTFUNCTION(@"特殊料理関数_%DT_CELL_GETS("料理メニューデータベース",  現在設定メニュー:LOCAL, "メニュー名", 1)%")
			LOCALS:1 = ランク
		ELSE
			LOCALS:1 = 汎用料理ランク
		ENDIF
		LOCALS:1 += @"%TOFULL(TOSTR(DT_CELL_GET("料理メニューデータベース", 現在設定メニュー:LOCAL, "料理ランク", 1)))%：<font color='#%LOCALS:2%'>%DT_CELL_GETS("料理メニューデータベース",  現在設定メニュー:LOCAL, "メニュー名", 1)%</font>"
	ELSE
		LOCALS:1 = --------------------
	ENDIF
	LOCALS += @"　<button value='{LOCAL}'>メニュー%TOFULL(TOSTR(LOCAL))%「%LOCALS:1%」</button><br>"
NEXT
LOCALS += @"<br><button value='999'>[999] 戻る</button>"
LOCALS += "</div>"
LOCALS += "<div rect='3156,100,2770,2670' border='20' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='3231,225,2670,2550'>"
LOCALS += "■メニュー１の特殊効果<br>"
LOCALS += "　なし<br><br>"
LOCALS += "■メニュー２の特殊効果<br>"
LOCALS += "　なし<br><br>"
LOCALS += "■メニュー３の特殊効果<br>"
LOCALS += "　なし<br><br>"
LOCALS += "■メニュー４の特殊効果<br>"
LOCALS += "　なし<br><br>"
LOCALS += "■メニュー５の特殊効果<br>"
LOCALS += "　なし<br><br>"
LOCALS += "</div>"
LOCALS += "<div rect='156,2000,2950,770' border='20' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='231,2075,2800,700'>"
LOCALS += "■メニューのコンボ効果<br>"
LOCALS += "　コンボ名：--------------------<br>"
LOCALS += "　効果：なし<br>"
LOCALS += "</div>"


HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 26
	PRINTL
NEXT
DRAWLINE

BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 1 TO 5
		CALL 既存メニュー閲覧(1, 1, 1)
		IF RESULT == -2
			現在設定メニュー:LOCAL = 0
		ELSEIF RESULT > 0
			現在設定メニュー:LOCAL = RESULT
		ENDIF
		RESTART
	CASE 999
		RETURN -1
ENDSELECT
