;-------------------------------------------------
;ニューゲーム
;-------------------------------------------------
@EVENTFIRST
TARGET = 0
ASSI = 0

PBAND = 12

CALL DEFAULT_OPTION

;モード選択（後々使うかもしれないから消さずにコメントアウト）
;PRINTL ★★モードを選択してください★★
;PRINTL [0]START
;
;$INPUT_LOOP
;INPUT
;IF RESULT == 0
;	FLAG:5 = 0
;ELSE
;	GOTO INPUT_LOOP
;ENDIF


初期設定中 = 1
LOCAL = 0
FOR LOCAL,CHARANUM,キャラクタ数上限
	SIF !EXISTCSV(LOCAL)
		CONTINUE
	;ランダムキャラ排除
	SIF LOCAL == 999
		CONTINUE
	ADDCHARA LOCAL
NEXT

CALL コマンド存在チェック

CALL CUSTOM_CHARAMAKE(MASTER)
SIF TALENT:MASTER:2 & 2
	MAXBASE:MASTER:5 = 1500
ITEM:サプチケ = 1

CALL イベントデータベースセット
CALL アイテムデータベースセット
CALL 指輪データベースセット
CALL 耳飾りデータベースセット
CALL 衣装データベースセット
CALL 戦闘用データベースセット
CALL 素材アイテムデータベースセット
CALL 素材アイテム登録処理

CALL 制服登録処理("バニー服")
CALL 制服登録処理("メイド服")

従業員キャラ上限 = 2
施設改造度:0:0 = 1

PRINTW パラメータの初期化処理を行います
PRINTL 
SAVESTR:10 = /
LOCAL:1 = CHARANUM / 10
REDRAW 0
FOR LOCAL, 0, CHARANUM
	CALL キャラクター初期化(LOCAL)
	IF LOCAL % LOCAL:1 == 0
		CLEARLINE 1
		PRINTFORML 進行度……{LOCAL / LOCAL:1 * 10}\%
		AWAIT
		;TWAIT 100, 1
	ENDIF
NEXT
CLEARLINE 1
PRINTL 進行度……100%
;起床時間
CFLAG:MASTER:現在位置 = CFLAG:MASTER:311
CFLAG:MASTER:滞在期間 = 999
CFLAG:MASTER:312 = 420
CFLAG:MASTER:睡眠 = 1
初体験日:MASTER:初対面 = 999
FLAG:従業員数 = 1
DAY = 1
MONEY = 5000

ボタン化用カラーマトリクス:0:0 = 768,256,256,  0,  0
ボタン化用カラーマトリクス:1:0 = 256,768,256,  0,  0
ボタン化用カラーマトリクス:2:0 = 256,256,256,  0,  0
ボタン化用カラーマトリクス:3:0 =   0,  0,  0,256,  0
ボタン化用カラーマトリクス:4:0 =   0,  0,  0,  0,256

REDRAW 1



VARSET 通常キャラ招待
VARSET ＤＭキャラ招待

;初期値設定
滞在キャラ数 = 0
滞在キャラ上限 = 20
モブ観光客数 = 0
;あなたは初期状態で雑務に従事している
現在仕事:0:0 = 1

PRINTW パラメータの初期化処理が終了しました

;素質設定
PRINTL
PRINTW 素質の切り替えオプションを呼び出します。
PRINTL
CALL OPTION_素質切り替え
PRINTL
PRINTW このオプションはゲーム開始後もOPTIONから呼び出すことが出来ます。

;フレーバー設定
PRINTL
PRINTW フレーバー素質の設定を呼び出します。
PRINTL
;先に口上側の設定を読み込んでおく
FOR COUNT, 1, CHARANUM
	TRYCALLFORM フレーバー素質初期設定変更_{COUNT}
NEXT
CALL フレーバー素質初期設定
PRINTL

CALL シナリオ_OP

初期設定中 = 0
BEGIN SHOP

@EVENTLOAD
CALL VERSION_UP




@キャラクター初期化(ARG)
#DIMS CSTR切り分け文字列格納, 2
VARSET LOCALS
VARSET CSTR切り分け文字列格納


;全員睡眠状態
CFLAG:ARG:睡眠 = 1
CFLAG:ARG:滞在期間 = -1
CFLAG:ARG:現在位置 = 999
BASE:ARG:酩酊 = 0
MAXBASE:ARG:酩酊 = 1000
BASE:ARG:母乳 = 0
MAXBASE:ARG:母乳 = 10000
BASE:ARG:性欲 = 0
MAXBASE:ARG:性欲 = 10000
CALL CLOTHES_RESET(ARG)

;射精、勃起、ムード、理性、怒り
BASE:ARG:射精 = 0
BASE:ARG:勃起 = 0
BASE:ARG:ムード = 0
BASE:ARG:理性 = MAXBASE:ARG:11
BASE:ARG:怒り = 0
BASE:ARG:勃起 = 0
BASE:ARG:満足 = 0
CFLAG:ARG:勃起度 = 0
CFLAG:ARG:同行 = 0
CFLAG:ARG:酔いすぎ = 0
;性交フラグ
TEQUIP:ARG:50 = -1
TEQUIP:ARG:51 = -1
TCVAR:ARG:100 = -1
TCVAR:ARG:101 = -1
;中出し表示用フラグ
TCVAR:ARG:103 = -1
TCVAR:ARG:105 = -1
;射精処理用文字列変数
CSTR:ARG:10 = /
CSTR:ARG:11 = /
;発情期
SIF 発情期判定(ARG)
	CFLAG:ARG:発情期フラグ = RAND:9 + 1

VARSET LOCALS
;招待時同行キャラ
REPLACE CSTR:ARG:同行キャラ, " ", ""
SPLIT RESULTS, "%", LOCALS
LOCAL:2 = RESULT - 1
FOR LOCAL, 0, LOCAL:2
	SPLIT LOCALS:LOCAL, "_", CSTR切り分け文字列格納
	;同行キャラ格納格納:0に名前、同行キャラ格納:1に確率が入っているはず
	同行候補キャラ番号:ARG:LOCAL = FINDCHARA(NAME, CSTR切り分け文字列格納:0)
	同行候補キャラ確率:ARG:LOCAL = TOINT(CSTR切り分け文字列格納:1)
NEXT

VARSET LOCALS
;知識素質
SUBSTRING CSTR:ARG:知識素質設定, 1, -1
SPLIT RESULTS, " ", LOCALS
LOCAL:2 = RESULT - 1
FOR LOCAL, 0, LOCAL:2
	SPLIT LOCALS:LOCAL, "Lv", CSTR切り分け文字列格納
	;CSTR切り分け文字列格納:0に素質名、CSTR切り分け文字列格納:1に数値が入っているはず
	知識素質:ARG:(CSTR切り分け文字列格納:0) = TOINT(CSTR切り分け文字列格納:1)
NEXT

;素質切り替え
IF TALENT:LOCAL:陥没乳首 && 素質切り替えOPTION記憶:陥没乳首_なし
	TALENT:LOCAL:陥没乳首 = 0
ENDIF
IF TALENT:LOCAL:母乳体質 && 素質切り替えOPTION記憶:母乳体質_なし
	TALENT:LOCAL:母乳体質 = 0
ENDIF
IF TALENT:LOCAL:性別 == 3 && 素質切り替えOPTION記憶:ふたなり_女性
	TALENT:LOCAL:性別 = 1
ENDIF

VARSET LOCALS
;戦闘ステータス
SUBSTRING CSTR:ARG:戦闘基礎ステータス設定, 1, -1
SPLIT RESULTS, " ", LOCALS
	;属性
	SPLIT LOCALS:0, "_", CSTR切り分け文字列格納
	基礎BATTLE_STATE:ARG:属性 = 属性文字列数値変換(CSTR切り分け文字列格納:1)
	;得意武器
	SPLIT LOCALS:1, "_", CSTR切り分け文字列格納
	基礎BATTLE_STATE:ARG:得意武器 = 得意武器文字列数値変換(CSTR切り分け文字列格納:1)
	;初期ステータス
	SPLIT LOCALS:2, "_", CSTR切り分け文字列格納
	CALL 初期ステータス設定_テンプレート適用(CSTR切り分け文字列格納:1, ARG)


CALL 弱点コマンド初期設定(ARG)
TRYCALLFORM 口上側初期パラメータ変更_{NO:ARG}


@弱点コマンド初期設定(ARG)
#DIMS 弱点候補_セクハラ, 200
#DIMS 弱点候補_うふふ, 200
#DIMS 敏感弱点候補_セクハラ, 200
#DIMS 敏感弱点候補_うふふ, 200
#DIM 敏感セクハラ候補数
#DIM 敏感うふふ候補数
#DIM セクハラ候補数
#DIM うふふ候補数
#DIM チェック完了

;弱点初期化
VARSET 弱点コマンド枠:ARG:0

;まず口上側で弱点の設定があるか見に行く
TRYCCALLFORM 弱点コマンド初期設定変更_{ARG}
	;弱点が全て埋まった場合はここで処理終了
	SIF MATCH(弱点コマンド枠:ARG:0, "", 0, 5)==0
		RETURN
CATCH
ENDCATCH

セクハラ候補数 = 0
うふふ候補数 = 0
敏感セクハラ候補数 = 0
敏感うふふ候補数 = 0


;敏感素質に対応した弱点候補をリスト化
FOR LOCAL, 0, 1000
	;通常コマンド
	IF GETBIT(通常コマンド存在フラグ:LOCAL, 0)
		;口上側と被ってない場合+敏感素質に対応してる場合のみ
		IF !MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}", 0, 5) && 敏感素質対応判定(ARG, @"COMTYPE_{LOCAL}")
			SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}")
				CASE 1
					敏感弱点候補_セクハラ:敏感セクハラ候補数 = {LOCAL}
					敏感セクハラ候補数 += 1
				CASE 2
					敏感弱点候補_うふふ:敏感うふふ候補数 = {LOCAL}
					敏感うふふ候補数 += 1
			ENDSELECT
		ENDIF
		;派生コマンド
		FOR LOCAL:1, 0, 20
			SIF !GETBIT(通常コマンド存在フラグ:LOCAL, LOCAL:1 + 1)
				CONTINUE
			;口上側と被ってるOR敏感素質に対応してないなら飛ばす
			SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{LOCAL:1}", 0, 5) || !敏感素質対応判定(ARG, @"COMTYPE_S_{LOCAL}_{LOCAL:1}")
				CONTINUE
			SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_S_{LOCAL}_{LOCAL:1}")
				CASE 1
					敏感弱点候補_セクハラ:敏感セクハラ候補数 = {LOCAL}_{LOCAL:1}
					敏感セクハラ候補数 += 1
				CASE 2
					敏感弱点候補_うふふ:敏感うふふ候補数 = {LOCAL}_{LOCAL:1}
					敏感うふふ候補数 += 1
			ENDSELECT
		NEXT
	ENDIF
	;専用コマンド
	IF INRANGE(LOCAL, 370, 374)
		SIF !EXISTFUNCTION(@"COMTYPE_{LOCAL}_{NO:ARG}")
			CONTINUE
		;口上側と被ってるOR敏感素質に対応してないなら飛ばす
		SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{NO:ARG}", 0, 5) || !敏感素質対応判定(ARG, @"COMTYPE_{LOCAL}_{NO:ARG}")
			CONTINUE
		SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}_{NO:ARG}")
			CASE 1
				敏感弱点候補_セクハラ:敏感セクハラ候補数 = {LOCAL}_{NO:ARG}
				敏感セクハラ候補数 += 1
			CASE 2
				敏感弱点候補_うふふ:敏感うふふ候補数 = {LOCAL}_{NO:ARG}
				敏感うふふ候補数 += 1
		ENDSELECT
	;場所固有コマンド
	ELSEIF INRANGE(LOCAL, 380, 384)
		FOR LOCAL:1, 0, 20
			FOR LOCAL:5, 0, 1
				FOR LOCAL:2, 0, 20
					SIF !GETBIT(場所固有コマンド存在フラグ:(LOCAL - 380):(LOCAL:5):(LOCAL:1), LOCAL:2)
						CONTINUE
					LOCAL:3 = LOCAL:1 * 100 + LOCAL : 2 + 1
					;口上側と被ってるなら飛ばす
					SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{LOCAL:5}_{LOCAL:3}", 0, 5) || !敏感素質対応判定(ARG, @"COMTYPE_{LOCAL}_{LOCAL:5}_{LOCAL:3}")
						CONTINUE
					SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}_{LOCAL:5}_{LOCAL:3}")
						CASE 1
							敏感弱点候補_セクハラ:敏感セクハラ候補数 = {LOCAL}_{LOCAL:3}
							敏感セクハラ候補数 += 1
						CASE 2
							敏感弱点候補_うふふ:敏感うふふ候補数 = {LOCAL}_{LOCAL:3}
							敏感うふふ候補数 += 1
					ENDSELECT
				NEXT
			NEXT
		NEXT
	ENDIF
NEXT


;敏感対応の候補からセクハラとうふふに一つずつ設定
;ただし、以下の条件を守る
;・弱点コマンド枠は最低一つ空ける
;・うふふとセクハラのどちらか一つしか入らないならうふふ優先

;うふふ設定
LOCAL = 0
WHILE 1
	SIF LOCAL > 3 || !敏感うふふ候補数
		BREAK
	IF 弱点コマンド枠:ARG:LOCAL != ""
		LOCAL ++
		CONTINUE
	ENDIF
	LOCAL:1 = RAND:敏感うふふ候補数
	弱点コマンド枠:ARG:LOCAL = %敏感弱点候補_うふふ:(LOCAL:1)%
	BREAK
WEND

;セクハラ設定
LOCAL = 0
WHILE 1
	SIF LOCAL > 3 || !敏感セクハラ候補数
		BREAK
	IF 弱点コマンド枠:ARG:LOCAL != ""
		LOCAL ++
		CONTINUE
	ENDIF
	LOCAL:1 = RAND:敏感セクハラ候補数
	弱点コマンド枠:ARG:LOCAL = %敏感弱点候補_セクハラ:(LOCAL:1)%
	BREAK
WEND

;弱点候補リスト化
FOR LOCAL, 0, 1000
	;通常コマンド
	IF GETBIT(通常コマンド存在フラグ:LOCAL, 0)
		;口上側と被ってない場合のみ
		IF !MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}", 0, 5)
			SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}")
				CASE 1
					弱点候補_セクハラ:セクハラ候補数 = {LOCAL}
					セクハラ候補数 += 1
				CASE 2
					弱点候補_うふふ:うふふ候補数 = {LOCAL}
					うふふ候補数 += 1
			ENDSELECT
		ENDIF
		;派生コマンド
		FOR LOCAL:1, 0, 20
			SIF !GETBIT(通常コマンド存在フラグ:LOCAL, LOCAL:1 + 1)
				CONTINUE
			;口上側と被ってるなら飛ばす
			SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{LOCAL:1}", 0, 5)
				CONTINUE
			SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_S_{LOCAL}_{LOCAL:1}")
				CASE 1
					弱点候補_セクハラ:セクハラ候補数 = {LOCAL}_{LOCAL:1}
					セクハラ候補数 += 1
				CASE 2
					弱点候補_うふふ:うふふ候補数 = {LOCAL}_{LOCAL:1}
					うふふ候補数 += 1
			ENDSELECT
		NEXT
	ENDIF
	;専用コマンド
	IF INRANGE(LOCAL, 370, 374)
		SIF !EXISTFUNCTION(@"COMTYPE_{LOCAL}_{NO:ARG}")
			CONTINUE
		;口上側と被ってるなら飛ばす
		SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{NO:ARG}", 0, 5)
			CONTINUE
		SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}_{NO:ARG}")
			CASE 1
				弱点候補_セクハラ:セクハラ候補数 = {LOCAL}_{NO:ARG}
				セクハラ候補数 += 1
			CASE 2
				弱点候補_うふふ:うふふ候補数 = {LOCAL}_{NO:ARG}
				うふふ候補数 += 1
		ENDSELECT
	;場所固有コマンド
	ELSEIF INRANGE(LOCAL, 380, 384)
		FOR LOCAL:1, 0, 20
			FOR LOCAL:2, 0, 20
				SIF !GETBIT(場所固有コマンド存在フラグ:(LOCAL - 380):(LOCAL:5):(LOCAL:1), LOCAL:2)
					CONTINUE
				LOCAL:3 = LOCAL:1 * 100 + LOCAL : 2 + 1
				;口上側と被ってるなら飛ばす
				SIF MATCH(弱点コマンド枠:ARG:0, @"{LOCAL}_{LOCAL:5}_{LOCAL:3}", 0, 5)
					CONTINUE
				SELECTCASE 弱点コマンド候補判定(ARG, @"COMTYPE_{LOCAL}_{LOCAL:5}_{LOCAL:3}")
					CASE 1
						弱点候補_セクハラ:セクハラ候補数 = {LOCAL}_{LOCAL:5}_{LOCAL:3}
						セクハラ候補数 += 1
					CASE 2
						弱点候補_うふふ:うふふ候補数 = {LOCAL}_{LOCAL:5}_{LOCAL:3}
						うふふ候補数 += 1
				ENDSELECT
			NEXT
		NEXT
	ENDIF
NEXT

;空いている枠にセクハラ系から２つ、うふふ系から２つ、完全ランダムで１つ設定する

FOR LOCAL, 0, 5
	SIF 弱点コマンド枠:ARG:LOCAL != ""
		CONTINUE
	SELECTCASE LOCAL
		CASE 0 TO 1
			LOCAL:1 = RAND:セクハラ候補数
			弱点コマンド枠:ARG:LOCAL = %弱点候補_セクハラ:(LOCAL:1)%
			FOR LOCAL:2, LOCAL:1, セクハラ候補数
				弱点候補_セクハラ:(LOCAL:2) = %弱点候補_セクハラ:(LOCAL:2 + 1)%
			NEXT
			セクハラ候補数 -= 1
		CASE 2 TO 3
			LOCAL:1 = RAND:うふふ候補数
			弱点コマンド枠:ARG:LOCAL = %弱点候補_うふふ:(LOCAL:1)%
			FOR LOCAL:2, LOCAL:1, うふふ候補数
				弱点候補_うふふ:(LOCAL:2) = %弱点候補_うふふ:(LOCAL:2 + 1)%
			NEXT
			うふふ候補数 -= 1
		CASEELSE
			LOCAL:1 = RAND:(セクハラ候補数 + うふふ候補数)
			IF LOCAL:1 < セクハラ候補数
				弱点コマンド枠:ARG:LOCAL = %弱点候補_セクハラ:(LOCAL:1)%
			ELSE
				弱点コマンド枠:ARG:LOCAL = %弱点候補_うふふ:(LOCAL:1 - セクハラ候補数)%
			ENDIF
	ENDSELECT
NEXT

@弱点コマンド候補判定(ARG, ARGS)
;返り値
;0=候補外
;1=弱点候補_セクハラ
;2=弱点候補_うふふ
#FUNCTION
弱点コマンドカテゴリ = 
TFLAG:コマンドタイプ受渡 = 999
CALLFORMF %ARGS%
SIF 弱点コマンドカテゴリ == ""
	RETURNF 0
SIF STRFIND(弱点コマンドカテゴリ, "角") >= 0 && TALENT:ARG:角あり == 0
	RETURNF 0
SIF STRFIND(弱点コマンドカテゴリ, "尻尾") >= 0 && TALENT:ARG:尻尾あり == 0
	RETURNF 0
SIF STRFIND(弱点コマンドカテゴリ, "ちんこ") >= 0 && GETBIT(TALENT:ARG:性別, 1) == 0
	RETURNF 0
SELECTCASE TFLAG:コマンドタイプ受渡
	CASE 1 TO 3
		RETURNF 1
	CASE 100, 101
		;複数コマンド
		SIF STRFIND(TSTR:複合コマンドタイプ受け渡し, "セクハラ") >= 0
			RETURNF 1
		SIF STRFIND(TSTR:複合コマンドタイプ受け渡し, "うふふ") >= 0 || STRFIND(TSTR:複合コマンドタイプ受け渡し, "Ｖ系") >= 0 || STRFIND(TSTR:複合コマンドタイプ受け渡し,"Ａ系") >= 0 || STRFIND(TSTR:複合コマンドタイプ受け渡し, "道具系") >= 0
			RETURNF 2
	CASEELSE
		;うふふ扱い
		RETURNF 2
ENDSELECT

@敏感素質対応判定(ARG, ARGS)
#FUNCTION
;敏感素質を検出
弱点コマンドカテゴリ = 
CALLFORMF %ARGS%
;弱点コマンドカテゴリに対応する敏感素質があれば1を返す
SIF 弱点コマンドカテゴリ == ""
	RETURNF 0
SIF STRFIND(弱点コマンドカテゴリ, "C") >= 0 && TALENT:ARG:Ｃ感度 > 0
	RETURNF 1
SIF STRFIND(弱点コマンドカテゴリ, "V") >= 0 && TALENT:ARG:Ｖ感度 > 0
	RETURNF 1
SIF STRFIND(弱点コマンドカテゴリ, "A") >= 0 && TALENT:ARG:Ａ感度 > 0
	RETURNF 1
SIF STRFIND(弱点コマンドカテゴリ, "B") >= 0 && TALENT:ARG:Ｂ感度 > 0
	RETURNF 1
SIF STRFIND(弱点コマンドカテゴリ, "S") >= 0 && TALENT:ARG:Ｓ感度 > 0
	RETURNF 1
;ここまで来た時点で該当するものがないのでオワリ
RETURNF 0

@コマンド存在チェック
#DIM コマンド総数
#DIM ループ用

コマンド総数 = ENUMFUNCBEGINSWITH("COMTYPE_")

;通常コマンド
FOR LOCAL, 0, 1000
	IF MATCH(RESULTS, @"COMTYPE_{LOCAL}")
		SETBIT 通常コマンド存在フラグ:LOCAL, 0
		;派生コマンド
		FOR LOCAL:1, 0, 20
			SIF MATCH(RESULTS, @"COMTYPE_S_{LOCAL}_{LOCAL:1}")
				SETBIT 通常コマンド存在フラグ:LOCAL, LOCAL:1 + 1
		NEXT
	ENDIF
NEXT
;場所固有コマンド
FOR LOCAL, 0, 5
	FOR LOCAL:3, 0, 1
		FOR LOCAL:1, 0, 20
			FOR LOCAL:2, 0, 20
				SIF MATCH(RESULTS, @"COMTYPE_{LOCAL + 380}_{LOCAL:3}_{LOCAL:1 * 100 + LOCAL:2 + 1}")
					SETBIT 場所固有コマンド存在フラグ:LOCAL:(LOCAL:3):(LOCAL:1), LOCAL:2
			NEXT
		NEXT
	NEXT
NEXT

@初期ステータス設定_テンプレート適用(初期ステータスタイプ, ARG)
#DIMS 初期ステータスタイプ

SELECTCASE 初期ステータスタイプ
	CASE "バランス"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 0
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 200
		基礎BATTLE_STATE:ARG:最大ＭＰ = 100
		基礎BATTLE_STATE:ARG:攻撃力 = 100
		基礎BATTLE_STATE:ARG:防御力 = 100
		基礎BATTLE_STATE:ARG:回復力 = 100
		基礎BATTLE_STATE:ARG:行動速度 = 100
		基礎BATTLE_STATE:ARG:DA率 = 10
		基礎BATTLE_STATE:ARG:TA率 = 5
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 5
	CASE "攻撃"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 1
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 180
		基礎BATTLE_STATE:ARG:最大ＭＰ = 120
		基礎BATTLE_STATE:ARG:攻撃力 = 120
		基礎BATTLE_STATE:ARG:防御力 = 80
		基礎BATTLE_STATE:ARG:回復力 = 80
		基礎BATTLE_STATE:ARG:行動速度 = 110
		基礎BATTLE_STATE:ARG:DA率 = 10
		基礎BATTLE_STATE:ARG:TA率 = 5
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 100
		基礎BATTLE_STATE:ARG:回避率 = 5
	CASE "防御"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 2
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 250
		基礎BATTLE_STATE:ARG:最大ＭＰ = 80
		基礎BATTLE_STATE:ARG:攻撃力 = 90
		基礎BATTLE_STATE:ARG:防御力 = 130
		基礎BATTLE_STATE:ARG:回復力 = 110
		基礎BATTLE_STATE:ARG:行動速度 = 90
		基礎BATTLE_STATE:ARG:DA率 = 8
		基礎BATTLE_STATE:ARG:TA率 = 3
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 0
	CASE "回復"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 3
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 180
		基礎BATTLE_STATE:ARG:最大ＭＰ = 130
		基礎BATTLE_STATE:ARG:攻撃力 = 90
		基礎BATTLE_STATE:ARG:防御力 = 90
		基礎BATTLE_STATE:ARG:回復力 = 130
		基礎BATTLE_STATE:ARG:行動速度 = 120
		基礎BATTLE_STATE:ARG:DA率 = 5
		基礎BATTLE_STATE:ARG:TA率 = 3
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 5
	CASE "サポート"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 4
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 190
		基礎BATTLE_STATE:ARG:最大ＭＰ = 130
		基礎BATTLE_STATE:ARG:攻撃力 = 80
		基礎BATTLE_STATE:ARG:防御力 = 90
		基礎BATTLE_STATE:ARG:回復力 = 110
		基礎BATTLE_STATE:ARG:行動速度 = 135
		基礎BATTLE_STATE:ARG:DA率 = 5
		基礎BATTLE_STATE:ARG:TA率 = 3
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 5
	CASE "連撃"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 5
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 180
		基礎BATTLE_STATE:ARG:最大ＭＰ = 100
		基礎BATTLE_STATE:ARG:攻撃力 = 110
		基礎BATTLE_STATE:ARG:防御力 = 80
		基礎BATTLE_STATE:ARG:回復力 = 80
		基礎BATTLE_STATE:ARG:行動速度 = 130
		基礎BATTLE_STATE:ARG:DA率 = 30
		基礎BATTLE_STATE:ARG:TA率 = 10
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 5
	CASE "回避"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 6
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 200
		基礎BATTLE_STATE:ARG:最大ＭＰ = 100
		基礎BATTLE_STATE:ARG:攻撃力 = 90
		基礎BATTLE_STATE:ARG:防御力 = 80
		基礎BATTLE_STATE:ARG:回復力 = 100
		基礎BATTLE_STATE:ARG:行動速度 = 150
		基礎BATTLE_STATE:ARG:DA率 = 10
		基礎BATTLE_STATE:ARG:TA率 = 5
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 100
		基礎BATTLE_STATE:ARG:命中率 = 90
		基礎BATTLE_STATE:ARG:回避率 = 15
	CASE "奥義"
		基礎BATTLE_STATE:ARG:ステータスタイプ保存 = 7
		基礎BATTLE_STATE:ARG:Lv = 1
		基礎BATTLE_STATE:ARG:最大ＨＰ = 200
		基礎BATTLE_STATE:ARG:最大ＭＰ = 100
		基礎BATTLE_STATE:ARG:攻撃力 = 110
		基礎BATTLE_STATE:ARG:防御力 = 90
		基礎BATTLE_STATE:ARG:回復力 = 100
		基礎BATTLE_STATE:ARG:行動速度 = 90
		基礎BATTLE_STATE:ARG:DA率 = 10
		基礎BATTLE_STATE:ARG:TA率 = 5
		基礎BATTLE_STATE:ARG:ゲージ上昇効率 = 100
		基礎BATTLE_STATE:ARG:ゲージ最大値 = 200
		基礎BATTLE_STATE:ARG:命中率 = 95
		基礎BATTLE_STATE:ARG:回避率 = 5
ENDSELECT

@イベントデータベースセット

DT_CREATE "各イベント用変数配列"
DT_COLUMN_ADD "各イベント用変数配列", "イベント名"
DT_COLUMN_ADD "各イベント用変数配列", "イベントカテゴリ"
DT_COLUMN_ADD "各イベント用変数配列", "イベント発生フラグ", 1
DT_COLUMN_ADD "各イベント用変数配列", "イベント完了フラグ", 1
DT_COLUMN_ADD "各イベント用変数配列", "フリー変数１", 1
DT_COLUMN_ADD "各イベント用変数配列", "フリー変数２", 1
DT_COLUMN_ADD "各イベント用変数配列", "フリー変数３", 1
DT_COLUMN_ADD "各イベント用変数配列", "フリー文字列１"
DT_COLUMN_ADD "各イベント用変数配列", "フリー文字列２"
DT_COLUMN_ADD "各イベント用変数配列", "フリー文字列３"
DT_COLUMN_ADD "各イベント用変数配列", "イベント再発生CT", 1
DT_COLUMN_ADD "各イベント用変数配列", "イベント再発生確率", 1
CALL イベント追加チェック


@イベント追加チェック
#DIM イベント数
#DIMS イベント名保存
VARSET LOCAL
VARSET LOCALS

FOR LOCAL, 0, DT_ROW_LENGTH("各イベント用変数配列")
	LOCALS:LOCAL = %DT_CELL_GETS("各イベント用変数配列", LOCAL, "イベント名")%
NEXT

イベント数 = ENUMFUNCBEGINSWITH("イベント関数_メインシナリオ_")

FOR LOCAL, 0, イベント数
	イベント名保存 = %SUBSTRING(RESULTS:LOCAL, 28)%
	IF FINDELEMENT(LOCALS, イベント名保存, , , 1) < 0
		DT_ROW_ADD "各イベント用変数配列", "イベント名", イベント名保存, "イベントカテゴリ", "メインシナリオ"
	ENDIF
NEXT

イベント数 = ENUMFUNCBEGINSWITH("イベント関数_サブイベント_")

FOR LOCAL, 0, イベント数
	イベント名保存 = %SUBSTRING(RESULTS:LOCAL, 26)%
	IF FINDELEMENT(LOCALS, イベント名保存, , , 1) < 0
		DT_ROW_ADD "各イベント用変数配列", "イベント名", イベント名保存, "イベントカテゴリ", "サブイベント"
	ENDIF
NEXT
イベント数 = ENUMFUNCBEGINSWITH("イベント関数_ＥＸイベント_")

FOR LOCAL, 0, イベント数
	イベント名保存 = %SUBSTRING(RESULTS:LOCAL, 26)%
	IF FINDELEMENT(LOCALS, イベント名保存, , , 1) < 0
		DT_ROW_ADD "各イベント用変数配列", "イベント名", イベント名保存, "イベントカテゴリ", "ＥＸイベント"
	ENDIF
NEXT
イベント数 = ENUMFUNCBEGINSWITH("イベント関数_突発イベント_")

FOR LOCAL, 0, イベント数
	イベント名保存 = %SUBSTRING(RESULTS:LOCAL, 26)%
	IF FINDELEMENT(LOCALS, イベント名保存, , , 1) < 0
		DT_ROW_ADD "各イベント用変数配列", "イベント名", イベント名保存, "イベントカテゴリ", "突発イベント"
	ENDIF
NEXT

@アイテムデータベースセット
DT_CREATE "所持アイテムデータベース"
DT_ROW_ADD "所持アイテムデータベース"
DT_ROW_ADD "所持アイテムデータベース"

@指輪データベースセット
DT_CREATE "所持指輪データベース"
DT_COLUMN_ADD "所持指輪データベース", "指輪名"
DT_COLUMN_ADD "所持指輪データベース", "基礎ステータス補正"
DT_COLUMN_ADD "所持指輪データベース", "特殊ステータス補正"
DT_COLUMN_ADD "所持指輪データベース", "オプションステータス補正"
DT_COLUMN_ADD "所持指輪データベース", "オプション特殊ステータス補正"
DT_COLUMN_ADD "所持指輪データベース", "装備者キャラ番号", 1
;0番にはダミーデータ
LOCAL = DT_ROW_ADD("所持指輪データベース")

@耳飾りデータベースセット
DT_CREATE "所持耳飾りデータベース"
DT_COLUMN_ADD "所持耳飾りデータベース", "耳飾り名"
DT_COLUMN_ADD "所持耳飾りデータベース", "変更属性"
DT_COLUMN_ADD "所持耳飾りデータベース", "奥義補正"
DT_COLUMN_ADD "所持耳飾りデータベース", "奥義名補正"
DT_COLUMN_ADD "所持耳飾りデータベース", "装備者キャラ番号", 1
;0番にはダミーデータ
LOCAL = DT_ROW_ADD("所持耳飾りデータベース")

@衣装データベースセット
DT_CREATE "所持衣装データベース"
DT_COLUMN_ADD "所持衣装データベース", "衣装名"
DT_COLUMN_ADD "所持衣装データベース", "改造履歴"
DT_COLUMN_ADD "所持衣装データベース", "衣装種別"
;0番にはダミーデータ
LOCAL = DT_ROW_ADD("所持衣装データベース")

@戦闘用データベースセット
FOR LOCAL, 0, 4
	DT_CREATE @"バフデータベース_{LOCAL}"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ枠"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ対象能力"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ効果量_割合", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ効果量_固定値", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ名"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続ターン", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続回数", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続行動回数", 1
	DT_CREATE @"デバフデータベース_{LOCAL}"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ枠"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ対象能力"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ効果量_割合", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ効果量_固定値", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ名"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続ターン", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続回数", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続行動回数", 1
NEXT

FOR LOCAL, 10, 20
	DT_CREATE @"バフデータベース_{LOCAL}"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ枠"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ対象能力"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ効果量_割合", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ効果量_固定値", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "バフ名"
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続ターン", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続回数", 1
	DT_COLUMN_ADD @"バフデータベース_{LOCAL}", "持続行動回数", 1
	DT_CREATE @"デバフデータベース_{LOCAL}"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ枠"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ対象能力"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ効果量_割合", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ効果量_固定値", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "デバフ名"
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続ターン", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続回数", 1
	DT_COLUMN_ADD @"デバフデータベース_{LOCAL}", "持続行動回数", 1
NEXT

@素材アイテムデータベースセット
DT_CREATE "所持素材データベース"
DT_COLUMN_ADD "所持素材データベース", "素材アイテム名"
DT_COLUMN_ADD "所持素材データベース", "所持数", 1
DT_COLUMN_ADD "所持素材データベース", "素材カテゴリ"


@素材アイテム登録処理
#DIMS 比較用一時保存配列, 200

FOR LOCAL, 0, DT_ROW_LENGTH("所持素材データベース")
	比較用一時保存配列:LOCAL = DT_CELL_GETS("所持素材データベース", LOCAL, "素材アイテム名")
NEXT

FOR LOCAL, 0, VARSIZE("エネミー素材一覧")
	IF ERDNAME(エネミー素材一覧, LOCAL) == ""
		CONTINUE
	ENDIF
	IF !MATCH(比較用一時保存配列, ERDNAME(エネミー素材一覧, LOCAL))
		DT_ROW_ADD "所持素材データベース", "素材アイテム名", ERDNAME(エネミー素材一覧, LOCAL), "所持数", 0, "素材カテゴリ", "エネミー素材"
	ENDIF
NEXT

FOR LOCAL, 0, VARSIZE("ダンジョン素材一覧")
	IF ERDNAME(ダンジョン素材一覧, LOCAL) == ""
		CONTINUE
	ENDIF
	IF !MATCH(比較用一時保存配列, ERDNAME(ダンジョン素材一覧, LOCAL))
		DT_ROW_ADD "所持素材データベース", "素材アイテム名", ERDNAME(ダンジョン素材一覧, LOCAL), "所持数", 0, "素材カテゴリ", "ダンジョン素材"
	ENDIF
NEXT

FOR LOCAL, 0, VARSIZE("食物素材一覧")
	IF ERDNAME(食物素材一覧, LOCAL) == ""
		CONTINUE
	ENDIF
	IF !MATCH(比較用一時保存配列, ERDNAME(食物素材一覧, LOCAL))
		DT_ROW_ADD "所持素材データベース", "素材アイテム名", ERDNAME(食物素材一覧, LOCAL), "所持数", 0, "素材カテゴリ", "食物素材"
	ENDIF
NEXT


@フレーバー素質初期設定
#DIM 全体設定
#DIM 残りキャラ設定

DRAWLINE
PRINTL 陰毛の濃さや乳輪の大きさなど、快楽発生量に直接関わらない素質を設定します。
PRINTL （口上の変動やコマンド発生条件には関わる可能性があります）
PRINTL 
PRINTL またこれらの設定にこだわりがない場合、［全て表示しない］を選ぶことでキャラのイメージを壊さないことが可能です。
DRAWLINE
PRINTL 
PRINT 現在の設定：
SELECTCASE 全体設定
	CASE 0
		PRINTBUTTON "[全て表示しない]", 100
		PRINTL
	CASE 1
		PRINTBUTTON "[初対面時に設定]", 100
		PRINTL
		PRINT 口上側で設定があるキャラについて：
		IF 残りキャラ設定 == 0
			PRINTBUTTON "[口上側の設定を維持]", 101
		ELSE
			PRINTBUTTON "[初対面時に設定]", 101
		ENDIF
		PRINTL
	CASE 2
		PRINTBUTTON "[初うふふ時に設定]", 100
		PRINTL
		PRINT 口上側で設定があるキャラについて：
		IF 残りキャラ設定 == 0
			PRINTBUTTON "[口上側の設定を維持]", 101
		ELSE
			PRINTBUTTON "[初うふふ時に設定]", 101
		ENDIF
		PRINTL
	CASE 3
		PRINTBUTTON "[ランダムに設定]", 100
		PRINTL
		PRINT 口上側で設定があるキャラについて：
		IF 残りキャラ設定 == 0
			PRINTBUTTON "[口上側の設定を維持]", 101
		ELSE
			PRINTBUTTON "[ランダムに設定]", 101
		ENDIF
		PRINTL
ENDSELECT

PRINTL
PRINTBUTTON "[998]口上側の設定があるキャラの一覧を見る", 998
PRINTL
PRINTBUTTON "[999]設定を終える", 999

BINPUT
SELECTCASE RESULT
	CASE 100
		DRAWLINE
		PRINTBUTTON "[全て表示しない]", 0
		PRINTL
		PRINTBUTTON "[初対面時に設定]", 1
		PRINTL
		PRINTBUTTON "[初うふふ時に設定]", 2
		PRINTL
		PRINTBUTTON "[ランダムに設定]", 3
		PRINTL
		DRAWLINE
		PRINTBUTTON "[戻る]", 999
		BINPUT
		IF RESULT == 999
			RESTART
		ENDIF
		残りキャラ設定 = 0
		全体設定 = RESULT
		RESTART
	CASE 101
		DRAWLINE
		SELECTCASE 全体設定
			CASE 1
				PRINTBUTTON "[口上側の設定を維持]", 0
				PRINTL
				PRINTBUTTON "[初対面時に設定]", 1
				PRINTL
			CASE 2
				PRINTBUTTON "[口上側の設定を維持]", 0
				PRINTL
				PRINTBUTTON "[初うふふ時に設定]", 1
				PRINTL
			CASE 3
				PRINTBUTTON "[口上側の設定を維持]", 0
				PRINTL
				PRINTBUTTON "[ランダムに設定]", 1
				PRINTL
		ENDSELECT
		DRAWLINE
		PRINTBUTTON "[戻る]", 999
		BINPUT
		IF RESULT == 999
			RESTART
		ENDIF
		残りキャラ設定 = RESULT
		RESTART
	CASE 998
		CALL フレーバー素質口上設定者表示
		RESTART
ENDSELECT

SELECTCASE 全体設定
	CASE 0
		PRINTL [全て表示しない]の設定でゲームを開始します。
		FOR COUNT, 1, CHARANUM
			フレーバー素質:COUNT:素質表示設定 = 0
		NEXT
		フレーバー素質封印設定 = 1
	CASE 1
		PRINT [初対面時に設定]、
		IF 残りキャラ設定 == 0
			PRINT 口上存在キャラは[口上側の設定を維持]
		ELSE
			PRINT 口上存在キャラも[初対面時に設定]
		ENDIF
		PRINTL の設定でゲームを開始します。
		FOR COUNT, 1, CHARANUM
			IF 残りキャラ設定 == 0 && フレーバー素質:COUNT:素質表示設定 == 1
				CONTINUE
			ENDIF
			フレーバー素質:COUNT:素質表示設定 = 2
		NEXT
	CASE 2
		PRINT [初うふふ時に設定]、
		IF 残りキャラ設定 == 0
			PRINT 口上存在キャラは[口上側の設定を維持]
		ELSE
			PRINT 口上存在キャラも[初うふふ時に設定]
		ENDIF
		PRINTL の設定でゲームを開始します。
		FOR COUNT, 1, CHARANUM
			IF 残りキャラ設定 == 0 && フレーバー素質:COUNT:素質表示設定 == 1
				CONTINUE
			ENDIF
			フレーバー素質:COUNT:素質表示設定 = 3
		NEXT
	CASE 3
		PRINT [ランダムに設定]、
		IF 残りキャラ設定 == 0
			PRINT 口上存在キャラは[口上側の設定を維持]
		ELSE
			PRINT 口上存在キャラも[ランダムに設定]
		ENDIF
		PRINTL の設定でゲームを開始します。
		FOR COUNT, 1, CHARANUM
			IF 残りキャラ設定 == 0 && フレーバー素質:COUNT:素質表示設定 == 1
				CONTINUE
			ENDIF
			フレーバー素質:COUNT:素質表示設定 = 1
			フレーバー素質:COUNT:陰毛濃さ = RAND:5 + 1
			フレーバー素質:COUNT:乳首大きさ = RAND:5 + 1
			フレーバー素質:COUNT:乳輪大きさ = RAND:5 + 1
			フレーバー素質:COUNT:性器種類 = RAND:5 + 1
			フレーバー素質:COUNT:クリ大きさ = RAND:3 + 1
			LOCAL = RAND:5
			SIF LOCAL == 0
				SETBIT フレーバー素質:COUNT:ほくろ位置, 0
			LOCAL = RAND:5
			SIF LOCAL == 0
				SETBIT フレーバー素質:COUNT:ほくろ位置, 1
			LOCAL = RAND:5
			SIF LOCAL == 0
				SETBIT フレーバー素質:COUNT:ほくろ位置, 2
			LOCAL = RAND:5
			SIF LOCAL == 0 && GETBIT(TALENT:COUNT:性別, 1)
				SETBIT フレーバー素質:COUNT:ほくろ位置, 3
		NEXT
ENDSELECT


@フレーバー素質個別設定画面(キャラ番号)
#DIM キャラ番号
#DIM フレーバー素質数値保存, 10
VARSET フレーバー素質数値保存

$描画_LOOP
DRAWLINE
PRINTL キャラクターのフレーバー素質を手動で設定します。
DRAWLINE
LOCALS = 
LOCALS += "<div rect='10px,0px,620px,600px' border='5px' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='22px,20px,588px,600px'>"

LOCALS += @"■%NAME:キャラ番号%<br>"
IF 装備ステータス補正保存:キャラ番号:属性
	LOCALS:1 = %カラーパレット_HTML(@"%属性数値文字列変換(装備ステータス補正保存:キャラ番号:属性 - 10)%属性")%
	LOCALS += @"<font color='#%LOCALS:1%'>属性：%属性数値文字列変換(装備ステータス補正保存:キャラ番号:属性 - 10)%</font>"
ELSE
	LOCALS:1 = %カラーパレット_HTML(@"%属性数値文字列変換(基礎BATTLE_STATE:キャラ番号:属性)%属性")%
	LOCALS += @"<font color='#%LOCALS:1%'>属性：%属性数値文字列変換(基礎BATTLE_STATE:キャラ番号:属性)%</font>"
ENDIF
LOCALS += @"　得意武器：%得意武器数値文字列変換(基礎BATTLE_STATE:キャラ番号:得意武器)%　"
LOCALS += @"　タイプ：%タイプ数値文字列変換(基礎BATTLE_STATE:キャラ番号:ステータスタイプ保存)%"
LOCALS += "<br><br>"
LOCALS += "□ 情報 □---------------------------------------------------------------<br>"
LOCALS += @"　種族：%GET_TALENTNAME(200,TALENT:キャラ番号:種族)%"
IF TALENT:キャラ番号:種族追記 == 1
	LOCALS +=  "[六竜]"
ENDIF
SIF TALENT:キャラ番号:角あり
	LOCALS += " （角あり）"
SIF TALENT:キャラ番号:尻尾あり
	LOCALS += " （尻尾）"
SIF TALENT:キャラ番号:エルーン耳
	LOCALS += " （エルーン耳）"
SIF TALENT:キャラ番号:ハーヴィン耳
	LOCALS += " （ハーヴィン耳）"
SIF TALENT:キャラ番号:発情期あり
	LOCALS += " （発情期あり）"
LOCALS += "<br>"
LOCALS += "　性別："
IF TALENT:キャラ番号:性別 == 1
	LOCALS += "女性"
	SIF TALENT:キャラ番号:処女
		LOCALS += "（処女）"
ELSEIF TALENT:キャラ番号:性別 == 2
	LOCALS += "男性"
	SIF TALENT:キャラ番号:童貞 == 0
		LOCALS += "（童貞）"
ELSEIF TALENT:キャラ番号:性別 == 3
	LOCALS += "ふたなり"
	SIF TALENT:キャラ番号:童貞 == 0
		LOCALS += "(童貞)"
	SIF TALENT:キャラ番号:処女
		LOCALS += "（処女）"
ENDIF
LOCALS += @"バストサイズ：%GET_TALENTNAME(205,TALENT:キャラ番号:バストサイズ)%"
LOCALS += "<br>"

LOCALS += @"　性知識レベル：%性知識段階表示(知識素質:キャラ番号:性知識, キャラ番号), 17, LEFT%"
LOCALS += "<br>"

IF TALENT:キャラ番号:性別 & 2
	PRINTFORM 　男性器サイズ：%GET_TALENTNAME(162,TALENT:キャラ番号:男性器サイズ)%
	SIF TALENT:キャラ番号:男性器サイズ == 0
		PRINT 平凡
	PRINTL
ENDIF
LOCALS += "<br>"
LOCALS += "□ 素質 □---------------------------------------------------------------<br>"
LOCALS:1 = 
FOR COUNT,8,160
	IF STRLENS(GET_TALENTNAME(COUNT,TALENT:キャラ番号:COUNT, 0))
		LOCALS += @"[%GET_TALENTNAME(COUNT,TALENT:キャラ番号:COUNT, 0)%]"
	ENDIF
NEXT
FOR COUNT,220,300
	IF STRLENS(GET_TALENTNAME(COUNT,TALENT:キャラ番号:COUNT, 0))
		LOCALS += @"[%GET_TALENTNAME(COUNT,TALENT:キャラ番号:COUNT, 0)%]"
	ENDIF
NEXT
FOR COUNT,1,100
	IF 知識素質:キャラ番号:COUNT
		LOCALS += @"[%ERDNAME(知識素質,COUNT)%Lv{知識素質:キャラ番号:COUNT}]"
	ENDIF
NEXT
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "□ フレーバー素質 □-----------------------------------------------------<br>"

FOR COUNT, 1, 6
	SIF ERDNAME(フレーバー素質, COUNT) == ""
		CONTINUE
	LOCALS += @"　%ERDNAME(フレーバー素質, COUNT), 12, LEFT%："
	FOR LOCAL:1, 0, 6
		LOCALS:2 = %GET_フレーバー素質NAME(COUNT,LOCAL:1)%
		IF LOCAL:1 == 0
			LOCALS:2 = 非表示
		ENDIF
		IF COUNT == 5 && LOCAL:1 == 4
			CONTINUE
		ELSEIF LOCALS:2 == ""
			CONTINUE
		ENDIF
		IF フレーバー素質数値保存:COUNT == LOCAL:1
			LOCALS:1 = C0C0C0
		ELSE
			LOCALS:1 = 333333
		ENDIF
		LOCALS += @"<font color='#%LOCALS:1%'><button value='{COUNT * 10 + LOCAL:1}'>[%LOCALS:2%]</button></font>"
	NEXT
	LOCALS += "<br>"
NEXT
LOCALS += @"　%ERDNAME(フレーバー素質, 6), 12, LEFT%："
FOR LOCAL:1, 0, 4
	LOCALS:2 = %GET_フレーバー素質NAME(6, POWER(2, LOCAL:1))%
	IF LOCALS:2 == ""
		CONTINUE
	ELSEIF LOCAL:1 == 3 && GETBIT(TALENT:キャラ番号:性別, 1) == 0
		CONTINUE
	ENDIF
	IF GETBIT(フレーバー素質数値保存:6,LOCAL:1)
		LOCALS:1 = C0C0C0
	ELSE
		LOCALS:1 = 333333
	ENDIF
	LOCALS += @"<font color='#%LOCALS:1%'><button value='{60 + LOCAL:1}'>[%LOCALS:2%]</button></font>"
NEXT
LOCALS += "</div>"
LOCALS += "<div rect='450px,570px,300px,50px'><button value='999'>[999] これで決定</button></div>"

HTML_PRINT LOCALS, 1
FOR COUNT, 0, 35
	PRINTL
NEXT

BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 0 TO 59
		フレーバー素質数値保存:(LOCAL / 10) = LOCAL % 10
		GOTO 描画_LOOP
	CASE 60 TO 69
		INVERTBIT フレーバー素質数値保存:(LOCAL / 10), LOCAL % 10
		GOTO 描画_LOOP
	CASE 999
		LOCAL:1 = 0
		FOR COUNT, 1, 10
			IF フレーバー素質数値保存:COUNT
				フレーバー素質:キャラ番号:COUNT = フレーバー素質数値保存:COUNT
				LOCAL:1 = 1
			ENDIF
		NEXT
		IF LOCAL:1
			フレーバー素質:キャラ番号:0 = 1
		ELSE
			フレーバー素質:キャラ番号:0 = 0
		ENDIF
ENDSELECT



@フレーバー素質口上設定者表示
#DIM 現在ページ
#DIM 表示候補, 500
#DIM 候補人数
現在ページ = 0

$最初から
;表示候補選定＆ソート処理
LOCAL:1 = 0
VARSET 表示候補
VARSET LOCALS
;フィルタ処理・絞り込み処理
FOR LOCAL, 1, CHARANUM
	SIF フレーバー素質:LOCAL:素質表示設定 != 1
		CONTINUE
	表示候補:(LOCAL:1) = LOCAL
	LOCAL:1 += 1
NEXT
候補人数 = LOCAL:1
LOCAL:1 = 1

$表示処理_LOOP
DRAWLINE
VARSET LOCAL
VARSET LOCALS
;表示処理
FOR LOCAL, 現在ページ * 30, 候補人数
	LOCALS += @"<button value = '{表示候補:LOCAL}'>[{表示候補:LOCAL,3}]%NAME:(表示候補:LOCAL),40,LEFT%</button>"
	LOCALS += "　　　　　　　　"
	LOCAL:1 += 1
	IF LOCAL:1 % 2 == 0
		HTML_PRINT LOCALS
		LOCALS = 
	ENDIF
	SIF LOCAL:1 > 29
		BREAK
NEXT
IF LOCALS != ""
	HTML_PRINT LOCALS
	LOCALS = 
ENDIF
PRINTL 
IF 現在ページ > 0
	PRINTLC  [900]前のページへ
ELSE
	PRINTLC  
ENDIF
IF 現在ページ < 候補人数 / 30
	PRINTLC  [901]次のページへ
ENDIF
PRINTL
DRAWLINE
PRINTBUTTONLC "[1000]戻る", 1000
PRINTL

$INPUT_LOOP
BINPUT
IF RESULT == 1000
	RETURN 0
ELSEIF RESULT == 900
	現在ページ = MAX(現在ページ - 1, 0)
	GOTO 表示処理_LOOP
ELSEIF RESULT == 901
	現在ページ = MIN(現在ページ + 1, 候補人数 / 30)
	GOTO 表示処理_LOOP
ENDIF
LOCAL = RESULT
$再表示
IF 候補人数 == 1
	CALL PRINT_STATE(LOCAL, 0)
ELSEIF 表示候補:0 == LOCAL
	CALL PRINT_STATE(LOCAL, 2)
ELSEIF 表示候補:(候補人数 - 1) == LOCAL
	CALL PRINT_STATE(LOCAL, 1)
ELSE
	CALL PRINT_STATE(LOCAL, 3)
ENDIF
IF RESULT == 100
	FOR LOCAL:1, 0, 候補人数
		IF 表示候補:(LOCAL:1) == LOCAL
			LOCAL = 表示候補:(LOCAL:1 - 1)
			BREAK
		ENDIF 
	NEXT
	GOTO 再表示
ELSEIF RESULT == 101
	FOR LOCAL:1, 0, 候補人数
		IF 表示候補:(LOCAL:1) == LOCAL
			LOCAL = 表示候補:(LOCAL:1 + 1)
			BREAK
		ENDIF 
	NEXT
	GOTO 再表示
ENDIF

GOTO 最初から
