
;-------------------------------------------------------------------------------------------
;射精先の選択肢関連の処理
;-------------------------------------------------------------------------------------------

@EVENT_SHOOT_PLAYER
#DIM 射精先キャラ, 射精先キャラ最大数
#DIM 口上用キャラ番号
#DIM 対象キャラ番号
#DIM 選択中
#DIM 選択キャラ
#DIM 選択肢数
VARSET LOCAL
VARSET 射精先キャラ
;0では駄目なので初期化
選択中 = -1
選択キャラ = -1

;どこに射精するかを決定する

;ハーヴィンオナホ中なら選択なしでそのまま
IF MODE_確認_プレイヤー側("ハーヴィンオナホＶ", PLAYER) > -1
	選択中 = 0
	選択キャラ = 0
	射精先キャラ:0 = DT_CELL_GET("体位モードデータベース", MODE_確認_プレイヤー側("ハーヴィンオナホＶ", PLAYER), "対象キャラ")
	LOCAL = 999
	GOTO 射精実処理部分
ENDIF
IF MODE_確認_プレイヤー側("ハーヴィンオナホＡ", PLAYER) > -1
	選択中 = 1
	選択キャラ = 0
	射精先キャラ:0 = DT_CELL_GET("体位モードデータベース", MODE_確認_プレイヤー側("ハーヴィンオナホＡ", PLAYER), "対象キャラ")
	LOCAL = 999
	GOTO 射精実処理部分
ENDIF
IF MODE_確認_プレイヤー側("挿入歩きＶ", PLAYER) > -1
	選択中 = 0
	選択キャラ = 0
	射精先キャラ:0 = DT_CELL_GET("体位モードデータベース", MODE_確認_プレイヤー側("挿入歩きＶ", PLAYER), "対象キャラ")
	LOCAL = 999
	GOTO 射精実処理部分
ENDIF
IF MODE_確認_プレイヤー側("挿入歩きＡ", PLAYER) > -1
	選択中 = 1
	選択キャラ = 0
	射精先キャラ:0 = DT_CELL_GET("体位モードデータベース", MODE_確認_プレイヤー側("挿入歩きＡ", PLAYER), "対象キャラ")
	LOCAL = 999
	GOTO 射精実処理部分
ENDIF

;まずTARGETのうちうふふ状態の相手を探す
FOR LOCAL, 1, CHARANUM
	SIF TARGET:LOCAL < 1
		BREAK
	IF TARGET:LOCAL == PLAYER
		射精先キャラ:(LOCAL:1) = 9999
		LOCAL:1 += 1
	ELSEIF CFLAG:(TARGET:LOCAL):うふふ
		射精先キャラ:(LOCAL:1) = TARGET:LOCAL
		LOCAL:1 += 1
	ENDIF
NEXT

;候補がいない＝非うふふ時の射精
;オートコマンドのみのはずなので、オートコマンド相手の口上を呼び出す
IF 射精先キャラ:0 == 0
	RFLAG:フィニッシュ場所 = 30
	LOCAL = TARGET
	TARGET = AUTOCOM_相手番号保存
	TRYCALLFORM MESSAGE_SHOOT_30(-1)
	WAIT
	TRYCCALLFORM KOJO_ORGASM_被射精_{NO:AUTOCOM_相手番号保存}(AUTOCOM_相手番号保存)
		WAIT
	CATCH
	ENDCATCH
	TARGET = LOCAL
	RETURN 0
ENDIF

;プレーヤーはPLAYER、Ｖ挿入中
;ちんこは一本だけなので場合分けしなくていいはず
IF MODE_確認_プレイヤー側("Ｖ挿入系", PLAYER) > -1
	口上用キャラ番号 = DT_CELL_GET("体位モードデータベース", (MODE_確認_プレイヤー側("Ｖ挿入系", PLAYER)), "対象キャラ")
	IF 知識素質:口上用キャラ番号:性知識 >= 0
		PRINTFORML 限界を迎えた%CALLNAME:PLAYER%が膣内射精を予告すると、
		IF 知識素質:口上用キャラ番号:性知識 < 0
			PRINTFORML 意味をよくわかっていないが、%CALLNAME:口上用キャラ番号%は本能のままに喘ぎ声を上げながら膣を締めつけていた
		ELSEIF TALENT:口上用キャラ番号:恋慕
			PRINTFORM %CALLNAME:口上用キャラ番号%は\@ TALENT:口上用キャラ番号:妊娠 ? 膨らんだお腹を揺らしながら # 自ら腰を振り \@嬌声を上げて、
			IF TALENT:口上用キャラ番号:妊娠 && CFLAG:口上用キャラ番号:子の父親 == PLAYER
				PRINTFORM パパのチンポミルク頂戴
			ELSEIF RISKY_DAY(口上用キャラ番号) > 0
				PRINTFORM %CALLNAME:口上用キャラ番号%を
				PRINTDATA
					DATA ママにして
					DATA 孕ませて
					DATA 妊娠させて
				ENDDATA
			ELSE
				PRINTFORM 中に出して
			ENDIF
			PRINT_IMG "えっちハート"
			PRINTFORML 、と膣内射精をねだっていた
		ELSEIF CFLAG:口上用キャラ番号:発情期フラグ < 0
			IF TALENT:口上用キャラ番号:妊娠
				PRINTFORML 発情中の%CALLNAME:口上用キャラ番号%は身重の体だから避妊の必要はない、と淫らな声で膣内射精をねだった
			ELSE
				PRINTFORML 発情中の%CALLNAME:口上用キャラ番号%は雌の本能に逆らえず、淫らな表情で種付けをねだった
			ENDIF
		ELSE
			IF TALENT:口上用キャラ番号:妊娠
				PRINTFORML %CALLNAME:口上用キャラ番号%は自分の膨らんだお腹を一瞥すると、好きにして、と諦めたように返事をした
			ELSEIF RISKY_DAY(口上用キャラ番号) > 0
				PRINTFORML %CALLNAME:口上用キャラ番号%は必死に首を振って、今日は危険日だからせめて外に出して、と懇願する
			ELSEIF RISKY_DAY(口上用キャラ番号) < 0
				PRINTFORML %CALLNAME:口上用キャラ番号%は色っぽく喘ぎ、今日は大丈夫だから好きにして、と返事をした
			ELSE
				PRINTFORML %CALLNAME:口上用キャラ番号%は快感に蕩けた頭で、中出しを許していいものかと逡巡した
			ENDIF
		ENDIF
	ENDIF
ENDIF

;オート射精設定を上から見る
FOR LOCAL, 0, 31
	SIF オート射精先オプション:LOCAL == -1
		BREAK

	FOR 対象キャラ番号, 0, CHARANUM
		SIF 射精先キャラ:対象キャラ番号 < 1
			BREAK
		SIF 射精先キャラ:対象キャラ番号 == 9999
			射精先キャラ:対象キャラ番号 = 0
		RESULT = 0
		TRYCALLFORM SHOOT_ABLE_{オート射精先オプション:LOCAL}(射精先キャラ:対象キャラ番号)
		;ABLEが通れば決定
		IF RESULT
			選択中 = オート射精先オプション:LOCAL
			選択キャラ = 対象キャラ番号
			LOCAL = 999
			GOTO 射精実処理部分
		ENDIF
		SIF 射精先キャラ:対象キャラ番号 == 0
			射精先キャラ:対象キャラ番号 = 9999
	NEXT
NEXT

$INPUT_LOOP
;射精先の一覧から可能な選択肢を引っ張ってくる
LOCALS =
LOCAL:1 = 0
LOCAL:2 = 0
選択肢数 = 0

FOR 対象キャラ番号, 0, CHARANUM
	SIF 射精先キャラ:対象キャラ番号 < 1
		BREAK
	SIF 射精先キャラ:対象キャラ番号 == 9999
		射精先キャラ:対象キャラ番号 = 0
	LOCAL:1 = 0
	FOR LOCAL, 0, 31
		RESULT = 0
		TRYCALLFORM SHOOT_ABLE_{LOCAL}(射精先キャラ:対象キャラ番号)
		;ABLEが通れば決定
		IF RESULT
			CALLFORM SHOOT_NAME_{LOCAL}
			;選択中のものはえっちな色にする
			SIF 選択中 == LOCAL && 選択キャラ == 対象キャラ番号
				LOCALS += @"<font color='#0xFF3399'>"
			LOCALS += @"<button value='{LOCAL + 対象キャラ番号 * 100}'>[{LOCAL + 対象キャラ番号 * 100}]%CALLNAME:(射精先キャラ:対象キャラ番号)%:%TSTR:コマンド名受渡%</button><br>"
			SIF 選択中 == LOCAL && 選択キャラ == 対象キャラ番号
				LOCALS += @"</font>"
			LOCAL:1 += 1
			LOCAL:5 = LOCAL + 対象キャラ番号 * 100
		ENDIF
	NEXT
	IF LOCAL:1
		LOCALS += "<br>"
		選択肢数 += LOCAL:1
	ENDIF
	SIF 射精先キャラ:対象キャラ番号 == 0
		射精先キャラ:対象キャラ番号 = 9999
NEXT
PRINTL
DRAWLINE

IF 選択肢数 == 1
	;射精先が一択の場合
	RFLAG:フィニッシュ場所 = LOCAL:5 % 100
	対象キャラ番号 = LOCAL:5 / 100

	SIF 射精先キャラ:対象キャラ番号 == 9999
		射精先キャラ:対象キャラ番号 = 0

	;射精処理
	CALLFORM SHOOT_PALAM_{RFLAG:フィニッシュ場所}(射精先キャラ:対象キャラ番号)
	CALL SHOOT絶頂計算(射精先キャラ:対象キャラ番号)
	TRYCALLFORM MESSAGE_SHOOT_{RFLAG:フィニッシュ場所}(射精先キャラ:対象キャラ番号)
	WAIT
	PRINTL 
	SIF RCVAR:(射精先キャラ:対象キャラ番号):被射精絶頂の強度
		CALL SHOOT絶頂口上(射精先キャラ:対象キャラ番号)
	TRYCCALLFORM KOJO_ORGASM_被射精_{NO:(射精先キャラ:対象キャラ番号)}(射精先キャラ:対象キャラ番号)
		WAIT
	CATCH
	ENDCATCH
	
	SIF 射精先キャラ:対象キャラ番号 == 0
		射精先キャラ:対象キャラ番号 = 9999

	RETURN 0
ELSEIF !選択肢数
	;有効な射精先がない（＝汎用のみ）の場合
	SIF 射精先キャラ:0 == 9999
		射精先キャラ:0 = 0
	TRYCALLFORM MESSAGE_SHOOT_30(射精先キャラ:0)
	WAIT
	TRYCCALLFORM KOJO_ORGASM_被射精_{NO:(射精先キャラ:0)}(射精先キャラ:0)
		WAIT
	CATCH
	ENDCATCH
	SIF 射精先キャラ:0 == 0
		射精先キャラ:0 = 9999
	RETURN 0
ENDIF

PRINTL どこに射精しますか？
DRAWLINE
HTML_PRINT LOCALS

SELECTCASE 選択中
	CASE 0 TO 30
		RESULT = 0
		IF 選択キャラ > -1
			SIF 射精先キャラ:選択キャラ == 9999
				射精先キャラ:選択キャラ = 0
			TRYCALLFORM SHOOT_ABLE_{選択中}(射精先キャラ:選択キャラ)
			SIF 射精先キャラ:選択キャラ == 0
				射精先キャラ:選択キャラ = 9999
		ENDIF
		IF RESULT
			PRINTBUTTON @"[999]発射！", 999
		ELSE
			SETCOLOR 0x666666
			PRINTPLAIN [999]有効な射精先を選択してください
			PRINTL
			RESETCOLOR
		ENDIF
	CASEELSE
		SETCOLOR 0x666666
		PRINTPLAIN [999]有効な射精先を選択してください
		PRINTL
		RESETCOLOR
ENDSELECT
PRINTL

BINPUT
LOCAL = RESULT

$射精実処理部分
LOCAL:10 = 0
SELECTCASE LOCAL
	CASE 999
		SIF 射精先キャラ:選択キャラ == 9999
			射精先キャラ:選択キャラ = 0
		TRYCCALLFORM SHOOT_ABLE_{選択中}(射精先キャラ:選択キャラ)
			IF RESULT
				;射精実処理
				RFLAG:フィニッシュ場所 = 選択中
				CALLFORM SHOOT_PALAM_{RFLAG:フィニッシュ場所}(射精先キャラ:選択キャラ)
				PRINTL
				DRAWLINE
				CALL SHOOT絶頂計算(射精先キャラ:選択キャラ)
				SIF RCVAR:(射精先キャラ:選択キャラ):被射精絶頂の強度
					CALL SHOOT絶頂口上(射精先キャラ:選択キャラ)
				TRYCALLFORM MESSAGE_SHOOT_{RFLAG:フィニッシュ場所}(射精先キャラ:選択キャラ)
				WAIT
				PRINTL 
				TRYCCALLFORM KOJO_ORGASM_被射精_{NO:(射精先キャラ:選択キャラ)}(射精先キャラ:選択キャラ)
					WAIT
				CATCH
				ENDCATCH
				LOCAL:10 ++
				RFLAG:フィニッシュ相手番号 = 射精先キャラ:選択キャラ
			ENDIF
		CATCH
		ENDCATCH
		SIF 射精先キャラ:選択キャラ == 0
			射精先キャラ:選択キャラ = 9999
		;有効な射精先ではない
		IF !LOCAL:10
			REUSELASTLINE 
			GOTO INPUT_LOOP
		ENDIF
	CASEELSE
		SIF 射精先キャラ:(LOCAL / 100) == 9999
			射精先キャラ:(LOCAL / 100) = 0
		TRYCALLFORM SHOOT_ABLE_{LOCAL % 100}(射精先キャラ:(LOCAL / 100))
		LOCAL:10 = RESULT
		IF LOCAL:10
			選択中 = LOCAL % 100
			選択キャラ = LOCAL / 100
		ENDIF
		SIF 射精先キャラ:(LOCAL / 100) == 0
			射精先キャラ:(LOCAL / 100) = 9999
		REUSELASTLINE 
		GOTO INPUT_LOOP
ENDSELECT

RETURN 0


@SHOOT絶頂計算(ARG)
#DIM 絶頂閾値

C = 0
V = 0
A = 0
B = 0
S = 0

絶頂閾値 = 絶頂閾値算出処理(ARG)

;絶頂Ｃ
IF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値 * 5
	C = 5
	CDOWN:ARG:快Ｃ += (絶頂閾値 * 5 - 1000)
	NOWEX:ARG:被射精Ｃ絶頂 = 5
	;PRINTFORML 究極絶頂Ｃ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値 * 4
	C = 4
	CDOWN:ARG:快Ｃ += (絶頂閾値 * 4 - 1000)
	NOWEX:ARG:被射精Ｃ絶頂 = 4
	;PRINTFORML 最強絶頂Ｃ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値 * 3
	C = 3
	CDOWN:ARG:快Ｃ += (絶頂閾値 * 3 - 1000)
	NOWEX:ARG:被射精Ｃ絶頂 = 3
	;PRINTFORML 超強絶頂Ｃ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値 * 2
	C = 2
	CDOWN:ARG:快Ｃ += (絶頂閾値 * 2 - 1000)
	NOWEX:ARG:被射精Ｃ絶頂 = 2
	;PRINTFORML 強絶頂Ｃ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値
	C = 1
	CDOWN:ARG:快Ｃ += (絶頂閾値 - 1000)
	NOWEX:ARG:被射精Ｃ絶頂 = 1
	;PRINTFORML 絶頂Ｃ\@ARG == PLAYER?(調教者)#\@
ENDIF
;CDOWN:ARG:0で下げても絶頂以上なら
;その値-1になるように調整（10000で絶頂なら9999）
SIF CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - CDOWN:ARG:快Ｃ >= 絶頂閾値
	CDOWN:ARG:快Ｃ = CUP:ARG:快Ｃ + PALAM:ARG:快Ｃ - 絶頂閾値 + 1

;絶頂Ｖ
IF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値 * 5
	V = 5
	CDOWN:ARG:快Ｖ += (絶頂閾値 * 5 - 1000)
	NOWEX:ARG:被射精Ｖ絶頂 = 5
	;PRINTFORML 究極絶頂Ｖ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値 * 4
	V = 4
	CDOWN:ARG:快Ｖ += (絶頂閾値 * 4 - 1000)
	NOWEX:ARG:被射精Ｖ絶頂 = 4
	;PRINTFORML 最強絶頂Ｖ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値 * 3
	V = 3
	CDOWN:ARG:快Ｖ += (絶頂閾値 * 3 - 1000)
	NOWEX:ARG:被射精Ｖ絶頂 = 3
	;PRINTFORML 超強絶頂Ｖ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値 * 2
	V = 2
	CDOWN:ARG:快Ｖ += (絶頂閾値 * 2 - 1000)
	NOWEX:ARG:被射精Ｖ絶頂 = 2
	;PRINTFORML 強絶頂Ｖ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値
	V = 1
	CDOWN:ARG:快Ｖ += (絶頂閾値 - 1000)
	NOWEX:ARG:被射精Ｖ絶頂 = 1
	;PRINTFORML 絶頂Ｖ\@ARG == PLAYER?(調教者)#\@
ENDIF
;CDOWN:ARG:1で下げても絶頂以上なら
;その値-1になるように調整（10000で絶頂なら9999）
SIF CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - CDOWN:ARG:快Ｖ >= 絶頂閾値
	CDOWN:ARG:快Ｖ = CUP:ARG:快Ｖ + PALAM:ARG:快Ｖ - 絶頂閾値 + 1

;絶頂Ａ
IF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値 * 5
	A = 5
	CDOWN:ARG:快Ａ += (絶頂閾値 * 5 - 1000)
	NOWEX:ARG:被射精Ａ絶頂 = 5
	;PRINTFORML 究極絶頂Ａ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値 * 4
	A = 4
	CDOWN:ARG:快Ａ += (絶頂閾値 * 4 - 1000)
	NOWEX:ARG:被射精Ａ絶頂 = 4
	;PRINTFORML 最強絶頂Ａ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値 * 3
	A = 3
	CDOWN:ARG:快Ａ += (絶頂閾値 * 3 - 1000)
	NOWEX:ARG:被射精Ａ絶頂 = 3
	;PRINTFORML 超強絶頂Ａ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値 * 2
	A = 2
	CDOWN:ARG:快Ａ += (絶頂閾値 * 2 - 1000)
	NOWEX:ARG:被射精Ａ絶頂 = 2
	;PRINTFORML 強絶頂Ａ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値
	A = 1
	CDOWN:ARG:快Ａ += (絶頂閾値 - 1000)
	NOWEX:ARG:被射精Ａ絶頂 = 1
	;PRINTFORML 絶頂Ａ\@ARG == PLAYER?(調教者)#\@
ENDIF
;CDOWN:ARG:2で下げても絶頂以上なら
;その値-1になるように調整（10000で絶頂なら9999）
SIF CUP:ARG:快Ａ + PALAM:ARG:快Ａ - CDOWN:ARG:快Ａ >= 絶頂閾値
	CDOWN:ARG:快Ａ = CUP:ARG:快Ａ + PALAM:ARG:快Ａ - 絶頂閾値 + 1

;絶頂Ｂ
IF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値 * 5
	B = 5
	CDOWN:ARG:快Ｂ += (絶頂閾値 * 5 - 1000)
	NOWEX:ARG:被射精Ｂ絶頂 = 5
	;PRINTFORML 究極絶頂Ｂ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値 * 4
	B = 4
	CDOWN:ARG:快Ｂ += (絶頂閾値 * 4 - 1000)
	NOWEX:ARG:被射精Ｂ絶頂 = 4
	;PRINTFORML 最強絶頂Ｂ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値 * 3
	B = 3
	CDOWN:ARG:快Ｂ += (絶頂閾値 * 3 - 1000)
	NOWEX:ARG:被射精Ｂ絶頂 = 3
	;PRINTFORML 超強絶頂Ｂ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値 * 2
	B = 2
	CDOWN:ARG:快Ｂ += (絶頂閾値 * 2 - 1000)
	NOWEX:ARG:被射精Ｂ絶頂 = 2
	;PRINTFORML 強絶頂Ｂ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値
	B = 1
	CDOWN:ARG:快Ｂ += (絶頂閾値 - 1000)
	NOWEX:ARG:被射精Ｂ絶頂 = 1
	;PRINTFORML 絶頂Ｂ\@ARG == PLAYER?(調教者)#\@
ENDIF
;CDOWN:ARG:快Ｂで下げても絶頂以上なら
;その値-1になるように調整（10000で絶頂なら9999）
SIF CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - CDOWN:ARG:快Ｂ >= 絶頂閾値
	CDOWN:ARG:快Ｂ = CUP:ARG:快Ｂ + PALAM:ARG:快Ｂ - 絶頂閾値 + 1

;絶頂Ｓ
IF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値 * 5
	S = 5
	CDOWN:ARG:快Ｓ += (絶頂閾値 * 5 - 1000)
	NOWEX:ARG:被射精Ｓ絶頂 = 5
	;PRINTFORML 究極絶頂Ｓ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値 * 4
	S = 4
	CDOWN:ARG:快Ｓ += (絶頂閾値 * 4 - 1000)
	NOWEX:ARG:被射精Ｓ絶頂 = 4
	;PRINTFORML 最強絶頂Ｓ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値 * 3
	S = 3
	CDOWN:ARG:快Ｓ += (絶頂閾値 * 3 - 1000)
	NOWEX:ARG:被射精Ｓ絶頂 = 3
	;PRINTFORML 超強絶頂Ｓ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値 * 2
	S = 2
	CDOWN:ARG:快Ｓ += (絶頂閾値 * 2 - 1000)
	NOWEX:ARG:被射精Ｓ絶頂 = 2
	;PRINTFORML 強絶頂Ｓ\@ARG == PLAYER?(調教者)#\@
ELSEIF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値
	S = 1
	CDOWN:ARG:快Ｓ += (絶頂閾値 - 1000)
	NOWEX:ARG:被射精Ｓ絶頂 = 1
	;PRINTFORML 絶頂Ｓ\@ARG == PLAYER?(調教者)#\@
ENDIF
;CDOWN:ARG:快Ｓで下げても絶頂以上なら
;その値-1になるように調整（10000で絶頂なら9999）
SIF CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - CDOWN:ARG:快Ｓ >= 絶頂閾値
	CDOWN:ARG:快Ｓ = CUP:ARG:快Ｓ + PALAM:ARG:快Ｓ - 絶頂閾値 + 1

;-------------------------------------------------
;絶頂時の追加処理
;-------------------------------------------------
RCVAR:ARG:被射精絶頂の強度 = C + V + A + B + S
IF	ARG == PLAYER
	TFLAG:調教者被射精絶頂強度 = C + V + A + B + S
ENDIF
IF ARG == TARGET
	;快楽刻印の処理
	IF RCVAR:ARG:被射精絶頂の強度 > 3 && MARK:ARG:1 < 3
		RCVAR:ARG:快楽強度 = 3
	;Rが3以上で快楽刻印２に相当
	ELSEIF RCVAR:ARG:被射精絶頂の強度 > 2 && MARK:ARG:1 < 2
		RCVAR:ARG:快楽強度 = 2
	;Rが2以上で快楽刻印１に相当
	ELSEIF RCVAR:ARG:被射精絶頂の強度 > 1 && MARK:ARG:1 < 1
		RCVAR:ARG:快楽強度 = 1
	ELSEIF RCVAR:ARG:被射精絶頂の強度 >= 1
		RCVAR:ARG:快楽強度 = 0
	ENDIF
ENDIF

;同時絶頂による補正
L = 0
SELECTCASE MIN(C, V, A, B, S)
	CASE 5
		L = 5
		C *= 60
		V *= 60
		A *= 60
		B *= 60
		S *= 60
	CASE 4
		L = 5
		C *= 48
		V *= 48
		A *= 48
		B *= 48
		S *= 48
	CASE 3
		L = 5
		C *= 36
		V *= 36
		A *= 36
		B *= 36
		S *= 36
	CASE 2
		L = 5
		C *= 24
		V *= 24
		A *= 24
		B *= 24
		S *= 24
	CASE 1
		L = 5
		C *= 12
		V *= 12
		A *= 12
		B *= 12
		S *= 12
	CASEELSE
		;絶頂状態部位がいくつあるかを検索
		SELECTCASE GROUPMATCH(0, C, V, A, B, S)
			CASE 1
				L = 4
				LOCAL = 8
			CASE 2
				L = 3
				LOCAL = 4
			CASE 3
				L = 2
				LOCAL = 2
			CASE 4
				L = 1
				LOCAL = 1
			ENDSELECT
		C *= LOCAL
		V *= LOCAL
		A *= LOCAL
		B *= LOCAL
		S *= LOCAL
ENDSELECT

IF C
	SOURCE:ARG:露出 += 500 * C
	SOURCE:ARG:屈従 += 200 * C
ENDIF
IF V
	SOURCE:ARG:欲情 += 800 * V
	SOURCE:ARG:恭順 += 500 * V
	SOURCE:ARG:露出 += 700 * V
	SOURCE:ARG:屈従 += 400 * V
ENDIF
IF A
	SOURCE:ARG:欲情 += 500 * A
	SOURCE:ARG:恭順 += 700 * A
	SOURCE:ARG:露出 += 900 * A
	SOURCE:ARG:屈従 += 500 * A
	SOURCE:ARG:逸脱 += 200 * A
ENDIF
IF B
	SOURCE:ARG:露出 += 500 * B
	SOURCE:ARG:屈従 += 200 * B
	SIF TALENT:ARG:性別  == 10
		SOURCE:ARG:逸脱 += 100 * B
ENDIF
IF S
	SOURCE:ARG:露出 += 500 * S
	SOURCE:ARG:屈従 += 200 * S
	SOURCE:ARG:逸脱 += 100 * S
ENDIF

NOWEX:ARG:被射精多重絶頂 = L

;絶頂回数を増やす
EX:ARG:Ｃ絶頂 += NOWEX:ARG:被射精Ｃ絶頂
EX:ARG:Ｖ絶頂 += NOWEX:ARG:被射精Ｖ絶頂
EX:ARG:Ａ絶頂 += NOWEX:ARG:被射精Ａ絶頂
EX:ARG:Ｂ絶頂 += NOWEX:ARG:被射精Ｂ絶頂
EX:ARG:Ｓ絶頂 += NOWEX:ARG:被射精Ｓ絶頂
EX:ARG:多重絶頂 += L

;絶頂経験を増やす
EXP:ARG:絶頂経験 += RCVAR:ARG:被射精絶頂の強度
EXP:ARG:Ｃ絶頂経験 += NOWEX:ARG:被射精Ｃ絶頂
EXP:ARG:Ｖ絶頂経験 += NOWEX:ARG:被射精Ｖ絶頂
EXP:ARG:Ａ絶頂経験 += NOWEX:ARG:被射精Ａ絶頂
EXP:ARG:Ｂ絶頂経験 += NOWEX:ARG:被射精Ｂ絶頂
EXP:ARG:Ｓ絶頂経験 += NOWEX:ARG:被射精Ｓ絶頂
SIF RCVAR:ARG:露出コマンドフラグ
	EXP:ARG:露出絶頂経験 += RCVAR:ARG:被射精絶頂の強度
SIF RCVAR:ARG:苦痛コマンドフラグ
	EXP:ARG:苦痛絶頂経験 += RCVAR:ARG:被射精絶頂の強度
SIF RCVAR:ARG:嗜虐コマンドフラグ
	EXP:ARG:嗜虐絶頂経験 += RCVAR:ARG:被射精絶頂の強度
SIF RCVAR:ARG:奉仕コマンドフラグ
	EXP:ARG:奉仕絶頂経験 += RCVAR:ARG:被射精絶頂の強度
SIF RCVAR:ARG:道具コマンドフラグ
	EXP:ARG:道具絶頂経験 += RCVAR:ARG:被射精絶頂の強度
SIF RCVAR:ARG:触手コマンドフラグ
	EXP:ARG:触手絶頂経験 += RCVAR:ARG:被射精絶頂の強度
IF RCVAR:ARG:精飲フラグ
	EXP:ARG:精飲絶頂経験 += RCVAR:ARG:被射精絶頂の強度
	EXP:ARG:精飲快楽経験 += RCVAR:ARG:被射精絶頂の強度 * 10
ENDIF
IF RCVAR:ARG:膣内射精フラグ
	EXP:ARG:膣内射精絶頂経験 += RCVAR:ARG:被射精絶頂の強度
ENDIF
IF RCVAR:ARG:腸内射精フラグ
	EXP:ARG:腸内射精絶頂経験 += RCVAR:ARG:被射精絶頂の強度
ENDIF

;絶頂による欲望ＬＶアップ
IF ARG == TARGET
	;自制心があると１下がる
	SIF TALENT:ARG:自制心
		L -= 1
	IF ABL:ARG:欲望 < L
		ABL:ARG:欲望 = L
		PRINT そして欲望がLV
		PRINTV L
		PRINTL になった
	ENDIF
ENDIF

;-------------------------------------------------
;絶頂時の追加処理
;-------------------------------------------------
;射精
IF TALENT:ARG:性別 & 2
	NOWEX:ARG:射精 = RCVAR:ARG:被射精絶頂の強度
ENDIF

;ZPの取得
IF RCVAR:ARG:被射精絶頂の強度 > 0
	CALL 絶頂体力減少処理(ARG, NOWEX:ARG:被射精Ｃ絶頂, NOWEX:ARG:被射精Ｖ絶頂, NOWEX:ARG:被射精Ａ絶頂, NOWEX:ARG:被射精Ｂ絶頂, NOWEX:ARG:被射精Ｓ絶頂)
	CALL ZP_取得処理(ARG, RCVAR:ARG:被射精絶頂の強度)
	CFLAG:ARG:体力成長値 += RCVAR:ARG:被射精絶頂の強度 * 5
ENDIF


;連れ込み状態時、満足したか
;ついでに中毒欲求不満の判定も行う
CALL 中毒連れ込み判定_精飲(ARG)
IF RESULT
	;精飲時は必ず絶頂するはずなのでフラグだけ見る
	IF RCVAR:ARG:精飲フラグ
		CFLAG:ARG:中毒欲求不満フラグ = -1
		SIF 連れ込みパターン == "精飲"
			RCVAR:ARG:連れ込み満足フラグ = 1
	ENDIF
ENDIF
CALL 中毒連れ込み判定_膣内射精(ARG)
IF RESULT
	;膣内射精時は必ず絶頂するはずなのでフラグだけ見る
	IF RCVAR:ARG:膣内射精フラグ
		CFLAG:ARG:中毒欲求不満フラグ = -1
		SIF 連れ込みパターン == "膣内射精"
			RCVAR:ARG:連れ込み満足フラグ = 1
	ENDIF
ENDIF
CALL 中毒連れ込み判定_腸内射精(ARG)
IF RESULT
	;腸内射精時は必ず絶頂するはずなのでフラグだけ見る
	IF RCVAR:ARG:腸内射精フラグ
		CFLAG:ARG:中毒欲求不満フラグ = -1
		SIF 連れ込みパターン == "腸内射精"
			RCVAR:ARG:連れ込み満足フラグ = 1
	ENDIF
ENDIF

RETURN 1



@SHOOT絶頂口上(ARG)
;後々口上を入れる処理を入れ込む
PRINTFORM %CALLNAME:ARG%は

SELECTCASE RFLAG:フィニッシュ場所
	CASE 0
		;膣内
		PRINTL 子宮に溢れる濃厚な精液の感覚で絶頂した
	CASE 1
		;腸内
		PRINTL 腸内に感じる精液の熱さに絶頂した
	CASE 2
		;口内
		PRINTFORML 喉に%CALLNAME:PLAYER%の精液を流し込まれて絶頂した
	CASE 3
		;乳内
		PRINTL 乳房に垂れる精液の感触で絶頂した
ENDSELECT

IF TALENT:ARG:性別 & 2
	PRINTL 同時に、自らの陰茎からも精液を吐き出した…
ENDIF
WAIT


