@SHOW_USERCOM

SIF SAVESTR:ゲームフェイズ管理 == ""
	RETURN 0

CALLFORM  SHOW_USERCOM_%SAVESTR:ゲームフェイズ管理%
RETURN RESULT


@SHOW_USERCOM_通常モード
#DIM コマンド数
#DIM 同行者フラグ
VARSET LOCAL

;コマンド表示
CALL SHOW_COMMAND
IF サイド領域非表示オプション == 0
	CALL サイド領域_改行処理
ENDIF
DRAWLINE

RESETCOLOR
PRINTC 能力表示(マスター)[804]
IF CFLAG:うふふ && TARGET > 0
	SIF TALENT:PLAYER:脱衣不可 == 0
		PRINTC 服を脱ぐ[820]
	IF CFLAG:うふふ == 2
		PRINTC 抜け出す[999]
	ELSE
		PRINTC 逢引終了[999]
	ENDIF
ENDIF
IF CFLAG:飲み会 && TARGET > 0
	PRINTC 飲み会終了[998]
ENDIF
PRINTC 探索系情報一覧[830]

FOR LOCAL, 1, CHARANUM
	SIF TARGET:LOCAL < 1
		BREAK
	SIF CFLAG:(TARGET:LOCAL):同行
		同行者フラグ = 1
NEXT
SIF !同行者フラグ && !CFLAG:MASTER:隠密
	PRINTC 物陰に隠れる[840]
SIF 同行者フラグ && !CFLAG:MASTER:隠密
	PRINTC 一緒に隠れる[840]
SIF CFLAG:MASTER:隠密 && (!CFLAG:うふふ || GET_TARGETNUM() < 2)
	PRINTC 物陰から出る[841]
SIF TARGET
	PRINTC アイテムを使う[850]
PRINTL
PRINTC 写真一覧[856]
PRINTC OPTION[809]
PRINTL
SIF あなた特殊能力:居場所感知
	PRINTC キャラ居場所感知[860]
RESETCOLOR

PRINTL 
PRINT ＜コマンド履歴:
FOR LOCAL, 0, 5
	IF コマンド履歴:LOCAL >= 370 && コマンド履歴:LOCAL <= 374
		SIF LOCAL > 0
			PRINT  - 
		;現在位置が同じかつCOMABLEが通るならボタン化
		IF TARGET == コマンド履歴:(LOCAL + 5)
			TRYCALLFORM COM_ABLE{コマンド履歴:LOCAL}
			IF RESULT
				PRINTBUTTON @"[%TRAIN_COMNAME(コマンド履歴:LOCAL)%]", コマンド履歴:LOCAL
			ELSE
				PRINTFORM [%TRAIN_COMNAME(コマンド履歴:LOCAL)%]
			ENDIF
		ELSE
			;一旦TARGETが違うなら一旦相手を保存してから固有コマンド表示
			SWAP TARGET, コマンド履歴:(LOCAL + 5)
			PRINTFORM [%TRAIN_COMNAME(コマンド履歴:LOCAL)%]
			SWAP TARGET, コマンド履歴:(LOCAL + 5)
		ENDIF
	ELSEIF コマンド履歴:LOCAL >= 380 && コマンド履歴:LOCAL <= 384
		SIF LOCAL > 0
			PRINT  - 
		;現在位置が同じかつCOMABLEが通るならボタン化
		IF CFLAG:MASTER:現在位置 == コマンド履歴:(LOCAL + 10) && CFLAG:MASTER:現在マップ種別 == コマンド履歴:(LOCAL + 15)
			TRYCALLFORM COM_ABLE{コマンド履歴:LOCAL}
			IF RESULT
				PRINTBUTTON @"[%TRAIN_COMNAME(コマンド履歴:LOCAL)%]", コマンド履歴:LOCAL
			ELSE
				PRINTFORM [%TRAIN_COMNAME(コマンド履歴:LOCAL)%]
			ENDIF
		ELSE
			;一旦現在位置が違うなら一旦位置を保存してから固有コマンド表示
			LOCAL:1 = CFLAG:MASTER:現在位置
			LOCAL:2 = CFLAG:MASTER:現在マップ種別
			CFLAG:MASTER:現在位置 = コマンド履歴:(LOCAL + 10)
			PRINTFORM [%TRAIN_COMNAME(コマンド履歴:LOCAL)%]
			CFLAG:MASTER:現在位置 = LOCAL:1
			CFLAG:MASTER:現在マップ種別 = LOCAL:2
		ENDIF
	ELSEIF コマンド履歴:LOCAL >= 0
		SIF LOCAL > 0
			PRINT  - 
		;COMABLEが通るならボタン化
		TRYCALLFORM COM_ABLE{コマンド履歴:LOCAL}
		IF RESULT
			PRINTBUTTON @"[%TRAIN_COMNAME(コマンド履歴:LOCAL)%]", コマンド履歴:LOCAL
		ELSE
			PRINTFORM [%TRAIN_COMNAME(コマンド履歴:LOCAL)%]
		ENDIF
	ELSEIF コマンド履歴:LOCAL == -1
		SIF LOCAL > 0
			PRINT  - 
		;COMABLEが通るならボタン化
		TRYCALLFORM COM_ABLE_S%派生コマンド履歴:LOCAL%
		IF RESULT
			PRINTBUTTON @"[%TRAIN_COMNAME_S(派生コマンド履歴:LOCAL)%]", @"%派生コマンド履歴:LOCAL%"
		ELSE
			PRINTFORM [%TRAIN_COMNAME_S(派生コマンド履歴:LOCAL)%]
		ENDIF
	ENDIF
NEXT
PRINTL ＞

@USERCOM

SIF SAVESTR:ゲームフェイズ管理 == ""
	RETURN 0

CALLFORM  USERCOM_%SAVESTR:ゲームフェイズ管理%
RETURN RESULT

@USERCOM_通常モード
#DIM ページ番号
#DIM 数値変換用
#DIM 実行キャラ番号
#DIM 対象キャラ番号
#DIM TARGET何人目？
#DIM 口上無しフラグ

ページ番号 = 0
;RETURN 0でSOURCE_CHECK以降に進む
;NEXTCOMを仕込む
IF NEXTCOM >= 0
	RESULT = NEXTCOM
	NEXTCOM = -1
ENDIF

IF STRCOUNT(RSTR:SELECTCOM_S受け渡し, "MODE詳細設定処理") > 0
	;モードの強さや速さを変動させるボタン
	;_でSPLITすればRESULTS:1に変動種類、2にキャラ番号、3に変動内容が入る
	SPLIT RSTR:SELECTCOM_S受け渡し, "_", RESULTS
	IF ISNUMERIC(RESULTS:3)
		SETVAR @"%RESULTS:1%:{TOINT(RESULTS:2)}:0", TOINT(RESULTS:3)
	ELSEIF RESULTS:3 == "上昇"
		SETVAR @"%RESULTS:1%:{TOINT(RESULTS:2)}:0", MIN(5, GETVAR(@"%RESULTS:1%:{TOINT(RESULTS:2)}:0") + 1)
	ELSEIF RESULTS:3 == "下降"
		SETVAR @"%RESULTS:1%:{TOINT(RESULTS:2)}:0", MAX(0, GETVAR(@"%RESULTS:1%:{TOINT(RESULTS:2)}:0") - 1)
	ENDIF
	RETURN 1
ELSEIF STRCOUNT(RSTR:SELECTCOM_S受け渡し, "モード中断_") > 0
	;モードを中止させるボタン
	;_でSPLITすればRESULTS:1に中止させるモードの配列が入る
	SPLIT RSTR:SELECTCOM_S受け渡し, "_", RESULTS
	実行キャラ番号 = DT_CELL_GET("体位モードデータベース", TOINT(RESULTS:1), "実行キャラ")
	対象キャラ番号 = DT_CELL_GET("体位モードデータベース", TOINT(RESULTS:1), "対象キャラ")
	TRYCALLFORM MESSAGE_MODE_%DT_CELL_GETS("体位モードデータベース", TOINT(RESULTS:1), "モード名")%解除(実行キャラ番号, 対象キャラ番号)
	PRINTL
	IF 実行キャラ番号 != MASTER
		TRYCCALLFORM KOJO_MODE_%DT_CELL_GETS("体位モードデータベース", TOINT(RESULTS:1), "モード名")%プレイヤー側解除_{NO:実行キャラ番号}(実行キャラ番号, 対象キャラ番号)
			PRINTL 
			口上無しフラグ = 0
		CATCH
			口上無しフラグ = 1
		ENDCATCH
	ENDIF
	IF 対象キャラ番号 != MASTER
		TRYCCALLFORM KOJO_MODE_%DT_CELL_GETS("体位モードデータベース", TOINT(RESULTS:1), "モード名")%ターゲット側解除_{NO:対象キャラ番号}(実行キャラ番号, 対象キャラ番号)
			PRINTL 
			口上無しフラグ = 0
		CATCH
			口上無しフラグ = 1
		ENDCATCH
	ENDIF
	SIF 口上無しフラグ
		TRYCALLFORM MESSAGE_MODE_%DT_CELL_GETS("体位モードデータベース", TOINT(RESULTS:1), "モード名")%解除_非口上時(実行キャラ番号, 対象キャラ番号)
	WAIT
	CALL MODE_DELETE_配列詰め(TOINT(RESULTS:1))
ELSEIF STRCOUNT(RSTR:SELECTCOM_S受け渡し, "モード全表示") > 0
	INVERTBIT MODE全表示フラグ, 0
	RETURN 1
ELSEIF RSTR:SELECTCOM_S受け渡し != ""
	;受け渡しがある場合はRSTR:SELECTCOM_S受け渡しに派生コマンドが入っているはず
	SELECTCOM = -1
	SELECTCOM_S = %RSTR:SELECTCOM_S受け渡し%
	SIF TRAIN_COMNAME_S(SELECTCOM_S) == ""
		RETURN 1
	RSTR:SELECTCOM_S受け渡し = %SELECTCOM_S%
	RESULT = 1
	LOCAL:2 = 0
	IF FLAG:モード管理 == 2
		LOCAL:10 = TARGET
		FOR LOCAL, 0, 同時モード_選択数
			SIF 同時モード_選択キャラ:LOCAL < 0
				BREAK
			RESULT = 0
			TARGET = 同時モード_選択キャラ:LOCAL
			TRYCALLFORM COM_ABLE_S%SELECTCOM_S%
			IF RESULT == 0
				TARGET = LOCAL:10
				RETURN 1
			ENDIF
			RESULT = 1
			IF TCVAR:TARGET:食いしばりフラグ
			ELSEIF TARGET == MASTER
				TARGET = PLAYER
				PLAYER = MASTER
				RFLAG:指示モード対象あなたフラグ = 1
				TRYCALLFORM CAN_COM_S%SELECTCOM_S%(1)
				RFLAG:指示モード対象あなたフラグ = 0
				LOCAL:2 = RESULT
				IF !LOCAL:2
					TRYCALLFORM CAN_COM_S%SELECTCOM_S%
					;失敗時口上
					;これプレイヤー側時いる？　一旦封印
					;TRYCALLFORM KOJO_CANCOMPLAYER失敗時_{NO:TARGET}_%SELECTCOM_S%(TARGET)
				ENDIF
				PLAYER = TARGET
				TARGET = MASTER
				SIF !LOCAL:2
					RETURN 1
			ELSE
				TRYCALLFORM CAN_COM_S%SELECTCOM_S%(1)
				IF !RESULT
					TRYCALLFORM CAN_COM_S%SELECTCOM_S%
					;失敗時口上
					PRINTL
					TRYCALLFORM KOJO_CANCOM失敗時_{NO:TARGET}_%SELECTCOM_S%(TARGET)
					RETURN 1
				ENDIF
			ENDIF
		NEXT
		RSTR:SELECTCOM_S受け渡し = %SELECTCOM_S%
		TARGET = LOCAL:10
	ELSE
		TRYCALLFORM COM_ABLE_S%SELECTCOM_S%
		SIF RESULT == 0 || RESULT == -1
			RETURN 1
		IF TCVAR:TARGET:食いしばりフラグ
		ELSEIF TARGET == MASTER
			TARGET = PLAYER
			PLAYER = MASTER
			RFLAG:指示モード対象あなたフラグ = 1
			TRYCALLFORM CAN_COM_S%SELECTCOM_S%(1)
			RFLAG:指示モード対象あなたフラグ = 0
			LOCAL:2 = RESULT
			IF !LOCAL:2
				TRYCALLFORM CAN_COM_S%SELECTCOM_S%
				;失敗時口上
				;これプレイヤー側時いる？　一旦封印
				;TRYCALLFORM KOJO_CANCOMPLAYER失敗時_{NO:TARGET}_%SELECTCOM_S%(TARGET)
			ENDIF
			PLAYER = TARGET
			TARGET = MASTER
			SIF !LOCAL:2
				RETURN 1
		ELSE
			TRYCALLFORM CAN_COM_S%SELECTCOM_S%(1)
			IF !RESULT
				TRYCALLFORM CAN_COM_S%SELECTCOM_S%
				;失敗時口上
				PRINTL
				TRYCALLFORM KOJO_CANCOM失敗時_{NO:TARGET}_%SELECTCOM_S%(TARGET)
				RETURN 1
			ENDIF
		ENDIF
	ENDIF
ELSEIF RESULT == 9101
	;通常モード
	FLAG:モード管理 = 0
	TFLAG:あなたターゲット用 = 0
	VARSET 同時モード_選択キャラ, -1
	同時モード_選択数 = 0
	RETURN 1
ELSEIF RESULT == 9102
	;指示モード
	SIF !CFLAG:うふふ
		RETURN 1
	IF TARGET == MASTER
		FLAG:モード管理 = 0
		TFLAG:あなたターゲット用 = 0
		RETURN 1
	ENDIF
	IF TCVAR:TARGET:食いしばりフラグ || CFLAG:TARGET:体力限界
		PRINTFORMW %CALLNAME:TARGET%は自ら動く体力が残っていない…
		RETURN 1
	ENDIF
	FLAG:モード管理 = 1
	VARSET 同時モード_選択キャラ, -1
	同時モード_選択数 = 0
	SIF CFLAG:MASTER:隠密 && CFLAG:TARGET:隠密
		TFLAG:あなたターゲット用 = 1
	PLAYER = TARGET
	RETURN 1
ELSEIF RESULT == 9103
	;同時モード
	SIF !CFLAG:うふふ
		RETURN 1
	CALL 同時モード設定()
	SIF RESULT
		FLAG:モード管理 = 2
	RETURN 1
ELSEIF RESULT == 9104
	;オートコマンドオプション
	FLAG:オートコマンド切り替えオプション += 1
	SIF FLAG:オートコマンド切り替えオプション > 15
		FLAG:オートコマンド切り替えオプション = 0
	RETURN 1
ELSEIF RESULT == 9100
;9100でINFO格納フィルタ
	INVERTBIT INFO格納フィルタ:(RESULT - 9100), 0
	RETURN 1
ELSEIF RESULT >=9050
	RETURN 1
ELSEIF RESULT >=9000
;9000番代は簡易コマンドフィルタに使う
	INVERTBIT 簡易コマンドフィルタ:(RESULT - 9000), 0
	RETURN 1
ELSEIF RESULT == 2000
	IF FLAG:モード管理 == 1
		;指示モード時のみ、あなたをターゲットに出来る
		IF FLAG:モード管理 == 2 && !MATCH(同時モード_選択キャラ, 0)
			FLAG:モード管理 = 1
			VARSET 同時モード_選択キャラ, -1
			同時モード_選択数 = 0
		ENDIF
		TFLAG:あなたターゲット用 = 1
	ENDIF
	RETURN 1
ELSEIF RESULT > 2000
;2000番以降は相手変えのショートカットに使う
	IF CFLAG:MASTER:隠密 && CFLAG:TARGET:隠密
		PRINTW 一緒に隠密中は相手を変更出来ません
		RETURN 1
	ELSEIF FLAG:モード管理 == 1 && CFLAG:MASTER:隠密 && CFLAG:PLAYER:隠密
		PRINTW 一緒に隠密中は相手を変更出来ません
		RETURN 1
	ENDIF
	数値変換用 = RESULT - 2000
	IF 数値変換用 <= 0 || 数値変換用 >= CHARANUM
		RETURN 1
	ELSEIF CFLAG:数値変換用:同室
		IF FLAG:モード管理 == 2 && !MATCH(同時モード_選択キャラ, 数値変換用)
			FLAG:モード管理 = 0
			VARSET 同時モード_選択キャラ, -1
			同時モード_選択数 = 0
		ENDIF
		TFLAG:TARGET変更用 = 数値変換用
		TFLAG:あなたターゲット用 = 0
		PREVCOM = RESULT
	ENDIF
	RETURN 1
ELSEIF RESULT >= 0 && RESULT <= 700
	SELECTCOM = RESULT
	IF GROUPMATCH(SELECTCOM, 351, 356, 355)
		CALLFORM COM_ABLE{SELECTCOM}
		SIF !RESULT
			RETURN 0
		STR:0 = 連れ出す
		CALLFORM COM{SELECTCOM}
		RETURN RESULT
	ENDIF
	SIF TRAIN_COMNAME(SELECTCOM) == ""
		RETURN 1
	IF FLAG:モード管理 == 2
		LOCAL:10 = TARGET
		FOR LOCAL, 0, 同時モード_選択数
			SIF 同時モード_選択キャラ:LOCAL < 0
				BREAK
			RESULT = 0
			TARGET = 同時モード_選択キャラ:LOCAL
			TRYCALLFORM COM_ABLE{SELECTCOM}
			IF RESULT == 0
				TARGET = LOCAL:10
				RETURN 1
			ENDIF
			RESULT = 1
			IF TCVAR:TARGET:食いしばりフラグ
			ELSEIF TARGET == MASTER
				TARGET = PLAYER
				PLAYER = MASTER
				RFLAG:指示モード対象あなたフラグ = 1
				TRYCALLFORM CAN_COM{SELECTCOM}(1)
				RFLAG:指示モード対象あなたフラグ = 0
				LOCAL:2 = RESULT
				IF !LOCAL:2
					TRYCALLFORM CAN_COM{SELECTCOM}
					;失敗時口上
					;これプレイヤー側時いる？　一旦封印
					;TRYCALLFORM KOJO_CANCOMPLAYER失敗時_{NO:TARGET}_{SELECTCOM}(TARGET)
				ENDIF
				PLAYER = TARGET
				TARGET = MASTER
				SIF !LOCAL:2
					RETURN 1
			ELSE
				TRYCALLFORM CAN_COM{SELECTCOM}(1)
				IF !RESULT
					TRYCALLFORM CAN_COM{SELECTCOM}
					;失敗時口上
					PRINTL
					TRYCALLFORM KOJO_CANCOM失敗時_{NO:TARGET}_{SELECTCOM}(TARGET)
					RETURN 1
				ENDIF
			ENDIF
		NEXT
		TFLAG:SELECTCOM受け渡し = SELECTCOM
		TARGET = LOCAL:10
	ELSE
		RESULT = 0
		TRYCALLFORM COM_ABLE{SELECTCOM}
		SIF RESULT == 0
			RETURN 1
		TFLAG:SELECTCOM受け渡し = SELECTCOM
		RESULT = 1
		IF TCVAR:TARGET:食いしばりフラグ
		ELSEIF TARGET == MASTER
			TARGET = PLAYER
			PLAYER = MASTER
			RFLAG:指示モード対象あなたフラグ = 1
			TRYCALLFORM CAN_COM{SELECTCOM}(1)
			RFLAG:指示モード対象あなたフラグ = 0
			LOCAL:2 = RESULT
			IF !LOCAL:2
				TRYCALLFORM CAN_COM{SELECTCOM}
				;失敗時口上
				;これプレイヤー側時いる？　一旦封印
				;TRYCALLFORM KOJO_CANCOMPLAYER失敗時_{NO:TARGET}_{SELECTCOM}(TARGET)
			ENDIF
			PLAYER = TARGET
			TARGET = MASTER
			SIF !LOCAL:2
				RETURN 1
		ELSE
			TRYCALLFORM CAN_COM{SELECTCOM}(1)
			IF !RESULT
				TRYCALLFORM CAN_COM{SELECTCOM}
				;失敗時口上
				PRINTL
				TRYCALLFORM KOJO_CANCOM失敗時_{NO:TARGET}_{SELECTCOM}(TARGET)
				RETURN 1
			ENDIF
		ENDIF
	ENDIF

ELSEIF RESULT == 803
	FOR LOCAL, 1, CHARANUM
		IF CFLAG:MASTER:飲み会
			IF 飲み会TARGET:LOCAL == TARGET
				TARGET何人目？ = LOCAL
				BREAK
			ENDIF
		ELSE
			IF TARGET:LOCAL == TARGET
				TARGET何人目？ = LOCAL
				BREAK
			ENDIF
		ENDIF
	NEXT
	$能力表示_LOOP
	LOCAL:1 = 0
	SIF TARGET何人目？ != 1
		SETBIT LOCAL:1, 0
	IF CFLAG:MASTER:飲み会
		SIF 飲み会TARGET:(TARGET何人目？ + 1) > 0
			SETBIT LOCAL:1, 1
		CALL PRINT_STATE(飲み会TARGET:TARGET何人目？, LOCAL:1)
	ELSE
		SIF TARGET:(TARGET何人目？ + 1) > 0
			SETBIT LOCAL:1, 1
		CALL PRINT_STATE(TARGET:TARGET何人目？, LOCAL:1)
	ENDIF
	IF RESULT == 100
		TARGET何人目？ -= 1
		GOTO 能力表示_LOOP
	ELSEIF RESULT == 101
		TARGET何人目？ += 1
		GOTO 能力表示_LOOP
	ENDIF
	RETURN 1
ELSEIF RESULT == 804
	CALL PRINT_STATE(MASTER)
	RETURN 1
ELSEIF RESULT == 809
	CALL OPTION
	RETURN 1
ELSEIF RESULT == 820 && CFLAG:うふふ
	CALL CLOTHES_SETTING_TRAIN(PLAYER)
	RETURN 1
ELSEIF RESULT == 830
	表示切り替え文字列 = 探索集約_探索メンバー
	CALL 探索系集約表示
	RETURN 1
ELSEIF RESULT == 840
	CFLAG:MASTER:隠密 = 1
	FOR LOCAL, 1, CHARANUM
		SIF TARGET:LOCAL < 1
			BREAK
		SIF CFLAG:(TARGET:LOCAL):同行
			CFLAG:(TARGET:LOCAL):隠密 = 1
	NEXT
	RETURN 1
ELSEIF RESULT == 841
	IF 連れ込みパターン != ""
		PRINTFORMW %CALLNAME:TARGET%が離してくれない…
		CALL KOJO_EVENT, 13, TARGET, 1
	ELSE
		CFLAG:MASTER:隠密 = 0
		SIF CFLAG:TARGET:同行
			CFLAG:TARGET:隠密 = 0
		PREVCOM = 841
	ENDIF
	RETURN 1
ELSEIF RESULT == 850
	CALL ITEM_PROTO(TARGET)
	RETURN 1
ELSEIF RESULT == 856
	CALL 所持写真一覧表示
	RETURN 1
ELSEIF RESULT == 860
	CALL キャラ居場所感知処理
	RETURN 1
ELSEIF RESULT == 889
	IF GETBIT(画像サイズ切り替えOPTION記憶, 0)
		INVERTBIT 画像サイズ切り替えOPTION記憶, 0
		IF 二人目画像表示用()
			SETBIT 画像サイズ切り替えOPTION記憶, 4
		ELSE
			CLEARBIT 画像サイズ切り替えOPTION記憶, 4
		ENDIF
	ELSEIF GETBIT(画像サイズ切り替えOPTION記憶, 4) && 二人目画像表示用()
		CLEARBIT 画像サイズ切り替えOPTION記憶, 4
	ELSE
		INVERTBIT 画像サイズ切り替えOPTION記憶, 0
	ENDIF
	RETURN 1
ELSEIF RESULT == 890
	INVERTBIT あなた射精我慢フラグ, 0
	RETURN 1
ELSEIF RESULT == 891
	CALL オート射精先設定
	RETURN 1
ELSEIF RESULT == 892
	INVERTBIT 連れ込み制御OPTION, 0
	RETURN 1
ELSEIF RESULT == 999 && CFLAG:うふふ
	IF 連れ込みパターン != ""
		PRINTFORMW %CALLNAME:(TARGET)%が離してくれない…
		CALL KOJO_EVENT, 13, TARGET, 1
		RETURN 1
	ELSE
		CALL うふふ終了処理
		RETURN 1
	ENDIF
ELSEIF RESULT == 998 && CFLAG:飲み会
	FOR LOCAL,0,CHARANUM
		SIF TARGET:LOCAL < 1
			BREAK
		IF CFLAG:(TARGET:LOCAL):飲み会
			;うふふ終了口上
			TRYCALLFORM KOJO_EVENT_飲み会終了_{NO:(TARGET:LOCAL)}
		ENDIF
		CFLAG:(TARGET:LOCAL):飲み会 = 0
		;先にここでモードを変えておかないとTARGETが上手く格納されない
		TFLAG:調教モード = 1
		;モードもリセット
		CALL 特定キャラモードリセット(TARGET:LOCAL)
	NEXT
	CFLAG:PLAYER:飲み会 = 0
	RETURN 1
ELSE
	RETURN 1
ENDIF
RETURN 0

@SHOW_COMMAND
CALL SHOW_MODE()

IF TFLAG:調教モード == 2
	SETCOLOR 0xC0C0C0
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTPLAIN [通常]
	PRINTL -------------------------------------------------------------------------------------------------
	CALL SHOW_COMMAND_実処理("その他")
PRINTL
	SETCOLOR 0xFF66CC
	SIF 簡易コマンドフィルタ:6
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[Ｖ系]", 9006
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:6
		CALL SHOW_COMMAND_実処理("Ｖ系")
PRINTL
	SETCOLOR 0xDDFFDD
	SIF 簡易コマンドフィルタ:7
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[Ａ系]", 9007
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:7
		CALL SHOW_COMMAND_実処理("Ａ系")
PRINTL
	SETCOLOR 0xD3DEF1
	SIF 簡易コマンドフィルタ:9
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[道具系]", 9009
	PRINTL -----------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:9
		CALL SHOW_COMMAND_実処理("道具系")
PRINTL
	SETCOLOR 0xD3DEF1
	SIF 簡易コマンドフィルタ:12
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[複数人プレイ]", 9012
	PRINTL -----------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:12
		CALL SHOW_COMMAND_実処理("複数人プレイ")
ELSEIF TFLAG:調教モード == 3
	SETCOLOR 0xC0C0C0
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTPLAIN [飲み会]
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:49
		CALL SHOW_COMMAND_実処理("その他")
PRINTL
	SETCOLOR 0xFF66CC
	SIF 簡易コマンドフィルタ:6
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[セクハラ]", 9006
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:1
		CALL SHOW_COMMAND_実処理("セクハラ")
ELSE
	SETCOLOR 0xC0C0C0
	SIF 簡易コマンドフィルタ:0
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[日常]", 9000
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:0
		CALL SHOW_COMMAND_実処理("日常")
PRINTL
	SETCOLOR 0xFF99EE
	SIF 簡易コマンドフィルタ:1
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[セクハラ]", 9001
	PRINTL ---------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:1
		CALL SHOW_COMMAND_実処理("セクハラ")
PRINTL
	SETCOLOR 0xAADDAA
	SIF 簡易コマンドフィルタ:4
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[探索]", 9004
	PRINTL -------------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:4
		CALL SHOW_COMMAND_実処理("探索")
PRINTL
	SETCOLOR 0xB0BBE0
	SIF 簡易コマンドフィルタ:49
		SETCOLOR 0x666666
	文字色保存 = GETCOLOR()
	PRINT -----
	PRINTBUTTON "[その他]", 9049
	PRINTL -----------------------------------------------------------------------------------------------
	SIF !簡易コマンドフィルタ:49
		CALL SHOW_COMMAND_実処理("その他")
ENDIF
RESETCOLOR
PRINTL
文字色保存 = 0

@SHOW_COMMAND_実処理(ARGS)
#DIMS 複合条件保存, 10
#DIM スキップフラグ
#DIM 配列番号
#DIMS コマンドキー
#DIM 派生カテゴリ表示フラグ

TOOLTIP_CUSTOM 1
TOOLTIP_SETFONTSIZE 12
TOOLTIP_SETDURATION 100000

VARSET LOCALS
LOCAL:1 = 0
LOCAL:2 = 0
LOCAL:3 = COMTYPE(ARGS)
;セクハラは全部まとめてセクハラ扱い
SIF GROUPMATCH(LOCAL:3, 1, 2, 3)
	LOCAL:3 = 1
SIF LOCAL:3 == 16
	LOCAL:3 = 0
SIF ARGS == "その他"
	LOCAL:3 = 49

FOR LOCAL,0,700
	SIF EXISTFUNCTION(@"COM_ABLE{LOCAL}") == 0
		CONTINUE
	IF FLAG:モード管理 == 2
		LOCAL:10 = TARGET
		スキップフラグ = 0
		FOR 配列番号, 0, 同時モード_選択数
			SIF 同時モード_選択キャラ:配列番号 < 0
				BREAK
			RESULT = 0
			TARGET = 同時モード_選択キャラ:配列番号
			TRYCALLFORM COM_ABLE{LOCAL}
			IF RESULT == 0
				スキップフラグ = 1
				BREAK
			ENDIF
		NEXT
		TARGET = LOCAL:10
		SIF スキップフラグ
			CONTINUE
	ELSE
		TRYCALLFORM COM_ABLE{LOCAL}
		SIF RESULT == 0
			CONTINUE
	ENDIF
	弱点コマンドカテゴリ = 
	TFLAG:派生コマンド指定 = -1
	TRYCALLFORMF COMTYPE_{LOCAL}
	SIF TFLAG:派生コマンド指定 > -1 && LOCAL >= 370 && LOCAL <= 389
		CONTINUE
	;複合条件処理
	IF TFLAG:コマンドタイプ受渡 > 99
		IF TFLAG:コマンドタイプ受渡 == 100
			SPLIT TSTR:複合コマンドタイプ受け渡し, "&", 複合条件保存
		ELSEIF TFLAG:コマンドタイプ受渡 == 101
			SPLIT TSTR:複合コマンドタイプ受け渡し, "_", 複合条件保存
		ENDIF
		FOR LOCAL:1, 0, RESULT
			IF TFLAG:調教モード == 2
				IF 複合条件保存:(LOCAL:1) == "複数人プレイ"
					TFLAG:コマンドタイプ受渡 = 12
					BREAK
				ELSEIF 複合条件保存:(LOCAL:1) == "Ｖ系"
					TFLAG:コマンドタイプ受渡 = 6
					BREAK
				ELSEIF 複合条件保存:(LOCAL:1) == "Ａ系"
					TFLAG:コマンドタイプ受渡 = 7
					BREAK
				ELSEIF 複合条件保存:(LOCAL:1) == "道具系"
					TFLAG:コマンドタイプ受渡 = 9
					BREAK
				ENDIF
			ELSEIF TFLAG:調教モード == 3
				IF GROUPMATCH(複合条件保存:(LOCAL:1), "セクハラ弱", "セクハラ", "セクハラ強")
					TFLAG:コマンドタイプ受渡 = 1
					BREAK
				ENDIF
			ELSE
				IF 複合条件保存:(LOCAL:1) == "日常"
					TFLAG:コマンドタイプ受渡 = 0
					BREAK
				ELSEIF GROUPMATCH(複合条件保存:(LOCAL:1), "セクハラ弱", "セクハラ", "セクハラ強")
					TFLAG:コマンドタイプ受渡 = 1
					BREAK
				ELSEIF 複合条件保存:(LOCAL:1) == "探索"
					TFLAG:コマンドタイプ受渡 = 4
					BREAK
				ENDIF
			ENDIF
		NEXT
	ENDIF
	;指定カテゴリと同じコマンドだけ表示
	SELECTCASE LOCAL:3
		CASE 0 TO 48
			IF GROUPMATCH(TFLAG:コマンドタイプ受渡, 1, 2, 3)
				SIF LOCAL:3 != 1
					CONTINUE
			ELSEIF TFLAG:コマンドタイプ受渡 != LOCAL:3
				CONTINUE
			ENDIF
		CASE 49
			SIF GROUPMATCH(TFLAG:コマンドタイプ受渡, 0, 1, 2, 3, 4, 6, 7, 9, 12)
				CONTINUE
			SIF 簡易コマンドフィルタ:49
				CONTINUE
	ENDSELECT
	SIF 簡易コマンドフィルタ処理(LOCAL) == 1
		CONTINUE
	SELECTCASE LOCAL
		CASE 370 TO 371
			LOCALS:1 = {LOCAL}_{NO:TARGET}
		CASE 380 TO 384
			LOCALS:1 = {LOCAL}_{CFLAG:MASTER:現在マップ種別}_{CFLAG:MASTER:現在位置}
		CASE 385 TO 389
			LOCALS:1 = {LOCAL}_%開催予定祭り名%
		CASEELSE
			LOCALS:1 = {LOCAL}
	ENDSELECT
	IF STRFIND(弱点コマンドカテゴリ, "リダイレクト") >= 0
		LOCALS:1 = %SUBSTRING(弱点コマンドカテゴリ, 12)%
	ENDIF
	CALLFORMF TRAIN_COMNAME(LOCAL)
	IF TSTR:コマンドカラー受渡 == ""
		FOR LOCAL:10, 0, 50
			SIF 弱点看破:TARGET:(LOCAL:10) == 0
				CONTINUE
			; SIF 弱点コマンドカテゴリ == ""
			; 	CONTINUE
			IF 弱点コマンド枠:TARGET:(LOCAL:10) == LOCALS:1
				LOCALS += "<font color='#FF3399'>"
				LOCAL:4 = 1
				BREAK
			ENDIF
		NEXT
	ELSE
		LOCALS += @"<font color='#%TSTR:コマンドカラー受渡%'>"
		LOCAL:4 = 1
	ENDIF
	IF STRLENS(TRAIN_COMNAME(LOCAL))
		LOCALS += @"<button value = '{LOCAL}'"
		TSTR:ツールチップ受渡 = 
		TRYCCALLFORM COM_TOOLTIP_{LOCAL}
			IF ツールチップ切り替えOPTION記憶 == 0
				LOCALS += @" title = '%TSTR:ツールチップ受渡%'>"
			ELSE
				LOCALS += @">"
			ENDIF
		CATCH
			LOCALS += @">"
		ENDCATCH
		LOCALS += @"%TRAIN_COMNAME(LOCAL), 22%[{LOCAL, 3}]</button>"
		IF LOCAL:4
			LOCALS += "</font>"
			LOCAL:4 = 0
		ENDIF
		LOCAL:2 += 1
	ENDIF
	IF LOCAL:2 >= 4
		LOCAL:2 = 0
		HTML_PRINT LOCALS
		LOCALS = 
	ENDIF
NEXT
IF LOCALS != ""
	LOCAL:2 = 0
	HTML_PRINT LOCALS
	LOCALS = 
ENDIF

FOR LOCAL, 0, 500
	LOCAL:2 = 0
	派生カテゴリ表示フラグ = 0
	SIF LOCAL >= 370 && LOCAL <= 390
		CONTINUE
	;派生コマンドを見る
	FOR LOCAL:1, 1, 50
		TRYCCALLFORM COM_ABLE_S{LOCAL}_{LOCAL:1}
			SIF RESULT == 0
				CONTINUE
		CATCH
			CONTINUE
		ENDCATCH
		RESULT = 0
		弱点コマンドカテゴリ = 
		TRYCALLFORMF COMTYPE_S_{LOCAL}_{LOCAL:1}
		;複合条件処理
		IF TFLAG:コマンドタイプ受渡 > 99
			IF TFLAG:コマンドタイプ受渡 == 100
				SPLIT TSTR:複合コマンドタイプ受け渡し, "&", 複合条件保存
			ELSEIF TFLAG:コマンドタイプ受渡 == 101
				SPLIT TSTR:複合コマンドタイプ受け渡し, "_", 複合条件保存
			ENDIF
			FOR LOCAL:10, 0, RESULT
				IF TFLAG:調教モード == 2
					IF 複合条件保存:(LOCAL:10) == "複数人プレイ"
						TFLAG:コマンドタイプ受渡 = 12
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "Ｖ系"
						TFLAG:コマンドタイプ受渡 = 6
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "Ａ系"
						TFLAG:コマンドタイプ受渡 = 7
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "道具系"
						TFLAG:コマンドタイプ受渡 = 9
						BREAK
					ENDIF
				ELSE
					IF 複合条件保存:(LOCAL:10) == "日常"
						TFLAG:コマンドタイプ受渡 = 0
						BREAK
					ELSEIF GROUPMATCH(複合条件保存:(LOCAL:10), "セクハラ弱", "セクハラ", "セクハラ強")
						TFLAG:コマンドタイプ受渡 = 1
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "探索"
						TFLAG:コマンドタイプ受渡 = 4
						BREAK
					ENDIF
				ENDIF
			NEXT
		ENDIF
		;指定カテゴリと同じコマンドだけ表示
		SELECTCASE LOCAL:3
			CASE 0 TO 48
				IF GROUPMATCH(TFLAG:コマンドタイプ受渡, 1, 2, 3)
					SIF LOCAL:3 != 1
						CONTINUE
				ELSEIF TFLAG:コマンドタイプ受渡 != LOCAL:3
					CONTINUE
				ENDIF
			CASE 49
				SIF GROUPMATCH(TFLAG:コマンドタイプ受渡, 0, 1, 2, 3, 4, 6, 7, 9, 12)
					CONTINUE
				SIF 簡易コマンドフィルタ:49
					CONTINUE
		ENDSELECT
		IF 派生カテゴリ表示フラグ == 0
			PRINTL
			派生名フラグ = 1
			PRINTFORML ▼%TRAIN_COMNAME(LOCAL)%派生
			派生名フラグ = 0
			派生カテゴリ表示フラグ = 1
		ENDIF
		コマンドキー = {LOCAL}_{LOCAL:1}
		SIF 簡易コマンドフィルタ処理(LOCAL) == 1
			CONTINUE
		IF STRFIND(弱点コマンドカテゴリ, "リダイレクト") >= 0
			コマンドキー = %SUBSTRING(弱点コマンドカテゴリ, 12)%
		ENDIF
		CALLFORMF TRAIN_COMNAME_S(コマンドキー)
		IF TSTR:コマンドカラー受渡 == ""
			FOR LOCAL:10, 0, 50
				SIF 弱点看破:TARGET:(LOCAL:10) == 0
					CONTINUE
				; SIF 弱点コマンドカテゴリ == ""
				; 	CONTINUE
				IF 弱点コマンド枠:TARGET:(LOCAL:10) == @"%コマンドキー%"
					LOCALS += "<font color='#FF3399'>"
					LOCAL:4 = 1
					BREAK
				ENDIF
			NEXT
		ELSE
			LOCALS += @"<font color='#%TSTR:コマンドカラー受渡%'>"
			LOCAL:4 = 1
		ENDIF
		LOCALS += @"<button value = '%コマンドキー%'"
		TRYCCALLFORM COM_TOOLTIP_S%コマンドキー%
			IF ツールチップ切り替えOPTION記憶 == 0
				LOCALS += @" title = '%TSTR:ツールチップ受渡%'>"
			ELSE
				LOCALS += @">"
			ENDIF
		CATCH
			LOCALS += @">"
		ENDCATCH
		LOCALS += @"%TRAIN_COMNAME_S(コマンドキー), 25%[%コマンドキー,5%]</button>"
		IF LOCAL:4
			LOCALS += "</font>"
			LOCAL:4 = 0
		ENDIF
		LOCAL:2 += 1
		SETCOLOR 文字色保存
		IF LOCAL:2 >= 4
			LOCAL:2 = 0
			HTML_PRINT LOCALS
			LOCALS = 
		ENDIF
		; PRINTBUTTONC @"%TRAIN_COMNAME_S(LOCALS)%[%LOCALS,5%]", @"%LOCALS%"
		; SETCOLOR 文字色保存
		; LOCAL:2 = 1
	NEXT
	;固有コマンドが派生かどうかを見る

	
	FOR LOCAL:1, 370, 390
		TRYCCALLFORM COM_ABLE{LOCAL:1}
			SIF RESULT == 0
				CONTINUE
		CATCH
			CONTINUE
		ENDCATCH
		RESULT = 0
		弱点コマンドカテゴリ = 
		TFLAG:派生コマンド指定 = -1
		TRYCALLFORMF COMTYPE_{LOCAL:1}
		SIF TFLAG:派生コマンド指定 != LOCAL
			CONTINUE
		;複合条件処理
		IF TFLAG:コマンドタイプ受渡 > 99
			IF TFLAG:コマンドタイプ受渡 == 100
				SPLIT TSTR:複合コマンドタイプ受け渡し, "&", 複合条件保存
			ELSEIF TFLAG:コマンドタイプ受渡 == 101
				SPLIT TSTR:複合コマンドタイプ受け渡し, "_", 複合条件保存
			ENDIF
			FOR LOCAL:10, 0, RESULT
				IF TFLAG:調教モード == 2
					IF 複合条件保存:(LOCAL:10) == "複数人プレイ"
						TFLAG:コマンドタイプ受渡 = 12
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "Ｖ系"
						TFLAG:コマンドタイプ受渡 = 6
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "Ａ系"
						TFLAG:コマンドタイプ受渡 = 7
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "道具系"
						TFLAG:コマンドタイプ受渡 = 9
						BREAK
					ENDIF
				ELSE
					IF 複合条件保存:(LOCAL:10) == "日常"
						TFLAG:コマンドタイプ受渡 = 0
						BREAK
					ELSEIF GROUPMATCH(複合条件保存:(LOCAL:10), "セクハラ弱", "セクハラ", "セクハラ強")
						TFLAG:コマンドタイプ受渡 = 1
						BREAK
					ELSEIF 複合条件保存:(LOCAL:10) == "探索"
						TFLAG:コマンドタイプ受渡 = 4
						BREAK
					ENDIF
				ENDIF
			NEXT
		ENDIF
		;指定カテゴリと同じコマンドだけ表示
		SELECTCASE LOCAL:3
			CASE 0 TO 48
				IF GROUPMATCH(TFLAG:コマンドタイプ受渡, 1, 2, 3)
					SIF LOCAL:3 != 1
						CONTINUE
				ELSEIF TFLAG:コマンドタイプ受渡 != LOCAL:3
					CONTINUE
				ENDIF
			CASE 49
				SIF GROUPMATCH(TFLAG:コマンドタイプ受渡, 0, 1, 2, 3, 4, 6, 7, 9, 12)
					CONTINUE
				SIF 簡易コマンドフィルタ:49
					CONTINUE
		ENDSELECT
		IF 派生カテゴリ表示フラグ == 0
			PRINTL
			派生名フラグ = 1
			PRINTFORML ▼%TRAIN_COMNAME(LOCAL)%派生
			派生名フラグ = 0
			派生カテゴリ表示フラグ = 1
		ENDIF
		コマンドキー = {LOCAL:1}
		SIF 簡易コマンドフィルタ処理(LOCAL:1) == 1
			CONTINUE
		IF STRFIND(弱点コマンドカテゴリ, "リダイレクト") >= 0
			コマンドキー = %SUBSTRING(弱点コマンドカテゴリ, 12)%
		ENDIF
		CALLFORMF TRAIN_COMNAME(TOINT(コマンドキー))
		IF TSTR:コマンドカラー受渡 == ""
			FOR LOCAL:10, 0, 50
				SIF 弱点看破:TARGET:(LOCAL:10) == 0
					CONTINUE
				IF 弱点コマンド枠:TARGET:(LOCAL:10) == @"%コマンドキー%"
					LOCALS += "<font color='#FF3399'>"
					LOCAL:4 = 1
					BREAK
				ENDIF
			NEXT
		ELSE
			LOCALS += @"<font color='#%TSTR:コマンドカラー受渡%'>"
			LOCAL:4 = 1
		ENDIF
		LOCALS += @"<button value = '%コマンドキー%'"
		TRYCCALLFORM COM_TOOLTIP_%コマンドキー%
			IF ツールチップ切り替えOPTION記憶 == 0
				LOCALS += @" title = '%TSTR:ツールチップ受渡%'>"
			ELSE
				LOCALS += @">"
			ENDIF
		CATCH
			LOCALS += @">"
		ENDCATCH
		LOCALS += @"%TRAIN_COMNAME(TOINT(コマンドキー)), 25%[%コマンドキー,5%]</button>"
		IF LOCAL:4
			LOCALS += "</font>"
			LOCAL:4 = 0
		ENDIF
		LOCAL:2 += 1
		SETCOLOR 文字色保存
		IF LOCAL:2 >= 4
			LOCAL:2 = 0
			HTML_PRINT LOCALS
			LOCALS = 
		ENDIF
	NEXT

	IF LOCALS != ""
		LOCAL:2 = 0
		HTML_PRINT LOCALS
		LOCALS = 
	ENDIF
NEXT



@ITEM_PROTO(対象キャラ)
#DIM 対象キャラ
$選択肢ループラベル
VARSET LOCAL
DRAWLINE

IF ITEM:危険日変動薬 < 1
	SETCOLOR 0x666666
	PRINTFORML ■危険日変動薬を所持していません。
	RESETCOLOR
ELSEIF RISKY_DAY(対象キャラ) == -2
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%は妊娠しません。
	RESETCOLOR
ELSEIF 陥落チェック(対象キャラ) == 0 && 知識素質:対象キャラ:性知識 != -2
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%が無知でも陥落状態でもないため■危険日変動薬は使用出来ません。
	RESETCOLOR
ELSEIF RISKY_DAY(対象キャラ) == 2
	SETCOLOR 0x666666
	PRINTFORML 既に今日は%CALLNAME:対象キャラ%の一番の危険日なので■危険日変動薬を使用する必要はありません。
	RESETCOLOR
ELSE
	PRINTBUTTON @"■危険日変動薬 × {ITEM:危険日変動薬}", 104
	PRINTL 
ENDIF
DRAWLINE

IF ITEM:避妊薬 < 1
	SETCOLOR 0x666666
	PRINTFORML ■避妊薬を所持していません。
	RESETCOLOR
ELSEIF RISKY_DAY(対象キャラ) == -2 || GETBIT(TALENT:対象キャラ:性別, 0) == 0 || TALENT:対象キャラ:Ｖ感度 == -2
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%は妊娠しません。
	RESETCOLOR
ELSEIF TCVAR:対象キャラ:避妊薬
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%は既に■避妊薬を服用中です。
	RESETCOLOR
ELSE
	PRINTBUTTON @"■避妊薬 × {ITEM:避妊薬}", 92
	PRINTL 
ENDIF
DRAWLINE
IF ITEM:排卵誘発薬 < 1
	SETCOLOR 0x666666
	PRINTFORML ■排卵誘発薬を所持していません。
	RESETCOLOR
ELSEIF RISKY_DAY(対象キャラ) == -2
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%は妊娠しません。
	RESETCOLOR
ELSEIF 陥落チェック(対象キャラ) == 0 && 知識素質:対象キャラ:性知識 != -2
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%が無知でも陥落状態でもないため■排卵誘発薬は使用出来ません。
	RESETCOLOR
ELSEIF TCVAR:対象キャラ:避妊薬
	SETCOLOR 0x666666
	PRINTFORML 避妊薬を服用中のため■排卵誘発薬を使用出来ません。
	RESETCOLOR
ELSEIF TCVAR:対象キャラ:排卵誘発薬
	SETCOLOR 0x666666
	PRINTFORML %CALLNAME:対象キャラ%は既に■排卵誘発薬を服用中です。
	RESETCOLOR
ELSE
	PRINTBUTTON @"■排卵誘発薬 × {ITEM:排卵誘発薬}", 91
	PRINTL 
ENDIF
DRAWLINE

IF ITEM:eraの好感度アニマ > 0
	PRINTBUTTON @"■eraの好感度アニマ × {ITEM:eraの好感度アニマ}", 100
	PRINTL 
ELSE
	SETCOLOR 0x666666
	PRINTFORML ■eraの好感度アニマを所持していません。
	RESETCOLOR
ENDIF
LOCAL:2 = 恋慕枠判定()
LOCAL:1 = -1
FOR LOCAL, 0, LOCAL:2
	IF 恋慕対象フラグ:LOCAL == 対象キャラ
		LOCAL:1 = 1
		BREAK
	ENDIF
NEXT
IF LOCAL:1 > 0
	IF ITEM:eraの恋慕アニマ > 0
		IF GETBIT(TALENT:対象キャラ:陥落不可, 0)
			SETCOLOR 0x666666
			PRINTFORML ■[恋慕不可]素質のため、eraの恋慕アニマを使用出来ません
			RESETCOLOR
		ELSEIF 恋愛対象外チェック(対象キャラ)
			SETCOLOR 0x666666
			PRINTFORML ■恋愛対象外のため、eraの恋慕アニマを使用出来ません
			PRINTFORML 　原因：恋愛対象外かつ同性愛（もしくは異性愛）を持っていない、性欲なし素質を持っている、
			PRINTL 　　　　性知識がマイナスかつあなたの手で絶頂したことがない、など
			RESETCOLOR
		ELSE
			PRINTBUTTON @"■eraの恋慕アニマ × {ITEM:eraの恋慕アニマ}", 101
			PRINTL 
		ENDIF
	ELSE
		SETCOLOR 0x666666
		PRINTFORML ■eraの恋慕アニマを所持していません。
		RESETCOLOR
	ENDIF
ENDIF
PRINTL ※プロトタイプ開発中はバランス未調整のため、好感度と恋慕度を直接増加させるアイテムを仮実装しています。
PRINTL 
PRINTBUTTON "[999]戻る", 999
BINPUT

SELECTCASE RESULT:0
	CASE 91
		PRINTFORMW %CALLNAME:対象キャラ%が排卵誘発薬を服用しました。
		TCVAR:対象キャラ:排卵誘発薬 = 1
		ITEM:排卵誘発薬 -= 1
	CASE 92
		PRINTFORMW %CALLNAME:対象キャラ%が避妊薬を服用しました。
		TCVAR:対象キャラ:避妊薬 = 1
		TCVAR:対象キャラ:排卵誘発薬 = 0
		ITEM:避妊薬 -= 1
	CASE 100
		IF ITEM:100 > 0
			PRINTFORML %CALLNAME:対象キャラ%の好感度が上昇しました。
			PRINTL 好感度＋10000
			CFLAG:対象キャラ:友情度 += 10000
			CALL FAVOR_LvUPCheck(対象キャラ)
			ITEM:100 -= 1
		ELSE
			PRINTW 対象アイテムがありません。
		ENDIF
		GOTO 選択肢ループラベル
	CASE 101
		IF LOCAL:1 > 0
			IF ITEM:101 > 0
				PRINTFORML %CALLNAME:対象キャラ%の恋慕度が上昇しました。
				PRINTL 恋慕度＋5000
				CFLAG:対象キャラ:恋慕度 += 5000
				CALL Love_LvUPCheck(対象キャラ)
				ITEM:101 -= 1
			ELSE
				PRINTW 対象アイテムがありません。
			ENDIF
		GOTO 選択肢ループラベル
		ENDIF
	; CASE 103
	; 	PRINTFORMW %CALLNAME:TARGET%が発情期に入りました。
	; 	CFLAG:TARGET:発情期フラグ = -1
	; 	ITEM:103 -= 1
	; 	IF (TALENT:種族 == 3 || NO:TARGET == 11) && 素質切り替えOPTION記憶:母乳体質_発情期_なし == 0
	; 		SIF TALENT:母乳体質 == 0
	; 			TALENT:母乳体質 = 2
	; 	ENDIF
	CASE 104
		IF 発情期判定(対象キャラ)
			PRINTFORML %CALLNAME:対象キャラ%の発情期周期が変更されました。
		ENDIF
		PRINTFORMW %CALLNAME:対象キャラ%の一番妊娠しやすい日が今日に変更されました。
		CFLAG:対象キャラ:危険日 = DAY % PREG_CYCLE(対象キャラ)
		SIF CFLAG:対象キャラ:危険日 == 0
			CFLAG:対象キャラ:危険日 = PREG_CYCLE(対象キャラ)
		ITEM:104 -= 1
	CASE 999
		RETURN
	CASEELSE
		GOTO 選択肢ループラベル
ENDSELECT


