@キャラ履歴表示画面(ARG)
#DIM イベント件数
#DIM 人物ID
#DIM 検索リザルトID, 10000
#DIMS フィルタ
#DIM 表示行数 = 20; 履歴の表示行数
;#DIM 履歴表示フィルタ
#DIM L_C
;ここで立ち絵表示
CALL 画像描画終了
L_C = LINECOUNT
IF GETBIT(画像サイズ切り替えOPTION記憶, 2)
	HTML_PRINT @"<div rect='4062, 37, 1125, 2250'>%短冊グラ表示用文字列関数(ARG)%</div>", 1
ELSE
	HTML_PRINT @"<div rect='4062, 37, 1125, 1125'>%顔グラ表示用文字列関数(ARG)%</div>", 1
ENDIF
PRINTFORM ■%NAME:ARG%
PRINTL
IF ARG != MASTER
	PRINT 　
	CALL 通常時体力ゲージ表示(ARG)
	PRINTL 
	PRINT 　
	CALL 通常時性欲ゲージ表示(ARG)
	PRINTL 
ENDIF
PRINTL
PRINTL □ 履歴 □---------------------------------------------------------------------

フィルタ = 
;フィルタリング条件を取り込んでいく,0日常1うふふ2探索3実績4リゾート5非うふふ6非実績7その他
IF 部分一致
	SIF GETBIT(履歴表示フィルタ, 0) == 1
		フィルタ += @" AND DAILY <> 1 "
	SIF GETBIT(履歴表示フィルタ, 1) == 1
		フィルタ += @" AND ADULT <> 1 "
	SIF GETBIT(履歴表示フィルタ, 2) == 1
		フィルタ += @" AND QUEST <> 1 "
	SIF GETBIT(履歴表示フィルタ, 3) == 1
		フィルタ += @" AND TROPHY <> 1 "
	SIF GETBIT(履歴表示フィルタ, 4) == 1
		フィルタ += @" AND HISTORY <> 1 "
	SIF GETBIT(履歴表示フィルタ, 5) == 1
		フィルタ += @" AND ADULT <> 0 "
	SIF GETBIT(履歴表示フィルタ, 6) == 1
		フィルタ += @" AND TROPHY <> 0 "
	SIF GETBIT(履歴表示フィルタ, 7) == 1
		フィルタ += @" AND OTHERS <> 1 "
ELSE
	VARSET LOCALS
	フィルタ = AND (
	;フィルタリング条件を取り込んでいく,0日常1うふふ2探索3実績4リゾート5非うふふ6非実績7その他
	SIF GETBIT(履歴表示フィルタ, 0) == 0
		ARRAYSHIFT LOCALS, 1, " DAILY <> 0 "
	SIF GETBIT(履歴表示フィルタ, 1) == 0
		ARRAYSHIFT LOCALS, 1, " ADULT <> 0 "
	SIF GETBIT(履歴表示フィルタ, 2) == 0
		ARRAYSHIFT LOCALS, 1, " QUEST <> 0 "
	SIF GETBIT(履歴表示フィルタ, 3) == 0
		ARRAYSHIFT LOCALS, 1, " TROPHY <> 0 "
	SIF GETBIT(履歴表示フィルタ, 4) == 0
		ARRAYSHIFT LOCALS, 1, " HISTORY <> 0 "
	IF LOCALS:0 == ""
		GOTO 履歴取得スキップ
	ELSE
		FOR LOCAL,0,5
			IF LOCALS:LOCAL != ""
				IF LOCALS:(LOCAL + 1) == ""
					フィルタ += @"%LOCALS:LOCAL%)"
				ELSE
					フィルタ += @"%LOCALS:LOCAL% OR"
				ENDIF
			ENDIF
		NEXT
	ENDIF

	{
		;ややこしいので一旦外してテスト
	SIF GETBIT(履歴表示フィルタ, 5) == 1
		フィルタ += @" AND ADULT <> 0 "
	SIF GETBIT(履歴表示フィルタ, 6) == 1
		フィルタ += @" AND TROPHY <> 0 "
	SIF GETBIT(履歴表示フィルタ, 7) == 1
		フィルタ += @" AND OTHERS <> 1 "
	}
ENDIF

LOCAL = GET_PERSON_出会った周回(CFLAG:ARG:人物番号)
フィルタ += @" AND LOOP >= {LOCAL} "

;キャラIDがARGの人物または0(全体履歴)と一致する、かつフィルタ条件をみたす
イベント件数 = DT_SELECT("履歴データベース", @"(キャラID = {CFLAG:ARG:人物番号} OR キャラID = 0)%フィルタ% ", "LOOP ASC, DATE ASC", 検索リザルトID)

LOCALS = 
IF イベント件数 > 表示行数
	SIF 能力表示現在ページ > 0
		LOCALS += @"<div rect='0,2300,5000,200'><button value='900'>[900]前のページへ</button></div>"
	SIF 能力表示現在ページ < イベント件数 / (表示行数 + 1)
		LOCALS += @"<div rect='1000,2300,5000,200'><button value='901'>[901]次のページへ</button></div>"
ELSE
	能力表示現在ページ = 0
ENDIF


LOCALS += @"<div rect='0,0,5000,2500'>"
FOR LOCAL, 0 + (表示行数 * 能力表示現在ページ), MIN((表示行数 * (能力表示現在ページ + 1)), イベント件数)
	LOCALS += @"%DT_CELL_GETS("履歴データベース", 検索リザルトID:LOCAL, "NOTE", 1)%"
    LOCALS += @"<br>"
    NEXT
LOCALS += @"</div>"

$履歴取得スキップ

LOCALS += @"<div rect='0,2500,5000,300'>履歴表示フィルタ："

SELECTCASE GETBIT(履歴表示フィルタ, 0); 日常
	CASE 0
		LOCALS += "<button value='1001'>[日常]</button> / "
	CASE 1
		LOCALS += "<font color='#666666'><button value='1001'>[日常]</button></font> / "
ENDSELECT
SELECTCASE GETBIT(履歴表示フィルタ, 1); うふふ
	CASE 0
		LOCALS += "<button value='1002'>[うふふ]　</button> / "
	CASE 1
		LOCALS += "<font color='#666666'><button value='1002'>[うふふ]　</button></font> / "
ENDSELECT
SELECTCASE GETBIT(履歴表示フィルタ, 3); 実績
	CASE 0
		LOCALS += "<button value='1004'>[実績]　</button> / "
	CASE 1
		LOCALS += "<font color='#666666'><button value='1004'>[実績]　</button></font> / "
ENDSELECT
SELECTCASE GETBIT(履歴表示フィルタ, 4); リゾート
	CASE 0
		LOCALS += "<button value='1005'>[リゾート]</button> / "
	CASE 1
		LOCALS += "<font color='#666666'><button value='1005'>[リゾート]</button></font> / "
ENDSELECT
SELECTCASE GETBIT(履歴表示フィルタ, 7); その他
	CASE 0
		LOCALS += "<button value='1008'>[その他]</button>"
	CASE 1
		LOCALS += "<font color='#666666'><button value='1008'>[その他]</button></font>"
ENDSELECT

LOCALS += "<br>　　　　　　　　　"

SELECTCASE GETBIT(履歴表示フィルタ, 2); 探索
	CASE 0
		LOCALS += "<button value='1003'>[探索]</button> / "
	CASE 1
		LOCALS += "<font color='#666666'><button value='1003'>[探索]</button></font> / "
ENDSELECT
IF 部分一致
	SELECTCASE GETBIT(履歴表示フィルタ, 5); 非うふふ
		CASE 0
			LOCALS += "<button value='1006'>[非うふふ]</button> / "
		CASE 1
			LOCALS += "<font color='#666666'><button value='1006'>[非うふふ]</button></font> / "
	ENDSELECT
	SELECTCASE GETBIT(履歴表示フィルタ, 6); 非実績
		CASE 0
			LOCALS += "<button value='1007'>[非実績]</button> / "
		CASE 1
			LOCALS += "<font color='#666666'><button value='1007'>[非実績]</button></font> / "
	ENDSELECT
ENDIF
LOCALS += "<button value='1009'>[全てOFF]</button> / "
LOCALS += "<button value='1010'>[全てON]</button> / "
IF 部分一致
	LOCALS += "<button value='1011'>[ON優先にする]</button>"
ELSE
	LOCALS += "<button value='1011'>[OFF優先にする]</button>"
ENDIF

LOCALS += "</div>"


HTML_PRINT LOCALS, 1

FOR LOCAL, 0, 29 - (LINECOUNT - L_C)
	PRINTL
NEXT


@履歴データベース作成
;初期設定
DT_CREATE "履歴データベース"
DT_COLUMN_ADD "履歴データベース", "キャラID", 4
DT_COLUMN_ADD "履歴データベース", "LOOP", 4
DT_COLUMN_ADD "履歴データベース", "DATE", 4
DT_COLUMN_ADD "履歴データベース", "NOTE"
DT_COLUMN_ADD "履歴データベース", "DAILY", 1
DT_COLUMN_ADD "履歴データベース", "ADULT", 1
DT_COLUMN_ADD "履歴データベース", "QUEST", 1
DT_COLUMN_ADD "履歴データベース", "TROPHY", 1
DT_COLUMN_ADD "履歴データベース", "HISTORY", 1
DT_COLUMN_ADD "履歴データベース", "OTHERS", 1 ;他フラグがないとき1で登録する


@履歴データベース登録(登録キャラID, 履歴文字列, フィルタ用文字列 = "", 特殊履歴タイプ = 0,  周回 = -1, 日付 = 0)
#DIM 登録キャラID; CFLAG::人物番号　0で全体履歴
#DIM 周回
#DIM 日付
#DIM 日常フィルタ
#DIM うふふフィルタ
#DIM 探索フィルタ
#DIM 実績フィルタ
#DIM リゾートフィルタ
#DIM その他フィルタ
#DIMS 履歴文字列
#DIM 特殊履歴タイプ; -1で日付非表示
#DIMS フィルタ用文字列

;分身のみ例外処理
IF STRFIND(履歴文字列, "アンチラ２") > -1 || STRFIND(履歴文字列, "アンチラ３") > -1 || STRFIND(履歴文字列, "アンチラ４") > -1
	;同じ履歴があればスキップ
	FOR LOCAL, 0, DT_ROW_LENGTH("履歴データベース")
		IF STRFIND(DT_CELL_GETS("履歴データベース", LOCAL, "NOTE"), 履歴文字列) > -1
			RETURN 0
		ENDIF
	NEXT
ENDIF

LOCALS = 

IF 登録キャラID < 0
	;分身は登録しない
	RETURN 0
ENDIF

;今日の周回日付を取得
SIF 周回 == -1
	周回 = 周回回数累計:0
SIF 日付 == 0
	日付 = DAY

IF 特殊履歴タイプ == -1; 日付の非表示ができるようにする
ELSE
    IF 周回 > 0
        LOCALS += @"{周回 + 1}周目 "
    ENDIF

    ;-2 空欄 -1 破線 (0 = DAY) 1以上で指定の日付
    IF 日付 == -1
        LOCALS += @"──────────"
    ELSE
        LOCALS += @"{日付 / 120 + 1}年目 %月登録:((日付 / 30) % 4)% {日付 % 30 + 1}日"
    ENDIF
	STRLENS LOCALS
	FOR LOCAL, 0, 20 - RESULT:0
		LOCALS += @" "
	NEXT
	LOCALS += "："
ENDIF

;任意の入力
LOCALS += @"%履歴文字列%"

;文字列をフィルタへ変換
日常フィルタ = 0
SIF STRFIND(フィルタ用文字列, "日常") > -1
	日常フィルタ = 1
うふふフィルタ = 0
SIF STRFIND(フィルタ用文字列, "うふふ") > -1
	うふふフィルタ = 1
探索フィルタ = 0
SIF STRFIND(フィルタ用文字列, "探索") > -1
	探索フィルタ = 1
実績フィルタ = 0
SIF STRFIND(フィルタ用文字列, "実績") > -1
	実績フィルタ = 1
リゾートフィルタ = 0
SIF STRFIND(フィルタ用文字列, "リゾート") > -1
	リゾートフィルタ = 1
;全フラグがないときその他フィルタをつける
その他フィルタ = 0
SIF 日常フィルタ == 0 && うふふフィルタ == 0 && 探索フィルタ == 0 && 実績フィルタ == 0 && リゾートフィルタ == 0
	その他フィルタ = 1

DT_ROW_ADD "履歴データベース", "キャラID", 登録キャラID, "LOOP", 周回, "DATE", 日付, "NOTE", @"%LOCALS%", "DAILY", 日常フィルタ, "ADULT", うふふフィルタ, "QUEST", 探索フィルタ, "TROPHY", 実績フィルタ, "HISTORY", リゾートフィルタ, "OTHERS", その他フィルタ


@履歴登録チェック(対象キャラ, 登録モード)
#DIMS 登録モード
#DIM 対象キャラ
;履歴登録の集約

SELECTCASE 登録モード
	CASE "覗かれ_着替え"
		SELECTCASE 履歴用実績:対象キャラ:着替え覗かれ回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて%CALLNAME:MASTER%に[着替え]を覗かれた","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１０回[着替え]を覗かれた","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５０回[着替え]を覗かれた","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１００回[着替え]を覗かれた","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に３００回[着替え]を覗かれた","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５００回[着替え]を覗かれた","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に９９９回[着替え]を覗かれた","うふふ")
		ENDSELECT
	CASE "覗かれ_入浴"
		SELECTCASE 履歴用実績:対象キャラ:風呂覗かれ回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて%CALLNAME:MASTER%に[入浴]を覗かれた","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１０回[入浴]を覗かれた","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５０回[入浴]を覗かれた","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１００回[入浴]を覗かれた","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に３００回[入浴]を覗かれた","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５００回[入浴]を覗かれた","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に９９９回[入浴]を覗かれた","うふふ")
		ENDSELECT
	CASE "覗かれ_野外オナニー"
		SELECTCASE 履歴用実績:対象キャラ:野外オナニー覗かれ回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて%CALLNAME:MASTER%に[野外オナニー]を覗かれた","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１０回[野外オナニー]を覗かれた","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５０回[野外オナニー]を覗かれた","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に１００回[野外オナニー]を覗かれた","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に３００回[野外オナニー]を覗かれた","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に５００回[野外オナニー]を覗かれた","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"%CALLNAME:MASTER%に９９９回[野外オナニー]を覗かれた","うふふ")
		ENDSELECT
	CASE "被写体"
		SELECTCASE 履歴用実績:対象キャラ:被写体回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて写真の被写体になった","日常")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回写真の被写体になった","日常")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回写真の被写体になった","日常")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回写真の被写体になった","日常")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回写真の被写体になった","日常")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回写真の被写体になった","日常")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回写真の被写体になった","日常")
		ENDSELECT
	CASE "被写体_ハメ撮り"
		SELECTCASE 履歴用実績:対象キャラ:ハメ撮り回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めてハメ撮りを撮られた","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回ハメ撮りを撮られた","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回ハメ撮りを撮られた","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回ハメ撮りを撮られた","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回ハメ撮りを撮られた","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回ハメ撮りを撮られた","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回ハメ撮りを撮られた","うふふ")
		ENDSELECT
	CASE "被写体_ハメ撮り_絶頂時"
		SELECTCASE 履歴用実績:対象キャラ:絶頂ハメ撮り回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて絶頂姿を撮られた","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回絶頂姿を撮られた","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回絶頂姿を撮られた","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回絶頂姿を撮られた","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回絶頂姿を撮られた","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回絶頂姿を撮られた","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回絶頂姿を撮られた","うふふ")
		ENDSELECT
	CASE "すごろく勝利"
		SELECTCASE 履歴用実績:対象キャラ:すごろく勝利
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めてすごろくで勝利した","リゾート")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回すごろくで勝利した","リゾート")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回すごろくで勝利した","リゾート")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回すごろくで勝利した","リゾート")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回すごろくで勝利した","リゾート")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回すごろくで勝利した","リゾート")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回すごろくで勝利した","リゾート")
		ENDSELECT
	CASE "ポーカー勝利"
		SELECTCASE 履歴用実績:対象キャラ:ポーカー勝利
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めてポーカーで勝利した","リゾート")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回ポーカーで勝利した","リゾート")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回ポーカーで勝利した","リゾート")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回ポーカーで勝利した","リゾート")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回ポーカーで勝利した","リゾート")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回ポーカーで勝利した","リゾート")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回ポーカーで勝利した","リゾート")
		ENDSELECT
	CASE "人物当て正解"
		SELECTCASE 履歴用実績:対象キャラ:人物当て正解
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて人物当てクイズで正解した","リゾート")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回人物当てクイズで正解した","リゾート")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回人物当てクイズで正解した","リゾート")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回人物当てクイズで正解した","リゾート")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回人物当てクイズで正解した","リゾート")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回人物当てクイズで正解した","リゾート")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回人物当てクイズで正解した","リゾート")
		ENDSELECT
	CASE "水鉄砲回数"
		SELECTCASE 履歴用実績:対象キャラ:水鉄砲回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて水鉄砲で楽しく遊んだ","リゾート")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回水鉄砲で楽しく遊んだ","リゾート")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回水鉄砲で楽しく遊んだ","リゾート")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回水鉄砲で楽しく遊んだ","リゾート")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回水鉄砲で楽しく遊んだ","リゾート")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回水鉄砲で楽しく遊んだ","リゾート")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回水鉄砲で楽しく遊んだ","リゾート")
		ENDSELECT
	CASE "卓球勝利回数"
		SELECTCASE 履歴用実績:対象キャラ:卓球勝利回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて卓球勝負で勝利した","リゾート")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回卓球勝負で勝利した","リゾート")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回卓球勝負で勝利した","リゾート")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回卓球勝負で勝利した","リゾート")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回卓球勝負で勝利した","リゾート")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回卓球勝負で勝利した","リゾート")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回卓球勝負で勝利した","リゾート")
		ENDSELECT
	CASE "体力減少"
		IF 履歴用実績:対象キャラ:体力減少量累積 < 1000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 1000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で１０００減少した","うふふ")
		ENDIF
		IF 履歴用実績:対象キャラ:体力減少量累積 < 10000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 10000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で１万減少した","うふふ")
		ENDIF
		IF 履歴用実績:対象キャラ:体力減少量累積 < 50000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 50000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で５万減少した","うふふ")
		ENDIF
		IF 履歴用実績:対象キャラ:体力減少量累積 < 100000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 100000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で１０万減少した","うふふ")
		ENDIF
		IF 履歴用実績:対象キャラ:体力減少量累積 < 500000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 500000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で５０万減少した","うふふ")
		ENDIF
		IF 履歴用実績:対象キャラ:体力減少量累積 < 1000000 && 履歴用実績:対象キャラ:体力減少量累積 + RESULT >= 1000000
			CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"体力が累計で１００万減少した","うふふ")
		ENDIF
	CASE "ポロリ回数"
		SELECTCASE 履歴用実績:対象キャラ:卓球ポロリ回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて卓球で乳をポロリした","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回卓球で乳をポロリした","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回卓球で乳をポロリした","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回卓球で乳をポロリした","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回卓球で乳をポロリした","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回卓球で乳をポロリした","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回卓球で乳をポロリした","うふふ")
		ENDSELECT
	CASE "膣内射精回数"
		SELECTCASE 履歴用実績:対象キャラ:膣内射精回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて膣内に射精された","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回膣内に射精された","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回膣内に射精された","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回膣内に射精された","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回膣内に射精された","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回膣内に射精された","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回膣内に射精された","うふふ")
		ENDSELECT
	CASE "腸内射精回数"
		SELECTCASE 履歴用実績:対象キャラ:腸内射精回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて腸内に射精された","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回腸内に射精された","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回腸内に射精された","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回腸内に射精された","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回腸内に射精された","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回腸内に射精された","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回腸内に射精された","うふふ")
		ENDSELECT
	CASE "口内射精回数"
		SELECTCASE 履歴用実績:対象キャラ:口内射精回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて口に射精された","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回口に射精された","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回口に射精された","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回口に射精された","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回口に射精された","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回口に射精された","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回口に射精された","うふふ")
		ENDSELECT
	CASE "乳内射精回数"
		SELECTCASE 履歴用実績:対象キャラ:乳内射精回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて胸に射精された","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回胸に射精された","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回胸に射精された","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回胸に射精された","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回胸に射精された","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回胸に射精された","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回胸に射精された","うふふ")
		ENDSELECT
	CASE "顔射回数"
		SELECTCASE 履歴用実績:対象キャラ:顔射回数
			CASE 1
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"初めて顔射された","うふふ")
			CASE 10
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１０回顔射された","うふふ")
			CASE 50
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５０回顔射された","うふふ")
			CASE 100
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"１００回顔射された","うふふ")
			CASE 300
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"３００回顔射された","うふふ")
			CASE 500
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"５００回顔射された","うふふ")
			CASE 999
				CALL 履歴データベース登録(CFLAG:対象キャラ:人物番号, @"９９９回顔射された","うふふ")
		ENDSELECT
ENDSELECT


