
@乗機取得処理(乗機名一時保存)
#DIMS 乗機名一時保存
	
;アンロック式なのでフラグ立てるだけ
;ERDいじったりしなくていいようにデータベース管理
ENUMFUNCBEGINSWITH @"乗機関数_%乗機名一時保存%"
IF RESULT
	FOR LOCAL, 0, DT_ROW_LENGTH("所持乗機データベース")
		SELECTCASE DT_CELL_GETS("所持乗機データベース", LOCAL, "乗機名")
			CASE 乗機名一時保存
				PRINTW 所持済みです。
				;すでに追加済みの場合は-2を返す
				RETURN -2
		ENDSELECT
	NEXT
	;抜けてきたら登録
	CALLFORM 乗機関数_%乗機名一時保存%("乗機登録")
	RETURN 1
ELSE
	;そもそも関数そのものが無い時は-1を返す
	PRINTW 指定の乗機が見つかりません。
	RETURN -1
ENDIF


@所持乗機リスト表示(ページ番号, ソート基準)
#DIM ページ番号
#DIM 装備中乗機番号
#DIM 武装番号
#DIMS ソート基準
#DIM ソート後配列, 500

IF ソート基準 != ""
	ソート基準 = %ソート基準% DESC
ENDIF
DT_SELECT "所持乗機データベース", , ソート基準, ソート後配列

;まず装備している乗機番号取得
装備中乗機番号 = 装備乗機ID

VARSET LOCAL
VARSET LOCALS
LOCALS = <div rect='262,75,5537,3625'><nobr>
LOCALS += "　　　 乗機名　　　　　　　　　　<button value='乗機攻撃力'>攻撃力</button>　　<button value='武装0'>武装０</button>　　<button value='武装1'>武装１</button>　　<button value='武装2'>武装２</button>　　<button value='武装3'>武装３</button>　　<button value='武装4'>武装４</button>　　<button value='武装5'>武装５</button><br>"
LOCALS += "--------------------------------------------------------------------------------------------------------------<br>"
FOR LOCAL, 0, DT_ROW_LENGTH("所持乗機データベース")
	DT_CELL_GETS "所持乗機データベース", ソート後配列:LOCAL, "乗機名", 1
	;乗機名を一旦保存
	LOCALS:10 = %RESULTS%
	IF 装備中乗機番号 == ソート後配列:LOCAL
		LOCALS += "<font color='#CCCC00'>"
	ENDIF
	LOCALS += @"　<button value='{LOCAL}'>"
	LOCALS += @"%LOCALS:10, 24, LEFT%</button>"
	IF 装備中乗機番号 == ソート後配列:LOCAL
		LOCALS += "</font>"
	ENDIF
	LOCALS += @"<button value='{LOCAL + 500}'>[詳細]</button>"
	LOCALS += @"{DT_CELL_GET("所持乗機データベース", ソート後配列:LOCAL, "乗機攻撃力", 1), 7}"

	FOR 武装番号, 0, 6
		SELECTCASE DT_CELL_GETS("所持乗機データベース", ソート後配列:LOCAL, @"武装{武装番号}", 1)
			CASE "不可"
				LOCALS += @"　　　なし"
			CASE "固有"
				LOCALS += @"　　　固有"
			CASEELSE
				LOCALS += @"　装備可能"
		ENDSELECT
	NEXT

	IF ソート後配列:LOCAL == 装備乗機ID
		LOCALS += @"　　<font color='#%カラーパレット_HTML("黄")%'>装備中</font>"
	ENDIF

	LOCALS += "<br>"
NEXT
LOCALS += "</div>"

HTML_PRINT LOCALS, 1

@所持乗機リスト表示_USERCOM
#DIM ページ番号
#DIM 表示アビ番号
#DIMS ソート基準

DO
LOCALS = 
LOCALS += "<div rect='200,12,5662,3750' border='31' bcolor='#C0C0C0'></div>"
HTML_PRINT LOCALS, 1
CALL 所持乗機リスト表示(ページ番号, ソート基準)
LOCALS = 
;戻るボタンと前次ページボタン
LOCALS += "<div rect='262,3575,5537,3625'>"
IF ページ番号 > 0
	LOCALS += "<button value='1000'>[1000]前のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
IF 表示用ステータス格納配列:30:0 > 0
	LOCALS += "<button value='1001'>[1001]次のページ</button>　　"
ELSE
	LOCALS += "　　　　　　　　　　"
ENDIF
LOCALS += "　　　　　　　　　　　　　　　　　　　　　　　"
LOCALS += "　　<button value='9999'>[9999]戻る</button></div>"
HTML_PRINT LOCALS, 1
FOR LOCAL, 0, 34
	PRINTL
NEXT
BINPUTS
IF ISNUMERIC(RESULTS) == 0
	;文字列が入る場合、ソート条件が入るはず
	ソート基準 = %RESULTS%
	CONTINUE
ENDIF
LOCAL = TOINT(RESULTS)
SELECTCASE LOCAL
	CASE 9999
		VARSET 表示用ステータス格納配列:0:0
		ページ番号 = 0
		RETURN 1
	CASE IS < 500
		IF DT_CELL_GET("所持乗機データベース", LOCAL, "id") == 装備乗機ID
			PRINTFORMW %DT_CELL_GETS("所持乗機データベース", LOCAL, "乗機名")%を乗機設定から外しました。
			装備乗機ID = 0
		ELSE
			PRINTFORMW %DT_CELL_GETS("所持乗機データベース", LOCAL, "乗機名")%を乗機に設定しました。
			装備乗機ID = DT_CELL_GET("所持乗機データベース", LOCAL, "id")
		ENDIF
	CASE IS < 1000
		LOCALS = <br>■%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, "乗機名")%<br><br>
		TRYCALLFORM 乗機関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, "乗機名")%("フレーバー")
		LOCALS += @"%詳細文文字列受け渡し変数%<br>"

		LOCALS += @"・使用可能武装<br>"
		FOR 表示アビ番号, 0, 6
			SIF DT_CELL_GETS("所持乗機データベース", LOCAL - 500, @"武装{表示アビ番号}") == "不可"
				CONTINUE
			IF DT_CELL_GETS("所持乗機データベース", LOCAL - 500, @"武装{表示アビ番号}") == "固有"
				詳細文文字列受け渡し変数 = 
				IF ダンジョン表示モード == ""
					TRYCALLFORM 乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, "乗機名")%_{表示アビ番号}("残弾セット")
				ENDIF
				TRYCALLFORM 乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, "乗機名")%_{表示アビ番号}("アビ説明文")
				LOCALS += @"%詳細文文字列受け渡し変数%<br>"
			ELSE
				TRYCCALLFORM 搭載兵装関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, @"武装{表示アビ番号}")%("アビ説明文")
					LOCALS += @"%詳細文文字列受け渡し変数%<br>"
					IF ダンジョン表示モード == ""
						TRYCALLFORM 搭載兵装関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, @"武装{表示アビ番号}")%("残弾セット")
					ENDIF
				CATCH
					LOCALS += @"■装備変更可能枠<br>"
					TRYCALLFORM 乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", LOCAL - 500, "乗機名")%_{表示アビ番号}("装備条件説明文")
					LOCALS += @"%詳細文文字列受け渡し変数%<br>"
				ENDCATCH
			ENDIF
		NEXT
		HTML_PRINT LOCALS
		WAIT
ENDSELECT
LOOP 1


@乗機兵装使用実処理
#DIM 表示兵装数
#DIM 兵装番号
;使用兵装表示から兵装実行処理まで全部ここで完結させる

;まずはメッセージ欄に使用可能兵装を並べる

VARSET 兵装関数名保存
VARSET RESULTS
LOCAL:1 = 0
表示兵装数 = ENUMFUNCBEGINSWITH(@"乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%_")
FOR LOCAL, 0, 表示兵装数
	TSTR:コマンド名受渡 = 
	アビテンプレート用_アビ封印用フラグ = 0
	CALLFORM %RESULTS:LOCAL%(@"アビ名")
	CALLFORM %RESULTS:LOCAL%(@"アビ説明文")
	兵装番号 = TOINT(REPLACE(RESULTS:LOCAL, @"乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%_", ""))
	IF TSTR:コマンド名受渡 != ""
		IF アビテンプレート用_アビ封印用フラグ || (乗機残弾種別:兵装番号 == 2 && 乗機残弾数:兵装番号 > 0) || (乗機残弾種別:兵装番号 != 2 && 乗機残弾数:兵装番号 < 1)
			IF アビ使用確認スキップフラグ == 0
				NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'><button value = '{LOCAL}'>[{LOCAL}] %TSTR:コマンド名受渡, 26, LEFT%</button>　　%残弾種別名:(乗機残弾種別:兵装番号)%残り：{乗機残弾数:兵装番号, 2}</font>
			ELSE
				NSTR:(K++) = <font color='#%カラーパレット_HTML("グレーアウト")%'>[{LOCAL}] %TSTR:コマンド名受渡, 26, LEFT%　　%残弾種別名:(乗機残弾種別:兵装番号)%残り：{乗機残弾数:兵装番号, 2}</font>
			ENDIF
		ELSE
			NSTR:(K++) = <button value = '{LOCAL}'>[{LOCAL}] %TSTR:コマンド名受渡, 26, LEFT%　　%残弾種別名:(乗機残弾種別:兵装番号)%残り：{乗機残弾数:兵装番号, 2}</button>
		ENDIF
		兵装関数名保存:LOCAL = %RESULTS:LOCAL%
		LOCAL:1 += 1
		SIF LOCAL:1 % 2 == 0
			NSTR:(K++) = <br>
	ENDIF
NEXT
NSTR:(K++) = <br>
SIF LOCAL:1 % 2
	NSTR:(K++) = <br>
NSTR:(K++) = <button value = '999'>[999] 戻る</button>


CALL メッセージ欄表示用関数(, @"%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%",,0,1)

BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 999
		RETURN 0
	CASE 0 TO 6
		CALL 口上変数初期化
		VARSET RESULTS

		CALLFORM %兵装関数名保存:LOCAL%("アビ名")
		アビテンプレート用_アビ名 = %TSTR:コマンド名受渡%
		兵装番号 = TOINT(REPLACE(兵装関数名保存:LOCAL, @"乗機兵装関数_%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%_", ""))
		;ここに来てる時点で存在しないアビが選ばれてことは無いはずなので例外規定は作らない
		IF アビ使用確認スキップフラグ == 0
			CALLFORM %兵装関数名保存:LOCAL%("アビ説明文")
			KSTR:(K++) = %詳細文文字列受け渡し変数%
			;改行の数をカウントし、必要数を改行して戻るボタンを表示行の最後に入れ込む
			STRCOUNT 詳細文文字列受け渡し変数, "<br>"
			IF RESULT < 4
				FOR LOCAL, 0, 4 - RESULT
					KSTR:(K++) = 　
				NEXT
			ENDIF
			IF アビテンプレート用_アビ封印用フラグ
				KSTR:(K++) = <nonbutton>使用できません</nonbutton> 　　　<button value='999'>[999]戻る</button>
			ELSEIF (乗機残弾種別:兵装番号 == 2 && 乗機残弾数:兵装番号 > 0) || (乗機残弾種別:兵装番号 != 2 && 乗機残弾数:兵装番号 < 1)
				KSTR:(K++) = <nonbutton>使用条件を満たしていません。</nonbutton> 　　<button value='999'>[999]戻る</button>
			ELSE
				KSTR:(K++) = <button value='0'>[0]使用する</button>　　　　　<button value='999'>[999]戻る</button>
			ENDIF
				CALL メッセージ欄表示用関数(,,,0,1)
			$INPUT_LOOP3
			BINPUTS
			IF STRCOUNT(RESULTS, "サイド領域") > 0
				CALL サイド領域_実行処理_戦闘中
				CALL 画面再描画
				GOTO INPUT_LOOP3
			ENDIF
			RESULT = TOINT(RESULTS)
			SELECTCASE RESULT
				CASE 0
					IF (乗機残弾種別:兵装番号 == 2 && 乗機残弾数:兵装番号 > 0) || (乗機残弾種別:兵装番号 != 2 && 乗機残弾数:兵装番号 < 1)
						REUSELASTLINE 
						GOTO INPUT_LOOP3
					ENDIF
				CASE 999
					RETURN -1
				CASEELSE
					REUSELASTLINE 
					GOTO INPUT_LOOP3
			ENDSELECT
		ELSE
			IF (乗機残弾種別:兵装番号 == 2 && 乗機残弾数:兵装番号 > 0) || (乗機残弾種別:兵装番号 != 2 && 乗機残弾数:兵装番号 < 1)
				WSTR:(K++) = 使用条件を満たしていません。
				CALL メッセージ欄表示用関数(, @"%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%",,0,1)
				RETURN -1
			ENDIF
		ENDIF
		CALL 口上変数初期化
		アビ汎用文字列:実行時メッセージ１ = %CALLNAME:PLAYER%は%DT_CELL_GETS("所持乗機データベース", 装備乗機ID, "乗機名", 1)%の%アビテンプレート用_アビ名%を使った！
		CALLFORM %兵装関数名保存:LOCAL%(@"アビ効果")
		IF アビテンプレート用_キャンセルフラグ
			アビテンプレート用_キャンセルフラグ = 0
			RETURN -1
		ELSE
			;残弾減少
			IF 乗機残弾種別:兵装番号 == 2
				;CT制の場合は残弾セット
				CALLFORM %RESULTS:LOCAL%("残弾セット")
			ELSE
				;残弾制の場合は１減らす
				乗機残弾数:兵装番号 -= 1
			ENDIF
			;ターン中一回まで
			兵装使用済みフラグ = 1
			CALL 口上変数初期化
			CALL アビテンプレート用_表示メッセージ変換処理
			CALL メッセージ欄表示用関数(,,,0)
		ENDIF
ENDSELECT
