@従業員メインメニュー


DRAWLINE
PRINTL リゾートで働く従業員の雇用や仕事の割り振りを行います。
PRINTL ※素質指定の場合は指定した量に応じてルピがかかります。
DRAWLINE
LOCALS = <div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,1937,2812'>"
IF 従業員部屋満杯()
	LOCALS += "<font color='#666666'>[---] 従業員部屋は満杯です</font>"
	LOCALS += "<br>"
	LOCALS += "<font color='#666666'>[---] 従業員部屋は満杯です</font>"
ELSE
	LOCALS += "<button value='100'>[100] 従業員ランダム雇用</button>"
	LOCALS += "<br>"
	LOCALS += "<button value='101'>[101] 従業員素質指定雇用</button>"
ENDIF
LOCALS += "<br>"
LOCALS += "<button value='110'>[110] 仕事割り振り</button>"
LOCALS += "<br>"
LOCALS += "<button value='120'>[120] 制服設定</button>"
LOCALS += "<br>"
LOCALS += "<button value='130'>[130] 従業員部屋割り設定</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='998'>[998] システムの説明</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += @"<button value='102'><font color='#%カラーパレット_HTML("赤")%'>[102] 従業員解雇</font></button>"
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

IF チュートリアルフラグ:従業員設定 == 0
	RESULT = 998
ELSE
	BINPUT
ENDIF
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 従業員雇用_V2
	CASE 101
		CALL 従業員素質指定雇用
	CASE 102
		CALL 従業員解雇
	CASE 110
		CALL 従業員仕事割り振り
	CASE 120
		CALL 従業員制服設定
	CASE 130
		CALL 従業員部屋割り設定
	CASE 998
		CALL 従業員設定チュートリアル()
	CASE 999
		;戻る前に自動探索数がおかしくないかをチェック
		CALL ダンジョン自動探索_人数調整
		RETURN 0
ENDSELECT

RESTART


;従業員部屋のうち使用されている部屋の数を返す
@従業員部屋_部屋使用数()
#FUNCTION
#LOCALSIZE 2

LOCAL:1 = 0
FOR LOCAL, 0, 従業員部屋数
	SIF 従業員部屋割り配列:LOCAL > 0
		LOCAL:1 ++
NEXT
RETURNF LOCAL:1


;従業員部屋に空きがあればその配列番号(一番若いもの)、なければ-1を返す
@従業員部屋_空きチェック()
#FUNCTION
#LOCALSIZE 1

FOR LOCAL, 0, 従業員部屋数
	SIF 従業員部屋割り配列:LOCAL <= 0
		RETURNF LOCAL
NEXT
RETURNF -1


;従業員部屋が満杯なら1、それ以外は0を返す
@従業員部屋満杯()
#FUNCTION

RETURNF 従業員部屋_空きチェック() < 0
