@従業員メインメニュー


DRAWLINE
PRINTL リゾートで働く従業員の雇用や仕事の割り振りを行います。
PRINTL ※開発中のため、雇用にリソースは必要無いし従業員もネームドキャラと同じ挙動をします。
PRINTL 　実質的にランダムキャラ追加状態
PRINTL ※素質指定の場合は指定した量に応じてルピがかかります。
DRAWLINE
LOCALS = <div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,1937,2812'>"
LOCALS += "<button value='100'>[100] 従業員ランダム雇用</button>"
LOCALS += "<br>"
LOCALS += "<button value='101'>[101] 従業員素質指定雇用</button>"
LOCALS += "<br>"
LOCALS += "<button value='110'>[110] 仕事割り振り</button>"
LOCALS += "<br>"
LOCALS += "<button value='120'>[120] 制服設定</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += @"<button value='102'><font color='#%カラーパレット_HTML("赤")%'>[102] 従業員解雇</font></button>"
LOCALS += "</div>"

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

BINPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		CALL 従業員雇用
	CASE 101
		CALL 従業員素質指定雇用
	CASE 102
		CALL 従業員解雇
	CASE 110
		CALL 従業員仕事割り振り
	CASE 120
		CALL 従業員制服設定
	CASE 999
		;戻る前に自動探索数がおかしくないかをチェック
		CALL ダンジョン自動探索_人数調整
		RETURN 0
ENDSELECT

RESTART

