@従業員素質指定雇用
#DIM ランダムキャラ素質, 70
#DIM ランダムキャラ経験, 80
#DIM ランダムキャラ戦闘タイプ, 10
#DIMS ランダムキャラネーム
#DIM 重複チェック用, 10
#DIM 表示モード

表示モード = 0
ランダムキャラネーム = 
VARSET ランダムキャラ素質:0
VARSET ランダムキャラ経験:0
VARSET ランダムキャラ戦闘タイプ:0
ランダムキャラ素質:0 = 1
ランダムキャラ素質:1 = 1

$従業員_LOOP
DRAWLINE
PRINTL 従業員の素質を完全指定して雇います。
PRINTPLAIN 指定した素質の数に応じて必要ルピが上昇するので注意してください。
PRINTL
DRAWLINE
LOCALS = <div rect='13px,5px,310px,450px' border='5px' bcolor='#C0C0C0'></div><div rect='328px,5px,620px,450px' border='5px' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='25px,25px,310px,450px'>"
LOCALS += "<button value='100'>[100] 名前を設定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='110'>[110] 戦闘タイプを設定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='120'>[120] 肉体情報を設定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='130'>[130] 素質を設定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='140'>[140] 能力を設定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='150'>[150] 経験を設定する</button>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='200'>[200] これで決定する</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "</div>"

LOCALS += "<div rect='340px,25px,588px,450px'>"


SELECTCASE 表示モード
	CASE 0
		;現状の設定表示
		IF ランダムキャラネーム != ""
			LOCALS += @"■[従業員]%ランダムキャラネーム, 18, LEFT%"
		ELSE
			LOCALS += @"■[従業員]（名称未定）　　　"
		ENDIF
		LOCALS:1 = %カラーパレット_HTML(@"%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)%属性")%
		LOCALS += @"<font color='#%LOCALS:1%'>属性：%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)%</font>"
		LOCALS += @"　得意武器：%得意武器数値文字列変換(ランダムキャラ戦闘タイプ:1)%　タイプ：%成長タイプ:(ランダムキャラ戦闘タイプ:2)%"
		LOCALS += "<br><br>"
		LOCALS += "□ 情報 □---------------------------------------------------------------<br>"

		LOCALS += "　種族："
		SELECTCASE ランダムキャラ素質:0
			CASE 1
				LOCALS += "ヒューマン"
			CASE 2
				LOCALS += "エルーン"
				ランダムキャラ素質:4 = 208
				LOCALS += "（エルーン耳）"
				IF ランダムキャラ素質:5 == 207
					LOCALS += "（尻尾）"
				ENDIF
			CASE 3
				LOCALS += "ドラフ"
				ランダムキャラ素質:3 = 3
				ランダムキャラ素質:4 = 206
				LOCALS += "（角あり）"
			CASE 4
				LOCALS += "ハーヴィン"
				ランダムキャラ素質:3 = -2
				ランダムキャラ素質:4 = 209
				LOCALS += "（ハーヴィン耳）"
		ENDSELECT
		LOCALS += "<br>"
		LOCALS += "　性別："
		SELECTCASE ランダムキャラ素質:1
			CASE 1
				LOCALS += "女性"
				IF ランダムキャラ素質:2 == 0
					LOCALS += "　　　　　　　　　"
				ELSE
					LOCALS += "（処女）　　　　　"
				ENDIF
			CASE 3
				LOCALS += "ふたなり"
				IF ランダムキャラ素質:2 == 0
					LOCALS += "　　　　　　　　　"
				ELSE
					LOCALS += "（処女）（童貞）　"
				ENDIF
		ENDSELECT
		LOCALS += @"バストサイズ：%GET_TALENTNAME(205,ランダムキャラ素質:3)%"
		LOCALS += "<br>"
		LOCALS += @"　性知識レベル："
		SELECTCASE ランダムキャラ素質:6
			CASE 0
				LOCALS += "疎い"
			CASE 1
				LOCALS += "耳年増"
				ランダムキャラ素質:18 = 23
			CASE 2
				LOCALS += "必要十分"
			CASE 3
				LOCALS += "有識者"
		ENDSELECT
		LOCALS += "<br>　容姿："
		IF ランダムキャラ素質:30 == 0
			LOCALS += "モブ顔　　　"
		ELSE
			LOCALS += @"%GET_TALENTNAME(160,ランダムキャラ素質:30), 12, LEFT%"
		ENDIF
		LOCALS += "体格："
		IF ランダムキャラ素質:31 == 0
			LOCALS += "普通"
		ELSE
			LOCALS += @"%GET_TALENTNAME(161,ランダムキャラ素質:31)%"
		ENDIF
		IF ランダムキャラ素質:1 == 3
			LOCALS += "<br>　男性器サイズ："
			IF ランダムキャラ素質:32 == 0
				LOCALS += "平凡"
			ELSE
				LOCALS += @"%GET_TALENTNAME(162,ランダムキャラ素質:32)%"
			ENDIF
		ENDIF
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "□ 素質 □---------------------------------------------------------------<br>"
		LOCALS:1 = 
		FOR LOCAL, 0, 18
			SIF ランダムキャラ素質:(LOCAL + 10) == 0
				BREAK
			IF ランダムキャラ素質:(LOCAL + 10) < 0
				LOCALS += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 10)), -1)%]"
			ELSEIF ランダムキャラ素質:(LOCAL + 10) > 2000
				LOCALS += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 10)), 3)%]"
			ELSEIF ランダムキャラ素質:(LOCAL + 10) > 1000
				LOCALS += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 10)), 2)%]"
			ELSE
				LOCALS += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 10), 1)%]"
			ENDIF
		NEXT
		LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "□ 能力 □---------------------------------------------------------------<br>"
		LOCAL:2 = 0
		FOR LOCAL, 0, 6
			IF ランダムキャラ素質:(LOCAL + 30) > 0
				LOCALS += @"%ABLNAME:LOCAL, 16%:{ランダムキャラ素質:(LOCAL + 30)}   "
				LOCAL:2 += 1
				IF LOCAL:2 == 3
					LOCALS += "<br>"
					LOCAL:2 = 0
				ENDIF
			ENDIF
		NEXT
		FOR LOCAL, 0, 6
			IF ランダムキャラ素質:(LOCAL + 40) > 0
				LOCALS += @"%ABLNAME:(LOCAL + 10), 16%:{ランダムキャラ素質:(LOCAL + 40)}   "
				LOCAL:2 += 1
				IF LOCAL:2 == 3
					LOCALS += "<br>"
					LOCAL:2 = 0
				ENDIF
			ENDIF
		NEXT
		SIF LOCAL:2 != 0
			LOCALS += "<br>"
		LOCALS += "<br>"
		LOCALS += "□ 経験 □---------------------------------------------------------------<br>"
		LOCAL:2 = 0
		LOCAL:3 = 0
		FOR LOCAL, 0, 80
			IF EXPNAME:LOCAL != ""
				IF ランダムキャラ経験:LOCAL > 0
					LOCALS += @"%EXPNAME:LOCAL, 16%:{ランダムキャラ経験:LOCAL}  "
					LOCAL:2 += 1
					IF LOCAL:2 == 3
						LOCALS += "<br>"
						LOCAL:2 = 0
					ENDIF
				ENDIF
			ENDIF
		NEXT
		LOCALS += "</div>"
	CASE 110
	CASE 120
	CASE 130
	CASE 140
	CASE 150
ENDSELECT

HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
INPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		PRINTL 名前を入力してください。（９文字まで）
		INPUTS
		ランダムキャラネーム = %SUBSTRING(RESULTS, 0, 18)%
		GOTO 従業員_LOOP
	CASE 110
		表示モード = 110
		GOTO 従業員_LOOP
	CASE 120
		表示モード = 120
		GOTO 従業員_LOOP
	CASE 130
		表示モード = 130
		GOTO 従業員_LOOP
	CASE 140
		表示モード = 140
		GOTO 従業員_LOOP
	CASE 150
		表示モード = 150
		GOTO 従業員_LOOP
	CASE 200
		IF 従業員部屋割り配列:(従業員キャラ上限 - 1) > 0
			PRINTW 従業員部屋が一杯です。
			RETURN 0
		ENDIF
		PRINTFORMW [従業員]%ランダムキャラネーム%を雇用しました。
		FLAG:従業員数 += 1
		LOCAL:1 = CHARANUM
		ADDCHARA 999
		TALENT:(LOCAL:1):従業員 = 1
		NAME:(LOCAL:1) = [従業員]%ランダムキャラネーム%
		CALLNAME:(LOCAL:1) = %ランダムキャラネーム%
		TALENT:(LOCAL:1):200 = ランダムキャラ素質:0
		TALENT:(LOCAL:1):2 = ランダムキャラ素質:1
		IF ランダムキャラ素質:2
			TALENT:(LOCAL:1):0 = 1
			TALENT:(LOCAL:1):1 = 0
		ELSE
			TALENT:(LOCAL:1):0 = 0
			TALENT:(LOCAL:1):1 = 1
		ENDIF
		TALENT:(LOCAL:1):205 = ランダムキャラ素質:3
		SIF ランダムキャラ素質:4
			TALENT:(LOCAL:1):(ランダムキャラ素質:4) = 1
		SIF ランダムキャラ素質:5
			TALENT:(LOCAL:1):(ランダムキャラ素質:5) = 1
		SELECTCASE ランダムキャラ素質:6
			CASE 0
				知識素質:(LOCAL:1):性知識 = 0
			CASE 1
				知識素質:(LOCAL:1):性知識 = 0
				TALENT:(LOCAL:1):性的興味 = 1
			CASE 2
				知識素質:(LOCAL:1):性知識 = 1
			CASE 3
				知識素質:(LOCAL:1):性知識 = 2
		ENDSELECT
		FOR LOCAL, 10, 19
			SELECTCASE ランダムキャラ素質:LOCAL
				CASE 0
				CASE IS < 0
					TALENT:(LOCAL:1):(ABS(ランダムキャラ素質:LOCAL)) = -1
				CASE IS > 1000
					TALENT:(LOCAL:1):(ランダムキャラ素質:(LOCAL) - 1000) = 2
				CASEELSE
					TALENT:(LOCAL:1):(ランダムキャラ素質:LOCAL) = 1
			ENDSELECT
		NEXT
		FOR LOCAL, 20, 25
			SELECTCASE ランダムキャラ素質:LOCAL
				CASE 0
				CASE IS < 0
					TALENT:(LOCAL:1):(ABS(ランダムキャラ素質:LOCAL)) = -1
				CASEELSE
					TALENT:(LOCAL:1):(ランダムキャラ素質:LOCAL) = 1
			ENDSELECT
		NEXT
		IF ランダムキャラ素質:26
			TALENT:(LOCAL:1):86 = 2
		ENDIF
		IF ランダムキャラ素質:27
			TALENT:(LOCAL:1):111 = 1
		ENDIF
		IF ランダムキャラ素質:28
			TALENT:(LOCAL:1):149 = 1
		ENDIF
		IF ランダムキャラ素質:29
			TALENT:(LOCAL:1):152 = 1
		ENDIF
		FOR LOCAL, 30, 36
			IF ランダムキャラ素質:LOCAL == 1
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
				EXP:(LOCAL:1):(LOCAL - 30) = 30
				EXP:(LOCAL:1):(LOCAL - 25) = 5
			ELSEIF ランダムキャラ素質:LOCAL == 2
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
				EXP:(LOCAL:1):(LOCAL - 30) = 80
				EXP:(LOCAL:1):(LOCAL - 25) = 10
			ENDIF
		NEXT
		FOR LOCAL, 40, 46
			IF ランダムキャラ素質:LOCAL
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
			ENDIF
		NEXT
		EXP:(LOCAL:1):10 = LOCAL:3
		TALENT:(LOCAL:1):容姿 = ランダムキャラ素質:30
		TALENT:(LOCAL:1):体格 = ランダムキャラ素質:31
		TALENT:(LOCAL:1):男性器サイズ = ランダムキャラ素質:32

		;戦闘関連設定
		CSTR:(LOCAL:1):戦闘基礎ステータス設定 =  属性_%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)% 得意武器_%得意武器数値文字列変換(ランダムキャラ戦闘タイプ:1)% 初期ステータスタイプ_%成長タイプ:(ランダムキャラ戦闘タイプ:2)%

		CALL キャラクター初期化(LOCAL:1)
		CFLAG:(LOCAL:1):滞在期間 = 999

		FOR LOCAL:2, 0, 従業員キャラ上限
			IF 従業員部屋割り配列:(LOCAL:2) < 1
				従業員部屋割り配列:(LOCAL:2) = LOCAL:1
				BREAK
			ENDIF
		NEXT
		RETURN 0
	CASE 999
		RETURN 0
	CASEELSE
ENDSELECT

