@従業員雇用
#DIM ランダムキャラ素質, 70
#DIM ランダムキャラ戦闘タイプ, 10
#DIMS ランダムキャラネーム
#DIM 重複チェック用, 10

$従業員_LOOP
DRAWLINE
PRINTL 従業員（ランダムキャラ）を雇います。
PRINTPLAIN [110] 別の候補を見る　を選んだ場合、前のキャラには戻れないので注意してください。
PRINTL
DRAWLINE
VARSET ランダムキャラ素質:0
VARSET ランダムキャラ戦闘タイプ:0
LOCALS = <div rect='81,31,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,31,3875,2812' border='31' bcolor='#C0C0C0'></div>
LOCALS += "<div rect='156,156,1937,2812'>"
LOCALS += "<button value='100'>[100] このキャラを雇用する</button>"
LOCALS += "<br>"
LOCALS += "<button value='110'>[110] 別の候補を見る</button>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 戻る</button>"
LOCALS += "</div>"

LOCALS += "<div rect='2125,156,3675,2812'>"
;戦闘タイプ決定
ランダムキャラ戦闘タイプ:0 = RAND:6
ランダムキャラ戦闘タイプ:1 = RAND:10
ランダムキャラ戦闘タイプ:2 = RAND:8
;種族決定
ランダムキャラネーム = %ランダムキャラ名前生成()%
LOCALS += @"■[従業員]%ランダムキャラネーム, 18, LEFT%"
LOCALS:1 = %カラーパレット_HTML(@"%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)%属性")%
LOCALS += @"<font color='#%LOCALS:1%'>属性：%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)%</font>"
LOCALS += @"　得意武器：%得意武器数値文字列変換(ランダムキャラ戦闘タイプ:1)%　タイプ：%成長タイプ:(ランダムキャラ戦闘タイプ:2)%"
LOCALS += "<br><br>"
LOCALS += "□ 情報 □---------------------------------------------------------------<br>"
;種族
ランダムキャラ素質:0 = RAND:4 + 1
;性別枠
ランダムキャラ素質:1 = (RAND:10 / 9 * 2) + 1
SIF 素質切り替えOPTION記憶:ふたなり_女性
	ランダムキャラ素質:1 = 1
;処女（10%で非処女）
ランダムキャラ素質:2 = RAND:10
;バストサイズ
ランダムキャラ素質:3 = RAND:5 - 2
;ランダムキャラ素質:4、5に種族系素質
;処女童貞
SELECTCASE RAND:20
	CASE 0 TO 9
		;疎い
		ランダムキャラ素質:6 = 0
	CASE 10 TO 14
		;耳年増
		ランダムキャラ素質:6 = 1
	CASE 15 TO 18
		;必要十分
		ランダムキャラ素質:6 = 2
	CASE 19
		;有識者
		ランダムキャラ素質:6 = 3
ENDSELECT
LOCALS += "　種族："
SELECTCASE ランダムキャラ素質:0
	CASE 1
		LOCALS += "ヒューマン"
	CASE 2
		LOCALS += "エルーン"
		ランダムキャラ素質:4 = 208
		LOCALS += "（エルーン耳）"
		IF RAND:5 == 0
			ランダムキャラ素質:5 = 207
			LOCALS += "（尻尾）"
		ENDIF
	CASE 3
		LOCALS += "ドラフ"
		ランダムキャラ素質:3 = 3
		ランダムキャラ素質:4 = 206
		LOCALS += "（角あり）"
	CASE 4
		LOCALS += "ハーヴィン"
		ランダムキャラ素質:3 = -2
		ランダムキャラ素質:4 = 209
		LOCALS += "（ハーヴィン耳）"
ENDSELECT
LOCALS += "<br>"
LOCALS += "　性別："
SELECTCASE ランダムキャラ素質:1
	CASE 1
		LOCALS += "女性"
		IF ランダムキャラ素質:2 == 0
			LOCALS += "　　　　　　　　　"
		ELSE
			LOCALS += "（処女）　　　　　"
		ENDIF
	CASE 3
		LOCALS += "ふたなり"
		IF ランダムキャラ素質:2 == 0
			LOCALS += "　　　　　　　　　"
		ELSE
			LOCALS += "（処女）（童貞）　"
		ENDIF
ENDSELECT
LOCALS += @"バストサイズ：%GET_TALENTNAME(205,ランダムキャラ素質:3)%"
LOCALS += "<br>"
LOCALS += @"　性知識レベル："
SELECTCASE ランダムキャラ素質:6
	CASE 0
		LOCALS += "疎い"
	CASE 1
		LOCALS += "耳年増"
		ランダムキャラ素質:18 = 23
	CASE 2
		LOCALS += "必要十分"
	CASE 3
		LOCALS += "有識者"
ENDSELECT
LOCALS += "<br>　容姿："
LOCAL = RAND:100
SELECTCASE LOCAL
	CASE 0 TO 9
		ランダムキャラ素質:30 = -1
	CASE 10 TO 69
		ランダムキャラ素質:30 = 0
	CASE 70 TO 94
		ランダムキャラ素質:30 = 1
	CASE 95 TO 99
		ランダムキャラ素質:30 = 2
ENDSELECT
IF ランダムキャラ素質:30 == 0
	LOCALS += "モブ顔　　　"
ELSE
	LOCALS += @"%GET_TALENTNAME(160,ランダムキャラ素質:30), 12, LEFT%"
ENDIF
LOCALS += "体格："
ランダムキャラ素質:31 = RAND:5 - 2
SELECTCASE ランダムキャラ素質:0
	CASE 1
		IF ランダムキャラ素質:31 == -2 || ランダムキャラ素質:31 == 2
			ランダムキャラ素質:31 = 0
		ENDIF
	CASE 2
		IF ランダムキャラ素質:31 == -2 || ランダムキャラ素質:31 == 2
			ランダムキャラ素質:31 = 0
		ENDIF
	CASE 3
		ランダムキャラ素質:31 = -1
	CASE 4
		ランダムキャラ素質:31 = MAX(ランダムキャラ素質:31 - 3, -2)
ENDSELECT
IF ランダムキャラ素質:31 == 0
	LOCALS += "普通"
ELSE
	LOCALS += @"%GET_TALENTNAME(161,ランダムキャラ素質:31)%"
ENDIF
IF ランダムキャラ素質:1 == 3
	LOCALS += "<br>　男性器サイズ："
	LOCAL = RAND:100
	SELECTCASE LOCAL
		CASE 0 TO 4
			ランダムキャラ素質:32 = -2
		CASE 5 TO 19
			ランダムキャラ素質:32 = -1
		CASE 20 TO 74
			ランダムキャラ素質:32 = 0
		CASE 75 TO 89
			ランダムキャラ素質:32 = 1
		CASE 90 TO 99
			ランダムキャラ素質:32 = 2
	ENDSELECT
	IF ランダムキャラ素質:32 == 0
		LOCALS += "平凡"
	ELSE
		LOCALS += @"%GET_TALENTNAME(162,ランダムキャラ素質:32)%"
	ENDIF
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
$素質リロール_LOOP
;ランダムキャラ素質:10～29にランダムで素質
;４個～８個
LOCAL:1 = RAND:5 + 4
FOR LOCAL, 0, 8
	IF LOCAL < LOCAL:1
		ランダムキャラ素質:(LOCAL + 10) = ランダム素質候補()
	ELSE
		ランダムキャラ素質:(LOCAL + 10) = 0
	ENDIF
NEXT
FOR LOCAL, 0, 9
	SELECTCASE ランダムキャラ素質:(LOCAL + 10)
		CASE 0
			重複チェック用:LOCAL = LOCAL * -1000
		CASE IS < 0
			重複チェック用:LOCAL = ランダムキャラ素質:(LOCAL + 10) * -1
		CASE IS > 1000
			重複チェック用:LOCAL = ランダムキャラ素質:(LOCAL + 10) - 1000
		CASEELSE
			重複チェック用:LOCAL = ランダムキャラ素質:(LOCAL + 10)
	ENDSELECT
NEXT
IF NOSAMES(重複チェック用:0, 重複チェック用:1, 重複チェック用:2, 重複チェック用:3, 重複チェック用:4, 重複チェック用:5, 重複チェック用:6, 重複チェック用:7, 重複チェック用:8) == 0
	GOTO 素質リロール_LOOP
ENDIF
LOCALS += "□ 素質 □---------------------------------------------------------------<br>"
LOCALS:1 = 
FOR LOCAL, 0, 8
	SIF ランダムキャラ素質:(LOCAL + 10) == 0
		BREAK
	IF ランダムキャラ素質:(LOCAL + 10) < 0
		LOCALS += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 10)), -1)%]"
		LOCALS:1 += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 10)), -1)%]"
	ELSEIF ランダムキャラ素質:(LOCAL + 10) > 1000
		LOCALS += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 10) - 1000, 2)%]"
		LOCALS:1 += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 10) - 1000, 2)%]"
	ELSE
		LOCALS += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 10), 1)%]"
		LOCALS:1 += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 10), 1)%]"
	ENDIF
NEXT
;こっから敏感系
FOR LOCAL, 0, 5
	LOCAL:1 = RAND:10
	IF LOCAL:1 < 2
		;鈍感
		ランダムキャラ素質:(LOCAL + 20) = (LOCAL + 101) * -1
		LOCALS += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 20)), -1)%]"
		LOCALS:1 += @"[%GET_TALENTNAME(ABS(ランダムキャラ素質:(LOCAL + 20)), -1)%]"
	ELSEIF LOCAL:1 < 7
	ELSE
		;敏感
		ランダムキャラ素質:(LOCAL + 20) = LOCAL + 101
		LOCALS += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 20), 1)%]"
		LOCALS:1 += @"[%GET_TALENTNAME(ランダムキャラ素質:(LOCAL + 20), 1)%]"
	ENDIF
NEXT
IF RAND:100 == 0
	ランダムキャラ素質:26 = 1086
	LOCALS += "[元男]"
	LOCALS:1 += "[元男]"
ENDIF
IF ランダムキャラ素質:3 > 1 && RAND:10 == 0 && 素質切り替えOPTION記憶:陥没乳首_なし == 0
	ランダムキャラ素質:27 = 111
	LOCALS += "[陥没乳首]"
	LOCALS:1 += "[陥没乳首]"
ENDIF
IF ランダムキャラ素質:3 > 1 && RAND:10 == 0 && 素質切り替えOPTION記憶:母乳体質_なし == 0
	ランダムキャラ素質:28 = 149
	LOCALS += "[母乳体質]"
	LOCALS:1 += "[母乳体質]"
ENDIF
IF ランダムキャラ素質:1 == 3 && RAND:3 == 0
	ランダムキャラ素質:29 = 152
	LOCALS += "[絶倫]"
	LOCALS:1 += "[絶倫]"
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "□ 能力 □---------------------------------------------------------------<br>"
LOCAL:2 = 0
FOR LOCAL, 0, 6
	LOCAL:1 = RAND:30
	SELECTCASE LOCAL:1
		CASE 29
			ランダムキャラ素質:(LOCAL + 30) = 2
			LOCALS += @"%ABLNAME:LOCAL, 16%:2   "
			LOCAL:2 += 1
		CASE IS > 23
			ランダムキャラ素質:(LOCAL + 30) = 1
			LOCALS += @"%ABLNAME:LOCAL, 16%:1   "
			LOCAL:2 += 1
	ENDSELECT
	IF LOCAL:2 == 3
		LOCALS += "<br>"
		LOCAL:2 = 0
	ENDIF
NEXT
FOR LOCAL, 0, 6
	LOCAL:1 = RAND:30
	SELECTCASE LOCAL:1
		CASE 29
			ランダムキャラ素質:(LOCAL + 40) = 2
			LOCALS += @"%ABLNAME:(LOCAL + 10), 16%:2   "
			LOCAL:2 += 1
		CASE IS > 23
			ランダムキャラ素質:(LOCAL + 40) = 1
			LOCALS += @"%ABLNAME:(LOCAL + 10), 16%:1   "
			LOCAL:2 += 1
	ENDSELECT
	IF LOCAL:2 == 3
		LOCALS += "<br>"
		LOCAL:2 = 0
	ENDIF
NEXT
SIF LOCAL:2 != 0
	LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "□ 経験 □---------------------------------------------------------------<br>"
LOCAL:2 = 0
LOCAL:3 = 0
FOR LOCAL, 0, 5
	IF ランダムキャラ素質:(LOCAL + 30) == 2
		LOCALS += @"%EXPNAME:LOCAL, 16%:80  "
		LOCAL:2 += 1
	ELSEIF ランダムキャラ素質:(LOCAL + 30) == 1
		LOCALS += @"%EXPNAME:LOCAL, 16%:30  "
		LOCAL:2 += 1
	ENDIF
	IF LOCAL:2 == 3
		LOCALS += "<br>"
		LOCAL:2 = 0
	ENDIF
	IF ランダムキャラ素質:(LOCAL + 30) == 2
		LOCALS += @"%(EXPNAME:(LOCAL + 5)), 16%:10  "
		LOCAL:2 += 1
		LOCAL:3 += 10
	ELSEIF ランダムキャラ素質:(LOCAL + 30) == 1
		LOCALS += @"%(EXPNAME:(LOCAL + 5)), 16%:5   "
		LOCAL:2 += 1
		LOCAL:3 += 5
	ENDIF
	IF LOCAL:2 == 3
		LOCALS += "<br>"
		LOCAL:2 = 0
	ENDIF
NEXT
LOCALS += @"%(EXPNAME:10), 16%:{LOCAL:3}"
LOCALS += "</div>"


HTML_PRINT LOCALS
FOR LOCAL, 0, 25
	PRINTL
NEXT
DRAWLINE

$INPUT_LOOP
INPUT

LOCAL = RESULT
SELECTCASE LOCAL
	CASE 100
		LOCAL:10 = 0
		FOR LOCAL, 0, 従業員キャラ上限
			IF 従業員部屋割り配列:LOCAL < 1
				LOCAL:10 = 1
				BREAK
			ENDIF
		NEXT
		IF LOCAL:10 == 0
			PRINTW 従業員部屋が一杯です。
			RETURN 0
		ENDIF
		PRINTFORMW [従業員]%ランダムキャラネーム%を雇用しました。
		FLAG:従業員数 += 1
		LOCAL:1 = CHARANUM
		ADDCHARA 999
		TALENT:(LOCAL:1):従業員 = 1
		NAME:(LOCAL:1) = [従業員]%ランダムキャラネーム%
		CALLNAME:(LOCAL:1) = %ランダムキャラネーム%
		TALENT:(LOCAL:1):200 = ランダムキャラ素質:0
		TALENT:(LOCAL:1):2 = ランダムキャラ素質:1
		IF ランダムキャラ素質:2
			TALENT:(LOCAL:1):0 = 1
			TALENT:(LOCAL:1):1 = 0
		ELSE
			TALENT:(LOCAL:1):0 = 0
			TALENT:(LOCAL:1):1 = 1
		ENDIF
		TALENT:(LOCAL:1):205 = ランダムキャラ素質:3
		SIF ランダムキャラ素質:4
			TALENT:(LOCAL:1):(ランダムキャラ素質:4) = 1
		SIF ランダムキャラ素質:5
			TALENT:(LOCAL:1):(ランダムキャラ素質:5) = 1
		FOR LOCAL, 10, 19
			SELECTCASE ランダムキャラ素質:LOCAL
				CASE 0
				CASE IS < 0
					TALENT:(LOCAL:1):(ABS(ランダムキャラ素質:LOCAL)) = -1
				CASE IS > 1000
					TALENT:(LOCAL:1):(ランダムキャラ素質:(LOCAL) - 1000) = 2
				CASEELSE
					TALENT:(LOCAL:1):(ランダムキャラ素質:LOCAL) = 1
			ENDSELECT
		NEXT
		FOR LOCAL, 20, 25
			SELECTCASE ランダムキャラ素質:LOCAL
				CASE 0
				CASE IS < 0
					TALENT:(LOCAL:1):(ABS(ランダムキャラ素質:LOCAL)) = -1
				CASEELSE
					TALENT:(LOCAL:1):(ランダムキャラ素質:LOCAL) = 1
			ENDSELECT
		NEXT
		IF ランダムキャラ素質:26
			TALENT:(LOCAL:1):86 = 2
		ENDIF
		IF ランダムキャラ素質:27
			TALENT:(LOCAL:1):111 = 1
		ENDIF
		IF ランダムキャラ素質:28
			TALENT:(LOCAL:1):149 = 1
		ENDIF
		IF ランダムキャラ素質:29
			TALENT:(LOCAL:1):152 = 1
		ENDIF
		FOR LOCAL, 30, 36
			IF ランダムキャラ素質:LOCAL == 1
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
				EXP:(LOCAL:1):(LOCAL - 30) = 30
				EXP:(LOCAL:1):(LOCAL - 25) = 5
			ELSEIF ランダムキャラ素質:LOCAL == 2
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
				EXP:(LOCAL:1):(LOCAL - 30) = 80
				EXP:(LOCAL:1):(LOCAL - 25) = 10
			ENDIF
		NEXT
		FOR LOCAL, 40, 46
			IF ランダムキャラ素質:LOCAL
				ABL:(LOCAL:1):(LOCAL - 30) = ランダムキャラ素質:LOCAL
			ENDIF
		NEXT
		EXP:(LOCAL:1):10 = LOCAL:3
		TALENT:(LOCAL:1):容姿 = ランダムキャラ素質:30
		TALENT:(LOCAL:1):体格 = ランダムキャラ素質:31
		TALENT:(LOCAL:1):男性器サイズ = ランダムキャラ素質:32

		;戦闘関連設定
		CSTR:(LOCAL:1):戦闘基礎ステータス設定 =  属性_%属性数値文字列変換(ランダムキャラ戦闘タイプ:0)% 得意武器_%得意武器数値文字列変換(ランダムキャラ戦闘タイプ:1)% 初期ステータスタイプ_%成長タイプ:(ランダムキャラ戦闘タイプ:2)%

		CALL コマンド存在チェック
		CALL キャラクター初期化(LOCAL:1)

		;性知識は初期化の後
		SELECTCASE ランダムキャラ素質:6
			CASE 0
				知識素質:(LOCAL:1):性知識 = 0
			CASE 1
				知識素質:(LOCAL:1):性知識 = 0
				TALENT:(LOCAL:1):性的興味 = 1
			CASE 2
				知識素質:(LOCAL:1):性知識 = 1
			CASE 3
				知識素質:(LOCAL:1):性知識 = 2
		ENDSELECT
		CFLAG:(LOCAL:1):滞在期間 = 999
		CALL ステータス記録(LOCAL:1)

		FOR LOCAL:2, 0, 従業員キャラ上限
			IF 従業員部屋割り配列:(LOCAL:2) < 1
				従業員部屋割り配列:(LOCAL:2) = LOCAL:1
				BREAK
			ENDIF
		NEXT
		CALL 従業員人数チェック()
		RETURN 0
	CASE 110
		GOTO 従業員_LOOP
	CASE 999
		RETURN 0
	CASEELSE
ENDSELECT



@ランダムキャラ名前生成
#FUNCTIONS
STRDATA LOCALS
	DATA ジェシカ
	DATA アンジェラ
	DATA ルイーズ
	DATA レイチェル
	DATA アイリーン
	DATA エイミー
	DATA メイ
	DATA クリスティーナ
	DATA アン
	DATA キャロル
	DATA キャサリン
	DATA マーガレット
	DATA ダイアン
	DATA ルース
	DATA メアリー
	DATA ウェンディ
	DATA バーバラ
	DATA エレン
	DATA フランシス
	DATA ケイト
	DATA ジェーン
	DATA アリソン
	DATA アンナ
	DATA ジーン
	DATA ジャネット
	DATA ローラ
	DATA ステファニー
	DATA サリー
	DATA フローレンス
	DATA ベティ
	DATA エリザベス
	DATA アシュリー
	DATA ベス
	DATA ドロシー
	DATA ミシェル
	DATA スーザン
	DATA カレン
	DATA ヴァージニア
	DATA ヘレン
	DATA ナンシー
	DATA ヴァネッサ
	DATA シェリー
	DATA ヘイリー
	DATA ヘザー
	DATA ニコール
	DATA ナタリー
	DATA キム
	DATA キャシー
	DATA アリス
	DATA メリッサ
	DATA レベッカ
	DATA クリスティン
	DATA エミリー
	DATA アンドレア
	DATA カーラ
	DATA ケイティ
	DATA ジェイミー
	DATA パティ
	DATA レスリー
	DATA リン
	DATA モイラ
	DATA ルーシー
	DATA ジョーン
	DATA リリー
	DATA ジョアンナ
	DATA エリー
	DATA ヴェロニカ
	DATA シャーロット
	DATA ジョージ
	DATA オリヴィア
	DATA ミュリエル
	DATA シャンテル
	DATA ミア
	DATA ジャクリーン
	DATA ズレイカ
	DATA ベアトリス
	DATA シーラ
	DATA サマンサ
	DATA サンディ
	DATA ヴィクトリア
	DATA アナ
	DATA アネット
	DATA ジュヌヴィエーヴ
	DATA シシリー
	DATA ジョイス
	DATA ニコラ
	DATA マチルダ
	DATA エリス
	DATA エディス
	DATA マージェリー
	DATA デイジー
	DATA イーヴリン
	DATA クリスタベル
	DATA サラヤ
	DATA スザンヌ
	DATA パット
	DATA ナタリア
	DATA カトリーヌ
	DATA ジャンヌ
	DATA エレーヌ
	DATA ジュリー
	DATA シモーヌ
	DATA セシル
	DATA メラニー
	DATA サラ
	DATA エルザ
	DATA パトリシア
	DATA アデル
	DATA ソフィー
	DATA アナイス
	DATA サブリナ
	DATA アニー
	DATA ディアーヌ
	DATA ミレイユ
	DATA ファビエンヌ
	DATA クララ
	DATA アナベル
	DATA リトリュイーズ
	DATA マイムナ
	DATA アンヌ＝ソフィー
	DATA テレーズ
	DATA ナデジュ
	DATA アリゼ
	DATA クリスティーン
	DATA ベランジェール
	DATA アンヌ
	DATA イヴォンヌ
	DATA クリスティーヌ
	DATA コンスタンス
	DATA サンドリーヌ
	DATA マリー
	DATA ヴェロニク
	DATA エリザベート
	DATA ウーダ
	DATA ケンザ
	DATA シリア
	DATA マドレーヌ
	DATA アヤ
	DATA マリア
	DATA マルレーヌ
	DATA ジル
	DATA ジュリア
	DATA アレクサンドラ
	DATA レイ
	DATA カズミ
	DATA シャンタル
	DATA パメラ
	DATA リンダ
	DATA シンディ
	DATA エイドリアン
	DATA メーガン
	DATA シーヴァ
	DATA ノリコ
	DATA パムファイネッテ
	DATA ケヤラ
	DATA ジョアンヌ
	DATA タビサ
	DATA ネリー
	DATA エマニュエル
	DATA ミカエル
	DATA エセル
	DATA グロリア
	DATA ジーナ
	DATA サマー
	DATA ナッティ
	DATA ダニエラ
	DATA エヌーカ
	DATA コリーン
	DATA エル
	DATA マキシム
	DATA ジョゼ
	DATA シャルロット
	DATA テイト
	DATA キルステン
	DATA ホリー
	DATA ロイス
	DATA デルタ
	DATA ジョイ
	DATA ジェニファー
	DATA クラウディア
	DATA ヘルタ
	DATA エミー
	DATA バルバラ
	DATA アグネス
	DATA マルガレーテ
	DATA ハンナ
	DATA ニーナ
	DATA ロッテ
	DATA ユリア
	DATA クリスティアーネ
	DATA カリン
	DATA インゲ
	DATA パウラ
	DATA アニカ
	DATA ララ
	DATA マルティナ
	DATA シルビア
	DATA クニグンデ
	DATA アンニ
	DATA ブリッタ
	DATA ダグマル
	DATA エルケ
	DATA ヘルガ
	DATA クリスティーネ
	DATA イナ
	DATA カトリン
	DATA フランカ
	DATA シュテフィ
	DATA カタリーナ
	DATA ナディネ
	DATA モニカ
	DATA イザベル
	DATA ザスキア
	DATA ルイーゼ
	DATA ヨハンナ
	DATA マリアンネ
	DATA デニーゼ
	DATA ルイーザ
	DATA ユーディト
	DATA カロリーネ
	DATA タニヤ
	DATA ヒルデ
	DATA ベアテ
	DATA クリスタ
	DATA フランツィスカ
	DATA フランチェスカ
	DATA ステファニア
	DATA パオラ
	DATA アレッサンドラ
	DATA ラファエラ
	DATA アレッシア
	DATA マリーア
	DATA エレオノーラ
	DATA ジョヴァンナ
	DATA ビアンカ
	DATA アメリア
	DATA クロティルデ
	DATA フィオナ
	DATA マヌエラ
	DATA アントーニア
	DATA シュターッレル
	DATA ジョバンナ
	DATA ガブリエラ
	DATA ルチア
	DATA カルロッタ
	DATA オルガ
	DATA マルティーナ
	DATA ソフィア
	DATA ルクレツィア
	DATA カテリーナ
	DATA キアラ
	DATA リザ
	DATA クリスティナ
	DATA タチアナ
	DATA グラツィア
	DATA グイア
	DATA ミコール
	DATA テレーザ
	DATA アーシア
	DATA フラビア
	DATA レティシア
	DATA マティルデ
	DATA ロージー
	DATA マリーナ
	DATA フランソワーズ
	DATA ボナ
	DATA ヴェルデ
	DATA イリーナ
	DATA ダリア
	DATA リュドミラ
	DATA エレーナ
	DATA オリガ
	DATA エカテリーナ
	DATA アナスタシア
	DATA スベトラーナ
	DATA スヴェトラーナ
	DATA イリナ
	DATA ビクトリア
	DATA ダリヤ
	DATA ポリーナ
	DATA エフゲーニヤ
	DATA アナスタシヤ
	DATA ヴェーラ
	DATA アルス
	DATA リュボフ
	DATA オレーシャ
	DATA マリ
	DATA ナジェージダ
	DATA カーチャ
	DATA ターニャ
	DATA リェーナ
	DATA レオノール
	DATA コンスタンサ
	DATA アドリアーナ
	DATA ドローレス
	DATA レアル
	DATA モンツェ
	DATA カルメン
	DATA マルタ
	DATA イサベル
	DATA マルガリータ
	DATA ホアキナ
	DATA フリア
	DATA ブランカ
	DATA アンヘラ
	DATA ガルビネ
	DATA イレーネ
	DATA ヌリア
	DATA ミラグロス
	DATA ビルヒニア
	DATA カタリナ
	DATA エステール
	DATA アルバ
	DATA アトレティコ
	DATA ジェルメーヌ
	DATA ゼナイード
	DATA エウラリア
	DATA カルマ
	DATA スサーナ
	DATA イツィアル
	DATA ウーナ
	DATA ジョランダ
	DATA アントニア
	DATA エリサベト
	DATA ベロニカ
	DATA アリベール
	DATA ミレイア
	DATA バネサ
	DATA アイタナ
	DATA アンパロ
	DATA アダ
	DATA アランチャ
	DATA リリ
	DATA アサアラ
ENDDATA

RETURNF LOCALS


@ランダム素質候補
#FUNCTION
#DIM 素質数字配列 = -10, 10, -11, 11, -12, 12, -13, 13, 14, -15, 15, -16, 16, -17, 17, -18, 18, -19, 19, 1019, -20, 20, 1020, 21, 22, -23, 23, -24, 24, 25, 26, -27, 27, -30, 30, -33, 33, -50, 50, 1050, 51, 52, 60, -61, 61, 1061, 62, -70, 70, 77, 1077, 80, -81, 81, 1081, -110, 110, -130, 130, -220, 220, -221, 221, 222, 223, -224, 224, -225, 225, -226, 226, 1226
;72種

RETURNF 素質数字配列:(RAND:72)
