
@大規模エリア建設条件_牧場エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_牧場エリア) > 0
	RETURN 0
;居住区が先
SIF MATCH(開拓エリア開発番号, 大規模番号_居住区エリア) < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_牧場エリア
LOCALS = 
LOCALS += "牧場として開拓し、様々な家畜を育てられるようにしたエリア。<br>"
LOCALS += "観光客はレストランやふれあい広場、乗馬などで楽しむことが出来る。<br>"
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "※他、今後の開発で施設が増えることがあります。<br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 1500000

@MAP_VIEWING_4(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_4_{TFLAG:マップ種別}(AA)

@エリア情報登録_4(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 牧場エリア
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_4_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
AA:(MAP++) = 　
AA:(MAP++) = ┌────────────────────┐　　.
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　　　.
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　　
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│　　.
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　04　　　　　　　　　　│　　.
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│　　.
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│　　.　　　　　　　　　　　　05
AA:(MAP++) = │　　　　　　　　　　　　　　　　　　　　│
AA:(MAP++) = └────────────────────┘　　.
AA:(MAP++) = 
AA:(MAP++) = 　............　　　　　　　　　　　　　　　　　.
AA:(MAP++) = 　.　　　　　.
AA:(MAP++) = 　.　　　　　.　　　　　　　　　　　　　　　　　.
AA:(MAP++) = 　.　　06　　.
AA:(MAP++) = 　.　　　　　.　　　　　　　　　　　　　　　　　.
AA:(MAP++) = 　.　　　　　.
AA:(MAP++) = 　............　　　　　　　　　　　　　　　　　.
AA:(MAP++) = 
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　.　　.　　.　　.　　.　　.　　.　　.　　.　　.　　.
AA:(MAP++) = 　
AA:(MAP++) = 　
AA:(MAP++) = 　　
AA:(MAP++) = 　
AA:(MAP++) = 　
AA:(MAP++) = 　
AA:(MAP++) = 　
AA:(MAP++) = 　　　　　　　　　　　　　　　┌─────┬─────────　　┐
AA:(MAP++) = 　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　　　│
AA:(MAP++) = 　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　　　│　　　　　┌────────　┐
AA:(MAP++) = 　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　　　│　　　　　│　　　　　　　　　│
AA:(MAP++) = 　　　　　　　　　　　　　　　│　　02　　│　　　　　03　　　　　│　　　　　│　　　　　　　　　│
AA:(MAP++) = 　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　　　│　　　　　│　　　　07　　　　│
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　│
AA:(MAP++) = 　　　　　　　　01　　　　　　　　　　　　　　　　　　　　　　　　│　　　　　│　　　　　　　　　│
AA:(MAP++) = 　　　　　　　　　　　　　　　└─────┴───────────┘　　　　　└─────────┘
AA:(MAP++) = ───────　　　───────────────────────────────────────
AA:(MAP++) =
AA:(MAP++) = 
AA:(MAP++) = 01：牧場入口　　　　02：売店　　　　　　03：食堂　　　　　　04：畜舎　　　　　　05：放牧場
AA:(MAP++) = 06：ふれあい広場　　07：倉庫




@GETPLACENAME_4_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 牧場入口
	CASE 2
		TSTR:場所名受渡 = 売店
	CASE 3
		TSTR:場所名受渡 = 食堂
	CASE 4
		TSTR:場所名受渡 = 畜舎
	CASE 5
		TSTR:場所名受渡 = 放牧場
	CASE 6
		TSTR:場所名受渡 = ふれあい広場
	CASE 7
		TSTR:場所名受渡 = 倉庫
ENDSELECT

@DRAW_MAP_BG_4_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
#DIM 改行フラグ

SELECTCASE SLICED
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT

改行フラグ = 0


; @エリア来訪時イベント_4

; IF 海初来訪イベントフラグ == 0
; 	DRAWLINE
; 	PRINTL ［初来訪：牧場エリア］
; 	DRAWLINE
; 	PRINTW
; 	PRINTFORMW %CALLNAME:PLAYER%は島を開拓し、空いたエリアに生成した海を訪れた。
; 	PRINTFORMW 既に何人かの耳の早い観光客が訪れており、波打ち際で遊んだり海の家で食事を楽しんでいる。
; 	PRINTL 
; 	PRINTFORMW 星晶獣の力とZPを駆使して作られた海は美しく、寄せては返す静かな波を湛えている。
; 	PRINTFORMW 今はまだ何の変哲もない海水浴場だが、いずれはもっとレジャー要素を増やしてもいいだろう。
; 	PRINTFORMW 深海の古戦場ダンジョンのように海中を散歩したり、船で沖合に出て釣りをしたり、色々と考えられそうだ（※未実装です）
; 	PRINTL
; 	PRINTFORMW また、今は普通の魚しか生息していないが、いずれはアウギュステのような海産物が発生するかもしれない。（※未実装です）
; 	PRINTFORMW それはそれで名産になりそうだが……リゾート地としては対策を考えておかなければならないだろう。
; 	PRINTFORMW とはいえ今は難しいことを考えず。
; 	PRINTFORMW 日差しの下、健康的に海で遊ぶのが良さそうだ。
; 	PRINTL
; 	SETCOLOR カラーパレット("黄")
; 	PRINTFORMW 牧場エリアの完成により通常衣装「水着」を入手した。
; 	PRINTFORMW 牧場エリアの完成により通常衣装「ユカタヴィラ」を入手した。
; 	RESETCOLOR
; 	CALL 制服登録処理("水着")
; 	CALL 制服登録処理("浴衣")
; 	牧場初来訪イベントフラグ = 1
; ENDIF


; @牧場改造メニュー()
; #FUNCTIONS
; ;100~199と999は大本のメニュー操作で使うため、使用しないこと

; LOCALS = 牧場エリアを発展させ、エリアの機能や施設を増やします。<br><br>
; LOCALS += @"■[牧場エリアの発展] Lv{牧場改造度:0:0}：上限<br>"
; LOCALS += "└■沖合エリアを活用する<br>"
; LOCALS += "　├"
; IF 牧場改造度:6:0 < 1
; 	LOCALS += "<button value='260'>[漁船を購入する]</button><br>"
; ELSE
; 	LOCALS += "[漁船を購入する]　購入済み<br>"
; ENDIF
; LOCALS += @"　├"
; IF 牧場改造度:6:1 < 1
; 	LOCALS += "<button value='261'>[遊覧船を購入する]</button><br>"
; ELSE
; 	LOCALS += "[遊覧船を購入する]　購入済み<br>"
; ENDIF
; LOCALS += @"　└"
; IF 牧場改造度:6:2 < 1
; 	LOCALS += "<button value='262'>[牧場底散歩を実用化する]</button>"
; ELSE
; 	LOCALS += "[牧場底散歩を実用化する]　実用化済み"
; ENDIF


; RETURNF LOCALS

