
@性癖開拓処理
#DIM DYNAMIC 表示候補, キャラクタ数上限
#DIM 現在ページ
#DIM 開拓対象
#DIM 複数名フラグ
#DIM キャラ番号
#DIM 性癖番号
#DIM スキップフラグ
#DIM 開拓性癖ループ
#DIMS 複数登録キャラ
#DIMS DYNAMIC 複数登録配列, 100
#DIM DYNAMIC 開拓性癖配列, 100
#DIMS HTML文字列
#DIM 選択番号
#DIM 入力値

VARSET 表示候補, -1
現在ページ = 0
複数名フラグ = 0
複数登録キャラ = _
選択番号 = 0

;表示キャラを登録
LOCAL:1 = 0
FOR LOCAL, 1, CHARANUM
	;非滞在は出さない
	SIF CFLAG:LOCAL:滞在期間 < 0
		CONTINUE
	表示候補:(LOCAL:1) = LOCAL
	LOCAL:1 += 1
NEXT
CALL キャラ配列フィルタ処理(表示候補, -1)

$表示_LOOP
PRINTL
PRINTL
PRINTL
DRAWLINE
PRINTL 図書室の蔵書から該当するエロ本が任意のキャラに渡るよう細工し、キャラの性癖を開拓します
PRINTL 誰の性癖を開拓しますか？
DRAWLINE
PRINTBUTTON "[9000] 複数名一括開拓", 9000
PRINTL
IF OPTION変数:性癖開拓自動継続
	HTML_PRINT @"<button value='9997'>[9997] 失敗時自動継続オプション ON / <font color='#%カラーパレット_HTML("グレーアウト")%'>OFF</font></button>"
ELSE
	HTML_PRINT @"<button value='9997'>[9997] 失敗時自動継続オプション <font color='#%カラーパレット_HTML("グレーアウト")%'>ON</font> / OFF</button>"
ENDIF
DRAWLINE
LOCAL:1 = 0
;キャラの表示（15人まで）
FOR LOCAL, (現在ページ * 15), ((現在ページ * 15) + 15)
	;登録が終わったら表示終了
	IF 表示候補:LOCAL == -1
		LOCAL:1 = 1
		BREAK
	ENDIF
	LOCALS = %GET_NAME(表示候補:LOCAL, 1)%　
	IF 性癖素質:(表示候補:LOCAL):性癖開発用フラグ変数 == 0
		LOCALS += "現在の性癖開拓：なし　　　　　　"
	ELSE
		LOCALS += @"現在の性癖開拓：%GET_性癖素質NAME(性癖素質:(表示候補:LOCAL):性癖開発用フラグ変数, 表示候補:LOCAL), 16, LEFT%"
	ENDIF
	IF キャラ一覧ソート:0 != ""
		LOCALS += @"%ソート情報表示(表示候補:LOCAL)%"
	ENDIF
	IF 文字色グループ取得(表示候補:LOCAL) >= 0
		SETCOLOR 同室時_グループ文字色:(文字色グループ取得(表示候補:LOCAL))
	ELSEIF CFLAG:(表示候補:LOCAL):同室文字色
		SETCOLOR CFLAG:(表示候補:LOCAL):同室文字色
	ENDIF
	PRINTBUTTON @"[{LOCAL, 3}] %LOCALS%", LOCAL
	RESETCOLOR
	PRINTL 
NEXT

DRAWLINE

;ページめくり表示
IF 現在ページ > 0
	PRINTBUTTONLC "[9009]前ページへ", 9009
ELSE
	PRINTLC 　
ENDIF
PRINTFORM - {現在ページ + 1} -
IF LOCAL:1 == 0
	PRINTBUTTONC "[9010]次ページへ", 9010
ENDIF
PRINTL 

DRAWLINE
CALL フィルタソートボタンセット表示(9020, 9030, 9031, 9040)
DRAWLINE

PRINTBUTTON "[9998]システムの説明", 9998
PRINT 　　
PRINTBUTTON "[9999]戻る", 9999

IF チュートリアルフラグ:性癖開拓 == 0
	入力値 = 9998
ELSE
	BINPUT
	入力値 = RESULT
ENDIF
;広告対象のINPUT
SELECTCASE 入力値
	CASE 9020, 9030, 9031, 9040
		CALL フィルタソートボタンセット実行部(入力値, 9020, 9030, 9031, 9040)
		現在ページ = 0
		RESTART
	CASE 9009
		現在ページ = MAX(現在ページ - 1, 0)
		GOTO 表示_LOOP
	CASE 9010
		SIF LOCAL:1 == 0
			現在ページ += 1
		GOTO 表示_LOOP
	CASE 9999
		RETURN -1
	CASE 9997
		INVERTBIT OPTION変数:性癖開拓自動継続, 0
		GOTO 表示_LOOP
	CASE 9998
		PRINTL
		DRAWLINE
		PRINTL ［性癖開拓システム：チュートリアル］
		DRAWLINE
		HTML_PRINT "<img src='顔エラ' height='900' width='900'>"
		PRINTL 
		PRINTL 
		PRINTL 
		PRINTL 
		PRINTL 
		PRINTL 
		PRINTL 
		CALL 性癖開拓システムチュートリアル
		DRAWLINE
		RESTART
	CASE 9000
		複数名フラグ = 1
	CASEELSE
		開拓対象 = 表示候補:入力値
ENDSELECT

IF 複数名フラグ
	VARSET 開拓性癖配列
	$性癖表示LOOP
	現在ページ = 0
	DRAWLINE
	PRINTFORML 複数名の一括性癖開拓を行います
	PRINTL どの性癖を開拓しますか？
	PRINTL ※優先順位を付けて複数選択可能です。
	PRINTL 　選んだキャラに対して、０の性癖を取得済みなら１を、１の性癖を取得済みなら２を、
	PRINTL 　のように本が配られます。
	DRAWLINE
	
	;左枠
	HTML文字列 = <div rect='81,31,1937,2812' padding='50,25,50' border='31' bcolor='#C0C0C0'>
	FOR LOCAL, 1, 100
		IF ERDNAME(性癖素質, LOCAL) != ""
			IF ENUMFUNCBEGINSWITH(@"性癖開拓チャレンジ処理_%ERDNAME(性癖素質, LOCAL)%")
				IF 選択番号 == LOCAL
					HTML文字列 += @"<font color='#%カラーパレット_HTML("黄")%'><button value='{LOCAL}'>[{LOCAL, 2}]%GET_性癖素質NAME(LOCAL)%</button></font>"
				ELSE
					HTML文字列 += @"<button value='{LOCAL}'>[{LOCAL, 2}]%GET_性癖素質NAME(LOCAL)%</button>"
				ENDIF
				IF MATCH(開拓性癖配列, LOCAL)
					HTML文字列 += @"<font color='#%カラーパレット_HTML("黄")%'>：%TOFULL(TOSTR(FINDELEMENT(開拓性癖配列, LOCAL)))%</font>"
				ENDIF
				HTML文字列 += "<br>"
			ENDIF
		ENDIF
	NEXT
	HTML文字列 += "<br>"
	IF 開拓性癖配列:0
		HTML文字列 += "<button value='998'>[998]この優先順位で開拓する</button><br>"
	ELSE
		HTML文字列 += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>[998]この優先順位で開拓する</font><br>"
	ENDIF
	HTML文字列 += "<button value='999'>[999]戻る</button><br>"
	HTML文字列 += "</div>"

	;右枠
	HTML文字列 += "<div rect='2050,31,3875,2812' padding='50,25,50' border='31' bcolor='#C0C0C0'>"
	IF 選択番号
		CALLF GET_性癖素質NAME(選択番号, , 1)
		HTML文字列 += TSTR:ツールチップ受渡
		HTML文字列 += "<br><button value='997'>[997] 取得候補に追加する</button><br>"
	ENDIF
	HTML文字列 += "</div>"

	
	HTML_PRINT HTML文字列, 1
	FOR LOCAL, 0, 30
		PRINTL 
	NEXT

	BINPUT
	性癖番号 = RESULT
	SELECTCASE 性癖番号
		CASE 1 TO 100
			選択番号 = 性癖番号
			GOTO 性癖表示LOOP
		CASE 997
			IF MATCH(開拓性癖配列, 選択番号)
				ARRAYREMOVE 開拓性癖配列, FINDELEMENT(開拓性癖配列, 選択番号), 1
			ELSE
				開拓性癖配列:(FINDELEMENT(開拓性癖配列, 0)) = 選択番号
			ENDIF
			GOTO 性癖表示LOOP
		CASE 998
			$フィルタソートLOOP
			;表示キャラを登録
			VARSET 表示候補, -1
			LOCAL:1 = 0
			FOR キャラ番号, 1, CHARANUM
				;非滞在は出さない
				SIF CFLAG:キャラ番号:滞在期間 < 0
					CONTINUE
				スキップフラグ = 1
				FOR 開拓性癖ループ, 0, 100
					SIF 開拓性癖配列:開拓性癖ループ == 0
						BREAK
					;すでに性癖持ってるならスキップ
					SIF 性癖素質:キャラ番号:(開拓性癖配列:開拓性癖ループ)
						CONTINUE
					;名前の設定されていない性癖は取れない
					SIF GET_性癖素質NAME(開拓性癖配列:開拓性癖ループ, キャラ番号) == ""
						CONTINUE
					スキップフラグ = 0
				NEXT
				SIF スキップフラグ
					CONTINUE
				表示候補:(LOCAL:1) = キャラ番号
				LOCAL:1 += 1
			NEXT
			CALL キャラ配列フィルタ処理(表示候補, -1)

			$表示_LOOP2
			DRAWLINE
			PRINTFORML 複数名の一括性癖開拓を行います
			PRINTL どのキャラの性癖を開拓しますか？（選択は100名まで）
			DRAWLINE
			PRINTBUTTON "[9001] 表示キャラを全員開拓する", 9001
			PRINTL
			DRAWLINE
			LOCAL:1 = 0
			;キャラの表示（15人まで）
			FOR LOCAL, (現在ページ * 15), ((現在ページ * 15) + 15)
				;登録が終わったら表示終了
				IF 表示候補:LOCAL == -1
					LOCAL:1 = 1
					BREAK
				ENDIF
				IF STRFIND(複数登録キャラ, @"_{表示候補:LOCAL}_") > -1
					SETCOLOR カラーパレット("黄")
				ELSEIF 文字色グループ取得(表示候補:LOCAL) >= 0
					SETCOLOR 同室時_グループ文字色:(文字色グループ取得(表示候補:LOCAL))
				ELSEIF CFLAG:(表示候補:LOCAL):同室文字色
					SETCOLOR CFLAG:(表示候補:LOCAL):同室文字色
				ENDIF
				LOCALS = %GET_NAME(表示候補:LOCAL, 1)%
				IF 性癖素質:(表示候補:LOCAL):性癖開発用フラグ変数 == 0
					LOCALS += "現在の性癖開拓：なし　　　　　　"
				ELSE
					LOCALS += @"現在の性癖開拓：%GET_性癖素質NAME(性癖素質:(表示候補:LOCAL):性癖開発用フラグ変数, 表示候補:LOCAL), 16, LEFT%"
				ENDIF
				IF キャラ一覧ソート:0 != ""
					LOCALS += @"%ソート情報表示(表示候補:LOCAL)%"
				ENDIF
				PRINTBUTTON @"[{LOCAL, 3}] %LOCALS%", LOCAL
				RESETCOLOR
				PRINTL 
			NEXT

			DRAWLINE

			;ページめくり表示
			IF 現在ページ > 0
				PRINTBUTTONLC "[9009]前ページへ", 9009
			ELSE
				PRINTLC 　
			ENDIF
			PRINTFORM - {現在ページ + 1} -
			IF LOCAL:1 == 0
				PRINTBUTTONC "[9010]次ページへ", 9010
			ENDIF
			PRINTL 
			DRAWLINE
			CALL フィルタソートボタンセット表示(9020, 9030, 9031, 9040)
			DRAWLINE

			PRINTBUTTON "[9000] これで確定する", 9000
			PRINTL
			PRINTBUTTON "[9999]戻る", 9999
			BINPUT

			;広告対象のINPUT
			SELECTCASE RESULT
				CASE 9020, 9030, 9031, 9040
					CALL フィルタソートボタンセット実行部(RESULT, 9020, 9030, 9031, 9040)
					現在ページ = 0
					GOTO フィルタソートLOOP
				CASE 9009
					現在ページ = MAX(現在ページ - 1, 0)
					GOTO 表示_LOOP2
				CASE 9010
					SIF LOCAL:1 == 0
						現在ページ += 1
					GOTO 表示_LOOP2
				CASE 9999
					GOTO 性癖表示LOOP
				CASE 9000
					VARSET 複数登録配列
					SPLIT 複数登録キャラ, "_", 複数登録配列
					FOR LOCAL, 1, 100
						SIF 複数登録配列:LOCAL == ""
							BREAK
						REPLACE 複数登録配列:LOCAL, "_", ""
						開拓対象 = TOINT(RESULTS)
						FOR 開拓性癖ループ, 0, 100
							SIF 開拓性癖配列:開拓性癖ループ == 0
								BREAK
							;すでに性癖持ってるならスキップ
							SIF 性癖素質:開拓対象:(開拓性癖配列:開拓性癖ループ)
								CONTINUE
							;名前の設定されていない性癖は取れない
							SIF GET_性癖素質NAME(開拓性癖配列:開拓性癖ループ, 開拓対象) == ""
								CONTINUE

							性癖素質:開拓対象:性癖開発用フラグ変数 = 開拓性癖配列:開拓性癖ループ
							PRINTFORML %CALLNAME:開拓対象%に%GET_性癖素質NAME(開拓性癖配列:開拓性癖ループ, 開拓対象)%のエロ本が渡るように細工を行います
							BREAK
						NEXT
					NEXT
					PRINTW ※結果は一日の終了時に表示されます
					RESTART
				CASE 9001
					FOR LOCAL, 0, CHARANUM
						SIF 表示候補:LOCAL < 0
							CONTINUE
						FOR 開拓性癖ループ, 0, 100
							SIF 開拓性癖配列:開拓性癖ループ == 0
								BREAK
							;すでに性癖持ってるならスキップ
							SIF 性癖素質:(表示候補:LOCAL):(開拓性癖配列:開拓性癖ループ)
								CONTINUE
							;名前の設定されていない性癖は取れない
							SIF GET_性癖素質NAME(開拓性癖配列:開拓性癖ループ, 表示候補:LOCAL) == ""
								CONTINUE

							性癖素質:(表示候補:LOCAL):性癖開発用フラグ変数 = 開拓性癖配列:開拓性癖ループ
							BREAK
						NEXT
					NEXT
					PRINTFORML 表示している全てのキャラにそれぞれのエロ本が渡るように細工を行います
					PRINTW ※結果は一日の終了時に表示されます
					RESTART
				CASEELSE
					LOCALS = _{表示候補:RESULT}_
					IF STRFIND(複数登録キャラ, LOCALS) > -1
						REPLACE 複数登録キャラ, LOCALS, "_"
						複数登録キャラ = %RESULTS%
					ELSE
						IF STRCOUNT(複数登録キャラ, "_") < 99
							複数登録キャラ += @"{表示候補:RESULT}_"
						ENDIF
					ENDIF
					GOTO 表示_LOOP2
			ENDSELECT
		CASE 999
			複数登録キャラ = 
			RESTART
	ENDSELECT
ELSE
	$単体開拓ループ
	PRINTL
	DRAWLINE
	PRINTFORML %CALLNAME:開拓対象%の性癖開拓を行います
	PRINTL どの性癖を開拓しますか？
	DRAWLINE

	;左枠
	HTML文字列 = <div rect='81,31,1937,2812' padding='50,25,50' border='31' bcolor='#C0C0C0'>

	FOR LOCAL, 1, 100
		IF ERDNAME(性癖素質, LOCAL) != ""
			;すでに性癖持ってるならスキップ
			SIF 性癖素質:開拓対象:LOCAL
				CONTINUE
			;名前の設定されていない性癖は取れない
			SIF GET_性癖素質NAME(LOCAL, 開拓対象) == ""
				CONTINUE
			IF ENUMFUNCBEGINSWITH(@"性癖開拓チャレンジ処理_%ERDNAME(性癖素質, LOCAL)%")
				IF 選択番号 == LOCAL
					HTML文字列 += @"<font color='#%カラーパレット_HTML("黄")%'><button value='{LOCAL}'>[{LOCAL}]%GET_性癖素質NAME(LOCAL, 開拓対象)%</button></font><br>"
				ELSE
					HTML文字列 += @"<button value='{LOCAL}'>[{LOCAL}]%GET_性癖素質NAME(LOCAL, 開拓対象)%</button><br>"
				ENDIF
			ENDIF
		ENDIF
	NEXT
	HTML文字列 += "<br>"
	IF 性癖素質:開拓対象:性癖開発用フラグ変数
		HTML文字列 += "<button value='0'>[0]開拓予定を取り消す</button><br>"
	ENDIF
	HTML文字列 += "<button value='999'>[999]戻る</button><br>"
	HTML文字列 += "</div>"

	;右枠
	HTML文字列 += "<div rect='2050,31,3875,2812' padding='50,25,50' border='31' bcolor='#C0C0C0'>"
	IF 選択番号
		CALLF GET_性癖素質NAME(選択番号, 開拓対象, 1)
		HTML文字列 += TSTR:ツールチップ受渡
		HTML文字列 += "<br><button value='998'>[998] この性癖で決定する</button><br>"
	ENDIF
	HTML文字列 += "</div>"

	HTML_PRINT HTML文字列, 1
	FOR LOCAL, 0, 30
		PRINTL 
	NEXT
	BINPUT
	LOCAL = RESULT
	SELECTCASE LOCAL
		CASE 0
			PRINTW 細工を取りやめます
			性癖素質:開拓対象:性癖開発用フラグ変数 = LOCAL
			RESTART
		CASE 1 TO 100
			選択番号 = LOCAL
			GOTO 単体開拓ループ
		CASE 998
			PRINTFORML %CALLNAME:開拓対象%に%GET_性癖素質NAME(選択番号, 開拓対象)%のエロ本が渡るように細工を行います
			PRINTW ※結果は一日の終了時に表示されます
			性癖素質:開拓対象:性癖開発用フラグ変数 = 選択番号
			RESTART
		CASE 999
			GOTO 表示_LOOP
	ENDSELECT
ENDIF

@性知識条件_性癖開拓チャレンジ()
#FUNCTION
;性癖チャレンジで必要な最低の性知識レベルを返す

IF 高速船記録:派遣先登録 == "叡智の殿堂" && 高速船記録:派遣状態 == "派遣中"
	RETURNF -1
ELSE
	RETURNF 0
ENDIF
