
@MAP_VIEWING_1(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_1_{TFLAG:マップ種別}(AA)


@エリア情報登録_1(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		IF ダンジョンクリアフラグ_沿岸部の森
			;沿岸部の森クリアで解放
			TSTR:場所名受渡 = 空艇港エリア
		ENDIF
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_1_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
IF イベント完了フラグ確認("大拡張！空艇港") < 1
	AA:00 = 木木木木木木木木木木木　　01　　木木木木木木木木木木木
	AA:01 = 木┌─────┐木木　　　　　　　木木┌─────┐木
	AA:02 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:03 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:04 = 木│　　03　　│　　　　　　　　　　　│　　06　　│木
	AA:05 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:06 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:07 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:08 = 木┌─────┐　　　　　　　　　　　┌─────┐木
	AA:09 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:10 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:11 = 木│　　04　　│　　　　　02　　　　　│　　07　　│木
	AA:12 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:13 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:14 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:15 = 木┌─────┐　　　　　　　　　　　┌─────┐木
	AA:16 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:17 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:18 = 木│　　05　　│　　　　　　　　　　　│　　08　　│木
	AA:19 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:20 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木
	AA:21 = 木└─────┘　　　　　　　　　　　└─────┘木
	AA:22 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:23 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:24 = 木　　　　　　　　　　　　　　　　　　　　　　　　　木
	AA:25 = 木　　　　　　　　　　　　09　　　　　　　　　　　　木
	AA:26 = ┗━━━━━━━━━━┓━━━┏━━━━━━━━━━┛
	AA:27 = 　　　　　　　　　　　┃━━━┃
	AA:28 = 　　　　　　　　　　　┃━━━┃
	AA:29 = 　　　　　　　　　　　┃━━━┃
	AA:30 = 　　　　　　　　　　　┗━━━┛
	AA:31 = 
	AA:32 = 01：他エリアへ　　　02：港前広場
	AA:33 = 03：三04：四05：五
	AA:34 = 06：六07：七08：八
	AA:35 = 09：空艇港
	IF イベント完了フラグ確認("渡りに船の定期便") && 渡りに船の定期便_受諾日付 + 3 > DAY
		AA:35 += @"　（現在工事中！　残り%TOFULL(TOSTR(3 - (DAY - 渡りに船の定期便_受諾日付)))%日）"
	ENDIF
ELSEIF 港改造度:11:0 == 0
	AA:00 = 木木木木木木木木木木木　　01　　木木木木木木木木木木木┌───────┐木木木木木木┃
	AA:01 = 木┌─────┐木木　　　　　　　木木┌─────┐木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:02 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:03 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:04 = 木│　　03　　│　　　　　　　　　　　│　　06　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:05 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┏━━━━━━━━━━━
	AA:06 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┃
	AA:07 = 木└─────┘　　　　　　　　　　　└─────┘木│　　　　　　　│　　　　　　┃
	AA:08 = 木┌─────┐　　　　　　　　　　　┌─────┐木│　　　　　　　│　　　　　　┃
	AA:09 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　10　　　│　　　　　　┃
	AA:10 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:11 = 木│　　04　　│　　　　　02　　　　　│　　07　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:12 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:13 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　└┐　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:14 = 木└─────┘　　　　┌─┐　　　　└─────┘木│　　　　　　　　│　　　　　┏━━━━━━━━━━━
	AA:15 = 木┌─────┐　　　┌┘≡└┐　　　┌─────┐木│　　　　　　　　│　　　　　┃
	AA:16 = 木│　　　　　│　　　│≡≡≡│　　　│　　　　　│木│　　　　　　　　│　　　　　┃
	AA:17 = 木│　　　　　│　　　└┐≡┌┘　　　│　　　　　│木│　　　　　　　┌┘　　　　　┃
	AA:18 = 木│　　05　　│　　　　└─┘　　　　│　　08　　│木└───────┘　　　　　　┃
	AA:19 = 木│　　　　　│　　　　　　　　　　　│　　　　　│木　　　　　　　　　　　　　　　┗━━━━━━━━━━━
	AA:20 = 木│　　　　　│　　　　　　　　　　　│　　　　　│　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:21 = 木└─────┘　　　　　　　　　　　└─────┘　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:22 = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:23 = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┏━━━━━━━━━━━
	AA:24 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:25 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
	AA:26 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
	AA:27 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:28 = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:29 = 　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・┃
	AA:30 = ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
	AA:31 = 
	AA:32 = 01：他エリアへ　　　02：港前広場
	AA:33 = 03：三04：四05：五
	AA:34 = 06：六07：七08：八
	AA:35 = 09：空艇港　　　　　10：よろず屋支店
ELSE
	AA:(MAP++) = 木木木木木木木木木木木　　01　　木木木木木木木木木木木木木木木木木木　　　　　木木木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木┌───────────────　　　　　─┐木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　11　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木│　　　　　　　　　　　　　　　　　　　　　│木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木└─────────────────────┘木┃
	AA:(MAP++) = 木木木木木木木木木木木　　　　　木木木木木木木木木木木┌───────┐木木木木木木┃
	AA:(MAP++) = 木┌─────┐木木　　　　　　　木木┌─────┐木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　03　　│　　　　　　　　　　　│　　06　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木└─────┘　　　　　　　　　　　└─────┘木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木┌─────┐　　　　　　　　　　　┌─────┐木│　　　　　　　│　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　10　　　│　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　04　　│　　　　　02　　　　　│　　07　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　│　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木│　　　　　　　└┐　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木└─────┘　　　　┌─┐　　　　└─────┘木│　　　　　　　　│　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 木┌─────┐　　　┌┘≡└┐　　　┌─────┐木│　　　　　　　　│　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　│≡≡≡│　　　│　　　　　│木│　　　　　　　　│　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　└┐≡┌┘　　　│　　　　　│木│　　　　　　　┌┘　　　　　┃
	AA:(MAP++) = 木│　　05　　│　　　　└─┘　　　　│　　08　　│木└───────┘　　　　　　┃
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│木　　　　　　　　　　　　　　　┗━━━━━━━━━━━
	AA:(MAP++) = 木│　　　　　│　　　　　　　　　　　│　　　　　│　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木└─────┘　　　　　　　　　　　└─────┘　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃┃┃┃┃┃┃┃┃┃┃
	AA:(MAP++) = 木　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┏━━━━━━━━━━━
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　09　　　　　　┃
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┗━┓
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃
	AA:(MAP++) = 　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・　・┃
	AA:(MAP++) = ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
	AA:(MAP++) = 
	AA:(MAP++) = 01：他エリアへ　　　02：港前広場
	AA:(MAP++) = 03：三04：四05：五
	AA:(MAP++) = 06：六07：七08：八
	AA:(MAP++) = 09：空艇港　　　　　10：よろず屋支店　　11：鍛冶施設
ENDIF



@GETPLACENAME_1_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 港エリア入り口
	CASE 2
		TSTR:場所名受渡 = 空艇港前広場
	CASE 3
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:3:0}
	CASE 4
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:4:0}
	CASE 5
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:5:0}
	CASE 6
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:6:0}
	CASE 7
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:7:0}
	CASE 8
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:8:0}
	CASE 9
		TSTR:場所名受渡 = 空艇港
	CASE 10
		TSTR:場所名受渡 = よろず屋支店
	CASE 11
		TSTR:場所名受渡 = 鍛冶施設
ENDSELECT


@DRAW_MAP_BG_1_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
SELECTCASE SLICED
	CASE "三"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:3:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "四"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:4:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "五"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:5:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "六"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:6:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "七"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:7:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "八"
		CALLFORMF 空艇港店舗名表示_{空艇港店舗状況:8:0}
		表示文字列 += @"%TSTR:場所名受渡, 16, LEFT%"
	CASE "木"
		表示文字列 += @"<font color='#90EE90'>%SLICED%</font>"
	CASE "┏","━","┛","┗","┓","┃"
		表示文字列 += @"<font color='#734e30'>%SLICED%</font>"
	CASE "≡"
		表示文字列 += @"<font color='#0067C0'>%SLICED%</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT





@エリア来訪時イベント_1

IF 空艇港初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初来訪：空艇港エリア］
	DRAWLINE
	PRINTW
	PRINTFORMW ストーンイーターを討伐した%CALLNAME:PLAYER%は、早速空艇港へ出向いて業者の受け入れ手筈を整えた。
	PRINTFORMW これでリゾートハウスの増築や改造が行えるだろう。
	PRINTFORMW キャンプ場や遊戯室、プールの大型化など……リゾートが広くなれば、一人では手が回らないかもしれない。
	PRINTFORMW 従業員を新たに雇い、いくつかの仕事を任せることも考えておこう。
	PRINTL 
	PRINTFORMW 更に、この空艇港エリア付近の土地を遊ばせておくのはもったいない。
	PRINTFORM 空き家屋を改装して
	SETCOLOR カラーパレット("真っ赤")
	PRINT 様々な店舗を誘致することが出来る
	RESETCOLOR
	PRINTW かもしれない。
	PRINTFORMW 道具屋や土産物屋、食事処などが候補になるだろうか。
	PRINTL 
	PRINTFORMW 店舗が増えればルピの稼ぎも増える。また、ZPも回収出来るかもしれない。
	PRINTFORMW 空き家屋のままでは何も生み出さないのだ。どうせなら、出来る限り何かしらの店舗で埋めておこう。
	空艇港初来訪イベントフラグ = 1
ENDIF


@空艇港改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 空艇港を発展させ、施設を増加・強化させます<br><br>
IF 港改造度:11:0 < 1
	LOCALS += @"■<button value='200'>[鍛冶施設作成]</button> Lv{港改造度:11:0}>{港改造度:11:0 + 1} （必要:100,000ルピ）<br>"
ELSE
	LOCALS += @"■[鍛冶施設作成] Lv上限<br>"
ENDIF

RETURNF LOCALS

@空艇港改造実行関数(ARG)

SELECTCASE ARG
	CASE 200
		DRAWLINE
		PRINTL 鍛冶施設を作成し、乗機・搭載兵器の作成が可能になります。
		PRINTBUTTON "■乗機について", 300
		PRINTL 
		PRINTBUTTON "■搭載兵器について", 301
		PRINTL 
		PRINTL 
		PRINTL 鍛冶施設を作成しますか？（必要:100,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		BINPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 100000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				港改造度:11:0 = 1
				MONEY -= 100000
				CALL 乗機取得処理_設計図("バトルケッタギア")
				CALL 乗機取得処理_設計図("汎用型走艇")
				CALL 汎用搭載兵器取得処理_設計図("アースジュエル")
				CALL 汎用搭載兵器取得処理_設計図("ウインドジュエル")
				CALL 汎用搭載兵器取得処理_設計図("ウォータジュエル")
				CALL 汎用搭載兵器取得処理_設計図("ファイアジュエル")
				CALL 汎用搭載兵器取得処理_設計図("レーダーパーツ")
				CALL 汎用搭載兵器取得処理_設計図("ヒールパーツ")
				PRINTL 鍛冶施設を作成しました！
				PRINTL 初期所持の設計図を複数入手しました。
				PRINTW （空艇港マップに出現）
				RETURN
			CASE 1
				RETURN
			CASE 300
				DRAWLINE
				PRINTL ■乗機について
				PRINTL ダンジョン探索中、あなたが戦闘に参加するための機体です。
				PRINTL 固有の武装、あるいは搭載兵器を装備出来る枠を持ち、戦闘中に行動を行うことが出来ます。
				PRINTL 機体ごとに攻撃力・命中率が設定されており、ダメージ量などはその数値に従って算出されます。
				PRINTL
				PRINTL 武装や兵器はそれぞれ、「戦闘中◯回」「探索中◯回」「クールダウン◯ターン発生」の制限を持ちます。
				PRINTL 一般的に、探索中制限の武装が最も強く、戦闘中制限の武装が最も弱く設定されることが多いです。
				PRINTW
			CASE 301
				DRAWLINE
				PRINTL ■搭載兵器について
				PRINTL 乗機の装備可能な枠に装備することの出来る兵器です。
				PRINTL 兵器それぞれにカテゴリ（機械系・魔法系など）と距離適性（近距離・遠距離など）が設定されており、
				PRINTL 条件が合致する枠にのみ装備することが出来ます。
				PRINTL 
				PRINTL 兵器には攻撃補正・攻撃変動・命中補正・命中変動・発動技が設定されています。
				PRINTL 攻撃補正・命中補正は「兵器を使った時に一時的に合算される数値」であり
				PRINTL 攻撃変動・命中変動は「兵器を装備しているだけで常に乗機に影響を与える数値」です。
				PRINTL また、発動技はアビリティと同じように様々な効果を持ちます。
				PRINTL
				PRINTL 武装や兵器はそれぞれ、「戦闘中◯回」「探索中◯回」「クールダウン◯ターン発生」の制限を持ちます。
				PRINTL 一般的に、探索中制限の兵器が最も強く、戦闘中制限の兵器が最も弱く設定されることが多いです。
				PRINTW
		ENDSELECT
		RESTART
ENDSELECT







