
@MAP_RESORT_3_1(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
IF 海改造度:6:0
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = ..　..　..／￣￣＼　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = 　..　..　＼＿＿／..　／￣￣＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = ..　／￣￣＼..03..　..＼＿＿／　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = 　..＼＿＿／　..／￣￣＼　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = ..　..　..　..　＼＿＿／..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
ELSE
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
ENDIF
AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
IF 海改造度:6:1
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　／＼..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　／　　＼..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　│　　　　│..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..│　 04 　│　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　│　　　　│..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　＼　　／..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　＼／..　..　..　,
ELSE
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
ENDIF
AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
IF 海改造度:6:2
	AA:(MAP++) = ..　..　..　..　..　..　..　..↑..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　05　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..↑..　..　..　..　..　..　..　..　..　..　..　..　..　..,
ELSE
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
	AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　,
	AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..,
ENDIF
AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..　..　..02..　..　..　..　..　..　..　..　,
AA:(MAP++) = ..　..　..　..　..　..　..　..　..　..　..　01　..　..　..　..　..　..　..　..　..　..,
AA:(MAP++) = 　..　..　..　..　..　..　..　..　..　..　..↓..　..　..　..　..　..　..　..　..　..　,
AA:(MAP++) =  
AA:MAP = 一：海水浴場へ　　二：沖合の海　　　
SIF 海改造度:6:0
	AA:MAP += "三：漁船団　　　　"
SIF 海改造度:6:1
	AA:MAP += "四：遊覧船　　　　"
SIF 海改造度:6:2
	AA:MAP += "五：海底散歩ルート"


@GETPLACENAME_3_1(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 101
		TSTR:場所名受渡 = 海水浴場へ
	CASE 102
		TSTR:場所名受渡 = 沖合の海
	CASE 103
		TSTR:場所名受渡 = 漁船団
	CASE 104
		TSTR:場所名受渡 = 遊覧船
	CASE 105
		TSTR:場所名受渡 = 海底散歩ルート
ENDSELECT

@DRAW_MAP_BG_3_1(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
#DIM 改行フラグ

SELECTCASE SLICED
	CASE "一"
		表示文字列 += @"<button value='101'>01</button>"
	CASE "二"
		表示文字列 += @"<button value='102'>02</button>"
	CASE "三"
		表示文字列 += @"<button value='103'>03</button>"
	CASE "四"
		表示文字列 += @"<button value='104'>04</button>"
	CASE "五"
		表示文字列 += @"<button value='105'>05</button>"
	CASE "│" , "＼" , "／" , "￣" , "＿", "↑", "↓"
		IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
			表示文字列 += @"%SLICED%<font color='#0073E6'>"
		ELSE
			表示文字列 += @"</font>%SLICED%<font color='#0073E6'>"
		ENDIF
	CASE ","
		表示文字列 += ",</font>"
	CASE "."
		IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
			表示文字列 += @"<font color='#0073E6'>%SLICED%"
		ELSE
			表示文字列 += "."
		ENDIF
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT

改行フラグ = 0

