
@大規模エリア建設条件_海エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_海エリア) > 0
	RETURN 0
;イベント見ること
SIF 海作成許可フラグ < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_海エリア
LOCALS = 
LOCALS += "星晶獣の力を借りて生成した海のエリア。<br>"
LOCALS += "基本的にキャラは水着で行動する。更衣室では反対側を覗くことが出来る。<br>"
LOCALS += "海水浴場ではビーチフラッグ、船着き場では釣りなどの専用コマンドも持つ。<br>"
LOCALS += "<br>"
LOCALS += "※他、今後の開発で施設が増えることがあります。<br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 3000000

@MAP_VIEWING_3(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_3_{TFLAG:マップ種別}(AA)

@エリア情報登録_3(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 海エリア
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_3_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
AA:(MAP++) = ＼＿..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　06　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　
AA:(MAP++) = 　　　　 丶　 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　
AA:(MAP++) = 　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ＿＿＿／　　　　　　　　
AA:(MAP++) = 　　　　　 丶 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　 ＿＿　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　　　　　  ／　　＼　　　
AA:(MAP++) = 　　　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　 ┃　　　┃　　　
AA:(MAP++) = 　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　 　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　┃　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　＼＿＿..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　 　／　　 　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　＼＿＿＿　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　＼＿＿＿..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　＼＿　..　..　..　..ォ＿＿＿＿＿＿＿＿＿／　　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　＼＿＿＿＿＿＿／　　　　　　　　　　　　　　　　　　 　／　　　　／　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　03　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　＿／　　　 　┃　　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃07　　　　
AA:(MAP++) = 　　　　　　　　┌─────┐　　┌─┐┌─┐　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　　
AA:(MAP++) = 　　　　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　│　　02　　│　　│04││05│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　 　＼　　　　
AA:(MAP++) = 　　01　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　 　／　　　　　　　　＼　　　
AA:(MAP++) = 　　　　　　　　└─────┘　　└─┘└─┘　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　　　 　＼
AA:(MAP++) = 
AA:(MAP++) = 01：海水浴場入口　　02：海の家　　　　　03：海水浴場　　　　04：男子更衣室　　　05：女子更衣室
AA:(MAP++) = 06：船着き場　　　　07：岩陰




@GETPLACENAME_3_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 海水浴場入口
	CASE 2
		TSTR:場所名受渡 = 海の家
	CASE 3
		TSTR:場所名受渡 = 海水浴場
	CASE 4
		TSTR:場所名受渡 = 男子更衣室
	CASE 5
		TSTR:場所名受渡 = 女子更衣室
	CASE 6
		TSTR:場所名受渡 = 船着き場
	CASE 7
		TSTR:場所名受渡 = 岩陰
ENDSELECT

@DRAW_MAP_BG_3_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
#DIM 改行フラグ

SELECTCASE SLICED
	CASE "."
		IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
			表示文字列 += @"<font color='#0073E6'>%SLICED%"
		ELSE
			表示文字列 += "."
		ENDIF
	CASE "ォ"
		表示文字列 += "</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT

改行フラグ = 0


@エリア来訪時イベント_3

IF 海初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［初来訪：海エリア］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%は島を開拓し、空いたエリアに生成した海を訪れた。
	PRINTFORMW 既に何人かの耳の早い観光客が訪れており、波打ち際で遊んだり海の家で食事を楽しんでいる。
	PRINTL 
	PRINTFORMW 星晶獣の力とZPを駆使して作られた海は美しく、寄せては返す静かな波を湛えている。
	PRINTFORMW 今はまだ何の変哲もない海水浴場だが、いずれはもっとレジャー要素を増やしてもいいだろう。
	PRINTFORMW 深海の古戦場ダンジョンのように海中を散歩したり、船で沖合に出て釣りをしたり、色々と考えられそうだ（※未実装です）
	PRINTL
	PRINTFORMW また、今は普通の魚しか生息していないが、いずれはアウギュステのような海産物が発生するかもしれない。（※未実装です）
	PRINTFORMW それはそれで名産になりそうだが……リゾート地としては対策を考えておかなければならないだろう。
	PRINTFORMW とはいえ今は難しいことを考えず。
	PRINTFORMW 日差しの下、健康的に海で遊ぶのが良さそうだ。
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 海エリアの完成により通常衣装「水着」を入手した。
	PRINTFORMW 海エリアの完成により通常衣装「ユカタヴィラ」を入手した。
	RESETCOLOR
	CALL 制服登録処理("水着")
	CALL 制服登録処理("浴衣")
	海初来訪イベントフラグ = 1
ENDIF


@海改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 海エリアを発展させ、エリアの機能や施設を増やします。<br><br>
LOCALS += @"■[海エリアの発展] Lv{海改造度:0:0}：上限<br>"
LOCALS += "└■沖合エリアを活用する<br>"
LOCALS += "　├"
IF 海改造度:6:0 < 1
	LOCALS += "<button value='260'>[漁船を購入する]</button><br>"
ELSE
	LOCALS += "[漁船を購入する]　購入済み<br>"
ENDIF
LOCALS += @"　├"
IF 海改造度:6:1 < 1
	LOCALS += "<button value='261'>[遊覧船を購入する]</button><br>"
ELSE
	LOCALS += "[遊覧船を購入する]　購入済み<br>"
ENDIF
LOCALS += @"　└"
IF 海改造度:6:2 < 1
	LOCALS += "<button value='262'>[海底散歩を実用化する]</button>"
ELSE
	LOCALS += "[海底散歩を実用化する]　実用化済み"
ENDIF


RETURNF LOCALS


@海系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 260
		DRAWLINE
		PRINTL 漁船を購入し、沖合に漁に出るようになります。
		PRINTL 毎日ランダムな魚素材を入手します。
		PRINTL 
		PRINTL 漁船を購入しますか？（必要:30,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 30000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				海改造度:6:0 = 1
				MONEY -= 30000
				PRINTL 漁船を購入しました！
				PRINTW (毎日ランダムな魚素材を入手)
				;沖合マップ作ったらここ解除
				;CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで漁船を購入した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 261
		DRAWLINE
		PRINTL 遊覧船を購入し、観光客を乗せて海の生き物を観察するツアーを開始します。
		PRINTL リゾートの人気度上限が上昇します。
		PRINTL 
		PRINTL 遊覧船を購入しますか？（必要:20,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 20000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				海改造度:6:1 = 1
				MONEY -= 20000
				PRINTL 遊覧船を購入しました！
				PRINTW (リゾートの人気度上限上昇)
				;沖合マップ作ったらここ解除
				;CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで遊覧船を購入した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 262
		DRAWLINE
		PRINTL 海底を散歩出来る魔法を実用化し、観光に役立てます。
		PRINTL リゾートの人気度上限が上昇し、戦闘時の水属性耐性が少し上昇します。
		PRINTL 
		PRINTL 魔法を研究しますか？（必要:50,000ルピ）
		PRINTBUTTONLC "[0] はい", 0
		PRINTBUTTONLC "[1] いいえ", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 50000
					PRINTW ルピが足りません。
					RETURN
				ENDIF
				海改造度:6:2 = 1
				MONEY -= 50000
				PRINTL 海底散歩の魔法を実用化しました！
				PRINTW (リゾートの人気度上限上昇、水属性耐性上昇)
				;沖合マップ作ったらここ解除
				;CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで海底散歩の魔法を実用化した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
ENDSELECT


@海エリア漁処理()
#DIM 入手量
#DIM 入手カウント
#DIM 候補数
#DIMS 入手名

VARSET RESULT
;ランダムに魚をランダムな数入手
入手量 = RAND:5 + 3
候補数 = DT_SELECT("所持素材データベース", "素材カテゴリ = '食物素材' And 食材分類 = '魚'")

RSTR:その他報告_記録文字列 += @"漁船による漁で"
FOR 入手カウント, 0, 入手量
	;とりあえず完全ランダム
	入手名 '= DT_CELL_GETS("所持素材データベース", RESULT:(RAND:候補数), "素材アイテム名", 1)
	CALL 素材入手処理(入手名, 1)
	SIF 入手カウント > 0
		RSTR:その他報告_記録文字列 += "、"
	RSTR:その他報告_記録文字列 += @"%入手名%"
NEXT
RSTR:その他報告_記録文字列 += @"を手に入れた！"
