@MOVE_ROUTINE_FESTIVAL_お花見(キャラ番号, ARGS)
#DIM キャラ番号
#DIM 時間計算

SELECTCASE ARGS
	CASE "イベント説明"
		LOCALS = <div rect='340px,80px,602px,450px'>
		LOCALS += "■お花見<br>"
		LOCALS += "<br>"
		LOCALS += "特設会場にて、満開の桜を眺めるお祭りです。<br>"
		LOCALS += "祭りとしてはポピュラーで、あらゆるキャラが参加してくれるでしょう。<br>"
		LOCALS += "<br>"
		LOCALS += "賑やかな場所では好感度要素：友情の上昇率が1.3倍になります。<br>"
		LOCALS += "静かな場所では好感度要素：恋心の上昇率が1.3倍になります。<br>"
		LOCALS += "<br>"
		IF 10000 > MONEY
			LOCALS += @"ルピが不足しています。（必要ルピ：10000）<br>"
		ELSE
			LOCALS += @"<button value='0'>[0] このイベントを企画する（必要ルピ：10000）</button><br>"
		ENDIF
		LOCALS += "</div>"
		HTML_PRINT LOCALS, 1
	CASE "出現条件"
		;既に予定に入ってたらアウト
		SIF 開催予定祭り名 == "FESTIVAL_お花見"
			RETURN 0
		;春の月限定
		SIF DAY % 120 / 30 != 0
			RETURN 0
		RETURN 1
	CASE "参加判定"
		;とりあえず全員参加
		RETURN 1
	CASE "特設マップ"
		;存在する
		RETURN 1
	CASE "起床時間"
		時間計算 = 480 - (TALENT:キャラ番号:早起き * 30)
		RETURN 時間計算
	CASE "就寝時間"
		時間計算 = 1320 - (TALENT:キャラ番号:早寝 * 60)
		RETURN 時間計算
	CASE "初期位置"
		CFLAG:キャラ番号:現在位置 = 6
		CFLAG:キャラ番号:現在マップ種別 = 0
	CASE "移動処理"
		CALL MOVE_ROUTINE_移動処理(キャラ番号, "FESTIVAL_お花見")
	CASE "イベント補正条件"
		;お花見マップに居る時
		IF CFLAG:キャラ番号:現在マップ種別 == 100
			RETURN 1
		ELSE
			RETURN 0
		ENDIF
	CASE "イベント補正内容"
		IF GROUPMATCH(CFLAG:キャラ番号:現在位置, 1, 2, 3)
			;入り口、出店、宴会場だと好感度要素：友情に補正
			NOWEX:キャラ番号:友情度上昇格納 = MAX(NOWEX:キャラ番号:友情度上昇格納 * 13 / 10, 0)
		ELSEIF GROUPMATCH(CFLAG:キャラ番号:現在位置, 4, 5, 6)
			;池のほとり、桜の森、静かな場所だと恋心に補正
			NOWEX:キャラ番号:恋心度上昇格納 = MAX(NOWEX:キャラ番号:恋心度上昇格納 * 13 / 10, 0)
		ENDIF
ENDSELECT


@ROUTINE_PLAN_FESTIVAL_お花見(キャラ番号, マップ種別取得フラグ = 0)
#DIM マップ種別取得フラグ
#DIM キャラ番号

;時間ごとにどの場所にいるべきかを決定
SELECTCASE TIME
	;19時半まではお祭りにいる
	CASE IS < 1170
		SIF マップ種別取得フラグ
			RETURN 100
		RETURN ROUTINE_PLAN_FESTIVAL_お花見先決定関数(キャラ番号)
	;風呂の前後１５分は脱衣所
	CASE IS < 1185
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 7
		ELSE
			RETURN 8
		ENDIF
	;21時までは風呂にいる
	CASE IS < 1260
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 9
		ELSE
			RETURN 11
		ENDIF
	;風呂の前後１５分は脱衣所
	CASE IS < 1185
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 7
		ELSE
			RETURN 8
		ENDIF
	;寝るまでは自室にいる
	CASEELSE
		SIF マップ種別取得フラグ
			RETURN 999
		RETURN 999
ENDSELECT

@ROUTINE_PLAN_FESTIVAL_お花見先決定関数(ARG)
#FUNCTION
IF TCVAR:ARG:ショッピングインターバル時間 > 0
	RETURNF TOINT(移動ルーチン:ARG:マップ内ルーチンID)
ENDIF

移動ルーチン:ARG:マップ内ルーチンID = %TOSTR(RAND:5 + 1)%
TCVAR:ARG:ショッピングインターバル時間 = RAND(60, 120)
RETURNF TOINT(移動ルーチン:ARG:マップ内ルーチンID)

@マップ移動初期位置_FESTIVAL_お花見(移動前マップ, 移動後マップ)
#FUNCTION
#DIM 移動前マップ
#DIM 移動後マップ

RESULT = 1
