@MOVE_ROUTINE_FESTIVAL_夏祭り(キャラ番号, ARGS)
#DIM キャラ番号
#DIM 時間計算
#DIM CONST 開催費用 = 10000

SELECTCASE ARGS
	CASE "お祭り説明"
		LOCALS = <div rect='340px,80px,602px,450px'>
		LOCALS += "■夏祭り<br>"
		LOCALS += "<br>"
		LOCALS += "特設会場にて、出店や花火を楽しむお祭りです。<br>"
		LOCALS += "祭りとしてはポピュラーで、あらゆるキャラが参加してくれるでしょう。<br>"
		LOCALS += "<br>"
		LOCALS += "賑やかな場所では好感度要素：友情の上昇率が1.3倍になります。<br>"
		LOCALS += "静かな場所では好感度要素：恋心の上昇率が1.3倍になります。<br>"
		LOCALS += "<br>"
		IF 10000 > MONEY
			LOCALS += @"ルピが不足しています。（必要ルピ：%NUM_FORMAT(開催費用)%）<br>"
		ELSE
			LOCALS += @"<button value='0'>[0] このお祭りを企画する（必要ルピ：%NUM_FORMAT(開催費用)%）</button><br>"
		ENDIF
		LOCALS += "</div>"
		HTML_PRINT LOCALS, 1
	CASE "出現条件"
		;完成まで封印
		RETURN 0
		;既に予定に入ってたらアウト
		SIF 開催予定祭り名 == "FESTIVAL_夏祭り"
			RETURN 0
		;夏の月限定
		SIF DAY % 120 / 30 != 1
			RETURN 0
		RETURN 1
	CASE "参加判定"
		;とりあえず全員参加
		RETURN 1
	CASE "特設マップ"
		;存在する
		RETURN 1
	CASE "起床時刻"
		時間計算 = 480 - (TALENT:キャラ番号:早起き * 30)
		RETURN 時間計算
	CASE "就寝時刻"
		時間計算 = 1380 - (TALENT:キャラ番号:早寝 * 60)
		RETURN 時間計算
	CASE "初期位置"
		CFLAG:キャラ番号:現在位置 = 6
		CFLAG:キャラ番号:現在マップ種別 = 0
	CASE "移動処理"
		CALL MOVE_ROUTINE_移動処理(キャラ番号, "FESTIVAL_夏祭り")
	CASE "お祭り補正条件"
		;夏祭りマップに居る時
		IF CFLAG:キャラ番号:現在マップ種別 == 100
			RETURN 1
		ELSE
			RETURN 0
		ENDIF
	CASE "お祭り補正内容"
		IF GROUPMATCH(CFLAG:キャラ番号:現在位置, 1, 2, 3)
			;入り口、出店、宴会場だと好感度要素：友情に補正
			NOWEX:キャラ番号:友情度上昇格納 = MAX(NOWEX:キャラ番号:友情度上昇格納 * 13 / 10, 0)
		ELSEIF GROUPMATCH(CFLAG:キャラ番号:現在位置, 4, 5, 6)
			;池のほとり、桜の森、静かな場所だと恋心に補正
			NOWEX:キャラ番号:恋心度上昇格納 = MAX(NOWEX:キャラ番号:恋心度上昇格納 * 13 / 10, 0)
		ENDIF
ENDSELECT


@ROUTINE_PLAN_FESTIVAL_夏祭り(キャラ番号, マップ種別取得フラグ = 0)
#DIM マップ種別取得フラグ
#DIM キャラ番号

;時間ごとにどの場所にいるべきかを決定
SELECTCASE TIME
	;21時まではお祭りにいる
	CASE IS < 1260
		SIF マップ種別取得フラグ
			RETURN 100
		RETURN ROUTINE_PLAN_FESTIVAL_夏祭り先決定関数(キャラ番号)
	;風呂の前後１５分は脱衣所
	CASE IS < 1275
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 7
		ELSE
			RETURN 8
		ENDIF
	;22時までは風呂にいる
	CASE IS < 1320
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 9
		ELSE
			RETURN 11
		ENDIF
	;風呂の前後１５分は脱衣所
	CASE IS < 1335
		SIF マップ種別取得フラグ
			RETURN 0
		IF TALENT:キャラ番号:性別 == 2
			RETURN 7
		ELSE
			RETURN 8
		ENDIF
	;寝るまでは自室にいる
	CASEELSE
		SIF マップ種別取得フラグ
			RETURN 999
		RETURN 999
ENDSELECT

@ROUTINE_PLAN_FESTIVAL_夏祭り先決定関数(ARG)
#FUNCTION
IF TCVAR:ARG:移動ルーチンインターバル時間 > 0
	RETURNF TOINT(移動ルーチン:ARG:マップ内ルーチンID)
ENDIF

移動ルーチン:ARG:マップ内ルーチンID = %TOSTR(RAND:5 + 1)%
TCVAR:ARG:移動ルーチンインターバル時間 = RAND(60, 120)
RETURNF TOINT(移動ルーチン:ARG:マップ内ルーチンID)

@マップ移動初期位置_FESTIVAL_夏祭り(移動前マップ, 移動後マップ)
#FUNCTION
#DIM 移動前マップ
#DIM 移動後マップ

RESULT = 1

@MAP_RESORT_100_FESTIVAL_夏祭り(AA)
#DIMS REF AA, 0

LOCAL = 0
AA:(LOCAL++) = 桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜
AA:(LOCAL++) = 桜桜桜桜桜桜桜桜桜桜　　　桜桜桜　　　　　　　　　　　　桜桜桜桜桜桜桜桜桜桜
AA:(LOCAL++) = 桜桜桜桜桜桜　　　　　　　　　　　　　　　　桜桜　　　　　　　　桜桜桜桜桜桜
AA:(LOCAL++) = 桜桜桜　　　　　　　　　　　　　　　　　　桜桜桜桜桜　　　　　　桜　　桜桜桜
AA:(LOCAL++) = 桜桜　　　　　　　　　　桜桜　　　　　　　　　桜桜　　　　　　　　　　　桜桜
AA:(LOCAL++) = 桜桜　　　　　桜桜桜　　　　　　　　　　　　　　　　　　　　　　　　　　桜桜
AA:(LOCAL++) = 桜　　　桜桜　　桜桜桜　　　桜桜　　　　　　　　　　　　　　　　　桜桜　　桜
AA:(LOCAL++) = 桜　　　　　　　┌───────┐　┌─┬─┬─┬─┬─┬─┐　桜桜　　　桜
AA:(LOCAL++) = 桜桜　　　　桜桜│　　　　　　　│　│　│　│　│　│　│　│　　　　　　　　
AA:(LOCAL++) = 桜　　　　　　桜│　　　　　　　│　└─┴─┴─┴─┴─┴─┘
AA:(LOCAL++) = 桜　　　　　　桜│　　　　　　　│　　　　　　　　　　　　　　　　　01　　
AA:(LOCAL++) = 桜桜　　　　桜　│　　　03　　　│　　　　　　02　　　　　　　　　　　　　　　
AA:(LOCAL++) = 桜桜桜　　　　　│　　　　　　　│　┌─┬─┐　┌─┬─┬─┐　　　　　　桜
AA:(LOCAL++) = 桜　　　　桜桜桜│　　　　　　　│　│　│　│　│　│　│　│　　　桜　　桜
AA:(LOCAL++) = 桜桜　　桜桜桜　│　　　　　　　│　└─┼─┤　├─┼─┴─┘　　　　　桜桜
AA:(LOCAL++) = 桜桜　　　　桜桜└───────┘　　　│　│　│　│　桜　　　　　　　桜桜
AA:(LOCAL++) = 桜　　　　　　　　　　　　桜桜　　　　　├─┤　├─┤　　桜　　　　桜桜桜桜
AA:(LOCAL++) = 桜　桜桜桜桜　　　　　　　　　　　　　　│　│　│　│　　　　　　　　桜桜桜
AA:(LOCAL++) = 桜　桜桜桜桜桜桜桜桜　　　　　　桜桜　桜├─┤　├─┤　　　　　　　　　桜
AA:(LOCAL++) = 桜　桜桜桜桜桜桜桜桜桜桜桜　　　　　　　│　│　│　│　　　　　　　　　桜桜
AA:(LOCAL++) = 桜　　桜桜桜桜桜桜桜桜桜桜桜桜　　　　　└─┘　└─┘　　　　　　　　　桜桜
AA:(LOCAL++) = 桜桜　桜桜桜桜桜桜桜桜桜桜桜　　桜　桜　　　　　　　　　　　　　　　　　桜桜
AA:(LOCAL++) = 桜桜　桜桜桜桜桜桜桜桜　　　　桜桜　　　桜　　　　　　　　　　　　　　　　桜
AA:(LOCAL++) = 桜桜　桜桜桜桜桜桜　　　桜桜　　　桜　桜桜　　　　　　　　　　　　　　　桜桜
AA:(LOCAL++) = 桜桜　桜桜桜桜桜桜　　桜　　　　05　桜　　桜桜　　　　　　04　　　　　桜桜桜
AA:(LOCAL++) = 桜桜　　桜桜桜桜桜　　桜　桜　桜　　　桜　　　　　　　　　　　　　　池池池池
AA:(LOCAL++) = 桜　　　桜桜桜桜桜桜　　　　桜　桜　　　　　桜　　　　　　　池池池池池池池池
AA:(LOCAL++) = 桜　06　桜桜桜桜桜桜桜　桜　　　　桜桜　　桜　　　　　池池池池池池池池池池池
AA:(LOCAL++) = 桜　　　桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜　　　池池池池池池池池池池池池池
AA:(LOCAL++) = 桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜桜池池池池池池池池池池池池池
AA:(LOCAL++) = 　
AA:(LOCAL++) = 01：会場入口　　02：出店通り　　03：宴会場　　　04：池のほとり　05：桜の森
AA:(LOCAL++) = 06：静かな場所

@GETPLACENAME_100_FESTIVAL_夏祭り(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 会場入口
	CASE 2
		TSTR:場所名受渡 = 出店通り
	CASE 3
		TSTR:場所名受渡 = 宴会場
	CASE 4
		TSTR:場所名受渡 = 池のほとり
	CASE 5
		TSTR:場所名受渡 = 桜の森
	CASE 6
		TSTR:場所名受渡 = 静かな場所
ENDSELECT

@SKIP_MOVE_100_FESTIVAL_夏祭り(ARG, ARG:1)
#DIM スタート地点
#DIM スタートマップ
#DIM 目的マップ
#DIM 移動キャラ = 0

;現在位置取得
移動キャラ = 0
スタート地点 = CFLAG:MASTER:現在位置
IF ARG:1
	移動キャラ = ARG:1
	スタート地点 = CFLAG:移動キャラ:現在位置
ENDIF

$LOOP

;暫定目的地に直接移動できる場合
IF CAN_MOVE_1(CFLAG:移動キャラ:現在マップ種別, スタート地点, ARG) & 1
	;そこに移動
	RETURN ARG
ENDIF

;袋小路から行ける場所は固定なので、そこを目指す
SELECTCASE スタート地点
	CASE 6
		RETURN 3
ENDSELECT

;直接移動できない場合、1つ近い位置を暫定目的地に設定し直してループ
;地点追加時要フォロー（全ケース修正すること）
SELECTCASE ARG
	CASE 6
	;静かな場所へは宴会場経由
		RETURN 3
ENDSELECT
GOTO LOOP

@DRAW_MAP_BG_100_FESTIVAL_夏祭り(SLICED)
#DIMS SLICED
SELECTCASE SLICED
	CASE "CFLAG:MASTER:現在位置"
		SETCOLOR 0x90EE90
		PRINTS SLICED
		RESETCOLOR
	CASE "桜"
		SETCOLOR 0xFFDBED
		PRINTS SLICED
		RESETCOLOR
	CASE "池"
		SETCOLOR 0x0067C0
		PRINTS SLICED
		RESETCOLOR
	CASEELSE
		PRINTS SLICED
ENDSELECT

@CAN_MOVE_FESTIVAL_夏祭り(ARG, ARG:1)
;ARG 移動元
;ARG:1 移動先
#FUNCTION

SELECTCASE ARG
	CASE 1
		;静かな場所以外はOK
		IF GROUPMATCH(ARG:1, 1, 2, 3, 4, 5)
			RESULT = 3
			RETURNF 3
		ENDIF
	CASE 2
		;静かな場所以外はOK
		IF GROUPMATCH(ARG:1, 1, 2, 3, 4, 5)
			RESULT = 3
			RETURNF 3
		ENDIF
	CASE 3
		;静かな場所以外は見通しヨシ
		IF GROUPMATCH(ARG:1, 1, 2, 3, 4, 5)
			RESULT = 3
			RETURNF 3
		ELSEIF ARG:1 == 6
			RESULT = 1
			RETURNF 1
		ENDIF
	CASE 4
		;静かな場所以外はOK
		IF GROUPMATCH(ARG:1, 1, 2, 3, 4, 5)
			RESULT = 3
			RETURNF 3
		ENDIF
	CASE 5
		;静かな場所以外はOK
		IF GROUPMATCH(ARG:1, 1, 2, 3, 4, 5)
			RESULT = 3
			RETURNF 3
		ENDIF
	CASE 6
		;宴会場のみ
		IF ARG:1 == 3
			RESULT = 1
			RETURNF 1
		ENDIF
ENDSELECT
RESULT = 0

@存在しない移動先_FESTIVAL_夏祭り(ARG)
#FUNCTION
IF ARG < 1 || ARG > 6
	RESULT = 1
	RETURNF 1
ELSE
	RESULT = 0
	RETURNF 0
ENDIF
